.wallets-action-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;

    &__info {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }
}
