.wallet-list {
    &__items {
        display: flex;
        flex-wrap: wrap;
        margin: auto;

        &__center {
            justify-content: center !important;
        }

        @include desktop {
            justify-content: flex-start;
        }

        @include mobile {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            width: 100%;
        }
    }
}

.wallet-radio {
    &-icon {
        position: absolute;
        z-index: 10;
        top: -4px;
        right: -4px;
    }

    &-button {
        cursor: pointer;
        position: relative;

        &--disabled {
            pointer-events: none;
            opacity: 0.7;
        }

        &__icon {
            &__border {
                border-radius: $BORDER_RADIUS;

                &--red {
                    border: 2px solid var(--brand-red-coral);
                }
            }
        }
    }
}
