.email-link-expired-modal {
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__text {
        margin-top: 2.4rem;
    }
}
