.market-category {
    &-content {
        &--container {
            display: flex;
            flex-direction: column;
        }
    }
    &-title {
        padding: 0 var(--core-spacing-800);
        &--container {
            display: flex;
            padding-top: var(--core-spacing-400);
            flex-direction: column;
            margin-bottom: calc(-1 * var(--core-spacing-400));
        }
    }
    &-subtitle {
        padding: var(--core-spacing-200) var(--core-spacing-800);
        margin: var(--core-spacing-400) 0;
    }
    &-items {
        margin: 0 var(--core-spacing-400);
        display: flex;
        flex-direction: column;
    }
    &-item {
        display: flex;
        height: 48px;
        padding: 4px 16px;
        align-items: center;
        gap: 16px;
        align-self: stretch;
        border-radius: 8px;
    }
}
