.p2p-v2-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    width: fit-content;
    padding: 0.2rem 0.6rem;
    border-radius: 3.4rem;
    color: #ffffff;

    @include mobile {
        padding: 0.2rem 0.8rem;
    }

    &--success {
        background-image: linear-gradient(#00a8af, #04cfd8);
    }

    &--warning {
        background-image: linear-gradient(#f7931a, #ffc71b);
    }

    &__label {
        font-size: 1rem;
        line-height: 1.4rem;
        font-weight: 700;
    }

    &__status {
        font-size: 1rem;
        line-height: 1.4rem;
        font-weight: 400;
    }
}
