.wallets-fiat-onramp {
    position: relative;
    align-items: flex-start;
    display: flex;
    flex: 1 0 0;

    @include mobile-or-tablet-screen {
        flex: unset;
        flex-direction: column;
        padding: 0;
    }

    &__actions {
        position: absolute;
        top: -2.4rem;
        inset-inline-start: 0.4rem;

        @include mobile-or-tablet-screen {
            top: -0.8rem;
        }
    }

    &__content {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;

        @include mobile-or-tablet-screen {
            flex-direction: column-reverse;
            justify-content: space-between;
            padding-top: 4rem;
            flex: 1;
        }
    }

    &__description {
        align-items: center;
        display: flex;
        padding-bottom: 1.6rem;
        max-width: 79.2rem;

        @include mobile-or-tablet-screen {
            padding: 1.6rem 0 0;
            box-shadow: 0 0.2rem 0 0 #f2f3f4 inset;
        }
    }
}
