.funds-protection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;

    &__icon {
        width: 12.8rem;
        height: 12.8rem;
        margin-bottom: 2.4rem;
    }
    &__title {
        margin-bottom: 0.8rem;
    }
    &__desc {
        @include typeface(--paragraph-center-normal-black);
        margin-bottom: 3.2rem;
        max-width: 67.2rem;
    }
    @include mobile {
        width: calc(100% - 2.4rem);
        margin-left: 1.2rem;

        & .dc-btn {
            &:last-child {
                margin-bottom: 2.4rem;
            }
        }
    }
}
