.payment-methods-empty {
    align-items: center;
    display: flex;
    flex-direction: column;

    &__button {
        margin-top: 2.4rem;
    }

    &__icon {
        margin: 2rem auto 0;

        @include mobile-or-tablet-screen {
            margin: 11.2rem auto 0;
        }
    }

    &__text {
        margin: 3.9rem 0 0.8rem;
    }
}
