.close-real-acc-modal {
    @include mobile {
        width: unset;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 44rem;
    padding: 2.4rem;

    .dc-form-submit-button {
        @include mobile {
            background: unset;

            > button {
                padding: 0.3rem;
            }
        }

        justify-content: flex-end;
        padding: 1.6rem 0 0;
    }

    &__warning-message {
        padding-bottom: 1.6rem;
        line-height: 1.43;
    }
}
