.dw-divider {
    border: none;
    background-color: var(--general-section-1);

    &--horizontal {
        width: 100%;
        height: 1px;
    }
    &--vertical {
        width: 1px;
        height: 100%;
    }
}
