.side-note {
    &__text {
        margin-bottom: 0.8rem;
    }
    &__bullet {
        background-color: var(--text-general);
        border-radius: 100%;
        margin-right: 0.8rem;
        width: 0.4rem;
        height: 0.4rem;
        flex: none;
        margin-top: 0.8rem;

        &-wrapper {
            display: flex;
            margin-bottom: 1.1rem;
        }
    }
}
