.wallets-crypto-transaction {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;

    &__type-and-status {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__amount-and-date {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0.4rem 0;
    }

    &__status {
        display: flex;
        align-items: center;
        gap: 0.2rem;

        &__dot {
            width: 0.4rem;
            height: 0.4rem;
            border-radius: 0.2rem;

            &--pending,
            &--locked,
            &--performing-blockchain-txn,
            &--processing,
            &--reverting,
            &--verified {
                background: var(--status-warning, $color_yellow);
            }

            &--confirmed,
            &--sent {
                background: var(--status-success, $color_green_1);
            }

            &--error,
            &--cancelled,
            &--rejected,
            &--reverted {
                background: var(--status-danger, $color_red_1);
            }
        }
    }

    &__cancel-button {
        margin-left: 0.3rem;
        padding: 0;
        border: none;
        cursor: pointer;
    }

    &__red-text {
        color: var(--brand-coral, $color_red);
        text-decoration: none;
    }
}
