.buy-sell {
    $mobile_tabs_height: 17.2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;

    &__advertiser-page-return {
        margin-top: unset;

        .dc-text {
            align-self: flex-start;
        }

        @include mobile-or-tablet-screen {
            border-bottom: 1px solid var(--general-section-1);
            margin: unset;
            padding: 1.2rem 0;

            .page-return__button {
                padding: 0 1.6rem;
            }

            .dc-text {
                align-self: self-end;
            }
        }
    }

    &__empty {
        @include mobile-or-tablet-screen {
            margin-top: calc(#{$mobile_tabs_height} + 2.6rem); // Header + Margin
        }
    }

    &__data-list {
        flex: 1;

        &__data-list-body {
            flex: 1;

            @include tablet-screen {
                top: 1rem;
            }
        }

        .data-list__body-wrapper {
            flex: 1;
        }
    }

    &__page-return {
        margin: 2rem;
    }

    &__table-row {
        padding: 1.6rem;
        height: max-content;
        grid-template-columns: 2fr 1.4fr 1fr 1.8fr 0.8fr;

        &:hover {
            background-color: var(--general-hover);
        }
    }

    &__cell {
        align-items: center;
        display: flex;

        &-hover {
            cursor: pointer;
        }
        &--container {
            display: flex;
            flex-direction: column;
            margin-left: 0.8rem;

            &__row {
                display: flex;
                flex-direction: row;
            }
        }
    }

    &__name {
        padding-right: 0.4rem;
    }

    &__button {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

.dc-modal__container {
    &_sort {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

.dc-radio-group {
    &.sort-radiogroup {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: unset;
    }
    .dc-radio-group__item {
        &.sort-radiogroup {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            margin: unset;
            padding: 1.2rem 2.4rem;
            width: 100%;

            &:first-child {
                border-bottom: 1px solid var(--border-normal);
            }
        }
    }
}
