.buy-sell-header {
    display: flex;
    flex-direction: column;

    @include desktop-screen {
        .p2p-toggle-container {
            margin: 2.4rem 0;
        }
    }

    @include mobile-or-tablet-screen {
        position: absolute;
        background-color: var(--general-main-1);
        border-bottom: 1px solid var(--general-section-1);
        display: flex;
        flex: none;
        justify-content: center;
        transition: transform 0.3s linear, opacity 0.3s ease;
        transform-origin: top;
        width: 100%;
        z-index: 1;

        & .toggle-container {
            align-self: start;
        }
    }

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include mobile-or-tablet-screen {
            flex-direction: column;
        }
    }

    &__filters {
        height: 3.6rem;
        width: 16.8rem;

        @include mobile-or-tablet-screen {
            transition: transform 0.3s linear, opacity 0.3s ease;
            transform-origin: top;
        }
    }

    &__match-ads {
        display: flex;
        flex-direction: row;

        @include desktop-screen {
            .dc-checkbox__box {
                margin-inline-start: unset;
            }
        }

        @include mobile-or-tablet-screen {
            margin: 0.9rem 0.8rem;
        }

        &__popover {
            align-self: flex-end;
            margin-inline-start: 0.4rem;
        }
    }

    &__row {
        display: flex;
        flex-direction: row;
        align-items: center;

        @include mobile-or-tablet-screen {
            display: grid;
            grid-template-columns: auto 40px 40px;
            column-gap: 1rem;
            border-top: 1px solid var(--general-section-1);
            padding: 1.6rem;

            @include tablet-screen {
                padding: 0rem 1.6rem;
            }
        }

        &--filter {
            align-self: center;
            border: 1px solid var(--border-normal);
            border-radius: 4px;
            display: flex;
            margin-inline-start: 0.8rem;
            position: relative;

            &-icon {
                align-self: center;
                display: flex;
                padding: 1.3rem;
            }

            &-status {
                position: absolute;
                border-radius: 50px;
                background: var(--status-danger);
                width: 7px;
                height: 7px;
                top: 4px;
                inset-inline-end: 4px;

                &--disabled {
                    display: none;
                }
            }

            @include mobile-or-tablet-screen {
                justify-self: center;
                margin-inline-start: 0;
                margin-top: 0;
            }
        }

        &--selector {
            @include mobile-screen {
                grid-template-columns: auto 1fr 40px 40px;
            }
            @include tablet-screen {
                grid-template-columns: auto 0.45fr 40px 40px;

                & .search-box {
                    width: 100%;
                }

                & .currency-dropdown {
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
    }

    &__position-static {
        position: static;
    }
}
