.buy-sell-row {
    @include mobile-or-tablet-screen {
        border-bottom: 1px solid var(--general-section-1);
        padding: 1.6rem;
        min-height: 18.6rem;
        display: flex;
        flex-direction: column;
    }

    &__advertiser {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1.6rem;

        &-name {
            display: flex;
            flex-direction: column;
            margin-left: 0.8rem;

            &--text {
                padding-right: 0.4rem;
            }
        }

        &-arrow {
            margin-left: auto;
        }
    }

    &__information {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include mobile-or-tablet-screen {
            display: grid;
            grid-template-columns: 3fr 1.7fr;
            grid-template-rows: 2fr 1fr;
        }
    }

    &__payment-methods-list {
        @include mobile-or-tablet-screen {
            grid-column: 1 / 3;
            grid-row: 2;
            display: flex;
            margin-left: 4rem;
        }
    }

    &__no-match {
        align-items: center;
        border-bottom: 1px solid var(--general-section-1);
        display: flex;
        height: 5.6rem;
        justify-content: center;
    }

    &__payment-method {
        display: flex;
        flex-wrap: wrap;

        &--label {
            align-items: center;
            border: 1px solid var(--border-normal);
            border-radius: 0.4rem;
            flex-direction: row;
            padding: 0 0.8rem;
            margin: 0.25rem;
            width: fit-content;
        }

        @include mobile-or-tablet-screen {
            align-items: center;
            border: 1px solid var(--border-normal);
            border-radius: 0.4rem;
            flex-direction: row;
            margin: 0.25rem;
            width: fit-content;
            padding: 0.8rem;

            @include tablet-screen {
                padding: 0.3rem 0.8rem;
            }
        }

        @media (max-width: 320px) {
            padding: 0.4rem;
        }
    }

    &__button {
        align-self: flex-start;
        display: flex;
        flex-flow: row wrap;
        white-space: inherit;
        height: fit-content;
        max-height: 7rem;
        margin-left: auto;
        padding: 1rem 1.6rem;
        text-wrap: nowrap;

        @include tablet-screen {
            justify-self: flex-end;
            width: fit-content;
        }
    }

    &__rate {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        flex-direction: column;

        > :last-child {
            margin-top: 0.8rem;
        }

        @include mobile-or-tablet-screen {
            margin-left: 4rem;
        }
    }

    &__rating {
        margin-top: 0.1rem;

        &--star {
            pointer-events: none;

            > svg {
                margin-right: 0.1rem;
            }
        }

        &--row {
            display: flex;
            align-items: center;
            gap: 0.7rem;
        }
    }

    &__table-cell {
        &--left {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
        }
        &--right {
            align-items: flex-end;
        }
    }
}
