.currency-dropdown {
    position: relative;

    @include mobile-or-tablet-screen {
        grid-column: 2;
        grid-row: 1;
        margin: 0;
    }

    &__list {
        min-width: unset;
        width: 10rem;

        &-item {
            display: flex;
            justify-content: space-between;
            width: 100%;

            &-symbol {
                @include desktop-screen {
                    padding-right: 1rem;
                }
            }

            &-name {
                font-weight: 400;
                text-align: right;
            }
        }

        &--visible {
            .dc-dropdown__select-arrow {
                transform: rotate(-180deg);
            }
        }
    }

    .dc-dropdown__display {
        height: 4.2rem;
        justify-content: start;

        @include mobile-or-tablet-screen {
            height: 4rem;

            &:focus {
                border-color: var(--border-normal);
            }
        }
    }
}
