.wallets-ctrader {
    padding: 24px 0;
    &__title {
        color: #333;
        font-family: 'IBM Plex Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 150% */
    }

    &__content {
        display: grid;
        gap: 1.6rem 4.8rem;
        grid-template-columns: repeat(3, 1fr);
    }
}
