.wallets-checkbox {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    align-items: center;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;

    &__input {
        display: none;
    }
    &__box {
        display: flex;
        width: 1.6rem;
        height: 1.6rem;
        transition: 0.3s ease-in-out;
        flex-shrink: 0;
        margin: 0 0.8rem;
        border-radius: 0.2rem;
        align-self: center;
        box-sizing: border-box;
        border: 0.2rem solid var(--text-less-prominent);
        outline: none;

        &--fill {
            path {
                fill: #ffffff;
            }
        }

        &--active {
            border: none;
        }
    }
    &--active {
        border: none;
    }
    &--disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
