.wallets-transactions-completed-row {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1.6rem;
    width: 100%;
    min-height: 7.2rem;
    @include mobile {
        padding: 1.6rem 0;
    }
    @media (hover: hover) {
        &:hover {
            background-color: #e6e9e9;
            cursor: pointer;
        }
    }

    &__type-and-wallet-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__wallet-name {
        display: flex;
        flex-direction: row;
        gap: 0.4rem;
        align-items: center;
    }

    &__account-details {
        display: flex;
        width: max-content;
        gap: 0.8rem;
    }

    &__transaction-details {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 0.4rem;
    }
    &--active {
        background-color: #f2f3f4;
        justify-content: center;
    }
}
