.wallets-transactions-completed-row {
    display: flex;
    padding: 1.6rem;
    justify-content: space-between;
    align-items: center;

    @include mobile {
        padding: 1.6rem 0;
    }

    &__type-and-wallet-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__wallet-name {
        display: flex;
        flex-direction: row;
        gap: 0.4rem;
        align-items: center;
    }

    &__account-details {
        display: flex;
        width: max-content;
        gap: 0.8rem;
    }

    &__transaction-details {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 0.4rem;
    }
}
