.container {
    min-width: 3.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
}

.account {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    padding: 1.6rem;
    border: 1px solid $color-grey-2;
    border-radius: 8px;
}

.arrow-down {
    rotate: -90deg;
}

.status {
    width: 100%;
    max-width: 36rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    border-radius: 8px;
    background: $color-grey-2;
}

.status-dot {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background: $color-yellow;
}

.transaction-details {
    width: 100%;
    max-width: 36rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;

    @include mobile-cashier-v2 {
        min-width: none;
    }
}
