/** @define footer */
.footer {
    position: fixed;
    bottom: 0;
    padding: 0 1em;
    width: 100%;
    height: $FOOTER_HEIGHT;
    box-sizing: border-box;
    z-index: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: opacity 0.3s;
    backface-visibility: hidden;
    background: var(--general-main-1);
    color: var(--text-prominent);
    border-top: 1px solid var(--general-section-1);

    &:after {
        position: absolute;
        opacity: 0;
        pointer-events: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background-color: var(--overlay-outside-dialog);
    }
    &--is-disabled {
        border-top: none;

        &:after {
            opacity: 1;
            pointer-events: auto;
        }
    }
    &__links {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        height: 100%;

        &--left {
            margin-right: auto;
        }
    }
    &__link {
        padding: 0 0.8em;
        text-decoration: none;
        height: 100%;
        display: inline-flex;
        align-items: center;
        position: relative;

        &:hover {
            background: var(--general-hover);

            .footer__icon {
                @extend %inline-icon;
            }
        }
    }
    &__icon {
        width: 1.6em;
        height: 1.6em;
        @extend %inline-icon;
    }
    @media (max-width: 768px) {
        display: none;
    }
}

/** @define ic-positions */
.ic-positions {
    position: relative;

    &__icon {
        margin-bottom: 0.5em;
    }
    &:before {
        content: '';
        width: 0.2em;
        height: 0.2em;
        border-radius: 50%;
        position: absolute;
        margin-top: 1em;
        right: 1.5em;
        display: block;
        transition: transform 0.25s ease;
        transform: translate3d(0, 0, 0);
        background-color: var(--text-prominent);
    }
    &--active {
        background: none !important;

        .ic-positions__icon {
            margin-bottom: 0;
        }
        &:before {
            transform: translate3d(0, 50px, 0);
        }
    }
    &--has-count:not(&--active):after {
        content: attr(data-count);
        width: 14px;
        height: 14px;
        font-size: 1em;
        border-radius: 50%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 2px;
        right: 0;
        background-color: var(--brand-red-coral);
        color: $color-white;
    }
}

@keyframes blinking-network-status {
    40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/** @define network-status */
.network-status {
    &__wrapper {
        height: 1.4em;
        position: relative;
    }
    &__tooltip {
        left: unset;
        margin-left: 2em;
        text-decoration-line: none;
    }
    &__circle {
        background: var(--general-section-1);
        width: 1em;
        height: 1em;
        margin: 0.2em 1.6em;
        border-radius: 50%;

        &--online {
            background: var(--text-profit-success);
        }
        &--offline {
            background: var(--text-loss-danger);
        }
        &--blinker {
            animation: blinking-network-status 0.4s alternate infinite;
            background: var(--text-profit-success);
        }
    }
}

/** @define server-time */
.server-time {
    display: inline-flex;
    align-self: center;
    margin-right: 1em;
    padding: 0 1em;
    @include typeface(--small-left-normal-black);
    color: var(--text-general);
}

/** @define ic-settings */
.ic-settings {
    &--active {
        position: relative;
        background: var(--state-hover);

        &:after {
            content: '';
            height: 0.2em;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: var(--text-prominent);
        }
        .ic-settings__icon {
            @extend %inline-icon.active;
            pointer-events: none;
        }
    }
}
