/** @define multistep; weak */
.multistep {
    &__header {
        display: flex;
        align-items: center;
        padding-top: 24px;
        padding-left: 16px;
        padding-right: 16px;
    }
    &__btn {
        display: flex;
        font-size: 1.4rem;
        font-weight: bold;
        cursor: pointer;
        color: var(--text-general);

        &-icon {
            margin-right: 8px;

            .color1-fill {
                fill: var(--text-general);
            }
        }
    }
    &__component {
        width: 100%;
        height: 100%;
    }
}
