.p2p-v2-ad-error-tooltip-modal {
    width: 44rem;
    padding: 2.4rem;
    height: fit-content;
    border-radius: 8px;

    @include mobile {
        padding: 1.6rem;
        max-width: calc(100vw - 3.2rem);
    }

    &__content {
        margin-bottom: 2.4rem;
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 23rem;

        @include mobile {
            margin-bottom: 1.6rem;
        }
    }
}
