#scratch_div {
    position: relative;
    top: 4rem;
    width: calc(100vw - 3.2rem);
    height: var(--bot-content-height);
}

.blocklyTextRootBlockHeader {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-size: calc(var(--text-size-sm) * 0.9);
    line-height: 1.43;
    letter-spacing: normal;
    fill: $color-white;
}

.blocklyMainWorkspaceScrollbar {
    display: none;
}
