.wallets-fiat-onramp-disclaimer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    max-width: 79.2rem;

    @include mobile-or-tablet-screen {
        justify-content: flex-start;
        gap: 0.8rem;
    }

    &__buttons {
        display: flex;
        gap: 0.8rem;
        justify-content: flex-end;
        padding-top: 4.2rem;
        width: 100%;

        @include mobile-or-tablet-screen {
            padding-top: 0.8rem;
        }
    }
}
