.compare-cfd-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-navigation {
        display: flex;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
    }
    &-title {
        flex: 1;
        @include mobile-or-tablet-screen {
            text-align: center;
            padding: 1rem;
        }
    }
}

.compare-cfd-account {
    max-width: 123.2rem;
    margin: auto;
    &-container {
        margin: 1.5rem;
        @include mobile-or-tablet-screen {
            margin: 0;
            overflow-x: auto;
            overflow-y: scroll;
            padding: 0 0 20.1rem;
            max-height: 80rem;
            width: 100%;
        }
        &__card-count {
            display: flex;
            justify-content: center;
            margin-left: 13rem;
            &--mobile {
                margin-left: 0;
            }
        }
    }
    &-spread {
        display: flex;
        justify-content: center;
    }
    &-main-container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    &-card-container {
        position: relative;
        overflow: hidden;
        width: 27rem;
        border: 1px solid var(--general-hover);
        border-radius: 2.4rem;
        &:hover {
            box-shadow: 0 2px 8px 0 var(--shadow-menu);
        }
        @include mobile-or-tablet-screen {
            width: 20rem;
        }
        &__eu-clients {
            position: relative;
            top: 0.5rem;
        }
        &__banner {
            position: absolute;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1.5rem;
            width: 15rem;
            height: 2rem;
            background: var(--status-transfer);
            transform: translateX(17rem) translateY(-2rem) rotate(45deg);
            @include mobile-or-tablet-screen {
                transform: translateX(8rem) translateY(-2rem) rotate(45deg);
                padding: 0.1rem;
            }
        }
    }
    &-outline {
        display: flex;
        flex-direction: column;
        padding: 1.6rem 2.4rem 2.4rem;
        border-radius: 2.4rem;
    }
    &-text-container {
        max-height: 25.5rem;

        @include mobile {
            height: fit-content;
        }

        &--demo {
            max-height: 13.5rem;

            @include mobile {
                min-height: unset;
                height: fit-content;
            }
        }
        &__separator {
            margin: 0.9rem;
        }
    }
    &-icon-title {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-top: 2rem;
        align-items: center;
        &__separator {
            display: flex;
            align-items: center;
            gap: 0.8em;
        }
    }
    &-instrument-icon {
        display: flex;
        align-items: center;
        margin: 0.2rem;
        cursor: not-allowed;
    }
    &-labuan-tooltip {
        position: relative;
        left: 0.5rem;
        top: 0.2rem;
        &--msg {
            position: relative;
            width: 62%;
            @include mobile-or-tablet-screen {
                display: flex;
                position: fixed;
                width: 13.4rem;
                right: 0;
            }
        }
    }
    &-zerospread-tooltip {
        position: relative;
        left: 0.5rem;
        top: 0.2rem;
        &--msg {
            position: relative;
            width: 100%;
            @include mobile {
                display: block;
                position: fixed;
                width: 15.2rem;
                right: 0;
            }
        }
    }
    &-platform-label {
        background-color: var(--header-background-mt5);
        padding: 0.9rem;
        border-top-left-radius: 1.4rem;
        border-top-right-radius: 1.4rem;
        &--other-cfds {
            background-color: var(--header-background-others);
        }
        &--derivx {
            background-color: var(--header-background-others);
        }
        &--ctrader {
            background-color: #{$color-yellow-6};
        }
    }
    &-underline {
        height: 1px;
        width: 75%;
        background-color: var(--general-hover);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 0.4rem;
    }
    &__button {
        width: calc(100% - 4rem);
        height: 4rem;
        margin: 2rem;
    }
}
.card-list {
    display: flex;
    gap: 2rem;
}

.trading-instruments {
    &__span {
        position: relative;
        top: 0.2rem;
        font-size: 1.6rem;
        color: var(--text-red);
    }
    &__text {
        margin-left: 0.5rem;
    }
}

.dc-page-overlay:has(.dc-page-overlay__content .compare-cfd-account-container) {
    .dc-page-overlay {
        &-portal {
            @include mobile-or-tablet-screen {
                top: $MOBILE_HEADER_HEIGHT;
            }
        }
        &__header {
            &-title {
                @include mobile-or-tablet-screen {
                    font-size: 1.6rem !important;
                }
            }
            &-close {
                @include mobile-or-tablet-screen {
                    right: 1.2rem;
                }
            }
            &-wrapper {
                @include mobile-or-tablet-screen {
                    height: 100%;
                    padding: 0;
                }
            }
            @include mobile-or-tablet-screen {
                height: 4rem;
                z-index: 3;
                padding: 0;
                margin: 0;
            }
        }
        &__content {
            @include mobile-or-tablet-screen {
                flex: 1;
                padding: 0;
            }
        }
        &__header-wrapper,
        &__content {
            @include mobile-or-tablet-screen {
                width: 100%;
            }
        }
        @include mobile-or-tablet-screen {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }
}
