.composite-calendar-modal {
    @include mobile {
        &__actions {
            display: flex;
            padding: 16px;
            border-top: 2px solid var(--border-disabled);

            > * {
                flex: 1;
                margin: 8px;
            }
            &-today {
                width: 100%;
            }
        }
        &__radio-group {
            padding: 16px 16px 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            box-shadow: inset 0px -1px 0px var(--general-section-1);
        }

        &__radio {
            display: flex;
            align-items: center;
            padding: 7px 8px;
            border: 1px solid;
            border-color: var(--border-normal);
            border-radius: 4px;
            margin: 0.8rem 0.8rem 2.4rem;
            font-size: 1.4rem;

            &-input {
                display: none;
            }
            &-circle {
                border: 2px solid var(--text-less-prominent);
                border-radius: 50%;
                box-shadow: 0 0 1px 0 var(--shadow-menu);
                width: 16px;
                height: 16px;
                transition: all 0.3s ease-in-out;
                margin-right: 8px;
                align-self: center;

                &--selected {
                    border-width: 4px;
                    border-color: var(--brand-red-coral);
                    background: $color-white;
                }
            }
            &--selected {
                border-color: var(--brand-secondary);
                font-weight: bold;
            }
        }
        &__custom {
            padding: 16px;
            &__wrapper {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
            &-radio {
                display: inline-flex;
            }
            &-date-range {
                margin: 8px;
                display: flex;
                flex-direction: column;

                &-start-date {
                    margin: 16px 0px;
                }
                &-end-date {
                    margin-bottom: 8px;
                }
            }
        }
    }
}
