.payment-methods-list {
    &__modal {
        @include mobile {
            display: flex;
            flex-direction: column;
            grid-template-rows: 1fr 8rem;
            overflow-x: hidden;
            width: 100vw;
            height: 100%;
            padding: 1rem 2rem;

            &-add {
                padding: 1rem 0 0;
            }
        }

        &--footer {
            bottom: 0;
            width: 100%;
            background-color: var(--general-main-1);
        }

        &-wrapper {
            display: flex;
            padding: 1rem 2.4rem;
            word-break: break-all;
        }
    }

    &__button {
        @include mobile {
            grid-row: 2;
            align-self: end;
            width: 90vw;
            height: 5rem;
            margin: 0;

            .dc-btn__text {
                font-size: 16px;
            }
        }

        margin: 0 0 2.4rem;
    }

    &__list {
        &-container {
            @include mobile {
                // grid-row: 1;
            }

            max-width: 67.2rem;

            .dc-dropdown-container {
                margin-left: 0;
            }
        }

        &-header {
            margin: 0;
        }

        &-body {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 5rem;

            .payment-method-card {
                &--large {
                    margin-right: 1.6rem;
                    margin-bottom: unset;
                }
            }
        }

        &-horizontal {
            display: flex;
            max-width: 96vw !important;
            margin-bottom: 3rem;

            // select the first .payment-method-card only and unset its margin-left
            & > .payment-method-card {
                margin-left: unset;
            }

            & > .payment-method-card ~ .payment-method-card {
                margin-left: 1rem;
            }
        }
    }
}
