/** @define cq-bottom-ui-widgets; weak */
.cq-bottom-ui-widgets {
    top: unset !important;
    bottom: 80px;
    z-index: 4;
    overflow: visible;
    height: 0;

    .bottom-widgets {
        left: -3.5em;
    }
}

/** @define digits; weak */
.digits {
    $self: &;

    @include mobile {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 2.4rem 1.6rem;
        align-items: center;
        margin: 1.6rem 0;

        &--trade {
            grid-gap: 2rem 1.6rem;
            margin: auto 0;
            transform: scale(1.1);
            transform-origin: bottom;

            @media only screen and (height <= 580px) {
                transform: unset;
                transform-origin: unset;
            }

            @media only screen and (height <= 480px) {
                margin: auto 0 4.8rem;
            }
        }

        &__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 0;
            padding: 0.8rem;
        }

        &__tooltip-text {
            color: var(--text-general);
            font-size: 1.2rem;
            line-height: 18px;
            text-align: center;
        }

        &__digit {
            margin: auto;
        }
    }

    @include mobile {
        @at-root .popup-root #{$self}__toast-info {
            top: 10.5rem;
        }
    }

    position: relative;
    display: flex;
    align-items: center;
    margin: 0 2.5em 0 1em;

    &__container {
        position: relative;

        /* Screen height fixes due to UI space restrictions */
        @media only screen and (height <= 520px) {
            padding: 0 0.8rem !important;
            transform: scale(0.85);
            transform-origin: bottom;
        }

        @media only screen and (height <= 480px) {
            transform: scale(0.75);
        }
    }

    &__tooltip-container {
        position: absolute;
        top: -10px;
        right: 10px;
        z-index: 2;
    }

    &__digit {
        position: relative;
        margin: 0 0.6em;
        text-align: center;
        pointer-events: none;
        transition: transform 0.25s linear;

        &--latest {
            z-index: 1;
            transform: scale(1.2);

            .digits__digit-spot {
                font-size: 0.9em;
            }
        }

        &--win {
            z-index: 1;
            transform: scale(1.25);

            .digits__pie-container:before {
                box-shadow: 0 1px 18px var(--text-profit-success);
            }
        }

        &--loss {
            z-index: 1;
            transform: scale(1.25);

            .digits__pie-container:before {
                @include mobile {
                    top: -1px;
                    left: -3px;
                }

                top: -2px;
                left: -2px;
                border: 3px solid var(--text-loss-danger);
                box-shadow: 0 1px 18px var(--text-loss-danger);
            }
        }

        &--is-selected {
            .digits__digit-display {
                &-value,
                &-percentage {
                    color: $color-white;
                }
            }

            .progress__bg {
                fill: $color-blue-2;
            }
        }

        &--is-selectable {
            pointer-events: auto;

            &:focus,
            &:active,
            &:hover {
                .digits__digit-display {
                    &-value,
                    &-percentage {
                        color: $color-white;
                    }
                }

                .progress__bg {
                    fill: $color-blue-2;
                }
            }
        }

        &-display-value {
            @include mobile {
                top: 10px;
                font-size: 1.4rem;
                line-height: 1.43;
                transform: none;

                &--no-stats {
                    top: 15px;
                }
            }

            position: absolute;
            top: 4px;
            color: var(--text-prominent);
            transition: transform 0.25s linear;
            transform: scale(0.9);

            &--no-stats {
                transform: scale(1) translateY(5px);
            }
        }

        &-display-percentage {
            @include mobile {
                top: 25px;
                font-size: 1rem;
                line-height: 1.4;
                transform: none;
            }

            position: absolute;
            top: 20px;
            color: var(--text-general);
            font-weight: 400;
            font-size: 0.65em;
        }

        &-value {
            @include typeface(--paragraph-center-bold-black);

            @include mobile {
                width: 48px;
                height: 48px;
                margin: 0;
            }

            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            margin-bottom: 0.5em;
            border-radius: 50%;
            background-color: var(--general-main-1);
            color: var(--text-prominent);
            transition: background-color 0.2s ease-out, transform 0.1s ease-out;

            &--selected {
                background-color: var(--general-main-2);
            }

            &--win {
                background-color: var(--text-profit-success);
                color: var(--text-prominent);

                .digits__digit-display-value,
                .digits__digit-display-percentage {
                    color: $color-white;
                }
            }

            &--blink {
                animation-name: blinking;
                animation-duration: 500ms;
                animation-timing-function: step-end;
                animation-iteration-count: 4;
            }

            &--loss {
                border: none !important;
                background-color: var(--text-loss-danger);
                color: var(--text-prominent);

                .digits__digit-display-value,
                .digits__digit-display-percentage {
                    color: $color-white;
                }
            }
        }

        &-spot {
            @include mobile {
                top: 1.6rem;
                right: 0;
                left: 0;
                display: flex;
                justify-content: center;
                margin-top: 4.8rem;
                pointer-events: none;

                /* iPhone 8 screen height fixes due to UI space restrictions */
                @media only screen and (height <= 580px) {
                    &--is-trading {
                        &-value,
                        &-last {
                            font-size: 1.4rem;
                        }

                        &-last {
                            padding: 0 7px;
                        }
                    }
                }

                @media only screen and (height <= 580px) {
                    position: relative;

                    &:not(&--is-trading) {
                        top: 1.4rem;
                    }
                }

                @media only screen and (height <= 520px) {
                    position: relative;
                    top: 0;
                    margin-top: 1.6rem;

                    &--is-trading {
                        margin-top: auto;
                    }
                }

                &-value,
                &-last {
                    font-size: 2rem;
                }

                &-last {
                    padding: 0 8px;
                }

                &:not(&--is-trading) {
                    position: relative;
                    top: 0.8rem;
                }
            }

            position: absolute;
            top: -25px;
            right: -50%;
            left: -50%;
            width: auto;
            white-space: nowrap;

            &-value {
                display: inline-block;
                transform: scale(0.95);
            }

            &-last {
                @include typeface(--paragraph-center-bold-black);

                margin-left: 1px;
                padding: 0 4px;
                border: 1px solid $color-blue;
                border-radius: 50%;
                background: var(--general-main-2);
                color: var(--text-prominent);

                &--selected-win {
                    color: var(--text-profit-success);
                }

                &--win {
                    border-color: var(--text-profit-success);
                    background: var(--text-profit-success);
                    color: var(--text-colored-background);
                }

                &--loss {
                    border-color: var(--text-loss-danger);
                    background: var(--text-loss-danger);
                    color: var(--text-colored-background);
                }
            }
        }
    }

    &__pie-container {
        position: absolute;
        top: -1px;
        left: -1px;

        &:before {
            @include mobile {
                top: -4px;
                left: -2px;
                width: 48px;
                height: 48px;
            }

            content: '';
            position: absolute;
            top: 1px;
            left: 1px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        &--selected:before {
            @include mobile {
                top: 0;
                left: -2px;
                width: 48px;
                height: 48px;
            }

            top: -2px;
            left: -2px;
            width: 42px;
            height: 42px;
            border: 2px solid var(--text-profit-success);
        }
    }

    &__pie-progress {
        @include mobile {
            width: 48px;
            height: 48px;
            margin-top: 0.2rem;
        }

        width: 42px;
        height: 42px;
        transform: rotate(-90deg);

        /* postcss-bem-linter: ignore */
        .progress__bg {
            stroke: var(--general-disabled);
        }

        /* postcss-bem-linter: ignore */
        .progress__value {
            stroke: var(--text-less-prominent);

            /* postcss-bem-linter: ignore */
            &--is-max {
                stroke: var(--text-profit-success);
            }

            /* postcss-bem-linter: ignore */
            &--is-min {
                stroke: var(--text-loss-danger);
            }
        }
    }

    &__pointer {
        @include mobile {
            left: -2px;
        }

        position: absolute;
        bottom: -12px;
        padding: 0 12px;
        transition: transform 0.25s ease;
    }

    &__particles {
        position: absolute;
        top: 8px;
        padding: 0 20px;
        opacity: 0;
        transform: rotate(45deg);

        &-particle {
            position: absolute;
            display: block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: var(--brand-secondary);
            opacity: 0.7;
            transition: transform 0.5s ease, opacity 0.5s linear 0.5s;
        }

        &--explode {
            opacity: 1;

            .digits__particles-particle {
                opacity: 0;

                &:nth-child(1) {
                    transform: translate(45px, 45px);
                }

                &:nth-child(2) {
                    transform: translate(45px, 0);
                }

                &:nth-child(3) {
                    transform: translate(0, 45px);
                }

                &:nth-child(4) {
                    transform: translate(-45px, 45px);
                }

                &:nth-child(5) {
                    transform: translate(-45px, -45px);
                }

                &:nth-child(6) {
                    transform: translate(-45px, 0);
                }

                &:nth-child(7) {
                    transform: translate(0, -45px);
                }

                &:nth-child(8) {
                    transform: translate(45px, -45px);
                }
            }
        }
    }

    &__icon {
        &-color {
            fill: var(--brand-orange);
        }

        &--win .digits__icon-color {
            fill: var(--text-profit-success);
        }

        &--loss .digits__icon-color {
            fill: var(--text-loss-danger);
        }
    }
}

@keyframes blinking {
    50% {
        background-color: var(--general-main-1);
        color: var(--text-general);
    }
}
