@import '../../_common/base/index';

/** @define digits */
.digits {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 2.5em 0 1em;

    &__digit {
        margin: 0 0.4em;
        text-align: center;
        position: relative;
        transition: transform 0.25s linear;

        &--win {
            z-index: 1;
            transform: scale(1.25) !important;

            .digits__pie-container:before {
                box-shadow: 0px 1px 18px rgba(75, 180, 179, 1);
            }
        }
        &--loss {
            z-index: 1;
            transform: scale(1.25) !important;

            .digits__pie-container:before {
                box-shadow: 0px 1px 18px rgba(255, 68, 79, 1);
            }
        }
        &--latest {
            z-index: 1;
            transform: scale(1.2);

            .digits__digit-spot {
                font-size: 0.9em;
            }
        }
        &-display-value {
            transition: transform 0.25s linear;
            position: absolute;
            transform: scale(0.9);
            top: 4px;
            @include themify($themes) {
                color: themed('digit_widget_value_color');
            }

            &--no-stats {
                transform: scale(1.0) translateY(5px);
            }
        }
        &-display-percentage {
            top: 20px;
            position: absolute;
            font-size: 0.65em;
            font-weight: 400;
            @include themify($themes) {
                color: themed('digit_widget_percentage_color');
            }
        }
        &-value {
            @include typeface(--paragraph-center-bold-black);
            @include toEm(width, 40px, 1em);
            @include toEm(height, 40px, 1em);
            @include themify($themes) {
                background-color: themed('container_secondary_color');
                color: themed('text_color');
            }
            margin-bottom: 0.5em;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 0.2s ease-out, transform 0.1s ease-out;

            &--selected {
                @include themify($themes) {
                    background-color: themed('container_color');
                }
            }
            // &--latest {
            //     transform: translateY(8px);
            // }
            &--win {
                @include themify($themes) {
                    background-color: themed('won_color');
                    color: themed('text_active_color');
                }
                .digits__digit-display-value, .digits__digit-display-percentage {
                    color: $COLOR_WHITE;
                }
            }
            &--blink {
                @include themify($themes) {
                    animation-name: themed('animation_blink_name');
                }
                animation-duration: 500ms;
                animation-iteration-count: 4;
                animation-timing-function: step-end;
            }
            &--loss {
                @include themify($themes) {
                    background-color: themed('loss_color');
                    color: themed('text_active_color');
                }
                border: none !important;

                .digits__digit-display-value, .digits__digit-display-percentage {
                    color: $COLOR_WHITE;
                }
            }
        }
        &-spot {
            position: absolute;
            top: -25px;
            left: -50%;
            right: -50%;
            width: auto;
            white-space: nowrap;

            &-value {
                transform: scale(0.95);
                display: inline-block;
                @include typeface(--paragraph-center-bold-black);
                @include themify($themes) {
                    color: themed('text_secondary_color');
                }
            }
            &-last {
                padding: 0 4px;
                margin-left: 1px;
                border-radius: 50%;
                @include typeface(--paragraph-center-bold-black);
                @include themify($themes) {
                    color: themed('text_color');
                    background: themed('slider_hover_color');
                }

                &--win {
                    color: $COLOR_GREEN_1;
                }
                &--loss {
                    color: $COLOR_RED;
                }
            }
        }
        // &--loss {
        //     transform: translateY(8px);
        //     transition: transform 0.2s ease-out 1s;
        // }
    }
    &__pie-container {
        position: absolute;
        top: -1px;
        left: -1px;

        &:before {
            position: absolute;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            top: 1px;
            left: 1px;
            content: '';
        }
        &--selected:before {
            border: 2px solid $COLOR_GREEN_1;
            top: -2px;
            left: -2px;
            width: 42px;
            height: 42px;
        }
    }
    &__pie-progress {
        transform: rotate(-90deg);
        width: 42px;
        height: 42px;

        // .progress__value {
        //     stroke-dasharray: 339.292;
        //     // stroke-dashoffset: 339.292;
        //     // animation: progress 2s infinite alternate;
        // }
        @keyframes progress {
            from {
                stroke-dashoffset: 339.292;
                stroke-opacity: 0.1;
            }
            to {
                stroke-dashoffset: 0;
                stroke-opacity: 1;
            }
        }
    }
    &__pointer {
        position: absolute;
        bottom: -12px;
        padding: 0 12px;
        transition: transform 0.25s ease;
    }
    &__particles {
        position: absolute;
        padding: 0 20px;
        top: 8px;
        transform: rotate(45deg);
        opacity: 0;

        &-particle {
            background: $COLOR_GREEN_1;
            opacity: 0.7;
            border-radius: 50%;
            display: block;
            width: 5px;
            height: 5px;
            position: absolute;
            transition: transform 0.5s ease, opacity 0.5s linear 0.5s;
        }
        &--explode {
            opacity: 1;

            .digits__particles-particle {
                opacity: 0;

                &:nth-child(1) {
                    transform: translate(45px, 45px);
                }
                &:nth-child(2) {
                    transform: translate(45px, 0px);
                }
                &:nth-child(3) {
                    transform: translate(0px, 45px);
                }
                &:nth-child(4) {
                    transform: translate(-45px, 45px);
                }
                &:nth-child(5) {
                    transform: translate(-45px, -45px);
                }
                &:nth-child(6) {
                    transform: translate(-45px, 0px);
                }
                &:nth-child(7) {
                    transform: translate(0px, -45px);
                }
                &:nth-child(8) {
                    transform: translate(45px, -45px);
                }
            }
        }
    }
    &__icon {
        &-color {
            fill: $COLOR_ORANGE;
        }
        &--win .digits__icon-color {
            fill: $COLOR_GREEN_1;
        }
        &--loss .digits__icon-color {
            fill: $COLOR_RED;
        }
    }
}

@keyframes blinking-white {
    50% {
        background-color: $COLOR_WHITE;
        color: $COLOR_LIGHT_BLACK_1;
    }
}

@keyframes blinking-dark-blue-2 {
    50% {
        background-color: $COLOR_DARK_BLUE_2;
    }
}
