@import '../../_common/base/index';

/** @define cq-bottom-ui-widgets; weak */
.cq-bottom-ui-widgets {
    z-index: 4;

    .bottom-widgets {
        left: -3.5em;
    }
}

/** @define digits */
.digits {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 2.5em 0 1em;

    &__tooltip-container {
        position: absolute;
        z-index: 2;
        top: 14px;
        left: -18px;
    }
    &__digit {
        pointer-events: none;
        margin: 0 0.6em;
        text-align: center;
        position: relative;
        transition: transform 0.25s linear;

        &--latest {
            z-index: 1;
            transform: scale(1.2);

            .digits__digit-spot {
                font-size: 0.9em;
            }
        }
        &--win {
            z-index: 1;
            transform: scale(1.25);

            .digits__pie-container:before {
                @include themify($themes) {
                    box-shadow: 0px 1px 18px themed('digit_widget_win');
                }
            }
        }
        &--loss {
            z-index: 1;
            transform: scale(1.25);

            .digits__pie-container:before {
                top: -2px;
                left: -2px;
                @include themify($themes) {
                    box-shadow: 0px 1px 18px themed('digit_widget_loss');
                    border: 3px solid themed('digit_widget_loss');
                }
            }
        }
        &-display-value {
            transition: transform 0.25s linear;
            position: absolute;
            transform: scale(0.9);
            top: 4px;
            @include themify($themes) {
                color: themed('digit_widget_value_color');
            }

            &--no-stats {
                transform: scale(1) translateY(5px);
            }
        }
        &-display-percentage {
            top: 20px;
            position: absolute;
            font-size: 0.65em;
            font-weight: 400;
            @include themify($themes) {
                color: themed('digit_widget_percentage_color');
            }
        }
        &-value {
            @include typeface(--paragraph-center-bold-black);
            @include toEm(width, 40px, 1em);
            @include toEm(height, 40px, 1em);
            @include themify($themes) {
                background-color: themed('digit_widget_background_color');
                color: themed('text_color');
            }
            margin-bottom: 0.5em;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 0.2s ease-out, transform 0.1s ease-out;

            &--selected {
                @include themify($themes) {
                    background-color: themed('digit_widget_selected_bg');
                }
            }
            &--win {
                .digits__digit-display-value, .digits__digit-display-percentage {
                    color: $COLOR_WHITE;
                }
                @include themify($themes) {
                    background-color: themed('digit_widget_win');
                    color: themed('text_active_color');
                }
            }
            &--blink {
                animation-duration: 500ms;
                animation-iteration-count: 4;
                animation-timing-function: step-end;
                @include themify($themes) {
                    animation-name: themed('animation_blink_name');
                }
            }
            &--loss {
                border: none !important;
                @include themify($themes) {
                    background-color: themed('digit_widget_loss');
                    color: themed('text_active_color');
                }

                .digits__digit-display-value, .digits__digit-display-percentage {
                    color: $COLOR_WHITE;
                }
            }
        }
        &-spot {
            position: absolute;
            top: -25px;
            left: -50%;
            right: -50%;
            width: auto;
            white-space: nowrap;

            &-value {
                transform: scale(0.95);
                display: inline-block;
                @include typeface(--paragraph-center-bold-black);
                @include themify($themes) {
                    color: themed('digit_widget_spot_text');
                }
            }
            &-last {
                padding: 0 4px;
                margin-left: 1px;
                border-radius: 50%;
                @include typeface(--paragraph-center-bold-black);
                @include themify($themes) {
                    border: 1px solid themed('digit_widget_spot_border');
                    color: themed('text_color');
                    background: themed('digit_widget_background_color');
                }

                &--selected-win {
                    @include themify($themes) {
                        color: themed('digit_widget_win');
                    }
                }
                &--win {
                    @include themify($themes) {
                        color: themed('digit_widget_last_spot');
                        border-color: themed('digit_widget_win');
                        background: themed('digit_widget_win');
                    }
                }
                &--loss {
                    @include themify($themes) {
                        color: themed('digit_widget_last_spot');
                        border-color: themed('digit_widget_loss');
                        background: themed('digit_widget_loss');
                    }
                }
            }
        }
    }
    &__pie-container {
        position: absolute;
        top: -1px;
        left: -1px;

        &:before {
            position: absolute;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            top: 1px;
            left: 1px;
            content: '';
        }
        &--selected:before {
            top: -2px;
            left: -2px;
            width: 42px;
            height: 42px;

            @include themify($themes) {
                border: 2px solid themed('digit_widget_win');
            }
        }
    }
    &__pie-progress {
        transform: rotate(-90deg);
        width: 42px;
        height: 42px;

        .progress__bg {
            @include themify($themes) {
                stroke: themed('digit_widget_stroke_bg_color');
            }
        }
        .progress__value {
            @include themify($themes) {
                stroke: themed('digit_widget_stroke_color');
            }

            &--is-max {
                @include themify($themes) {
                    stroke: themed('digit_widget_stroke_max_color');
                }
            }
            &--is-min {
                @include themify($themes) {
                    stroke: themed('digit_widget_stroke_min_color');
                }
            }
        }
    }
    &__pointer {
        position: absolute;
        bottom: -12px;
        padding: 0 12px;
        transition: transform 0.25s ease;
    }
    &__particles {
        position: absolute;
        padding: 0 20px;
        top: 8px;
        transform: rotate(45deg);
        opacity: 0;

        &-particle {
            background: $COLOR_GREEN_1;
            opacity: 0.7;
            border-radius: 50%;
            display: block;
            width: 5px;
            height: 5px;
            position: absolute;
            transition: transform 0.5s ease, opacity 0.5s linear 0.5s;
        }
        &--explode {
            opacity: 1;

            .digits__particles-particle {
                opacity: 0;

                &:nth-child(1) {
                    transform: translate(45px, 45px);
                }
                &:nth-child(2) {
                    transform: translate(45px, 0px);
                }
                &:nth-child(3) {
                    transform: translate(0px, 45px);
                }
                &:nth-child(4) {
                    transform: translate(-45px, 45px);
                }
                &:nth-child(5) {
                    transform: translate(-45px, -45px);
                }
                &:nth-child(6) {
                    transform: translate(-45px, 0px);
                }
                &:nth-child(7) {
                    transform: translate(0px, -45px);
                }
                &:nth-child(8) {
                    transform: translate(45px, -45px);
                }
            }
        }
    }
    &__icon {
        &-color {
            fill: $COLOR_ORANGE;
        }
        &--win .digits__icon-color {
            fill: $COLOR_GREEN_1;
        }
        &--loss .digits__icon-color {
            fill: $COLOR_RED;
        }
    }
}

@keyframes blinking-white {
    50% {
        background-color: $COLOR_WHITE;
        color: $COLOR_LIGHT_BLACK_1;
    }
}

@keyframes blinking-dark-blue-2 {
    50% {
        background-color: $COLOR_DARK_BLUE_2;
    }
}
