.dc-popup {
    &__header {
        padding: 0;

        &--content {
            display: flex;
            align-items: center;
        }

        &__icon {
            position: absolute;
            left: 86%;
        }

        &__button {
            margin: 0 1.6em !important;
            width: 13rem !important;
        }

        &--banner {
            background-color: var(--status-warning);
            border-radius: 100px;
            padding: 0.4rem 0.8rem;
            height: 22px;
            display: flex;
            align-items: center;
        }
    }
    &__body {
        padding: 0 !important;
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        padding: 1.6rem;
        position: fixed;
        width: 100%;
        bottom: 0;

        &--separator {
            border-top: 2px solid var(--general-section-1);
        }
    }
}

.dc-modal {
    &-header {
        &--popup {
            height: 124px;
        }
    }
}

.dc-tabs {
    &__content--popup {
        background: var(--general-main-1);
    }

    &__item--popup {
        border-radius: 16px 16px 0px 0px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__active--popup {
        background: var(--general-main-1);
    }
}
