.dc-popup {
    &__header {
        padding: 0;

        &--content {
            display: flex;
            align-items: center;
        }

        &__icon {
            position: absolute;
            left: 86%;
        }

        &__button {
            margin: 0 1.6em !important;
            width: 13rem !important;
        }
    }
    &__body {
        padding: 0 !important;
    }
}

.dc-modal {
    &-header {
        &--popup {
            height: 124px;
        }
    }
}

.dc-tabs {
    &__content--popup {
        background: var(--general-main-1);
    }

    &__item--popup {
        border-radius: 16px 16px 0px 0px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__active--popup {
        background: var(--general-main-1);
    }
}
