.dc-popup {
    position: relative;
    z-index: 9999;

    &__header {
        display: flex;
        width: 100%;

        &-content {
            flex: 1;
        }

        &-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        &-close {
            @include mobile {
                margin-top: 0.5rem;
                margin-right: 0.5rem;
            }

            margin-top: -0.3rem;
            margin-right: -0.3rem;
            margin-left: 2.1rem;

            &-icon {
                cursor: pointer;
            }
        }

        &-button {
            @include mobile {
                margin-left: 2.2rem;
            }

            margin-left: 1.6rem;
        }

        &-balance {
            display: flex;
            align-items: center;
        }

        &-banner {
            @include desktop {
                margin-top: 0.4rem;
            }

            @include mobile {
                margin-left: 0.8rem;
                background-color: var(--general-main-1);
            }

            display: flex;
            align-items: center;
            padding: 0.4rem 0.8rem;
            border-radius: 10rem;
            background-color: var(--status-warning);
        }

        &-big-text {
            margin-top: 2rem;
        }

        &-title {
            &-container {
                display: flex;
                align-items: center;
            }
        }
    }

    &__body {
        flex: 1;
        min-height: 0;
        padding: 0;

        &:first-child {
            padding-top: 0 !important;
        }

        & .dc-tabs {
            &__content--popup {
                background: var(--general-main-1);
            }

            &__list {
                &--header--popup {
                    @include mobile {
                        overflow-y: hidden;
                        -ms-overflow-style: none; /* IE and Edge */
                        scrollbar-width: none; /* Firefox */

                        @media (min-width: 27.5rem) {
                            overflow-x: hidden;
                        }

                        &::-webkit-scrollbar {
                            display: none; /* Chrome Safari */
                        }
                    }
                }

                &--popup {
                    @include mobile {
                        height: 5.8rem !important;

                        @media (max-width: 27.5rem) {
                            width: 123% !important;
                            margin-right: 4.2rem;
                        }
                    }
                }
            }

            &__item--popup {
                @include mobile {
                    flex-direction: column;
                    box-sizing: border-box;
                    width: 8.2rem !important;
                    height: 5.8rem;
                    font-size: 12px;
                }

                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 16px 16px 0 0;
            }

            &__active--popup {
                background: var(--general-main-1);
            }

            &--popup {
                display: flex;
                flex-direction: column;
                height: 100%;
            }
        }
    }

    &__footer {
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding: 1.6rem;

        &__separator {
            border-top: 2px solid var(--general-section-1);
        }
    }

    &__overlay {
        position: absolute;
        inset: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
        padding: 3.2rem;
        background-color: var(--general-main-1);
        opacity: 0;
        transition: opacity 0.1s ease-in-out;

        &:empty {
            display: none;
        }

        &--enter {
            &-done {
                opacity: 0.95;
            }
        }

        &--exit {
            opacity: 0;
        }

        &-content {
            max-width: 500px;

            &-header {
                margin-bottom: 0.8rem;
            }

            &-separator {
                width: 100%;
                height: 1px;
                background-color: var(--general-section-1);
            }

            &-list {
                margin-top: 2.4rem;
                padding-left: 1.6rem;
                list-style-type: disc;

                li::marker {
                    color: var(--text-general);
                    font-size: var(--text-size-xs);
                }

                li + li {
                    margin-top: 2rem;
                }
            }

            &-button {
                margin-top: 2.4rem;
            }
        }
    }
}

.dc-modal {
    &-header {
        &--popup {
            flex-grow: 0;
            align-items: flex-start;
            height: fit-content;
        }

        &__title {
            &--popup {
                @include mobile {
                    align-items: flex-start;
                }

                width: 100%;
            }
        }

        &__section {
            &--popup {
                padding: 2.4rem;
            }

            .dc-modal-header__close {
                margin: 2.1rem 2.1rem 0 0;
            }
        }
    }
}
