/** @define barspinner */
.barspinner {
    width: 6rem;
    height: 2rem;
    margin: auto;
    white-space: nowrap;

    &__rect {
        @include createBarspinnerAnimation(5, 1.2s, 0.1);

        display: inline-block;
        width: 0.6rem;
        height: 60%;
        margin: 0.4rem;
        border-radius: 20px;
    }

    &--dark .barspinner__rect {
        background-color: var(--brand-secondary);
    }
}

@keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(1);
    }

    20% {
        transform: scaleY(2);
    }
}

/** @define initial-loader */
.initial-loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;

    &--fullscreen {
        @include desktop {
            height: calc(100vh - #{$HEADER_HEIGHT} - #{$FOOTER_HEIGHT});
        }

        @include mobile {
            height: calc(100vh - #{$MOBILE_HEADER_HEIGHT});
        }

        width: 100vw;
        height: 100vh;
    }

    &__barspinner {
        margin: 5rem auto;

        &--rect {
            background-color: var(--brand-secondary);
        }
    }
}
