.wallets-mt5-account-type-modal {
    &-next-button {
        display: flex;
        height: 3.2rem;
        padding: 0.6rem 1.6rem;
        justify-content: center;
        align-items: center;
        border-radius: 0.4rem;
        background: #ff444f;
        border: unset;
        cursor: pointer;

        @include mobile {
            width: 100%;
            padding: 2rem 1.6rem;
        }

        &-disabled {
            border: unset;
            padding: 0.6rem 1.6rem;
            justify-content: center;
            align-items: center;
            border-radius: 0.4rem;
            background-color: #ccc;
            color: #666;
            cursor: not-allowed;

            @include mobile {
                width: 100%;
                padding: 1rem 1.6rem;
            }
        }
    }

    &-text {
        color: var(--system-dark-1-prominent-text, #fff);
        text-align: center;

        /* desktop/paragraph/P2 - bold */
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2rem; /* 142.857% */
    }
}
