.p2p-v2-my-profile-counterparties {
    display: flex;
    padding: 2.4rem;
    flex-direction: column;
    height: 100%;

    @include mobile {
        padding: 1.6rem;
    }

    &__content {
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }

    &__header {
        align-self: center;
    }
}
