@import '../SkeletonLoader.scss';

.wallets-carousel-loader {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    width: 100%;
    padding-block: 2rem;

    &__actions {
        display: flex;
        justify-content: space-evenly;
        padding-inline: 2.4rem;

        &-button {
            width: 4.2rem;
            height: 4.2rem;
            border-radius: 100%;
        }
    }

    &__card {
        height: 11rem;
        border-radius: 0.8rem;
        padding-right: 2.4rem;

        &-body {
            width: 16rem;
        }

        &-container {
            display: flex;
            gap: 1.6rem;
            overflow: hidden;
            padding-left: 30vw;
        }
    }

    &__progress-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.4rem;

        &__item {
            width: 0.8rem;
            height: 0.8rem;
            border-radius: 50%;

            &--active {
                width: 2.5rem;
                border-radius: 20%;
            }
        }
    }
}
