.preferred-countries-selector {
    @include desktop-screen {
        max-width: 32.8rem !important;

        &__input,
        &__icon {
            cursor: pointer;
        }
    }

    &__input {
        text-overflow: ellipsis;
    }
}
