.account-management-toggle {
    &:hover {
        cursor: pointer;
    }
    svg {
        height: 24px;
        width: 24px;
    }
}

.account-management-form {
    overflow: scroll;

    &-footer {
        height: 80px;
        position: absolute;
        bottom: 0;
        margin-left: -2.4em;
        display: flex;
        width: 100%;
        padding: 16px 24px 24px;
        align-items: center;
        justify-content: flex-end;
        z-index: 999;
        @include themify($themes) {
            border-width: 1px;
            border-top: 1px solid themed('tab_background_color');
            background-color: themed('navbar_background_color');
        }

        .btn {
            margin-top: 0;
            margin-bottom: 0;
            margin-right: 0;
        }
    }
}

.account-management-form-header {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.43;
}

.account-management-modal-header {
    display: flex;

    &__icon-wrapper {
        display: flex;
        align-content: center;
        font-size: 12px;
        font-weight: normal;

        span {
            padding: 0 8px;
        }
        svg {
            height: 24px;
            width: 24px;
        }
    }
}

.account-management-text {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
}

.account-management-table {
    width: 100%;

    th {
        padding: 24px 0 16px 0;
    }
    td {
        padding: 8px 0;
    }
}
