/** @define cashier */
.cashier {
    &__content {
        width: 100%;

        &-wrapper {
            width: 100%;
            overflow: scroll;
        }
    }
}

/** @define withdraw */
.withdraw {
    &__text {
        font-size: 1.6rem;
    }
    &__verify-container {
        position: fixed;
        width: calc(72% - 4.8em);
    }
    &__verify-wrapper {
        text-align: center;
        width: 100%;
        height: 100%;
    }
    &__verify-button {
        margin-top: 3.6rem;
        height: 4rem;

        &-text {
            font-size: 1.4rem;
        }
    }
    &__icon-authenticate {
        margin-top: 8.1rem;
        margin-bottom: 3.2rem;
    }
}
