/** @define cashier */
.cashier {
    &__content {
        width: 100%;
    }
    &__wrapper {
        text-align: center;

        &, &--align-left {
            color: var(--text-prominent);
            width: 100%;
            height: 100%;
            line-height: 1.43;
        }
        &--align-left {
            text-align: left;
        }
    }
    &__loader {
        font-size: 1rem;

        &-wrapper {
            display: flex;
            height: 100%;
        }
    }
    &__header {
        font-size: 1.6rem;
        line-height: 1.5;
        font-weight: bold;
        margin-bottom: 16px;
    }
    &__form {
        &-submit {
            display: flex;
            justify-content: flex-end;
            box-shadow: inset 0 1px 0 0 rgba(224, 224, 224, 0.5);
            width: calc(100% + 4.8rem);
            margin-left: -2.4rem;
            position: absolute;
            bottom: -2.4rem;
            height: 8rem;
        }
        &-error {
            flex: 1;
            margin: 2rem 5.6rem 4.4rem 0;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.33;

            &-icon {
                position: absolute;
                left: 0;
            }
            &-small-icon {
                margin: 2rem 1.6rem 4.4rem 2.4rem;
            }
        }
        &-submit-button {
            width: 9.8rem;
            min-width: 9.8rem;
            display: inline-block;
            height: 4rem;
            font-size: 1.4rem;
            padding: 1rem 1.6rem;
            font-weight: bold;
            color: $COLOR_WHITE;
            margin: 1.6rem 2.4rem 2.4rem;
        }
    }
    &__input-long {
        display: inline-block !important;
        margin-bottom: 0 !important;
    }
    &__drop-down {
        display: inline-block;
        min-width: 20rem;
        min-height: 4rem;
        margin: 0 0 16px;
        line-height: 1.43;

        &-display {
            justify-content: left;
            min-height: 3.8rem;
            height: auto;

            &-span {
                font-size: 1.4rem;
                text-align: left;
                padding: 9px 36px 9px 12px;
                text-transform: none;
                line-height: 1.43;
                display: flex;
                align-items: center;
            }
        }
        &-items, &-label {
            text-transform: none !important;
            text-align: left !important;
            font-size: 1.4rem !important;
            justify-content: left;
            padding-left: 1.4rem;
            align-items: center;
        }
    }
    &__transferred {
        &-amount {
            color: var(--text-profit-success);
            font-size: 3.2rem;
            line-height: 0.75;
            margin-bottom: 1.6rem;
        }
        &-details {
            margin-left: 8px;
            vertical-align: super;
            font-size: 1.4rem;
            text-align: left;
            line-height: 1.43;
            max-width: 18rem;

            &-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        &-icon {
            @extend %inline-icon;
            transform: scale(-1, 1);
            vertical-align: middle;
            margin: 0 1.6rem;
        }
    }
    &__paragraph {
        font-size: 1.4rem;
        align-self: center;
        line-height: 1.43;
    }
    &__text {
        font-size: 1.4rem;
        line-height: 1.43;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;

        &--bold {
            font-weight: bold;
        }
    }
    &__modal-tab {
        min-width: 24rem;
    }
    /** @define cashier-error */
    &-error {
        &__icon {
            width: 6.4rem;
            height: 6.4rem;
            margin-top: 8.7rem;
            margin-bottom: 1.6rem;
        }
        &__text {
            color: var(--text-loss-danger);
            font-weight: bold;
            font-size: 1.6rem;
            line-height: 1.5;
        }
        &__button {
            margin-top: 3.2rem;
            height: 4rem;
        }
    }
}

/** @define withdraw */
.withdraw {
    &__header {
        font-weight: bold;
        margin-bottom: 8px;
        font-size: 1.6rem;
        line-height: 1.5;
    }
    &__header, &__text {
        color: var(--text-general);
    }
    &__text {
        font-size: 1.4rem;
    }
    &__verify-button {
        margin-top: 3.2rem;
        height: 4rem;

        &-text {
            font-size: 1.4rem;
        }
    }
    &__icon {
        margin-top: 8rem;
        margin-bottom: 1.6rem;
    }
    &__email {
        &-sent {
            width: 40rem;
            margin: auto;

            &-title {
                color: var(--text-general);
                font-size: 1.6rem;
                font-weight: bold;
                margin-bottom: 0.8rem;
                line-height: 1.5;

                &-sub {
                    font-size: 1.4rem;
                }
            }
            &-text {
                color: var(--text-general);
            }
        }
        &-resend, &-sent {
            &-text {
                font-size: 1.4rem;
                line-height: 1.43;
            }
        }
        &-resend {
            margin-top: 4rem;

            &-text {
                color: $COLOR_ORANGE;
                font-weight: bold;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}

/** @define payment-agent */
.payment-agent {
    &__instructions {
        margin-top: 24px;
        display: flex;

        &-section {
            flex: 1;

            .payment-agent__header {
                margin-bottom: 8px;
            }
            &:not(:first-child) {
                margin-left: 24px;
            }
        }
    }
    &__button {
        margin: 0;
        height: 40px;
    }
    &__available {
        &-header {
            margin-top: 32px;
        }
        &-selector {
            margin-bottom: 16px;
            display: flex;
        }
    }
    &__drop-down {
        margin-left: 8px;
        min-width: 20rem;
        width: auto;
        margin-bottom: 0;
    }
    &__accordion-content {
        &-line {
            margin-bottom: 8px;
        }
        &-icon {
            vertical-align: middle;
            margin-right: 12px;
        }
    }
    &__disclaimer {
        background-color: var(--general-section-1);
        margin-top: 24px;
        padding: 8px 16px;
        font-size: 1.2rem;
        line-height: 1.42;
    }
    &__radio {
        display: none;

        &-group {
            display: block;
        }
        &-wrapper {
            display: flex;

            &:not(:last-child) {
                margin-bottom: 1.6rem;
            }
            &:last-child {
                margin-bottom: 2.7rem;
            }
        }
        &-circle {
            border: 2px solid var(--text-general);
            border-radius: 50%;
            box-shadow: 0 0 1px 0 $color-white;
            width: 16px;
            height: 16px;
            transition: all 0.3s ease-in-out;
            margin-right: 8px;
            align-self: center;
            display: inline-flex;

            &--selected {
                border-width: 4px;
                border-color: var(--brand-red-coral);
            }
        }
    }
    &__receipt {
        text-align: center;
    }
    &__transferred {
        &-contact {
            margin-top: 16px;
            margin-bottom: 8px;
        }
    }
    &__contact {
        text-decoration: none;
        color: var(--brand-red-coral);
    }
    &__separator {
        border-bottom: var(--general-section-2);
        margin-top: 32px;
        margin-bottom: 16px;
        // cover the whole container instead of within the container's padding
        width: calc(100% + 2.4rem + 2.4rem);
        margin-left: -2.4rem;
    }
    &__explanation {
        margin-top: -8px;
        margin-bottom: 24px;
    }
    &__buttons {
        justify-content: flex-end;
        display: flex;
    }
    &__statement-button, &__done-button {
        margin: 0;
    }
    &__done-button {
        margin-left: 8.5px;
    }
    &__input {
        width: 12.6rem !important;
        margin-left: 8px;
        display: inline-block !important;
        margin-bottom: 0 !important;

        &-field {
            text-align: left;
            font-size: 1.4rem;
            padding: 10px 12px !important;
            height: 4rem;
        }
        &-error {
            white-space: nowrap;
        }
    }
    &__paragraph {
        align-self: flex-start;
    }
    &__amount-symbol {
        top: 0.9rem;
    }
}

/** @define account-transfer */
.account-transfer {
    &__notes {
        color: var(--text-less-prominent);
        margin-top: calc(3.2rem + 1.7rem); // + height of hint/error
        font-size: 1.2rem;
        line-height: 1.5;
    }
    &__bullet {
        background-color: var(--text-general);
        border-radius: 100%;
        margin-right: 1.3rem;
        width: 0.6rem;
        height: 0.6rem;
        flex: none;
        margin-top: 0.6rem;

        &-wrapper {
            display: flex;
            margin-bottom: 0.4rem;
        }
    }
    &__drop-down {
        min-width: calc(calc(100% - calc(16px + 1.6rem)) / 2);
        width: auto;
        margin-bottom: 3.4rem;
    }
    &__currency {
        margin: 0 0.4rem;

        &-icon {
            align-self: center;
        }
    }
    &__balance {
        color: var(--text-less-prominent);
    }
    &__receipt {
        &-icon {
            margin: 5.6rem 0 1.6rem;
        }
    }
    &__transfer {
        &-icon {
            vertical-align: initial;
            margin: 0 0.8rem;
        }
        &-details {
            &-from, &-to {
                display: flex;
                align-items: center;
            }
        }
    }
    &__button-done {
        margin-top: 3.2rem;
        min-width: 6.5rem;
        height: 4rem;
    }
    &__no-balance {
        &-icon {
            margin: 10.7rem 0 1.6rem;
        }
        &-button {
            height: 4rem;
            margin-top: 3.2rem;
        }
    }
    &__amount-symbol {
        top: 1.1rem;
    }
}

/** @define dc-modal; */
.dc-modal {
    &__container {
        &_modal-cashier {
            width: 904px;
        }
    }
}

/** @define dc-modal-header; */
.dc-modal-header {
    &__modal-cashier {
        box-shadow: inset 0 -1px 0 0 var(--general-section-1);
    }
    &__title {
        &--modal-cashier {
            min-width: 24rem;
            border-bottom: 1px solid var(--general-section-1);
        }
    }
}
