/** @define cashier */
.cashier {
    &__content {
        width: 100%;
    }
    &__wrapper {
        width: 100%;
        height: 100%;
        text-align: center;
    }
    /** @define cashier-error */
    &-error {
        &__icon {
            width: 6.4rem;
            height: 6.4rem;
            margin-top: 8.7rem;
            margin-bottom: 1.6rem;
        }
        &__text {
            @include themify($themes) {
                color: themed('error_color');
            }
            font-weight: bold;
            font-size: 1.6rem;
            line-height: 1.5;
        }
        &__button {
            margin-top: 3.2rem;
            height: 4rem;
        }
    }
}

/** @define withdraw */
.withdraw {
    &__header {
        font-weight: bold;
        margin-bottom: 8px;
        font-size: 1.6rem;
        line-height: 1.5;
    }
    &__header, &__text {
        @include themify($themes) {
            color: themed('text_primary_color');
        }
    }
    &__text {
        font-size: 1.4rem;
        line-height: 1.43;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    &__verify-button {
        margin-top: 3.2rem;
        height: 4rem;

        &-text {
            font-size: 1.4rem;
        }
    }
    &__icon {
        margin-top: 8rem;
        margin-bottom: 1.6rem;
    }
    &__email {
        &-sent {
            width: 40rem;
            margin: auto;

            &-title {
                @include themify($themes) {
                    color: themed('text_primary_color');
                }
                font-size: 1.6rem;
                font-weight: bold;
                margin-bottom: 0.8rem;
                line-height: 1.5;

                &-sub {
                    font-size: 1.4rem;
                }
            }
            &-text {
                @include themify($themes) {
                    color: themed('text_primary_color');
                }
            }
        }
        &-resend, &-sent {
            &-text {
                font-size: 1.4rem;
                line-height: 1.43;
            }
        }
        &-resend {
            margin-top: 4rem;

            &-text {
                color: $COLOR_ORANGE;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
}

/** @define payment-agent */
.payment-agent {
    &__wrapper {
        font-size: 1.4rem;
        line-height: 1.43;
        height: 100%;
        width: 100%;
        text-align: left;
    }
    &__header {
        font-size: 1.6rem;
        line-height: 1.5;
        font-weight: bold;
        margin-bottom: 16px;
    }
    &__instructions {
        margin-top: 24px;
        display: flex;

        &-section {
            flex: 1;

            .payment-agent__header {
                margin-bottom: 8px;
            }
            &:not(:first-child) {
                margin-left: 24px;
            }
        }
    }
    &__button {
        margin: 0;
        height: 40px;
    }
    &__available {
        &-header {
            margin-top: 32px;
        }
        &-selector {
            margin-bottom: 16px;
        }
    }
    &__loader {
        font-size: 1rem;
    }
    &__accordion-content {
        color: var(--color-red);

        &-line {
            margin-bottom: 8px;
        }
        &-icon {
            vertical-align: middle;
            margin-right: 12px;
        }
    }
    &__disclaimer {
        @include themify($themes) {
            background-color: themed('background_color');
        }
        margin-top: 24px;
        padding: 8px 16px;
        font-size: 1.2rem;
        line-height: 1.42;

        &--bold {
            font-weight: bold;
        }
    }
    &__radio {
        display: block;
    }
}
