$CONTRACT_INFO_BOX_PADDING: 1.6em;

.info-box-container {
    @include mobile {
        left: 0;
    }

    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    width: 100%;

    &-button:hover {
        cursor: pointer;
    }

    &-icon {
        width: 32px;
        height: 32px;
    }

    .info-box {
        @include mobile {
            margin-left: 0.8rem;
            padding: 0.8rem;
        }

        position: relative;
        padding: $CONTRACT_INFO_BOX_PADDING;
        border-radius: $BORDER_RADIUS;
        background: var(--general-section-1);
        font-weight: 300;

        &-longcode {
            display: flex;

            &-icon {
                @extend %inline-icon;

                @include mobile {
                    margin-right: 0.8rem;
                }

                margin-right: 1.6rem;
                padding: 0.4rem;
            }

            &-text {
                @include mobile {
                    max-width: 175px;
                    font-size: 1rem;
                    line-height: 1.4;
                    letter-spacing: normal;

                    /* iPhone SE screen height fixes due to UI space restrictions */
                    @media only screen and (height <= 480px) {
                        font-size: 0.8rem;
                    }
                }

                max-width: 360px;
            }
        }

        .expired {
            display: flex;
            align-items: center;

            svg {
                width: 2.4em;
                height: 2.4em;
                margin-right: 1em;

                .color1-fill {
                    fill: var(--status-success);
                }
            }

            .pl-value {
                color: var(--text-profit-success);
                font-weight: bold;
                font-size: 1.6em;
                line-height: 1.5em;

                .percentage {
                    display: inline-block;
                    margin-left: 0.7em;
                }
            }

            &.lost {
                .pl-value {
                    color: var(--text-loss-danger);
                }

                svg .color1-fill {
                    fill: var(--status-danger);
                }
            }

            .sell-info {
                margin-right: 2em;
                line-height: 1.2em;
                text-align: center;
            }
        }

        .general {
            display: flex;
            align-items: center;
            line-height: 1.4em;

            .values {
                margin-right: 2em;
                margin-left: 1em;
                font-weight: bold;
                text-align: right;

                .profit {
                    color: var(--text-profit-success);
                }

                .loss {
                    color: var(--text-loss-danger);
                }
            }

            .sell {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: -$CONTRACT_INFO_BOX_PADDING;
                margin-left: $CONTRACT_INFO_BOX_PADDING;
                padding: $CONTRACT_INFO_BOX_PADDING;
                text-align: center;

                .dc-tooltip {
                    position: absolute;
                    right: 0.5em;
                    bottom: 0.5em;
                    line-height: 0;

                    &:before {
                        width: 350px;
                        white-space: normal;
                    }
                }
            }
        }
    }

    .message {
        display: flex;
        align-items: center;
        margin-top: 0.5em;
        padding: 1em;
        border: 1px solid var(--brand-red-coral);
        border-radius: $BORDER_RADIUS;
        background-color: transparentize($color-black, 0.84);

        .message-icon {
            margin-right: 1em;
        }

        .message-text {
            flex-grow: 1;
        }

        .message-close {
            cursor: pointer;
        }
    }

    .chart-close-btn {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 11;
        cursor: pointer;
    }
}
