/** @define otc; weak */
.otc {
    margin: 16px;
    box-shadow: 18px 8px 8px var(--shadow-menu);
    border-radius: 4px;

    &__inset-header {
        box-shadow: inset 0 -1px 0 0 var(--general-section-1);
    }
    &__tab-container {
        padding: 1.6rem;
    }
}