@import '../_common/components/composite-calendar';

$side-padding: 1.2em;

/** @define reports; weak */
.reports {
    height: 100%;

    &__meta {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 2.4rem 1.6rem 0;

        @include mobile {
            padding: 0 1.6rem 1.6rem;
        }

        &-filter {
            position: relative;
            display: flex;
            width: 100%;
            @include desktop {
                max-width: 36rem;
                margin-left: auto;
            }
        }

        @include desktop {
            align-items: center;
        }

        @include mobile {
            flex-direction: column;
            padding-bottom: 0;

            &-filter {
                padding-bottom: 1.6rem;
            }
            #dt_calendar_input {
                text-align: left;
                padding-left: 3rem;
            }
        }
    }
    &__mobile-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__route-selection {
        padding: 1.6rem;
    }
    .unknown-icon {
        margin-left: 8px;
        fill: var(--text-general);
        border-radius: $BORDER_RADIUS;
    }
    /* postcss-bem-linter: ignore */
    .dc-tabs--open-positions {
        flex: 1;
        grid-template-rows: 36px calc(100% - 36px);

        .dc-tabs__content {
            display: flex;
            height: 100%;
        }
    }
    /* postcss-bem-linter: ignore */
    .statement__row--detail {
        overflow: hidden;
        max-height: 63px;
        height: 63px;
        display: flex;
        align-items: center;
        padding: 0;
        justify-content: center;
        background-color: var(--general-section-1);

        /* postcss-bem-linter: ignore */
        &-text {
            padding: 1.12em;
        }
    }
    .dc-vertical-tab__content--floating {
        margin-right: 0;
    }
}

/** @define reports-page-wrapper; weak */
.reports-page-wrapper {
    height: 100%;
}

/** @define statement; weak */
.statement {
    .table__head {
        font-weight: bold;
    }

    @include desktop {
        height: 100%;
    }
    @include mobile {
        flex: 1;

        &__data-list-body,
        &__data-list-footer {
            padding: 0 1.6rem;
        }
        &__data-list-body {
            height: 100%;

            .action_type {
                display: flex;
                flex: none;
                align-items: center;

                &__row-title {
                    display: none;
                }
            }
            .balance {
                display: flex;

                &__row-title {
                    flex: 50%;
                }
            }
        }
    }

    &__content {
        width: 100%;
        max-height: 100%;
    }
    /*
        TABLE STYLES
    */
    &__table {
        height: calc(100% - 42px);
        flex: 1;
    }
    &__row {
        /* icon refId currency tr_time transaction cred/debt balance */
        /* stylelint-disable-next-line declaration-colon-space-after */
        grid-template-columns:
            minmax(120px, 0.8fr) minmax(85px, 1.4fr) minmax(110px, 1.2fr) minmax(85px, 1.2fr) minmax(85px, 1fr)
            minmax(85px, 1.2fr) minmax(85px, 1fr);

        .date {
            text-align: left;
        }
        .table__cell {
            height: 63px;
        }
    }
    .amount,
    .balance {
        justify-content: flex-end;
    }
    .amount {
        font-weight: bold;

        &--profit {
            color: var(--text-profit-success);
        }
        &--loss {
            color: var(--text-loss-danger);
        }
    }
    .market-symbol-icon {
        @include mobile {
            width: 80px;
        }
    }
    /*
        MOBILE CARDS
    */
    &--card-view {
        background: var(--general-main-2);
        overflow: hidden;

        .statement__filter {
            padding: 0 $side-padding;
            border-bottom: 1px solid var(--general-section-1);

            &-content {
                padding: 0;
                margin: 0 auto;
                max-width: 450px;
                display: grid;
                grid-template-columns: 1fr 3em 1fr;
                text-align: center;

                .datepicker__input-field {
                    width: 100%;
                }
            }
            &-label {
                display: none;
            }
        }
        .statement__content {
            padding: 0;
        }
        .statement__card-list {
            padding: 0 $side-padding;
            height: 100%;
        }
    }
    &__statement-header {
        justify-content: flex-end;
    }
    &__account-statistics {
        @include desktop {
            width: 52rem;
        }
        @include mobile {
            margin: 0.8rem 0 1.6rem;
            order: 1;
            height: 4rem;
        }
        height: 4.8rem;
        display: flex;
        flex-direction: row;
        text-align: left;

        &-item {
            flex: 1;
            border-right: 1px solid var(--border-normal);
            display: flex;
            max-width: 19rem;

            &:last-child {
                border-right: unset;
            }
            &:first-child {
                .statement__account-statistics--is-rectangle {
                    padding-left: 0;
                }
            }
            &:not(:first-child) {
                justify-content: center;
            }
        }
        &-total-withdrawal {
            @include desktop {
                min-width: 19rem;
            }
            @include mobile {
                min-width: 12.3rem;
            }
        }
        &--is-rectangle {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include desktop {
                padding: 0.4rem 1.6rem;
            }
        }
        &-title {
            text-align: left;
            color: var(--text-less-prominent);
            font-size: 1.4rem;
            margin-bottom: 9px;

            @include mobile {
                font-size: 1rem;
            }
        }
        &-amount {
            text-align: center;
            font-weight: bold;
            font-size: 1.6rem;
            color: var(--text-prominent);

            @include mobile {
                font-size: 1.4rem;
            }
        }
    }
}

/** @define statement-card */
.statement-card {
    &__header {
        font-size: 1em;
        padding: 0.5em;
        border-bottom: 1px solid var(--general-section-1);
        display: flex;
        justify-content: space-between;
    }
    /* postcss-bem-linter: ignore */
    &__refid a {
        color: $COLOR_SKY_BLUE;
        text-decoration: none;
    }
    &__body {
        padding: 0.5em;
        font-size: 1.2em;
    }
    &__desc {
        margin-bottom: 0.7em;
    }
    &__row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-weight: bold;
    }
    &__cell-text {
        vertical-align: middle;
    }
    &__amount {
        &--sell,
        &--deposit {
            color: var(--text-profit-success);
        }
        &--buy,
        &--withdrawal {
            color: var(--text-loss-danger);
        }
    }
    &__icon {
        display: inline-block;
        height: 1.6em;
        width: 1.6em;
        background-size: 1.6em 1.6em;
        vertical-align: middle;
        margin-right: 0.5em;
    }
}

/** @define statement-empty */
.statement-empty {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__icon {
        height: 6.4em;
        width: 6.4em;
        margin-bottom: 1.4em;
    }
    &__text {
        font-size: 1.4em;
    }
}

/** @define profit-table; weak */
.profit-table {
    .table__head,
    .table__foot {
        font-weight: bold;
    }

    @include desktop {
        height: 100%;
    }

    @include mobile {
        flex: 1;

        &__data-list-body,
        &__data-list-footer {
            padding: 0 1.6rem;
        }
        &__data-list-body {
            height: calc(100% - 50px);

            .sell_time__row-title {
                display: flex;
                align-items: center;

                .dc-icon {
                    margin-left: 4px;
                }
            }
        }
        &__data-list-footer {
            height: 50px;
            min-height: 50px;
            font-weight: bold;

            .data-list__row__content {
                font-size: 1.2rem;
                color: var(--text-prominent);
            }
            .data-list__row {
                padding: 0;
            }
        }
    }

    &__content {
        width: 100%;
        max-height: 100%;
    }
    /*
        TABLE STYLES
    */
    &__table {
        height: calc(100% - 42px);
        flex: 1;
    }
    &__row {
        /* icon refId currency buy_time buy_price sell_time sell_price profit/loss */
        /* stylelint-disable-next-line declaration-colon-space-after */
        grid-template-columns:
            minmax(120px, 0.6fr) minmax(130px, 1fr) minmax(85px, 1fr) minmax(85px, 1.2fr) minmax(85px, 1fr)
            minmax(85px, 1.2fr) minmax(85px, 1fr) minmax(85px, 1fr);
    }
    .buy_price,
    .sell_price,
    .profit_loss {
        @include desktop {
            justify-content: flex-end;
        }
        @include mobile {
            justify-content: center;
        }
    }
    .sell_time,
    .purchase_time {
        text-align: left;
    }
    .profit_loss {
        font-weight: bold;
        @include mobile {
            display: flex;

            &__row-title {
                flex: 50%;
            }
        }
    }
    .market-symbol-icon {
        @include mobile {
            width: 80px;
        }
    }
    .duration-type {
        flex: none;
        position: relative;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 16px;
        font-size: 1.4rem;
        font-weight: bold;

        &__background {
            position: absolute;
            height: 100%;
            width: 100%;
            opacity: 0.16;
            border-radius: 16px;
        }
        &__ticks {
            color: $color-yellow;

            &__background {
                background: $color-yellow;
            }
        }
        &__seconds {
            color: $color-green-1;

            &__background {
                background: $color-green-1;
            }
        }
        &__minutes {
            color: $color-blue-1;

            &__background {
                background: $color-blue-1;
            }
        }
        &__hours {
            color: $COLOR_BLUE;

            &__background {
                background: $COLOR_BLUE;
            }
        }
        &__days {
            color: $color-purple;

            &__background {
                background: $color-purple;
            }
        }
    }
}

/** @define open-positions; weak */
.open-positions {
    height: 100%;

    @include mobile {
        flex: 1;

        &-multiplier {
            /* postcss-bem-linter: ignore */
            & .data-list__item {
                background-color: var(--general-section-1);
                border-radius: $BORDER_RADIUS;
                padding: 0;

                /* postcss-bem-linter: ignore */
                &--wrapper {
                    padding: 0 1.6rem;
                }
                /* postcss-bem-linter: ignore */
                & .dc-progress-slider--completed {
                    display: none;
                }
                /* postcss-bem-linter: ignore */
                & .dc-contract-card {
                    background-color: unset;
                    /* postcss-bem-linter: ignore */
                    &__wrapper {
                        background-color: var(--general-section-1);
                        max-width: unset;
                        margin: 0;
                    }
                    /* postcss-bem-linter: ignore */
                    &-item__footer {
                        background-color: var(--general-section-1);
                    }
                    /* postcss-bem-linter: ignore */
                    &__grid-underlying-trade {
                        border-bottom: 1px solid var(--general-main-1);
                        margin-bottom: 5px;
                    }
                    /* postcss-bem-linter: ignore */
                    &__grid-items {
                        grid-template-columns: 1fr 1fr 1fr;
                        margin-top: 0.4rem;
                        margin-bottom: 0.4rem;
                    }
                    /* postcss-bem-linter: ignore */
                    &__sell-button {
                        border-top: 1px solid var(--general-main-1);
                    }
                    /* postcss-bem-linter: ignore */
                    &-item {
                        /* postcss-bem-linter: ignore */
                        &__total-profit-loss {
                            border-color: var(--general-main-1);
                        }
                        /* postcss-bem-linter: ignore */
                        &:nth-child(1) {
                            order: 0;
                        }
                        /* postcss-bem-linter: ignore */
                        &:nth-child(3),
                        &:nth-child(5) {
                            order: 2;
                        }
                        /* postcss-bem-linter: ignore */
                        &:nth-child(6) {
                            order: 6;
                        }
                    }
                }
                /* postcss-bem-linter: ignore */
                & .dc-contract-card-items-wrapper--mobile {
                    margin-top: 0.8rem;
                }
                /* postcss-bem-linter: ignore */
                & .dc-contract-card-dialog-toggle {
                    top: 71px;
                    width: 124px;
                    right: 9px;
                    border-color: var(--border-hover);

                    @media only screen and (max-width: 380px) {
                        width: 110px;
                        height: 79px;
                        right: 10px;
                    }
                    @media only screen and (max-width: 320px) {
                        top: 72px;
                        width: 91px;
                        height: 80px;
                    }
                    @media (max-width: 320px) and (max-height: 480px) {
                        top: 70px;
                        height: 80px;
                    }
                }
            }
            /* postcss-bem-linter: ignore */
            & .open-positions__data-list-body {
                padding: 0;
                height: calc(100% - 48px);
            }
            /* postcss-bem-linter: ignore */
            & .open-positions__data-list-footer {
                height: 48px;
                min-height: 48px;
                font-weight: bold;
                align-items: center;
                padding: 0;

                /* postcss-bem-linter: ignore */
                &--content {
                    padding: 0 1.6rem;
                    display: grid;
                    grid-template-columns: 0.7fr 1fr;

                    /* postcss-bem-linter: ignore */
                    .profit {
                        align-items: flex-start;
                    }
                }
            }
        }
        &__data-list {
            margin-top: 0.8rem;
        }
        &__data-list-body {
            height: calc(100% - 95px);
            padding: 0 2.4rem;

            .dc-progress-bar__container {
                max-width: 120px;
            }
        }
        &__data-list-footer {
            height: 95px;
            min-height: 95px;
            font-weight: bold;
            align-items: flex-start;
            padding: 0.8rem 4rem 0 1rem;

            &--title {
                font-size: 1.4rem;
                font-weight: bold;
                color: var(--text-prominent);
            }
            &--content {
                flex: 1;
                padding-left: 32px;
                display: flex;
                justify-content: space-between;

                .purchase,
                .indicative {
                    padding-bottom: 8px;
                }
            }
            .data-list__row-title {
                font-size: 1rem;
                line-height: 1.4rem;
            }
            .data-list__row-content {
                font-size: 1rem;
                line-height: 1.4rem;
                color: var(--text-prominent);
            }
        }
        .dc-contract-card__no-resale-msg {
            display: flex;
            font-size: 1.4rem;
            color: var(--text-general);
            justify-content: center;
            padding: 0.8rem 0rem;
        }
    }

    &__content {
        width: 100%;
        max-height: 100%;
    }
    &__indicative {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        width: 100%;

        &--amount {
            display: flex;
            align-items: center;
            @include desktop {
                line-height: 2;
            }
        }
        .dc-btn--sell {
            height: 2.4rem;
        }
    }
    &__profit-loss {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;

        &--movement {
            width: 16px;
            height: 16px;

            &-complete,
            &-complete:after {
                display: none;
            }
            &:after {
                content: '';
                width: 16px;
            }
        }
        &--negative {
            color: var(--text-loss-danger);

            &:before {
                content: '-';
                color: inherit;
            }
        }
        &--positive {
            color: var(--text-profit-success);

            &:before {
                content: '+';
                color: inherit;
            }
        }
    }
    /*
        TABLE STYLES
    */
    &__table {
        height: calc(100% - 24px);
        flex: 1;
        margin-top: 20px;

        .table__head {
            @include desktop {
                .profit,
                .indicative {
                    white-space: break-spaces;
                }
            }

            .table__cell {
                padding-top: 0px;
                padding-bottom: 0px;
                font-weight: bold;
            }
        }
        .table__body {
            .open-positions__row_wrapper {
                border-bottom: 1px solid var(--general-section-1);
            }
        }
        .table__foot {
            font-weight: bold;
        }
    }
    &__row {
        /* icon refId currency buy_price potential_payout potential_profit indicative_price rem_time */
        /* stylelint-disable-next-line declaration-colon-space-after */
        grid-template-columns:
            minmax(110px, 0.8fr) minmax(130px, 1.2fr) minmax(100px, 1fr) minmax(90px, 1.4fr) minmax(90px, 1.4fr)
            minmax(120px, 2fr) minmax(120px, 1.2fr) minmax(85px, 2fr);
        width: 100%;
        grid-auto-rows: auto;

        &_wrapper {
            display: flex;
            flex-direction: row;
            height: 100%;
        }
    }
    &__reports-meta {
        @include mobile {
            padding-bottom: 0px;
        }
    }
    .buy_price,
    .payout,
    .indicative,
    .purchase,
    .profit {
        @include desktop {
            justify-content: flex-end;
            text-align: right;
        }
    }
    .indicative {
        @include desktop {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    .type {
        padding-right: 0;
    }
    .dc-progress-slider {
        border: none;
        margin: 0;

        &__ticks {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-step {
                background: var(--state-hover);
            }
            &-wrapper {
                margin-top: 6px;
            }
            &-caption {
                padding: 0;
                margin-right: 8px;
                white-space: nowrap;
            }
        }
    }
    .market-symbol-icon {
        @include mobile {
            width: 80px;
        }
    }
}

/** @define open-positions-multiplier; weak */
.open-positions-multiplier {
    .open-positions {
        &__row {
            /* icon multiplier currency stake cancellation buy_price limit_order current_stake total_profit_loss action */
            /* stylelint-disable-next-line declaration-colon-space-after */
            grid-template-columns:
                minmax(85px, 0.7fr) minmax(75px, 0.8fr) minmax(65px, 0.5fr) minmax(105px, 0.8fr) minmax(100px, 0.8fr)
                minmax(105px, 1fr) minmax(105px, 1fr) minmax(105px, 1.2fr) minmax(115px, 1.1fr) minmax(90px, 1.2fr);

            &-action {
                display: flex;
                flex-direction: column;
                flex: 1;

                .dc-remaining-time {
                    margin-left: 0.4rem;
                    font-size: inherit;
                }
                .dc-btn {
                    height: 2.4rem;
                    padding: 0 0.8rem;

                    .dc-btn__text {
                        font-size: 1.2rem;
                    }
                    &:first-child {
                        margin-bottom: 0.4rem;
                    }
                }
            }
            .limit_order {
                flex-direction: column;
                align-items: flex-end;
                text-align: right;
            }
            .limit_order,
            .cancellation,
            .bid_price {
                @include desktop {
                    justify-content: flex-end;
                    text-align: right;
                    width: 100%;
                    white-space: break-spaces;
                }
            }
            .action {
                padding-top: 0.8rem;
                padding-bottom: 0;
            }
        }
        &__bid_price {
            font-weight: bold;

            &--negative {
                color: var(--text-loss-danger);
            }
            &--positive {
                color: var(--text-profit-success);
            }
        }
    }
}

/** @define empty-trade-history; weak*/
.empty-trade-history {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: auto;

    &__icon {
        width: 96px;
        height: 96px;
        margin-bottom: 16px;
        @include colorIcon(var(--text-disabled));
    }
    &__text {
        font-size: em(14px);
        text-align: center;
        line-height: 20px;
        color: var(--text-disabled);
    }
    .dc-btn {
        width: 100%;
        height: 40px;
        border: 1px solid var(--button-secondary-default);
        color: var(--text-general);
        background: transparent;

        &:hover {
            background: var(--button-secondary-hover);
        }
    }
}
