@import '../_common/base/index';
@import '../_common/components/composite-calendar';
@import '../_common/components/data-table';

$side-padding: 1.2em;

/** @define reports; weak */
.reports {
    height: 100%;

    &__meta {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 24px 16px;

        &-description {
            &--heading {
                @include typeface(--title-left-bold-black, none);
                color: var(--text-prominent);
                line-height: 1.55;
            }
            &--paragraph {
                @include typeface(--paragraph-left-normal-black, none);
                color: var(--text-general);

                @include mobile {
                    padding: 0.8rem 0 1.6rem;
                }
            }
            @include mobile {
                margin-top: 0.8rem;
            }
        }
        &-filter {
            position: relative;
            display: flex;
        }

        @include desktop {
            align-items: center;
        }

        @include mobile {
            flex-direction: column;
            padding-bottom: 0;

            &-filter {
                padding-bottom: 1.6rem;
            }
        }
    }
    &__mobile-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .unknown-icon {
        margin-left: 8px;
        fill: var(--text-general);
        border-radius: $BORDER_RADIUS;
    }
    /* postcss-bem-linter: ignore */
    .dc-tabs--open-positions {
        flex: 1;
        grid-template-rows: 36px calc(100% - 36px);

        .dc-tabs__content {
            display: flex;
            height: 100%;
        }
    }
}

/** @define reports-page-wrapper; weak */
.reports-page-wrapper {
    height: 100%;
}

/** @define statement; weak */
.statement {
    @include desktop {
        height: 100%;
    }

    @include mobile {
        flex: 1;

        &__data-list-body,
        &__data-list-footer {
            padding: 0 24px;
        }
        &__data-list-body {
            height: 100%;

            .action_type {
                display: flex;
                flex: none;
                align-items: center;

                &__row-title {
                    display: none;
                }
            }
        }
    }

    &__content {
        width: 100%;
        max-height: 100%;
    }
    /*
        TABLE STYLES
    */
    &__table {
        height: calc(100% - 42px);
        flex: 1;
    }
    &__row {
        /*                     icon   refId tr_time  transaction cred/debt  balance */
        grid-template-columns: 0.8fr 1.2fr 1fr 0.8fr 1fr 1fr;

        // we need higher specificity than just &--detail here
        // because otherwise table styling will override statement styling on first load
        /* postcss-bem-linter: ignore */
        &.statement__row--detail {
            overflow: hidden;
            max-height: 63px;
            height: 63px;
            display: flex;
            align-items: center;
            padding: 0;
            justify-content: center;
            background-color: var(--general-section-1);

            /* postcss-bem-linter: ignore */
            &-text {
                padding: 1.12em;
            }
        }
        .date {
            text-align: left;
        }
        .table__cell {
            height: 63px;
        }
    }
    .amount,
    .balance {
        justify-content: flex-end;
    }
    .amount {
        font-weight: bold;

        &--profit {
            color: var(--text-profit-success);
        }
        &--loss {
            color: var(--text-loss-danger);
        }
    }
    .refid {
        @include mobile {
            display: flex;
            flex-direction: row;

            &__row-title {
                margin-right: 4px;
            }
        }
    }
    .market-symbol-icon {
        @include mobile {
            width: 80px;
        }
    }
    /*
        MOBILE CARDS
    */
    &--card-view {
        background: var(--general-main-2);
        overflow: hidden;

        .statement__filter {
            padding: 0 $side-padding;
            border-bottom: 1px solid var(--general-section-1);

            &-content {
                padding: 0;
                margin: 0 auto;
                max-width: 450px;
                display: grid;
                grid-template-columns: 1fr 3em 1fr;
                text-align: center;

                .datepicker__input-field {
                    width: 100%;
                }
            }
            &-label {
                display: none;
            }
        }
        .statement__content {
            padding: 0;
        }
        .statement__card-list {
            padding: 0 $side-padding;
            height: 100%;
        }
    }
}

/** @define statement-card */
.statement-card {
    &__header {
        font-size: 1em;
        padding: 0.5em;
        border-bottom: 1px solid var(--general-section-1);
        display: flex;
        justify-content: space-between;
    }
    /* postcss-bem-linter: ignore */
    &__refid a {
        color: $COLOR_SKY_BLUE;
        text-decoration: none;
    }
    &__body {
        padding: 0.5em;
        font-size: 1.2em;
    }
    &__desc {
        margin-bottom: 0.7em;
    }
    &__row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-weight: bold;
    }
    &__cell-text {
        vertical-align: middle;
    }
    &__amount {
        &--sell,
        &--deposit {
            color: var(--text-profit-success);
        }
        &--buy,
        &--withdrawal {
            color: var(--text-loss-danger);
        }
    }
    &__icon {
        display: inline-block;
        height: 1.6em;
        width: 1.6em;
        background-size: 1.6em 1.6em;
        vertical-align: middle;
        margin-right: 0.5em;
    }
}

/** @define statement-empty */
.statement-empty {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__icon {
        height: 6.4em;
        width: 6.4em;
        margin-bottom: 1.4em;
    }
    &__text {
        font-size: 1.4em;
    }
}

/** @define profit-table; weak */
.profit-table {
    @include desktop {
        height: 100%;
    }

    @include mobile {
        flex: 1;

        &__data-list-body,
        &__data-list-footer {
            padding: 0 24px;
        }
        &__data-list-body {
            height: calc(100% - 50px);

            .sell_time__row-title {
                display: flex;
                align-items: center;

                .dc-icon {
                    margin-left: 4px;
                }
            }
        }
        &__data-list-footer {
            height: 50px;
            min-height: 50px;
            font-weight: bold;

            .data-list__row__content {
                font-size: 1.2rem;
                color: var(--text-prominent);
            }
            .data-list__row {
                padding: 0;
            }
        }
    }

    &__content {
        width: 100%;
        max-height: 100%;
    }
    /*
        TABLE STYLES
    */
    &__table {
        height: calc(100% - 42px);
        flex: 1;
    }
    &__row {
        /*                     icon   refId buy_time  buy_price sell_time  sell_price profit/loss */
        grid-template-columns: 0.8fr 1.2fr 1fr 0.8fr 1fr 1fr 1fr;
    }
    .buy_price,
    .sell_price,
    .profit_loss {
        @include desktop {
            justify-content: flex-end;
        }
        @include mobile {
            justify-content: center;
        }
    }
    .sell_time,
    .purchase_time {
        text-align: left;
    }
    .profit_loss {
        font-weight: bold;
    }
    .transaction_id {
        @include mobile {
            display: flex;
            flex-direction: row;

            &__row-title {
                margin-right: 4px;
            }
        }
    }
    .market-symbol-icon {
        @include mobile {
            width: 80px;
        }
    }
    .duration-type {
        flex: none;
        position: relative;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 16px;
        font-size: 1.4rem;
        font-weight: bold;

        &__background {
            position: absolute;
            height: 100%;
            width: 100%;
            opacity: 0.16;
            border-radius: 16px;
        }
        &__ticks {
            color: $color-yellow;

            &__background {
                background: $color-yellow;
            }
        }
        &__seconds {
            color: $color-green-1;

            &__background {
                background: $color-green-1;
            }
        }
        &__minutes {
            color: $color-blue-1;

            &__background {
                background: $color-blue-1;
            }
        }
        &__hours {
            color: $COLOR_BLUE;

            &__background {
                background: $COLOR_BLUE;
            }
        }
        &__days {
            color: $color-purple;

            &__background {
                background: $color-purple;
            }
        }
    }
}

/** @define open-positions; weak */
.open-positions {
    height: 100%;

    @include mobile {
        flex: 1;

        &__data-list-body {
            height: calc(100% - 95px);
            padding: 0 2.4rem;

            .dc-progress-bar__container {
                max-width: 120px;
            }
        }
        &__data-list-footer {
            height: 95px;
            min-height: 95px;
            font-weight: bold;
            align-items: flex-start;
            padding: 1.6rem 4rem 0px;

            &--title {
                font-size: 1.4rem;
                font-weight: bold;
                color: var(--text-prominent);
            }
            &--content {
                flex: 1;
                padding-left: 32px;
                display: flex;
                justify-content: space-between;

                .purchase,
                .indicative {
                    padding-bottom: 8px;
                }
            }
            .data-list__row-title {
                font-size: 1rem;
                line-height: 1.4rem;
            }
            .data-list__row-content {
                font-size: 1rem;
                line-height: 1.4rem;
                color: var(--text-prominent);
            }
        }
    }

    &__content {
        width: 100%;
        max-height: 100%;
    }
    &__indicative {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;

        &--amount {
            display: flex;
            align-items: center;
            line-height: 16px;
        }
        &-no-resale-msg {
            clear: both;
            text-align: right;
            font-size: smaller;
        }
    }
    &__profit-loss {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;

        &--movement {
            width: 16px;
            height: 16px;

            &-complete,
            &-complete:after {
                display: none;
            }
            &:after {
                content: '';
                width: 16px;
            }
        }
        &--negative {
            color: $COLOR_RED;

            &:before {
                content: '-';
                color: inherit;
            }
        }
        &--positive {
            color: var(--brand-secondary);

            &:before {
                content: '+';
                color: inherit;
            }
        }
    }
    /*
        TABLE STYLES
    */
    &__table {
        height: calc(100% - 24px);
        flex: 1;
        margin-top: 20px;
    }
    &__row {
        /*                     icon   refId buy_price  potential_payout potential_profit  indicative_price rem_time */
        grid-template-columns: 0.8fr 1.2fr 1fr 1fr 1fr 1fr 1fr;
        width: 100%;

        &-action {
            display: flex;
            align-items: center;
            padding-right: 24px;
            min-width: 194px;

            .remaining-time {
                margin-left: 0.4rem;
            }
            .dc-btn {
                height: 2.4rem;
                padding: 0 8px;

                & + .dc-btn {
                    margin-left: 8px;
                }
            }
        }
        &_wrapper {
            display: flex;
            flex-direction: row;
        }
    }
    &__reports-meta {
        @include mobile {
            padding-bottom: 0px;
        }
    }
    .buy_price,
    .payout,
    .indicative,
    .profit {
        @include desktop {
            justify-content: flex-end;
        }
    }
    .type {
        padding-right: 0;
    }
    .progress-slider {
        border: none;
        margin: 0;

        &__ticks {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-step {
                background: var(--state-hover);
            }
            &-wrapper {
                margin-top: 6px;
            }
            &-caption {
                padding: 0;
                margin-right: 8px;
                white-space: nowrap;
            }
        }
    }
    .market-symbol-icon {
        @include mobile {
            width: 80px;
        }
    }
    .reference {
        @include mobile {
            display: flex;
            flex-direction: row;

            &__row-title {
                margin-right: 4px;
            }
        }
    }
}

/** @define open-positions-multiplier; weak */
.open-positions-multiplier {
    .open-positions__row {
        /*                     icon   stake multiplier cancellation take_profit  stop_loss potential_profit_loss */
        grid-template-columns: 0.7fr 1fr 0.7fr 1fr 1fr 1fr 1fr;

        &-action {
            .remaining-time {
                font-size: inherit;
            }
        }
    }
}

/** @define empty-trade-history; weak*/
.empty-trade-history {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: auto;

    &__icon {
        width: 96px;
        height: 96px;
        margin-bottom: 16px;
        @include colorIcon(var(--text-disabled));
    }
    &__text {
        font-size: em(14px);
        text-align: center;
        line-height: 20px;
        color: var(--text-disabled);
    }
    .dc-btn {
        width: 100%;
        height: 40px;
        border: 1px solid var(--button-secondary-default);
        color: var(--text-general);
        background: transparent;

        &:hover {
            background: var(--button-secondary-hover);
        }
    }
}
