/* @define reset-password */
.reset-password {
    margin: 1.6rem 1.6rem 0;

    &__residence-selection, &__password-selection {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: nowrap column;
    }
    &__password-selection {
        .reset-password__heading {
            margin-bottom: 3.3rem;
        }
    }
    &__heading {
        font-weight: bold;
        text-align: center;
        margin-bottom: 0.8rem;
    }
    &__text {
        text-align: center;
        margin-bottom: 3.3rem;
    }
    &__subtext {
        font-size: 1.2rem;
        text-align: center;
        margin: 1rem 0 2.4rem;
    }
    &__btn {
        margin: 0;
        background-color: var(--button-primary-default);
        font-weight: bold;
        color: var(--text-colored-background);
        font-size: 1.2rem;

        &:hover {
            background-color: var(--button-primary-hover);
        }
        &--disabled {
            opacity: 0.32;
            cursor: not-allowed !important;
        }
    }
    &__fiedlset {
        position: relative;
    }
    &__residence-field {
        width: 30rem;
    }
    &__password-field {
        width: 30rem;

        /* postcss-bem-linter: ignore */
        & > label {
            background-color: var(--general-main-2);
        }
    }
}
