/** @define chart-spot */
.chart-spot {
    display: flex;
    flex-direction: column;

    &__spot {
        position: absolute;
        bottom: -11px;
        margin-left: -11.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        color: var(--text-prominent);
        background-color: var(--general-main-1);
        border: 2px solid var(--text-less-prominent);

        &--lost {
            border-color: var(--text-loss-danger);
            background: var(--text-loss-danger);
        }
        &--won {
            background-color: var(--text-profit-success);
            border-color: var(--text-profit-success);
        }
        &--won, &--lost {
            color: $COLOR_WHITE;
        }
    }
    &__entry {
        left: -12px;
        top: -12px;
        position: relative;
        border: 6px solid var(--brand-red-coral);
        background-color: var(--general-main-2);
    }
    &__spot, &__entry {
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }
    &__sell {
        border-radius: 50%;
        width: 2px;
        height: 2px;
        margin-left: -2px;
        margin-top: -2px;
        background-color: var(--text-prominent);
        border: 2px solid var(--text-prominent);
    }
}

/** @define chart-spot-label */
.chart-spot-label {
    &__info-container {
        width: 100%;
        position: relative;
    }
    &__time-value-container {
        position: absolute;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;

        &--top {
            bottom: 21px;

            .chart-spot-label__time-container {
                margin-bottom: 2px;
            }
        }
        &--bottom {
            top: 18px;
            flex-direction: column-reverse;

            .chart-spot-label__time-container {
                margin-top: 2px;
            }
        }
    }
    &__time-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 8px;

        /* postcss-bem-linter: ignore */
        svg {
            /* postcss-bem-linter: ignore */
            g {
                stroke: var(--text-prominent);
            }
        }
    }
    &__time {
        color: var(--text-prominent);
        font-size: 10px;
    }
    &__time-icon {
        margin-right: 2px;
    }
    &__value-container {
        background: var(--text-less-prominent);
        font-size: 14px;
        padding: 4px 8px;
        border-radius: 11px;

        /* postcss-bem-linter: ignore */
        p {
            font-weight: bold;
            color: $color-white;
            margin-top: 2px;
        }
        &--lost {
            background-color: var(--text-loss-danger);
        }
        &--won {
            background-color: var(--text-profit-success);
        }
        &--won, &--lost {
            color: var(--text-colored-background);
        }
    }
}

/** @define chart-marker-line */
.chart-marker-line {
    height: 94.5%;
    margin-bottom: 0.8em;
    z-index: 0 !important;
    bottom: -100%;
    transition: none;

    &__wrapper {
        border-left-width: 2px;
        padding-left: 0.5em;
        height: 100%;
        border-color: var(--text-less-prominent);
    }
    &__icon {
        position: absolute;
        bottom: -23px;
        left: -11px;
        white-space: nowrap;

        &--time {
            /* postcss-bem-linter: ignore */
            path {
                fill: var(--text-less-prominent);
            }
        }
        &--won {
            /* postcss-bem-linter: ignore */
            circle {
                fill: var(--text-profit-success);
            }
        }
        &--lost {
            /* postcss-bem-linter: ignore */
            circle {
                fill: var(--text-loss-danger);
            }
        }
    }
    &--solid {
        border-left-style: solid;
    }
    &--dash {
        border-left-style: dashed;
    }
}
