/** @define dc-modal; weak */
.dc-modal {
    &-header {
        /* postcss-bem-linter: ignore */
        &--trade-params {
            display: none;
        }
    }
}

/** @define trade-params; weak */
.trade-params {
    &__duration {
        &-tickpicker {
            height: 400px;

            .dc-tick-picker {
                max-width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;
            }
        }
    }
    &__amount {
        &-keypad {
            width: 100%;
            min-height: 380px;
            padding: 16px;
            display: flex;
            align-items: center;
            justify-content: center;

            .dc-numpad--is-currency,
            .dc-numpad--is-regular {
                max-width: 100%;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 16px;
            }
            .dc-numpad__number {
                border-radius: 2.4rem;
                background-color: var(--general-section-2);
                width: 48px;
                height: 48px;
                font-size: 1.6rem;
                font-weight: 700;
                text-transform: none;
                line-height: 1.75;
                color: var(--text-prominent);
                text-align: left !important;
            }
            .dc-numpad__bkspace,
            .dc-numpad__ok {
                .dc-numpad__number {
                    height: 100%;
                }
            }
        }
    }
}
