.dw-account-wizard {
    width: 100%;
    padding: 0 2.4rem;
    display: flex;
    flex-direction: column;
    background-color: var(--fill-normal);

    @include mobile {
        padding: 0 1.6rem;
    }

    &__header {
        border-radius: 0.8rem;

        display: flex;
        flex-direction: column;

        &-steps {
            padding: 0.8rem 2.4rem 1.6rem;
            background: var(--general-section-3);
            display: flex;
        }
        &-step {
            display: flex;
            align-items: center;
            flex: 1;
            position: relative;

            @include desktop {
                padding: 1.6rem 0;
                justify-content: center;
            }

            &:not(&--disabled) {
                cursor: pointer;
            }
            &--active {
                .dw-account-wizard__header-step-line {
                    background: var(--text-prominent);
                }
            }
            &-line {
                position: absolute;
                height: 2px;
                left: 0px;
                right: -0.4px;
                bottom: 0px;
                background: var(--border-normal);
            }
            &-title-wrapper {
                display: flex;
                flex-direction: column;
                flex: 1;
            }
            svg {
                margin-right: 0.8rem;
            }
        }

        &-active-title {
            padding: 4rem 0 1.6rem;
            border-bottom: 2px solid var(--text-disabled);

            @include mobile {
                padding: 1.6rem 0 0.8rem;
            }
        }
    }

    .wizard__main-step {
        display: flex;
        flex-direction: column;
        flex: 1;

        @include mobile {
            padding-top: 2rem;
        }
        form {
            display: flex;
            flex-direction: column;
            flex: 1;
        }
        .dc-themed-scrollbars {
            padding-top: 4rem;
        }
    }
    .dc-form-submit-button {
        &--has-cancel {
            justify-content: space-between;
        }
        &--absolute {
            padding: 0.8rem 1.6rem;
            bottom: 0rem;
        }
    }

    .details-form {
        flex: 1;
        align-content: unset;

        > .dc-themed-scrollbars {
            .details-form__elements {
                flex-grow: unset;
                padding: 1rem 0 0;
            }
        }

        &__elements {
            .dc-input {
                @include desktop {
                    min-width: 328px;

                    &__label {
                        left: 1.6rem;
                        top: 1.6rem;
                    }
                    &__field {
                        padding: 1.6rem;
                        height: unset;

                        /* Not empty fields */
                        &:focus,
                        &:disabled,
                        &:not(:focus):not([value='']) {
                            & ~ label {
                                transform: translate(-0.5rem, -2.4rem) scale(0.75);
                            }
                        }
                    }
                }

                @include mobile {
                    label {
                        background-color: var(--fill-normal);
                    }
                }
            }
            .dc-select-native__placeholder {
                @include mobile {
                    background-color: var(--fill-normal);
                }
            }
        }

        @include desktop {
            .dc-autocomplete,
            .dc-radio-group {
                margin-bottom: 3.2rem;
            }
            .dc-field--error {
                top: 5.5rem;
            }
        }
    }
    .terms-of-use {
        @include mobile {
            padding: 0;
        }
    }
}

.cancel-progress-modal {
    @include mobile {
        .dc-dialog__dialog {
            max-width: 32rem;
        }
        .dc-dialog__footer {
            .dc-btn {
                flex: 1;
                margin-bottom: 0;
            }
        }
    }
}
