.p2p-v2-profile-balance {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    grid-gap: 2.4rem;

    @include mobile {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }

    &__amount {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @include mobile {
            gap: 0;
        }

        & div {
            display: flex;
            align-items: center;
            gap: 0.4rem;
        }
    }

    &__label {
        display: block;
    }

    &__items {
        display: grid;
        grid-auto-flow: column;

        @include mobile {
            grid-template-columns: 1fr 1fr;
        }
    }

    &__daily-limits {
        border-top: 1px solid #f2f3f4;
        padding-top: 1.1rem;
        display: flex;
        gap: 1.6rem;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        @include mobile {
            border-right: 1px solid #f2f3f7;
            gap: 1rem;

            &:last-child {
                border-right: none;
                padding: 0 1.6rem;
            }
        }

        &-limits {
            display: grid;
            grid-template-columns: 1fr 1fr;

            @include mobile {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 0.8rem;
            }

            & div {
                border-left: 1px solid #f2f3f7;
                padding: 0 3rem;

                &:first-child {
                    border-left: none;
                    padding-left: 0;
                }

                @include mobile {
                    border-left: none;
                    padding: 0;
                }
            }
        }
    }
}
