.p2p-v2-my-profile-daily-limit {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.4rem;
    &--bold {
        font-weight: 700;
    }

    & span {
        flex: 1;
        font-size: 1.2rem;
    }
}
