.payment-agent-transfer-form {
    // TODO: [fix-dc-bundle] Fix import issue with Deriv Component stylesheets (app should take precedence, and not repeat)
    &__container {
        padding: 0 15.6rem;
        display: block !important;
    }
    &__input {
        margin-bottom: 2.55rem;

        .dc-input {
            &__container {
                padding: 0.5rem 1rem;
            }
        }

        &-area {
            margin-bottom: 0.5rem;

            .dc-input {
                &__counter {
                    top: 9.7rem;
                    right: 0;
                }
                &__container {
                    height: 9.8rem;
                }
                &__field[type='textarea'] {
                    height: 8.6rem;
                }
            }
        }
    }
    @include mobile {
        &__container {
            width: calc(100% - 3.2rem);
            margin: 0 1.6rem;
            padding: 2.4rem 0 0;

            & .dc-input__field[type='textarea'] {
                height: 11.9rem;
            }
        }
        &__input {
            &-container {
                grid-template-columns: 1fr;
            }
            &-area {
                margin-bottom: 1.6rem;

                .dc-input {
                    &__counter {
                        top: 11.7rem;
                    }
                    &__container {
                        height: 12.1rem;
                    }
                    &__field[type='textarea'] {
                        padding-top: 1rem;
                    }
                }
            }
            &:not(:first-child) {
                margin-left: unset;
                margin-bottom: 2.8rem;
            }
        }
        &__submit-button {
            width: auto;
            margin-top: 1.6rem;
            padding: 0 1.25rem;
        }
    }
}
