/** @define dc-themed-scrollbars */
.dc-themed-scrollbars {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    /* Firefox only */
    scrollbar-color: var(--state-active) var(--general-main-1);
    scrollbar-width: thin;

    &__autohide {
        &::-webkit-scrollbar-thumb {
            display: none;
        }
        &--is-hovered {
            &::-webkit-scrollbar-thumb {
                display: unset;
            }
        }
    }
    &--has-horizontal {
        overflow-x: auto;
    }
    &--only-horizontal {
        overflow-y: hidden;
        overflow-x: auto;

        &-overlay {
            overflow-y: hidden;
            overflow-x: overlay;
        }
    }
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background-color: transparent;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: var(--state-active);
    }
}
