/** @define dc-themed-scrollbars */
.dc-themed-scrollbars {
    &__autohide {
        &::-webkit-scrollbar-thumb {
            display: none;
        }
        &--is-hovered {
            &::-webkit-scrollbar-thumb {
                display: unset;
            }
        }
    }
    &::-webkit-scrollbar {
        width: 5px;
        background-color: var(--general-main-1);
        border-radius: 10px;
        /* Firefox only */
        scrollbar-color: var(--state-active);
        scrollbar-width: thin;
    }
    &::-webkit-scrollbar-track {
        background-color: var(--general-main-1);
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: var(--state-active);
    }
    &--secondary {
        &::-webkit-scrollbar {
            background-color: var(--general-section-1);
        }
        &::-webkit-scrollbar-track {
            background-color: var(--general-section-1);
        }
    }
    &--tertiary {
        &::-webkit-scrollbar {
            background-color: var(--general-main-2);
        }
        &::-webkit-scrollbar-track {
            background-color: var(--general-main-2);
        }
    }
}
