.cashier-breadcrumb {
    width: 100%;
    margin-bottom: 1.6rem;

    ul > *:not(:last-child) {
        cursor: pointer;
    }

    li {
        text-align: left;
    }

    @include mobile {
        margin-top: 1.6rem;
    }
}
