.open-real-account-dialog {
    @include mobile {
        .dc-dialog {
            &__dialog {
                max-width: 32rem;
            }
            &__content {
                font-size: 1.2rem;
            }
            &__button {
                font-size: 1.2rem;
            }
        }
    }
}
