.wallets-added-dxtrade {
    &__chevron {
        width: fit-content;

        @include rtl {
            transform: rotate(180deg);
        }
    }

    &__icon {
        width: fit-content;
    }

    &__details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-grow: 1;
    }
}
