.switcher-status-badge {
    &__parent {
        display: flex;
    }

    &__container {
        display: flex;
        padding: 2px 7px;
        border-radius: 4px;
        align-items: center;
        white-space: nowrap;
        font-size: var(--text-size-xxs);

        &--migrated_with_position,
        &--migrated_without_position,
        &--under_maintenance,
        &--unavailable {
            display: inline-flex;
            border: 1.5px solid var(--status-warning);
            color: var(--status-warning);
            font-size: var(--text-size-xxxs);
            align-items: center;
        }

        &--pending {
            height: 2.4rem;
            justify-content: center;
            color: var(--status-warning-dark);
            background-color: var(--status-warning-transparent);
            text-decoration: underline;
            font-weight: bold;
        }

        &--needs_verification {
            background-color: var(--status-info-transparent);
            color: var(--status-info);
            text-decoration: underline;
            font-weight: bold;
        }
        &--failed,
        &--rejected,
        &--suspected {
            height: 2.4rem;
            border-color: var(--status-danger);
            color: $color-status-danger;
            font-weight: bold;
            text-decoration: underline;
            background-color: var(--status-danger-transparent);
        }

        &--verified {
            height: 2.4rem;
            margin-top: 0.1rem;
            color: $color-status-verified;
            background-color: var(--status-success-transparent);
            font-weight: bold;
        }

        &--icon {
            padding: 0.1rem 0.5rem 0 0;
        }

        &__arrow {
            padding-left: 1rem;
        }
    }
}
