.invalid-verification-link-modal {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--footer {
        align-self: center;
    }

    &--text {
        margin: 2.4rem 0;
    }
}
