/** @define btn */
.btn {
    font-size: 1em;
    display: inline-block;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    padding: 0 1.6em;
    margin: 1.6em;
    border: 0;
    border-radius: 4px;
    height: 3.2em; // 32px
    min-width: 9.6em; // 96px
    transition: all 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
    outline: 0;
    position: relative;
    background: $COLOR_GREEN_1;

    &__text {
        @include typeface(--paragraph-center-bold-black, unset);
    }
    &--link {
        max-width: 220px;
        margin: 1em auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }
    &:not([disabled]):hover {
        text-decoration: none;
    }
    &--primary {
        .btn__text {
            color: $COLOR_WHITE;
        }
        &--orange {
            background: $COLOR_ORANGE;

            &:hover:not([disabled]) {
                background: rgba($COLOR_ORANGE, 0.84);
            }
            &:active:not([disabled]) {
                background: $COLOR_ORANGE;
            }
            /* postcss-bem-linter: ignore */
            &.effect:focus:not(:active):after {
                border: 0 solid $COLOR_ORANGE;
            }
        }
        &--green {
            background: $COLOR_GREEN_1;

            &:hover:not([disabled]) {
                background: $COLOR_GREEN_2;
            }
            &:active:not([disabled]) {
                background: $COLOR_GREEN_1;
            }
            /* postcss-bem-linter: ignore */
            &.effect:focus:not(:active):after {
                border: 0 solid $COLOR_GREEN_1;
            }
        }
        &:disabled, &[disabled] {
            background: $COLOR_LIGHT_BLACK_4;
            cursor: not-allowed;

            .btn__text {
                color: $COLOR_LIGHT_BLACK_4;
            }
        }
    }
    &--secondary {
        background: transparent;

        &--orange {
            .btn__text {
                color: $COLOR_ORANGE;
            }
            &:hover:not([disabled]) {
                background: rgba($COLOR_ORANGE, 0.16);
            }
            &:active:not([disabled]) {
                color: $COLOR_ORANGE;
            }
            /* postcss-bem-linter: ignore */
            &.effect:focus:not(:active):after {
                border: 0 solid $COLOR_ORANGE;
            }
        }
        &--green {
            border: 1px solid $COLOR_GREEN_1;

            .btn__text {
                color: $COLOR_GREEN_1;
            }
            &:hover:not([disabled]) {
                border: 1px solid $COLOR_GREEN_2;
                color: $COLOR_GREEN_2;
                background: rgba(76, 175, 80, 0.1);
            }
            &:active:not([disabled]) {
                border: 1px solid $COLOR_GREEN_1;
                color: $COLOR_GREEN_1;
            }
            /* postcss-bem-linter: ignore */
            &.effect:focus:not(:active):after {
                border: 0 solid $COLOR_GREEN_1;
            }
        }
        &:disabled, &[disabled] {
            background: $COLOR_LIGHT_BLACK_4;
            border: 0 !important;
            color: $COLOR_LIGHT_BLACK_4 !important;
            cursor: not-allowed !important;
        }
    }
    &--flat {
        background: $COLOR_WHITE;

        .btn__text {
            color: #4c5794; /* stylelint-disable-line color-no-hex */
        }
        &:hover:not([disabled]) {
            background: #f2f3f8; /* stylelint-disable-line color-no-hex */
        }
        &:active:not([disabled]) span {
            color: #4c5794; /* stylelint-disable-line color-no-hex */
        }
        /* postcss-bem-linter: ignore */
        &.effect:focus:not(:active):after {
            border: 0 solid #4c5794; /* stylelint-disable-line color-no-hex */
        }
        &:disabled, &[disabled] {
            background: transparent !important;
            border: 1px solid $COLOR_LIGHT_BLACK_4 !important; /* stylelint-disable-line color-no-hex */
            cursor: not-allowed !important;

            .btn__text {
                color: $COLOR_LIGHT_BLACK_4 !important;
            }
        }
    }
    &--alternate {
        background: $COLOR_LIGHT_GRAY_2;
        border-color: $COLOR_LIGHT_GRAY_2;
        padding: 8px 0;
        text-align: center;
        line-height: 100%;
        font-size: 1.2em;
        font-weight: bold;

        .btn__text {
            color: $COLOR_DARK_BLUE_1;
        }
    }
    /* postcss-bem-linter: ignore */
    &.effect:focus:not(:active):after {
        content: '';
        position: absolute;
        top: -0.1em;
        left: -0.1em;
        bottom: -0.1em;
        right: -0.1em;
        border-radius: inherit;
        border: 0 solid $COLOR_DARK_BLUE_5;
        opacity: 0.4;
        animation: buttonEffect 0.4s;
        animation-fill-mode: forwards;
        display: block;
    }
}

@keyframes buttonEffect {
    to {
        opacity: 0;
        top: -0.6em;
        left: -0.6em;
        bottom: -0.6em;
        right: -0.6em;
        border-width: 6px;
    }
}
