.wallets-mt5-account-type {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0.8rem;
    background: var(--system-light-8-primary-background, #fff);

    &-content {
        height: 70vh;
        width: 85vw;
        display: flex;
        padding: 2.4rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2.4rem;
        flex: 1 0 0;
        align-self: stretch;

        @include mobile {
            flex-direction: column;
            align-items: center;
            display: flex;
            justify-content: flex-start;
            width: 100%;
            overflow-x: auto;
            height: 100%;
        }
    }
}
