.wallets-cashier-header {
    height: 16rem;
    padding-top: 2.4rem;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.6rem;

    @include mobile {
        padding-top: 0rem;
        height: fit-content;
    }

    &__close-button {
        all: unset;
        cursor: pointer;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 2.4rem;

        @include mobile {
            padding: 1.6rem 1.6rem 0rem;
        }

        &__top-left {
            display: flex;
            flex-direction: column;
            gap: 0.6rem;

            &__details {
                display: flex;
                gap: 2.4rem;
                align-items: center;

                @include mobile {
                    opacity: 1;
                    max-height: 2rem;
                    transition: opacity 0.25s ease, max-height 0.25s ease;
                    gap: 0.8rem;
                }

                &__title {
                    font-size: 1.6rem;

                    @include mobile {
                        font-size: 1.4rem;
                    }
                }
            }

            &__balance {
                font-size: 3.2rem;
                font-weight: 700;

                @include mobile {
                    font-size: 1.8rem;
                }
            }
        }

        &__top-right {
            display: flex;
            gap: 1.6rem;
            align-items: start;

            @include mobile {
                gap: 0.8rem;
            }

            &__icon > :first-child {
                @include mobile {
                    max-height: 4.8rem;
                    transition: opacity 0.2s ease, max-height 0.2s ease;
                }
            }
        }
    }

    &__tabs {
        display: flex;
        overflow-x: scroll;
        padding-inline: 2.4rem;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        @include mobile {
            padding-inline: 1.6rem;
        }

        &__tab {
            all: unset;
            display: flex;
            width: 14.4rem;
            height: 4.8rem;
            padding: 0rem 1.6rem;
            justify-content: center;
            align-items: center;
            gap: 0.8rem;
            flex-shrink: 0;
            font-size: 1.8rem;
            text-transform: capitalize;
            cursor: pointer;

            @include mobile {
                height: 4rem;
                font-size: 1.2rem;
                width: 8rem;
            }

            &--active {
                border-radius: 1.6rem 1.6rem 0rem 0rem;
                background-color: #ffffff;
                font-weight: 700;
            }
        }
    }

    &__hide-details {
        max-height: 0;
        opacity: 0;
    }

    &__hide-currency-icon > :first-child {
        max-height: 0;
        opacity: 0;
    }
}
