# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  aaron-binary
#  akmal-binary
#  ali-fs
#  amirghadimi-fs
#  ashkanx
#  bahar-fs
#  balakrishna-binary
#  carol-binary
#  mahdiaryayi-fs
#  mehrzad-fs
#  mustofa-binary
#  negar-binary
#  negarn
#  nijil-binary
#  reza-fs
#  salar-fs
#  sara-fs
#  zaki-binary



######################################################################################################
#
#  Team structure and memberships
#  ------------------------------
#
#  This section is here just because the GitHub UI is too hard to navigate and audit.
#
#  Any changes to team structure or memberships must first be made in this file and only then
#  implemented in the GitHub UI.
#######################################################################################################


# ==============================================================
#  binary-com/deriv-account
# ==============================================================
#  Used for approving all relevant changes to Account
#
#   - reza-fs
#   - zaki-binary

# ==============================================================
#  binary-com/deriv-bot
# ==============================================================
#  Used for approving all relevant changes to Bot
#
#   - aaron-binary
#   - bahar-fs
#   - carol-binary
#   - mehrzad-fs
#   - nijil-binary
#   - negarn

# ==============================================================
#  binary-com/deriv-core
# ==============================================================
#  Used for approving all relevant changes to Core
#
#   - aaron-binary
#   - balakrishna-binary


# ==============================================================
#  binary-com/deriv-p2p
# ==============================================================
#  Used for approving all relevant changes to P2P
#
#   - aaron-binary
#   - mustofa-binary
#   - negarn


# ==============================================================
#  binary-com/deriv-shared
# ==============================================================
#  Used for approving all relevant changes to Shared/Components
#
#   - akmal-binary
#   - ali-fs
#   - amirghadimi-fs
#   - balakrishna-binary
#   - reza-fs
#   - salar-fs
#   - sara-fs
#   - zaki-binary


# ==============================================================
#  binary-com/deriv-trader
# ==============================================================
#  Used for approving all relevant changes to Trader
#
#   - akmal-binary
#   - ali-fs
#   - amirghadimi-fs
#   - balakrishna-binary
#   - mahdiaryayi-fs
#   - negarn
#   - reza-fs
#   - salar-fs
#   - zaki-binary

# ==============================================================
#  binary-com/deriv-publisher
# ==============================================================
#  Used for approving all relevant changes to Publisher
#
#   - reza-fs
#   - aaron-binary

# ==============================================================
#  binary-com/deriv-dashboard
# ==============================================================
#  Used for approving all relevant changes to Dashboard
#
#   - mustofa-binary
#   - aaron-binary


######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @ashkanx @negarn



# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @binary-com/deriv-account



# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @binary-com/deriv-bot
/packages/bot-web-ui/**/*                                       @binary-com/deriv-bot



# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/core/**/*                                             @binary-com/deriv-core



# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @binary-com/deriv-p2p



# ==============================================================
#  deriv-app/shared
# ==============================================================

/packages/shared/**/*                                           @binary-com/deriv-shared
/packages/components/**/*                                       @binary-com/deriv-shared



# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @binary-com/deriv-trader



# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @binary-com/deriv-publisher



# ==============================================================
#  deriv-app/dashboard
# ==============================================================

/packages/dashboard/**/*                                        @binary-com/deriv-dashboard
