.wallets-withdrawal-verification-request {
    width: 77.2rem;
    height: fit-content;
    min-height: 100%;

    &__description {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
    }

    &__icon {
        padding: 1.3rem;
    }
}
