.wallets-transactions-pending-row {
    width: 100%;
    height: 7.8rem;
    display: grid;
    grid-template-columns: 1.8fr repeat(4, 1fr) repeat(2, 2fr);
    gap: 1.6rem;
    align-items: center;
    border-top: 0.1rem solid var(--system-light-3-border, #e5e5e5);
    padding-inline: 1.6rem;

    &__column {
        display: flex;
        flex-direction: column;
    }

    &__details {
        display: flex;
        width: max-content;
        gap: 0.8rem;
    }

    &__transaction {
        &-address {
            width: 7rem;
        }

        &-amount {
            width: max-content;
        }

        &-confirmations {
            width: 7.6rem;
        }

        &-hash {
            width: 9.2rem;
        }

        &-status {
            width: 10.3rem;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            &-dot {
                margin-right: 0.4rem;
                width: 0.8rem;
                height: 0.8rem;
                border-radius: 0.4rem;

                &--pending,
                &--locked,
                &--performing-blockchain-txn,
                &--processing,
                &--reverting,
                &--verified {
                    background: var(--status-warning, #ffad3a);
                }

                &--confirmed,
                &--sent {
                    background: var(--status-success, #4bb4b3);
                }

                &--error,
                &--cancelled,
                &--rejected,
                &--reverted {
                    background: var(--status-danger, #ec3f3f);
                }
            }
        }

        &-time {
            width: 6.5rem;
        }

        &-cancel-button {
            margin-left: 1rem;
            padding: 0;
            border: none;
            cursor: pointer;
            background-color: transparent;
        }
    }
}
