/** @define dc-mobile-dialog; weak */
.dc-mobile-dialog {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    overflow: auto;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background: var(--fill-normal);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;

    // transform here would break fixed header

    &--enter,
    &--exit {
        opacity: 0;
        pointer-events: none;

        & .dc-mobile-dialog__content {
            transform: scale(0);
        }

        & .dc-mobile-dialog__header {
            transform: translateY(-100%);
        }
    }

    &--enter-done {
        opacity: 1;
        pointer-events: auto;

        & .dc-mobile-dialog__content {
            transform: scale(1);
        }

        & .dc-mobile-dialog__header {
            transform: translateY(0);
        }
    }

    &__container {
        &--has-scroll {
            overflow-x: hidden;
            overflow-y: auto;
        }
    }

    &__content {
        position: relative;
        z-index: 1;
        box-sizing: border-box;
        margin-top: 0.4rem;
        padding-top: 3.6rem;
        background: var(--fill-normal);
        transition: all 0.2s ease-out;

        &--is-full-height {
            height: calc(100% - 0.4rem);
        }

        > div {
            height: 100%;
        }
    }

    &__header {
        position: fixed;
        top: 0;
        z-index: 4;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        height: $MOBILE_HEADER_HEIGHT;
        padding: 1rem;
        border-bottom: 1px solid var(--border-disabled);
        background: var(--fill-normal);
        transition: all 0.2s ease-out;
        transition-delay: 0.2s;
    }

    &__footer {
        position: fixed;
        bottom: 0;
        z-index: 4;
        width: 100%;
    }

    &__title {
        margin: 0;
        padding: 1.2rem 1.2rem 1.2rem 0.4rem;
    }

    &__close-btn-icon {
        /* postcss-bem-linter: ignore */
        --fill-color1: var(--text-prominent) !important;

        width: 1.6rem;
        height: 1.6rem;
        margin: 1.2rem 0.4rem;
    }
}
