/** @define contract-audit; */
.contract-audit {
    &__wrapper {
        margin-top: 1em;
        border-radius: $BORDER_RADIUS;
        padding: 2px 4px;
        opacity: 1;
        height: calc(100vh - 32.6em);
        max-height: calc(100vh - 32.6em);
        overflow: hidden;
        background-color: var(--general-main-1);
        color: var(--text-prominent);
    }
    &__grid {
        display: flex;
        padding: 8px 8px 4px;

        &:not(:first-child) {
            border-top: 1px solid var(--general-section-2);
        }
    }
    &__icon {
        display: flex;
        align-items: flex-start;
        margin-right: 8px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        margin: 0 4px;
    }
    &__label {
        font-size: 1em;
        white-space: nowrap;
        max-width: 90px;
        color: var(--text-general);
    }
    &__value-wrapper {
        display: flex;
        flex-direction: column;
    }
    &__value, &__value2 {
        padding-top: 2px;
        line-height: 1.5;
        font-size: 1.2em;
        font-weight: bold;
        color: var(--text-prominent);
    }
}
