.dc-hint-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--text-size-xxxs);
    line-height: 1.4rem;
    padding: 8px;
    border-radius: $BORDER_RADIUS;

    &--info {
        background-color: var(--transparent-info);
    }
    &--warn {
        background-color: rgba(255, 173, 58, 0.16);
    }
    &__icon {
        margin-right: 8px;
    }
    &__message {
        color: var(--text-prominent);
    }
}
