/* DO NOT include any rules for specific pages in this file. */
/* theme elements */

html, body {
    width: 100%;
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    background: repeat-x bottom;
    overflow-x: hidden;

    .ui-widget {
        font-size: $FONT_SIZE_N;
    }
    .mm-page {
        overflow-x: hidden;
    }
}

h1, h2, h3 {
    margin-bottom: 20px;
}

sup, .sup, .sup:visited {
    font-size: $FONT_SIZE_XS !important;
    color: $COLOR_ORANGE;
    vertical-align: super;
    font-weight: normal;
    margin-left: 2px;
}

table {
    &.middle td {
        vertical-align: middle;
    }
    &.thin-border td {
        border-bottom: 1px solid $COLOR_GRAY;
    }
    td.no-border {
        border: 0;
    }
}

select, input, button, textarea {
    background: $COLOR_WHITE;
    border: 1px solid $COLOR_GRAY;
    padding: 2px 3px;
}

select {
    max-width: 100%;
}

button {
    vertical-align: top;
}

button:focus, input[type='submit']:focus {
    background: $COLOR_GREEN;
    outline: none;
}

button::-moz-focus-inner, input[type='submit']::-moz-focus-inner {
    border: 0;
}

a.button:hover, a.button-social:hover {
    text-decoration: none;
}

button.full-width, .button.full-width {
    &, span {
        display: block;
        width: auto;
    }
    .barspinner {
        display: inline-block;
    }
}

span.checked {
    background: url('../images/pages/authenticate/checked.svg') no-repeat;
    width: 16px;
    height: 12px;
    display: inline-block;
    margin-left: 5px;
}

input, button, textarea, select, optgroup, option, xmp {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

input, textarea {
    vertical-align: middle;
    border-radius: $BORDER_RADIUS;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

fieldset {
    position: relative;
    border: 1px solid $COLOR_GRAY;
    padding: 5px;
    margin-bottom: 10px;

    legend {
        color: $COLOR_DARK_GRAY;
        padding: 0 0.8em;
        font-weight: bold;

        & + .hint {
            padding-left: 1em;
        }
    }
    .text-display { /* TODO: replace all occurrences of id with the class */
        line-height: 25px;
    }
    .postcode-form-row {
        #address_postcode {
            box-sizing: border-box;
            width: 100%;

            @media screen and (max-width: 860px) {
                box-sizing: unset;
                width: unset;
            }
        }
    }
    #geocode_error, #geocode_success, #geocode_status > .barspinner {
        margin: 1rem auto;
    }
    #geocode_error.notice-msg {
        font-size: $FONT_SIZE_S;
    }
    .geocode-container {
        display: flex;
        margin-top: 4px;

        .geocode-btn-container {
            margin-left: -12px;

            @media screen and (max-width: 860px) {
                margin-left: unset;
            }
        }
        @media screen and (max-width: 860px) {
            align-items: center;
            margin-top: 0.5rem;
            flex-basis: 100%;
            max-width: 100%;
        }
    }
    #geocode_validate.geocode-btn {
        transition: color 0.25s linear;
        color: $COLOR_BLUE;

        &-disabled {
            cursor: not-allowed;
            color: $COLOR_LIGHT_GRAY;
        }
    }
    #geocode_success > div.success-msg {
        ul.checked {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        p {
            margin: 0;
        }
    }
}

.error-msg {
    width: 100%;
    text-align: left;
    margin-top: 5px;
}

.secondary-bg-color .error-msg {
    color: $COLOR_WHITE;
}

.white-bg-color {
    background-color: $white;
}

textarea {
    height: 8em;
    width: 25em;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

/* form styles */
label {
    line-height: 25px;
}

/* used for form label in grid structure */
.form_label {
    @include BIDIR_VALUE(text-align, right, left);
    line-height: 25px;
}

.form-row {
    padding: 10px 0;

    div:first-child label {
        display: block;
        text-align: right;
    }
}

.form-row.two-rows {
    div:first-child label {
        text-align: left;
        margin-bottom: 5px;
    }
    input:not([type='radio']), select {
        width: 100%;
        box-sizing: border-box;
    }
}

.input {
    width: 45%;
}

*, .errorfield {
    margin: 0;
}

.no-margin {
    margin: 0 !important;
}

.full-height {
    height: 100%;
}

.errorfield {
    margin-top: 8px;
    color: $COLOR_RED;
}

.comment, .errorfield {
    font-size: $FONT_SIZE_N;
    font-style: italic;
}

/* global styles */
.required_field_asterisk {
    position: absolute;
    margin: -3px 3px;
    font-size: $FONT_SIZE_S;
    color: $COLOR_RED;

    &.no-margin {
        position: relative;
        margin: 0;
    }
}

.inpage_popup_container {
    position: fixed;
    margin: 0;
    padding: 10px;
    text-align: center;
    border: solid 1px $COLOR_ORANGE;
    background: $COLOR_LIGHT_GRAY;
    z-index: 1000;
    max-width: 90%;

    .drag-handle {
        cursor: pointer;
    }
    .inpage_popup_content {
        margin: 30px 10px 10px;
        padding: 0;
    }
    .inpage_popup_content_box {
        padding: 0;
        margin: 0;
        background: $COLOR_WHITE;
        border: solid 2px $COLOR_GRAY;
        text-align: center;
    }
}

/* Coche icon, AKA tick */
#page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content-holder {
    flex: 1 1 auto;
}

.popup_page_overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

_:-ms-fullscreen, :root #content-holder {
    height: 100%;
}

.color-white {
    color: $COLOR_WHITE;
}

.color-dark-white {
    color: $COLOR_DARK_WHITE;
}

.half-sized-picture {
    width: 50px;
    height: 50px;
}

.nowrap {
    white-space: nowrap;
}

.no-padding {
    padding: 0;
}

.border-light-gray {
    border: 1px solid $COLOR_LIGHT_GRAY;
}

.border-gray {
    border: 1px solid $COLOR_GRAY;
}

.border-dark-gray {
    border: 1px solid $COLOR_GRAY_SHADE;
}

.vertical-align-middle {
    vertical-align: middle;
}

input[type=checkbox] {
    margin: 5px 5px 5px 0;
    padding: 7px;
    cursor: pointer;

    & ~ label {
        pointer-events: auto; // enable pointer events on label for checkbox
    }
    &#email_consent, &#chk_accept {
        margin-left: 5px;
    }
}

.no-scroll, .no-scroll body {
    overflow: hidden;
}

.logged_out_title_container {
    margin-top: 40px;
    margin-bottom: 30px;
}

button .barspinner.white {
    height: 13px;
    margin: 3px auto;
}

#msg_notification {
    &, &:after {
        font-size: $FONT_SIZE_S;
        padding: 3px 0;
        min-height: 20px;
        line-height: 20px;
        display: none;
    }
    &.error:after {
        display: block;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        content: attr(data-message);
        background: $COLOR_YELLOW;
        color: $COLOR_RED;
        border-bottom: 1px solid $COLOR_RED;
    }
}

#scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 78px;
    right: 18px;
    display: none;
    background: url('../images/common/scrollup_icon.svg') no-repeat;
    z-index: 999;
}

.inline-flex {
    display: inline-flex;
}

.invisible {
    display: none !important;
    visibility: hidden;
}

.center-align {
    align-items: center;
}

.align-self-center {
    align-self: center;
}

.align-start {
    @include BIDIR_VALUE (text-align, left, right);
}

.align-end {
    @include BIDIR_VALUE (text-align, right, left);
}

.clear {
    clear: both;
}

.sidebar-container {
    position: relative;
}

.sidebar-collapsible-container {
    position: relative;
    height: 100%;

    .has-submenu.active ul {
        height: auto;
    }
}

.sidebar {
    @include menu-left;
}

.static_full {
    .section:first-child {
        padding-bottom: 50px;
    }
    .section:not(:first-child) {
        padding: 20px 0 50px;
    }
    .section:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }
    .section {
        display: block;
        overflow: hidden;
    }
    .sidebar-button {
        background: $COLOR_LIGHT_GRAY;
        padding: 20px;

        a {
            @include link-button;
            display: block;
        }
    }
}

.days_to_crack {
    width: fit-content;
    padding: 5px;
    margin-top: 5px;

    &.red {
        color: $COLOR_RED;
    }
    &.green {
        color: $COLOR_GREEN;
    }
}

ul.bullet.gr-row > li {
    display: list-item;
}

.toggle-arrow {
    &:after {
        content: '';
        display: inline-block;
        margin-left: 7px;
        border-left: 4px dashed;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
    }
    &.open:after {
        border-top: 4px dashed;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        border-bottom: 0;
    }
}

#content {
    margin-top: 40px;
    margin-bottom: 20px;

    div.select {
        .select-dropdown {
            text-transform: none;
        }
        ul.select-options {
            position: absolute;
            margin: 4px 0 0;
            font-size: 1rem;

            li.select-items {
                margin: 0;
                display: block;
                text-transform: none;
            }
        }
    }
    .light {
        .tab-menu-wrap {
            text-align: center;

            ul.tm-ul {
                display: inline-flex;

                li.tm-li {
                    background: none;
                    margin: 0;
                    padding: 0;
                    font-size: $FONT_SIZE_XL;
                    margin-bottom: -1px;
                    border-bottom: 1px solid $COLOR_GRAY;

                    &, a {
                        color: $COLOR_BLUE;
                    }
                    > a, > span {
                        display: block;
                        padding: 0 20px;
                    }
                    &.tab-selector {
                        height: 3px;
                        background-color: $COLOR_BLUE;
                        z-index: 1;
                        position: absolute;
                        margin-left: 0;
                        top: 37px;
                        left: 0;
                        border-radius: $BORDER_RADIUS;
                        transition: margin-left 0.4s ease-in-out, width 0.2s 0.1s ease-in-out;
                    }
                }
            }
        }
        &.full-width {
            ul.tm-ul {
                display: flex;

                li.tm-li {
                    flex: 1;
                }
            }
        }
    }
}

.foot-note {
    font-size: $FONT_SIZE_XS;
    color: $COLOR_GRAY_SHADE;
}

.button + .button {
    margin-left: 10px;
}

li strong.margin-right {
    margin-right: 5px;
}

[data-show]:not(.data-show-visible) {
    display: none !important;
}

[data-anchor] {
    & .data-anchor-link {
        display: inline-block;
        width: 16px;
        height: 16px;
        background-image: url('../images/common/ic-anchor.svg');
        background-repeat: no-repeat;
        background-size: 16px 16px;
        margin-left: 6px;
        visibility: hidden;
        // for perceptual alignment
        position: relative;
        top: 1px;

        &:focus {
            outline: none;
        }
    }
    &:hover {
        & .data-anchor-link {
            visibility: visible;
        }
    }
}

.button-social {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    height: 40px;
    width: 200px;
    border: 1px solid $COLOR_GRAY;
    background-position-x: 7px;
    background-position-y: center;
    background-repeat: no-repeat;
    text-transform: none;
    box-sizing: border-box;

    &#button_google {
        background-image: url('../images/social/google.svg');
    }
    &#button_facebook {
        background-image: url('../images/social/facebook.svg');
    }
    & + .button-social {
        margin-left: 10px;
    }
    &:hover {
        background-color: $COLOR_GRAY;
    }
    .name {
        text-transform: capitalize;
        color: $COLOR_BLACK;
        font-weight: 400;
        padding-left: 1rem;
    }
    @media screen and (max-width: 480px) {
        width: 30%;
        background-position-x: center;

        .name {
            padding-left: 0;
            opacity: 0; // hide text in mobile
        }
    }
}

.section-divider {
    .circle {
        padding: 7px 5px !important;
    }
    &.full-width {
        max-width: unset;
        width: 100%;
    }
}

.no-capitalize, .no-capitalize > a {
    text-transform: none !important;
}

label + input {
    margin-left: 5px;
}

.max_30day_turnover {
    .inline-flex {
        margin-left: 10px;
        align-items: baseline;
    }
    input {
        transition: none;

        &.hide {
            color: transparent;

            &::selection {
                color: transparent;
            }
        }
    }
}

.question {
    .no-underline {
        display: inline-block;
        width: 16px;
        height: 16px;
    }
}

.notice-circle {
    width: 16px;
    height: 16px;
    border: 2px solid $COLOR_BLUE_SHADE;
    border-radius: 50%;
    color: $COLOR_BLUE_SHADE;
    line-height: 16px;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;

    &.faded {
        border-color: $COLOR_GRAY_SHADE;
        font-weight: 400;
    }
    &.margin-top-3 {
        margin-top: 3px;
    }
}

@media (max-width: 768px) {
    .show_mobile {
        &[data-balloon]:before, &[data-balloon]:after {
            display: block !important;
            transform: translate(-15%, 0) !important;
        }
        &[data-balloon-length=medium]:before {
            width: 120px;
        }
    }
}

@media screen and (max-width: 500px) {
    .responsive {
        thead {
            display: none !important;
        }
        td {
            display: block;

            &:before {
                content: attr(datath);
                font-weight: bold;
                display: inline-block;
                width: 100%;
                text-align: left !important;
            }
        }
    }
}

#token_form {
    @media screen and (max-width: 480px) {
        p.error-msg {
            display: flex;
            justify-content: center;
        }
        .scope-list {
            position: relative;
            display: flex;
            justify-content: center;

            input[type='checkbox'] + label {
                padding-top: 10px;
                padding-bottom: 10px;
                display: flex;
                align-items: center;
            }
            p.error-msg {
                position: absolute;
                left: 0;
            }
            .scope-types {
                flex-basis: unset;
                max-width: unset;

                &:last-child {
                    margin-bottom: 16px;
                }
            }
        }
    }
}

/* TODO: remove when UX research is finished */
#interview_popup_container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.5);

    .popup {
        width: calc(100vw - 20px);
        max-width: 495px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $COLOR_WHITE;
        box-shadow: 0 2px 31px 0 rgba(0, 0, 0, 0.82);
        overflow: hidden;

        &__head {
            box-sizing: border-box;
            padding: 57px 115px;
            background-image: url('../images/interview_popup/bg-shape.svg');
            background-size: 100%;
            background-position: bottom;
            background-repeat: no-repeat;

            .header-1 {
                color: $COLOR_WHITE;
                margin: 0;
            }
        }
        &__present_img {
            margin: 0 auto 20px;
            height: 130px;
            display: block;
            transform: translateX(-10px);
        }
        &__body {
            padding: 27px 35px 30px;

            p {
                text-align: justify;
                padding: 0 10px;
                margin-top: 13px;
                margin-bottom: 5px;
            }
        }
        &__options {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 10px;

            * {
                margin: 0;
            }
            #interview_no_thanks {
                color: $COLOR_NAV;
                cursor: pointer;
            }
            #interview_ask_later {
                cursor: pointer;
            }
        }
        &__secondary_options {
            display: flex;
            flex-direction: row;
            line-height: 20px;
        }
        &__separator {
            display: inline-block;
            vertical-align: text-bottom;
            width: 2px;
            height: 20px;
            margin: 0 15px;
            background: $COLOR_NAV;
        }
    }
    .header-1 {
        font-size: 36px;
        font-weight: 300;
    }
    .header-2 {
        color: $COLOR_ORANGE;
        font-size: 28px;
        font-weight: 300;
    }
    .header-1, .header-2 {
        text-align: center;
        line-height: 1.15;
        font-weight: normal;
    }
    @media screen and (max-width: 768px) {
        .header-1 {
            font-size: 24px;
        }
        .header-2 {
            font-size: 18px;
        }
        .popup {
            max-width: 340px;

            &__present_img {
                height: 100px;
            }
            &__head {
                padding: 30px 80px;
            }
            &__body {
                padding: 20px 15px 7px;
            }
            &__options {
                flex-direction: column-reverse;
                font-size: 16px;
            }
            &__secondary_options {
                font-size: 12px;
            }
            #interview_interested {
                font-size: 14px;
                margin: 5px 0 30px;
            }
        }
        p {
            font-size: 14px;
        }
    }
    @media screen and (max-width: 360px) {
        .popup__head {
            background-size: 120%;
        }
    }
}

.font-style-normal {
    font-style: normal;
}
