#footer {
    .container {
        max-width: 1200px;
    }
    #footer-menu {
        h4 {
            font-size: $FONT_SIZE_S;
        }
        li {
            line-height: 1;
            word-wrap: break-word;
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
            -moz-hyphens: auto;
            hyphens: auto;
        }
    }
    .content-inverse-color a {
        text-decoration: underline;
    }
    #footer-regulatory {
        padding-bottom: 30px;

        a, p, .fld-risk-warning legend {
            font-size: 13px !important;
        }
        a, p {
            font-weight: 100;
        }
        a {
            color: $COLOR_GRAY;
        }
        p, .fld-risk-warning legend {
            color: #a8a8a8; // stylelint-disable color-no-hex
            text-align: justify;
            margin: 0 0 10px;
        }
        .age-restriction-sign {
            width: 45px;
        }
        .fld-risk-warning {
            border-color: $COLOR_DARK_GRAY;

            legend {
                text-transform: uppercase;
            }
        }
        .about-binary {
            border-top: 1px solid $COLOR_DARK_GRAY;
            border-bottom: 1px solid $COLOR_DARK_GRAY;
            padding: 10px 0;
            margin-bottom: 10px;

            p {
                margin: 0;
            }
        }
        .risk-warning {
            p {
                font-size: 16px;
            }
        }
        #ratelimit-error-message, #site-status-message {
            position: fixed;
            top: 0;
            width: 100%;
            background-color: $COLOR_YELLOW;
            z-index: 999;
        }
        #site-status-message {
            z-index: 9999;
        }
    }
    .iom-icon {
        width: 90px;
    }
    .mga-icon {
        width: 100px;
    }
    .gamstop-icon {
        width: 109px;
    }
    .gamstop-icon.data-show-visible + .mga-icon {
        width: 70px;
        margin-bottom: 3px;
        margin-left: -10px;
    }
    .flex-row {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .mga-gamstop-icon-container {
        display: flex;
        align-items: flex-start;
        flex-direction: column-reverse;
    }
    .social-icons {
        margin-left: auto;

        > *:not(:first-child) {
            margin-left: 10px;
        }
        img {
            height: 35px;
            width: 35px;
        }
    }
    .icon-row {
        padding-top: 10px;
        padding-bottom: 14px;
    }
    .regulation-logos {
        > * {
            margin-right: 20px;
        }
        .vanuatu-icon {
            width: 100px;
        }
        .bvi-icon {
            width: 75px;
        }
        .labuan-icon {
            width: 120px;
        }
    }
    #end-note {
        line-height: 25px;
        background: $COLOR_RED;
        font-size: $FONT_SIZE_XS;
        position: fixed;
        bottom: 0;
        z-index: 10000;
        width: 100%;
    }
    #status_notification {
        animation: moveInBottom 0.2s ease-in;
        background-color: $COLOR_ORANGE;
        display: none;
        align-items: center;
        padding: 10px 7px;
        position: fixed;
        bottom: 8px;
        right: 78px; // right space for elevio launcher
        left: 8px;
        border-radius: 5px;
        z-index: 1000;

        &_text {
            color: $COLOR_WHITE;
            font-size: $FONT_SIZE_S;
            margin: 0 auto 0 0;
        }
        &_type {
            padding-right: 7px;
        }
        &_close {
            padding-left: 7px;

            &:hover {
                cursor: pointer;
            }
        }
    }
    #dialog_notification {
        display: none;
        position: fixed;
        align-items: center;
        justify-content: center;
        padding: 10px 7px;
        flex-wrap: wrap;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1000;
        animation: moveInBottom 0.2s ease-in;
        border-bottom: 3px solid $COLOR_ORANGE;

        &_text {
            color: $COLOR_WHITE;
            font-size: $FONT_SIZE_S;
            text-align: center;

            a {
                font-size: $FONT_SIZE_S;
                text-decoration: underline;
            }
        }
        &_accept {
            font-size: $FONT_SIZE_S;
            margin-bottom: 0;
        }
    }
    @media screen and (max-width: 590px) {
        .icon-row {
            flex-direction: column;

            > * {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
        .social-icons {
            margin-left: 0;
        }
        .regulation-logos {
            .vanuatu-icon {
                width: 85px;
            }
            .bvi-icon {
                width: 60px;
            }
            .labuan-icon {
                width: 105px;
            }
        }
        .age-restriction-sign {
            margin-right: 0;
        }
    }
    @media screen and (max-width: 380px) {
        .regulation-logos {
            .vanuatu-icon {
                width: 75px;
                margin: 5px;
            }
            .bvi-icon {
                width: 50px;
                margin: 5px;
            }
            .labuan-icon {
                width: 90px;
                margin: 5px;
            }
            .age-restriction-sign {
                width: 35px;
                margin: 5px;
            }
        }
    }
}
