table {
    border-collapse: collapse;
    line-height: 1.5em;
    width: 100%;

    * {
        font-size: $FONT_SIZE_N;
    }
    thead, th {
        line-height: 1.1em;
        font-weight: bold;
        padding: 3px 8px;
        background: $COLOR_LIGHT_GRAY;
        border-bottom: 1px solid $COLOR_DARK_GRAY;
        vertical-align: middle;
    }
    td {
        vertical-align: top;
        border-width: 0 1px;
        padding: 4px;
        border-bottom: 3px solid $COLOR_LIGHT_GRAY;
    }
}

/* Gridle based table styling */
.table-header {
    clear: both;
    overflow: auto;
    font-weight: bold;
    font-size: $FONT_SIZE_N;
    border-bottom: 1px solid $COLOR_DARK_GRAY;
    background: none repeat scroll 0% 0% $COLOR_LIGHT_GRAY;
}

.table-body {
    clear: both;
    line-height: 1.5em;
    padding-top: 20px;
    font-size: $FONT_SIZE_N;
    padding-bottom: 0;
}

.table-body-lines {
    border-bottom: 3px solid $COLOR_LIGHT_GRAY;
}

/* Flex table styling */
.table-container {
    $md: 600px;

    th {
        @include BIDIR_VALUE(text-align, left, right);
        border-bottom: none;
        overflow: hidden;
    }
    td {
        @include BIDIR_VALUE(text-align, left, right);
        @include BIDIR_PROP(padding-left, padding-right, 10px);

        &[data-balloon] {
            border-bottom: 3px solid $COLOR_LIGHT_GRAY;
        }
    }
    .w-80 {
        width: 80px;
    }
    tr {
        div {
            .td {
                display: table-cell;
                @extend td;
            }
        }
    }
    @media (max-width: 767px) and (orientation: portrait) {
        overflow-x: auto;
    }
    @media (max-width: $md) {
        td {
            padding-left: 5px !important;
            padding-right: 5px !important;
        }
        th {
            padding-left: 5px !important;
            padding-right: 5px !important;
        }
    }

    #statement-table {
        td.date {
            min-width: 101px;
        }
    }
    #statement-table, #profit-table {
        tr {
            & > th.details, & > td.details {
                display: none !important;
            }
            td {
                overflow: initial;
            }
            td.desc {
                max-width: 30em;
                overflow-wrap: break-word;
            }
            @media (max-width: $md) {
                & > th.details, & > td.details {
                    display: table-cell !important;

                    .button {
                        padding: 8px 15px;
                    }
                }
                th, td {
                    font-size: $FONT_SIZE_XS;
                }
            }
        }
    }
    @media (max-width: $md) {
        #profit-table tr {
            > th.contract, > td.contract {
                display: none !important;
            }
        }
        #statement-table {
            table-layout: auto;
        }
        #statement-table tr {
            > th.desc, > td.desc {
                display: none !important;
            }
        }
    }
}
