.multipliers-info {
    &--standalone {
        margin: 0 var(--core-spacing-400) var(--core-spacing-400);
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
