.wallets-accordion {
    width: 100%;
    background: var(--system-light-8-primary-background, #fff);
    border-radius: 16px;
    padding: 24px;

    &__header {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0;
        gap: 24px;
    }

    &__content {
        animation: hide-accordion-content 0.3s ease;
        transform: translateY(-3rem);
        opacity: 0;
        display: none;

        &--visible {
            animation: show-accordion-content 0.3s ease;
            transform: translateY(0);
            opacity: 1;
            display: block;
        }
    }

    &__dropdown {
        transition: all 0.3s ease;
        cursor: pointer;

        &--open {
            transform: rotate(180deg);
            transition: all 0.3s ease;
        }
    }

    @keyframes show-accordion-content {
        from {
            transform: translateY(-3rem);
            opacity: 0;
            display: none;
        }
        to {
            transform: translateY(0);
            opacity: 1;
            display: block;
        }
    }

    @keyframes hide-accordion-content {
        from {
            transform: translateY(0);
            opacity: 1;
            display: block;
        }
        to {
            transform: translateY(-3rem);
            opacity: 0;
            display: none;
        }
    }
}
