# Valid username and password
VALID_USER=
VALID_PASSWORD=

# Address to run the test against
HOME_URL=

# This is used to bypass duo page.
QABOX_USER_CODE=
QABOX_EMAIL=
QABOX_PASSWORD=
QABOX_SERVER=
QABOX_APP_ID=

# Used to tell tests to connect to QA
QA_SETUP=false

QAW_ARTIFACT_PATH=/home/mamali/qawolf
FFMPEG_PATH=/usr/bin/ffmpeg


DERIV_COM_URL=http://localhost:8000

