{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "binary",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "jquery": true,
    "jasmine": true
  },
  "globals": {
    "Blockly": false,
    "trackJs": false,
    "jest": false
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "react/jsx-uses-react": "error",
    "linebreak-style": 0,
    "react/no-multi-comp": 0,
    "react/no-array-index-key": 2,
    "react/jsx-filename-extension": 0,
    "import/prefer-default-export": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "array-callback-return": 0,
    "react/prop-types": 0,
    "react/jsx-indent": 0,
    "key-spacing": 0,
    "object-curly-newline": 0,
    "react/jsx-indent-props": ["error", 4],
    "react/jsx-uses-vars": 2,
    "jsx-a11y/click-events-have-key-events": 0,
    "no-lonely-if": 2,
    "func-names": 0,
    "guard-for-in": 0,
    "import/extensions": 0,
    "class-methods-use-this": 0,
    "eqeqeq": 2,
    "template-curly-spacing": 2,
    "no-multi-spaces": 0,
    "no-multi-assign": 0,
    "block-scoped-var": 2,
    "no-continue": 0,
    "indent": [2, 4],
    "no-param-reassign": 0,
    "consistent-return": 0,
    "no-plusplus": 0,
    "camelcase": 0,
    "no-shadow": 2,
    "no-bitwise": 0,
    "one-var": 0,
    "one-var-declaration-per-line": 0,
    "prefer-arrow-callback": 0,
    "no-mixed-operators": 0,
    "max-len": 0,
    "prefer-const": 2,
    "import/no-extraneous-dependencies": ["error", {"packageDir": "./"}],
    "no-underscore-dangle": 0,
    "prefer-destructuring": 0,
    "react/no-access-state-in-setstate": 2,
    "react/destructuring-assignment": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-props-no-multi-spaces": 0,
    "react/jsx-one-expression-per-line": 0,
    "lines-between-class-members": 0,
    "no-this-before-super": 2,
    "no-unused-expressions": 2,
    "semi": 2,
    "no-console": 0,
    "no-restricted-syntax": [
        "error",
        "LabeledStatement",
        "WithStatement"
    ]
  },
  "settings": {
    "react": {
      "createClass": "createReactClass", // Regex for Component Factory to use, default to "createReactClass"
      "pragma": "React",  // Pragma to use, default to "React"
      "version": "15.0" // React version, default to the latest React stable release
    }
  }
}
