{
    "root": true,
    "parser": "@babel/eslint-parser",
    "plugins": ["prettier", "react", "react-hooks", "import", "import-helpers"],
    "env": {
        "es6": true,
        "browser": true,
        "jquery": true,
        "jasmine": true,
        "amd": true,
        "jest": true
    },
    "globals": {
        "Blockly": false,
        "trackJs": false,
        "jest": false,
        "dataLayer": false,
        "gapi": false,
        "google": false
    },
    "rules": {
        "camelcase": 0,
        "curly": 0,
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "import/no-extraneous-dependencies": 0,
        "linebreak-style": 0,
        "key-spacing": 0,
        "lines-between-class-members": 0,
        "import/no-useless-path-segments": "error",
        "import/prefer-default-export": 0,
        "import/extensions": [0, { "jsx": "always", "json": "always" }],
        "no-param-reassign": ["error", { "props": false }],
        "import/no-named-as-default": 0,
        "no-restricted-exports": 0,
        "default-param-last": 0,
        "react-hooks/exhaustive-deps": 0
    },
    "extends": [
        "prettier",
        "airbnb-base",
        "binary",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended"
    ],
    "parserOptions": {
        "requireConfigFile": false,
        "ecmaVersion": 2020,
        "babelOptions": {
            "presets": ["@babel/preset-react"],
            "plugins": [
                ["@babel/plugin-proposal-decorators", { "legacy": true }],
                ["@babel/plugin-proposal-class-properties", { "legacy": true }],
                "@babel/plugin-proposal-export-default-from",
                "@babel/plugin-proposal-object-rest-spread",
                "@babel/plugin-proposal-export-namespace-from",
                "@babel/plugin-syntax-dynamic-import",
                "@babel/plugin-proposal-optional-chaining",
                "@babel/plugin-proposal-nullish-coalescing-operator"
            ]
        },
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "settings": {
        "react": {
            "version": "16"
        },
        "import/resolver": {
            "webpack": {
                "config": "webpack.config.js"
            }
        }
    }
}
