*~
.idea/
.grunt/
.sass-cache/
.vscode/
dist/
node_modules/
packages/**/scripts/CNAME
.DS_Store
*.swp
npm-debug.log
lerna-debug.log
lib/
coverage
packages/shared/utils
packages/components/.out
packages/p2p/lib
