*~
.idea/
.grunt/
.sass-cache/
.vscode/
dist/
node_modules/
packages/**/scripts/CNAME
.DS_Store
tsconfig.tsbuildinfo
*.swp
npm-debug.log
lerna-debug.log
packages/components/lib/
packages/translations/lib/
coverage
packages/shared/utils
packages/account/lib/
packages/components/.out
packages/components/src/components/icon/icons-manifest.js
packages/p2p/lib/
packages/appstore/dist/
packages/appstore/lib/
.env
nx-cloud.env

