# To have nx cloud caching, make a copy of this file and name it nx-cloud.env,
# then replace the <TOKEN> with nx-cloud token provided in the lastpass shared-FE section.

NX_CLOUD_ACCESS_TOKEN=<TOKEN>
NX_CLOUD_NO_TIMEOUTS=true
