/** @define mobile-widget */
.mobile-widget {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    margin: 0 0 0.8rem;
    padding: 1rem 0.8rem;
    border-radius: 4px;
    background-color: var(--general-main-1);

    &__amount {
        @include typeface(--paragraph-center-bold-black);

        color: var(--text-prominent);
    }

    &__duration {
        @include typeface(--paragraph-center-normal-black);

        color: var(--text-prominent);
    }

    &__type {
        @include typeface(--paragraph-center-normal-black);

        color: var(--text-less-prominent);
    }

    &__item {
        color: var(--text-prominent);
        line-height: 1.4rem;

        &-value {
            font-weight: bold;
            font-size: 1.2rem;
        }
    }

    &__multiplier {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;

        &-amount {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0.4rem 0.8rem 0;

            .mobile-widget__item-label {
                margin-right: 0.4rem;
            }
        }

        &-expiration {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 7.2rem;
        }

        &-options {
            flex: none;
            flex-direction: column;
            justify-content: center;
            min-width: 8.8rem;
            margin-bottom: 0.6rem;
            margin-left: 0.8rem;
            padding: 0.6rem 0.8rem;

            .mobile-widget__item-label {
                color: var(--text-general);
            }
        }

        &-risk-management {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            margin-bottom: 0.6rem;
            padding: 0.4rem 0.8rem;
            color: var(--text-general);

            .mobile-widget__item {
                display: flex;
                flex: 1;
                justify-content: space-between;
                align-items: center;
            }

            .mobile-widget__item-label {
                color: var(--text-general);
            }

            .mobile-widget__item-label,
            .mobile-widget__item-value {
                font-size: 1.4rem;
                line-height: 1.8rem;
            }
        }

        &-trade-info {
            display: flex;
            flex: 2;
            justify-content: space-evenly;
            margin-left: 0.8rem;
            background: var(--general-main-1);

            &--no-stop-out {
                justify-content: flex-end;
                margin-right: 1.6rem;
            }

            &-tooltip-text {
                display: flex;
                flex-direction: row;
                justify-content: center;

                @media only screen and (width <= 340px) {
                    font-size: 0.8rem;
                }

                span:before {
                    content: ': ';
                }

                &:first-child {
                    margin-right: 0.8rem;
                }
            }
        }
    }

    &__wrapper {
        display: flex;

        .mobile-widget:last-child:not(:only-child) {
            flex: unset;
            margin-left: 0.8rem;
        }
    }

    &:is(.take-profit) {
        height: auto;
    }

    .trade-container__fieldset:is(.take-profit *) {
        width: 100%;
        margin-bottom: 0;
    }
}

/** @define fieldset-minimized */
.fieldset-minimized {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em;
    white-space: pre-line;

    &__amount {
        grid-area: c;
    }

    &__barrier1 {
        grid-area: b;
    }

    &__barrier2 {
        grid-area: d;
    }

    &__currency:before {
        position: static;
        display: inline;
        margin-right: 0.1em;
        font-size: 1em;
    }

    &__basis {
        color: var(--text-prominent);
        font-weight: bold;
    }
}
