@import '../../../shared/src/styles/reset.scss';
@import '../../../shared/src/styles/themes.scss';

.p2p-cashier {
    background: transparent;
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__barred-user {
        .dc-hint-box {
            margin-top: 1.6rem;

            &__icon {
                @include mobile {
                    align-self: flex-start;
                    min-width: 16px;
                    min-height: 16px;
                }
            }

            @include mobile {
                margin: 1rem 2rem;
            }
        }
    }

    &__content {
        padding: 0 1.6rem;
    }
    & .dc-tabs {
        &--p2p-cashier__tabs {
            display: flex;
            flex-direction: column;
            flex: 1;

            @include mobile {
                overflow: hidden;
            }
        }

        .dc-themed-scrollbars-wrapper li {
            @include mobile {
                flex: 1;
            }
        }

        > .dc-tabs__content {
            display: flex;
            flex-direction: column;
            flex: 1;

            @include mobile {
                overflow-y: scroll;
                overflow-x: hidden;
            }
        }
    }
    & .dc-button-menu {
        &__wrapper {
            background-color: var(--state-disabled);

            .dc-button-menu {
                &__button,
                &__button--active {
                    height: 100%;
                }
                &__button {
                    span {
                        color: var(--text-less-prominent);
                    }
                    &--active {
                        span {
                            color: var(--text-prominent);
                        }
                    }
                }
            }
        }
        &--highlight {
            background-color: var(--state-normal) !important;
        }
    }
    &__separator {
        width: 100%;
        border-top: 1px solid var(--general-section-1);
    }
    &__advertiser-tab {
        @include mobile {
            .dc-tabs {
                &__item {
                    padding: 0 1.6rem;
                    margin: auto;
                }
                &__list {
                    position: fixed;
                    margin-bottom: unset !important;
                    background-color: var(--general-main-1);
                    z-index: 2;
                    width: 100%;
                }
                &__content {
                    margin-top: 4rem;
                }
            }
        }
    }
    @include mobile {
        .dc-autocomplete__field {
            border: none;
        }
    }
}

.sendbird-fileviewer__header-delete {
    display: none !important;
}

.p2p-nickname {
    &__dialog {
        @include mobile {
            height: 100%;
        }
    }
}

.dc-modal__container_p2p-nickname {
    &__dialog {
        height: auto;
        margin-bottom: 0;
        max-height: 50rem !important;
        max-width: 44rem;
        min-width: 44rem;
        padding: 0;
        width: 100%;

        @include mobile {
            min-width: 0;
        }
    }
}
