@import 'deriv-shared/src/styles/reset.scss';

.deriv-p2p {
    background: transparent;
    height: 100%;
    width: 100%;

    &__content {
        padding: 0 1.6rem;
    }
    & .dc-tabs {
        position: static;
    }
    &__separator {
        width: 100%;
        border-top: 1px solid var(--general-section-1);
    }
}

.p2p-not-allowed {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}
