.p2p-v2-payment-methods-form-footer {
    display: flex;
    justify-content: end;
    gap: 0.8rem;
    background: #fff;
    margin-top: 2rem;

    @include mobile {
        margin-top: 0;
        width: 100%;
        padding: 1.6rem 2.4rem;
        border-top: 2px solid #f2f3f4;
    }
}
