.user-rating {
    display: inline-flex;
    gap: 0.4rem;
    &__wrapper {
        display: inline-flex;
        position: relative;
        gap: 0.5rem;
    }

    &__element {
        position: relative;

        &--filled {
            overflow: hidden;
            position: absolute;
            width: 0%;
        }
    }
}
