.p2p-v2-sort-dropdown {
    .deriv-dropdown__items {
        top: 4.4rem;
    }

    .deriv-input {
        &__field {
            font-size: 14px;

            &:not(:placeholder-shown) ~ label {
                transform: translate(-29%, -50%);
            }
        }

        &__helper-message {
            display: none;
        }
    }
}
