.recent-transaction {
    &__wrapper {
        @include desktop {
            max-width: 25.6rem;
        }

        .cashier-recent-transaction {
            overflow: auto;
            @include mobile {
                margin-bottom: 1rem;
                min-width: 25.6rem;
                padding: 1.6rem 2.4rem;
                border-radius: $BORDER_RADIUS * 2;
                background-color: var(--general-section-1);
                white-space: nowrap;
            }

            &__data-wrapper {
                display: flex;
                margin: 0.8rem 0 1.1rem;
                padding: 0.8rem 0 1.2rem;
                border-top: 1px solid var(--general-active);
                border-bottom: 1px solid var(--general-active);

                & > div {
                    flex: 1;
                }
            }
            &__icon {
                margin-right: 0.4rem;
            }
            &__status-wrapper {
                display: flex;
                justify-content: space-between;
                min-width: 17.2rem;
                @include mobile {
                    min-width: 24.2rem;
                }
            }
            &__status {
                display: flex;
                align-items: center;
                align-self: flex-start;

                &-indicator {
                    display: block;
                    border-radius: 50%;
                    margin-right: 0.2rem;
                    width: 5px;
                    height: 5px;
                    background-color: var(--status-warning);

                    &-successful {
                        background-color: var(--status-success);
                    }
                    &-unsuccessful {
                        background-color: var(--status-danger);
                    }
                }
            }
            &__hash-wrapper {
                margin-top: 0.4rem;
            }

            &__hash {
                display: flex;
            }

            &__view-all-button {
                float: right;
                height: 2.4rem;
                padding: 0.3rem 0.8rem;
                border: 1px solid var(--border-hover);
                background-color: var(--button-tertiary-default);
            }
        }
    }
}
