.search-box {
    margin: 2.4rem 0.8rem;
    width: 24rem;

    @include mobile {
        margin: 0;
        width: auto;

        .dc-input {
            height: 4rem;
        }
    }

    &__cross-icon {
        cursor: pointer;
    }

    &__field {
        margin-bottom: 0 !important;
        text-indent: 2rem;
        height: 4.2rem;

        ::placeholder {
            opacity: 0.5;
        }

        .dc-input {
            justify-content: center;

            &__field {
                flex-grow: 1;
                padding-right: 2rem;
                width: unset;
                text-indent: 2.4rem;
                ::placeholder {
                    opacity: 0.5;
                }

                @include mobile {
                    grid-column: 1;
                    width: 100%;
                    margin-left: -1.1rem;
                }
            }

            &__leading-icon {
                cursor: pointer;
                top: 31%;
                margin-left: 0.9rem;

                pointer-events: unset;
                @include mobile {
                    padding-bottom: 0.1rem;
                    padding-right: 0.3rem;
                }
            }
        }
    }
}
