.recommend-user {
    display: flex;
    flex-direction: column;

    &__block {
        align-items: center;
        border: 1px solid var(--border-normal);
        border-radius: 4px;
        display: flex;
        padding: 0.3rem;
        width: 5.5rem;

        &__icon {
            align-self: center;
            margin-right: 0.5rem;
        }
    }

    &__row {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }

    &__text {
        margin: 1.6rem 0;
    }
}
