.bot-builder__container {
    position: absolute;
    top: 40rem;
    display: grid;
    grid-template-rows: repeat(1, auto);
    grid-template-columns: repeat(1, auto);
    border: 1px solid rgb(43, 98, 62);
    border-radius: 0.4rem;
    margin: 2rem;
    padding: 1rem;
    background-color: rgb(84, 145, 114);

    .dc-input {
        background: rgb(249, 249, 249);
    }
}

.bot-builder__item {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 0.5fr 0.7fr 0.1fr 0.7fr 0.1fr 0.7fr;
    align-items: center;
    padding: 1rem;
    border: 1px solid #a5a5a5;
    border-radius: 0.4rem;
    background-color: rgb(229, 229, 229);
}
