.ads {
    margin: 1.6rem;
    padding: 1.6rem;
    background: var(--general-section-1);

    &__list {
        padding: 0.8rem;
        margin: 0.8rem;
        background: var(--general-main-2);
        color: var(--text-general);
    }
    &__dialog {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: var(--shadow-menu);
    }
}