.server-bot {
    background-color: var(--general-main-1);
    width: 100%;
    display: flex;
    &__list {
        border-right: 1px solid var(--border-normal);
        width: 30%;
        &__actions {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px;
            border-bottom: 1px solid var(--border-normal);
        }
        &__item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid var(--border-normal);
            padding: 16px;
        }
    }
    &__item {
        width: 70%;
    }
}
