.payment-agent-details {
    &__contact {
        text-decoration: none;
        color: var(--brand-red-coral);
        font-weight: bold;
        font-size: var(--text-size-xs);
        word-wrap: break-word;

        @include mobile {
            padding-left: 0;
        }
    }
    &__accordion-content {
        &-line {
            margin-bottom: 8px;
            display: flex;
            flex-direction: row;
            word-break: break-all;

            &:first-child {
                & .payment-agent-details__contact {
                    color: var(--text-prominent);
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
            @include mobile {
                overflow: hidden;
                text-overflow: ellipsis;

                &:not(:first-child) {
                    color: var(--brand-red-coral);
                }
            }
        }
        &-icon {
            vertical-align: middle;
            margin-right: 0.8rem;
            /* postcss-bem-linter: ignore */
            --fill-color1: var(--text-general);
        }
    }
}
