.payment-agent-details {
    &__contact {
        text-decoration: none;
        text-align: left;
        align-self: flex-start;
        color: var(--general);
        font-size: var(--text-size-xxs);
        @include mobile {
            padding-left: 0;
        }
        &-wrapper {
            display: grid;
        }
    }
    &__accordion-content {
        &-line {
            display: flex;
            align-items: center;
            flex-direction: row;
        }
        &-icon {
            vertical-align: middle;
            margin-right: 0.8rem;
            /* postcss-bem-linter: ignore */
            --fill-color1: var(--text-general);
        }
    }
}
