.wallets-link {
    cursor: pointer;
    color: var(--brand-coral, #ff444f);
    border: none;
    background: none;
    font-size: inherit;
    padding: 0;

    &__variant {
        &--normal {
            text-decoration: underline;
        }

        &--bold {
            font-weight: bold;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
        &--dark {
            font-weight: bold;
            text-decoration: underline;
            color: var(--du-text-black, #000000);
        }
    }
}
