.tutorials-wrap {
    .dc-dialog {
        &__dialog {
            @include mobile {
                width: 94%;
                height: auto;
                max-height: 80%;
            }

            position: relative;
            z-index: 1;
            width: 80vw;
            max-width: unset;
            height: 80vh;
            max-height: unset;
            padding: 0;
            border-radius: 0;
        }

        &__header-wrapper {
            &--end {
                position: absolute;
                top: 0;
                right: 1rem;
                z-index: 90;
            }
        }

        &__content {
            max-width: unset;
            height: 100%;
            margin-bottom: 0;
        }

        &__footer {
            display: none;
        }
    }
}

.tour-dialog {
    transition: unset;

    .dc-dialog__dialog {
        @include mobile {
            width: 90vw;
            padding: 1.6rem;
        }

        @include tablet {
            width: 90vw;
            padding: 1.6rem;
        }

        opacity: unset;
        transition: unset;
        transform: unset;
    }

    &--end {
        @include mobile {
            .dc-btn--primary {
                padding: 1rem;
            }
        }

        .dc-btn--secondary {
            display: none;
        }
    }

    .dc-dialog__content {
        &__header {
            margin-bottom: 2.4rem;
            text-align: left;
        }

        &__description {
            text-align: left;

            &__text {
                margin-bottom: 1.6rem;
            }
        }
    }

    .dc-dialog__footer {
        @include mobile {
            display: flex;
            flex-direction: column;
            align-content: flex-end;
            height: unset;

            button {
                &:first-child {
                    margin-right: 0.8rem;
                    margin-bottom: unset;
                }
            }
        }
    }
}
