@import './sidebar';
@import './dialog';

@mixin position-center {
    display: flex;
    justify-content: center;
}

@mixin align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tutorials-wrap {
    padding-bottom: 20rem;

    &--placeholder {
        width: 28rem;
    }

    &--tour {
        cursor: pointer;
    }

    &__group {
        @include mobile {
            flex-direction: column;
            margin-top: 1.4rem;
            margin-bottom: 2.2rem;
        }

        display: flex;
        margin-top: 2.4rem;
        margin-bottom: 5.2rem;

        &__nosearch {
            @include position-center;

            width: 100%;
            word-break: break-all;
        }

        &__cards {
            @include mobile {
                flex-direction: row;

                span {
                    width: calc(100% - 14.8rem);
                    padding-left: 0.8rem;
                    text-align: left;
                }
            }

            display: flex;
            flex-direction: column;
            width: 21.5rem;
            margin-right: 2.4rem;
            text-align: center;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__placeholder {
        @include align-center;

        @include mobile {
            width: 14.8rem;
            height: 8.7rem;
            margin: 0;
        }

        width: 28rem;
        height: 16rem;
        margin-right: 2.4rem;
        margin-bottom: 0.8rem;
        background: var(--checkbox-disabled-grey);
        background-size: 100% 100%;

        &__tours {
            @include mobile {
                width: 14.8rem;
                height: 8.7rem;
            }

            height: 13.5rem;
            margin-bottom: 0.8rem;
            background-position: center center;
            cursor: pointer;
        }

        &__button-group {
            @include align-center;

            @include mobile {
                width: 8rem;
                height: 6rem;
            }

            width: 20rem;
            height: 7rem;
            border-radius: 1rem;
            background-color: rgb(0 0 0 / 50%);
            cursor: pointer;

            &--play {
                filter: invert(1);
            }
        }

        &--disabled {
            pointer-events: none;
        }
    }
}

.faq {
    &__wrapper {
        @include mobile {
            height: calc(100vh - 27rem);

            .dc-accordion__wrapper > div:last-child {
                // iphone 14 specific
                @media (height >= 450px) and (height <= 750px) {
                    padding-bottom: 10rem;
                }
            }
        }

        overflow: auto;
        height: 100vh;
        padding-bottom: 20rem;

        &__nosearch {
            @include position-center;

            width: 100%;
            word-break: break-all;
        }

        &__content {
            @include mobile {
                width: 100%;
                height: calc(100vh - 16rem);
            }

            width: 85%;
        }

        .dc-accordion {
            &__item {
                border: unset;
                border-bottom: 0.1rem solid var(--general-section-1);

                &-header {
                    @include position-center;

                    justify-content: space-between;
                }

                &-content {
                    @include mobile {
                        width: 100%;

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }

        &__header {
            margin: 0 0 1rem 0.5rem;
        }
    }
}
