.wallets-transfer-form-account-selection {
    display: flex;
    width: 40rem;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0.8rem;
    background: var(--system-light-8-primary-background, #fff);
    /* Shadows/xxxl */
    box-shadow: 0rem 3.2rem 6.4rem 0rem rgba(14, 14, 14, 0.14);
    max-height: 80vh;

    &__account {
        all: unset;
        cursor: pointer;
        border-radius: 0.4rem;
        padding: 0.8rem 1.6rem;

        &:hover {
            background: var(--system-light-8-primary-background, #e6e6e6);
        }
    }

    &__accounts {
        display: flex;
        flex-direction: column;
        padding: 1.6rem 0.8rem;
        width: 100%;
        overflow-y: auto;
    }

    &__header {
        display: flex;
        height: 5.6rem;
        padding: 0rem 1.6rem 0rem 2.4rem;
        justify-content: space-between;
        align-items: center;
        gap: 1.6rem;
        align-self: stretch;
        border-bottom: 0.1rem solid var(--system-light-5-active-background, #d6dadb);

        &__label {
            color: var(--system-light-1-prominent-text, #333);

            /* desktop/paragraph/P1 - bold */
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 700;
            line-height: 2.4rem; /* 150% */
        }

        &__close-button {
            all: unset;
            font-size: 2rem;
        }
    }
}
