.wallets-text {
    &-size-3xs {
        font-size: 0.8rem;
    }

    &-size-2xs {
        font-size: 1rem;
    }

    &-size-xs {
        font-size: 1.2rem;
    }

    &-size-sm {
        font-size: 1.4rem;
    }

    &-size-md {
        font-size: 1.6rem;
    }

    &-size-lg {
        font-size: 1.8rem;
    }

    &-size-xl {
        font-size: 2rem;
    }

    &-size-2xl {
        font-size: 2.2rem;
    }

    &-size-3xl {
        font-size: 2.4rem;
    }

    &-size-4xl {
        font-size: 3.2rem;
    }

    &-weight-normal {
        font-weight: 400;
    }

    &-weight-bold {
        font-weight: 700;
    }

    &-align-left {
        text-align: left;
    }

    &-align-center {
        text-align: center;
    }

    &-align-right {
        text-align: right;
    }

    &-line-height-3xs {
        line-height: 1.2rem;
    }

    &-line-height-2xs {
        line-height: 1.4rem;
    }

    &-line-height-xs {
        line-height: 1.6rem;
    }

    &-line-height-sm {
        line-height: 1.8rem;
    }

    &-line-height-md {
        line-height: 2rem;
    }

    &-line-height-lg {
        line-height: 2.2rem;
    }

    &-line-height-xl {
        line-height: 2.4rem;
    }

    &-line-height-2xl {
        line-height: 2.6rem;
    }

    &-line-height-3xl {
        line-height: 2.8rem;
    }

    &-line-height-4xl {
        line-height: 3rem;
    }

    &-line-height-5xl {
        line-height: 3.2rem;
    }

    &-line-height-6xl {
        line-height: 3.6rem;
    }

    &-color-general {
        color: #333333;
    }

    &-color-primary {
        color: #999999;
    }

    &-color-success {
        color: #4bb4b3;
    }

    &-color-warning {
        color: #ffad3a;
    }

    &-color-error {
        color: #ec3f3f;
    }

    &-color-white {
        color: #ffffff;
    }

    &-color-black {
        color: #000000;
    }

    &-color-less-prominent {
        color: #999999;
    }

    &-color-red {
        color: #ff444f;
    }

    &-color-blue {
        color: #377cfc;
    }
}
