.wallets-transfer-form-account-selection {
    display: flex;
    width: 40rem;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0.8rem;
    background: var(--system-light-8-primary-background, #fff);
    /* Shadows/xxxl */
    box-shadow: 0rem 3.2rem 6.4rem 0rem rgba(14, 14, 14, 0.14);
    max-height: 52.8rem;
    z-index: 10;

    @include mobile-or-tablet-screen {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
        box-shadow: none;
    }

    &__loader {
        margin: 4.1rem auto;
    }

    &__accounts {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow-y: auto;

        @include mobile-or-tablet-screen {
            padding: 0 1.6rem 1.6rem;
            gap: 1.6rem;
            overflow-y: unset;
            //prevent content bouncing on scroll on iPhone devices
            overscroll-behavior: none;
        }
    }

    &__accounts-group {
        display: flex;
        flex-direction: column;
        padding: 1.6rem 0.8rem;
        gap: 0.8rem;

        @include mobile-or-tablet-screen {
            padding: 0;
            gap: 0.4rem;
        }
    }

    &__grouped-accounts {
        display: flex;
        flex-direction: column;
    }

    &__account {
        all: unset;
        cursor: pointer;
        border-radius: 0.4rem;
        padding: 0.8rem 1.6rem;

        @include mobile-or-tablet-screen {
            padding: 0.8rem;
        }

        &--selected {
            background: var(--system-light-5-active-background, #d6dadb);
        }

        &:hover:not(&--selected) {
            background: var(--system-light-8-primary-background, #e6e6e6);
        }
    }

    &__header {
        display: flex;
        height: 5.6rem;
        padding: 1.6rem;
        padding-inline-start: 2.4rem;
        justify-content: space-between;
        align-items: center;
        gap: 1.6rem;
        align-self: stretch;
        border-bottom: 2px solid var(--system-light-7-secondary-background, #f2f3f4);

        @include mobile-or-tablet-screen {
            position: sticky;
            top: -2.4rem;
            left: 0;
            right: 0;
            border: none;
            background: var(--system-dark-1-prominent-text, #fff);
            padding: 2.4rem 1.6rem 1.6rem;
            height: auto;
            z-index: 10;
        }
    }

    &__label {
        @include mobile-or-tablet-screen {
            padding-inline-start: 0.8rem;
        }
    }

    &__close-button {
        all: unset;
        cursor: pointer;
        padding: 0.8rem;

        @include mobile-or-tablet-screen {
            padding: 0;
            padding-inline-end: 0.8rem;
        }
    }

    &__accounts-group-title {
        display: flex;
        padding-inline: 1.6rem;

        @include mobile-or-tablet-screen {
            padding-inline: 0.8rem;
        }
    }

    &__title-line {
        flex-grow: 1;
        border-bottom: 1px solid var(--general-section-1, #f2f3f4);
        margin-block: 0.9rem;
        margin-inline-start: 1rem;
    }

    &__transfer-to-hint {
        padding: 0 0.8rem 1.6rem;
        @include mobile-or-tablet-screen {
            padding: 0 1.6rem 0.8rem;
        }
    }
}
