.common-mistake-examples {
    &__title {
        margin-block: 1.6rem;
    }
    &__content {
        display: grid;
        row-gap: 1.6rem;
        margin-bottom: 2.4rem;

        @include tablet-screen {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 3.2rem;
        }

        @include desktop-screen {
            grid-template-columns: repeat(3, 1fr);
            column-gap: calc((100% - 23.7rem * 3) / 2);
            row-gap: 3.2rem;
        }
        @include tablet-screen {
            grid-template-columns: repeat(2, 1fr);
        }

        &-layout {
            background-color: var(--transparent-danger);
            gap: 1.6rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0.8rem;
            box-sizing: border-box;
            border: 1px solid var(--general-section-1);
            border-radius: $BORDER_RADIUS;
            width: 23.7rem;
            height: 21.8rem;

            @include mobile-or-tablet-screen {
                margin-inline: auto;
            }
        }
        &-description {
            display: grid;
            grid-column-gap: 0.2rem;
            grid-template-columns: 1fr auto;
        }
    }
}
