.calendar-radio-button {
    display: flex;
    align-items: center;
    padding: 0.7rem 0.8rem;
    border: 1px solid;
    border-color: var(--border-normal);
    border-radius: 4px;
    margin: 0.8rem 0.8rem 2.4rem;

    &__input {
        display: none;
    }
    &__circle {
        border: 2px solid var(--text-less-prominent);
        border-radius: 50%;
        box-shadow: 0 0 1px 0 var(--shadow-menu);
        width: 1.6rem;
        height: 1.6rem;
        transition: all 0.3s ease-in-out;
        margin-right: 0.8rem;
        align-self: center;

        &--selected {
            border-width: 4px;
            border-color: var(--brand-red-coral);
        }
    }
    &--selected {
        border-color: var(--brand-secondary);
    }
}
