.dc-form-submit-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-self: flex-end;
    width: 100%;

    .dc-btn {
        margin: 0 0.8rem;

        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin: 0;
        }
    }
    &--absolute {
        bottom: 0;
        position: absolute;
        left: 0;
        padding: 2.4em;
        background-color: var(--general-main-1);
        border-top: 1px solid var(--general-section-1);
    }
    &--center {
        justify-content: center;
        width: 100%;

        & .btn {
            min-width: 9em;
        }
    }
    &--error {
        @include typeface(--paragraph-left-normal-black);
        text-transform: none;
        color: var(--brand-red-coral) !important;
    }
    @include mobile {
        background-color: var(--general-section-2);
        top: unset;
        bottom: 0;

        .dc-btn {
            height: 40px;
            width: 100%;
        }
    }
}
