/* @define dc-carousel */
.dc-carousel {
    width: fit-content;
    justify-self: center;

    &__row {
        display: grid;
        grid-template-columns: 2rem 22.7rem 2rem;
        align-items: center;
        overflow-x: scroll;
    }
    &__body {
        display: flex;
        justify-content: flex-start;
        align-items: start;
        transition: all 0.3s ease;
        opacity: 1;
        overflow: hidden;
        scroll-behavior: smooth;
    }
    &__footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }
    &__circle {
        background-color: var(--text-prominent);
        opacity: 0.5;
        margin: 0.5rem;
        width: 8px;
        height: 8px;
        border-radius: 50%;

        &--is-active {
            opacity: 1;
        }
    }
}
