.dc-app-settings {
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;

    &__content {
        flex: 1;
        min-height: 0;

        @include mobile {
            overflow-y: auto;
        }

        &-container {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
    }
    &__footer {
        &-wrapper {
            $footer-height: 7.2rem;

            &:empty {
                display: none;
            }

            background-color: var(--general-main-2);
            border-top: 2px solid var(--general-section-2);
            display: flex;
            align-items: center;
            flex: 0;
            min-height: $footer-height;
            max-height: $footer-height;
        }

        padding: 0 2.4rem;
        width: 100%;
        display: flex;
        align-items: center;

        &-right {
            margin-left: auto;
        }
    }
    &__menu {
        $vertical-padding: 0.8rem;
        $side-padding: 1.6rem;

        border-right: 1px solid var(--general-section-2);
        padding: $side-padding $vertical-padding;
        position: relative;
        min-width: max-content;

        &-highlight {
            transition: transform 0.25s ease;
            position: absolute;
            width: 4px;
            height: 32px;
            background-color: var(--brand-red-coral);
            top: 0;
            right: 8px;
        }
        &-item {
            padding: 0.6rem 2.1rem 0.6rem 0.8rem;
            user-select: none;
            white-space: pre;

            &:not(&--active) {
                cursor: pointer;
            }
        }
    }
}
