.traders-hub {
    max-width: 123.2rem;
    margin: auto;
    padding: 2.4rem 0;

    @include mobile {
        padding: 2rem;
        width: 100%;
    }

    &__wallets-bg {
        background-color: var(--general-section-1);
    }

    &__main-container {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
    }

    &__button-toggle {
        margin-top: 3rem;
        border-radius: $BORDER_RADIUS;
        padding: 0.4rem;
        background-color: var(--general-section-1);
    }

    &--mobile {
        overflow: scroll !important;

        &--eu-user {
            @include mobile {
                height: calc(550px) !important;
            }
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }
}
