/* @define .composite-calendar; weak; */
.composite-calendar {
    position: absolute;
    top: 36px;
    right: 0;
    z-index: 99;
    display: grid;
    grid-template-columns: minmax(max-content, 158px) minmax(min-content, 280px) minmax(min-content, 280px);
    border-radius: $BORDER_RADIUS;
    background-color: var(--general-main-2);
    box-shadow: 0 2px 16px 8px var(--shadow-menu);

    .composite-wrapper {
        position: absolute;
        z-index: 98;
        width: 100%;
        height: 100%;
        background-color: var(--general-main-1);
    }

    &__input-fields {
        display: flex;
        width: 100%;
        border-radius: $BORDER_RADIUS;

        &--fill {
            width: 100%;

            & > .dc-input-field {
                width: 100%;
            }
        }

        & > .dc-input-field {
            @include desktop {
                max-width: 17.6rem;
            }

            @include mobile {
                .inline-icon {
                    top: 1.2rem;
                }
            }

            @include colorIcon(var(--text-prominent));

            width: 100%;
            margin: 0;

            & .input {
                @include mobile {
                    height: 4rem;
                    padding-left: 3rem;
                    text-align: left;
                }

                height: 3.2rem;
                border: 1px solid var(--border-normal);
                background-color: var(--fill-normal);
                appearance: none;

                &:hover {
                    border-color: var(--border-hover);
                }

                &:focus,
                &:active {
                    border-color: var(--border-active);
                }

                &::placeholder {
                    color: var(--text-general);
                }
            }
        }

        & > .dc-input-field:not(:first-child) {
            margin-left: 8px;
        }
    }

    & > .first-month,
    & > .second-month {
        .dc-calendar__body {
            border-bottom: none;
        }
    }

    &__prepopulated-list {
        @include typeface(--paragraph-center-normal-black);

        padding-top: 50px;
        background: var(--state-normal);
        color: var(--text-prominent);

        &--is-active {
            background-color: var(--state-active);
            color: var(--text-prominent);
            font-weight: bold;
        }

        & li {
            display: flex;
            align-items: center;
            height: 32px;
            padding: 6px 6px 6px 16px;
            cursor: pointer;

            &:hover:not(.composite-calendar__prepopulated-list--is-active) {
                background: var(--state-hover);
            }
        }
    }
}

/* @define composite-calendar-modal; weak; */
.composite-calendar-modal {
    @include mobile {
        &__actions {
            display: flex;
            padding: 16px;
            border-top: 2px solid var(--border-disabled);

            > * {
                flex: 1;
                margin: 8px;
            }

            &-today {
                width: 100%;
            }
        }

        &__radio-group {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 16px 16px 24px;
            border-bottom: 2px solid var(--border-disabled);
        }

        &__radio {
            display: flex;
            align-items: center;
            margin: 8px;
            padding: 7px 8px;
            border: 1px solid;
            border-color: var(--border-normal);
            border-radius: 4px;
            font-size: 1.4rem;

            &-input {
                display: none;
            }

            &-circle {
                align-self: center;
                width: 16px;
                height: 16px;
                margin-right: 8px;
                border: 2px solid var(--text-general);
                border-radius: 50%;
                box-shadow: 0 0 1px 0 var(--shadow-menu);
                transition: all 0.3s ease-in-out;

                &--selected {
                    border-width: 4px;
                    border-color: var(--brand-red-coral);
                    background: $color-white;
                }
            }

            &--selected {
                border-color: var(--brand-secondary);
                font-weight: bold;
            }
        }

        &__custom {
            padding: 16px;

            &-radio {
                display: inline-flex;
            }

            &-date-range {
                display: flex;
                flex-direction: column;
                margin: 8px;

                &-start-date {
                    margin: 16px 0;
                }

                &-end-date {
                    margin-bottom: 8px;
                }
            }
        }
    }
}
