.new-affiliate-account-modal {
    &__body {
        padding: 2.4rem 2.4rem 0;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding: 4rem 1.6rem 1.6rem;
    }
    &__footer {
        padding: 2.4rem;
    }
    &__option {
        max-width: 33%;
    }
    &__icon {
        padding-bottom: 0.8rem;
    }
    &__button {
        height: 4rem;
        width: 5.2rem;
    }

    @include mobile {
        &__body {
            padding: 1.6rem 1.6rem 0;
        }
        &__content {
            display: flex;
            flex-direction: column;
            padding: 0.8rem 1.6rem;
        }
        &__footer {
            padding: 1.6rem;
        }
        &__option {
            display: flex;
            align-items: center;
            margin-top: 1.6rem;
            max-width: none;
        }
        &__icon {
            padding: 0 1.6rem 0 0;
        }
    }
}
