.advertiser-page-stats {
    &__row {
        border-bottom: none;
        display: flex;
        grid-template-columns: repeat(3, 1fr);
        height: 5rem;
        justify-content: space-between;
        margin: 2rem 0;
        width: 100%;

        @include mobile-or-tablet-screen {
            grid-template-columns: repeat(2, 1fr);
            margin: 0.6rem;
            width: 90vw;
        }
    }

    &__cell {
        display: grid;
        min-width: 20rem;
        text-align: center;
        margin-right: 10rem;

        @include mobile-or-tablet-screen {
            min-width: 12rem;

            &:nth-child(5) {
                min-width: 16rem;
            }
        }

        &-buy {
            margin-left: 0.5rem;
            margin-top: 0.14rem;
        }

        &-completion {
            display: flex;

            @include mobile-or-tablet-screen {
                flex-direction: row;
                justify-content: center;
                padding-left: 0.5rem;
            }
        }

        &-separator {
            border-right: 1px solid #ededed;
            margin-right: 2rem;

            @include mobile-or-tablet-screen {
                margin: 0px 3rem 0 -4rem;
            }
        }
    }

    &__wrapper {
        align-items: center;
        display: flex;

        @media (max-height: 580px) {
            height: 5rem;
        }
        @include mobile-or-tablet-screen {
            display: flex;
            justify-content: center;
            flex: none;

            background-color: var(--general-main-1);
            z-index: 1;
            transition: transform 0.25s linear, opacity 0.25s ease;
            transform-origin: top;
        }
    }
}
