$BOTTOM_NAV_HEIGHT: var(--core-spacing-2800);

.bottom-nav {
    position: fixed;
    bottom: 0;
    height: $BOTTOM_NAV_HEIGHT;
    width: 100%;
    padding: var(--core-spacing-200);
    border-top: 1px solid var(--component-navigationBar-border-color);
    z-index: 30;

    &-item {
        font-size: var(--core-fontSize-50);

        .quill-navigation-bottom-bar__action-label {
            color: var(--component-navigationBar-label-color-default);
        }

        svg {
            fill: var(--component-navigationBar-icon-default);
        }

        &__position-badge {
            z-index: 1;
        }
        &--active {
            .quill-navigation-bottom-bar__action-label {
                color: var(--component-navigationBar-label-color-selected);
            }

            svg {
                fill: var(--component-navigationBar-icon-selected);
            }
        }
        &--positions {
            position: relative;

            .user-guide__anchor {
                position: absolute;
                height: var(--core-size-3200);
                width: var(--core-size-4600);
                left: 50%;
                top: 50%;
                transform: translate(-50%, -70%);
            }
        }
    }
}
