.bottom-nav {
    &-container {
        display: flex;
        padding: 8px;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
        position: fixed;
        bottom: 0;
        width: 100%;
        border-top: 1px solid var(--core-color-opacity-black-100); // waiting on quill tokens in deriv-app
    }
    &-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 0 0;
    }
    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 0 0;

        &--active {
            color: var(--core-color-opacity-coral-600);

            svg {
                fill: var(--core-color-opacity-coral-600);
            }
        }
    }
}
