.skeleton-card {
    width: 20rem;
    height: 12rem;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--fill-normal);

    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        svg {
            width: 100%;
            height: 100%;
            border-radius: $BORDER_RADIUS * 2;
        }
    }

    &__label {
        color: var(--general-active);
    }
}
