.wallets-modal {
    background-color: #ffffff;
    border-radius: 20px;
    position: relative;

    &-close-icon {
        position: absolute;
        top: 2rem;
        right: 2rem;
        cursor: pointer;
    }
}
