.my-profile {
    &__error {
        color: var(--text-loss-danger);
        font-size: var(--text-size-xs);
    }
    &__scrollbar {
        height: calc(100% - 150px);
        position: absolute;
        width: calc(100% - 4.8rem);
    }
    &__header {
        display: flex;
        height: fit-content;
        justify-content: space-between;
        width: 657px;

        &-avatar {
            align-items: center;
            border-radius: 50%;
            color: var(--text-colored-background);
            display: flex;
            font-size: var(--text-size-xs);
            height: 3.2rem;
            justify-content: center;
            margin-right: 0.8rem;
            width: 3.2rem;
        }
        &-details {
            display: flex;
        }
        &-name {
            align-self: center;
            color: var(--text-prominent);
            font-size: var(--text-size-s);
            font-weight: bold;
            height: fit-content;
            width: fit-content;
        }
        &-verification {
            align-items: center;
            color: var(--text-less-prominent);
            display: flex;
            font-size: var(--text-size-xs);

            &-status {
                margin-left: 1.6rem;
            }
            &-icon {
                margin-left: 0.4rem;
                vertical-align: bottom;
            }
        }
    }
    &__stats {
        border-bottom: none;
        display: flex;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 46px;
        height: fit-content;
        margin: 2.4rem 0;
        width: 657px;

        &-cell {
            display: block;
            text-align: center;
            width: 158px;

            &-header {
                color: var(--text-less-prominent);
                font-size: var(--text-size-xs);
                line-height: 20px;
            }
            &-info {
                font-size: var(--text-size-s);
                font-weight: bold;
                line-height: 24px;
            }
            &-separator {
                border-right: 1px solid var(--general-section-1);
            }
        }
    }
    &__popover {
        &-icon {
            margin: 0 0.8rem;
        }
        &-text {
            margin-right: 2rem;
        }
    }
    &__separator {
        display: flex;

        &-text {
            color: var(--text-prominent);
            display: flex;
            font-size: var(--text-size-xs);
            font-weight: bold;
        }
        &-horizontal_line {
            align-self: center;
            border-bottom: 1px solid var(--general-section-1);
            margin-left: 1.6rem;
            width: 564px;
        }
    }
    &__form {
        &-textarea {
            margin-top: 2.5rem;
            width: 657px;

            .dc-input__hint {
                top: 9.7rem;
            }
            .dc-input__counter {
                right: 0rem;
                top: 9.6rem;
            }
        }
    }
    &__footer {
        border-top: 2px solid var(--general-section-1);
        bottom: 36px;
        left: unset;
        position: fixed;
        width: 657px;

        &-button {
            float: right;
            margin: 1.6rem 2.4rem;
        }
    }
}
