.wallets-onfido {
    width: 99.6rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.6rem 0;

    @include desktop {
        max-height: calc(var(--wallets-vh, 1vh) * 100 - 23.5rem);
    }

    @include mobile {
        width: 100%;
        padding: 1.6rem;
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;

        @include mobile {
            min-height: 47.2rem;
        }
    }

    &__wrapper {
        position: relative;
        width: 100%;
        min-height: 38.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 1s ease;

        &-overlay {
            position: relative;
            width: 100%;

            &--disabled {
                opacity: 0.5;
            }

            // stylelint-disable-next-line selector-class-pattern
            & .onfido-sdk-ui-Modal-inner {
                border-radius: 8px;
                min-height: 62rem;
                height: 60%; // height from figma is too small so make it relative
            }
        }

        &-message {
            position: absolute;
            top: 1.6rem;

            &--verified {
                width: 100%;
                top: 0.4rem;
                transition: opacity 1s ease;

                animation-name: animate-verified-message;
                animation-duration: 200ms;
                animation-fill-mode: forwards;
                animation-delay: 2.5s;
            }
        }
    }

    &--success {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@keyframes animate-verified-message {
    to {
        display: none;
        opacity: 0;
    }
}
