.wallets-onfido {
    width: 99.6rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.6rem 0;
    overflow-y: scroll;
    max-height: calc(var(--wallets-vh, 1vh) * 100 - 23.5rem);

    @include mobile {
        width: auto;
        height: 100%;
        padding: 1.6rem;

        // stylelint-disable-next-line selector-class-pattern
        & .onfido-sdk-ui-Modal-inner {
            margin-inline: 3.9rem;
            width: 32.8rem;
            min-height: 38.2rem;
            height: 60%; // height from figma is too small so make it relative
        }
    }

    &__content {
        @include mobile {
            min-height: 47.2rem;
            display: flex;
            justify-content: center;
        }
    }

    &__wrapper {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 1s ease;

        &-overlay {
            &--disabled {
                opacity: 0.5;
            }
        }

        &-message {
            position: absolute;
            top: 1.6rem;

            &--verified {
                width: 100%;
                top: 0.4rem;
                transition: opacity 1s ease;

                animation-name: animate-verified-message;
                animation-duration: 200ms;
                animation-fill-mode: forwards;
                animation-delay: 2s;
            }
        }
    }

    &--success {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@keyframes animate-verified-message {
    to {
        display: none;
        opacity: 0;
    }
}
