.container {
    position: relative;
}

.icon-marquee {
    overflow: visible;
}

.icons-container {
    display: flex;
    gap: 0.8rem;
}

.shadow {
    height: 100%;
    position: absolute;
    top: 0;
    width: 4rem;
    z-index: 1;

    &--left {
        background-image: linear-gradient(to left, transparentize($color-white, 1) -5%, $color-white 71%);
        left: 0;
    }

    &--right {
        background-image: linear-gradient(to right, transparentize($color-white, 1) -5%, $color-white 71%);
        right: 0;
    }
}
