.wallet-locked {
    &__state {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 79.2rem;
        margin: 14rem auto 0;

        &__title {
            margin-bottom: 0.8rem;
        }
    }

    .legacy-inline-message {
        max-width: 128rem;
        margin: 0 auto;
        padding: 1.6rem 4rem;

        @include mobile {
            padding: 1.6rem;
        }

        &__container {
            position: fixed;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }
}
