.wallets-accounts-list {
    height: 100%;
    width: 100%;
    background: var(--system-light-8-primary-background, #fff);

    @include desktop {
        border-radius: 0 0 16px 16px;
    }

    &__content {
        margin-top: 24px;
    }
}
