:focus-visible {
    outline: none;
}

.wallets-accounts-list {
    height: 100%;
    width: 100%;

    @include desktop-screen {
        border-radius: 0 0 1.6rem 1.6rem;
    }

    @include mobile-or-tablet-screen {
        padding: 1.6rem;
        width: 100%;
        height: auto;
    }

    &__divider {
        width: 100%;
        @include tablet-screen {
            width: 80%;
            margin-inline: auto;
        }
    }

    &__tabs {
        height: 5rem;
        padding: 0.4rem;
        border-radius: 6px;
    }

    &__tab {
        border-radius: 4px;
    }
}
