/** @define dc-button-menu */
.dc-button-menu {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;

    &__button:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    &__button:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    &__button {
        margin: 0;
        border: none;
        border-radius: 0px;
        width: 50%;
        background-color: var(--state-normal);

        /* postcss-bem-linter: ignore */
        .dc-btn__text {
            display: contents;
        }
        @include desktop {
            &:hover:not(.dc-button-menu__button--active) {
                background-color: var(--state-hover) !important;
            }
        }
        /* postcss-bem-linter: ignore */
        span {
            @include typeface(--paragraph-left-normal-black, unset);
            color: var(--text-general);
        }
        &--active {
            cursor: initial;
            background-color: var(--state-active) !important;

            // stylelint-disable-next-line
            span {
                @include typeface(--paragraph-left-bold-active, unset);
                color: var(--text-prominent);
            }
        }
    }
    &__counter {
        margin-left: 0.4rem;
    }
    &__wrapper {
        position: relative;
        border-radius: $BORDER_RADIUS;
        width: 100%;
        background-color: var(--state-normal);
        display: flex;

        .dc-button-menu {
            &__button,
            &__button--active {
                background-color: rgba(0, 0, 0, 0) !important;
                z-index: 1;
                padding: 0.8rem 0.6rem;
                white-space: normal;

                .dc-btn__text {
                    line-height: normal;
                }
            }
            &__button:nth-last-child(2) {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
    }
    &--highlight {
        display: block;
        position: absolute;
        content: '';
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
        transition: transform 0.25s ease;
        pointer-events: none;
    }
}
