.dw-you-might-like {
    background-color: var(--general-hover);

    &__wrapper {
        display: flex;
    }
    &__card {
        display: flex;
        flex-direction: column;
        max-width: 29.6rem;
        margin-right: 2.4rem;
        border-radius: 10px;

        &-image {
            margin-bottom: 1.6rem;
            margin-top: 4rem;
            height: 15rem;
        }
    }
    &__line {
        width: 93.6rem;
        height: 1px;
        border: 1px solid var(--general-section-1);
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
}
