.ssb-qs-text {
    input {
        border: none;
        height: var(--select-height);
        background: var(--general-main-1);
        padding: 0.8rem 2.4rem;
    }

    &__error {
        border: 1px solid var(--text-loss-danger);
    }
}
