.my-profile-name {
    align-items: center;
    display: flex;
    margin-bottom: 2.4rem;
    width: 100%;

    @include mobile {
        margin: 0 0 2.4rem;
    }

    &__avatar {
        @include mobile {
            align-self: flex-start;
            margin: 0 0 1;
        }
    }

    &--column {
        display: flex;
        flex-direction: column;
    }

    &__name {
        padding-left: 0.8rem;
        width: 100%;

        @include mobile {
            width: unset;
        }
    }

    &--privacy {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    &--rating {
        display: flex;
        flex-direction: row;
        padding: 0.8rem 0;

        @include mobile {
            padding: 1rem 0;
            flex-flow: row wrap;
        }

        &__row {
            align-items: center;
            border-right: 1px solid var(--general-section-1);
            display: flex;
            padding: 0 0.8rem;

            &:first-child {
                padding-left: unset;

                @include mobile {
                    .block-user-count {
                        margin-left: unset;
                    }
                }
            }

            &:last-child {
                border-right: unset;
            }

            .filled-icons {
                pointer-events: none;
            }
        }

        &__text {
            display: flex;
            gap: 0.8rem;
            margin-left: 0.4rem;
        }
    }

    &__row {
        display: flex;
        flex-direction: row;

        @include mobile {
            padding: 0.5rem 0;
        }
    }
}
