/** @define data-list; weak */
.data-list {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    &__body {
        flex: 1;

        &-wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }

    &__footer {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        border-top: 2px solid var(--border-disabled);
        background: var(--general-main-1);
    }

    &__item {
        @include mobile {
            border-radius: $BORDER_RADIUS;
        }

        height: inherit;

        &--wrapper {
            height: inherit;
            text-decoration: none;
            -webkit-touch-callout: none;
            -webkit-tap-highlight-color: transparent;
        }
    }

    &__row {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 4px 16px;

        > * {
            flex: 1;
        }

        &-content {
            color: var(--text-general);
            font-size: 1.4rem;
            line-height: 2rem;
        }

        &-cell {
            &--amount {
                display: flex;
                flex: none;
                flex-direction: column;
                align-items: flex-end;
            }
        }

        &-title {
            @include mobile {
                font-size: 1.2rem;
            }

            color: var(--text-prominent);
            font-weight: bold;
            font-size: 1.4rem;
            line-height: 2rem;
        }

        &-divider {
            margin: 0 1.6rem;

            &:after {
                content: '';
                display: block;
                border-top: 1px solid var(--general-main-1);
            }
        }

        &--wrapper:not(.data-list__item--dynamic-height-wrapper) {
            height: 100%;
        }

        &--vanilla {
            flex: none;
        }
    }

    &__desc {
        &--wrapper {
            display: flex;
            align-items: center;
            height: inherit;
            padding: 1rem;
            color: var(--text-general);
            font-size: var(--text-size-xxs);
            text-align: center;
        }
    }
}

.ReactVirtualized__List {
    outline: 0;
}
