.static-dashboard {
    background-color: var(--general-main-1);
    border-radius: $BORDER_RADIUS;

    &-wrapper {
        &__header {
            padding: 1rem;

            &--animated {
                animation: triggerAnimation 2s linear;
            }
        }
        &__body {
            display: flex;
            padding: 0.5rem;

            &--apps {
                display: flex;
            }
        }
    }
}

.divider {
    width: calc(100% - 3.2rem);
    border-top: 1px solid var(--general-section-1);
    margin: 1rem 0 1.6rem 1.6rem;
}
