.payment-methods-empty {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--button {
        margin-top: 2.4rem;
    }

    &--icon {
        margin: 11.2rem auto 0;
    }

    &--text {
        margin: 3.9rem 0 0.8rem;
    }
}
