.p2p-v2-profile-content {
    display: flex;
    flex-direction: column;
    padding: 2.4rem;
    gap: 4.8rem;
    border-radius: 0.8rem;
    border: 0.1rem solid #e6e9e9;

    @include mobile {
        border: none;
        border-radius: 0;
        width: 100vw;
        border-bottom: 0.1rem solid #e6e9e9;
    }
}
