.payment-agent-deposit-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 0.8rem;
    margin-top: 3.2rem;
    & > .payment-agent-detail:nth-child(-n + 2) {
        margin-bottom: 2.4rem;
        @include mobile-or-tablet-screen {
            margin-bottom: 0;
        }
    }
    .payment-agent-detail {
        &__icon-wrapper {
            width: 3.2rem;
            height: 3.2rem;
            background: var(--icon-grey-background);
            border-radius: $BORDER_RADIUS * 2;
        }
        @include mobile-screen {
            &.deposit-commission {
                order: 5;
            }

            &.withdrawal_commission {
                order: 6;
            }
        }
    }
    @include mobile-screen {
        grid-template-columns: 1fr;
        margin-top: 2.4rem;
    }
}
