.wallets-listing-route {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    -webkit-overflow-scrolling: none; // disable inertia for scroll events

    @include desktop {
        padding: 4rem;
    }
}
