@import 'app/_common/base/index';

.currency-list {
    width: 100%;

    form {
        width: 100%;
    }
    &__items {
        display: flex;
        justify-content: space-around;
    }
    &__item {
        align-items: center;
        border-radius: $BORDER_RADIUS;
        display: inline-flex;
        flex-direction: column;
        height: 120px;
        justify-content: space-around;
        margin: $BORDER_RADIUS;
        width: 120px;
        @include themify($themes) {
            border: 1px solid themed('container_color');
        }

        &:hover:not(&--selected) {
            cursor: pointer;
            @include themify($themes) {
                border: 1px solid themed('border_color');
            }
        }
        &--current {
            opacity: 0.5;
        }
        &--selected {
            @include themify($themes) {
                border: 1px solid themed('border_outline_color');
            }

            & > p {
                @include typeface(--paragraph-center-bold-black);
            }
        }
        .change-currency &--selected {
            @include themify($themes) {
                background-color: $COLOR_WHITE;
            }
        }
        .change-currency &:hover {
            @include themify($themes) {
                background-color: themed('border_outline_color');
            }
        }
        .change-currency & {
            @include themify($themes) {
                border: 1px solid themed('border_color');
            }
        }
        svg {
            height: 48px;
            width: 48px;
        }
        p {
            text-align: center;
            @include typeface(--paragraph-center-normal-black);
            @include themify($themes) {
                color: themed('text_primary_color');
            }
        }
    }
    &__radio-button {
        display: none;
    }
}

.currency-hr {
    height: 2px;
    margin: 1rem 0 0;
    width: 100%;
    @include themify($themes) {
        border-top: 1px solid themed('border_color');
    }
}

.currency-selector {
    display: flex;
    flex-direction: column;

    &__radio-group {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-around;
    }
}
