$color-map: (
    'primary': (
        backgroundcolor: #ff444f,
        hover: #eb3e48,
    ),
    'primary-light': (
        backgroundcolor: #ff444f29,
        hover: #ff444f3d,
        color: #ff444f,
    ),
    'white': (
        backgroundcolor: #fff,
        hover: #d6dadb,
    ),
    'black': (
        backgroundcolor: #0e0e0e,
        hover: #323738,
    ),
);

$size-map: (
    'sm': (
        height: auto,
        padding: 0.3rem 0.8rem,
    ),
    'md': (
        height: 3.2rem,
        padding: 0.6rem 1.6rem,
    ),
    'lg': (
        height: 4rem,
        padding: 1rem 1.6rem,
    ),
);

.wallets-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    cursor: pointer;

    &:disabled {
        opacity: 0.32;
        cursor: not-allowed;
    }

    @each $size, $values in $size-map {
        &__size--#{$size} {
            padding: map-get($values, padding);
            height: map-get($values, height);
        }
    }

    @each $color, $values in $color-map {
        &__color--#{$color} {
            background-color: map-get($values, backgroundcolor);
            &:hover:not(:disabled) {
                background-color: map-get($values, hover);
            }
        }
    }

    &__variant {
        &--contained {
            border: none;
        }
        &--outlined {
            border: 1px solid var(--system-light-3-less-prominent-text, #999);
            background: none;
            &:hover:not(:disabled) {
                background: #00000014;
            }
        }
        &--ghost {
            background: none;
            border: none;
            &:hover:not(:disabled) {
                background: #ff444f14;
            }
        }
    }

    &__rounded {
        &--sm {
            border-radius: 0.4rem;
        }
        &--md {
            border-radius: 6.4rem;
        }
        &--lg {
            border-radius: 100%;
        }
    }

    &__full-width {
        width: 100%;
    }

    &__loader {
        .wallets-loader {
            width: 5rem;
            height: 1.2rem;

            &__element {
                width: 0.3rem;
                height: 1.2rem;
            }
        }
    }
}
