.wallets-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    cursor: pointer;
    &:disabled {
        opacity: 0.32;
        cursor: not-allowed;
    }
    &-size-sm {
        height: 2.4rem;
        padding: 0.3rem 0.8rem;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
    &-size-md {
        height: 3.2rem;
        padding: 0.6rem 1.6rem;
        flex-shrink: 0;
        font-size: 1.4rem;
    }
    &-size-lg {
        height: 4rem;
        padding: 1rem 1.6rem;
        flex-shrink: 0;
        font-size: 1.4rem;
    }
    &-variant-contained {
        border: none;
    }
    &-variant-outlined {
        border: 1px solid var(--system-light-3-less-prominent-text, #999);
        background: none;
        &:hover {
            background: rgba(0, 0, 0, 0.08);
        }
    }
    &-variant-ghost {
        background: none;
        border: none;
        &:hover {
            background: rgba(255, 68, 79, 0.08);
        }
    }
    &-rounded-default {
        border-radius: 0.4rem;
    }
    &-rounded-full {
        border-radius: 6.4rem;
    }
    &-color-primary {
        background: var(--brand-coral, #ff444f);
        &:hover {
            background: var(--button-primary-hover-light, #eb3e48);
        }
    }
    &-color-primary-light {
        background: var(--button-primary-light-default, rgba(255, 68, 79, 0.16));
        &:hover {
            background: var(--button-primary-light-hover, rgba(255, 68, 79, 0.24));
        }
    }
    &-color-white {
        background: var(--system-light-8-primary-background, #fff);
        &:hover {
            background: var(--system-light-5-active-background, #d6dadb);
        }
    }
    &-color-black {
        background: var(--system-dark-8-primary-background, #0e0e0e);
        &:hover {
            background: var(--system-dark-5-active-background, #323738);
        }
    }
    &-full-width {
        width: 100%;
    }
}
