.wallets-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    /* TODO: Remove this once merged with <Text /> */
    line-height: 20px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    &:disabled {
        opacity: 0.32;
        cursor: not-allowed;
    }
    &-size-s {
        padding: 3px 8px;
        font-size: 12px;
        line-height: 18px;
    }
    &-size-m {
        height: 32px;
        padding: 6px 16px;
        flex-shrink: 0;
        font-size: 14px;
    }
    &-size-l {
        height: 40px;
        padding: 10px 16px;
        flex-shrink: 0;
        font-size: 14px;
    }
    &-type-contained {
        border: none;
    }
    &-type-outlined {
        color: var(--system-light-1-prominent-text, #333);
        border: 1px solid var(--system-light-3-less-prominent-text, #999);
        background: none;
        &:hover {
            background: rgba(0, 0, 0, 0.08);
        }
    }
    &-type-text {
        color: var(--button-primary-default, #ff444f);
        background: none;
        border: none;
        &:hover {
            background: rgba(255, 68, 79, 0.08);
        }
    }
    &-color-primary {
        color: var(--system-dark-1-prominent-text, #fff);
        background: var(--brand-coral, #ff444f);
        &:hover {
            background: var(--button-primary-hover-light, #eb3e48);
        }
    }
    &-color-primary-light {
        color: var(--brand-coral, #ff444f);
        background: var(--button-primary-light-default, rgba(255, 68, 79, 0.16));
        &:hover {
            background: var(--button-primary-light-hover, rgba(255, 68, 79, 0.24));
        }
    }
    &-color-white {
        color: var(--system-light-1-prominent-text, #333);
        background: var(--system-light-8-primary-background, #fff);
        &:hover {
            background: var(--system-light-5-active-background, #d6dadb);
        }
    }
    &-color-black {
        color: var(--system-dark-1-prominent-text, #fff);
        background: var(--system-dark-8-primary-background, #0e0e0e);
        &:hover {
            background: var(--system-dark-5-active-background, #323738);
        }
    }
}
