.wallets-dynamic-leverage-screen {
    &__title {
        display: flex;
        gap: 1.6rem;
        align-items: center;
        padding: 0 1.6rem 0 2.4rem;
        height: 5.6rem;
        border-bottom: 0.1rem solid var(--general-section-2, #f2f3f4);

        &-back {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }
}
