.wallets-dynamic-leverage-screen {
    &__title {
        display: flex;
        gap: 1.6rem;
        align-items: center;
        padding: 0 16px 0 24px;
        height: 56px;
        border-bottom: 1px solid var(--general-section-2, #f2f3f4);

        &-back {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }
}
