.wallet-steps {
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;
    }

    &__image {
        position: relative;
        left: 1.5rem;
    }

    &__info-section {
        padding: 1.6rem;
        margin-top: 2.4rem;
        background-color: var(--transparent-info);
        border-radius: 0.8rem;
        display: flex;
        align-items: flex-start;
        gap: 0.8rem;

        &-icon {
            height: 1.6rem;
            min-width: 1.6rem;
        }

        @include mobile {
            padding: 0.8rem;
            margin-top: 1.6rem;
        }
    }

    &__checkbox {
        margin-top: 2.4rem;
        display: flex;
        justify-content: center;
        .dc-checkbox__label {
            @include mobile {
                font-size: var(--text-size-xxs);
            }
        }
    }
}
