.wallets-deposit-crypto-address {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    min-height: 6rem;

    &__hash {
        color: #000;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 700;
        padding: 0.8rem 1rem;
        border-radius: 0.4rem 0rem 0rem 0.4rem;
        border: 0.1rem solid #e6e9e9;

        @include mobile {
            font-size: 1.2rem;
            text-overflow: ellipsis;
        }

        &-container {
            display: flex;
            align-items: center;
        }
    }

    &__loader {
        position: relative;
        height: 6rem;
    }
}
