.withdrawal-crypto-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    .dc-input__field {
        height: auto;
        text-align: start;
    }

    .dc-field--error {
        line-height: 1.5;
        padding-left: 1.6rem;
    }

    .withdraw__input {
        width: 100%;
    }

    .cashier__form-submit-button {
        margin: 0;
    }

    .crypto-fiat-converter {
        grid-gap: 2.4rem;

        @include mobile-or-tablet-screen {
            grid-gap: 0.8rem;
        }
    }

    &__wrapper {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.4rem;
    }

    &__submit {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        margin: 2.4rem auto 0;
        @include desktop-screen {
            padding: 1.6rem 2.4rem;
        }

        > * {
            width: auto;
        }
    }
    &__icon {
        margin: 2.4rem 0 0.4rem;
    }
    &__percentage {
        &-container {
            width: 100%;
            margin-top: 2.4rem;
        }
        &-selector {
            margin-bottom: 1.6rem;
            width: 100%;
            @include mobile-screen {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

    &__inline-list {
        list-style-type: disc;
        margin-left: 1.6rem;
    }
}
