.dc-dropdown-list {
    position: absolute;
    margin-top: 4px;
    border-radius: 4px;
    z-index: 1;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.24);
    cursor: pointer;
    background-color: var(--state-normal);

    &__item {
        height: 40px;
        display: flex;
        align-items: center;
        padding: 1rem 1.6rem;

        &:hover {
            background-color: var(--state-hover);
        }
    }
}
