@import '../dashboard/dashboard-component/index';
@import '../dashboard/tutorial-tab/index';

.position-center {
    display: flex;
    justify-content: center;
}

.dashboard {
    &__main {
        @include mobile {
            height: calc(100vh - 6rem);
            padding: 0;
        }

        display: flex;
        overflow: hidden;
        width: 100%;
        height: calc(100vh - 9rem);
        padding: 1.6rem;
    }

    &__container {
        position: relative;
        width: 100%;
        max-width: 100%;
        border: none;

        &--active {
            // css for onboard tour overlay
            &:before {
                content: '';
                position: fixed;
                top: 0;
                left: 0;
                z-index: 100;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 72%);
                opacity: 0.7;
            }
        }

        .dc-tabs {
            &__active-line {
                background-color: var(--general-main-1);
                transition: none;
            }

            &__active {
                background: var(--general-main-1);
            }

            &__list {
                @include mobile {
                    overflow-x: auto;
                    overflow-y: hidden;
                    -ms-overflow-style: none;
                    scrollbar-width: none;

                    &::-webkit-scrollbar {
                        display: none;
                    }
                }

                justify-content: start;
                background: var(--general-section-1);

                &--header {
                    &--dashboard {
                        &__tabs {
                            @include mobile {
                                overflow-x: auto;
                                width: 100%;
                                padding: 0.8rem 1.6rem 0;
                            }
                        }
                    }
                }

                &--border-bottom {
                    @include mobile {
                        border-bottom: 0;
                    }
                }
            }

            &__content {
                @include mobile {
                    overflow-x: auto;
                    width: 100%;
                }

                &--dashboard {
                    &__tabs {
                        @include mobile {
                            flex-direction: column;
                        }

                        display: flex;
                        justify-content: space-between;
                    }
                }
            }

            &__item {
                display: flex;
                justify-content: center;
                align-items: center;
                width: auto;
                height: 4.8rem;
                padding: 0 2.4rem;
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;

                &__loaded {
                    @include mobile {
                        text-align: left;
                    }

                    padding-left: 1.5rem;
                }

                svg {
                    @include mobile {
                        // gave this -ve margin becaues we cannot
                        // overwrite the default core padding which
                        // will make the icon bigger
                        margin-top: -0.5rem;
                        margin-right: 0.2rem;
                    }

                    width: 1.6rem;
                    height: 1.6rem;
                    margin-right: 0.8rem;
                    padding-right: 0;
                }
            }
        }
    }

    &__chart-wrapper {
        @include mobile {
            height: var(--tab-content-height-mobile);
            background: var(--general-main-1);

            .smartcharts {
                z-index: 1;
                height: calc(100% - 4rem);

                &:has(.stxMenuActive) {
                    z-index: 99;
                    transition: all 1s ease-out;
                }
            }
        }

        position: relative;
        width: 100%;
        height: var(--tab-content-height);
        transition: all 0.4s;

        &--expanded {
            width: calc(100vw - 39.8rem);
        }
    }

    &__toolbox {
        position: absolute;
        top: -4rem;
        left: 0;
        z-index: 1;
        width: 23.6rem;
        padding: 0.8rem;
        background: var(--general-main-1);

        .db-toolbox {
            &__title {
                position: relative;
                height: 2.6rem;
                line-height: 2.6rem;
                cursor: pointer;

                &__chevron {
                    position: absolute;
                    top: 0.3rem;
                    right: 0;
                    transition: transform 0.3s ease;

                    &--active {
                        top: -0.2rem;
                        transform: rotate(180deg);
                    }
                }
            }

            &__content {
                border: solid 1px var(--general-section-1);
            }

            &__category-menu {
                overflow-y: scroll;
                height: calc(100vh - 33.6rem);
            }

            &__search {
                height: 6rem;
                padding: 1.3rem 0.8rem;
            }

            &__content-wrapper {
                height: 0;
            }

            &__content-wrapper.active {
                height: 100%;
            }
        }
    }

    &__run-strategy-wrapper {
        @include desktop {
            position: absolute;
        }

        top: 1.6rem;
        right: 1.6rem;
        z-index: 2;

        .animation {
            &__button {
                background-color: var(--purchase-main-1);
            }

            &__container {
                background-color: var(--general-main-1);
            }
        }
    }

    &__sidebar-wrapper {
        &--active {
            position: fixed;
            right: 0;
        }

        &--hidden {
            display: none;
        }
    }
}

.bot-builder {
    @include mobile {
        top: 5.6rem;
        left: 0;
        width: 100vw;
        height: var(--tab-content-height-mobile);
    }

    position: absolute;
    top: 6.6rem;
    left: 1.6rem;
    z-index: -1;
    height: var(--tab-content-height);
    background: var(--general-main-1);

    .injectionDiv {
        height: calc(100vh - 20rem);

        .blocklyTrash {
            @include mobile {
                display: none;
            }

            transition: all 0.4s;
        }
    }

    &--tour-active {
        .blocklyTrash {
            display: none;
        }
    }

    &--active {
        z-index: 1;
    }

    &--inactive {
        display: none;
    }
}

.onboard {
    &__header {
        display: flex;
        justify-content: space-between;
        margin-top: -2rem;
        margin-bottom: 2.4rem;

        &--close {
            cursor: pointer;
        }
    }

    &__label {
        margin-bottom: 2.4rem;
        text-align: left;
    }

    &__container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin-bottom: 2.4rem;

        img {
            width: 97%;
        }
    }

    &__content {
        text-align: left;

        &__block {
            &:first-child {
                margin-bottom: 2.4rem;
            }
        }
    }
}

.dbot-onboarding__container {
    img {
        width: 100%;
    }
}

@for $i from 0 through 6 {
    #react-joyride-step-#{$i} {
        .onboard__container {
            @if $i == 5 {
                img {
                    width: 100%;
                }
            }

            .initial-loader {
                @if $i == 0 or $i == 5 {
                    height: 18.6rem;
                } @else if $i == 1 {
                    height: 18.4rem;
                } @else if $i == 2 or $i == 3 {
                    height: 18.7rem;
                } @else if $i == 6 {
                    height: 4.4rem;
                }

                width: 33rem;
            }
        }
    }
}

.joyride-content {
    &__left {
        text-align: left;

        &__step-three {
            margin-bottom: 0.8rem;
        }
    }

    &__sub-title {
        margin-top: 1rem;
    }

    ul {
        margin-top: 1rem;
        margin-left: 4rem;
        list-style: disc;

        li {
            margin-bottom: 1rem;
        }
    }

    img {
        width: 100%;
        margin-top: 1rem;
    }

    &__with-icon {
        display: flex;
        margin-bottom: 1rem;

        &__right {
            margin-left: 0.8rem;
        }

        &__left {
            @include mobile {
                margin: 0;

                svg {
                    margin: 0;
                }
            }

            margin: 0.3rem 0 0 1.2rem;
        }
    }
}

.dbot-slider {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 1.6rem;
    border-top: solid 1px var(--border-normal);
    background-color: var(--general-section-1);

    &--tour-position {
        top: 0;

        .progress-bar-circle:first-child {
            display: none;
        }
    }

    &--active {
        height: auto;
    }

    &__navbar {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1.8rem;
        padding: 0 1.6rem;
    }

    &__title {
        margin-bottom: 0.8rem;
    }

    &__content {
        margin-bottom: 1.6rem;
        padding: 0 1.6rem;
        text-align: center;

        &:last-child {
            margin-bottom: 3rem;
        }
    }

    &__image {
        width: 100%;
        height: 50%;
        margin-bottom: 0.8rem;
        padding: 0.8rem;
        background: var(--general-section-1);
        text-align: center;
    }

    img {
        height: 100%;
    }

    &__progress-bar {
        margin-bottom: 1.6rem;
    }

    &__status {
        width: 100%;
        margin-bottom: 1.6rem;
    }

    &__button-group {
        display: flex;
        padding: 0 1.6rem;

        button {
            width: 100%;
            height: 4rem;
            margin-right: 0.8rem;
            border: 0.2rem solid $color-grey-1;
            border-radius: 0.4rem;
            background: $color-white;
            outline: none;
            cursor: pointer;

            &.default {
                background: transparent;
            }

            &.danger {
                margin-right: 0;
                border: none;
                background: $color-red;

                span {
                    color: $color-white;
                }
            }
        }
    }

    &__bot-builder-tour {
        height: unset;
        border-top: 0.1rem solid $color-black-5;
        background: $color-black-3;

        .dbot-slider {
            width: 100%;

            &__accordion {
                width: 100%;

                .dc-accordion {
                    &__item {
                        border: none;
                        border-bottom: 0.1rem solid $color-black-5;

                        &-header {
                            color: $color-white;
                            font-weight: 700;
                            font-size: 1.4rem;
                            text-align: center;

                            &-icon {
                                filter: invert(1);
                            }
                        }

                        &-content {
                            color: $color-white;
                        }
                    }
                }
            }

            &__content {
                color: $color-white;
            }

            &__status {
                @extend .position-center;

                display: flex;
                justify-content: flex-start;
                height: 5rem;
            }

            &__progress-bar {
                @extend .position-center;

                justify-content: flex-start;
                align-items: center;
                width: 50%;
                margin-bottom: unset;

                .progress-bar-circle {
                    opacity: 0.16;
                }
            }

            &__button-group {
                @extend .position-center;

                width: 50%;

                .default {
                    background: transparent;

                    span {
                        color: $color-white;
                    }
                }
            }
        }
    }
}

.dbot-accordion {
    width: 100%;

    &__navbar {
        display: flex;
        width: 100%;
        padding: 0.6rem 1.6rem;
        border-bottom: solid 0.1rem $color-black-5;
        cursor: pointer;
    }

    &__header {
        width: 90%;
        text-align: center;

        span {
            color: $color-white;
        }
    }

    &__icon {
        width: 10%;
        color: $color-white;
        text-align: end;

        svg {
            filter: invert(1);
        }
    }

    &__content {
        overflow: hidden;
        max-height: 0;
        padding: 1rem 0;
        background-color: $color-black-3;
        color: $color-white;
        font-size: 1.2rem;
        opacity: 0;
        transition: all 0.4s ease-in-out;

        &--open {
            max-height: 50rem;
            opacity: 1;
        }

        .joyride-content {
            line-height: 1.8rem;
        }
    }
}

.bot-notification {
    .dc-toast__message {
        @include mobile {
            top: -12rem;
            left: 10rem;
        }

        position: absolute;
        top: -5rem;
        left: 20rem;
        background: var(--text-prominent);
        font-size: 1.2rem;
    }
}

@keyframes blink {
    0%,
    100% {
        border: 1px solid $color-red;
    }

    50% {
        border: 1px solid transparent;
    }
}

.dbot-tour-blink {
    width: 2.5rem !important;
    height: 2.5rem !important;
    padding: 0.2rem 0;
    border-radius: $BORDER-RADIUS * 12.5;
    animation: blink 1.25s ease-in infinite;
}

.import-notification {
    position: fixed;
    bottom: 7rem;
    left: 0;
    z-index: 1;

    .dc-toast__message {
        background: var(--text-general);
        color: var(--general-main-1);
    }
}
