.dc-modal__container_account-transfer-modal {
    @include mobile {
        .dc-modal-body {
            padding: 4.8rem 2.4rem;
        }
    }
}

.dc-modal__container_account-transfer-modal-hide {
    display: none;
}

.dc-modal-header--account-transfer-modal-header {
    border-bottom: 1px solid var(--general-section-1);
}

.cashier__no-balance {
    text-align: center;
}
