.dc-modal__container_account-transfer-modal {
    display: none;
}

.dc-modal-header--account-transfer-modal-header {
    border-bottom: 1px solid var(--general-section-1);
}

.cashier__no-balance {
    text-align: center;
}
