.wallets-percentage-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    gap: 4px;

    @include mobile-or-tablet-screen {
        width: 100%;
    }

    &-block {
        cursor: pointer;
        background-color: var(--general-section-1, #f2f3f4);
        height: 2.4rem;
        width: 100%;

        @include mobile-or-tablet-screen {
            width: 100%;
        }

        &__fill {
            background-color: var(--status-success, #4bb4b3);
            height: 100%;
        }
    }

    &-block-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 2px;

        @include mobile-or-tablet-screen {
            flex: 1;
        }
    }

    &__text {
        margin-top: 0.4rem;
    }
}
