.flyout {
    $default-margin: 15px;

    position: absolute;
    left: 250px;
    background-color: $COLOR_WHITE;
    max-height: calc(100% - 40px);
    z-index: 1;
    border-radius: 10px;
    padding: 25px;
    font-size: 2em;
    margin-left: $default-margin;
    margin-top: 20px;
    overflow: auto;
    box-shadow: 0 2px 8px 0 $COLOR_LIGHT_BLACK_2;
    min-width: 400px;

    &__block-workspace {
        margin-bottom: $default-margin;

        * .blocklySvg {
            background-color: inherit !important;
        }
        * .blocklyMainBackground {
            stroke: none !important;
        }
    }
    &__button {
        width: 100%;
        font-size: 100%;
        padding: $default-margin;
        margin-bottom: $default-margin;
        border: none;
        border-radius: 5px;
        box-shadow: 0 2px 8px 0 $COLOR_LIGHT_BLACK_2;
        cursor: pointer;
    }
    &__item {
        &:not(:last-of-type) {
            margin-bottom: 30px;
        }
        &-header {
            display: flex;
            margin-top: $default-margin;
            margin-bottom: 10px;
        }
        &-label {
            font-weight: bold;
        }
        &-buttons {
            margin-left: auto;
            display: flex;
            justify-content: flex-end;
        }
        &-btn {
            padding: 5px 20px;
            border: none;
            font-size: 16px;
            border-radius: 5px;
            font-weight: bold;
            margin-left: $default-margin;
            cursor: pointer;

            &-add {
                background-color: $COLOR_ORANGE;
                color: $COLOR_WHITE;
            }
            &-back,
            &-next {
                background-color: $COLOR_SKY_BLUE;
                color: $COLOR_WHITE;
            }
            &-previous {
                background-color: $COLOR_WHITE;
                color: $COLOR_LIGHT_BLACK_1;
                border: solid 1px $COLOR_LIGHT_BLACK_1;
            }
        }
        &-info {
            cursor: pointer;
            display: flex;

            > .icon-info {
                height: 20px;
                width: 20px;
                align-self: center;
            }
        }
    }
}
