@keyframes animate-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.flyout {
    $flyout        : &;
    $default-margin: 15px;
    $button-padding: 5px 20px;

    position: absolute;
    left: 250px;
    background-color: var(--general-main-1);
    height: calc(100% - 40px);
    max-height: calc(100% - 40px);
    z-index: 1;
    border-radius: 10px;
    font-size: 2em;
    margin-left: $default-margin;
    margin-top: 20px;
    box-shadow: 0 2px 8px 0 $COLOR_LIGHT_BLACK_2;
    min-width: 400px;

    &__item:hover {
        .flyout__button-add--hide {
            display: flex !important;
            animation: animate-fade-in 0.3s;
        }
    }
    &__content {
        overflow: auto;
        padding: 5px 25px;
        height: calc(100% - 56px);
    }
    &__block-workspace {
        margin-bottom: $default-margin;
    }
    &__button {
        &-new {
            width: 100%;
            font-size: 100%;
            box-shadow: 0 2px 8px 0 $COLOR_LIGHT_BLACK_2;
            margin: $default-margin 0;
            background-color: var(--general-main-1);
        }
        &-add {
            color: var(--general-main-1);

            &--hide {
                display: none !important;
            }
        }
        &-back {
            padding: 0 15px;
            align-self: center;
            background-color: transparent;
            color: $COLOR_BLACK;

            svg {
                vertical-align: middle;
            }
            &:focus {
                outline: none;
            }
        }
        &-next,
        &-previous {
            margin-left: 1em;
            color: $COLOR_LIGHT_BLACK_1;
            background-color: var(--general-section-1);
            display: flex;

            &:focus {
                outline: none;
            }
        }
    }
    &__item {
        line-height: 1.3em;
        font-size: 14px;

        &:not(:last-of-type) {
            margin-bottom: 30px;
        }
        &-header {
            display: flex;
            margin-top: $default-margin;
            margin-bottom: 10px;
        }
        &-label {
            font-weight: bold;
            font-size: 18px;
            line-height: 2em;
        }
        &-buttons {
            margin-left: auto;
            align-self: center;
        }
        &-info {
            cursor: pointer;
            font-weight: bold;
            display: block;
            color: $COLOR_RED;
        }
        &-description {
            font-size: 14px;
            margin-bottom: 1em;
            line-height: 1.3em;
        }
    }
    &__image {
        width: 100%;
        height: auto;
        border-radius: 0.5em;

    }
    &__video {
        width: 100%;
        height: 20vh;
        border-radius: 0.5em;
    }
    &__help {
        padding: 0;
        height: 100%;

        &-header {
            padding: 15px;
            display: flex;
            background-color: var(--general-section-1);
        }
        &-content {
            padding: 1.5em;
            font-size: 0.8em;
            overflow-y: auto;
            height: calc(100vh - 295px);

            #{$flyout}__item {
                margin-bottom: 0.8em;
            }
        }
        &-title {
            align-self: center;
            font-size: 16px;
            font-weight: bold;
        }
        &-footer {
            display: flex;
            justify-content: flex-end;
            padding: 0.5em 0.8em;
            border-top: solid 0.1em var(--general-section-1);
        }
    }
    &__search {
        left: 0;
        padding: 0;

        &-header {
            padding: 20px;
            background-color: var(--general-disabled);
            display: flex;
            justify-content: space-between;

            &-text {
                font-size: 16px;
                font-weight: bold;
                align-self: center;
            }
            &-results {
                color: $COLOR_GREEN_5;
            }
        }
        &-empty {
            padding: 25px 0;
            font-size: 16px;
            font-weight: bold;
        }
        #{$flyout}__help-content {
            height: calc(100% - 60px);
        }
    }
    &__normal {
        &-content {
            height: 100%;
        }
    }
}