.integration-option {
    margin: 0.5em;
}

.input-row {
    margin: 1em 0;

    &.last {
        margin-bottom: 0;
    }
}

.modal {
    position: absolute;
    left: 40%;
    top: 40%;
    border: solid 1px $COLOR_LIGHT_GRAY_2;
    border-radius: 5px;
    background-color: $COLOR_WHITE;
    font-size: 20px;
    min-height: 200px;
    min-width: 400px;

    &__header {
        background-color: $COLOR_PURPLE;
        color: $COLOR_WHITE;
        font-size: 25px;
        font-weight: bold;
        padding: 20px;
    }
    &__close {
        float: right;
    }
    &__content {
        padding: 25px;
    }
}

#save-modal {
    #save-filename {
        width: 100%;
        border: solid 1px $COLOR_LIGHT_GRAY_2;
        padding: 10px;
    }
    .description {
        font-size: 15px;
    }
}