// #scratch_area {
//     position: absolute;
//     height: 100%;
//     width: 100%;
// }

#scratch_div {
    position: relative;
}

.blocklyText {
    fill: #000 !important;
}

.blocklyMainWorkspaceScrollbar {
    display: none;
}