.payment-agent-transfer-receipt {
    &__wrapper .cashier {
        &__transferred-details-wrapper {
            & .account-transfer__transfer {
                &-details {
                    &-from,
                    &-to {
                        display: flex;
                        align-items: center;
                    }
                    &-from {
                        flex-direction: row-reverse;

                        & > .cashier__transferred-details {
                            text-align: right;
                        }
                    }
                }
                &-from,
                &-to {
                    text-align: left;
                }
                &-from {
                    margin-bottom: 3.5rem;
                    margin-top: 2.5rem;
                    @include mobile {
                        margin-bottom: 4rem;
                    }
                }
                &-to {
                    margin-bottom: 1.7rem;
                    @include mobile {
                        margin-bottom: 5rem;

                        &:not(.dc-select-native--error) {
                            margin-bottom: 2.2rem;
                        }
                    }
                }
            }
            & .dc-icon {
                width: 3.2rem;
                height: 3.2rem;
            }
        }
        &__form-submit {
            flex-flow: row;
            justify-content: center;
            text-align: center;

            &-button {
                margin: 0;
                max-width: 18rem;

                &:first-child {
                    margin-right: 0.4rem;
                }
                &:last-child {
                    margin-left: 0.4rem;
                }
            }
        }
        &__transferred-icon {
            width: 1.6rem !important;
            height: 1.6rem !important;
        }
        &__success {
            margin-bottom: 0.8rem;
        }
    }
    @include mobile {
        &__wrapper {
            padding-top: 1.6rem;

            & .cashier {
                &__header {
                    margin-top: 0.4rem;
                }
                &__form-submit-button {
                    &:first-child {
                        margin: 2rem auto;
                    }
                    &:last-child {
                        margin: 0 auto;
                    }
                }
                &__success {
                    width: 100%;
                    background-color: var(--general-main-1);
                    padding: 0.4rem 0.4rem 0.8rem;
                    margin-bottom: 1.6rem;
                }
                &__transferred-details {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    max-width: 100%;
                    padding: 0;
                    margin: 0.8rem 0 0;

                    &-wrapper {
                        & .account-transfer__transfer {
                            &-details-from {
                                flex-flow: column-reverse;
                                flex-direction: column;
                                padding-right: 1.6rem;
                            }
                            &-details-to {
                                flex-flow: column;
                                flex-direction: column;
                                padding-left: 1.6rem;

                                & .cashier {
                                    &__transferred-details {
                                        text-align: center;
                                    }
                                }
                            }
                        }
                        & .account-transfer__receipt {
                            & .cashier {
                                &__header {
                                    padding-top: 1.6rem;
                                    margin-top: 0;
                                }
                                &__transferred-details {
                                    margin-top: 0.8rem;
                                }
                                &__transferred-amount {
                                    margin-bottom: 1.6rem;
                                    margin-top: 0;
                                }
                                &__text--right {
                                    text-align: center;
                                }
                            }
                            &-form-submit {
                                display: flex;
                                flex-flow: row;
                                justify-content: center;
                                @include mobile {
                                    flex-direction: column;
                                }
                            }
                        }
                    }
                }
                &__transferred-icon {
                    margin: 0;
                }
            }
        }
    }
}
