.animation-wrapper {
    &-enter {
        opacity: 0;
        transform: scale3d(1, 0, 1);

        &-done {
            opacity: 1;
            transform: scale3d(1, 1, 1);
        }
    }

    &-exit {
        opacity: 1;
        transform: scale3d(1, 1, 1);

        &-done {
            display: none;
            height: 0;
            opacity: 0;
            transform: scale3d(1, 0, 1);
        }
    }
}
