.p2p-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 628px;
    margin-top: 2.4rem;

    &--no-tabs {
        margin-top: calc(4rem + 4.4rem);
    }

    &-icon {
        margin-bottom: 2.4rem;
    }

    &-title {
        margin: 0.8rem;
    }

    &-text {
        margin: 1.2rem 0;
        font-size: var(--text-size-xs);

        p {
            line-height: 1.43;
        }
    }

    &__button {
        @include mobile {
            width: calc(100vw - 3.2rem);
        }

        margin-top: 1.6rem;
        text-decoration: none;
    }
}
