.p2p-v2-advertiser-name-toggle {
    display: flex;
    gap: 0.8rem;

    @include mobile {
        justify-content: space-between;
    }

    &__label {
        & h1 {
            font-size: 1.4rem;
            line-height: 2rem;
        }

        & h2 {
            font-size: 1rem;
            color: #999999;
        }
    }
}
