.my-profile-privacy {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 2.4rem;

    @include mobile {
        justify-content: space-between;
        margin: 3.8rem 0 1.4rem;
    }

    &__toggle {
        display: flex;
        margin-left: 0.8rem;

        &-container {
            align-items: center;
            display: flex;
            flex-direction: column;
            margin-top: 1.6rem;

            @include mobile {
                align-items: unset;
            }
        }

        &-button {
            width: 13px;
            height: 13px;
            top: 2px;
            left: 3px;

            &--active {
                left: calc(100% - 4px) !important;
            }
        }

        margin-right: 1.6rem;
        width: 32px;
        height: 17px;
    }
}

.dc-toggle-switch:checked + .dc-toggle-switch__label .my-profile-privacy__toggle-button {
    left: calc(100% - 3px);
}
