.my-profile-privacy {
    @include mobile {
        justify-content: space-between;
    }

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2.4rem;

    &__toggle {
        width: 3.2rem;
        height: 1.7rem;
        margin-left: 0.8rem;
        padding-left: 0.3rem;
        border-radius: 3.2rem;

        &-container {
            @include mobile {
                align-items: unset;
                margin-top: 0;
            }

            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 1.6rem;
        }

        &-button {
            width: 1.3rem;
            height: 1.3rem;
            border-radius: 1.3rem;
        }
    }
}

.dc-toggle-switch:checked + .dc-toggle-switch__label .my-profile-privacy__toggle-button {
    transform: translateX(1.35rem);
}
