.wallets-account-ready {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 24px;
    width: 392px;
    border-radius: 10px;
    text-align: center;
    background: var(--system-light-8-primary-background, #fff);

    &__info {
        background-color: #999999;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 240px;
        height: 128px;
        padding: 10px;
        position: relative;
        border-radius: 10px;

        &__text {
            &--type {
                font-weight: 400;
                line-height: 14px;
                font-size: 10px;
            }

            &--wallet {
                font-size: 10px;
                font-weight: 400;
                line-height: 14px;
                color: #999999;
            }

            &--amount {
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
            }
        }

        &-badge {
            position: absolute;
            top: 0;
            right: 0;
            font-weight: 700;
            border-radius: 0 10px 0px;
            display: grid;
            place-items: center;
            color: #ffffff;
            height: 25px;
            width: 50px;

            &--demo {
                background-color: #377cfc;
            }

            &--real {
                background-color: #ff444f;
            }
        }
    }

    &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }

    &__subtitle {
        font-size: 14px;
        line-height: 20px;
    }

    &__button {
        background-color: #ff444f;
        color: #ffffff;
        cursor: pointer;
        font-weight: 700;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
    }
}
