.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status_title {
    margin-top: 2.4rem;
}

.status_description {
    margin-top: 1.6rem;
}

.action_button {
    margin-top: 3.2rem;
    &__text {
        color: var(--text-colored-background);
    }
}
