.wallets-list-card {
    &__badge {
        display: flex;
        padding: 1px 4px;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        border: 1px solid #333;
    }
}
