.wallet-linking-step {
    width: 100%;
    height: calc(73.4rem - 16rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    @include mobile {
        height: calc(100vh - 15rem);
    }

    &__description {
        margin-top: 0.8rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        padding: 0.4rem 1.6rem;
        gap: 2.2rem;

        @include mobile {
            gap: 3.2rem;
            padding: 0.4rem 3.8rem;
        }
    }

    &__title-small {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 36.1rem;
        margin-top: 5.6rem;

        @include mobile {
            display: none;
        }

        &-text {
            padding: 0.4rem 0.8rem;
            border-radius: 2.4rem;
        }
    }

    &__note {
        margin-top: 2.4rem;
        padding: 0.8rem 1.6rem;
        border-radius: $BORDER_RADIUS;
    }

    &__title-text {
        width: fit-content;
        text-align: center;
        background-color: var(--general-section-2);

        @include mobile {
            background-color: var(--general-section-1);
        }
    }
}
