.wallets-add-more {
    &__card {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        padding: 1.6rem;
        width: 23.2rem;
        height: 100%;
        border-radius: 1.6rem;
        flex-shrink: 0;
        border: 0.1rem solid var(--system-light-5-active-background, #d6dadb);
        background: var(--system-light-8-primary-background, #fff);
        box-shadow: 0rem 0.4rem 0.6rem -0.2rem rgba(14, 14, 14, 0.03), 0rem 1.2rem 1.6rem -0.4rem rgba(14, 14, 14, 0.08);
        margin-inline-end: 2rem;

        @include mobile-or-tablet-screen {
            width: 19.2rem;
            gap: 1.6rem;
            margin-inline-end: 1.6rem;
        }

        &:first-child {
            margin-inline-start: 1rem;
        }
    }
}
