.page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.6rem;
    background-color: var(--general-main-1);
    height: calc(100vh - 17rem);

    @include mobile {
        height: calc(100vh - 8rem);
    }

    &__content {
        min-height: 100%;
        display: flex;
        flex: 1;
    }

    &__left {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 0 2.4rem 2.4rem 0;
        gap: 1.6rem;
        max-width: 31.2rem;

        @include mobile {
            padding: 0;
            max-width: 100%;
        }
    }

    &__right {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 0 0 2.4rem 2.4rem;
        gap: 1.6rem;
        max-width: 31.2rem;

        @include mobile {
            padding: 0;
            max-width: 100%;
        }
    }

    &__main {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 0 2.4rem 2.4rem;
        gap: 2.4rem;

        @include mobile {
            padding: 1.6rem;
        }
    }
}
