.p2p-v2-mobile-close-header {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 800;
    position: fixed;
    border-bottom: 2px solid #f2f3f4;

    &--icon {
        position: absolute;
        right: 2rem;
        cursor: pointer;
        border: none;
        background-color: inherit;
        font-weight: 800;
    }
}
