.block-user {
    &__modal {
        @include mobile-or-tablet-screen {
            display: flex;
            flex-direction: column;
            grid-template-rows: 1fr 8rem;
            height: 100%;
            overflow-x: hidden;

            .search-box {
                margin: 1rem auto;
                width: 91%;
            }
        }
    }
}
