.wallets-mt5-trade-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 2.4rem;

    &--left {
        display: flex;
        align-items: center;
        gap: 1.6rem;
    }
}
