.wallets-withdrawal-crypto-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;

    &-checkbox {
        display: flex;
        align-self: start;
        gap: 0.8rem;
        align-items: center;
    }

    &__submit {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}
