.wallets-transactions-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 0 0.8rem;
    height: 65vh;
    overflow: auto;

    @include mobile {
        height: 75vh;
    }

    &__content {
        width: 100%;
        max-width: 80rem;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }

    &__row {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }
}
