.payment-agent-card {
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05), 0 16px 20px rgba(0, 0, 0, 0.05);
    border-radius: $BORDER_RADIUS * 2;
    margin-bottom: 1.6rem;
    & .dc-expansion-panel__header-container {
        align-items: flex-start;
    }
    & .dc-expansion-panel__header-chevron-icon {
        flex-basis: 5%;
    }
    &--dark {
        background-color: var(--general-section-1);
    }
    &__description-container {
        display: flex;
        flex-direction: column;
        flex-basis: 95%;
        &-icons-container {
            display: flex;
            flex-wrap: wrap;
            gap: 1.6rem;
            align-items: center;
            margin-top: 1.6rem;
            .dc-icon {
                width: 5rem;
                height: 3.2rem;
            }
        }
        &-further-information {
            margin: 0.8rem 0;
            word-break: break-word;
        }
    }
    &__deposit-details-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        row-gap: 0.8rem;
        margin-top: 3.2rem;
        & > .payment-agent-detail:nth-child(-n + 2) {
            margin-bottom: 2.4rem;
            @include mobile {
                margin-bottom: 0;
            }
        }
        @include mobile {
            grid-template-columns: 1fr;
            margin-top: 2.4rem;
        }
    }
}
