.wallets-jurisdiction-modal {
    position: relative;
    display: flex;
    width: 100vw;
    max-width: 120rem;
    perspective: 2000rem;

    @include mobile-or-tablet-screen {
        width: 100%;
        padding: 0;
        max-width: 60rem;
        margin: 0 auto;
    }

    &__footer {
        width: 100%;

        @include desktop-screen {
            display: flex;
            justify-content: flex-end;
        }

        @include mobile-or-tablet-screen {
            max-width: 60rem;
            margin-inline: auto;
        }
    }
}
