.wallets-currency-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;

    &-lg {
        min-width: 122px;
        min-height: 75px;
        padding: 10px 16px;
    }

    &-md {
        width: 50px;
        height: 35px;
        padding: 2px 4px;
    }

    &-sm {
        width: 46px;
        height: 31px;
        padding: 2px 4px;
    }
}
