.wallets-change-password {
    &__modal-wrapper {
        width: 90.4rem;
        height: 68.8rem;
        display: flex;
        flex-direction: column;

        @include mobile-or-tablet-screen {
            width: auto;
            padding: 1.6rem;
            height: 100%;
            margin-inline: auto;
            max-width: 60rem;
        }
    }

    &__container {
        margin: 0 auto;
        padding-top: 2.4rem;
        width: 45.2rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mobile-or-tablet-screen {
            padding-top: 0.8rem;
            width: 100%;
        }
    }

    &__tab {
        width: 45.2rem;
        @include mobile-or-tablet-screen {
            width: 100%;
        }
    }

    &__content {
        margin-top: 3.2rem;

        @include mobile-or-tablet-screen {
            margin-top: 4rem;
        }

        &--dxtrade {
            margin-top: 5.6rem;

            @include mobile-or-tablet-screen {
                margin-top: 0;
            }
        }
    }

    &__sent-email-content-wrapper {
        padding-top: 3.2rem;

        &--dxtrade,
        &--mt5-investor {
            padding-top: 5.6rem;

            @include mobile-or-tablet-screen {
                padding-top: 0;
            }
        }
    }

    &__btn {
        display: flex;
        gap: 0.8rem;
    }

    &__investor-password {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.4rem;

        &-fields {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.6rem;
            width: 32.8rem;
        }

        &-buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.6rem;
        }
    }

    &__back-arrow {
        display: flex;
        align-items: center;
        align-self: flex-start;
        gap: 0.8rem;
        cursor: pointer;
    }
}
