.p2p-v2-block-unblock-user-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 44rem;
    padding: 2.4rem;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 32px 64px 0px rgba(14, 14, 14, 0.14);

    &__text {
        margin: 2.4rem 0;

        @include mobile {
            margin: 1.6rem 0;
        }
    }

    @include mobile {
        padding: 1.6rem;
        width: 32.8rem;
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        gap: 0.8rem;
    }
}
