.wallets-deposit-crypto {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    transform: translateY(-4.8rem);

    @include mobile {
        width: 100%;
        height: fit-content;
        flex-direction: column;
        gap: 1.6rem;
        transform: translateY(-2.4rem);
    }

    &__main-content {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        position: relative;

        @include mobile {
            padding: 0;
        }
    }
}
