.p2p-v2-payment-method-form {
    &__header {
        display: flex;
    }
    &__title {
        font-size: 1.4rem;
        line-height: 2rem;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 700;
        color: #333333;
        vertical-align: baseline;
    }
    &__back-button {
        margin-right: 0.8rem;
        line-height: 2rem;
        & > * {
            vertical-align: middle;
        }
    }
}
