/** @define bottom-widgets */
.bottom-widgets {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    bottom: 2em;
}
