/** @define digits */
.digits {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 2.5em 0 1em;
    transform: translate3d(0, calc(100% + 2em), 0);
    transition: transform 0.4s ease, opacity 0.4s linear;
    opacity: 0;

    &--enter-done {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    &--enter, &--exit {
        transform: translate3d(0, calc(100% + 2em), 0);
        opacity: 0;
    }
    &__digit {
        margin: 0 0.4em;
        text-align: center;
        position: relative;

        &-value {
            @include typeface(--paragraph-center-bold-black);
            @include toEm(width, 40px, 1em);
            @include toEm(height, 40px, 1em);
            @include themify($themes) {
                background-color: themed('background_icon_color');
                color: themed('text_color');
            }
            margin-bottom: 0.5em;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 0.2s ease-in;

            &--selected {
                @include themify($themes) {
                    background-color: themed('container_color');
                }
                border: 2px solid $COLOR_GREEN_1;
            }
            &--latest {
                transform: translateY(-8px);
                transition: transform 0.2s ease-out;
            }
            &--win {
                @include themify($themes) {
                    background-color: themed('won_color');
                    color: themed('text_active_color');
                }
            }
            &--blink {
                @include themify($themes) {
                    animation-name: themed('animation_blink_name');
                }
                animation-duration: 500ms;
                animation-iteration-count: 4;
                animation-timing-function: step-end;
            }
            &--loss {
                @include themify($themes) {
                    background-color: themed('loss_color');
                    color: themed('text_active_color');
                }
                border: none !important;
            }
        }
        &-spot {
            position: absolute;
            top: -35px;
            left: -50%;
            right: -50%;
            width: auto;
            transform: translateX(50%);
            animation: bounce 0.8s forwards ease;
            opacity: 1;
            transition: opacity 0.3s;

            &-value {
                @include typeface(--paragraph-center-bold-black);
                @include themify($themes) {
                    color: themed('text_secondary_color');
                }
            }
            &-last {
                @include typeface(--paragraph-center-bold-black);
                @include themify($themes) {
                    color: themed('text_color');
                }

                &--win {
                    color: $COLOR_GREEN_1;
                }
                &--loss {
                    color: $COLOR_RED;
                }
            }
        }
        &--loss {
            transform: translateY(8px);
            transition: transform 0.2s ease-out 1s;
        }
    }
    &__pointer {
        position: absolute;
        bottom: -12px;
        padding: 0 1.2em;
        transition: margin-left 0.25s ease;
    }
    &__particles {
        position: absolute;
        padding: 0 20px;
        top: 8px;
        transform: rotate(45deg);
        opacity: 0;

        &-particle {
            background: $COLOR_GREEN_1;
            opacity: 0.7;
            border-radius: 50%;
            display: block;
            width: 5px;
            height: 5px;
            position: absolute;
            transition: transform 0.5s ease, opacity 0.5s linear 0.5s;
        }
        &--explode {
            opacity: 1;

            .digits__particles-particle {
                opacity: 0;

                &:nth-child(1) {
                    transform: translate(45px, 45px);
                }
                &:nth-child(2) {
                    transform: translate(45px, 0px);
                }
                &:nth-child(3) {
                    transform: translate(0px, 45px);
                }
                &:nth-child(4) {
                    transform: translate(-45px, 45px);
                }
                &:nth-child(5) {
                    transform: translate(-45px, -45px);
                }
                &:nth-child(6) {
                    transform: translate(-45px, 0px);
                }
                &:nth-child(7) {
                    transform: translate(0px, -45px);
                }
                &:nth-child(8) {
                    transform: translate(45px, -45px);
                }
            }
        }
    }
    &__icon {
        &-color {
            fill: $COLOR_ORANGE;
        }
        &--win .digits__icon-color {
            fill: $COLOR_GREEN_1;
        }
        &--loss .digits__icon-color {
            fill: $COLOR_RED;
        }
    }
}

@keyframes bounce {
    0% {
        transform: translateY(35px);
    }
    30% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(5px);
    }
    70% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes blinking-white {
    50% {
        background-color: $COLOR_WHITE;
        color: $COLOR_LIGHT_BLACK_1;
    }
}

@keyframes blinking-dark-blue-2 {
    50% {
        background-color: $COLOR_DARK_BLUE_2;
    }
}
