.dc-select-native {
    position: relative;
    width: 100%;

    &--hide-selected-value {
        width: 40px;
        margin-left: 10px;

        .dc-select-native__wrapper {
            width: 40px;
        }
    }

    &__container {
        display: flex;
        align-items: center;
        border: 1px solid var(--border-normal);
        border-radius: $BORDER_RADIUS;

        &:hover:not(.dc-input--disabled) {
            border-color: var(--border-hover);
        }

        &:focus-within {
            border-color: var(--brand-secondary);

            &:hover {
                border-color: var(--brand-secondary);
            }
        }

        &--error {
            border-color: var(--brand-red-coral) !important;
        }

        &--disabled {
            border-color: var(--general-disabled);
        }
    }

    &__wrapper {
        height: 38px;

        .dc-input {
            margin-bottom: 0;
        }
    }

    &__arrow {
        --fill-color1: var(--text-less-prominent);

        position: absolute;
        top: 1.3rem;
        right: 1.3rem;
    }

    &__display {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        max-width: calc(100vw - 4rem);
        height: 38px;
        padding-left: 1.2rem;

        &-text {
            display: block;
            overflow: hidden;
            max-width: calc(100% - 4rem);
            height: 100%;
            color: var(--text-prominent);
            font-size: 1.4rem;
            line-height: 3.8rem;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &__placeholder {
        position: absolute;
        top: 1.1rem;
        left: 1.1rem;
        overflow: hidden;
        max-width: calc(100% - 3.6rem);
        padding: 0 0.4rem;
        background-color: var(--fill-normal);
        color: var(--text-less-prominent);
        font-size: 1.4rem;
        line-height: 1.43;
        text-overflow: ellipsis;
        white-space: nowrap;
        pointer-events: none;
        transition: transform 0.25s linear;
        transform: none;
        transform-origin: top left;

        &--has-value {
            max-width: 100%;
            color: var(--text-general);
            transform: translate(0, -1.8rem) scale(0.75);
        }

        &--hide-top-placeholder {
            display: none;
            max-width: 100%;
            color: var(--text-general);
            transform: translate(0, -1.8rem) scale(0.75);
        }
    }

    &__picker {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 38px;
        opacity: 0;
    }

    &--disabled {
        .dc-select-native__display-text {
            color: var(--text-less-prominent);
        }

        .dc-select-native__placeholder:not(.dc-select-native__placeholder--has-value) {
            color: var(--text-less-prominent);
        }

        .dc-icon {
            --fill-color1: var(--text-less-prominent);
        }
    }

    &--error {
        .dc-select-native__placeholder {
            color: var(--brand-red-coral);
        }
    }

    &__hint {
        margin-left: 1.2rem;
    }

    &__suffix-icon {
        position: absolute;
        left: 11px;
    }
}
