.dc-select-native {
    width: 100%;
    position: relative;

    &--hide-selected-value {
        margin-left: 10px;
        width: 40px;

        .dc-select-native__wrapper {
            width: 40px;
        }
    }
    &__wrapper {
        height: 38px;

        .dc-input {
            margin-bottom: 0px;
        }
    }
    &__arrow {
        position: absolute;
        right: 1.2rem;
        top: 1.2rem;
        --fill-color1: var(--text-less-prominent);
    }
    &__display {
        height: 38px;
        width: 100%;
        max-width: calc(100vw - 4rem);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 1.2rem;

        &-text {
            color: var(--text-prominent);
            font-size: 1.4rem;
            white-space: nowrap;
            overflow: hidden;
            max-width: calc(100% - 4rem);
            text-overflow: ellipsis;
            display: block;
            height: 100%;
            line-height: 3.8rem;
        }
    }
    &__placeholder {
        position: absolute;
        left: 1rem;
        top: 1rem;
        pointer-events: none;
        transition: transform 0.25s linear;
        padding: 0 0.4rem;
        font-size: 1.4rem;
        transform: none;
        background-color: var(--fill-normal);
        color: var(--text-less-prominent);
        transform-origin: top left;
        line-height: 1.43;
        white-space: nowrap;
        max-width: calc(100% - 3.6rem);
        text-overflow: ellipsis;
        overflow: hidden;

        &--has-value {
            transform: translate(0, -1.8rem) scale(0.75);
            color: var(--text-general);
            max-width: 100%;
        }
        &--hide-top-placeholder {
            transform: translate(0, -1.8rem) scale(0.75);
            color: var(--text-general);
            max-width: 100%;
            display: none;
        }
        &--disabled {
            color: var(--text-disabled);
        }
    }
    &__picker {
        opacity: 0;
        width: 100%;
        height: 38px;
        left: 0;
        top: 0;
        position: absolute;
    }
    &--disabled {
        .dc-select-native__display-text {
            color: var(--text-disabled);
        }
        .dc-select-native__placeholder:not(.dc-select-native__placeholder--has-value) {
            color: var(--text-disabled);
        }
        .dc-icon {
            --fill-color1: var(--text-disabled);
        }
    }
    &--error {
        .dc-select-native__placeholder {
            color: var(--brand-red-coral);
        }
    }
    &__hint {
        margin-left: 1.2rem;
    }
    &__suffix-icon {
        position: absolute;
        left: 11px;
    }
}
