.wallets-personal-details {
    min-width: 93.6rem;
    min-height: 50.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    background: var(--system-light-8-primary-background, #fff);
    padding: 2.4rem;

    @include mobile {
        min-width: 100%;
        min-height: 100%;
    }

    &__header {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2.4rem;

        @include mobile {
            gap: 1.6rem;
        }
    }

    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;
        margin-top: 0.8rem;

        @include desktop {
            max-width: 40rem;
        }
    }

    &__dropdown {
        width: 100%;
        padding-bottom: 2rem;
    }

    &__inline {
        width: 40rem;

        @include mobile {
            width: 100%;
        }
    }
}
