.wallets-deposit-crypto-address-loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;

    @include mobile {
        width: 100%;
    }

    &__qr-code {
        width: 12.8rem;
        height: 12.8rem;
    }

    &__text {
        width: 34.5rem;
        height: 3.6rem;
        border-radius: 4px;

        @include mobile {
            width: 100%;
        }
    }
}
