.my-profile-details-container {
    @include mobile {
        padding: unset;
        border: unset;
    }

    margin-top: 2.4rem;
    padding: 2.4rem;
    border: 1px solid var(--general-hover);
    border-radius: 0.8rem;

    &--table {
        @include mobile {
            flex-direction: column;
            gap: 1rem;
        }

        display: flex;
        justify-content: space-between;
    }
}
