@mixin file-dropzone-message {
    display: block;
    max-width: 168px;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0, 0, 0);
    transition: transform 0.25s ease, opacity 0.15s linear;

    @include mobile-or-tablet-screen {
        max-width: 26rem;
    }
}

.file-dropzone {
    border-radius: $BORDER_RADIUS;
    border: 1px dashed var(--border-normal);
    color: var(--text-prominent);
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: bold;
    height: 14rem;
    padding: 2rem;
    position: relative;
    text-align: center;
    width: 100%;

    &__content {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &__filename {
        width: 100%;
    }

    &__message {
        @include file-dropzone-message;
    }

    &--has-file {
        border-style: solid;
        border-color: var(--status-success);
        background-color: var(--general-section-1);
    }

    &--has-error {
        border-style: solid;
        border-color: var(--status-danger);

        .dc-file-dropzone__filename {
            margin-top: -3em;
        }
    }

    &--is-noclick {
        cursor: auto;
    }

    &:hover,
    &:focus {
        outline: 0;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.025);
    }
}
