.vertical-tab__tab {
    display: flex;
    min-width: 28%;
    height: 100%;
    flex-direction: column;
    border-radius: $BORDER_RADIUS 0 0 $BORDER_RADIUS;
    background-color: var(--general-section-1);
}