.wallets-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
    height: 100%;
    align-self: stretch;
    background: var(--system-light-7-secondary-background, #f2f3f4);

    @include desktop {
        padding: 40px;
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }
}
