.wallets-create-password {
    display: inline-flex;
    // padding: 3.2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // gap: 2.4rem;
    width: 45.5rem;
    text-align: center;
    border-radius: 0.8rem;
    background: var(--system-light-8-primary-background, #fff);

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.8rem;

        @include mobile {
            gap: 2.4rem;
        }
    }

    &__header {
        display: flex;
        width: 100%;
        padding-block: 1.9rem 1.6rem;
        padding-inline: 2.4rem 1.6rem;
        box-shadow: 0px 2px 0px 0px #f2f3f4;
    }
    &__body {
        padding-block: 3.2rem;
        padding-inline: 2.4rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        align-items: center;
    }
    &__footer {
        padding-block: 1.6rem;
        padding-inline: 2.4rem;
        box-shadow: 0px -2px 0px 0px #f2f3f4;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    &__tnc-link {
        color: var(--brand-coral, #ff444f);
        font-weight: 700;
    }
    &__inline-message,
    &__checkbox {
        text-align: start;
    }

    @include mobile {
        width: 100%;
    }
}
