.p2p-v2-payment-methods-list {
    &__mobile-wrapper {
        position: absolute;
        top: 4rem;

        & .p2p-v2-mobile-wrapper {
            &__body {
                height: calc(100vh - 22rem);
                overflow-y: scroll;
            }

            &__footer {
                position: fixed;
                background: #fff;
                bottom: 0;
                width: 100%;
            }
        }
    }
}
