.p2p-v2-payment-methods {
    &-list {
        width: 100%;
        min-width: 67.2rem;
        @include mobile {
            min-width: 36rem;
            padding: 1.6rem;
        }
        &__group {
            margin-top: 2.4rem;
            &-header {
                margin: 0;
                font-weight: 700;
                font-size: 1.4rem;
                line-height: 2rem;
                font-family: 'IBM Plex Sans', sans-serif;
                color: #333333;
                @include mobile {
                    margin-left: 1.6rem;
                }
            }
            &-body {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 5rem;
                .p2p-v2-payment-method-card {
                    &--large {
                        margin-right: 1.6rem;
                        margin-bottom: unset;
                    }
                }
            }
        }
    }
}
