.dc-counter {
    align-items: center;
    background: var(--status-danger);
    border-radius: 0.8rem;
    color: var(--text-colored-background);
    display: inline-flex;
    font-size: 1rem;
    font-weight: bold;
    justify-content: center;
    line-height: 1;
    padding: 3px 5px;
}
