/** @define footer; weak */
.footer {
    position: fixed;
    bottom: 0;
    z-index: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: $FOOTER_HEIGHT;
    padding: 0 1em;
    border-top: 1px solid var(--general-section-1);
    background: var(--general-main-1);
    color: var(--text-prominent);
    transition: opacity 0.3s;
    backface-visibility: hidden;

    @media (max-width: 768px) {
        display: none;
    }

    &--is-disabled {
        border-top: none;

        &:after {
            opacity: 1;
            pointer-events: auto;
        }
    }

    &__links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;

        &--left {
            margin-right: auto;

            &:hover {
                cursor: pointer;
            }
        }

        /* fix issue with rogue tiny-popover div generated in footer links */
        div {
            position: relative;
            display: inline-flex;
            align-items: center;
            height: inherit;
        }

        &--dark-mode {
            padding: 0.8rem;
            cursor: pointer;

            &:hover {
                background: var(--general-hover);
            }
        }
    }

    &__link {
        position: relative;
        display: inline-flex;
        align-items: center;
        height: 100%;
        padding: 0 0.8em;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            background: var(--general-hover);

            .footer__icon {
                @extend %inline-icon;
            }
        }
    }

    &__icon {
        @extend %inline-icon;

        width: 1.6em;
        height: 1.6em;
    }
}

@keyframes blinking-network-status {
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/** @define network-status  */
.network-status {
    &__wrapper {
        position: relative;
        height: 1.4em;

        &--is-mobile {
            .network-status__circle {
                margin: 0.2em 0 0.2em -0.2em;
            }
        }
    }

    &__tooltip {
        left: unset;
        text-decoration-line: none;
    }

    &__circle {
        width: 1em;
        height: 1em;
        margin: 0.2em 1.6em;
        border-radius: 50%;
        background: var(--general-section-1);

        &--online {
            background: var(--text-profit-success);
        }

        &--offline {
            background: var(--text-loss-danger);
        }

        &--blinker {
            background: var(--text-profit-success);
            animation: blinking-network-status 0.4s alternate infinite;
        }
    }
}

/** @define server-time */
.server-time {
    @include typeface(--small-left-normal-black);

    display: inline-flex;
    align-self: center;
    margin-right: 1em;
    padding: 0 1em;
    color: var(--text-general);

    &--is-mobile {
        margin-right: 0;
        padding: 0 1em 0 0;
    }
}

/** @define ic-settings */
.ic-settings {
    &--active {
        position: relative;
        background: var(--state-hover);

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 0.2em;
            background: var(--text-prominent);
        }

        .ic-settings__icon {
            @extend %inline-icon.active;

            pointer-events: none;
        }
    }

    &-language__icon {
        margin-right: 0.4rem;

        &--disabled {
            opacity: 0.5;
            cursor: not-allowed;
            pointer-events: none;
        }
    }

    &--disabled {
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;
    }
}

/** @define footer-regulatory-information */
.footer-regulatory-information {
    padding: 2rem;

    p {
        @include typeface(--paragraph-left-normal-prominent);
    }

    &__link {
        @include typeface(--paragraph-left-bold-prominent);

        color: var(--brand-red-coral);
        text-decoration: none;
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 2.4rem;
    }
}

/** @define footer-icon-separator */
.footer-icon-separator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1px;
    height: 1.6rem !important;
    margin: 0 0.1rem;
    background: var(--general-section-1);
}
