.p2p-verification {
    &__download {
        text-align: center;
        margin: 4rem;
    }
    &__text {
        font-size: var(--text-size-s);
        font-weight: bold;
        margin: 1.6rem 0;
    }
}
