.transfer-account-selector {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--general-main-1);
    padding: 0.8rem;
    cursor: pointer;

    &__value {
        padding: 0;
    }

    &__chevron-icon {
        display: flex;
        margin-left: 1rem;

        @include mobile {
            margin-left: auto;
        }
    }

    &__heading {
        display: flex;
        margin-bottom: 0.4rem;
    }

    &__heading-with-chevron {
        display: flex;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: auto;
        width: 100%;

        @include mobile {
            align-items: unset;
        }
    }

    &__list {
        border-bottom: 4px solid $color-grey-2;

        &__container {
            @include mobile {
                padding: 0 1.6rem 1.6rem;
            }

            .transfer-hint {
                margin: 1.6rem 0;
                padding: 0 0.8rem;

                @include mobile {
                    margin: 0.8rem 0;
                    padding: 0;
                }
            }
        }

        &--is-last,
        &--is-single,
        &--is-mobile {
            border-bottom: none;
        }

        &--is-last:is(&--is-mobile) {
            margin-bottom: 0.8rem;
        }

        &-items {
            margin-bottom: 1.6rem;
            padding: 0 0.8rem;

            @include mobile {
                margin-bottom: 0;
                padding: 0;
            }
        }

        &-header {
            display: flex;
            padding: 1.6rem 2.4rem 0.8rem;

            @include mobile {
                padding: 0.8rem 0.8rem 0.4rem;

                &__title-line {
                    flex-grow: 1;
                    border-bottom: 1px solid $color-grey-2;
                    margin: 0 0 0.65rem 1rem;
                }
            }
        }

        &-tile {
            padding: 1rem 2rem;
            flex-direction: row;
            align-items: center;
            cursor: pointer;

            @include mobile {
                border-radius: unset;
                padding: 0.8rem;
            }

            .wallet-transfer-tile__icon {
                margin-right: 1.6rem;

                @include mobile {
                    margin-right: 0.8rem;
                }
            }
        }
    }
}

// Overwrite modal style
.dc-modal__container_transfer-account-selector__modal-header {
    max-width: 40rem;
    max-height: 52.8rem !important;

    @include mobile {
        max-width: unset;
        max-height: unset !important;
    }
}

.dc-modal-header--transfer-account-selector__modal-header {
    border-bottom: 2px solid $color-grey-2;
}

#mobile_list_modal_root {
    position: absolute;
    inset: 0;
    z-index: 2;
    display: none;
    opacity: 0;

    &:not(:empty) {
        display: flex;
        opacity: 1;
    }

    .dc-modal {
        width: 100vw;

        &__container {
            max-width: unset !important;
            border-radius: unset;
            box-shadow: unset;
        }

        &-header {
            border: none;
            padding: 1.6rem 2.4rem 0rem;

            &__title {
                font-size: var(--text-size-xxs);
                padding: 0;
                margin-bottom: 0;
            }

            &__close {
                padding: 0;
                margin: 0;
                height: auto;
                width: auto;
            }
        }
    }
}
