.dc-modal__container_usdt-note-modal {
    .dc-modal-body {
        padding-top: 0;
    }
    .title {
        font-weight: bold;
    }
    p,
    .description {
        margin-bottom: 1rem;
    }
    .description {
        margin-left: 2rem;
        margin-top: 0.5rem;
    }
}
