.phone-verification-btn {
    position: absolute;
    inset-inline-end: 0;
    top: 0.4rem;

    &--not-verified {
        display: flex;
        padding-top: 0.6rem;
        padding-inline-end: 1.2rem;
        cursor: pointer;

        &--disabled {
            cursor: not-allowed;
            color: rgba(#ff444f, 0.5);
        }
    }

    &--verified {
        display: flex;
        padding-top: 0.6rem;
        padding-inline-end: 1.2rem;
        color: var(--text-profit-success);

        @include mobile {
            padding-inline-end: 4rem;
        }

        > :first-child {
            padding-inline-end: 0.4rem;
        }

        .phone-verification__popover {
            position: absolute;
            inset-inline-end: -3rem;

            @include mobile {
                inset-inline-end: 0rem;
            }
        }
    }
}
