.empty-onboarding {
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: inherit;
    }

    &__header {
        width: 100%;
        height: 7.2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        @include mobile {
            height: auto;
        }
    }
}
