@import './skeletonLoader.scss';

.trading-app-card-loader {
    display: flex;
    gap: 24px;
    padding: 1rem 0rem;

    &__icon {
        height: 48px;
        border-radius: 8px;
        width: 48px;
    }

    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        &__content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 4px;
            &--details {
                display: flex;
                flex-direction: column;
                gap: 4px;

                &__title {
                    height: 20px;
                    border-radius: 8px;
                    width: 75px;
                    @include mobile {
                        width: 88px;
                        height: 18px;
                    }
                }

                &__description {
                    height: 18px;
                    border-radius: 8px;
                    width: 191px;
                    @include mobile {
                        width: 181px;
                        height: 12px;
                    }
                }
            }

            &--button {
                justify-self: end;
                height: 32px;
                border-radius: 4px;
                width: 67px;
            }
        }
    }
}
