.wallets-mt5-account-type-card {
    cursor: pointer;
    &-list {
        display: flex;
        width: 26.4rem;
        height: 32rem;
        align-items: flex-start;

        &-content {
            display: flex;
            align-items: flex-start;
            flex: 1 0 0;
            padding: 2.4rem;
            align-self: stretch;
            border-radius: 1.6rem;
            border: 0.1rem solid var(--system-light-5-active-background, #d6dadb);
            background: var(--system-light-8-primary-background, #fff);

            &-details {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2.4rem;
                align-self: stretch;
                justify-content: center;
            }
        }
    }
    &-selected {
        border-radius: 1.6rem;
        border: 0.2rem solid var(--brand-blue, #85acb0);
        background: var(--system-light-8-primary-background, #fff);

        /* Shadows/xxl */
        box-shadow: 0rem 2.4rem 4.8rem 0rem #0e0e0e2e;
    }
}
