.account-signup {
    &__residence-selection {
        padding-top: 2rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        &--footer {
            width: 100%;
            padding: 1.6rem 2.4rem;
            margin-top: 2rem;
            display: flex;
            justify-content: flex-end;

            @media (min-width: 992px) {
                border-top: 1px solid var(--general-section-2);
                margin-top: 10rem;
            }
        }
    }

    &__residence-field {
        padding: 0 2.4rem;
    }

    &__heading {
        margin-bottom: 1.6rem;
    }
}

.account-signup-wrapper {
    .dc-dialog__content {
        max-width: initial;
        margin-bottom: initial;
    }
    .dc-dialog__dialog {
        max-height: initial;
    }
}
