.dc-tabs--account-types__tabs {
    ul {
        width: fit-content;
        margin: 0 auto;
    }
}

/* @define account-types; weak */
.account-types {
    @include mobile {
        width: calc(100% - 1.6rem);
        margin-left: 0.8rem;
        padding-top: 2.4rem;

        &__container {
            overflow-x: hidden;
            overflow-y: auto;
            max-height: 100%;
        }
    }

    &__intro {
        @include mobile {
            margin: 0;
            padding-left: 2.4rem;
        }

        margin: 2.4rem 6.2rem 2.4rem 4.8rem;
    }

    &__text-icon {
        vertical-align: middle;
        width: 2.2rem;
        height: 2.2rem;
    }

    &__box {
        @include tablet-up {
            grid-template-columns: auto 1fr;
            grid-auto-columns: 1fr;
            grid-auto-flow: column;
            grid-column-gap: 2.4rem;
            width: 80.8rem;
        }

        @include mobile {
            grid-auto-flow: row;
            grid-gap: 1rem;
            width: 100%;
            margin-bottom: 0;
            box-shadow: none;
        }

        @include tablet {
            max-width: 90vw;
        }

        display: grid;
        margin: 0 auto 4rem;
        padding: 2.4rem;
        border-radius: 0.4rem;
        box-shadow: 0 8px 8px 0 var(--shadow-menu), 0 0 8px 0 var(--shadow-menu);

        &:first-of-type {
            margin-top: 1.6rem;
        }
    }

    &__box-side {
        width: 25rem;
    }

    &__box-title {
        margin-bottom: 0.8rem;
    }

    &__box-description {
        margin-bottom: 0.8rem;
    }

    &__box-footer {
        margin-bottom: 0.8rem;
    }

    &__box-icon {
        width: 4.8rem;
        height: 4.8rem;
    }

    .account-card {
        @include mobile {
            flex-shrink: 0;
            margin: 0 auto;
        }

        position: relative;
        flex-shrink: 0;
        overflow: hidden;
        width: 22.7rem;
        min-width: 22.7rem;
        border: 1px solid var(--border-normal);
        border-radius: 0.6rem;

        &__wrapper {
            position: relative;
            display: flex;
            flex: 1;
        }

        &__main {
            min-width: 100%;
            height: 35.8rem;
            padding: 1.6rem;

            &-title {
                margin-bottom: 0.4rem;
            }

            &-subtitle {
                margin-bottom: 0.8rem;
            }

            &-table-container {
                height: 14.8rem;
                margin-bottom: 1.6rem;
                padding-bottom: 1.6rem;
                border-bottom: 1px solid var(--border-normal);
            }

            &-items {
                width: 100%;
                border-spacing: 0 0.8rem;
                border-collapse: separate;
            }

            &-item {
                margin-bottom: 0.8rem;

                &-label {
                    display: inline-block;
                    width: 10.3rem;
                    color: var(--text-less-prominent);
                    font-size: 1.2rem;
                    line-height: 1.5;
                    white-space: nowrap;
                }

                &-value {
                    display: inline-block;
                    width: 8rem;
                    color: var(--text-general);
                    font-size: 1.2rem;
                    line-height: 1.5;
                    white-space: nowrap;
                }
            }

            &-button {
                position: absolute;
                bottom: 1.6rem;
                box-sizing: border-box;
                width: calc(100% - 32px);
            }
        }

        &__platforms {
            &-title {
                margin-bottom: 0.8rem;
            }

            &-name {
                padding-top: 0.2rem;
            }

            &-icons {
                display: grid;
                grid-auto-flow: column;
                justify-content: start;
            }

            &-icon {
                display: grid;
                justify-items: center;
                width: 6.4rem;
                cursor: pointer;
            }
        }
    }
}

.dc-modal-header__title--account-types {
    @include mobile {
        justify-content: center;
        width: 100vw;
    }
}
