@import '../_common/base/index';

.dc-tabs--account-types__tabs {
    ul {
        width: fit-content;
        margin: 0 auto;
    }
}
/* @define account-types; weak */
.account-types {
    overflow-y: auto;
    height: 63.5rem;

    &__intro {
        color: var(--text-general);
        font-size: 1.4rem;
        line-height: 1.43;
        margin: 2.4rem 6.2rem 2.4rem 4.8rem;
    }
    &__text-icon {
        height: 2.2rem;
        vertical-align: middle;
        width: 2.2rem;
    }
    &__box {
        display: grid;
        grid-template-columns: auto 1fr 1fr;
        grid-column-gap: 2.4rem;
        width: 80.8rem;
        height: 30.2rem;
        border-radius: 0.4rem;
        box-shadow: 0 8px 8px 0 var(--shadow-menu), 0 0 8px 0 var(--shadow-menu);
        margin: 0 auto 4rem;
        padding: 2.4rem;

        &:first-of-type {
            margin-top: 1.6rem;
        }
    }
    &__box-side {
        width: 25rem;
    }
    &__box-title {
        color: var(--brand-red-coral);
        font-size: 1.6rem;
        font-weight: bold;
        line-height: 1.5;
        margin-bottom: 0.8rem;
    }
    &__box-description {
        color: var(--text-general);
        font-size: 1.4rem;
        line-height: 1.43;
        margin-bottom: 0.8rem;
    }
    &__box-footer {
        color: var(--text-general);
        font-size: 1.2rem;
        font-weight: bold;
        line-height: 1.5;
        margin-bottom: 0.8rem;
    }
    &__box-icons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0.8rem 1.6rem;
    }
    &__box-icon {
        height: 4.8rem;
        width: 4.8rem;
    }
    .account-card {
        border: 1px solid var(--border-normal);
        border-radius: 0.6rem;
        overflow: hidden;
        position: relative;
        width: 22.7rem;

        &__wrapper {
            display: flex;
            flex: 1;
            position: relative;
            transition: all 0.3s ease;

            &--show-description {
                transform: translateX(-100%);
            }
        }
        &__main {
            height: 25.2rem;
            min-width: 100%;
            padding: 1.6rem;

            &__title {
                color: var(--text-general);
                font-size: 1.6rem;
                font-weight: bold;
                line-height: 1.5;
                margin-bottom: 0.4rem;
            }
            &__subtitle {
                color: var(--text-profit-success);
                font-size: 1.2rem;
                font-weight: bold;
                line-height: 1.5;
                margin-bottom: 0.8rem;
            }
            &__items {
                width: 100%;
                border-collapse: separate;
                border-spacing: 0 0.8rem;
                margin-bottom: 1.6rem;
            }
            &__item {
                margin-bottom: 0.8rem;

                &__label {
                    color: var(--text-less-prominent);
                    display: inline-block;
                    font-size: 1.2rem;
                    white-space: nowrap;
                    width: 10.3rem;
                }
                &__value {
                    color: var(--text-general);
                    display: inline-block;
                    font-size: 1.2rem;
                    white-space: nowrap;
                    width: 8rem;
                }
            }
            &__help {
                cursor: pointer;
                vertical-align: middle;
                margin-left: 0.4rem;
            }
            &__button {
                width: calc(100% - 32px);
                box-sizing: border-box;
                position: absolute;
                bottom: 2.2rem;
            }
        }
        &__description {
            color: var(--text-general);
            font-size: 1.2rem;
            line-height: 1.5;
            min-width: 100%;
            padding: 0.8rem 1.6rem 1.6rem;

            &__title {
                color: var(--text-profit-success);
                font-size: 1.2rem;
                font-weight: bold;
                line-height: 1.5;
                padding-bottom: 0.8rem;
            }
            &__title-text {
                padding-left: 0.8rem;
            }
            &__back {
                cursor: pointer;
                vertical-align: middle;
            }
            &__learn {
                margin-top: 0.8rem;
            }
            &__learn-title {
                color: var(--text-less-prominent);
                font-size: 1rem;
                line-height: 1.4;
            }
            &__learn-items {
                background-color: var(--brand-red-coral);
                border-radius: 10px;
                color: var(--text-colored-background);
                font-size: 1rem;
                font-weight: bold;
                line-height: 1.4;
                margin-right: 0.4rem;
                padding: 0.1rem 0.4rem;
                text-decoration: none;
            }
        }
    }
}
