/** @define cashier; weak */
.cashier {
    &__content {
        width: 100%;
        background: var(--status-default);
    }
    &__wrapper {
        text-align: center;

        &, &--align-left {
            color: var(--text-general);
            width: 100%;
            height: 100%;
            line-height: 1.43;

            .inline-icon .color1-fill {
                fill: var(--text-general);
            }
        }
        &--align-left {
            text-align: left;
        }
    }
    &__loader {
        font-size: 1rem;

        &-wrapper {
            display: flex;
            height: 100%;
        }
    }
    &__header {
        font-size: 1.6rem;
        line-height: 1.5;
        font-weight: bold;
        margin-bottom: 16px;
        color: var(--text-prominent);
    }
    &__form {
        &-submit {
            display: flex;
            justify-content: flex-end;
            width: calc(100% + 4.8rem);
            margin-left: -2.4rem;
            position: absolute;
            bottom: -2.4rem;
            height: 8rem;
        }
        &-error {
            flex: 1;
            margin: 2rem 5.6rem 4.4rem 0;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.33;

            &-icon {
                position: absolute;
                left: 0;
            }
            &-small-icon {
                margin: 2rem 1.6rem 4.4rem 2.4rem;
            }
        }
        &-submit-button {
            margin: 1.6rem 2.4rem 2.4rem;
        }
    }
    &__input {
        display: inline-block !important;
        margin-bottom: 0 !important;

        &--short {
            width: 29rem;
        }
        &--long {
            width: 100%;
        }
    }
    &__drop-down {
        display: inline-block;
        min-width: 20.3rem;
        min-height: 4rem;
        margin: 0 0 16px;
        line-height: 1.43;

        &-display {
            justify-content: left;
            min-height: 4rem;
            min-width: 20.3rem;
            height: auto;

            &-span {
                font-size: 1.4rem;
                text-align: left;
                padding: 9px 36px 9px 12px;
                text-transform: none;
                line-height: 1.43;
                display: flex;
                align-items: center;
            }
        }
        &-items, &-label {
            justify-content: left;
        }
        &-label {
            margin-left: 1.6rem;
        }
    }
    &__transferred {
        &-amount {
            color: var(--text-profit-success);
            font-size: 3.2rem;
            line-height: 0.75;
            margin-bottom: 1.6rem;
        }
        &-details {
            margin-left: 8px;
            vertical-align: super;
            font-size: 1.4rem;
            text-align: left;
            line-height: 1.43;
            max-width: 20rem;

            &-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        &-icon {
            @extend %inline-icon;
            transform: scale(-1, 1);
            vertical-align: middle;
            margin: 0 1.6rem;
        }
    }
    &__paragraph {
        font-size: 1.4rem;
        align-self: center;
        line-height: 1.43;
    }
    &__text {
        font-size: 1.4rem;
        line-height: 1.43;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;

        &--bold {
            font-weight: bold;
        }
    }
    &__modal-tab {
        min-width: 24rem;
    }
    &__success {
        text-align: center;
        background-color: var(--general-section-1);
        padding: 2.4rem;
        width: 50.4rem;
        margin: 0 auto 3.2rem;
    }
    &__done-button {
        width: 15.6rem;
        margin-left: -1.6rem;
    }
    &__no-balance {
        &-icon {
            margin: 10.7rem 0 1.6rem;
        }
        &-button {
            margin: 3.2rem auto;
        }
    }
    &__account-switch-icon {
        background-image: url('~Images/app/cashier/account_switcher.png');
        width: 400px;
        height: 360px;
        background-repeat: no-repeat;
        background-size: 100%;
        margin: 2.4rem auto;
    }
    &__virtual-header {
        margin-top: 0;
        margin-bottom: 0.8rem;
    }
    &__center-align {
        &-wrapper {
            display: flex;
        }
        &-content {
            align-self: center;
            width: 100%;
        }
    }
    /** @define cashier-error */
    &-error {
        &__icon {
            width: 6.4rem;
            height: 6.4rem;
            margin-top: 8.7rem;
            margin-bottom: 1.6rem;
        }
        &__header {
            color: var(--text-loss-danger);
            font-weight: bold;
            font-size: 1.6rem;
            line-height: 1.5;
            margin-bottom: 0.8rem;
        }
        &__button {
            margin: 3.2rem auto 1.6rem;
        }
        &__footer {
            font-size: 1.2rem;
        }
    }
}

/** @define withdraw */
.withdraw {
    &__header {
        font-weight: bold;
        margin-bottom: 8px;
        font-size: 1.6rem;
        line-height: 1.5;
    }
    &__header, &__text {
        color: var(--text-general);
    }
    &__text {
        font-size: 1.4rem;
    }
    &__verify-button {
        margin: 3.2rem auto;
    }
    &__icon {
        margin-top: 8rem;
        margin-bottom: 1.6rem;
    }
    &__resend {
        &-button {
            margin: 4rem auto 0;
        }
    }
    &__email {
        &-sent {
            width: 40rem;
            margin: auto;

            &-title {
                color: var(--text-general);
                font-size: 1.6rem;
                font-weight: bold;
                margin-bottom: 0.8rem;
                line-height: 1.5;

                &-sub {
                    font-size: 1.4rem;
                }
            }
            &-text {
                color: var(--text-general);
            }
        }
        &-resend, &-sent {
            &-text {
                font-size: 1.4rem;
                line-height: 1.43;
            }
        }
        &-resend {
            margin-top: 4rem;

            &-text {
                color: var(--brand-red-coral);
                font-weight: bold;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}

/** @define payment-agent */
.payment-agent {
    &__instructions {
        margin-top: 2.4rem;
        display: flex;

        &-section {
            border: 1px solid var(--border-normal);
            flex: 1;
            padding: 1.6rem;

            .payment-agent__header {
                margin-bottom: 8px;
                text-align: center;
            }
            &:not(:first-child) {
                margin-left: 24px;
                margin-left: 1.6rem;
            }
        }
        &-button {
            display: block;
            margin: auto;
        }
    }
    &__list {
        &-header {
            margin-top: 32px;
            font-size: 1.4rem;
            line-height: 1.43;
        }
        &-selector {
            margin-bottom: 8px;
            display: flex;
            justify-content: flex-end;
            margin-right: 1px;
        }
        &-line {
            border-bottom: 1px solid var(--general-section-1);
            position: relative;
            width: 80%;
            margin-left: 20%;
            top: -25px;
        }
    }
    &__drop-down {
        margin-left: 8px;
        width: auto;
        margin-bottom: 0;
    }
    &__filter {
        min-width: 22.8rem;
        margin-top: 0;

        &-display {
            min-height: 3.2rem;
            min-width: 22.8rem;
        }
    }
    &__accordion-content {
        &-line {
            margin-bottom: 8px;
        }
        &-icon {
            vertical-align: middle;
            margin-right: 12px;
        }
    }
    &__disclaimer {
        background-color: var(--general-section-1);
        margin-top: 2.4rem;
        padding: 1.6rem;
        font-size: 1.2rem;
        line-height: 1.5;
    }
    &__radio {
        display: none;

        &-group {
            display: block;
            margin-bottom: 3.9rem;
        }
        &-wrapper {
            display: flex;
            margin-bottom: 2rem;
            // width is set to limit the selection area of the radio label
            width: fit-content;
        }
        &-circle {
            border: 2px solid var(--text-general);
            border-radius: 50%;
            box-shadow: 0 0 1px 0 $color-white;
            width: 16px;
            height: 16px;
            transition: all 0.3s ease-in-out;
            margin-right: 8px;
            align-self: center;
            display: inline-flex;

            &--selected {
                border-width: 4px;
                border-color: var(--brand-red-coral);
            }
        }
    }
    &__transferred-contact {
        margin-top: 1.6rem;
        margin-bottom: 0.8rem;

        &-wrapper {
            margin: 3.2rem;
        }
    }
    &__contact {
        text-decoration: none;
        color: var(--brand-red-coral);
    }
    &__explanation {
        margin-top: -0.8rem;
    }
    &__input {
        width: 12.6rem !important;
        margin-left: 8px;
        display: inline-block !important;
        margin-bottom: 0 !important;

        &-field {
            text-align: left;
            font-size: 1.4rem;
            padding: 10px 12px !important;
            height: 4rem;
        }
        &-error {
            white-space: nowrap;
        }
    }
    &__paragraph {
        align-self: flex-start;
    }
}

/** @define account-transfer */
.account-transfer {
    &__notes {
        color: var(--text-general);
        margin-top: calc(3.2rem + 1.7rem); // + height of hint/error
        font-size: 1.2rem;
        line-height: 1.5;
    }
    &__bullet {
        background-color: var(--text-general);
        border-radius: 100%;
        margin-right: 1.3rem;
        width: 0.6rem;
        height: 0.6rem;
        flex: none;
        margin-top: 0.6rem;

        &-wrapper {
            display: flex;
            margin-bottom: 0.4rem;
        }
    }
    &__drop-down {
        min-width: calc(calc(100% - calc(16px + 1.6rem)) / 2);
        width: auto;
        margin-bottom: 3.4rem;
    }
    &__currency, &__balance {
        line-height: 1.43;
    }
    &__currency {
        margin: 0 0.4rem;

        &-icon {
            align-self: center;
        }
    }
    &__balance {
        color: var(--text-less-prominent);
    }
    &__receipt {
        &-icon {
            margin: 5.6rem 0 1.6rem;
        }
    }
    &__transfer {
        &-icon {
            vertical-align: initial;
            margin: 0 0.8rem;
        }
        &-details {
            &-from, &-to {
                display: flex;
                align-items: center;
            }
        }
    }
    &__button-done {
        margin: 3.2rem auto 0;
    }
}

/* stylelint-disable plugin/selector-bem-pattern */
/** @define payment-agent-transfer */
div.payment-agent-transfer {
    // TODO: [fix-dc-bundle] Fix import issue with Deriv Component stylesheets (app should take precedence, and not repeat)
    &__header {
        margin-bottom: 2.8rem;
    }
    &__input {
        width: 29.6rem;
        display: inline-flex;
        margin-bottom: 3.1rem;

        &:not(:first-child) {
            margin-left: 2.4rem;
        }
    }
}
/* stylelint-enable plugin/selector-bem-pattern */

/** @define dc-modal-header; */
.dc-modal-header {
    &__modal-cashier {
        box-shadow: inset 0 -1px 0 0 var(--general-section-1);
    }
    &--modal-cashier {
        background-color: var(--general-main-1);
    }
    &__title {
        line-height: 1.65;

        &--modal-cashier {
            min-width: 24rem;
            border-bottom: 1px solid var(--general-section-1);
            background-color: var(--general-section-1);
        }
    }
}
