/* @define set-residence */
.set-residence {
    margin: 1.6rem 1.6rem 0;

    &__residence-selection {
        display: flex;
        flex-flow: nowrap column;
        justify-content: center;
        align-items: center;
    }

    &__heading {
        margin-bottom: 3.3rem;
        font-weight: bold;
        text-align: center;
    }

    &__text {
        margin-bottom: 3.3rem;
        text-align: center;
    }

    &__subtext {
        max-width: 90%;
        margin: 0 0 2.4rem;
    }

    &__btn {
        align-self: flex-end;
        margin: 0;
        margin-bottom: -16px;
        background-color: var(--button-primary-default);
        color: var(--text-colored-background);
        font-weight: bold;

        &:hover {
            background-color: var(--button-primary-hover);
        }

        &--disabled {
            opacity: 0.32;
            cursor: not-allowed;
        }
    }
}
