.tnc-acceptance {
    &__checkbox {
        margin-top: 2.4rem;
        .dc-checkbox__box {
            margin-left: unset;
        }
    }
}

.dc-modal-header--tnc-acceptance {
    border-bottom: 2px solid var(--general-section-1) !important;
}
