@mixin container-space($parent, $space) {
    #{$parent}__app-icon {
        top: $space * 1rem;
        left: $space * 1rem;
    }

    #{$parent}__wallet-icon {
        bottom: $space * 1rem;
        right: $space * 1rem;
    }
}

@mixin app-icon-container-size($parent, $width, $height) {
    #{$parent}__app-icon {
        width: $width;
        height: $height;
    }
}

@mixin wallet-icon-container-size($parent, $width, $height) {
    #{$parent}__wallet-icon {
        width: $width;
        height: $height;
    }
}

@mixin wallet-icon-size($parent, $width, $height) {
    .wallets-app-linked-with-wallet-icon__wallet-base-icon {
        width: $width;
        height: $height;
    }
}

.wallets-app-linked-with-wallet-icon {
    $parent-selector: &;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &__app-icon {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__wallet-icon {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &--small {
        width: 4rem;
        height: 2.4rem;

        @include container-space($parent-selector, 0.1);
        @include app-icon-container-size($parent-selector, 16px, 16px);
        @include wallet-icon-container-size($parent-selector, 2.4rem, 1.4rem);
        @include wallet-icon-size($parent-selector, 12px, 12px);
    }

    &--medium {
        width: 6.4rem;
        height: 4rem;

        @include container-space($parent-selector, 0.2);
        @include app-icon-container-size($parent-selector, 24px, 24px);
        @include wallet-icon-container-size($parent-selector, 4rem, 2.4rem);
        @include wallet-icon-size($parent-selector, 16px, 16px);
    }

    &--large {
        width: 12.8rem;
        height: 8rem;

        @include container-space($parent-selector, 0.4);
        @include app-icon-container-size($parent-selector, 48px, 48px);
        @include wallet-icon-container-size($parent-selector, 8.4rem, 5.2rem);
        @include wallet-icon-size($parent-selector, 32px, 32px);
    }

    .wallets-gradient {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: $BORDER_RADIUS;
    }
}
