@import '../SkeletonLoader.scss';

.wallets-trading-app-card-loader {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 1rem 0rem;

    &__content {
        display: flex;
        flex-direction: row;
        gap: 1.4rem;
        align-items: center;

        &__icon {
            height: 5rem;
            border-radius: 1rem;
            width: 5rem;
        }

        &__details {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            &--title {
                height: 1.4rem;
                border-radius: 0.2rem;
                width: 6rem;
            }

            &--description {
                height: 2.4rem;
                border-radius: 0.2rem;
                width: 20rem;
            }
        }
    }
}
