$filter-height: 6em;
$side-padding: 1.2em;

/** @define statement; weak */
.statement {
    height: calc(100vh - #{$HEADER_HEIGHT + $FOOTER_HEIGHT});

    &__filter {
        box-sizing: border-box;
        height: $filter-height;
        width: 100%;
        font-size: 1.4em;
        padding: 0 $side-padding;

        &-content {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 1.6em;

            .datepicker .datepicker__native-overlay {
                line-height: 3em;
            }
        }
        &-label {
            margin-right: 0.6em;
        }
        &-dash {
            margin: 0 0.5em;
        }
    }
    &__content {
        height: calc(100% - #{$filter-height});
        padding: 0 $side-padding;
    }
    /*
        TABLE STYLES
    */
    &__table {
        height: calc(100% - 42px);
    }
    &__row {
        grid-template-columns: 6.5em 6.5em 1fr 5em 7em 6em 6em;
    }
    .payout, .amount, .balance {
        justify-content: flex-end;
    }
    .amount {
        font-weight: bold;

        &--profit {
            color: $COLOR_GREEN_1;
        }
        &--loss {
            color: $COLOR_RED;
        }
    }
    /*
        MOBILE CARDS
    */
    &--card-view {
        background: $COLOR_LIGHT_BLACK_4_SOLID;
        overflow: hidden;

        .statement__filter {
            background-color: $COLOR_WHITE;
            padding: 0 $side-padding;
            border-bottom: 1px solid $COLOR_LIGHT_BLACK_4;

            &-content {
                padding: 0;
                margin: 0 auto;
                max-width: 450px;
                display: grid;
                grid-template-columns: 1fr 3em 1fr;
                text-align: center;

                .datepicker__input-field {
                    width: 100%;
                }
            }
            &-label {
                display: none;
            }
        }
        .statement__content {
            padding: 0;
        }
        .statement__card-list {
            padding: 0 $side-padding;
            height: 100%;
        }
    }
}

/** @define statement-card */
.statement-card {
    &__header {
        font-size: 1em;
        padding: 0.5em;
        border-bottom: 1px solid $COLOR_LIGHT_BLACK_4;
        display: flex;
        justify-content: space-between;
    }
    /* postcss-bem-linter: ignore */
    &__refid a {
        color: $COLOR_SKY_BLUE;
        text-decoration: none;
    }
    &__body {
        padding: 0.5em;
        font-size: 1.2em;
    }
    &__desc {
        margin-bottom: 0.7em;
    }
    &__row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-weight: bold;
    }
    &__cell-text {
        vertical-align: middle;
    }
    &__amount {
        &--sell, &--deposit {
            color: $COLOR_GREEN_1;
        }
        &--buy, &--withdrawal {
            color: $COLOR_RED;
        }
    }
    &__icon {
        display: inline-block;
        height: 1.6em;
        width: 1.6em;
        background-size: 1.6em 1.6em;
        vertical-align: middle;
        margin-right: 0.5em;
    }
}

/** @define statement-empty */
.statement-empty {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__icon {
        height: 6.4em;
        width: 6.4em;
        margin-bottom: 1.4em;
    }
    &__text {
        font-size: 1.4em;
    }
}
