.wallets-compare-accounts-carousel-button {
    background-color: var(--general-main-1);
    z-index: 1;
    color: var(--background-site);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    border: 1px solid var(--general-background-main);
    border-radius: 50%;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08), 0px 24px 24px rgba(0, 0, 0, 0.08);

    &--prev {
        inset-inline-start: 1.6rem;
    }

    &--next {
        inset-inline-end: 1.6rem;
    }

    &:disabled {
        opacity: 0.3;
        display: none;
    }
}
