.dc-modal__container_wallet-modal {
    display: flex;
    align-items: center;
    position: fixed;
    inset: 0;
    min-height: calc(100vh - 84px) !important;
    min-width: 100vw !important;
    margin: 4.8rem 0 3.6rem;
    border-radius: unset;
    background-color: var(--general-main-1);
}

.wallet-mobile-dialog {
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        display: none;
    }

    .dc-mobile-dialog {
        &__header {
            display: none;
        }

        &__content {
            margin: 0;
            padding: 0;

            .dc-mobile-dialog__wallet-mobile-dialog__wrapper {
                .modal-header {
                    height: 12.2rem;
                    position: fixed;
                    z-index: 1;
                    transition: height 0.2s ease;

                    .title-visibility {
                        height: 2rem;
                    }

                    .title-visibility,
                    .icon-visibility {
                        visibility: visible;
                        opacity: 1;
                        transition: visibility 0s, opacity 0.2s, height 0.2s ease;
                    }
                }
            }

            .scrolled-content {
                .modal-header {
                    height: 8.2rem;

                    .title-visibility,
                    .icon-visibility {
                        visibility: hidden;
                        opacity: 0;
                        height: 0;
                    }
                }
            }
        }
    }
}

// styles for mobile and desktop modal body (tabs with content)
.dc-tabs--modal-body__tabs {
    max-width: 128rem;
    width: 100%;
    margin-top: -4.8rem;

    @include mobile {
        top: 8.2rem;
        margin-top: 0;
    }

    .dc-tabs__list {
        padding: 0 4rem;

        @include mobile {
            padding: 0 1.6rem;

            &--header--modal-body__tabs {
                position: fixed;
                width: 100%;
                top: 8.2rem;
                z-index: 2;
                overflow-x: scroll;
                transition: top 0.2s ease;

                /* IE and Edge */
                -ms-overflow-style: none;
                /* Firefox */
                scrollbar-width: none;

                &::-webkit-scrollbar {
                    display: none;
                }

                &::-webkit-scrollbar-thumb {
                    display: none;
                }
            }

            &--header--modal-body__tabs.is_scrolled {
                top: 4.4rem;
            }
        }
    }

    .dc-tabs__item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 3.2rem;
        height: 4.8rem;

        @include mobile {
            padding: 0 1.6rem;
            height: 4rem;
            font-size: var(--text-size-xxs);
        }

        &__icon {
            padding: 0;
            margin-right: 0.8rem;
        }
    }

    .dc-tabs__active {
        background-color: var(--general-main-1);
        border-radius: 1.6rem 1.6rem 0 0;
    }

    .dc-tabs__content {
        padding: 2.4rem 4rem;
        font-size: var(--text-size-l);
        color: var(--text-prominent);
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
            top: 4rem;
            position: relative;
            padding: 0 1.6rem;
            font-size: var(--text-size-xs);
        }
    }
}

// styles for mobile and desktop modal header
.modal-header {
    max-width: 128rem;
    width: 100%;
    display: flex;
    position: relative;
    height: 16rem;
    padding: 2.4rem 4rem 7.2rem;

    @include mobile {
        height: inherit;
        padding: 1.6rem 1.6rem 5.6rem;
    }

    //TODO: check do we need this after bg change to radial-gradient
    &__title-wrapper {
        position: relative;
    }

    &__title {
        display: flex;
        align-items: center;

        &-wallet {
            padding-right: 0.8rem;
            color: var(--text-general);

            &-demo {
                color: var(--demo-text-color-1);
            }
        }

        &-balance {
            color: var(--text-prominent);

            &-demo {
                color: var(--demo-text-color-2);
            }
        }
    }

    &--hidden-title {
        align-items: center;
        justify-content: space-between;
    }

    &__currency-icon {
        z-index: 100;
        margin-left: auto;
        margin-right: 1.6rem;

        @include mobile {
            margin-right: 0.8rem;
        }
    }

    &__close-icon {
        position: relative;

        .dc-icon {
            cursor: pointer;
        }
    }
}
