.dc-modal__container_wallet-modal {
    display: flex;
    align-items: center;
    position: fixed;
    inset: 0;
    min-height: calc(100vh - 84px) !important;
    min-width: 100vw !important;
    margin: 4.8rem 0 3.6rem;
    border-radius: unset;
    background-color: var(--general-main-1);
    z-index: 9997;
    box-shadow: none;

    @include mobile {
        margin: 0;
    }

    // styles for mobile and desktop modal body (tabs with content)
    .dc-tabs {
        &--wallet-modal {
            width: 100%;
            margin-top: -4.8rem;
            z-index: 9999;

            @include mobile {
                top: 8.2rem;
                margin-top: 0;
                transition: top 0.2s ease;

                &.is_scrolled {
                    top: 4.2rem;
                }
            }

            &-themed-scrollbar {
                width: 100%;
            }

            &-content-wrapper {
                max-width: 128rem;
                margin: 0 auto;
                padding: 2.4rem 4rem;

                @include mobile {
                    padding: 1.6rem;
                }
            }
        }
        &__list {
            padding: 0 4rem;

            @include mobile {
                padding: 0 1.6rem;
            }

            &--wallet-modal {
                max-width: 128rem;
                width: 100%;
                margin: 0 auto;

                @include mobile {
                    width: 100%;
                    z-index: 3;
                    overflow-x: scroll;

                    /* IE and Edge */
                    -ms-overflow-style: none;
                    /* Firefox */
                    scrollbar-width: none;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    &::-webkit-scrollbar-thumb {
                        display: none;
                    }

                    &.is_scrolled {
                        top: 4.4rem;
                    }
                }
            }
        }

        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 3.2rem;
            height: 4.8rem;

            @include mobile {
                padding: 0 1.6rem;
                height: 4rem;
                font-size: var(--text-size-xxs);
            }

            &__icon {
                padding: 0;
                margin-right: 0.8rem;
            }
        }

        &__active {
            background-color: var(--general-main-1);
            border-radius: 1.6rem 1.6rem 0 0;
        }

        &__content {
            width: 100%;
            font-size: var(--text-size-l);
            color: var(--text-prominent);
            display: flex;
            align-items: center;
            justify-content: center;

            @include mobile {
                font-size: var(--text-size-xs);
            }
        }
    }
}

.wallet-modal--header {
    max-width: 128rem;
    width: 100%;
    display: flex;
    position: relative;
    height: 16rem;
    padding: 2.4rem 4rem 7.2rem;

    @include mobile {
        height: 12.2rem;
        padding: 1.6rem 1.6rem 5.6rem;
        transition: height 0.2s ease;

        .title-visibility {
            height: 2rem;
        }

        .title-visibility,
        .icon-visibility {
            visibility: visible;
            transition: visibility 0s, height 0.2s ease;
        }
    }

    //TODO: check do we need this after bg change to radial-gradient
    &__title-wrapper {
        position: relative;
    }

    &__title {
        display: flex;
        align-items: center;

        &-wallet {
            padding-right: 0.8rem;
            color: var(--text-general);

            &-demo {
                color: var(--demo-text-color-1);
            }
        }

        &-balance {
            color: var(--text-prominent);

            &-demo {
                color: var(--demo-text-color-2);
            }
        }
    }

    &--hidden-title {
        height: 8.2rem;
        align-items: center;
        justify-content: space-between;

        .title-visibility,
        .icon-visibility {
            visibility: hidden;
            height: 0;
        }
    }

    &__currency-icon {
        z-index: 3;
        margin-left: auto;
        margin-right: 1.6rem;

        @include mobile {
            margin-right: 0.8rem;
        }
    }

    &__close-icon {
        position: relative;

        .dc-icon {
            cursor: pointer;
        }
    }

    &-background {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        overflow: hidden;

        @include mobile {
            position: fixed;
            z-index: 3;
        }
    }
}
