.dc-modal__container_order-details-confirm-modal {
    .dc-modal-header {
        border-bottom: none;

        &__title {
            @include mobile {
                padding: 2.4rem 1.6rem 1.6rem;
            }

            padding: 2.4rem;
        }
    }

    .dc-modal-body {
        @include mobile {
            padding: 0.8rem 1.6rem;
        }

        padding: 0 2.4rem;
    }
}
