.dc-modal__container_cancel-modal {
    .dc-modal-header {
        border-bottom: none;
    }

    .dc-modal-body {
        padding: 0.8rem 2.4rem;
    }

    .dc-modal-footer {
        border-top: none;
    }
}
