.order-info-block {
    margin-bottom: 1.6rem;

    &-value {
        display: flex;
        flex-direction: column;
        font-size: 1.4rem;
        line-height: 1.43;
        color: var(--text-general);
        word-break: break-word;
        white-space: pre-line;
    }
}
