.order-details-complain-modal {
    &__body {
        flex-grow: 1;

        @include mobile-or-tablet-screen {
            flex-direction: column;
        }
    }

    &__explanation {
        background-color: var(--general-section-1);
        margin-top: 1.6rem;
        padding: 1.6rem;

        @include mobile-or-tablet-screen {
            border-radius: $BORDER_RADIUS;
            margin: 1.6rem;
        }

        @include desktop-screen {
            border-radius: 8px;
        }
    }
    @include tablet-screen {
        & .dc-mobile-full-page-modal {
            top: 0;
            overflow: hidden;
        }
    }
}

.dc-modal__container_order-details-complain-modal {
    .dc-modal-footer {
        border-top: solid 2px var(--general-section-1);
    }
}
