.p2p-v2-home-style {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: calc(100vh - 48px - 36px);

    @include mobile {
        width: 100vw;
        height: 100%;
        display: block;
    }
}
