.p2p-v2-orders-chat-section {
    &__full-page {
        position: absolute;
        top: 5rem;
        left: 0;
        background: #fff;
        z-index: 1;
        height: calc(100vh - 7rem);

        & .p2p-v2-mobile-wrapper__body {
            overflow: auto;
        }
    }
}
