.ad-type {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include mobile-or-tablet-screen {
        justify-content: flex-end;
    }

    &__badge {
        align-items: center;
        border-radius: 0.4rem;
        border: 1px solid var(--border-normal);
        display: flex;
        flex-direction: row;
        margin: 0.3rem 0.5rem 0.3rem 0;
        padding: 0.1rem 0.8rem;
        width: fit-content;
    }
}
