.edit-ad-form {
    @include mobile-or-tablet-screen {
        .dc-input__footer {
            justify-content: space-between;
            width: 86vw;
        }

        .dc-input__hint--relative {
            margin-left: unset;
        }
    }

    .dc-input__wrapper {
        @include mobile-or-tablet-screen {
            max-width: 90vw;

            .edit-ad-form__field {
                margin-bottom: 0;
            }
        }
    }

    &__label {
        &--focused {
            color: var(--text-prominent);
            background-color: var(--general-main-1);
        }
    }

    &__payment-methods {
        &--empty {
            max-width: 67.2rem;
            padding: 1.2rem 0;
        }

        &--text {
            display: flex;
            flex-direction: column;
            margin-top: 3.2rem;
            padding-bottom: 1rem;
        }
    }

    &__radio-group {
        display: flex;
        margin-top: unset;
        padding-bottom: 1.2rem;

        .dc-radio-group__circle {
            border: 2px solid var(--border-hover);

            &--selected {
                border: 4px solid var(--brand-red-coral);
            }
        }

        @include mobile-or-tablet-screen {
            padding: 0.5rem 0;
        }
    }

    &__scrollbar {
        height: calc(100% - 2.4rem - 9.2rem);
        position: absolute;
        width: calc(100% - 4.8rem);

        .dc-input {
            max-width: 67.2rem;
        }

        &-container {
            @include mobile-or-tablet-screen {
                width: 90vw;
                margin: 0 1.6rem;

                .dc-input {
                    &__wrapper {
                        margin-top: 2.1rem;
                        margin-bottom: 3rem;
                    }
                    &__hint {
                        margin-top: 0;
                    }
                }
            }
        }

        @include mobile-or-tablet-screen {
            height: fit-content;
            position: unset;
            width: 100%;
        }
    }

    &__container {
        display: flex;
        height: 8rem;
        justify-content: space-between;
        width: 67.2rem;

        .dc-input {
            margin-bottom: 2.1rem;
            margin-top: 2.1rem;

            &__container {
                padding: 0 1rem;
            }
            &--hint {
                margin-bottom: 0;
            }
            &__wrapper {
                margin-top: 0;
            }
        }

        @include mobile-or-tablet-screen {
            flex-direction: column;
            height: unset;
            width: unset;

            .dc-input {
                &__wrapper {
                    margin-bottom: 5rem;
                }
            }
        }
    }

    &__field {
        height: 4rem;
        margin-bottom: 0;
        margin-left: 0;
        width: 32.4rem;

        @include mobile-or-tablet-screen {
            width: inherit;
        }

        &--contact-details {
            margin-bottom: 5.9rem;

            @include mobile-or-tablet-screen {
                margin-bottom: 3.7rem;
            }
        }
        &--single {
            width: 18.9rem;
        }
        &--textarea {
            height: 9.6rem;
            margin-bottom: 0;
            width: 67.2rem;

            @include mobile-or-tablet-screen {
                height: 9.8rem;
                width: 90vw;
            }

            .dc-input {
                &__hint {
                    top: 9.7rem;
                }

                &___counter {
                    top: 9.7rem;
                    right: 0rem;

                    @include mobile-or-tablet-screen {
                        display: flex;
                        right: 0;
                    }
                }

                &__textarea {
                    padding-top: 1rem;
                    padding-left: 0;
                }

                &__container {
                    height: 9.6rem;
                }
            }
        }
    }

    &__button {
        margin-left: 0.8rem;
    }

    &__footer {
        align-items: center;
        background-color: var(--general-main-1);
        display: flex;
        justify-content: flex-end;

        @include mobile-or-tablet-screen {
            border-top: 2px solid var(--general-section-1);
            flex-direction: row;
            padding: 1.6rem;
            width: 100vw;
        }
    }

    &__offer-amt {
        &__sell-ad {
            margin-top: 0 !important;
        }

        .dc-input__label {
            color: var(--text-general);
            -webkit-text-fill-color: var(--text-general);
        }

        .dc-input__field:disabled {
            color: var(--text-less-prominent);
            -webkit-text-fill-color: var(--text-less-prominent);
        }
    }

    &__modal {
        &--form {
            height: fit-content !important;
        }
        .dc-modal-header__title--edit-ad-form__modal {
            padding: 2.4rem 2.4rem 0 !important;
        }
        .dc-modal__container_edit-ad-form__modal {
            .dc-modal-footer {
                padding-top: 0 !important;
            }

            .dc-modal-header {
                padding-bottom: 1rem;
            }
        }
    }

    &__dropdown {
        &-display {
            height: 4rem;
        }
    }
}
