.wallet-account {
    position: relative;
    background: #fff8f9;

    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        height: 15.8rem;
    }

    &__header {
        height: 100%;
        position: relative;
        border-radius: 1.6rem;
        overflow: hidden;
        padding: 2.4rem;
        display: flex;
        align-items: center;
    }

    &__options {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
    }

    &__app-launcher-button {
        background-color: #ff444f29 !important;
    }

    &__details {
        display: flex;
        flex: 1;
    }
    &__logo {
        margin-right: 2.4rem;
    }
    &__info {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    &__actions {
        display: flex;
        flex: 1;
        margin-top: 1rem;
        gap: 8px;
    }
    &__balance {
        display: flex;
        flex-direction: column;
    }

    &__content {
        padding: 2.1rem;
        overflow: hidden;
    }

    &__deriv-apps {
        background-color: #fff0f1;
        border-radius: 16px;
        padding: 0 24px 24px;
        margin-top: 24px;
    }

    &__app-launcher--full-width {
        margin: 1.6rem 0;
        min-height: 9.6rem;
        display: flex;
        gap: 0.8rem;
        align-items: center;
        border-bottom: 1px solid #fff;
    }
}
