.wallet-account {
    height: 12.8rem;
    position: relative;
    border-radius: 1.6rem;
    overflow: hidden;

    &__background {
        position: absolute;
        width: 100%;
        height: 100%;

        &-icon {
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 15.8rem;
            position: absolute;
        }
    }

    &__accordion {
        position: relative;
        background: #fff8f9;
    }

    &__options {
        display: flex;
        flex-wrap: wrap;
    }

    &__test {
        background-color: #ff444f29;
    }

    &__content {
        position: relative;
        padding: 2.4rem;
        display: flex;
        align-items: center;
        height: 100%;
    }
    &__details {
        display: flex;
        flex: 1;
    }
    &__logo {
        margin-right: 2.4rem;
    }
    &__info {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    &__actions {
        display: flex;
        flex: 1;
        margin-top: 1rem;
        gap: 8px;
    }
    &__balance {
        display: flex;
        flex-direction: column;
    }
}
