.cancel-modal {
    &__footer {
        @include mobile {
            .dc-btn__group {
                align-items: center;
                display: flex;
                flex-direction: column;

                .dc-btn {
                    margin-top: 0.8rem;
                    width: 80vw;
                }
            }
        }
    }

    &__warning {
        padding-top: 0.8rem;
    }
}

.dc-modal__container_cancel-modal {
    .dc-modal-header {
        border-bottom: none;
    }

    .dc-modal-body {
        padding: 0.8rem 2.4rem;
    }

    .dc-modal-footer {
        border-top: none;
        padding: 0 1.6rem 1.6rem;
    }
}
