.p2p-v2-payment-method-accordion {
    &__button {
        height: 0;
        padding: 0;

        // TODO: Remove hover effect once deriv-com/ui Buttons allows removing hover styles
        &:hover {
            background-color: transparent;

            & > span {
                // stylelint-disable-next-line declaration-no-important
                color: #ff444f !important;
            }
        }
    }
}
