.toolbar {
    height: 5.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.6rem;
    position: absolute;
    top: -4rem;
    left: 23.2rem;
    background-color: var(--general-main-1);
    @include mobile {
        left: 1.4rem;
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;

        &::-webkit-scrollbar {
            display: none;
        }

        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    z-index: 1;
    &__btn {
        background-color: var(--button-primary-default) !important;

        &--icon {
            display: flex;
            justify-content: center;
            height: calc(5.6rem - 1.6rem) !important;
            @include desktop {
                width: 22rem;
                margin-bottom: 1rem;
            }
            @include mobile {
                margin-bottom: 2rem;
            }

            & .dc-btn__icon {
                padding-right: 0.4rem;
            }
            > * {
                align-self: center;
            }
            &-text {
                @include typeface(--title-center-bold-active, none);
            }
        }
    }
    &__section {
        display: flex;

        @include mobile {
            margin-top: 2rem;
        }

        > * {
            @include desktop {
                align-self: center;
            }
        }
    }
    &__icon {
        cursor: pointer;
        border: none;
        margin: auto 1.2rem;
        height: 1.6rem;
        width: 1.6rem;
        fill: var(--text-prominent);
    }
    &__group {
        display: flex;
        border-radius: $BORDER_RADIUS;
        border: solid 1px var(--border-normal);
        height: 4rem;
        &-btn {
            padding: 0 1.2rem;
            height: 4rem;
            @include mobile {
                padding: 0;
                .dc-popover {
                    &__target {
                        width: 4rem;
                    }
                }
            }
            > * {
                align-self: center;
            }
        }
    }
    &__animation {
        margin-right: 0.5rem;
        max-width: 35rem;
    }
    &__dialog {
        &-text--second {
            margin-top: 2.4rem;
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.vertical-divider {
    width: 0.1rem;
    height: 1.7rem;
    margin: 0.8rem;
    background-color: var(--border-normal);
}
