.wallets-transfer-form-account-selection {
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    background: var(--system-light-8-primary-background, #fff);
    /* Shadows/xxxl */
    box-shadow: 0px 32px 64px 0px rgba(14, 14, 14, 0.14);
    max-height: 80vh;

    &__account {
        all: unset;
        cursor: pointer;
        border-radius: 4px;
        padding: 8px 16px;

        &:hover {
            background: var(--system-light-8-primary-background, #e6e6e6);
        }
    }

    &__accounts {
        display: flex;
        flex-direction: column;
        padding: 16px 8px;
        width: 100%;
        overflow-y: auto;
    }

    &__header {
        display: flex;
        height: 56px;
        padding: 0px 16px 0px 24px;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        align-self: stretch;
        border-bottom: 1px solid var(--system-light-5-active-background, #d6dadb);

        &__label {
            color: var(--system-light-1-prominent-text, #333);

            /* desktop/paragraph/P1 - bold */
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px; /* 150% */
        }

        &__close-button {
            all: unset;
            font-size: 20px;
        }
    }
}
