.container {
    margin-inline: auto;
    padding-top: 2.4rem;
    max-width: 128rem;

    @include mobile-cashier-v2 {
        padding-top: 0;
    }
}

.vertical-tab-wrapper {
    min-width: 25.6rem;
}
