.inline-message {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    align-items: flex-start;
    height: min-content;
    padding: 0.8rem;
    border-radius: $BORDER_RADIUS;

    &__lg {
        @include tablet-up {
            gap: 1.6rem;
            padding: 1.6rem;
            border-radius: $BORDER_RADIUS * 2;
        }
    }

    &__warning {
        background: $color-status-warning;
    }

    &__information {
        background: $color-status-information;
    }

    &__announcement {
        background: $color-status-announcement;
    }

    &__error {
        background: $color-status-error;
    }

    &__icon {
        &__sm {
            @include mobile {
                margin-top: 0;
            }

            margin-top: 0.1rem;
        }

        &__md {
            @include mobile {
                margin-top: 0.1rem;
            }

            margin-top: 0.2rem;
        }

        &__lg {
            @include mobile {
                margin-top: 0.2rem;
            }
        }
    }

    &__messages {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-self: stretch;

        &__xs {
            @include mobile {
                margin-top: 0.2rem;
            }

            margin-top: 0.1rem;
        }

        &__sm {
            @include mobile {
                margin-top: 0.1rem;
            }
        }
    }
}
