.p2p-v2-user-avatar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;

    &__short-nickname {
        position: absolute;
    }
}
