.wallets-loader {
    display: flex;
    width: 7.2rem;
    height: 3.2rem;
    transition: all 0.4s ease;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &--fullscreen {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__element {
        $loader: loader 1.5s ease-in infinite both;
        display: block;
        width: 0.8rem;
        height: 3.2rem;
        animation: $loader;
        border-radius: 1rem;

        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                animation-delay: calc(#{$i} * 0.1s);
            }
        }

        @keyframes loader {
            0% {
                bottom: 0;
                height: 50%;
            }

            12.5% {
                bottom: 0;
                height: 75%;
            }

            25% {
                bottom: 75%;
                height: 100%;
            }

            37.5% {
                bottom: 0;
                height: 75%;
            }

            50% {
                bottom: 0;
                height: 50%;
            }

            100% {
                bottom: 0;
                height: 50%;
            }
        }
    }
}
