.wallets-ready-to-enable-eu-modal {
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.4rem;
        max-width: 64rem;
        margin: 4rem auto;
        padding: 0;

        &:first-child {
            padding-top: 0;
        }

        @include tablet-screen {
            margin: 2.4rem auto;
        }

        @include mobile-screen {
            margin: 2.4rem 1.6rem;
            max-width: unset;
        }
    }

    &__icon {
        display: flex;
        justify-content: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }

    &__footer {
        padding-inline: 2.4rem;
        border-top: solid 2px var(--general-section-2);
    }

    &__disclaimer {
        width: fit-content;

        @include mobile-or-tablet-screen {
            padding: 0.8rem;
        }
    }

    &__button {
        display: flex;
        justify-content: flex-end;

        @include mobile-or-tablet-screen {
            width: 100%;

            .dc-btn {
                width: 100%;
            }
        }
    }

    &__responsive-header {
        border-bottom: none;
    }

    &__responsive-footer {
        padding: 1.6rem;
        border-top: solid 2px var(--general-section-2);
    }
}

.dc-modal__container_wallets-ready-to-enable-eu-modal {
    @include mobile-or-tablet-screen {
        max-width: unset !important;
        max-height: unset !important;
        border-radius: 0;
    }
}
