.p2p-v2-my-profile-counterparties-header {
    display: grid;
    gap: 1.6rem;
    margin: 2.4rem 0;
    grid-template-columns: repeat(3, 1fr);

    @include mobile {
        display: flex;

        .p2p-v2-search {
            max-width: 28rem;

            @include mobile {
                max-width: 100%;
            }
        }
    }

    &__sort-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 1px solid #d6dadb;
        border-radius: 4px;
        padding: 0 1rem;
        height: 4rem;
        background-color: #fff;

        &:active {
            background-color: #fff;
        }
    }
}
