/** @define dc-form-submit-error-message; weak */
.dc-form-submit-error-message {
    display: flex;
    align-items: center;
    margin-right: auto;
    flex: 1;

    p {
        padding-left: 0.8rem;

        @include mobile-or-tablet-screen {
            line-height: 20px;
        }
    }

    @include mobile-or-tablet-screen {
        padding: 0 1.6rem 1rem;
        position: absolute;
        bottom: 7rem;
    }
}
