.p2p-v2-adverts-table-row {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1.4fr 1.4fr 2.4fr 0.8fr;
    padding: 1.6rem;
    align-items: center;

    @include mobile {
        grid-template-columns: 2fr 0.8fr;
    }

    &--advertiser {
        grid-template-columns: repeat(4, 1fr);

        @include mobile {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
