/* -------------------------------------------------------------------
  Microtip

  Modern, lightweight css-only tooltips
  Just 1kb minified and gzipped

  @author Ghosh
  @package Microtip

----------------------------------------------------------------------
  1. Base Styles
  2. Direction Modifiers
  3. Position Modifiers
--------------------------------------------------------------------*/
@mixin tooltip-base {
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
    opacity: 0;
    pointer-events: none;
    transition: all var(--microtip-transition-duration, 0.18s) var(--microtip-transition-easing, ease-in-out)
        var(--microtip-transition-delay, 0s);
    position: absolute;
    box-sizing: border-box;
    z-index: 10;
    transform-origin: top;
}

[aria-label][role~='tooltip'] {
    position: relative;
    &:before {
        @include tooltip-base;
        background-size: 100% auto !important;
        content: '';
    }
    &:after {
        @include tooltip-base;
        @include typeface(--small-center-normal-active, none);
        background: var(--general-active);
        border-radius: 4px;
        color: var(--text-prominent);
        content: attr(aria-label);
        font-size: var(--microtip-font-size, 13px);
        font-weight: var(--microtip-font-weight, normal);
        text-transform: var(--microtip-text-transform, none);
        padding: 0.8rem;
        white-space: nowrap;
        box-sizing: content-box;
        display: flex;
    }

    &:hover:before,
    &:hover:after,
    &:focus:before,
    &:focus:after {
        opacity: 1;
        pointer-events: auto;
    }

    &[data-microtip-position|='top'] {
        &[data-microtip-has-arrow='true']:before {
            body.theme--light & {
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36px' height='12px'%3E%3Cpath fill='rgba(214, 218, 219, 1)' transform='rotate(0)' d='M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z'/%3E%3C/svg%3E")
                    no-repeat;
            }

            body.theme--dark & {
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36px' height='12px'%3E%3Cpath fill='rgba(50, 55, 56, 1)' transform='rotate(0)' d='M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z'/%3E%3C/svg%3E")
                    no-repeat;
            }
            height: 6px;
            width: 18px;
            margin-bottom: 8px;
        }

        &:after {
            margin-bottom: 13px;
        }

        &:before,
        &:after {
            transform: translate3d(-50%, 0, 0);
            bottom: 100%;
            left: 50%;
        }

        &:hover:before,
        &:hover:after {
            transform: translate3d(-50%, -5px, 0);
        }
    }

    &[data-microtip-position='top-left'] {
        &:after {
            transform: translate3d(calc(-100% + 16px), 0, 0);
            bottom: 100%;
        }
        &:hover:after {
            transform: translate3d(calc(-100% + 16px), -5px, 0);
        }
    }

    &[data-microtip-position='top-right'] {
        &:after {
            transform: translate3d(calc(0% + -16px), 0, 0);
            bottom: 100%;
        }
        &:hover:after {
            transform: translate3d(calc(0% + -16px), -5px, 0);
        }
    }

    &[data-microtip-position|='bottom'] {
        &[data-microtip-has-arrow='true']:before {
            body.theme--light & {
                background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='36px' height='12px'%3E%3Cpath fill='rgba(214, 218, 219, 1)' transform='rotate(180 18 6)' d='M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z'/%3E%3C/svg%3E")
                    no-repeat;
            }
            body.theme--dark & {
                background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='36px' height='12px'%3E%3Cpath fill='rgba(50, 55, 56, 1)' transform='rotate(180 18 6)' d='M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z'/%3E%3C/svg%3E")
                    no-repeat;
            }
            height: 6px;
            width: 18px;
            margin-top: 10px;
            margin-bottom: unset; // margin-bottom: 0;
            transform: translate3d(-50%, -10px, 0);
            bottom: auto;
            left: 50%;
            top: 100%;
        }

        &:hover:before {
            transform: translate3d(-50%, 0, 0);
        }

        &:after {
            margin-top: 16px;
            transform: translate3d(-50%, -10px, 0);
            top: 100%;
            left: 50%;
        }
        &:hover:after {
            transform: translate3d(-50%, 0, 0);
        }
    }

    &[data-microtip-position|='bottom-left'] {
        &:after {
            transform: translate3d(calc(-100% + 16px), -10px, 0);
            top: 100%;
        }
        &:hover:after {
            transform: translate3d(calc(-100% + 16px), 0, 0);
        }
    }
    &[data-microtip-position|='bottom-right'] {
        &:after {
            transform: translate3d(calc(0% + -16px), -10px, 0);
            top: 100%;
        }
        &:hover:after {
            transform: translate3d(calc(0% + -16px), 0, 0);
        }
    }

    &[data-microtip-position|='left'] {
        &:before,
        &:after {
            bottom: auto;
            left: auto;
            right: 100%;
            top: 50%;
            transform: translate3d(10px, -50%, 0);
        }

        &:before {
            body.theme--light & {
                background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='12px' height='36px'%3E%3Cpath fill='rgba(214, 218, 219, 1)' transform='rotate(-90 18 18)' d='M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z'/%3E%3C/svg%3E")
                    no-repeat;
            }
            body.theme--dark & {
                background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='12px' height='36px'%3E%3Cpath fill='rgba(50, 55, 56, 1)' transform='rotate(-90 18 18)' d='M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z'/%3E%3C/svg%3E")
                    no-repeat;
            }
            height: 18px;
            width: 6px;
            margin-right: 5px;
            margin-bottom: 0;
        }

        &:after {
            margin-right: 11px;
        }

        &:hover:before,
        &:hover:after {
            transform: translate3d(0, -50%, 0);
        }
    }
    &[data-microtip-position|='right'] {
        &:before,
        &:after {
            bottom: auto;
            left: 100%;
            top: 50%;
            transform: translate3d(-10px, -50%, 0);
        }

        &:before {
            body.theme--light & {
                background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='12px' height='36px'%3E%3Cpath fill='rgba(214, 218, 219, 1)' transform='rotate(90 6 6)' d='M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z'/%3E%3C/svg%3E")
                    no-repeat;
            }
            body.theme--dark & {
                background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='12px' height='36px'%3E%3Cpath fill='rgba(50, 55, 56, 1)' transform='rotate(90 6 6)' d='M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z'/%3E%3C/svg%3E")
                    no-repeat;
            }
            height: 18px;
            width: 6px;
            margin-bottom: 0;
            margin-left: 5px;
        }

        &:after {
            margin-left: 11px;
        }

        &:hover:before,
        &:hover:after {
            transform: translate3d(0, -50%, 0);
        }
    }
}

[role~='tooltip'][data-microtip-size='small']:after {
    // width: 80px;
    padding: 0.8rem;
}
[role~='tooltip'][data-microtip-size='medium']:after {
    padding: 1.1rem;
}
[role~='tooltip'][data-microtip-size='large']:after {
    padding: 1.4rem;
}
