.derivez-web-terminal {
    width: 100vw;
    height: calc(100vh - 10rem);
    &-header {
        width: 100vw;
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        padding: 1rem 1rem 1rem 0;
        background-color: var(--general-section-1);
        &-icon {
            position: fixed;
            z-index: 1000;
        }
    }
    &-iframe {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 1040px) {
    .derivez-web-terminal {
        overflow-x: scroll;

        &-iframe {
            width: 1040px;
        }
    }
}
