.derivez-web-terminal {
    width: 100vw;
    height: calc(100vh - 10rem);
    background-color: var(--general-section-1);
    &-header {
        width: 100vw;
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 1rem;
        &-icon {
            position: fixed;
            z-index: 1000;
        }
    }
    &-iframe {
        width: 100%;
        height: 100%;
    }
}
