.dc-contract-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    position: relative;
    padding: 0.8rem;
    background-color: var(--general-main-1);
    color: var(--text-prominent);
    padding-bottom: 0.8rem;

    &:before {
        content: '';
        position: absolute;
        height: 52px;
        width: 100%;
        left: 0;
        top: 0;
    }
    &--green:before {
        background-image: linear-gradient(to top, rgba(16, 19, 32, 0), rgba(0, 148, 117, 0.16));
    }
    &--red:before {
        background-image: linear-gradient(to top, rgba(16, 19, 32, 0), rgba(227, 28, 75, 0.16));
    }
    &--loss {
        color: var(--text-loss-danger);
    }
    &--profit {
        color: var(--text-profit-success);
    }
    &__grid {
        display: grid;
        grid-template-rows: 1fr auto;
        grid-gap: 4px;
        min-height: 4rem;

        &-underlying-trade {
            grid-template-columns: 1fr 1fr;
            width: 100%;

            &--trader {
                grid-template-columns: 1.2fr 1fr;
                &--accumulator {
                    display: flex;
                    &-sold {
                        padding-top: 1rem;
                    }
                }
            }
            &--mobile {
                grid-template-columns: 1fr 1fr 25%;
            }
        }
        &-profit-payout {
            grid-template-columns: 1fr 1fr;
            padding: 8px 0;
            border-radius: $BORDER_RADIUS;
            margin-left: -4px;
            margin-right: -4px;
            background: var(--general-hover);
        }
        &-label {
            font-size: 1rem;
            align-self: flex-start;
            text-transform: none;
            line-height: 1.5;
            color: var(--text-general);
            white-space: nowrap;
        }
        &-value {
            font-size: 1.2rem;
            font-weight: bold;
            align-self: flex-start;
            line-height: 1.5;
        }
        &-items {
            grid-template-columns: 1fr 1fr;
            grid-gap: 0.8rem 0.4rem;
            padding: 0.8rem 0;
        }
    }
    &__result {
        position: absolute;
        top: 0;
        width: 100%;
        height: calc(100% - 1rem);
        border-radius: $BORDER_RADIUS;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--overlay-inside-dialog);

        &--won,
        &--won:after {
            background-image: var(--gradient-success);
        }
        &--lost,
        &--lost:after {
            background-image: var(--gradient-danger);
        }
        &--lg {
            max-height: 100%;
        }
        &:hover {
            background: 0 !important;

            .dc-result__caption {
                opacity: 0;
            }
        }
        &:after {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: $BORDER_RADIUS;
            z-index: 2;
        }
        &--enter,
        &--exit {
            opacity: 0;
        }
        &--enter-done {
            opacity: 1;
        }
    }
    &__wrapper {
        margin: 0 1em;
        min-width: 218px;
        max-width: 238px;
        width: min-content;
        border-radius: $BORDER_RADIUS;
        transition: transform 0.25s ease, opacity 0.25s linear;
        position: relative;
        background: var(--general-main-1);

        .currency-badge {
            margin-bottom: 5px;
        }
        &--active:before {
            content: '';
            top: -1px;
            left: -1px;
            width: calc(100% + 2px);
            height: calc(100% + 2px);
            position: absolute;
            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.24);
            border-radius: $BORDER_RADIUS;
            pointer-events: none;
        }
        &--enter-done {
            opacity: 1;
            transform: translateY(0);
        }
        &--enter,
        &--exit {
            opacity: 0;
            transform: translateY(-16px);
        }
    }
    .purchase-price,
    .potential-payout {
        &-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
        &__label {
            font-size: 1rem;
            align-self: flex-start;
            text-transform: none;
            margin-bottom: 4px;
            color: var(--text-general);
            white-space: nowrap;
        }
        &__value {
            font-size: 1em;
            font-weight: bold;
            align-self: flex-start;
        }
    }
    .potential-payout {
        &-container {
            padding-left: 4px;
        }
        &-price__value {
            font-size: 1em;
            font-weight: bold;
            align-self: flex-start;
        }
    }
    &__separator {
        width: 100%;
        border-top: 1px solid var(--general-section-1);
        margin: 4px 0 0;
    }
    &__underlying-name {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-weight: bold;
        font-size: 1.2em;
        max-width: 18rem;
        min-width: 10rem;

        &--accumulator {
            max-width: 10rem;
        }
    }
    &__type {
        font-size: 1.2em;
        display: flex;
        justify-content: flex-start;
        font-weight: bold;

        /* postcss-bem-linter: ignore */
        .category-type {
            .color1-fill {
                fill: var(--brand-red-coral) !important;
            }
            .color2-fill {
                fill: var(--brand-secondary) !important;
            }
        }
    }
    &__symbol {
        margin-left: 0.4rem;
    }
    &__header {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        margin: 0.5em 0.2em;

        @include mobile {
            margin: 0 8px;
        }
    }
    &__body {
        border-radius: $BORDER_RADIUS;
        width: 100%;
        padding: 0.8rem 0.4rem;
        color: var(--text-prominent);
        display: flex;

        &-wrapper {
            width: 100%;
        }

        @include mobile {
            padding: 0 8px;

            &-wrapper {
                display: flex;
            }
        }
    }
    &-items-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'stake current-stake'
            'deal-cancel-fee limit-order-info'
            'buy-price limit-order-info';
        grid-gap: 0.8rem 0.4rem;
        flex: 1;
        margin-top: 0.5rem;

        &--mobile {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas:
                'stake current-stake limit-order-info'
                'deal-cancel-fee buy-price limit-order-info';
            grid-gap: 0.8rem 0.4rem;
            flex: 1;
            padding: 0.4rem 0;

            .dc-contract-card-items-wrapper-group {
                .dc-contract-card-item:first-child {
                    margin-bottom: 0.8rem;
                }
            }
        }
        &--has-progress-slider {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas:
                'stake current-stake date-expiry'
                'deal-cancel-fee buy-price date-expiry'
                'limit-order-info limit-order-info date-expiry';

            .dc-contract-card {
                &__limit-order-info {
                    grid-template-columns: 1fr 1fr;
                }
                &__stop-loss {
                    order: unset !important;
                }
            }
        }
    }
    &__profit-loss {
        font-size: 1.2em;
        text-align: center;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-weight: bold;

        &-label {
            font-size: 1em;
            margin-bottom: 4px;
            font-weight: normal;
            white-space: nowrap;
            max-width: 90px;
        }
        &--is-crypto {
            margin-left: -6px;
        }
        &--negative {
            color: var(--text-loss-danger);

            &:before {
                content: '-';
                color: inherit;
            }
        }
        &--positive {
            color: var(--text-profit-success);

            &:before {
                content: '+';
                color: inherit;
            }
        }
    }
    &-item {
        &__header {
            max-width: calc(100% - 2.4rem);
            line-height: 1.4;
        }
        &__body {
            @include typeface(--small-left-bold-black);
            display: flex;
            align-self: flex-start;
            line-height: 1.5;

            &--is-crypto {
                margin-left: -6px;
            }
            @include mobile {
                padding-left: 0.4rem;
            }
        }
        &__body--loss {
            color: var(--text-loss-danger) !important;

            &:before {
                content: '-';
            }
        }
        &__body--profit {
            color: var(--text-profit-success) !important;

            &:before {
                content: '+';
            }
        }
        &__total-profit-loss {
            padding: 0.8rem 0.8rem 0;
            border-top: 1px solid var(--general-section-1);
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 0.8rem;

            .dc-contract-card-item__header,
            .dc-contract-card-item__body {
                font-size: 1.4rem;
                line-height: 2rem;
                align-self: center;
            }
            @include mobile {
                flex-direction: row;
                justify-content: center;
                grid-column: 1 / 4;

                &-value {
                    margin-left: 0.2rem;
                }
            }

            &-label,
            &-value {
                font-size: 1.4rem;
                line-height: 2rem;
            }
        }
    }
    &__sell-button {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.25s ease, opacity 0.25s linear;
        padding-top: 0.4rem;
        margin-top: 0.8rem;
        border-top: 1px solid var(--general-section-1);
        min-height: 4rem;

        &--positions {
            padding: 0.8rem 0;
            margin: 0 0.8rem;
        }
        &--enter-done {
            opacity: 1;
        }
        &--enter,
        &--exit {
            opacity: 0;
            transform: translateY(-8px);
        }
        &--has-cancel-btn {
            justify-content: space-between;
            display: grid;
            grid-template-columns: 1fr 1fr;

            .dc-btn--cancel {
                margin-left: 0.8rem;
                max-width: 10.5rem;
            }
        }
        .dc-remaining-time {
            border-radius: 0.4rem;
            font-size: 1.2rem;
            margin-left: 0.8rem;
        }
        .dc-btn--sell,
        .dc-btn--cancel {
            height: 2.4rem;

            .dc-btn__text {
                font-size: 1.2rem;
            }

            @include mobile {
                height: 3.2rem;
            }
        }
    }
    &__indicative--movement {
        margin-left: 2px;
        width: 16px;
        height: 16px;

        &-complete,
        &-complete:after {
            display: none;
        }
        &:after {
            content: '';
            width: 16px;
        }
    }
    &__status {
        min-width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;

        .result-icon,
        &--accumulator-mobile-positions .dc-result__icon {
            margin-left: 0.4rem;
        }
    }
    &__limit-order-info {
        grid-area: limit-order-info;
        display: grid;
        grid-gap: 0.4rem 0;
        position: relative;

        & .dc-contract-card__stop-loss {
            padding-bottom: 0.4rem;
        }
    }
    &__take-profit {
        position: relative;
    }
    &__buy-price {
        grid-area: buy-price;
    }
    &__deal-cancel-fee {
        grid-area: deal-cancel-fee;
    }
    &__stake {
        grid-area: stake;
    }
    &__date-expiry {
        grid-area: date-expiry;
        .dc-contract-card-item__body {
            justify-content: flex-end;
        }
    }
    &__current-stake {
        grid-area: current-stake;
    }
    &__sell-button-mobile {
        justify-self: center;
        align-self: center;

        .dc-btn--sell {
            height: 3.2rem !important;
        }
    }
    &__no-resale-msg {
        font-size: 1.2rem;
    }
    .contract-audit {
        &__wrapper {
            padding: 2px 0;
            width: 100%;
        }
        &__wrapper--is-open {
            margin-top: 0.5em;
        }
        &__toggle {
            margin: 0 0 -0.5em;
            width: 100%;
        }
        &__label {
            font-size: 0.8em;
            text-align: left;
        }
        &__value {
            font-size: 1em;
            text-align: left;
        }
    }
    .dc-contract-type__type-wrapper {
        width: unset;
        height: unset;
    }
}

/** @define dc-contract-type */
.dc-contract-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-left: -4px;

    &__type-wrapper {
        margin: 0;
        padding: 0.5em 0.3em;
        display: flex;
        justify-content: center;
        align-items: center;

        /* postcss-bem-linter: ignore */
        .category-type {
            width: 20px;
            height: 20px;
        }
    }
    &__type-label {
        width: 3.8em;
        line-height: 1.5;
        text-align: left;

        &-trade-param {
            font-size: 1rem;
            line-height: 1rem;
            color: var(--text-less-prominent);
        }
    }
}

/** @define dc-btn; */
.dc-btn {
    &--sell {
        width: 100%;
    }
}

/** @define dc-remaining-time; weak */
.dc-remaining-time {
    display: inline;
}

/** @define dc-tick-counter-bar; */
.dc-tick-counter-bar {
    &__container {
        grid-column-start: 1;
        grid-column-end: 3;
        position: relative;
        width: 100%;
        padding: unset;
        box-sizing: border-box;
        margin: 0.8rem 0;
        border-bottom: 1px solid var(--general-section-1);

        @include mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-bottom: unset;
            margin: unset;
        }
    }
    &__track {
        height: 1.8rem;
        background: var(--general-section-1);
        border-radius: #{$BORDER_RADIUS};
        position: relative;
        margin-bottom: 0.8rem;
        width: 100%;

        @include mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-bottom: unset;
            margin: 0.2rem 0 0.4rem;
        }
    }
    &__text {
        position: absolute;
        color: var(--status-success);
        width: 100%;
        text-align: center;
    }
}
