.da-api-token {
    @include tablet-up {
        &--app-settings {
            padding: 2.4rem;
        }
    }

    width: 100%;
    max-height: 100%;

    & .dc-timeline__container {
        width: 100%;
    }

    & .dc-table__cell {
        padding: 1.8rem 0;
    }

    & .dc-popover__target {
        display: flex;
    }

    & .dc-dialog__content {
        width: 100%;
        max-width: 100%;
        height: 100%;
    }

    &__wrapper {
        @include mobile {
            flex-direction: column;
        }

        display: flex;
        width: 100%;
        height: 100%;
    }

    &__input-group {
        display: flex;
        margin-top: 2.7rem;
    }

    &__input {
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &__button {
        margin-left: -1px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    &__checkbox-wrapper {
        @include mobile {
            grid-template-columns: 1fr;
        }

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.6rem;
        padding-bottom: 1.1rem;
    }

    &__clipboard-wrapper {
        display: flex;
        gap: 1rem;
        justify-content: flex-start;
        align-items: center;
        height: 2.1rem;
        padding-right: 1.3rem;

        @media screen and (width <= 926px) {
            padding-left: 0;
        }
    }

    &__table {
        width: 100%;

        &-header {
            padding: 2.4rem 0;
            text-align: left;
            white-space: nowrap;

            &-row {
                border-bottom: 2px solid var(--general-section-1);
            }
        }

        &-cell {
            vertical-align: middle;
            padding: 1.6rem 0;

            &-row {
                border-bottom: 1px solid var(--general-section-1);
            }

            &--name {
                max-width: 15rem;
                padding-right: 1.3rem;

                > .dc-text {
                    word-break: break-all;
                }
            }
        }

        &-scopes-cell-block {
            display: flex;
            flex-wrap: wrap;
            gap: 0.4rem;
            max-width: 22rem;
            margin-right: 1rem;

            @media screen and (width <= 926px) {
                margin-top: 0.4rem;
            }
        }

        &-scope-cell {
            padding: 0.8rem 0.4rem;
            border: 0.1rem solid $color-grey-5;
            border-radius: 0.4rem;

            &-admin {
                border: 0.1rem solid $COLOR_GREEN_5;
                color: $COLOR_GREEN_5;
            }
        }
    }

    &__timeline {
        @include mobile {
            margin: 1.2rem;
        }

        padding: 0 1.4rem 1.6rem;
    }

    &__portal-footer {
        padding: 0 2.4rem;
    }

    &__scope {
        margin-bottom: 1.6rem;
        padding: 0.8rem;
        background-color: var(--general-section-1);

        &-item {
            display: grid;
            grid-template-columns: 1.5fr 0.5fr;
            margin-bottom: 0.8rem;

            &--name {
                word-break: break-all;
            }

            > div {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__scrollbars {
        flex: 1;
        width: 100%;
        height: 100%;
    }

    &__visibility-icon {
        height: 100%;
        cursor: pointer;
    }

    &__delete-icon {
        margin: 0 1.6rem;

        @media screen and (width <= 926px) {
            margin-top: calc(50% - 3.3rem);
        }
    }

    &__bullet {
        flex: none;
        width: 0.6rem;
        height: 0.6rem;
        margin-top: 0.65rem;
        margin-right: 0.8rem;
        border-radius: 100%;
        background-color: var(--text-prominent);

        &-wrapper {
            display: flex;
            margin-bottom: 1.1rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-container {
            margin-top: 1.6rem;
            margin-left: 1rem;
        }
    }

    &__modal-title {
        margin-bottom: 2.4rem;
    }

    &__modal-footer {
        padding: 0 2.4rem 2.4rem !important;
    }

    &__pass-dot {
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 100%;
        background-color: var(--text-prominent);

        &-container {
            display: flex;
            gap: 0.4rem;
        }
    }
}
