@mixin ad-status-base {
    border-radius: 1.6rem;
    padding: 0.2rem 1.6rem;
    text-align: center;
    width: 8.8rem;
}

.ad-status {
    &--active {
        @include ad-status-base;
        background: rgba(75, 180, 179, 0.16);

        @include mobile {
            margin-bottom: 0.8rem;
            padding: 0.2rem 1rem;
        }
    }

    &--inactive {
        @include ad-status-base;
        background: rgba(236, 63, 63, 0.16);
        display: flex;
        justify-content: center;

        @include mobile {
            margin-bottom: 0.8rem;
        }
    }
}
