.ad-status {
    &--active {
        background: rgba(75, 180, 179, 0.16);
        border-radius: 1.6rem;
        padding: 0.2rem 1.6rem;
        text-align: center;
        width: 7.4rem;
    }

    &--inactive {
        background: rgba(236, 63, 63, 0.16);
        border-radius: 1.6rem;
        padding: 0.1rem 1.2rem;
        text-align: center;
        width: 8.8rem;
    }
}
