.ad-type {
    @include mobile {
        justify-content: flex-end;
    }

    display: flex;
    flex-direction: row;
    align-items: center;

    &__badge {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: fit-content;
        margin: 0.3rem 0.5rem 0.3rem 0;
        padding: 0.1rem 0.8rem;
        border: 1px solid var(--border-normal);
        border-radius: 0.4rem;
    }
}
