@mixin popoverIcons($background-color, $height, $width) {
    align-items: center;
    background-color: $background-color;
    cursor: pointer;
    display: flex;
    height: $height;
    justify-content: center;
    width: $width;
}

.p2p-my-ads {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    @include mobile {
        .page-return {
            border-bottom: 2px solid var(--general-section-1);
            margin: 0;
            padding: 1.6rem;
        }

        .dc-list {
            margin-left: 1vw;
            width: 88vw;

            &__item {
                padding-top: 0.4rem;
            }
        }
        .dc-mobile-full-page-modal {
            opacity: 1 !important;
        }
    }

    .dc-input__wrapper {
        max-width: 67.2rem; // TODO: Kill these fixed widths.
        margin-top: 2.1rem;

        @include mobile {
            max-width: 90vw;

            .p2p-my-ads__form-field {
                margin-bottom: 0;
            }
        }
    }

    &__header {
        display: flex;
        align-items: center;
        margin: 1.6rem 0;
        justify-content: space-between;
        min-height: 50px;

        @include mobile {
            border-bottom: 1px solid var(--general-section-1);
            justify-content: flex-end;
            margin: unset;
        }
    }

    &__info {
        @include mobile {
            padding: 1rem 0;
        }
    }

    &__form {
        @include mobile {
            .dc-input__footer {
                justify-content: space-between;
                width: 86vw;
            }

            .dc-input__hint--relative {
                margin-left: unset;
            }
        }

        &-label {
            &--focused {
                color: var(--text-prominent);
                background-color: var(--general-main-1);
            }
        }

        &-payment-methods {
            &--empty {
                max-width: 67.2rem;
                padding: 1.2rem 0;
            }

            &--text {
                display: flex;
                flex-direction: column;
                margin-top: 3.2rem;
                padding-bottom: 1rem;
            }
        }

        &-radio-group {
            display: flex;
            margin-top: unset;
            padding-bottom: 1.2rem;

            .dc-radio-group__circle {
                border: 2px solid var(--border-hover);

                &--selected {
                    border: 4px solid var(--brand-red-coral);
                }
            }

            @include mobile {
                padding: 0.5rem 0;
            }
        }

        &-summary {
            color: var(--text-less-prominent);
            font-size: 1.4rem;
            margin-bottom: 0.6rem;

            @include mobile {
                margin: 0.6rem 0;
            }
        }
        &-scrollbar {
            height: calc(100% - 2.4rem - 9.2rem);
            position: absolute;
            width: calc(100% - 4.8rem);

            .dc-input {
                max-width: 67.2rem;
            }

            &-container {
                @include mobile {
                    width: 90vw;
                    margin: 0 1.6rem;

                    .dc-input {
                        &__wrapper {
                            margin-top: 2.1rem;
                        }
                        &__hint {
                            margin-top: 0;
                        }
                    }
                }
            }

            @include mobile {
                height: fit-content;
                position: unset;
                width: 100%;
            }
        }
        &-container {
            display: flex;
            height: 8rem;
            justify-content: space-between;
            width: 67.2rem;

            .dc-input {
                margin-bottom: 2.1rem;
                margin-top: 2.1rem;

                &__container {
                    padding: 0 1rem;
                }
                &--hint {
                    margin-bottom: 0;
                }
                &__wrapper {
                    margin-top: 0;
                }
            }

            @include mobile {
                flex-direction: column;
                height: unset;
                width: unset;

                .dc-input {
                    &__wrapper {
                        margin-bottom: 5rem;
                    }
                }
            }
        }
        &-field {
            height: 4rem;
            margin-bottom: 0;
            margin-left: 0;
            width: 32.4rem;

            @include mobile {
                width: inherit;
            }

            &--contact-details {
                margin-bottom: 5.9rem;

                @include mobile {
                    margin-bottom: 3.7rem;
                }
            }
            &--single {
                width: 18.9rem;
            }
            &--textarea {
                height: 9.6rem;
                margin-bottom: 0;
                width: 67.2rem;

                @include mobile {
                    height: 9.8rem;
                    width: 90vw;
                }

                .dc-input {
                    &__hint {
                        top: 9.7rem;
                    }
                    &___counter {
                        top: 9.7rem;
                        right: 0rem;

                        @include mobile {
                            display: flex;
                            right: 0;
                        }
                    }
                    &__textarea {
                        padding-top: 1rem;
                        padding-left: 0;
                    }
                    &__container {
                        height: 9.6rem;
                    }
                }
            }
        }
        &-button {
            margin-left: 0.8rem;
        }
        &-footer {
            align-items: center;
            background-color: var(--general-main-1);
            display: flex;
            justify-content: flex-end;

            @include mobile {
                border-top: 2px solid var(--general-section-1);
                flex-direction: row;
                padding: 1.6rem;
                width: 100vw;
            }
        }
    }

    &__modal {
        &-body {
            display: flex;
            flex-direction: column;
            padding: 1rem 1.6rem 0;
            width: 100vw;

            &--form {
                padding: 1rem 0 0;
            }

            &--scroll {
                overflow: auto;
                padding: 1rem 0 0;
            }

            &--horizontal {
                padding-right: 0rem;
            }
        }
        &-form {
            height: fit-content !important;
        }
    }

    &__table {
        display: flex;
        flex: 1;
        flex-direction: column;

        &-add {
            align-items: center;
            border: 1px solid var(--border-normal);
            border-radius: 4px;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            padding: 0.3rem 0.5rem;

            &--disabled {
                cursor: not-allowed;
            }
        }

        &-body {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        &__payment-method {
            display: flex;
            flex-wrap: wrap;

            &--label {
                align-items: center;
                border-radius: 0.4rem;
                border: 1px solid var(--border-normal);
                display: flex;
                flex-direction: row;
                margin: 0.25rem;
                padding: 0 0.8rem;
                width: fit-content;

                @include mobile {
                    height: 2.4rem;
                    margin: 0.25rem 0.5rem 0.25rem 0;
                }
            }
        }

        &-price {
            color: var(--text-profit-success);
            font-weight: bold;

            .display-layout {
                display: flex;
                flex-direction: column;
            }
        }
        &-popovers {
            background-color: var(--general-main-1);
            display: flex;
            height: 99%;
            justify-content: center;
            min-width: 14rem;
            padding: 1.6rem;
            position: absolute;
            right: 0;
            top: 0;

            &--disable {
                cursor: not-allowed !important;

                @include mobile {
                    background-color: var(--checkbox-disabled-grey) !important;
                }
            }

            @include mobile {
                display: flex;
                justify-content: unset;
            }

            div {
                margin: auto;
            }

            &__activate {
                @include popoverIcons(none, 3.2rem, 3.2rem);

                @include desktop {
                    &:hover {
                        background-color: var(--general-hover);
                    }
                }

                @include mobile {
                    @include popoverIcons(var(--status-warning), 100%, 6rem);
                }
            }

            &__deactivate {
                @include popoverIcons(none, 3.2rem, 3.2rem);

                @include desktop {
                    &:hover {
                        background-color: var(--general-hover);
                    }
                }

                @include mobile {
                    @include popoverIcons(#85acb0, 100%, 6rem);
                }
            }

            &__delete {
                @include popoverIcons(none, 3.2rem, 3.2rem);

                @include desktop {
                    &:hover {
                        background-color: var(--general-hover);
                    }
                }

                @include mobile {
                    @include popoverIcons(var(--brand-red-coral), 100%, 6rem);
                }
            }

            &__edit {
                @include popoverIcons(none, 3.2rem, 3.2rem);

                @include desktop {
                    &:hover {
                        background-color: var(--general-hover);
                    }
                }

                @include mobile {
                    @include popoverIcons(var(--status-info), 100%, 6rem);
                }
            }
        }
        &-available {
            align-items: flex-start;
            flex-flow: column;
            justify-content: center;
            width: 85%;

            &-progress {
                margin-bottom: 0.4rem;

                @include mobile {
                    margin: 0.4rem 0;
                }
            }
        }
        &-row {
            padding: 1.6rem;
            grid-template-columns: 1.7fr repeat(2, 2fr) repeat(2, 2.3fr) 1.5fr;

            .dc-table__cell:last-child {
                word-break: unset;
            }

            @include mobile {
                grid-template-columns: unset;
                padding: 1.6rem;
                width: 100%;
            }

            &__type-and-status {
                display: flex;
                justify-content: space-between;
                margin-bottom: 0.8rem;
            }

            &-details {
                display: flex;
                justify-content: space-between;
            }

            &-disabled {
                .dc-table__cell {
                    color: var(--text-disabled);
                }

                .dc-progress-indicator {
                    &__container {
                        background-color: var(--general-section-1);
                    }
                    &__bar {
                        background-color: var(--general-disabled);
                    }
                }

                .dc-text {
                    &:not(.ad-status--inactive) {
                        color: var(--text-disabled);
                    }
                }
            }

            &-methods {
                display: flex;
                flex-wrap: wrap;
            }
        }

        &-status {
            width: 100%;

            &-warning {
                align-items: center;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;

                @include mobile {
                    align-items: center;
                    display: flex;
                    justify-content: unset;
                    width: unset;
                    gap: 1rem;
                }
            }
        }

        &--disabled {
            .dc-table__cell {
                color: var(--text-disabled);
            }

            .dc-progress-indicator {
                &__container {
                    background-color: var(--general-section-1);
                }
                &__bar {
                    background-color: var(--general-disabled);
                }
            }
        }
    }

    &__popup {
        &-header {
            border-bottom: 1px solid var(--general-section-2);

            &_wrapper {
                padding: 1.6rem 2.4rem;
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: space-between;
                box-sizing: border-box;
            }
            &_right {
                justify-content: flex-end;
                padding: 2.8rem 2.4rem 0;
            }
            &--title {
                font-weight: bold;
                color: var(--text-prominent);

                &:first-letter {
                    text-transform: uppercase;
                }
            }
            &--no-border {
                border: none;
            }
        }
        &-content {
            padding: 2.4rem;

            &_centre {
                padding: 0 8rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            &--title {
                color: var(--text-general);
                font-size: var(--text-size-s);
                font-weight: bold;
                margin: 1.4rem 0 0.8rem;
            }
            &--text {
                color: var(--text-general);
                font-size: var(--text-size-xs);
                margin-bottom: 1.6rem;
            }
        }
        &-field {
            margin-bottom: 0 !important;
            flex: 1;

            &:not(:first-child) {
                margin-left: 2.4rem;
            }
            &_wrapper {
                display: flex;
                margin-bottom: 1.6rem;
                align-items: center;
            }
            &--textarea {
                margin-top: 4.3rem;
                margin-bottom: 4.3rem;

                .dc-input__hint {
                    top: 9.7rem;
                }
                .dc-input__counter {
                    top: 9.7rem;
                    right: 0rem;
                }
            }
            &--icon {
                width: 3.66rem;
                margin: 0 1.6rem;
                transform: rotate(180deg);
            }
            &--trailing {
                font-size: var(--text-size-xxs);
                color: var(--text-less-prominent);
            }
        }
        &-info {
            margin-bottom: 1.6rem;

            &_notes {
                margin-bottom: 2rem;
            }
            &--title {
                color: var(--text-less-prominent);
                font-size: var(--text-size-xxs);
            }
            &--text {
                color: var(--text-general);
                font-size: var(--text-size-xs);
                word-break: break-word;
            }
            &--strong {
                font-weight: bold;
            }
        }
        &-footer {
            min-height: 7.2rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0 2.4rem;
            border-top: 1px solid var(--general-section-2);
        }
        &-close_icon {
            cursor: pointer;
            fill: var(--text-general);
        }
    }

    &__empty {
        width: fit-content;
        margin: 0 auto;
        transform: translateX(-25%);
        text-align: center;

        &--pending {
            transform: translateX(-30%);
        }
        &-button {
            width: auto;
            height: 40px;
        }
    }

    &--border {
        .dc-input__container {
            border: 1px dashed var(--border-normal);
        }
    }

    &__state {
        text-align: center;
        margin: 0 auto;

        &-button {
            margin-top: 12px;
        }
    }
    &__create {
        margin: 1.6rem;
        width: 90vw;

        &-container {
            border-top: 2px solid var(--general-section-1);
        }
    }
    &__data-list {
        flex: 1;

        &__data-list-body {
            flex: 1;
        }

        .data-list__body-wrapper {
            flex: 1;
        }
    }

    &__page-return {
        border-bottom: 2px solid var(--general-section-1);
        margin: unset;
        padding: 0 2rem 1.6rem;
    }

    &__warning {
        margin-top: 1.6rem;
        width: fit-content;

        @include mobile {
            margin: 1rem 2rem;

            .dc-hint-box {
                align-items: normal;

                &__icon {
                    width: 3.5rem;
                    align-items: flex-start;
                }
            }
        }
    }

    .toggle-ads {
        display: flex;
        align-items: center;
        font-size: var(--text-size-s);
        justify-items: flex-start;

        &__message {
            margin-right: 1.6rem;
        }
        &--on {
            color: var(--text-profit-success);
        }
        &--off {
            color: var(--text-less-prominent);
        }
    }

    &__expand-button {
        vertical-align: unset;
        border-radius: unset;
        height: unset;
    }
}

.p2p-my-ads__modal-error {
    &--form {
        height: fit-content !important;
    }
    .dc-modal-header__title--p2p-my-ads__modal-error {
        padding: 2.4rem 2.4rem 0 !important;
    }
    .dc-modal__container_p2p-my-ads__modal-error {
        .dc-modal-footer {
            padding-top: 0 !important;
        }

        .dc-modal-header {
            padding-bottom: 1rem;
        }
    }
}

.edit-ad__offer-amt {
    .dc-input__label {
        color: var(--text-general);
        -webkit-text-fill-color: var(--text-general);
    }

    .dc-input__field:disabled {
        color: var(--text-less-prominent);
        -webkit-text-fill-color: var(--text-less-prominent);
    }
}

.dc-modal__container_switch-ads {
    @include mobile {
        min-width: 328px !important;
    }
}
.p2p-my-ads__modal-icon {
    margin-right: 0.8rem;
}
