.quick-add-modal {
    &__add-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px dashed var(--border-normal);
        padding: 1rem;
        border-radius: 0.5rem;
    }

    &--body {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
    }

    &--button {
        margin-left: 0.5rem;
    }

    &__checkbox-container {
        height: 36rem;

        .dc-checkbox {
            @include mobile {
                padding: 2rem 0.8rem;
            }
        }
    }

    &--page-return {
        height: 0;
    }

    &__icon {
        margin-right: 1rem;
    }

    &--input {
        margin-bottom: 2rem;

        & .dc-input__field {
            padding-left: 3rem;
        }

        & .dc-input__leading-icon {
            top: auto;
        }

        &::placeholder {
            padding-left: 3rem;
        }
    }

    &--text {
        display: flex;
    }

    &--message {
        margin-top: 1rem;
    }
}

h3.dc-text.dc-modal-header__title.dc-modal-header__title--quick-add-modal {
    padding: 0 2.5rem;
}

div.dc-modal-header.dc-modal-header--quick-add-modal {
    border-bottom: 2px solid var(--general-section-1);
    height: 6rem;
}
