.quick-add-modal {
    &--body {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
    }

    &--button {
        margin-left: 0.5rem;
    }

    &--input {
        padding: 0 2rem;
    }

    &--text {
        display: flex;
    }
}
