@import '../../../../styles/mixins.scss';

.dc-modal {
    $save-modal: 'modal--save';

    &__container {
        &_#{$save-modal} {
            min-width: 320px !important;

            .modal__content {
                padding: 16px 24px;
            }

            .modal__footer {
                text-align: right;
                border-top: 2px solid var(--general-section-2);

                &--button {
                    margin: 1.4rem 1.6rem 1.4rem 0;
                    display: inline-block;
                }
            }

            .modal__content-row {
                @include flex-center;
            }

            & form {
                height: 445px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
            }
        }
    }
}

// TODO: [fix-dc-bundle] Fix import issue with Deriv Component stylesheets (app should take precedence, and not repeat)
div.radio-group {
    &__save-type {
        display: flex;
        justify-content: center;
        margin: 8% 0px;

        .dc-radio {
            &-group {
                &__item {
                    display: flex;
                    flex-direction: column;
                    padding: 24px;
                    width: 128px;
                    border-radius: 4px;

                    &--selected {
                        border: solid 1px #85acb0;

                        & .save-type__radio-text {
                            font-weight: 700;
                        }
                    }

                    &-disabled {
                        .save-type__text {
                            color: var(--general-disabled) !important;
                        }

                        .dc-radio-group__circle {
                            border-color: var(--general-disabled) !important;
                        }
                    }
                }

                &__circle {
                    display: none;
                }

                &__label {
                    align-self: center;
                }
            }
        }
    }
}

.save-type {
    &__container {
        text-align: center;
    }

    &__input {
        // TODO: [fix-dc-bundle] Fix import issue with Deriv Component stylesheets (app should take precedence, and not repeat)
        margin: 2rem 0 0 !important;
    }

    &__radio {
        text-align: center;
    }

    &__radio-text {
        letter-spacing: normal;
    }

    &__drive-status {
        cursor: pointer;
        position: absolute;
        margin-top: 5px;
        width: 71px;
    }

    &__icon {
        &--disabled {
            opacity: 0.32;
        }
    }
}

.save-modal__wrapper {
    position: fixed;
    top: 40px;
    z-index: 10;

    @include mobile-or-tablet-screen {
        form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

        & .dc-input {
            width: 100% !important;
            margin: 3rem 0 0 !important;
        }

        & .dc-radio-group__item {
            width: calc(50vw - 24px) !important;
            height: 35vw;
        }

        & .save-type__drive-status {
            position: relative;
        }

        & .modal__content {
            padding: 3rem 1.6rem;
            height: calc(100% - #{$MOBILE_WRAPPER_FOOTER_HEIGHT});
        }

        & .modal__footer {
            position: fixed;
            bottom: 0px;
            left: 0px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding: 1.4rem;
            height: #{$MOBILE_WRAPPER_FOOTER_HEIGHT};
            border-top: solid 0.1em var(--general-section-1);
            width: 100%;

            &--active-keyboard {
                margin-top: 1.6rem;
                position: relative;
                display: block;
                left: unset;
                bottom: unset;
            }

            &--button {
                float: right;
                margin-left: 0.8rem;
                height: 4rem;
            }
        }
    }
}
