.dc-modal-header.dc-modal-header--wallets-migration-modal {
    display: none;
}

.dc-modal__container_wallets-migration-modal .dc-modal-footer {
    padding: 2.4rem 3.2rem;
}

.wallets-migration-modal__text-container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.wallets-migration-modal__button {
    border: 1px solid var(--button-primary-default);
    background: transparent;
}

.wallets-migration-modal__carousel {
    width: 100%;
    height: 100%;
    padding: 0 3.2rem;
}

.wallets-migration-modal__video-container {
    padding-bottom: 2.4rem;
    text-align: center;
}

.wallets-migration-modal__slide {
    padding-bottom: 2.4rem;
    margin-top: auto;
}

.dc-modal-header .dc-modal-header--wallets-migration-modal {
    display: none;
}
