/*------------------------------------*
 *  # Typography
 *  - Indrek Pass also has a fantastic mixin here: http://sassmeister.com/gist/7f22e44ace49b5124eec
 *------------------------------------*/

@at-root {
    //@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin,vietnamese,cyrillic-ext,latin-ext,cyrillic');
}

/*
    Constants
*/
$FONT_STACK: roboto, sans-serif;
$BASE_FONT_SIZE: 10px;

/*
    Variables
*/
$FONT_SIZES: (
    'heading'   em(30px),
    'large'     em(28px),
    'title'     em(16px),
    'paragraph' em(14px),
    'small'     em(12px),
    'xsmall'    em(10px),
    'xxsmall'   em(8px),
    'xxxsmall'  em(6px),
);

$FONT_COLORS: (
    'active'   $COLOR_WHITE,
    'black'    $COLOR_LIGHT_BLACK_1,
    'grey'     $COLOR_LIGHT_BLACK_2,
    'disabled' $COLOR_LIGHT_BLACK_3,
    'green'    $COLOR_GREEN_1,
    'red'      $COLOR_RED,
    'orange'   $COLOR_ORANGE,
);

$FONT_WEIGHTS: (
    'bold'     700,
    'semibold' 500,
    'normal'   400,
    'light'    300,
);

$TEXT_ALIGN: (
    'center' center,
    'left'   left,
    'right'  right,
);

$LINEHEIGHTS: (
    'large' : 1.75,
    'medium': 1.5,
    'small' : 1.25,
);

/*
    List of all typefaces variables in the format: --$FONT_SIZES-$TEXT_ALIGN-$FONT_WEIGHTS-COLORS.
    See $FONT_SIZES, $TEXT_ALIGN, $FONT_WEIGHTS, $COLORS maps above for references.
    Variables name example: --title-center-semibold-red
 */
$TYPEFACES_LIST: generate-typefaces();

/*
    Typography
*/
/* postcss-bem-linter: ignore */
html {
    font-size: 62.5%; // Set root font size to 10px (1rem) to convert units in base 10

    /** TODO: define breakpoints */
    // @include breakpoints(big-desktop) {
    //     font-size: 75.5%; /* 1rem = 12px */
    // }
    // @include breakpoints(tab-land) {
    //     font-size: 50%; /* 1rem = 8px */
    // }
    // @include breakpoints(tab-port) {
    //     font-size: 47%; /* 1rem = 7.5px */
    // }
    // @include breakpoints(phone-xl) {
    //     font-size: 38%; /* 1rem = 6px */
    // }
    // @include breakpoints(phone-lg) {
    //     font-size: 35%; /* 1rem = 5.5px */
    // }
}

/** @define body */
.body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* postcss-bem-linter: ignore */
*, html, .body {
    font-family: $FONT_STACK;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    box-sizing: border-box;
}

// Forms
/** @define select */
.select {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    padding: 2px 3px;
    border: 1px solid $COLOR_LIGHT_BLACK_4;
    border-radius: $BORDER_RADIUS;
}

/** @define input */
.input {
    font-family: inherit;
    font-style: inherit;
    padding: 2px 3px;
    @include themify($themes) {
        color: themed('text_color');
    }
}

// Placeholders
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $COLOR_LIGHT_BLACK_3;
}

::-moz-placeholder { /* Firefox 19+ */
    color: $COLOR_LIGHT_BLACK_3;
}

:-ms-input-placeholder { /* IE 10+ */
    color: $COLOR_LIGHT_BLACK_3;
}

:-moz-placeholder { /* Firefox 18- */
    color: $COLOR_LIGHT_BLACK_3;
}

// .sidebar-container {
//     .contracts-popup-container {
//         &.desktop-only {
//             span {
//                 @include interpolate(font-size, 320px, 1440px, 11px, 14px);
//             }
//         }
//     }
// }

/* Multiple properties with same values */
// h1, h2, h3, h4, h5 {
//     @include interpolate((padding-top, padding-bottom), 20rem, 70rem, 0rem, 0.5rem);
// }
