.dc-modal__container_email-verification-modal {
    max-height: 80vh;
    overflow: auto;
}

.email-verification-modal {
    &__body {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    &__email_text {
        margin: 2.4rem 0;
    }

    &__footer {
        @include mobile {
            justify-content: center;
        }
    }

    &__reason {
        display: flex;
        flex-direction: row;
        gap: 1.6rem;
        margin: 2.4rem 0;

        &__text {
            max-width: 34rem;
        }
    }

    &__receive_email_text {
        cursor: pointer;
        margin: 3rem 0 0.6rem;

        @include mobile {
            margin: 3rem 0 2.6rem;
        }
    }
}
