.dw-indices {
    margin-top: 4rem;

    &__container {
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
    }
    &__pair-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 2.4rem;
        margin-top: 2.4rem;
    }
    &__indice {
        display: flex;

        &-icon {
            margin-right: 0.8rem;
        }
    }
    &__line {
        width: 93.6rem;
        height: 1px;
        border: 1px solid var(--general-section-1);
        margin-top: 4rem;
        margin-bottom: 0;
    }
}
