.my-profile-balance {
    &__amount {
        margin-right: 0.8rem;
    }

    &--column {
        flex-direction: column;
    }

    &--icon {
        cursor: pointer;
        margin-left: 0.5rem;
    }

    &--row {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
