.my-profile-balance {
    &__amount {
        margin-right: 0.8rem;
    }

    &__modal {
        &-body {
            padding: 1rem 2.4rem;

            @include mobile {
                padding: 0 1.6rem;
            }
        }
    }

    &--column {
        flex-direction: column;
    }

    &--icon {
        cursor: pointer;
        margin-left: 0.5rem;
    }

    &--row {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
