.add-options-account {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 1.1rem;
    background: var(--general-section-1);
    border-radius: 0.5rem;
    margin: 0 auto;
    margin-top: 1.6rem;
    width: 85%;
    &__desktop {
        &--title {
            padding: 1.5rem;
        }
    }
}
