.filter-modal-search {
    @include mobile {
        min-width: 25rem;
        margin: 0.8rem 1.6rem 1rem;

        .dc-input {
            height: 4rem;
        }
    }

    border-bottom: 1px solid var(--border-normal);

    @media (width <= 320px) {
        width: 14rem;
    }

    .dc-input {
        height: 5.2rem;
        border: unset;
    }

    &__cross-icon {
        cursor: pointer;
    }

    &__field {
        margin-bottom: 0 !important;

        .dc-input {
            justify-content: center;

            &__container {
                height: 6rem;
                padding: 0;
                border: none;
            }

            &__field {
                @include mobile {
                    padding: 0 2.8rem 0 0.4rem;
                }

                flex-grow: 1;
                width: unset;
                height: 4rem;
                margin-left: 1.2rem;
                padding-right: 3rem;
            }

            &__leading-icon {
                position: unset;
                margin-left: 0.8rem;
                cursor: pointer;
                pointer-events: unset;
            }
        }
    }
}
