.mt5-download-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 2.4rem;

    &--option {
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px;
        gap: 8px;
        border-radius: 8px;
        background-color: #f2f3f4;
        p {
            flex: 1;
        }
    }

    .blue {
        background-color: #0364b9;
        p {
            color: #fff;
        }
    }

    .help-center-link {
        color: #000;
        font-weight: bold;
    }
}
