.vertical-divider {
    width: 1px;
    height: 32px;
    background-color: $COLOR_LIGHT_GRAY_6;
}

.horizontal-divider {
    height: 1px;
    width: 100%;
    background-color: $COLOR_LIGHT_GRAY_6;
}
