$initial-color: var(--system-light-6-hover-background, #e6e9e9);
$danger-color: var(--status-light-danger, #ec3f3f);
$success-color: var(--status-light-success, #4bb4b3);

$meter-colors: (
    initial: $initial-color,
    weak: $danger-color,
    moderate: $danger-color,
    strong: $success-color,
    complete: $success-color,
);

$meter-widths: (
    initial: 0%,
    weak: 25%,
    moderate: 50%,
    strong: 75%,
    complete: 100%,
);

.wallets-password {
    position: relative;
    width: 100%;
    background-color: var(--system-light-8-primary-background, #fff);
    z-index: 1;

    &__meter {
        position: absolute;
        top: 3.5rem;
        width: 100%;
        height: 0.4rem;
        transition: width 0.2s;
        background-color: map-get($meter-colors, initial);
        border-radius: 0 0 1.6rem 1.6rem;
        z-index: -1;

        @each $key, $color in $meter-colors {
            &--#{$key} {
                background-color: $color;
                width: map-get($meter-widths, $key);
                height: 0.4rem;
                border-radius: 1.6rem;
                transition: width 0.3s;
                z-index: 2;
            }
        }
    }

    .wallets-icon-button {
        &:hover {
            background-color: inherit;
        }
    }
}
