.account-switcher-wallet-mobile {
    &__selected-wallet {
        background-color: var(--general-active);
        margin: 1rem;
        border-radius: $BORDER_RADIUS;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 4rem;
        gap: 1rem;

        &__content {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
        }

        &__button {
            width: 100%;
        }
    }
}
