.wallets-upgrade-modal {
    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3.2rem;
        min-width: 61.6rem;
        padding-inline: 8rem;
        padding-block-start: calc(
            5.4rem + 3.2rem
        ); // 5.4rem is the height of the header, 3.2rem is the padding-top of the content
        padding-block-end: 3.2rem;

        @include mobile-screen {
            gap: 1.6rem;
            min-width: 28.8rem;
            padding-block-start: 4.8rem;
            padding-block-end: 1.6rem;
            padding-inline: 2rem;
        }

        @include tablet-screen {
            gap: 1.6rem;
            min-width: 40rem;
            padding-block-start: 4.8rem;
            padding-block-end: 1.6rem;
            padding-inline: 2rem;
        }
    }

    &__media-container {
        width: 56rem;
        height: 100%;
        min-height: 30rem;
        filter: drop-shadow(0px 4px 6px rgba(14, 14, 14, 0.03)) drop-shadow(0px 12px 16px rgba(14, 14, 14, 0.08));

        @include mobile-screen {
            width: 28rem;
            min-height: 16rem;
        }

        @include tablet-screen {
            width: 38.6rem;
            min-height: 22.2rem;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
    }

    &__disclaimer {
        width: 100%;
        &-message {
            line-height: 2.2rem;
        }
    }

    &__footer {
        &--mobile {
            text-align: center;
            padding-bottom: 1.6rem;
        }
        &--desktop {
            border-top: 1px solid var(--border-normal);
            padding: 1.6rem 2.4rem;
            display: flex;
            justify-content: flex-end;
        }
    }
}

.dc-modal__container_wallets-upgrade-modal {
    border-radius: 0.8rem;

    &.dc-modal-header {
        padding-bottom: 3.2rem;
    }

    & .dc-modal-body {
        padding: 0;
        overflow: scroll;
    }
}

.dc-modal-header--wallets-upgrade-modal {
    z-index: 10;
    position: absolute;
}
