.crypto-withdraw-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
    padding-top: 2.4rem;

    &__submit {
        @include desktop {
            width: fit-content;
            min-width: 36rem;
        }

        @include mobile {
            align-items: flex-end;
        }

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        margin: 2rem auto 0;

        > * {
            width: auto;
        }
    }

    &__icon {
        margin: 2.4rem 0 0.4rem;
    }

    &__percentage {
        &-container {
            @include mobile {
                margin-top: 0;
            }

            margin-top: 2.4rem;
        }

        &-selector {
            @include mobile {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
            }

            width: fit-content;
            margin-bottom: 1.6rem;
        }
    }
}
