.my-profile-stats-table {
    border-bottom: none;
    grid-template-columns: repeat(4, 1fr);
    margin: 1.4rem 0;

    &.dc-table__row {
        height: unset;
    }

    &__cell {
        align-items: flex-start;
        border-right: 1px solid var(--general-section-2);
        display: flex;
        flex-direction: column;
        white-space: nowrap;

        &:last-child {
            border-right: none;
        }

        & + & {
            padding: 0 2.4rem;

            @include mobile {
                padding: 0.4rem 1.6rem;
            }
        }

        &:first-child {
            padding-right: 4rem;

            @include mobile {
                padding-right: 1.6rem;
                padding-top: 0.4rem;
                padding-bottom: 0.4rem;
            }
        }
    }

    &--italic {
        font-style: italic;
    }

    &--mobile {
        border-bottom: none;
        grid-template-columns: repeat(2, 1fr);
        height: 6.8rem;
        padding: 1.6rem;
        width: 100vw;
    }

    &--pointer {
        cursor: pointer;
        font-style: italic;
    }

    &--second {
        grid-template-columns: repeat(3, 1fr);
    }
}
