.buy-sell__modal {
    opacity: 1 !important;

    @include mobile {
        .dc-mobile-full-page-modal__header--border-bottom {
            border-bottom: 2px solid var(--general-section-1);
        }
    }

    &-body {
        position: relative;
        display: block;
        padding-top: 2.4rem;

        @include mobile {
            & > form {
                height: fit-content !important;
            }
        }
    }

    &-danger {
        margin-bottom: 1.6rem;
        width: fit-content;
        align-items: flex-start;
    }

    &-form {
        height: fit-content !important;
    }

    &-footer {
        @include mobile {
            border-top: 2px solid var(--general-section-1);
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-top: auto;
            padding: 1.6rem;
        }
    }

    &-icon {
        margin-right: 0.8rem;
    }

    &--layout {
        padding: unset;
    }

    &--error-message {
        padding: 0 2.4rem;
    }
}

.dc-modal__container_buy-sell__modal {
    .dc-modal-header--buy-sell__modal {
        border-bottom: 2px solid var(--general-section-5);
    }

    .dc-modal-footer--separator {
        margin-top: 1rem;
        border-top: 2px solid var(--general-section-5);
    }
}
