.total-assets {
    display: flex;

    &-amount {
        color: var(--text-profit-success);
    }

    &-no-amount {
        color: var(--general-section-2);
    }

    &-currency {
        margin-left: 0.4rem;
        color: var(--text-profit-success);
    }

    &-real {
        color: var(--text-profit-success);
    }

    &-demo {
        color: var(--text-profit-success);
    }

    &-no-currency {
        margin-left: 0.4rem;
        color: var(--general-section-2);
    }

    &-tooltip {
        margin-left: 0.8rem;
        &--msg {
            font-size: var(--text-size-xxs);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0.8rem;
            width: 27.6rem;
            border-radius: $BORDER_RADIUS;
        }
    }
}
