.wallets-transactions-no-data-state {
    display: flex;
    padding-block: 24px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    &__title {
        color: var(--system-light-1-prominent-text, #333);
        text-align: center;

        /* desktop/paragraph/P1 - bold */
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 150% */
    }

    &__description {
        color: var(--system-light-3-less-prominent-text, #999);
        text-align: center;

        /* desktop/paragraph/P2 - regular */
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 24px;

        &__transfer {
            all: unset;
            cursor: pointer;
            border-radius: 4px;
            border: 2px solid var(--system-light-3-less-prominent-text, #999);
            padding: 10px 16px;
            color: var(--system-light-1-prominent-text, #333);
            text-align: center;

            /* desktop/paragraph/P2 - bold */
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px; /* 142.857% */
        }

        &__deposit {
            all: unset;
            cursor: pointer;
            border-radius: 4px;
            border: 2px solid var(--button-primary-default, #ff444f);
            background: var(--button-primary-default, #ff444f);
            padding: 10px 16px;
            color: var(--system-dark-1-prominent-text, #fff);
            text-align: center;

            /* desktop/paragraph/P2 - bold */
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px; /* 142.857% */
        }
    }
}
