.trading-app-card {
    display: inline-flex;
    align-items: center;
    height: 8.8rem;

    &__details {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        margin-left: 1.6rem;
        padding: 0 2rem 0 0;
        width: 100%;
        &__short-code {
            padding: 0.4rem;
            height: fit-content;
            width: fit-content;
            margin-left: 1rem;
            background-color: var(--icon-grey-background);
            border-radius: 4px;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        height: 100%;
        margin-left: auto;

        a {
            text-decoration: none;
        }
    }

    &--divider {
        border-bottom: 1px solid var(--general-hover);
    }
}
