.block-user-empty {
    align-items: center;
    display: flex;
    flex-direction: column;

    @include mobile {
        margin-top: 16rem;
    }

    &__icon {
        margin-top: 2.2rem;
    }

    &__text {
        margin: 3rem 0 0.8rem;
    }
}
