@import '../../_common/base/index';
@import '../../_common/components/data-table';

/*
*  [Work In Progress]
*  This file is a WIP and will be broken down into different files for different components before the module is enabled
*  Class names might change, properties and values will definitely change
* */

/* stylelint-disable */
/** @define mt5-dashboard; */
.mt5-dashboard {
    margin: 4.8em auto;
    max-width: 960px;
    position: relative;

    &--hint {
        //@include typeface(--xsmall-left-normal-black, none);
        color: var(--text-less-prominent);
        font-size: 10px;
    }
    &__container {
        position: relative;

        .notification-messages {
            position: fixed;
            right: 16px;
            top: 64px;
        }
    }
    &__welcome-message {
        margin-bottom: 3.2em;

        &--content {
            display: flex;
            justify-content: space-between;
        }
        &--heading {
            @include typeface(--title-left-bold-black, none);
            color: var(--text-prominent);
            line-height: 1.5em;
        }
        &--paragraph {
            @include typeface(--paragraph-left-normal-black, none);
            color: var(--text-general)
        }
        &--hint {
            @include typeface(--xsmall-left-normal-black, none);
            color: var(--text-less-prominent);
        }
        &--button {
            background-color: transparent;
            color: var(--text-prominent);
            font-weight: bold;
            height: 4em;
            margin: 0;
        }
    }
    &__missing-real {
        align-items: center;
        background-color: var(--general-section-1);
        display: flex;
        justify-content: space-between;
        margin: 2.4em 0;
        padding-left: 1.6rem;

        &--heading {
            @include typeface(--title-left-bold-black, none);
            color: var(--text-prominent);
            line-height: 1.5em;
        }
        &--button {
            height: 4em;
        }
    }
    &__accounts-display {
        margin-bottom: 2.4em;

        .dc-tabs__list--top {
            width: 40%;
            position: relative;
            left: 30%;
        }
    }
    &__download-center {
        border: solid 1px var(--border-normal);
        border-radius: 4px;
        padding-bottom: 1.6em;
        padding-top: 1.6em;

        &-options {
            display: flex;
            justify-content: space-between;

            &--desktop, &--mobile {
                align-items: center;
                display: flex;
                flex-flow: column nowrap;
            }
            &--desktop {
                align-items: flex-start;
                display: flex;
                flex-flow: row nowrap;
                margin-left: 7em;

                &-devices {
                    align-items: flex-end;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-right: 1.6em;
                    width: 200px;
                    svg:first-child {
                        margin-right: 0.4em;
                    }
                    svg:not(:last-child) {
                        margin-bottom: 1.6em;
                    }
                }
                &-links {
                    display: flex;
                    flex-flow: column nowrap;
                    height: 142px;
                    justify-content: space-between;
                }
            }
            &--mobile {
                margin-right: 7em;

                &-devices {
                    margin-bottom: 1.6em;
                    svg:first-child {
                        margin-right: 0.8em;
                    }
                }
                &-links {
                    display: flex;
                    justify-content: space-between;
                    width: 27.1em;
                }
            }
        }
        &--heading {
            @include typeface(--title-left-bold-black, none);
            color: var(--text-prominent);
            line-height: 1.5em;
            margin-bottom: 1.5em;
            margin-left: 1.3em;
        }
        &--hint {
            @include typeface(--xsmall-left-normal-black, none);
            margin-left: 7.05em;
        }
    }
    .notification-messages {
        top: calc(-4.8rem + 16px);
    }
}

.mt5-attribute-describer {
    @include typeface(--paragraph-left-bold-black, none);
    color: var(--text-general);
    font-size: 14px;
    font-weight: bold;
}

.mt5-compare-accounts {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;

    &__data {
        //height: 50vh;

        &__table {
            //height: 50vh;
            flex: 1;
            padding: 0px 30px;
        }
        &__row {
            /*                     attribute   standard advanced synthetic */
            grid-template-columns: 1.7fr 1fr 1fr 1fr;
        }
        .attribute, .standard, .advanced, .synthetic {
            align-items: flex-start;
            justify-content: flex-start;
            text-align: left;
        }
    }
    &-modal {
        &__wrapper {
            display: flex;
            justify-content: center;
            margin-top: 1.6rem;
        }
    }

    .mt5-compare-account--hint {
        color: var(--text-less-prominent);
        font-size: 12px;
        line-height: 1.5em;
        padding: 1.6em 6.4em 2.4em 6.4em;
        width: 100%;
    }
}

.mt5-real-accounts-display, .mt5-demo-accounts-display {
    display: flex;
    justify-content: space-around;
    margin-top: 2.4em;
}

.mt5-account-card {
    border: solid 1px var(--border-normal);
    border-radius: 4px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    min-height: 32em;
    width: 30.4em;

    &:hover {
        box-shadow: 0 2px 8px 0 var(--shadow-menu);
    }
    &--heading {
        @include typeface(--title-left-bold-black, none);
        color: var(--text-prominent);
        line-height: 1.5em;
    }
    &--paragraph {
        @include typeface(--paragraph-left-normal-black, none);
        color: var(--text-general);
        line-height: 1.45em;
    }
    &--balance {
        @include typeface(--paragraph-left-bold-black);
        color: var(--text-profit-success);
    }
    &__type {
        display: flex;
        padding: 1.6em 1.6em 0;

        &--description {
            display: inline-block;
            margin-left: 1.6em;
            max-width: 19.2em;

            .mt5-account-card--heading {
                margin-bottom: 0.5em;
            }
            .mt5-account-card--paragraph {
                width: 13em;
            }
        }
    }
    &__clipboard {
        cursor: pointer;
        margin-left: 1em;
    }
    &__cta {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    &__specs {
        padding: 0 1.6em 1.6em;
    }
    &__specs-table {
        width: 100%;

        &-attribute {
            display: inline-block;
            white-space: nowrap;
            width: 14.8em;

            .mt5-account-card--paragraph {
                color: var(--text-general);
            }
        }
        &-data {
            .mt5-account-card--paragraph {
                @include typeface(--paragraph-left-bold-black, none);
                color: var(--text-prominent);
                line-height: 1.45em;
            }
        }
    }
    &__commission {
        text-align: center;
        &.mt5-account-card--paragraph {
            line-height: 1.4em;
        }
    }
    &__account-selection {
        align-items: center;
        display: flex;
        height: 4rem;
        justify-content: center;
        margin: 1.6rem;
        padding: 0;
        text-decoration: none;
        width: 27rem;
        @include typeface(--paragraph-center-bold-black, none);

        &--primary {
            background-color: var(--brand-red-coral);
            color: var(--text-colored-background);
        }
        &--secondary {
            background-color: transparent;
            border: 2px solid var(--button-secondary-default);
            color: var(--text-prominent);

            &:hover {
                background-color: var(--button-secondary-hover);
            }
        }
        &--disabled {
            background-color: var(--brand-red-coral);
            cursor: initial;
            opacity: 0.32;
        }
    }
    &__login {
        @include typeface(--paragraph-center-normal-black);
        align-items: center;
        background-color: var(--general-section-1);
        border-radius: 4px;
        color: var(--text-general);
        display: flex;
        height: 40px;
        justify-content: center;
        margin: 1.6em 0 0.8em;
        width: 272px;

        strong {
            font-weight: bold;
        }
    }
    &__manage {
        display: flex;
        justify-content: space-between;

        .btn {
            @include typeface(--small-center-bold-black, none);
            color: var(--text-prominent);
            height: 32px;
            margin: 0 1em;
            width: 122px;
        }
    }
}

.mt5-password-manager {
    margin: 5.6rem auto 0;
    width: 400px;

    &--paragraph {
        @include typeface(--paragraph-left-normal-black, none);
        color: var(--text-general);
    }
    &--error-message {
        @include typeface(--paragraph-left-normal-black, none);
        color: var(--text-loss-danger);
        margin-bottom: 1em;
    }
    &--hint {
        //@include typeface(--xsmall-left-normal-black, none);
        color: var(--text-less-prominent);
        font-size: 12px;
        padding: 1.333em 0;
    }
    &__main-form, &__investor-wrapper {
        margin-top: 2.4rem;
    }
    &__investor-wrapper {
        .mt5-password-manager--paragraph:first-child {
            margin-bottom: 0.6em;
        }
    }
    &__investor-form {
        margin: 2.4em auto 0;
        width: 300px;
    }
    &__actions {
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
    }
    &--button {
        margin-top: 1.6rem;
    }
}

.mt5-advanced-modal {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;

    &__heading {
        padding: 2em 2em 0 2em;
    }
    &__body {
        flex: 1 1 auto;
        flex-grow: 1;
    }
    .dc-form-submit-button {
        padding: 0 2em 2em 2em;
    }
}

.account-management {
    &__message-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__message-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 24em;
        padding: 0 3em;
    }
    &__message {
        @include typeface(--title-center-bold-black);
        color: var(--text-prominent);
    }
    &__text {
        @include typeface(--paragraph-center-normal-black);
        color: var(--text-prominent);
    }
}

.mt5-pending-verification {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 11em;
    margin: 12.7em 0 0;

    &__heading {
        @include typeface(--title-left-bold-black);
        color: var(--text-prominent);
    }
    &__description {
        @include typeface(--paragraph-center-normal-black);
        color: var(--text-prominent);
        margin: 0.6em 0 0;
    }
    &__btn-area {
        margin: 3.2em 0 0;

        .btn--primary {
            width: 90px!important;
            height: 40px!important;
        }
    }
}

.dc-modal {
    &__container {
        min-width: initial;
        &_mt5-password-modal {
            &__description {
                max-width: 300px;
                @include typeface(--small-left-normal-black);
                &--advanced {
                    margin: 1em 0 0;
                    color: var(--text-less-prominent);
                }
            }
        }
        &_mt5-dashboard__compare-accounts {
            width: 904px;
        }
        &_mt5-password-manager__modal {
            height: 688px;
            width: 904px;
        }
    }
}

.mt5-details-form {
    & .mt5-tax-identification-number {
        margin-top: 1em;
    }
    & .dc-autocomplete {
        margin-bottom: 2.4em;
        &__input-field {
            .dc-input {
                margin-bottom: 0;
            }
        }
    }
}

.account-form {
    &__header {
        font-size: var(--text-size-xs);
        font-weight: bold;
        margin-bottom: 1.6em;
        position: relative;
        height: 1.6em;
    }
    &__header:not(:first-child) {
        margin-top: 1.6em;
    }
    &__header:before {
        border-top: 1px solid var(--general-section-1);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0.5em;
        width: 100%;
    }
    &__title {
        background: var(--general-main-1);
        color: var(--text-prominent);
        padding-right: 8px;
        position: absolute;
    }
    &__subtitle {
        color: var(--text-prominent);
        font-weight: normal;
        padding-left: 8px;
    }
}

.account-poa {
    &__upload {
        &-icon {
            width: 25px;
        }
        &-section {
            margin-top: 1em;
            display: flex;
            flex-wrap: wrap;
        }
        &-list {
            width: 100%;
            flex: 1;
            margin-right: 16px;
        }
        &-file {
            width: 100%;
            flex: 1;
            height: 240px;
            position: relative;

            .dc-file-dropzone {
                max-width: 400px;
            }
        }
        &-remove-btn {
            position: absolute;
            width: 16px;
            height: 16px;
            top: 8px;
            right: 8px;
            cursor: pointer;
            transition: transform 0.25s linear;

            &:hover {
                transform: scale(1.25, 1.25);
            }
            &--error {
                circle {
                    fill: var(--status-danger);
                }
            }
            &-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        &-box {
            display: flex;
            margin-bottom: 2em;
            align-items: center;
            justify-content: flex-start;
        }
        &-item {
            min-width: 238px;
            width: 100%;
            margin-left: 1em;
            font-size: var(--text-size-xxs);
            line-height: 1.5;
            color: var(--text-prominent);
        }
    }
}

.mt5-proof-of-address {
    &__file-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__description {
        width: 50%;
    }
    &__file-upload {
        width: 50%;
        position: relative;
    }
    &__field-area {
        padding: 0 2rem;
        max-width: 556px;
        margin: 0 auto;
    }
    &__inline-fields {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;

        .dc-dropdown-container {
            margin-top: 0;
        }
    }
    p:not(.dc-field-error), li {
        @include typeface(--paragraph-left-normal-black);
        color: var(--text-prominent);
        margin: 0 0 1em;

        strong {
            font-weight: bold;
        }
    }
    ul {
        list-style: initial;
        margin: 0 0 1em;
    }
    li {
        margin: 0 0 0 1.6em;

    }
}
/* stylelint-enable */
