.dc-modal__container {
    &_real-account-signup-modal {
        @include tablet {
            max-height: calc(100vh - 10.2rem) !important; // Header and footer
        }

        display: flex;
        flex-direction: column;
        background-color: var(--general-main-1);
        transition: all 0.3s ease-in-out;

        &--success {
            overflow: hidden;
            min-width: initial !important;
            max-width: 47.8rem;
            max-height: initial !important;
            border-radius: $BORDER_RADIUS;
        }

        .dc-modal-header__title {
            border-top-left-radius: 1rem;
            text-transform: none;
        }

        &--error {
            .account-wizard--error {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                width: 100%;
                height: 100%;
                padding-top: 10rem;

                &__restricted-country-error {
                    padding: 3.3rem 2.4rem 2.4rem;

                    .dc-btn {
                        margin-top: 1.9rem;
                    }
                }

                &__invalid-input-error {
                    margin: 2.4rem auto;
                    padding-top: unset;

                    .dc-btn {
                        margin-top: 1.9rem;
                    }

                    .invalid_fields_input {
                        display: list-item;
                        margin: 0.5rem auto;
                        list-style: disc;
                        list-style-position: inside;
                    }
                }
            }

            & > svg {
                align-self: center;
                width: 12.8rem;
                height: 12.8rem;
                margin: 2rem 0 0;
            }

            h1 {
                @include typeface(--title-center-bold-black);

                margin: 1.6rem 0 0.8rem;
                color: var(--text-general);
                text-transform: none;
            }

            p {
                @include typeface(--paragraph-center-normal-prominent);

                width: 80%;
                margin-bottom: 2.4rem;
                text-transform: none;
            }

            a.dc-btn {
                @include typeface(--paragraph-center-bold-black);

                display: flex;
                justify-content: center;
                align-items: center;
                align-self: center;
                color: var(--text-colored-background);
                text-decoration: none;
                text-transform: none;
            }

            a.email-inline {
                color: var(--brand-red-coral);
                font-weight: bold;
                text-decoration: none;
            }

            span.chat-inline {
                color: var(--brand-red-coral);
                font-weight: bold;
                text-decoration: none;
                cursor: pointer;
            }
        }

        &--loading {
            width: 30rem;
            max-height: 30rem;

            .dc-modal-header__title {
                height: 0;
            }
        }

        & .dc-themed-scrollbars {
            height: 100%;
        }
    }

    &--risk-message {
        @include mobile {
            width: 30rem !important;
        }

        width: 44rem !important;
        height: auto !important;

        .dc-themed-scrollbars {
            max-height: none !important;
        }

        .dc-modal-footer {
            padding: 2.4rem;
            border-top: none;
        }
    }

    &_center-risk-modal {
        .dc-modal {
            &-header {
                border-bottom: 1px solid var(--general-section-1);
            }

            &-body {
                @include mobile {
                    padding: 1.6rem 1.6rem 0;
                }

                padding: 2.4rem 2.4rem 0;
                text-align: center;

                .risk-acceptance__text {
                    margin-top: 2.4rem;
                }

                .verified-account__text {
                    margin-top: 2.4rem;
                }
            }

            &-footer {
                justify-content: center;
            }
        }
    }

    &_verified_account {
        .dc-modal {
            &-body {
                text-align: center;
            }

            &-footer {
                justify-content: center;
            }
        }
    }
}

.dc-mobile-dialog__account-signup-mobile-dialog {
    .account-wizard--error {
        p {
            text-align: center;
        }

        span.chat-inline {
            display: block;
            color: var(--brand-red-coral);
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

.dc-modal-header--real-account-signup-modal {
    border-bottom: 1px solid var(--general-section-1);
}

.account-wizard {
    @include desktop {
        transform: translateY(0);

        &--deriv-crypto {
            grid-template-rows: 0 !important;
        }

        .currency-list__items {
            &__is-crypto {
                margin-bottom: 9rem;
            }
        }

        .dc-input__label {
            background-color: var(--fill-normal) !important;
        }

        .dc-modal-footer {
            z-index: 1;
            background-color: var(--general-main-1);
        }
    }

    @include mobile {
        grid-template-rows: 1fr auto;
        overflow: hidden;

        &--set-currency {
            grid-template-rows: 1fr 7rem;
        }
    }

    @include mobile {
        &--error {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: $MOBILE_HEADER_HEIGHT;

            &__restricted-country-error,
            &__invalid-input-error {
                display: flex;
                gap: 0.8rem;
                justify-content: center;
                align-items: center;
                height: calc(100vh - 84px);
                margin: auto 2.4rem;

                .dc-btn {
                    width: 100%;
                    margin-top: 1.9rem;
                }

                .invalid_fields_input {
                    display: list-item;
                    margin: 0.5rem auto;
                    list-style: disc;
                    list-style-position: inside;
                }
            }

            h1 {
                color: var(--text-prominent);
                font-weight: bold;
                font-size: 2.4rem;
                line-height: 1.5;
                text-align: center;
            }

            p {
                margin: 1.6rem;
                color: var(--text-general);
                font-size: 1.4rem;
                line-height: 1.4;
            }

            .dc-btn {
                height: 4rem;
            }

            .dc-ion {
                width: 100%;
                max-width: 9.6rem;
                height: auto;
                margin-top: 2rem;
            }
        }

        &__header {
            &-steps {
                width: 100%;
                padding: 1.6rem 0 0;

                &-title {
                    padding: 0 1.6rem 0.8rem;
                }

                &-subtitle {
                    padding: 1.6rem 1.6rem 0;
                }
            }
        }
    }

    position: relative;
    display: grid;
    grid-template-rows: 13rem minmax(10rem, 1fr);
    width: 100%;
    height: calc(100% - 5.7rem);

    &.add-or-manage {
        @include desktop {
            & form {
                grid-template-rows: auto;
            }
        }

        @include mobile {
            grid-template-rows: 1fr 1fr;
            overflow-x: hidden;
            overflow-y: auto;
        }

        grid-template-rows: 1fr 1fr;

        & .dc-form-submit-button {
            padding: 2rem;
        }
    }

    & > h2 {
        @include typeface(--title-center-bold-black);

        @include mobile {
            margin-top: 0.8rem;
            font-size: 1.2rem;
        }

        margin-top: 2.4rem;
        color: var(--text-less-prominent);
        text-transform: none;
    }

    & > h3 {
        @include typeface(--small-center-normal-black);

        margin-bottom: 1.6rem;
        color: var(--text-general);
        text-transform: none;
    }

    form {
        @include tablet-up {
            display: grid;
            grid-template-rows: minmax(20rem, 1fr);
        }

        width: 100%;
        height: 100%;

        .currency-selector {
            @include mobile {
                &--deriv-account {
                    padding-top: 1rem;
                    border-top: 2px solid var(--general-section-1);

                    .dc-btn:last-child {
                        width: 90%;
                        margin: 0 auto;
                    }
                }
            }

            &__radio-group {
                display: flex;
                flex-grow: 1;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &--is-header {
                    margin: 2rem 0 0;
                    color: var(--text-prominent);
                    font-weight: bold;
                    font-size: 1.6rem;
                }
            }

            &__description {
                @include typeface(--paragraph-center-normal-prominent);

                @include mobile {
                    text-align: center;
                }

                margin-top: 2.4rem;
            }

            &__container {
                @include mobile {
                    overflow-x: hidden;
                    overflow-y: auto;

                    &--no-top-margin {
                        margin-top: 0;
                    }
                }

                width: 100%;
            }

            &__button {
                margin-top: 1.6rem;
            }
        }
    }

    &__body {
        display: flex;

        & .details-form {
            @include tablet {
                grid-template-rows: minmax(10rem, 1fr);
            }
        }
    }

    &__set-currency {
        p {
            @include typeface(--paragraph-center-normal-black);

            @include mobile {
                margin: 2.4rem auto 0 2.4rem;
                font-size: 1.2rem;
                text-align: left;
            }

            margin: 2.4rem 0;
            color: var(--text-prominent);
            text-transform: initial;
        }

        h2 {
            @include mobile {
                margin-left: 2.4rem;
                font-size: 1.2rem;
                text-align: left;
            }
        }
    }

    .checkbox {
        align-items: center;
        margin: 1rem 0 0;

        &__box--active {
            background-color: var(--brand-red-coral);
        }

        &__box--active:after {
            font-size: 1.3rem;
            line-height: 2rem;
        }

        &__label {
            @include typeface(--paragraph-left-normal-black);

            text-transform: none;
        }
    }

    &--disabled {
        position: relative;

        .currency-list__items {
            margin-top: 2.4rem;
        }

        .currency-list__item {
            pointer-events: none;

            svg {
                opacity: 0.08;
            }

            .label {
                color: var(--text-disabled);
            }
        }

        &-message {
            display: flex;
            justify-content: center;

            &-description {
                width: 78%;
                margin-top: 2.4rem;
                padding: 0.8rem 0;
                border-radius: $BORDER_RADIUS;
                background-color: var(--status-warning-transparent);
            }
        }
    }
}

.add-crypto-currency,
.change-currency {
    @include mobile {
        .dc-form-submit-button {
            position: fixed;
            bottom: 0;
            width: 100%;
            padding: 1.5rem;
            background-color: var(--general-main-1);
        }

        & .dc-btn {
            width: 100%;
        }
    }

    height: 100%;

    &__title {
        margin-top: 3rem;
    }

    &__sub-title {
        margin-bottom: 1rem;
    }

    &__button {
        width: 100%;
        margin-top: 1.6rem;
    }
}

.cashier-deposit {
    @media screen and (height <= 568px) {
        .currency-selector__radio-group--with-margin {
            margin-bottom: 6rem;
        }
    }
}

/* TODO: [refactor-components] Refactor form subheader to components */
.account-form {
    &__header {
        position: relative;
        height: 1.6rem;
        margin-bottom: 1.6rem;
        font-weight: bold;
        font-size: var(--text-size-xs);
        white-space: nowrap;

        &-section {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        &-section:after {
            @include mobile {
                border-top-color: var(--general-disabled);
            }

            content: '';
            width: 100%;
            height: 100%;
            margin-top: 0.3rem;
            border-top: 1px solid var(--general-section-1);
        }

        &--has-description {
            margin-bottom: 0.5rem;
        }
    }

    &__header:not(:first-child) {
        margin-top: 1.6rem;
    }

    &__title {
        padding-right: 0.8rem;
    }

    &__subtitle {
        align-self: baseline;
        margin-top: 0.2rem;
        padding-right: 0.8rem;
    }

    &__description {
        margin-bottom: 2rem;
        color: var(--text-prominent);
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 1.5;
    }
}

.emp-status {
    @include mobile {
        padding-right: 2rem;
    }
}

.trading-assessment {
    @include mobile {
        overflow: auto;
        height: calc(100vh - 16rem);
    }

    @include mobile {
        .dc-dropdown__display-placeholder {
            width: 100%;

            .trading-assessment__form .dc-dropdown__display .dc-dropdown__display-placeholder-text-limit-fit {
                width: 90%;
            }
        }

        .dc-dropdown__display-placeholder--is-left-text.dc-dropdown__display-placeholder--is-title {
            line-height: 1.6rem;
            white-space: normal !important;
        }
    }

    display: flex;
    flex-direction: column;

    .dc-radio-group {
        flex-direction: column;
        align-items: flex-start;
    }

    &--existing-user {
        @include desktop {
            margin-top: 9.2rem;
        }

        @include mobile {
            height: calc(100vh - 12rem);

            .trading-assessment__side-note {
                padding: 2.2rem 1.6rem;
            }
        }
    }

    &__wrapper__dropdown--list--display {
        height: 4rem;
    }

    &__side-note {
        @include mobile {
            padding: 0 1.6rem;
        }

        padding: 0 10rem;
        text-align: justify;
    }

    &__form {
        display: grid;
        grid-template-rows: 4.7fr 1fr;
        margin-top: 2.2rem;

        &--existing_user {
            grid-template-rows: 5.8fr 1fr;
        }

        &--layout {
            grid-template-rows: 35rem 1fr !important;
        }

        &--fields {
            @include desktop {
                justify-content: center;
            }

            @include mobile {
                padding: 0 1.6rem;
            }

            display: flex;
            padding: 0 10rem;
        }

        .dc-themed-scrollbars {
            width: 100%;
        }

        .dc-dropdown__display .dc-dropdown__display-placeholder-text-limit-fit {
            @include mobile {
                width: 90%;
                white-space: normal;
            }

            max-width: initial;
            padding-bottom: 0.5rem;
        }
    }

    &__wrapper__question {
        @include desktop {
            padding: 0 2rem;
        }

        @include mobile {
            .dc-radio-group__circle {
                align-self: flex-start !important;
            }
        }

        .dc-radio-group {
            gap: 1.6rem;
        }
    }

    &__wrapper__dropdown {
        @include desktop {
            padding: 0 3rem;
        }

        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        width: 100%;
    }

    .disable-pointer {
        cursor: not-allowed;
    }

    &__existing_btn {
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: end;
        width: 100%;
        padding: 1rem 2rem;
        border-top: 2px solid var(--general-disabled);
    }

    &__btn-group {
        @include mobile {
            position: fixed;
            bottom: 0;
            display: flex;
            width: 100%;
            padding: 1.6rem;
            border-top: 2px solid var(--general-disabled);
            background: var(--general-main-1);

            &--btn {
                width: 100%;
            }
        }
    }
}

.dc-mobile-dialog {
    &__risk-acceptance {
        display: flex;
        flex-direction: column;
        row-gap: 2.4rem;
        justify-content: center;
        align-items: center;
        margin-inline: 1.6rem;
        margin-top: 9.4rem;
    }

    &__test-warning {
        margin-top: 1.6rem;

        .dc-modal-body {
            padding-inline: 1.6rem;
        }

        .dc-modal-footer {
            position: fixed;
            bottom: 0;
            display: flex;
            width: 100%;
            padding: 1.6rem;
            border-top: 2px solid var(--general-disabled);
            background: var(--general-main-1);

            .dc-btn {
                width: 100%;
            }
        }
    }
}

.highlight {
    animation: shake 150ms 2 linear;
    animation: shake 150ms 2 linear;
    animation: shake 150ms 2 linear;
    animation: shake 150ms 2 linear;
}

@keyframes shake {
    0% {
        transform: translate(3px, 0);
    }

    50% {
        transform: translate(-3px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes shake {
    0% {
        transform: translate(3px, 0);
    }

    50% {
        transform: translate(-3px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes shake {
    0% {
        transform: translate(3px, 0);
    }

    50% {
        transform: translate(-3px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes shake {
    0% {
        transform: translate(3px, 0);
    }

    50% {
        transform: translate(-3px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes shake {
    0% {
        transform: translate(3px, 0);
    }

    50% {
        transform: translate(-3px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

.field-layout {
    .trading-assessment__wrapper__dropdown {
        div:last-child {
            .dc-dropdown__display-placeholder {
                padding-right: 1rem;
            }

            .dc-dropdown__display .dc-dropdown__display-placeholder-text-limit-fit {
                @include desktop {
                    text-overflow: unset;
                    white-space: inherit;
                }
            }
        }
    }

    .trading-frequency--field {
        height: 5rem;
    }
}

.risk-tolerance-modal {
    &__title {
        display: flex;
        gap: 0.8rem;
        align-items: center;
        margin-bottom: 3.7rem;

        &--separator {
            width: 50%;
            border-top: 2px solid var(--general-section-5);
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        justify-content: center;
        align-items: center;
    }

    &__footer {
        display: flex;
        justify-content: center;
    }
}

.personal-details-form,
.address-details-form {
    @include desktop {
        padding: 0 16rem;
    }

    width: 100%;
}

.personal-details-form {
    .dc-radio-group__input {
        display: unset;
        appearance: unset;
    }
}
