@import 'app/_common/base/index';

.details-form {
    flex-grow: 1;

    & .datepicker {
        max-width: initial;
        position: relative;

        &--active-label {
            label {
                color: var(--text-general);
            }
        }
        & .icon-datepicker {
            top: 1.2rem;
            right: 1rem;
            position: absolute;
        }
        &__picker {
            margin-top: 8px;
        }
        .calendar__cell {
            &--disabled {
                color: var(--text-disabled) !important;
            }
            &--other:not(.calendar__cell--today) {
                color: var(--text-prominent);
            }
        }
        @include mobile {
            &__native {
                opacity: 0;
                width: 100%;
                min-width: calc(100% - 1rem);
                position: absolute;
                height: 38px;
            }
            &__display {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding-left: 1rem;
                height: 38px;
                position: relative;

                &-text {
                    font-size: 1.4rem;
                    color: var(--text-prominent);
                    background-color: var(--general-section-2);
                    padding-top: 0.2rem;

                    &--has-error {
                        padding-top: unset;
                        color: var(--brand-red-coral);
                    }
                }
            }
            &__calendar {
                pointer-events: none;

                &-icon {
                    --fill-color1: var(--text-less-prominent);
                    position: absolute;
                    right: 1rem;
                }
            }
            &__placeholder {
                color: var(--text-less-prominent);
                transform: none;
                transition: transform 0.25s linear;
                position: absolute;
                font-size: 1.4rem;
                left: 1.2rem;

                &--has-value {
                    transform: translate3d(-14px, -20px, 0px) scale(0.7);
                    color: var(--text-general);
                }
                &--has-error {
                    color: var(--brand-red-coral);
                }
            }
            &__error {
                display: flex;
                font-size: 1.2rem;
                color: var(--brand-red-coral);
                position: absolute;
                top: 4.4rem;
                left: 1.2rem;
            }
        }
    }
    &__elements {
        flex-grow: 1;
        margin: 1.2rem auto;
        width: 40%;

        &-container {
            height: calc(100% - 76px);
            overflow: hidden;

            @include mobile {
                height: auto;
                width: calc(100% - 3.2rem);
                overflow: unset;
                margin: 1.6rem auto;
            }
        }
        .dc-input {
            label {
                top: 1.2rem;
                background-color: var(--general-main-2);

                @include mobile {
                    background-color: var(--general-section-2);
                }
            }
        }
        .dc-dropdown__display {
            background-color: var(--general-main-2);

            &-placeholder-text {
                background-color: var(--general-main-2);
            }
        }
        @include mobile {
            width: 100%;
            margin: 0;
        }
    }
    &__description {
        text-align: center;
        font-size: var(--text-size-xxs);
        margin: 1.6rem 0;
        color: var(--text-general);

        @include mobile {
            text-align: left;
            margin: 0 2.4rem;
            line-height: 20px;
            color: var(--text-less-prominent);
        }
    }
    @include mobile {
        margin-top: 70px;
        overflow-x: hidden;
        overflow-y: auto;
    }
}
