.dc-modal__container_poa-poi-verification {
    .modal-content {
        padding: 0 24px 24px;
        max-width: 480px;
        @media only screen and (max-width: 800px) {
            padding: 22px;
        }
    }
    .modal_text_title {
        margin-top: 24px;
    }
    .arrow-icon-container {
        width: 32px;
        height: 32px;
        padding: 0;
        min-width: unset;
        .dc-btn__icon {
            padding-right: unset;
        }
    }

    .proof-text-container {
        display: flex;
        justify-content: space-between;
        padding: 22px 0 12px;
        align-items: center;
    }

    .bottom-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 24px;
    }

    .title-element {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
