.modal__container.modal__real-account-signup-modal {
    .dc-vertical-tab {
        &__content {
            padding: 0 !important;
        }
    }
}

.accept-risk {
    &__header {
        padding: 2.4rem 0;
    }
    &__container {
        padding: 0 2.4rem;

        & .dc-text {
            text-align: justify;
        }
        @include mobile {
            padding: 0 1.6rem;
        }
    }
    &__form {
        display: grid;
        height: calc(100% - 57px);
        position: relative;
        width: 100%;
    }
}

.account-signup-loader {
    width: 100%;
    height: 100%;
}

// Min width of tablet to max size of the modal
@media (min-width: 768px) and (max-width: 904px) {
    .dc-modal__container {
        &_real-account-signup-modal {
            width: 768px !important;
        }
        &--risk-message {
            width: 440px !important;
        }
    }
}
.poi-form-on-signup {
    height: 100%;
    overflow: auto;
    width: 100%;
    &__fields {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;

        @include mobile {
            display: unset;
            position: relative;
        }

        .proof-of-identity {
            &:is(span) {
                width: unset;
                height: unset;
            }
            &__container {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 45%;
                justify-content: unset;

                @include mobile {
                    width: 100%;
                    overflow-y: unset;
                    justify-content: unset;
                }

                .icon {
                    width: 12.8rem;
                    height: 12.8rem;
                    margin: 1.6rem 0 2.4rem;
                }
                .dc-input__bottom-label {
                    margin: unset;
                }
                .btm-spacer {
                    margin-bottom: 1.6rem;
                }
                .spacer {
                    margin: 1.6rem 0;
                }

                &--idv {
                    width: 100%;
                }
            }

            &__inner-container {
                display: unset;
                flex-direction: unset;
                justify-content: unset;
                align-items: unset;
                width: 100%;
            }
            &__image {
                width: 100%;
                max-width: unset;
                border-radius: unset;
                object-fit: unset;

                &-container {
                    width: unset;
                    height: unset;
                    padding: unset;
                    border-radius: unset;
                    background-color: unset;
                }
            }
            &__fieldset {
                width: 100%;
                margin-bottom: 2rem;

                @include mobile {
                    margin: 0 0 1.8rem;
                }

                &-container {
                    display: unset;
                    flex-direction: unset;
                    justify-content: unset;
                    align-items: unset;
                }
                &-input {
                    width: unset;
                    margin-bottom: 1rem;
                }
            }
            &__sample-container {
                margin-top: 2.4rem;
                margin-left: unset;
                width: unset;
            }

            &__submit-button {
                margin-left: 0.8rem;
                @include mobile {
                    margin-right: unset;
                }
            }
        }
    }
    & .details-form {
        display: grid;
        grid-template-rows: minmax(10rem, 1fr) 8.2rem;
        height: 100%;
        position: relative;

        @include mobile {
            max-height: calc(100% - 5rem);
        }
    }
    @include mobile {
        overflow: hidden;
    }
}

.idv-form {
    display: grid;
    grid-template-rows: unset !important;

    .details-form {
        @include mobile {
            overflow: unset;
        }

        @include desktop {
            padding: unset;
        }
    }
}

.mt5-layout {
    @include desktop {
        display: flex;
        flex-direction: column;
    }
    &__container {
        overflow: auto;
        height: 100%;
        @include desktop {
            padding: 0.8rem 15.5rem;
        }
        @include mobile {
            padding: 1.6rem;
        }
    }

    .proof-of-identity {
        &__footer {
            padding: 1.6rem 2.4rem;
            justify-content: end;
            display: flex;
            border-top: 1px solid var(--general-section-1);
            @include mobile {
                width: 100%;
            }
        }

        &__submit-button {
            @include mobile {
                width: 100%;
                margin: unset;
            }
        }
    }
    .account-form__footer {
        @include desktop {
            position: relative;
        }
    }
}

.proof-of-identity__container.mt5-layout {
    justify-content: space-between;
    height: 100%;
    @include mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}
