.page-return {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.75;
    color: var(--text-general);

    @include tablet-up {
        margin-bottom: 2.4rem;
    }
    @include mobile {
        border-bottom: 2px solid var(--general-section-1);
        height: 56px;
        padding: 1.6rem;
        margin-bottom: 0;
    }

    &__button {
        display: flex;
        cursor: pointer;
        border-radius: $BORDER_RADIUS;

        @include tablet-up {
            padding-right: 0.8rem;
        }
        @include mobile {
            padding-right: 1.6rem;
        }
    }

    &__trailing-icon {
        margin-left: auto;
        display: flex;
    }
}
