.page-return {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2.4rem 0;
    color: var(--text-general);
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.75;

    &__button {
        @include mobile {
            padding-right: 1rem;
        }

        padding-right: 0.8rem;
        border-radius: $BORDER_RADIUS;
        line-height: 1rem;
        cursor: pointer;
    }
}
