.dc-modal {
    &__container {
        &_additional-kyc-info {
            &-header {
                border-bottom: 2px solid var(--general-section-1);
            }

            &-footer {
                padding: 1.6rem 0 0;
                margin: unset;
            }

            .inline-message {
                margin: 0.8rem 1.6rem;
                width: calc(100% - 3.2rem);
                justify-content: flex-start;
            }
        }
    }
}

.additional-kyc-info-modal {
    &__portal-header {
        padding: 2.5rem 2rem;
    }

    &__form {
        padding: unset;
        height: 100%;
        position: relative;

        @include mobile-or-tablet-screen {
            width: 100%;
        }

        &--header {
            margin: 1.6rem 0 2.4rem;

            @include mobile-or-tablet-screen {
                padding: 0;
            }
        }

        .dc-dropdown-list {
            margin: 1rem 0;
        }

        &-layout {
            display: flex;
            flex-direction: column;
            height: 100%;

            &--fields {
                display: flex;
                flex-direction: column;
                padding: 0 24.4rem;

                @include mobile-or-tablet-screen {
                    padding: 0 1.6rem;
                }
            }
        }

        &-field {
            margin-bottom: 3.2rem;

            &--info {
                display: flex;
                align-items: baseline;
                gap: 0.8rem;
            }
        }

        &-action {
            padding: 1.6rem 2.4rem;

            @include mobile-or-tablet-screen {
                position: absolute;
                bottom: 0;
                width: 100%;
                padding: 1.6rem;
            }

            .dc-btn {
                @include mobile-or-tablet-screen {
                    width: 100%;
                }
            }
        }
    }
}
