.qs {
    .dbot-accordion {
        &__content {
            background-color: transparent;

            &--open {
                max-height: fit-content;
            }
        }

        &__header {
            text-align: left;

            &--cursive {
                font-style: italic;
            }
        }

        &__icon svg {
            filter: none;
            width: 12px;
            height: 12px;
        }
    }
}
