.favorite-symbols {
    &--container {
        padding: var(--core-spacing-400) 0;
    }
    &--no-fav {
        display: flex;
        padding: 0 var(--core-spacing-2400);
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
