.wallets-transfer-form-account-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;

    &__content {
        display: flex;
        gap: 16px;

        &--is-input {
            gap: 8px;
        }

        &__card {
            display: flex;
            align-items: center;
            width: fit-content;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__balance {
            color: var(--system-light-2-general-text, #333);

            /* mobile/small/S - regular */
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 14px; /* 140% */

            &--is-input {
                font-size: 10px;
            }
        }

        &__title {
            color: var(--system-light-1-prominent-text, #333);

            /* desktop/subtitle/Sub 2 - bold */
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px; /* 150% */

            &--is-input {
                font-size: 10px;
                line-height: 14px;
            }
        }
    }

    &-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 4px;
        padding: 2px 4px;
        width: 50px;
        height: 35px;

        &--is-input {
            width: 46px;
            height: 31px;
        }
    }
}
