.composite-calendar-mobile {
    @include tablet-screen {
        width: 60rem;
        margin: auto;
        &__header {
            width: 60rem;
            transform: translate(-50%) !important;
            left: 50%;
        }
    }

    &__actions {
        display: flex;
        padding: 1.6rem;
        border-top: 2px solid var(--border-disabled);

        > * {
            flex: 1;
            margin: 0.8rem;
        }
        &-today {
            width: 100%;
        }

        @include tablet-screen {
            margin: auto;
            width: 60rem;
        }
    }
    &__radio-group {
        padding: 1.6rem 1.6rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        box-shadow: inset 0px -1px 0px var(--general-section-1);
    }

    &__custom {
        padding: 16px;
        &__wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        &-radio {
            display: inline-flex;
        }
        &-date-range {
            margin: 0.8rem;
            display: flex;
            flex-direction: column;

            &-start-date {
                margin: 1.6rem 0;
            }
            &-end-date {
                margin-bottom: 0.8rem;
            }

            & .dc-datepicker__container--disabled .dc-datepicker__placeholder {
                color: var(--text-disabled);
            }
        }
    }
}
