.new-bot-container {
    width: 50rem;
}

.new-bot {
    display: flex;
    gap: 5rem;
    .load-strategy__container {
        width: 50rem;
    }
}

.new-bot-btn {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}
