&__footer {
    max-height: 33.333%;
    border-top: 2px solid var(--general-section-1);
    background-color: var(--general-main-1);

    &-disclaimer {
        margin: 0.8rem 2.4rem;
    }

    &--empty {
        margin-top: auto;
    }

    &--frozen {
        padding: 1.6rem 2.4rem;
        border-top: 2px solid var(--general-section-1);
    }

    &-icon-container {
        position: absolute;
        right: 0;
        bottom: 0.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        margin-right: 0.4rem;
        border-radius: $BORDER_RADIUS;
        cursor: pointer;

        @media (hover: hover) {
            &:hover {
                background-color: var(--general-hover);
            }
        }
    }

    &-input {
        position: relative;
        height: calc(100% - 1.6rem - 2.6rem);
        margin: 1.6rem 2.4rem 0.8rem;
    }

    .dc-input {
        height: 100%;
        min-height: 40px;
        margin-bottom: 0;

        &__wrapper {
            height: 100%;
            margin-bottom: unset;
        }

        &__counter {
            top: unset;
            right: 0;
            bottom: -2rem;
        }

        &__field[type='textarea'] {
            overflow-y: auto;
            width: calc(100% - 32px - 0.8rem);
            height: 40px;
            min-height: 40px;
            max-height: 100%;

            &::-webkit-scrollbar {
                width: 5px;
                height: 5px;
                border-radius: 10px;
                background-color: transparent;
            }

            &::-webkit-scrollbar-track {
                background-color: transparent;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: var(--state-active);
            }
        }

        &__trailing-icon {
            top: unset;
            margin-right: 0.4rem !important;
        }
    }
}
