.add-options--desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 240px;
    padding: 10px;
    border-radius: 4px;
    border: 2px dashed #ffe1e3;
    cursor: pointer;
    &_title {
        display: flex;
        justify-content: center;
        align-items: center;
        & > p {
            color: #ff444f;
            margin-left: 8px;
        }
    }
    &_description {
        & > p {
            color: #999999;
        }
    }
    &:hover {
        // should check with design team
        border-color: #ff444f;
        background-color: #ffe1e3;
    }
}

.add-options--mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    background-color: #fff7f7;
    cursor: pointer;
}
