.cfd-demo-account,
.cfd-real-account {
    &__title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        & > span {
            margin-right: 1.2rem;
        }
    }

    &__description {
        margin-bottom: 2.4rem;
        a {
            text-decoration-line: underline;
        }
    }

    &__accounts {
        display: flex;
        justify-content: start;
        gap: 2.4rem;
        margin-top: 4rem;
        @include mobile {
            flex-direction: column;
            gap: 3.6rem;
        }
        &--item {
            &__add-derived {
                margin-top: 1.4rem;
            }
        }
    }
}
