/** @define multi-step; weak */
.multi-step {
    width: inherit;
    height: inherit;

    &__header {
        display: flex;
        align-items: center;
        margin: 2.4rem 1.6rem;
    }
    &__btn {
        display: flex;
        font-size: 1.4rem;
        font-weight: bold;
        cursor: pointer;
        color: var(--text-general);

        &-icon {
            margin-right: 8px;

            .color1-fill {
                fill: var(--text-general);
            }
        }
    }
    &__component {
        width: 100%;
        height: 100%;
    }
}
