.wallet-withdrawal {
    &__fiat-container {
        display: flex;
        max-width: 70.8rem;
        margin: 0 auto;

        .cashier__content {
            width: 100%;
            flex: 1;
        }
    }
}
