.bot-dashboard {
    .toolbar__section {
        justify-content: end;
    }

    .run-panel__container {
        height: calc(100vh - 5rem) !important;
        position: unset !important;
        transform: translateX(calc(350px));
        transition: all 0.4s;
        margin-top: 1rem;
    }

    .dc-drawer--open {
        transform: translateX(calc(0px)) !important;
    }
}

.dashboard {
    &__main {
        display: flex;
        overflow: hidden;
    }

    &__container {
        border: none;
        max-width: 100%;
        background: var(--general-main-1);
        width: 100%;

        .dc-tabs {
            &__active-line {
                background-color: var(--general-main-1);
                transition: none;
            }

            &__active {
                background: var(--general-main-1);
            }

            &__list {
                background: var(--general-section-1);
                justify-content: start;
            }

            &__item {
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
                height: 4.8rem;
                width: 14.4rem;
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    width: 1.6rem;
                    height: 1.6rem;
                    padding-right: 0;
                    margin-right: 0.8rem;
                }
            }

            &__dashboard-cards-wrapper {
                display: flex;
                margin-top: 4rem;
            }

            &__dashboard-card {
                margin-right: 4.2rem;
                display: flex;
                flex-direction: column;

                svg {
                    margin-bottom: 0.8rem;

                    &:hover {
                        transition: all 100ms ease-in;
                        box-shadow: rgba(0, 0, 0, 0.35) 0px 0.5rem 1.5rem;
                        border-radius: 0.5rem;
                        font-weight: 700;
                    }
                }

                span {
                    text-align: center;
                }

                &:hover {
                    cursor: pointer;
                }

                &:last-child {
                    margin-right: 0;
                }

                &__image {
                    background: var(--general-section-1);
                }

                &__label {
                    font-size: 1.2rem;
                    font-weight: 400;
                    line-height: 2rem;
                }

                img {
                    margin-bottom: 0.8rem;
                }
            }

            &__content-group {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: calc(100vh - 20rem);
                margin-top: 1rem;

                &__header {
                    margin-bottom: 1.3rem;
                }

                &__description {
                    max-width: 44rem;
                    text-align: center;
                }
            }
        }
    }
}

.side_bar_container_none {
    display: none;
}

.w-100 {
    width: 100%;
}

.nm-48 {
    margin-top: -48px;
}

.main_dashboard_container {
    display: flex;
    overflow: hidden;

    .dc-dialog__dialog {
        width: 80vw;
        max-width: 100%;
        height: 80vh;
        max-height: 100%;
        background-color: transparent;
        padding: 0;
    }

    .dc-dialog__content {
        max-width: unset;
        width: 100%;
        height: 100%;
    }
}

.db-sidebar {
    position: relative;
    background-color: var(--general-main-1);
    padding: 2.4rem;
    height: 100%;
    &--block {
        display: block;
    }

    display: none;

    &__images {
        background: var(--general-section-6);
    }

    &__close-action {
        position: absolute;
        right: 2.7rem;
        top: 1.9rem;

        svg {
            cursor: pointer;
        }
    }

    &__card {
        margin-bottom: 16px;

        h1 {
            font-size: 2.4rem;
            margin-bottom: 0.8rem;
            line-height: 2rem;
            font-weight: 700;
        }

        p {
            font-size: 1.4rem;
            margin-bottom: 0.8rem;
            line-height: 2rem;
            font-weight: 400;
        }
    }
}

.disabled--card {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.6;
}

.load-strategy__button-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.load-strategy__button-group--clear {
    height: 3.4rem;
    width: 6.7rem;
    background-color: #d6d6d6;
    border-radius: 0.4rem;
    color: #ffffff;
    outline: none;
    border: none;
    font-weight: 700;
    font-size: 1.4rem;
    cursor: pointer;
    margin-right: 1.6rem;
}

.load-strategy__button-group--open {
    height: 3.4rem;
    width: 6.7rem;
    background-color: #ff444f;
    border-radius: 0.4rem;
    color: #ffffff;
    outline: none;
    border: none;
    font-weight: 700;
    font-size: '1.4rem';
    cursor: pointer;
}

.dc-dialog__wrapper--googledrive {
    .dc-dialog__dialog {
        width: unset;
        max-width: unset;
        height: unset;
        max-height: unset;
        padding: 2.4rem;
        background-color: var(--general-main-2);
    }

    .dc-dialog__footer {
        display: none;
    }
}
