@mixin align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bot-dashboard {
    position: relative;
    height: calc(100vh - 8.4rem);
    overflow: hidden;

    @include mobile {
        height: calc(100vh - 3.4rem);
    }

    .toolbar__section {
        justify-content: end;

        @include mobile {
            column-gap: 1rem;
        }
    }

    .run-panel__container {
        height: var(--tab-content-height) !important;
        position: sticky;
        // TODO: need to set global variables for translation
        transform: translateX(calc(367px));
        transition: all 0.4s;
        margin-top: 1rem;

        &--tour-active {
            transform: translateX(calc(0px)) !important;

            .dc-drawer__toggle-icon--right {
                transform: rotate(180deg) !important;
            }
        }
    }

    .dc-drawer--open {
        @include desktop {
            transform: translateX(calc(0px)) !important;
        }

        @include mobile {
            transform: translateY(calc(-100% + 3.6rem));
        }
    }
}

.dashboard {
    &__main {
        display: flex;
        overflow: hidden;
    }

    &__container {
        border: none;
        max-width: 100%;
        width: 100%;

        .dc-tabs {
            &__active-line {
                background-color: var(--general-main-1);
                transition: none;
            }

            &__active {
                background: var(--general-main-1);
            }

            &__list {
                background: var(--general-section-1);
                justify-content: start;

                @include mobile {
                    overflow-x: auto;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    -ms-overflow-style: none;
                    scrollbar-width: none;
                }

                &--header {
                    &--dashboard {
                        &__tabs {
                            @include mobile {
                                width: 100%;
                                overflow-x: auto;
                            }
                        }
                    }
                }
            }

            &__content {
                @include mobile {
                    width: 100%;
                    overflow-x: auto;
                }

                &--dashboard {
                    &__tabs {
                        display: flex;
                        justify-content: space-between;

                        @include mobile {
                            flex-direction: column;
                            background-color: var(--general-section-1);
                        }
                    }
                }
            }

            &__item {
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
                height: 4.8rem;
                @include align-center;

                &__loaded {
                    text-align: left;
                    padding-left: 1.5rem;
                }

                svg {
                    width: 1.6rem;
                    height: 1.6rem;
                    padding-right: 0;
                    margin-right: 0.8rem;
                }
            }
        }
    }
}

.w-100 {
    width: 100%;
}

.nm-48 {
    margin-top: -4.8rem;
}

.db-sidebar {
    position: relative;
    background-color: var(--general-main-1);
    padding: 2.4rem;
    height: 100%;

    &--block {
        display: block;
    }

    display: none;

    &__images {
        background: var(--general-section-6);
    }
}

.db-info-panel {
    &__close-action {
        position: absolute;
        right: 1.4rem;
        top: 1.4rem;
        height: 2rem;
        width: 2rem;
        line-height: 2.3rem;
        text-align: center;
        border-radius: 1rem;

        &:hover {
            cursor: pointer;
            background: var(--general-section-1);
        }
    }

    &__content {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.tab {
    &__dashboard {
        display: flex;
        width: 100%;

        &--tour-active {
            width: calc(100% - 36rem);

            @include mobile {
                width: 100%;
            }
        }

        &__content {
            min-width: 70%;
            display: flex;
            justify-content: center;
            height: var(--tab-content-height);
            flex-grow: 1;
            background: var(--general-main-1);
            overflow: hidden;
            position: relative;

            @include desktop {
                align-items: center;
                padding: 2.2rem 0;
            }

            @include mobile {
                height: var(--tab-content-height-mobile);
                align-items: flex-start;
            }
        }

        &__mobile-container {
            display: flex;
            align-items: center;
            margin: 1.6rem 1.6rem 1.4rem;
            column-gap: 1rem;
            height: 3.2rem;

            &--minimized {
                height: 3.6rem;
            }
        }

        &__centered {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;

            @include tablet {
                width: 100%;
            }

            @include mobile {
                width: 100%;
                padding: 0 1rem;
            }

            &--not-listed {
                @include desktop {
                    width: 50%;
                }
            }

            &--listed {
                margin-top: 10rem;
                align-items: unset;
                padding: 1rem 3rem;
            }
        }

        &__preview {
            width: 50%;
            height: calc(100% + 2rem);

            @include mobile {
                display: none;
            }

            @include tablet {
                display: none;
            }

            &__retrigger {
                button {
                    background: var(--general-section-1);
                    border-radius: 2.4rem;
                    outline: none;
                    border: none;
                    height: 4rem;
                    padding: 1rem;
                    @include align-center;
                    cursor: pointer;

                    @include mobile {
                        width: 3.2rem;
                        height: 3.2rem;
                        padding: 0.8rem;
                    }
                }

                &__text {
                    margin-left: 0.4rem;
                    color: var(--text-general);
                }

                &__icon {
                    width: 2.4rem;
                    height: 2.4rem;
                }
            }
        }

        &__home {
            &__retrigger {
                position: absolute;
                top: 0;
                right: 0;
                padding: 2rem;

                button {
                    background: var(--general-section-1);
                    border-radius: 2.4rem;
                    outline: none;
                    border: none;
                    height: 4rem;
                    padding: 1rem;
                    @include align-center;
                    cursor: pointer;
                }

                &__text {
                    margin-left: 0.4rem;
                    color: var(--text-general);
                }

                &__icon {
                    width: 2.4rem;
                    height: 2.4rem;
                }
            }
        }

        &__header {
            margin-bottom: 1.3rem;

            &--not-listed {
                @include mobile {
                    width: 90%;
                    text-align: end;
                    margin: 0 !important;
                }
            }
        }

        &__description {
            @include desktop {
                text-align: center;
                margin-bottom: 4rem;
            }

            &__loaded {
                text-align: left;

                @include desktop {
                    margin-top: 12rem;
                }

                &--listed {
                    text-align: left;
                    padding: 2rem 2rem 0 0;
                }

                &--not-listed {
                    @include mobile {
                        text-align: center;
                        margin-bottom: 1.4rem;
                        padding: 0 0.6rem;
                    }
                }
            }
        }

        &__info-panel {
            position: relative;
            background-color: var(--general-main-1);
            padding: 2.4rem;
            margin-left: 1.6rem;
            display: none;
            height: calc(100vh - 16.7rem);
            overflow-y: auto;

            &--active {
                display: block;
                width: 30%;
            }
        }

        &__table {
            @include mobile-tablet-mix {
                width: calc(100% - 9.3rem);
            }

            &--minimized {
                width: 100%;
            }

            &__tiles {
                word-wrap: break-word;
                font-size: 1.3rem;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: flex-start;

                @include mobile {
                    flex-wrap: wrap;
                }

                &--minimized {
                    align-items: flex-start;

                    @include mobile-tablet-mix {
                        display: flex;
                        justify-content: space-around;
                        flex-flow: unset;
                    }
                }
            }

            &__disabled-card {
                pointer-events: none;
                cursor: not-allowed;
                opacity: 0.6;
            }

            &__block {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding-right: 2.4rem;

                @include mobile {
                    padding: 1rem;
                }

                &:hover {
                    cursor: pointer;
                }

                span {
                    width: 9.1rem;
                    word-wrap: break-word;
                    text-align: center;
                }

                &--minimized {
                    width: 6.4rem;

                    & .dc-text {
                        width: 8rem;
                        text-align: center;
                    }
                }
            }

            &__images {
                background-color: var(--general-section-1);
                margin-bottom: 0.8rem;
                border-radius: 0.8rem;
                padding: 1.6rem;

                &--minimized {
                    @include mobile {
                        width: 6.4rem;
                        height: 6.4rem;
                        padding: 0.8rem;
                    }
                }
            }

            .load-strategy {
                &__recent-item-time {
                    font-size: var(--text-size-xs);
                }

                &__recent-item-text {
                    display: -webkit-box;
                    max-width: 90%;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    word-break: break-all;
                }
            }
        }
    }
}
