.cashier-onboarding {
    height: calc(100vh - 20rem);

    @include mobile {
        height: unset;
        margin-top: 2.4rem;
    }

    &__loader {
        position: relative;
        left: 0;
    }

    &-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;

        @include mobile {
            margin-right: 4rem;
            margin-left: 4rem;
        }

        &-learn-more {
            text-align: center;
        }
    }

    &-content {
        &::-webkit-scrollbar {
            display: none;
        }

        &__description {
            margin-bottom: 5rem;
        }
    }

    &-detail {
        margin: 2.4rem;
        width: 62.4rem;

        // TODO: Replace the media query with Mobile/Tablet mixin after syncing the responsive.js and devices.scss
        @media (max-width: 926px) {
            width: unset;
        }

        &__icons {
            position: relative;
            margin-top: auto;
            overflow: hidden;
            width: 100%;
        }

        &__div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 1.6rem;
            position: static;
            border: 2px solid var(--border-normal-1);
            border-radius: $BORDER_RADIUS * 2;
            margin: 0.8rem 0rem;
            cursor: pointer;
        }

        &__content {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
        }

        &__text {
            position: static;
            width: 100%;
        }

        &__array {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: static;
            margin-top: 1.6rem;
            gap: 1.2rem;
            width: 100%;
            white-space: nowrap;

            @include mobile {
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
            }
        }

        &__icons-array {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 1.2rem;
        }

        &__icon {
            margin-right: 1.2rem;

            @include mobile {
                display: inline-block;
            }
        }
    }

    &-side-note {
        &__link {
            cursor: pointer;
            display: flex;
            align-items: center;

            &:hover {
                text-decoration: underline var(--brand-red-coral);
            }

            .dc-text {
                margin-right: 0.4rem;
            }
        }

        &__text {
            margin-bottom: 0.8rem;

            &-nowrap {
                white-space: nowrap;
            }
        }
    }
}
