.wallets-list-card-dropdown {
    &__item {
        display: flex;
        gap: 1.6rem;

        &-content {
            display: flex;
            flex-direction: column;
        }
    }

    .wallets-textfield {
        min-width: unset;

        &__box {
            border: none;
            height: 2.4rem;
            padding: 0;

            &:has(.wallets-textfield__field:focus) {
                border: none;
            }
        }

        &__icon {
            &-right {
                margin-left: 0.8rem;
            }
        }

        input {
            font-size: 1.6rem;
            background: transparent;
            padding: 0;
        }
    }

    .wallets-dropdown {
        &__content {
            border: unset;
            background: transparent;
        }

        &__items {
            width: 26.9rem;
            padding: 0 0.8rem;
            top: 3.2rem;

            & > .wallets-dropdown__item:last-child {
                margin-bottom: 0.4rem;
            }
        }

        &__item {
            height: 6.4rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            border-radius: 0.4rem;
        }
    }
}
