.wallets-transactions-no-data-state {
    display: flex;
    padding-block: 3.2rem 1.6rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;

    @include mobile {
        padding-block: 0;
    }

    &__title {
        color: var(--system-light-1-prominent-text, #333);
        text-align: center;

        /* desktop/paragraph/P1 - bold */
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.4rem; /* 150% */
    }
}
