#mb-trading-wrapper {
    max-width: 1200px;

    #chart_wrapper {
        display: flex;
        padding-right: 5px;

        #trade_live_chart {
            display: flex;
            flex-direction: column;
            flex: 1;
            border: 1px solid $COLOR_GRAY;
            padding-right: 1px;
            height: calc(100% - 2px);
            min-height: 600px;

            #webtrader_chart, .webtrader-charts-chart-window-contianer, .chart-view {
                display: flex;
                flex: 1;
                height: auto;
                flex-direction: column;
            }
            #webtrader_chart {
                min-height: 600px;
            }
        }
    }
    #mb_trading {
        font-size: $FONT_SIZE_S;

        #notifications_wrapper {
            margin-left: 0;
        }
        #login_error_container {
            width: 100%;
            padding: 15px;
            background-color: $COLOR_WHITE;
            border: 1px solid $COLOR_GRAY;

            .login_error {
                width: 100%;
            }
        }
        #panel {
            margin-left: 10px;

            .selection_wrapper.less-margin-top .trade_form > div {
                margin-top: -10px;
            }
            #payout {
                height: auto;
                border-color: $COLOR_GRAY;
                border-top: 0;
                border-radius: 0;
                border-left: 0;

                &:focus {
                    outline: none;
                }
                &.error {
                    color: $COLOR_RED;
                }
            }
            #currency {
                line-height: 25px;
            }
            #payout_amount {
                line-height: 32px;
                white-space: nowrap;
                font-weight: bold;
                border: 1px solid $COLOR_GRAY;
            }
            .trade_form {
                &:not(.no-margin) {
                    margin-top: 10px;
                }
                > div {
                    .list {
                        background-color: $COLOR_WHITE;
                        border: 1px solid $COLOR_GRAY;
                        border-top: none;

                        &.invisible {
                            border: none;
                        }
                        > div {
                            background-color: $COLOR_WHITE;
                            border-color: $COLOR_GRAY;

                            &:hover {
                                background-color: $COLOR_GRAY !important;
                            }
                        }
                        &:hover {
                            background-color: $COLOR_WHITE;
                        }
                    }
                    .current {
                        background-color: $COLOR_WHITE;
                        border: 1px solid $COLOR_GRAY;

                        &:hover, &.primary-border-color {
                            border-color: $COLOR_BLUE;
                        }
                        .nav-caret {
                            position: absolute;
                            right: 0.6%;
                            bottom: 25px;
                        }
                    }
                    #currency {
                        .list > div {
                            height: 27px;
                        }
                        .current {
                            height: 25px;
                            border: 1px solid $COLOR_GRAY;
                            border-top: 0;

                            .nav-caret {
                                right: 65%;
                                bottom: 16px;

                                &:not(.invisible) + .symbols:before {
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                    &#category {
                        .current, .list > div {
                            height: 59px;
                        }
                    }
                }
                .contract-type {
                    padding-left: 0;
                    background-repeat: no-repeat;
                    background-position: center;
                    line-height: 18px;
                    height: 36px;
                    width: 100%;
                    margin-bottom: 5px;
                }
                &:hover {
                    .header-current {
                        .gr-row {
                            cursor: pointer;
                        }
                    }
                }
            }
            #underlying .list {
                width: auto;
            }
            .header-current {
                overflow: hidden;
                width: auto;
                border: 1px solid $COLOR_GRAY;
                border-bottom: none;
                background-color: $COLOR_WHITE;

                &.primary-border-color {
                    border-color: $COLOR_BLUE;
                }
                .gr-row {
                    margin: 0;
                }
                &-text {
                    padding: 10px 5px;
                    font-weight: 700;

                    &:first-child {
                        padding-right: 5px;
                    }
                    &:last-child {
                        padding-left: 5px;
                    }
                }
                > div {
                    background-color: $COLOR_WHITE;
                }
                &:hover {
                    &, + #period .current {
                        border-color: $COLOR_BLUE;
                    }
                }
                .nav-caret {
                    position: absolute;
                    bottom: 15px;
                    right: 3%;
                }
            }
            #period {
                .duration {
                    font-size: $FONT_SIZE_S;
                }
                .end {
                    font-weight: normal;
                }
                .current {
                    height: auto;
                    border-top: none;
                    padding-bottom: 9px !important;

                    div.head {
                        font-weight: bold;
                        margin-bottom: 5px;
                    }
                }
            }
        }
        .trade_form {
            &:not(.no-margin) {
                margin-top: 5px;
            }
            > div {
                text-align: center;
                background: $COLOR_LIGHT_GRAY;
                position: relative;

                .current {
                    height: 39px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    > div {
                        width: 100%;
                    }
                }
                > div {
                    background: $COLOR_LIGHT_GRAY;
                }
                .current, .list > div {
                    padding: 5px !important;
                    cursor: pointer;
                    height: 39px;

                    &:hover {
                        background-color: $COLOR_GRAY;
                    }
                }
                .list {
                    position: absolute;
                    z-index: 2;
                    width: 100%;
                    background-color: $COLOR_LIGHT_GRAY;

                    > div {
                        background: $COLOR_LIGHT_GRAY;
                    }
                }
            }
            > div#underlying:first-child .list > div {
                line-height: 28px;
                height: 75px;

                > img {
                    padding-top: 7px;
                }
            }
            #underlying {
                margin-top: -5px;

                div.current > div {
                    display: flex;
                }
                img {
                    height: 100%;
                    max-height: 30px;
                }
            }
            #category .gr-row {
                display: -webkit-box;
            }
            .contract-type {
                padding-left: 45px;
                background-repeat: no-repeat;
                background-position: left;
                line-height: 18px;
                height: 36px;
                display: flex;
                width: 50%;

                span {
                    margin-top: auto;
                    margin-bottom: auto;
                }
            }
            #period {
                .start, .end {
                    line-height: 20px;
                    font-weight: bold;
                }
                .duration {
                    font-size: $FONT_SIZE_N;
                }
                .current > div, .list > div {
                    align-items: center;
                }
            }
        }
        .price-table {
            position: relative;
            font-size: $FONT_SIZE_N;

            margin-top: 10px;
            margin-left: 0;

            #disable-overlay {
                position: absolute;
                top: 81px;
                z-index: 1;
                width: 100%;
                height: calc(100% - 81px);
                background-color: rgba(242, 242, 242, 0.5);
            }
            #loading-overlay {
                width: 100%;
            }
            .prices-wrapper {
                .heading {
                    font-weight: bold;

                    .hint {
                        font-weight: normal;
                    }
                }
                .heading, .price-row {
                    border: 1px solid $COLOR_GRAY;
                    border-bottom: none;
                }
                .contract-type {
                    padding-left: 0;
                    background-repeat: no-repeat;
                    background-position: center;
                    line-height: 18px;
                    height: 36px;
                    width: 100%;
                    margin-bottom: 5px;
                }
                .price-row:last-child {
                    border-bottom: 1px solid $COLOR_GRAY;
                }
                .price-row:nth-child(odd) {
                    background-color: $COLOR_WHITE;
                }
                .buy-price {
                    margin-top: 5px;
                }
                .heading > div {
                    line-height: 20px;
                    text-align: center;
                    padding: 10px 0;
                }
                .price-row > div {
                    line-height: 35px;
                    padding: 3px 0;
                    text-align: center;
                }
                .price-row .barrier {
                    line-height: 18px;
                    display: flex;
                    align-self: center;
                }
                .price-row div:last-child .buy-price .price-button {
                    background: $COLOR_RED;
                }
                .base-value {
                    font-size: $FONT_SIZE_XXS;
                    display: inline-block;
                    margin-left: 5px;

                    &:before {
                        content: '(';
                    }
                    &:after {
                        content: ')';
                    }
                }
                .dynamics {
                    display: inline-block;
                    width: 10px;
                    height: 15px;
                    background-repeat: no-repeat;
                    vertical-align: middle;

                    &.up {
                        background-image: svg-icon('up', $COLOR_BLACK);
                    }
                    &.down {
                        background-image: svg-icon('down', $COLOR_BLACK);
                    }
                }
                .inactive {
                    color: $COLOR_GRAY;

                    &.price-button {
                        color: $COLOR_WHITE;
                        background: $COLOR_GRAY !important;
                        opacity: 1;
                        cursor: default;
                        overflow: visible;
                    }
                    &:hover {
                        opacity: 1 !important;
                    }
                    .dynamics {
                        &.up {
                            background-image: svg-icon('up', $COLOR_GRAY);
                        }
                        &.down {
                            background-image: svg-icon('down', $COLOR_GRAY);
                        }
                    }
                }
                .price-button {
                    width: 100%;
                    color: $COLOR_WHITE;
                    text-align: center;
                    line-height: 100%;
                    background: $COLOR_LIGHT_BLUE;
                    border-radius: 3px;
                    padding: 0;
                    cursor: pointer;
                    font-size: $FONT_SIZE_S;
                    border: 0;
                    min-height: 30px;
                    position: relative;

                    .value-wrapper {
                        margin-left: -15px;

                        .dynamics {
                            &.up {
                                background-image: svg-icon('up', $COLOR_WHITE);
                            }
                            &.down {
                                background-image: svg-icon('down', $COLOR_WHITE);
                            }
                        }
                    }
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
        .remaining-time {
            color: $COLOR_BLACK;
            line-height: 20px;

            &.alert {
                color: $COLOR_RED;
            }
        }
        #spot {
            &.down {
                color: $COLOR_LIGHT_BLUE;
            }
            &.up {
                color: $COLOR_RED;
            }
        }
        @media screen and (max-width: 768px) {
            #notifications_wrapper {
                margin-left: -10px;
            }
            .gr-12-p {
                padding-bottom: 10px;
            }
            #panel {
                margin-left: 0;

            }
            .price-table {
                margin-left: -10px;
            }
        }
        @media screen and (max-width: 480px) {
            .price-table {
                #disable-overlay {
                    top: 43px;
                }
                .price-row .price-button {
                    font-size: $FONT_SIZE_N;
                }
                .prices-wrapper .heading > div {
                    padding: 5px 0;
                }
            }
            .heading, #category {
                font-size: $FONT_SIZE_S;
            }
            #payout .hint {
                line-height: 15px;
            }
        }
    }
    #trading_bottom_content {
        #tab_portfolio-content {
            overflow-x: auto;
        }
        #tab_explanation-content {
            .hide-mb {
                display: none;
            }
            .show-mb {
                display: block;
            }
            #winning_higherlower {
                display: flex;
                flex-direction: column;

                p {
                    margin-top: 0;

                    &:first-child {
                        order: 2;
                    }
                }
            }
        }
        @media all and (max-width: 480px) {
            .tab-menu-wrap {
                display: none;
            }
        }
    }
}
