.popup_bet_desc {
    padding: 5px 0;
    border: 1px solid $COLOR_GRAY;
}

#sell_popup_container {
    width: 90%;
    font-size: $FONT_SIZE_S;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;

    a.close {
        right: 0;
        line-height: 30px;
        width: 30px;
        height: 30px;
    }
    .inpage_popup_content {
        margin: 0;
    }
    &.message_popup {
        width: 500px;
        line-height: 25px;
    }
}

.inpage_popup_container {
    border: 2px solid $COLOR_BLUE;
    border-top: 1px solid $COLOR_WHITE;
    background-color: $COLOR_WHITE;

    .inpage_popup_content_box {
        border: 0;

        #contract_win_status {
            line-height: 30px;

            &.won {
                background-color: rgba(46, 136, 54, 0.2);
            }
            &.lost {
                background-color: rgba(204, 0, 0, 0.1);
            }
        }
        .popup_bet_desc {
            border: 0;
            padding: 5px;
            line-height: 20px;
            background-color: $COLOR_BLUE;
            color: $COLOR_WHITE;
            @include BIDIR_PROP(padding-right, padding-left, 30px);
        }
        td {
            @include BIDIR_PROP(padding-left, padding-right, 6%);
            @include BIDIR_VALUE(text-align, left, right);
        }
        #sell_content_wrapper {
            max-height: calc(100vh - 35px);
            overflow: auto;
            overflow-x: hidden;
            -ms-overflow-x: hidden;

            #sell_details_chart_wrapper {
                border-right: 1px solid $COLOR_DARK_GRAY;
                margin-right: -1px;
                padding: 10px 0;

                .error-msg {
                    text-align: center;
                    margin: 1em 0;
                }
                #tick_chart.normal-font {
                    font-size: $FONT_SIZE_S;

                    h5 {
                        font-size: $FONT_SIZE_N;
                        margin-top: 5px;
                        margin-bottom: 20px;
                    }
                    #table_digits {
                        strong {
                            margin-bottom: 10px;
                        }
                        p {
                            margin: 10px 0;

                            &.gray {
                                color: $COLOR_GRAY_SHADE;

                                strong {
                                    color: $COLOR_BLACK;
                                }
                            }
                        }
                    }
                }
                @media screen and (max-width: 768px) {
                    border-right: none;
                }
            }
            #sell_details_table, #sell_details_audit {
                padding: 0;
                border-left: 1px solid $COLOR_DARK_GRAY;

                th {
                    line-height: 24px;
                    border-bottom: $COLOR_GRAY_SHADE;

                    @media screen and (max-width: 480px) {
                        line-height: 30px;
                    }
                }
                td, td[data-balloon] {
                    border-bottom: 1px solid $COLOR_LIGHT_GRAY;
                    vertical-align: middle;
                }
                #trade_details_profit_loss {
                    font-weight: bold;

                    span.percent {
                        font-size: $FONT_SIZE_XXS;
                        @include BIDIR_PROP(padding-left, padding-right, 7px);
                        font-weight: normal;
                    }
                }
                .last_cell {
                    border-bottom: 0;
                    min-height: 20px;
                    padding: 5px 15px;
                    text-align: center;
                }
                #trade_details_message {
                    font-style: italic;
                }
                #contract_sell_message {
                    font-size: $FONT_SIZE_S;
                    line-height: 20px;
                }
                #sell_at_market_wrapper .note {
                    line-height: 18px;
                    margin-bottom: 10px;
                    font-size: $FONT_SIZE_XS;
                    padding: 3px 10px;
                }
                #trade_details_entry_spot, #trade_details_current_spot {
                    line-height: 32px;

                    span {
                        padding-right: 20px;
                    }
                    a {
                        margin-bottom: 0;
                    }
                }
                .audit-table {
                    padding: 40px;

                    &:nth-child(2) {
                        padding-bottom: 0;
                    }
                    legend {
                        font-size: $FONT_SIZE_L;
                    }
                    table td {
                        text-align: center;
                        line-height: 24px;
                        padding-left: 4px;
                        margin-bottom: 5px;
                        border: none;
                        font-size: $FONT_SIZE_S;

                        &.remark, &.secondary-time, &.secondary-bg-color {
                            font-weight: bold;
                            display: flex;
                            justify-content: center;
                        }
                        &.secondary-time {
                            border-radius: $BORDER_RADIUS 0 0 $BORDER_RADIUS;
                        }
                        &.audit-dates {
                            border-radius: 0 $BORDER_RADIUS $BORDER_RADIUS 0;
                        }
                        &.spot-value {
                            border-radius: $BORDER_RADIUS 0 0 $BORDER_RADIUS;
                        }
                        &.secondary-color {
                            font-size: $FONT_SIZE_N;
                        }
                        &.remark {
                            text-align: right;
                            padding-right: 20px;
                        }
                    }
                    @media screen and (max-width: 768px) {
                        padding: 20px;
                    }
                    @media screen and (max-width: 480px) {
                        padding: 5px;
                    }
                }
                .explanation-section {
                    padding: 40px;

                    p {
                        line-height: 25px;
                    }
                }
                @media screen and (max-width: 768px) {
                    border-left: none;
                }
            }
            #sell_details_audit {
                border-left: none;

                @media screen and (max-width: 480px) {
                    .view-chart {
                        display: none;
                    }
                    .previous-wrapper {
                        height: 30px;
                        width: 45px;
                    }
                }
            }
            @media only screen and (min-width: 767px) and (max-width: 768px) { /* ipad */
                max-height: 450px;
            }
        }
    }
}
