// styling for websocket pages that are too short or simple to need their own styling page

.api_token {
    fieldset {
        margin: 20px 0;

        label {
            text-decoration: none;
            @include BIDIR_PROP(margin-right, margin-left, 15px);
        }
    }
    table {
        tr {
            &.deleting {
                background-color: $COLOR_LIGHT_GRAY;
            }
            &.new {
                background-color: rgba(46, 136, 54, 0.2);
            }
        }
    }
}

#applications-container, .api_token {
    table td, th {
        text-align: center !important;
        vertical-align: middle;
        line-height: 30px;

        .button {
            margin: 3px 0;
        }
    }
}

.epg_forwardws-content iframe {
    height: 800px;
}

.detailsws-content {
    div.select-dropdown {
        width: 100%;
    }
    #address_form {
        select.select-hidden {
            min-width: 205px;
        }
        @media all and (max-width: 480px) {
            div.select {
                width: 85%;

                select.select-hidden {
                    min-width: unset;
                }
            }
        }
    }
    #frmPersonalDetails {
        @media all and (max-width: 480px) {
            div.select {
                width: 280px !important;
            }
        }
    }
}

#limits-container thead {
    @include BIDIR_VALUE(text-align, left, right);
}

#frm_assessment, #financial-form {
    div.select {
        min-width: 150px;
    }
    #source_of_wealth {
        min-width: 300px;
    }
    @media screen and (max-width: 480px) {
        label {
            text-align: left;
            margin-bottom: 0.5rem;
        }
    }
}

#financial-form {
    @media screen and (max-width: 480px) {
        div.select {
            width: calc(100% - 3rem);
        }
    }
}

#frm_account_transfer {
    div.select {
        select.select-hidden {
            min-width: 200px;
        }
        @media screen and (max-width: 480px) {
            width: calc(100% - 1rem);
        }
    }
}

#profit-table-container {
    th {
        padding-right: 8px;
    }
    td {
        padding-right: 8px;
    }
    .pl {
        text-align: right !important;
    }
    #pl-day-total .buy-date {
        flex-grow: 6;
        flex-shrink: 6;
    }
    .contract {
        flex: 2 1 100px;
        padding-right: 20px;
        min-width: 150px;
    }
    .new-width {
        min-width: 100px;
    }
}

#statement-container {
    #download_csv {
        line-height: 28px;
    }
    .desc {
        flex: 2 1 100px;
        padding-right: 20px;
        word-break: break-word;
        min-width: 130px;
    }
    .act {
        flex: 0.8 1 35px;
    }
    #account_statistics {
        border: 1px solid $COLOR_LIGHT_GRAY;
        margin: 30px 0;
        @media (max-width: 480px) {
            margin-bottom: 20px;
        }

        div {
            display: flex;
            justify-content: center;
            padding: 10px 20px;

            @media (max-width: 480px) {
                padding: 10px 20px;
            }
            @media (max-width: 576px) {
                padding: 10px;
            }
        }
        p {
            font-size: 1rem;
            font-weight: bold;
            margin: 0;
            line-height: 1.5;

            &:not(.title) {
                margin-top: 5px;
            }
        }
    }
    #download_statement_btn {
        margin-bottom: 0;
        margin-left: auto;

        @media (max-width: 480px) {
            margin: 20px 0;
        }
    }
}

#download-statement-container {
    min-height: 400px;

    #download_to, #download_from {
        display: inline;
        max-width: 220px;

        @media (max-width: 480px) {
            display: block;
            margin-left: 0;
            width: 100%;
            box-sizing: border-box;
        }
    }
}

#profit-table-container, #statement-container {
    #date_to {
        box-sizing: border-box;
    }
}

#settings_container {
    .round-box {
        border-radius: $BORDER_RADIUS;
    }
    .notice-circle {
        margin: auto 15px;
    }
}

.lightbox {
    &#top_up_virtual_pop_up, &#top_up_error, &#top_up_success {
        > div {
            max-width: 25em;
            padding: 32px;

            #btn_cancel {
                span {
                    width: calc(100% - 50px);
                }
            }
            #btn_ok {
                width: calc(100% - 25px);
            }
            &#dialog_content {
                padding: 22px 12px;
            }
        }
    }
    &#top_up_error {
        > div {
            #frm_confirm {
                width: 100%;
                text-align: center;

                .button span {
                    width: 40%;
                }
            }
        }
    }
    &#top_up_success {
        > div {
            #frm_confirm {
                width: 100%;
                text-align: center;

                .button span {
                    width: calc(50% - 55px);
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .api_token, #applications-container {
        table td, table th {
            font-size: $FONT_SIZE_XS;
        }
        table button {
            font-size: $FONT_SIZE_XS;
            padding: 10px 15px;
        }
    }
}

.cashier_note {
    .notice-circle {
        color: $COLOR_ORANGE;
        border-color: $COLOR_ORANGE;
    }
    p {
        color: $COLOR_BLUE;
    }
}

#have_real_account {
    display: flex;
    align-items: center;
    height: 100%;

    div {
        margin-right: 10px;
    }

    @media screen and (max-width: 480px) {
        justify-content: center;
    }
}

.realws-content {
    div.select-dropdown {
        width: 100%;
    }

    @media screen and (max-width: 480px) {
        width: 280px !important;
    }
}

#paymentagent_withdrawal {
    .wrapper-row-agent {
        label {
            padding-bottom: 10px;
        }
        .row-agent {
            > div {
                &:not(:first-child) {
                    margin-top: 10px;
                }
                &:nth-child(2) {
                    text-align: center;
                    width: 260px;
                }
            }
            .hint {
                width: 260px;
                line-height: 1.4;
            }
        }
    }
    .select-dropdown, #txtAgents, #txtAmount, .row-agent .hint, .row-agent > div:nth-child(2) {
        min-width: 260px;
    }
    .select-options {
        min-width: 276px;
    }
    #txtDescription {
        width: 260px;
    }
    .separator-line {
        border-color: $COLOR_LIGHT_GRAY;
    }
    @media screen and (max-width: 480px) {
        .wrapper-row-agent {
            .row-agent {
                margin-left: auto;
                margin-right: auto;
                width: auto;

                .hint, > div:nth-child(2) {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
        .select {
            width: 302px;
        }
        .row-agent > div:nth-child(2) {
            width: 100%;
        }
        #txtAgents, #txtAmount, #txtDescription, .row-agent .hint {
            width: 284px;
        }
        .select-options {
            width: 290px;
        }
    }
}
