// TODO: Utilize tokens from "@deriv-com/quill-ui/quill.css";
$TABS_HEIGHT: 4.8rem;

.positions-page {
    height: 100%;
    background-color: var(--core-color-solid-slate-75);

    .tab-list--container {
        display: block;
        justify-content: unset;
        background-color: var(--core-color-solid-slate-50);

        button {
            width: 50%;
        }
    }
    &__tabs {
        height: 100%;

        &-content {
            height: calc(100% - $TABS_HEIGHT);

            & > div {
                height: 100%;

                .positions-page {
                    &__open,
                    &__closed {
                        height: 100%;
                        overflow-y: scroll;
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
    &__filter {
        &__wrapper {
            padding-block: var(--core-spacing-400);
            padding-inline-start: var(--core-spacing-400);
            display: flex;
            gap: var(--core-spacing-400);
            flex-wrap: wrap;
        }
    }
    .initial-loader {
        height: 100%;
    }
}
