$TABS_HEIGHT: var(--core-size-2400);

.positions-page {
    height: 100%;
    background-color: var(--core-color-solid-slate-75);
    position: relative;

    .tab-list--container {
        display: block;
        justify-content: unset;
        background-color: var(--core-color-solid-slate-50);

        button {
            width: 50%;
        }
    }
    &__tabs {
        height: 100%;

        &-content {
            height: calc(100% - $TABS_HEIGHT);
            overflow-y: hidden;

            & > div {
                height: 100%;

                .positions-page {
                    &__open,
                    &__closed {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        overflow-y: scroll;
                    }
                }
            }
        }
    }
    &__filter {
        &__wrapper {
            padding: var(--core-spacing-400);
            display: flex;
            gap: var(--core-spacing-400);
            overflow-x: auto;
            min-height: var(--core-spacing-2400);
            white-space: nowrap;

            -ms-overflow-style: none; /* Internet Explorer 10+ */
            scrollbar-width: none; /* Firefox */

            &::-webkit-scrollbar {
                display: none; /* Safari and Chrome */
            }

            .quill-chip {
                display: inline-flex;
            }
        }
    }
    .initial-loader {
        height: 100%;
    }
}

.positions-loader {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .skeleton {
        &-filters,
        &-total-pnl-or-date {
            display: flex;
            gap: var(--semantic-spacing-gap-md);
            margin: var(--semantic-spacing-gap-md) 0;
            padding: 0 var(--semantic-spacing-gap-md);
        }
        &-total-pnl-or-date {
            justify-content: space-between;
        }
        &-contract-card-list {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: var(--semantic-spacing-gap-md);
            padding: 0 var(--semantic-spacing-gap-md);
        }
    }
}
