// Fonts
@import 'deriv-shared/src/styles/google-fonts.scss';

.bot {
    --run-panel-width: 366;
    --header-footer-height: 84;
    --bot-toolbar_height: 56;
    --bot-content-height: calc(100vh - 140px);
}
