.footer_extensions {
    display: inline;

    &__button {
        font-size: 14px;
        font-weight: 700;
        padding: 8px;

        &:hover,
        &--active {
            border-top: 1px solid var(--brand-red-coral);
        }
    }
}