/**
* @define -panel
**/
.run-panel {
    &__footer {
        text-align: center;
    }
    &__button {
        margin-left: 0 !important;

        &--run {
            background: var(--purchase-main-1) !important;
        }
        &--loading {
            pointer-events: none;
        }
    }
    &__icon-info {
        vertical-align: middle;
    }
}