@keyframes animate-progress {
    0% {
        width: 0%;
    }
    100% {
        width: calc(50% - 3.5px);
    }
}

@keyframes animate-progress-complete {
    0% {
        width: 50%;
    }
    100% {
        width: calc(100% - 5px);
    }
}

@keyframes animate-circle {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.animation {
    $static-circle-diameter: 8px;
    $dynamic-circle-diameter: 8px;
    $animation: &;

    &__container {
        width: 354px;
        padding: 5px 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 4px;
        border: solid 1px #d6dadb; // TODO color
    }
    &__text {
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 5px;
    }
    &__progress {
        display: flex;
        justify-content: space-between;
        position: relative;

        .circular-wrapper {
            width: $static-circle-diameter;
            height: $static-circle-diameter;
            display: flex;

            &.completed {
                .static-circle {
                    background-color: #4bb4b3; // TODO color
                }
            }
            &.active {
                .dynamic-circle {
                    position: absolute;
                    width: calc(#{$dynamic-circle-diameter} + 4px);
                    height: calc(#{$dynamic-circle-diameter} + 4px);
                    background-color: #4bb4b3; // TODO color
                    border-radius: 100%;
                    opacity: 0.32;
                    margin-left: -1.55px;
                    margin-top: -1.55px;
                    animation: animate-circle 0.8s infinite;
                    // transform: translate(-50%, -50%);
                    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
                    // z-index: 1;
                }
                .static-circle {
                    border: 2px solid #4bb4b3; // TODO color
                    background-color: #ffffff;
                }
            }
            .static-circle {
                width: $static-circle-diameter;
                height: $static-circle-diameter;
                border-radius: 100%;
                background-color: #f4f4f6;
                align-self: center;
                z-index: 1;
            }
        }
        &-line {
            background-color: #f4f4f6;
            height: 2.5px;
            width: 100%;
            top: 40%;
            position: absolute;
        }
        &-bar {
            background-color: $COLOR_GREEN_1;
            width: 0;
            height: 100%;
        }
        &-2 {
            animation: animate-progress 0.5s 1;
            animation-fill-mode: forwards;
        }
        &-3 {
            animation: animate-progress-complete 0.5s 1;
            animation-fill-mode: forwards;
        }
        &-4 {
            width: 100%;
        }
    }
    &--running {
        #{$animation}__progress {
            .static-circle {
                background-color: #ffad3a;
            }
        }
    }
}
