.transactions {
    &__header {
        display: flex;
        font-size: 12px;
        font-weight: bold;
        line-height: 40px;
        width: 100%;
        padding-left: 31px;
        border-bottom: 1px solid var(--border-normal);

        &--col {
            display: table-cell;
            vertical-align: middle;

            &:nth-child(1) {
                width: 35%;
            }
            &:nth-child(2) {
                width: 30%;
            }
            &:nth-child(3) {
                width: 35%;
            }
        }
    }
    &__item {
        display: table;
        font-size: 10px;
        text-align: left;
        width: 90%;
        height: 40px;
        border: 1px solid var(--border-normal);
        border-collapse: initial;
        border-radius: 4px;
        margin: 8px 0 0 16px;
        padding: 0 8px;
    }
    &__inline {
        display: inline-block;
        margin-right: 5px;
    }
    &__middle {
        vertical-align: middle;
    }
    &__margin-bottom {
        margin-bottom: 6px;
    }
    &_row {
        display: flex;
    }
    &__col {
        padding: 4px 0;
        vertical-align: middle;

        &:nth-child(1) {
            width: 45%;
        }
        &:nth-child(2) {
            width: 35%;
        }
        &:nth-child(3) {
            width: 15%;
        }
        &:nth-child(4) {
            width: 5%;
        }
    }
    &__green {
        color: var(--text-profit-success);
        font-weight: bold;

        &:before {
            content: '+';
        }
    }
    &__red {
        color: var(--text-loss-danger);
        font-weight: bold;

        &:before {
            content: '-';
        }
    }
}