.wallets-carousel-content {
    background-color: #f2f3f4;
    width: 100vw;
    padding: 2rem;
    overflow: hidden;
    gap: 1.6rem;

    &__container {
        height: 17.6rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1.6rem;

        & > .wallets-card__details {
            width: 45vw;
        }
    }

    &__progress-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.6rem;
    }
}
