.skeleton {
    width: 100%;
    height: 100%;
    background-color: var(--semantic-color-monochrome-surface-normal-lowest);
    border-radius: var(--semantic-borderRadius-md);

    &.animated {
        animation: var(--motion-duration-moderate) ease-out alternate infinite pulsate;

        @keyframes pulsate {
            to {
                background-color: var(--semantic-color-monochrome-surface-normal-low);
            }
        }
    }
    &.icon {
        width: var(--size-generic-md);
        height: var(--size-generic-md);
    }
    &-paragraph {
        display: flex;
        flex-direction: column;
    }
}
