.wallets-cfd-nakala-modal {
    width: 485px;
    border-radius: 0.8rem;
    background: var(--system-light-8-primary-background, #fff);

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-block: 1.9rem 1.6rem;
        padding-inline: 2.4rem 1.6rem;
        box-shadow: 0px 2px 0px 0px #f2f3f4;

        h2 {
            margin: 0;
            font-size: 1.6rem;
        }
    }

    &__body {
        padding-block: 3.2rem;
        padding-inline: 2.4rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    &__logo-container {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

    &__close {
        cursor: pointer;
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__description {
        margin-bottom: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            margin-bottom: 0.8rem;
            color: #101213;
        }
    }

    &__getting-started {
        width: 100%;
        background-color: var(--general-section-1);
        border-radius: 0.8rem;
        padding: 2.4rem;

        h3 {
            margin-bottom: 1.6rem;
        }
    }

    &__steps {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }

    &__step {
        display: flex;
        align-items: flex-start;
        gap: 1.2rem;
    }

    &__step-number {
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        background-color: var(--text-prominent);
        color: var(--text-colored-background);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }

    &__qr-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        width: 100%;
        max-width: 240px;

        &-help {
            margin-bottom: 1.6rem;
            text-align: center;

            a {
                text-decoration: underline;
                font-weight: bold;
            }
        }

        &-code {
            width: 80px;
            height: 80px;
            margin-bottom: 0.8rem;
        }

        &-text {
            font-size: 12px;
            color: var(--text-less-prominent);
            text-align: center;
        }
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        box-shadow: 0px -2px 0px 0px var(--border-divider);
        padding: 15px 24px;

        button {
            span {
                font-size: 14px;
            }
        }
    }

    &__footer--mobile {
        position: absolute;
        bottom: 0;
        width: 100%;

        button {
            width: 100%;
        }
    }

    @media screen and (max-width: 786px) {
        width: 100%;
        height: 100%;
    }

    .wallets-cfd-nakala-modal {
        &--paragraph {
            @include typeface(--paragraph-left-normal-black, none);
            color: var(--text-less-prominent);
            line-height: 1.45;
        }

        &__login-specs {
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            border-radius: 0.8rem;
            overflow: hidden;
            width: 100%;
        }
    }
}

.wallets-nakala-modal-info {
    border-radius: 0.4rem;
    background: rgba(55, 124, 252, 0.16);
    display: flex;
    padding: 0.8rem;
    gap: 0.8rem;
    margin: 1.6rem auto;
    width: 100%;
    align-items: center;
    margin-bottom: 0.5rem;
}

.wallets-nakala-modal-maintenance {
    display: flex;
    gap: 0.8rem;
    margin-bottom: 1.6rem;
    margin-left: 0.7rem;

    span {
        color: #999999;
    }
}
