.cashier-search-box {
    width: 100%;
    margin-right: 1.6rem;
    .dc-input {
        margin-bottom: 0;
        height: 3.2rem;
        overflow: hidden;
        &__field {
            padding: 0.6rem 3.2rem;
            height: 3.2rem;
        }
        &__leading-icon {
            margin-left: 0.8rem;
            top: 0.8rem;
        }
        &__trailing-icon {
            cursor: pointer;
        }
    }
}
