.transfer-confirm {
    @include mobile {
        &__row,
        &__warnings,
        &__checkbox,
        &__submit {
            width: 100%;
        }
    }

    width: 100%;
    padding: 0 1.6rem;

    &__header {
        margin-top: 1.4rem;
        margin-bottom: 2.4rem;
    }

    &__column {
        &-wrapper {
            @include mobile {
                flex-direction: column;
            }

            display: flex;
            justify-content: center;
            width: 100%;
        }
    }

    &__row {
        display: flex;
        row-gap: 1.2rem;
        justify-content: space-between;
        width: 40rem;
        padding: 0.8rem 0;
        border-bottom: 1px solid var(--general-section-1);
        column-gap: 1.6rem;

        &-label,
        &-value {
            display: flex;
            flex-direction: column;
            row-gap: 1.2rem;
        }

        > :last-child {
            max-width: 50%;

            &.description {
                word-wrap: break-word;
            }
        }
    }

    &__warning-icon {
        @include mobile {
            min-width: 4.8rem;
            min-height: 4.8rem;
            margin: 1.6rem 0;
        }

        min-width: 7.2rem;
        min-height: 7.2rem;
        margin-top: 0.8rem;
        margin-bottom: 2.4rem;

        &__description {
            @include mobile {
                margin-bottom: 4rem;
            }

            margin-bottom: 3.2rem;
        }
    }

    &__warnings {
        @include mobile {
            margin-bottom: 2.4rem;
        }

        display: flex;
        flex-direction: column;
        width: 40rem;
        margin: 4rem auto 3.2rem;

        &-bullet {
            flex: none;
            width: 0.4rem;
            height: 0.4rem;
            margin-top: 0.65rem;
            margin-right: 0.8rem;
            border-radius: 100%;
            background-color: var(--text-loss-danger);

            &-wrapper {
                display: flex;
            }
        }
    }

    &__checkbox {
        width: 40rem;

        .dc-checkbox__box {
            margin-left: 0;
        }
    }

    &__checkbox-label {
        font-size: var(--text-size-xxs);
    }

    &__submit {
        @include mobile {
            margin: 4rem auto 3.2rem;
        }

        display: flex;
        justify-content: flex-end;
        width: 40rem;
        margin: 4rem auto 0;

        > :not(:first-child) {
            margin-left: 0.8rem;
        }
    }
}
