.passkeys {
    width: 100%;
    margin-inline: auto;
    &-status {
        &__wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-block: 1.6rem;

            &--expanded {
                display: block;

                .dc-icon {
                    display: block;
                    margin-inline: auto;
                }

                .passkeys-status__title {
                    margin-bottom: 0;
                }
            }
        }
        &__title {
            margin: 2.4rem auto 0.8rem;
        }
        &__description {
            &-card {
                display: flex;
                flex-direction: column;
                gap: 0.8rem;
                border-bottom: 1px solid var(--general-hover);
                padding: 1.6rem 0;
            }
            &-container {
                display: flex;
                flex-direction: column;
            }
            &-tips {
                &-wrapper {
                    display: flex;
                    padding: 1.6rem;
                    margin-top: 1.6rem;
                    border-radius: 2 * $BORDER_RADIUS;
                    border: 1px solid var(--border-normal);
                    gap: 0.8rem;

                    svg {
                        flex-shrink: 0;
                    }
                }
                &-container {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

    .dc-btn {
        height: 4rem;
    }

    &-card {
        &__wrapper {
            display: flex;
            gap: 0.8rem;
            margin-block: 1.6rem;

            & > .dc-icon:last-child {
                margin-left: auto;
            }
        }
    }
}
