.my-profile-balance-modal {
    &__body {
        padding: 0.8rem 2.4rem;

        @include mobile-or-tablet-screen {
            padding: 0 1.6rem;
        }

        &-text {
            margin-bottom: 1.6rem;
        }

        &-list {
            list-style: disc;
            margin: 0 0 0.6rem 2rem;

            li {
                margin-bottom: 1rem;
            }
        }

        &-note {
            font-style: italic;
            margin-top: 1.6rem;
        }
    }
}
