@import './google-drive';
@import './delete-dialog';

.load-strategy {
    &__wrapper {
        position: fixed;
        top: 4rem;
        z-index: 10;
        width: 100%;

        .dc-mobile-full-page-modal {
            @include mobile {
                width: 100%;
            }

            &__body {
                height: 100%;
            }

            .google-drive-label {
                width: 100%;
            }
        }

        & .dc-tabs {
            @include mobile {
                display: unset;
                flex: 1;
                height: 100%;

                &__content {
                    height: calc(100% - 4rem);
                }
            }
        }
    }

    &__container {
        @include desktop {
            height: calc(80vh - 15rem);

            &--has-footer {
                height: calc(80vh - 15rem);
            }

            > * {
                height: 100%;
                margin-top: 0.8rem;
            }
        }

        @include tablet {
            height: calc(80vh - 15rem);

            &--has-footer {
                height: calc(80vh - 15rem);
            }

            > * {
                height: 100%;
                margin-top: 0.8rem;
            }
        }

        @include mobile {
            overflow: hidden;
            height: 100%;
        }
    }

    &__title {
        margin: 1.6rem 1.6rem 1.6rem 0;
        color: var(--text-general);
        font-weight: 700;
        font-size: var(--text-size-s);

        &--listed {
            margin: 0 !important;
        }
    }

    &__button-group {
        display: flex;
        justify-content: flex-end;
        margin-right: 1.6rem;

        &--clear {
            width: 6.7rem;
            height: 3.4rem;
            margin-right: 1.6rem;
            border: none;
            border-radius: 0.4rem;
            background-color: $color-grey-6;
            color: $color-white;
            outline: none;
            font-weight: 700;
            font-size: 1.4rem;
            cursor: pointer;
        }

        &--open {
            height: 3.4rem;
            border: none;
            border-radius: 0.4rem;
            background-color: $color-red;
            color: $color-white;
            outline: none;
            font-weight: 700;
            font-size: '1.4rem';
            cursor: pointer;
        }
    }

    &__preview-workspace {
        position: relative;
        overflow: hidden;
        height: calc(100vh - 32.4rem);
        margin: 0 1.6rem 1.6rem 0;
        padding: 1.5rem;
        border: solid 1px var(--border-normal);
        border-radius: $BORDER_RADIUS;

        &-controls {
            position: absolute;
            right: 1.6rem;
            bottom: 1.6rem;
            z-index: 99;
            display: flex;
            flex-direction: column;
            padding: 0.7rem 0.5rem;
            border-radius: 3rem;
            background-color: $color-grey-2;
            box-shadow: 0.2rem 0.2rem 0.5rem var(--shadow-menu);
        }

        &-icon {
            margin: 0.5rem;
            cursor: pointer;
        }
    }

    &__recent {
        display: flex;
        gap: 1.6rem;

        &-preview-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--text-general);
        }

        &__files {
            @include mobile {
                overflow: auto;
                height: calc(100vh - 35rem);
            }

            flex-basis: 100%;
            height: calc(100% - 3.8rem);

            &__list {
                @include mobile {
                    overflow: unset;
                    height: calc(100vh - 18rem);
                    padding-right: 1rem;
                }

                overflow: auto;
                width: 100%;
                height: calc(100% - 15rem); // 100% - Title height
            }
        }

        &__preview {
            display: flex;
            flex-basis: 65%;
            flex-direction: column;

            &__title {
                margin-left: 0;
            }
        }

        &-empty {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            &-icon {
                margin-bottom: 1.6rem;
            }

            &-title {
                margin-bottom: 0.8rem;
                font-weight: bold;
                font-size: var(--text-size-s);
                line-height: 2.4rem;
            }

            &-description {
                margin-bottom: 1.6rem;
                font-size: var(--text-size-xs);
                line-height: 2rem;
            }

            &-expand {
                margin-bottom: 0.8rem;
                color: var(--brand-red-coral);
                font-weight: bold;
                font-size: var(--text-size-xs);
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }

            &-explanation {
                font-size: var(--text-size-xxs);
                text-align: left;
                opacity: 0;

                &-list {
                    margin-top: 0.8rem;
                }

                &--show {
                    width: fit-content;
                    opacity: 1;
                }
            }
        }

        &__empty {
            text-align: center;
        }

        &-item {
            @include tablet {
                grid-template-columns: 4fr 4fr 4fr 1fr;
            }

            @include mobile {
                grid-template-columns: 4fr 4fr 4fr 1fr;
            }

            @include desktop {
                grid-template-columns: repeat(3, 1fr) 1.5fr;
            }

            @include mobile {
                // TODO: without it doesn't work as expected, improve later
                grid-template-columns: 1fr 0.8fr 0.6fr 0.3fr;
            }

            position: relative;
            display: grid;
            grid-template-areas: ('text location');
            align-items: center;
            padding: 0.8rem;
            text-align: center;

            &:nth-last-child(-n + 5) {
                .load-strategy__recent-item__mobile {
                    top: -15rem;

                    &--min {
                        top: 1rem;
                        right: 6rem;
                    }
                }
            }

            & .dc-text {
                @include mobile {
                    width: unset;
                    font-size: var(--text-size-xxs);
                    white-space: nowrap;
                }

                &:hover {
                    cursor: pointer;
                }
            }

            &--minimized {
                grid-template-columns: 1fr 0.8fr 0.6fr 0.3fr;

                .load-strategy__recent-item--minimized > div:last-child {
                    // iphone 14 specific
                    @media (height >= 450px) and (height <= 750px) {
                        padding-bottom: 10rem;
                    }
                }
            }

            &__mobile {
                position: absolute;
                top: 4rem;
                right: 3rem;
                z-index: 100;
                display: none;
                min-width: 15rem;
                background: var(--general-main-1);
                box-shadow: 0 0 2rem rgb(0 0 0 / 5%), 0 1.6rem 2rem rgb(0 0 0 / 5%);

                &--active {
                    display: block;
                }
            }

            &__group {
                display: flex;
                align-items: center;
                height: 4rem;
                padding: 0.8rem 1.1rem;

                &:last-child {
                    box-shadow: inset 0 0.1rem 0 $color-grey-2;
                }

                &__label {
                    margin-left: 0.8rem;
                }
            }

            &.load-dialog {
                padding: 1.6rem;
            }

            &__loaded {
                @include tablet {
                    padding: 1rem 0.6rem;
                }

                @include mobile {
                    padding: 1rem 0.6rem;
                }

                padding: 1rem 3rem;
                text-align: left;

                .load-strategy__recent-item-text {
                    height: unset;
                }
            }

            &__loaded--first-child {
                border: none;

                &:hover {
                    background: none;
                    background-color: none;
                    cursor: default;
                }
            }

            &:not(:last-child) {
                border-bottom: solid 1px var(--border-normal);
            }

            &--selected {
                background-color: var(--state-active);
            }

            &-text {
                display: flex;
                justify-content: center;
                width: 100%;
                height: unset;
                margin-right: 1.6rem;
                word-break: break-word;

                &.load-dialog {
                    display: flex;
                    padding: 1.2rem 0;
                    text-align: left;
                }
            }

            &-title {
                width: 100%;
                margin-right: 1.6rem;
                color: var(--text-general);
                font-size: var(--text-size-xs);
                line-height: 1.25;
                word-break: break-word;
            }

            &-time {
                width: 100%;
                margin-right: 1.6rem;
                color: var(--text-general);
                font-size: var(--text-size-xxs);
                word-break: break-word;
            }

            &-location {
                display: flex;
                align-items: center;
                width: 100%;
                color: var(--text-general);
                word-break: break-word;

                &.load-dialog {
                    justify-content: center;
                }
            }

            &-saved {
                margin-left: 1rem;
                font-size: var(--text-size-xs);
                line-height: 1.43;
                word-break: break-word;
            }

            &__button {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-right: 2rem;
                padding: 0.2rem;

                &:last-child {
                    margin-right: 0;
                }

                .dc-icon {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    &__local {
        &-dropzone {
            @include desktop {
                padding-top: 1.6rem;
            }

            @include mobile {
                height: 100%;
                padding: 1.6rem;
            }

            &-area {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                padding: 1.6rem;
                border: dashed 0.2rem var(--border-normal);
                border-radius: $BORDER_RADIUS;
            }
        }

        &-icon {
            margin-bottom: 1.6rem;
        }

        &-title {
            margin-bottom: 1.6rem;
            font-size: var(--text-size-s);
        }

        &-description {
            margin-bottom: 1.6rem;
            font-size: var(--text-size-xs);
        }

        &-preview {
            @include mobile {
                height: calc(100% - 7.4rem); // - footer height
                padding: 1.6rem;

                &--active {
                    height: calc(70% - 7.4rem);
                }
            }

            position: relative;
            display: flex;
            flex-direction: column;

            &--listed {
                @include mobile {
                    padding: 0;
                }
            }

            &-close {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 99;
                padding: 2.5rem;
                border-bottom-left-radius: 50%;
                background-image: radial-gradient(at right top);
                cursor: pointer;
            }
        }

        &-footer {
            display: flex;
            justify-content: flex-end;
            padding: 1.6rem;
            border-top: 1px solid var(--general-section-1);
        }
    }

    &__google-drive {
        @include mobile {
            height: calc(100% - 3.2rem); // - 2x margin.
            margin: 1.6rem;
            padding: 1.6rem;
            border: dashed 0.2rem var(--border-normal);
            border-radius: $BORDER_RADIUS;
        }

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-icon {
            margin-bottom: 1.6rem;

            &--disabled {
                opacity: 0.32;
            }
        }

        &-connected-text {
            margin-bottom: 1.6rem;
            color: var(--text-general);
            font-weight: bold;
            font-size: var(--text-size-s);
            line-height: 2.4rem;
        }

        &-terms {
            margin: 1.6rem 0;
            color: var(--text-general);
            font-size: var(--text-size-xs);
            line-height: 2rem;
            text-align: center;
        }

        &-text {
            margin-bottom: 1rem;
        }
    }
}

.picker {
    @include mobile {
        top: 0;
        width: 100%;
        height: 100%;
    }

    max-width: 98%;
    max-height: 99%;
    border-radius: 0.8rem;

    &-content {
        max-width: 98%;
        padding: 1%;
    }
}

.dc-modal__container_load-strategy {
    @include tablet {
        width: calc(100vw - 4.8rem) !important;
    }
}

.dc-dialog {
    @include mobile {
        &__wrapper--preview {
            top: 6.5rem;

            .dc-dialog {
                &__dialog {
                    justify-content: flex-start;
                    min-width: 100vw;
                    min-height: 100vh;
                    padding: 0;
                }

                &__header {
                    &-wrapper {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 4rem;
                        margin-bottom: 0;
                        box-shadow: inset 0 -0.1rem 0 $color-grey-2;

                        h1 {
                            width: 100%;
                            text-align: center;
                        }
                    }

                    &--close {
                        margin-top: -1rem;
                        padding: 1.6rem;
                    }
                }

                &__content {
                    max-width: unset;

                    .injectionDiv {
                        height: calc(100vh - 26.5rem);
                        margin: 2.4rem;
                        border: 1px solid $color-grey-6;
                    }

                    .load-strategy {
                        &__preview-workspace {
                            &-container {
                                position: relative;
                                min-height: 33rem;
                                margin-bottom: 3.2rem;
                            }

                            &-controls {
                                right: 3.6rem;
                            }
                        }

                        &__button-group {
                            margin: 0;
                            padding: 1.6rem;
                            box-shadow: inset 0 0.2rem 0 $color-grey-2;
                        }
                    }
                }

                &__footer {
                    display: none;
                }
            }
        }
    }
}

.toolbar {
    &__dialog {
        transition: none;
    }
}
