@import '../skeletonLoader.scss';

.cfd-app-skeleton-loader {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;

        &__icon {
            height: 38px;
            border-radius: 8px;
            width: 57px;
        }
        &__title {
            height: 24px;
            border-radius: 8px;
            width: 106px;
        }
    }

    &__body {
        height: 24px;
        border-radius: 8px;
        width: 422px;
    }
}
