.traders-hub-banner {
    &__container {
        position: relative;
        margin-bottom: 2.4rem;
        overflow: hidden;
        background-color: var(--general-main-1);
        border: 1px solid var(--traders-hub-banner-border-color);
        border-radius: $BORDER_RADIUS * 4;

        @include mobile {
            padding: 1.4rem 1.6rem;
            border-radius: $BORDER_RADIUS * 2;
        }
    }

    &__image {
        position: absolute;
        z-index: 0;
        right: 0;
        bottom: 0;
        border-top-right-radius: $BORDER_RADIUS * 4;
        border-bottom-right-radius: $BORDER_RADIUS * 4;

        @include mobile {
            right: -0.1rem;
            bottom: -0.1rem;
            border-radius: $BORDER_RADIUS * 2;
        }
    }

    &__migrate-banner {
        height: 18rem;

        @include mobile {
            height: 10.8rem;
        }

        &-description {
            position: relative;
            z-index: 2;
            max-width: 57.5rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: baseline;
            padding-left: 4.8rem;

            @include mobile {
                padding-left: 0;
                &__text {
                    width: 90%;
                }
            }
        }

        &-button {
            margin-top: 0.8rem;
            padding-inline: 6.7rem;

            @include mobile {
                padding-inline: 1.6rem;
            }
        }
    }
}
