.wallets-primary-action-button {
    display: flex;
    height: 32px;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #ff444f;
    border: unset;
    cursor: pointer;
}
