.wallet-cards-carousel {
    margin: -1.6rem -1.6rem -1.4rem;
    padding: 2.4rem 0 1.6rem;

    &__pagination {
        margin-block: 1.6rem;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        gap: 0.8rem;
    }
}
