.wallet-cards-carousel {
    margin: -1.6rem -1.6rem -1.4rem;
    padding: 2.4rem 0 1.6rem;

    &__viewport {
        overflow: hidden;
    }
    &__container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 2.4rem;
    }
    &__pagination {
        margin-block: 1.6rem;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        gap: 0.8rem;
    }
}

.wallet-carousel-content-container {
    display: flex;
    padding: 1.6rem;
    flex-direction: column;
    align-items: center;
    background-color: var(--general-main-1);

    &-demo {
        background-color: var(--wallet-demo-bg-color);
    }
}
