@import '../../components/SkeletonLoader/SkeletonLoader.scss';

.wallets-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--balance-loader {
        padding: 0.7rem;
        width: 8rem;
        background-color: #f8f5f542;
        border-radius: 0.5rem;
    }

    &__details {
        display: flex;
        min-width: 16rem;
        padding: 0.8rem;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        aspect-ratio: 1.667;

        &__top {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
        }

        &__bottom {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
        }

        &-landing_company {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 0.4rem;
        }
    }
}
