@import '../../components/SkeletonLoader/SkeletonLoader.scss';

.wallets-card {
    // Removes styling for button
    background: none;
    color: inherit;
    border: none;
    outline: inherit;

    &__carousel-content {
        background-color: transparent;
        margin: 0 -0.4rem;

        &:first-child {
            margin-inline-start: 0;
        }

        &-details {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            padding: 1.6rem;
            width: 28.8rem;
            height: 17.6rem;

            &-top {
                justify-content: flex-start;
                width: unset;
            }
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__balance-loader {
        padding: 0.7rem;
        width: 8rem;
        background-color: #f8f5f542;
        border-radius: 0.5rem;
    }

    &__details {
        display: flex;
        min-width: 16rem;
        padding: 0.8rem;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        aspect-ratio: 1.667;

        &-top {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
        }

        &-bottom {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
        }
    }
}
