.dc-form-progress {
    position: relative;
    width: 100%;

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 3.2rem;

        & > h2 {
            margin: 2rem 0 0;
            text-transform: none;
        }
    }

    &__step {
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 160px;
        height: 6rem;

        & .identifier {
            display: block;
            width: 24px;
            border: 1px solid var(--text-less-prominent);
            border-radius: 50%;
            background-color: var(--text-less-prominent);

            &--active {
                border: 1px solid var(--brand-red-coral) !important;
                background-color: var(--brand-red-coral) !important;
            }
        }
    }

    &__steps {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        &--before {
            content: '';
            position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
            inset: 1.7rem 0 0;
            margin: 0 auto; /* this centers the line to the full width specified */
            border-top: 2px solid var(--text-less-prominent);
        }

        &--after {
            @include desktop {
                content: '';
                position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
                top: 1.7rem;
                bottom: 0;
                left: 0;
                margin: 0 auto; /* this centers the line to the full width specified */
            }

            @include mobile {
                position: absolute;
                top: 0;
            }

            border-top: 2px solid var(--brand-red-coral);
            transition: width 0.3s ease;
        }
    }

    &--initial {
        border-top: 2px solid var(--checkbox-disabled-grey);
    }
}
