.dc-form-progress {
    width: 100%;
    position: relative;

    &__header {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 3.2rem;

        & > h2 {
            text-transform: none;
            margin: 2rem 0 0;
        }
    }
    &__step {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 6rem;
        width: 134px;
        z-index: 2;
        gap: 1rem;

        & .identifier {
            border-radius: 50%;
            display: block;
            width: 24px;
            background-color: var(--text-less-prominent);
            border: 1px solid var(--text-less-prominent);
            margin-top: 4px;

            &--active {
                background-color: var(--brand-red-coral) !important;
                border: 1px solid var(--brand-red-coral) !important;
            }
        }
    }
    &__steps {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        position: relative;

        &--before {
            bottom: 0;
            content: '';
            left: 0;
            margin: 0 auto; /* this centers the line to the full width specified */
            position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
            right: 0;
            top: 1.7rem;
            border-top: 2px solid var(--text-less-prominent);
        }
        &--after {
            border-top: 2px solid var(--brand-red-coral);
            transition: width 0.3s ease;
            @include desktop-screen {
                bottom: 0;
                content: '';
                left: 0;
                margin: 0 auto; /* this centers the line to the full width specified */
                position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
                top: 1.7rem;
            }
            @include mobile-or-tablet-screen {
                position: absolute;
                top: 0;
            }
        }
    }

    &--initial {
        border-top: 2px solid var(--checkbox-disabled-grey);
    }
}
