.get-more-accounts {
    cursor: pointer;
    border-radius: 12px;
    display: flex;
    align-items: center;
    border: 2px dashed var(--general-hover);
    padding: 1rem 1.8rem;
    height: 8rem;
    &__icon {
        margin-inline-end: 1.5rem;
    }
    &__details {
        line-height: 0.9;
        &--title {
            color: var(--text-general);
            font-size: 1.4rem;
            font-weight: 700;
            padding-bottom: 0.5rem;
        }
    }
}
