.block-user {
    &__list {
        display: flex;
        flex: 1;
        flex-direction: column;
        height: 100%;

        & .search-box {
            margin: 0rem 0.8rem 2.4rem;
            width: 20rem;
        }

        &-header {
            display: flex;
            flex-direction: row;
        }
    }

    &__modal {
        @include mobile {
            display: flex;
            flex-direction: column;
            grid-template-rows: 1fr 8rem;
            height: 100%;
            overflow-x: hidden;
            width: 100vw;

            .search-box {
                margin: 1rem auto;
                width: 91%;
            }
        }
    }
}
