.mock-dialog {
    position: absolute;
    bottom: 4.6rem;
    right: 1rem;
    width: 34rem;
    border-radius: $BORDER_RADIUS;
    padding: 1.2rem 1.6rem;
    background-color: var(--general-main-1);
    box-shadow: 0 20px 13px rgba(0, 0, 0, 0.01), 0 4px 3px rgba(0, 0, 0, 0.02);
    border: 1px solid var(--general-hover);
    z-index: 69420;

    &__title {
        margin-bottom: 1.4rem;
    }

    &__status {
        border-radius: 4px;
        border: 2px solid;
        padding: 0.8rem 1.2rem;
        margin-bottom: 2.4rem;

        &--offline {
            background-color: #f3f4f6;
            border-color: #e5e7eb;

            .dc-text {
                color: #6b7280;
            }
        }
    }

    &__form {
        display: flex;
        min-height: 40rem;
        flex-direction: column;
        gap: 2rem;

        &--dropdown-container {
            display: inline-flex;
            gap: 1rem;

            button {
                height: unset;
            }
        }

        &--input {
            margin-bottom: unset;
        }

        &--submit-container {
            display: flex;
            justify-content: end;
            gap: 1rem;

            button:disabled {
                cursor: not-allowed;
                span {
                    color: #9ca3af;
                }
            }
        }
    }
}
