.dc-dropdown {
    &__label {
        position: absolute;
        z-index: 2;
        padding: 0 4px;
        background-color: var(--fill-normal);
        color: var(--text-prominent);
        font-size: var(--text-size-xs);
        pointer-events: none;
        transition: 0.25s ease all;
        transform: translate(0.5rem, -1rem) scale(0.75);

        &--clicked {
            color: var(--brand-secondary);
        }
    }

    &__display {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3.2em;
        border: 1px solid var(--border-normal);
        border-radius: $BORDER_RADIUS;
        background: var(--fill-normal);
        cursor: pointer;

        &:hover {
            border-color: var(--border-hover);
            outline: 0;
        }

        &:active,
        &:focus {
            border-color: var(--border-active);
            outline: 0;
        }

        &-text {
            display: flex;
            padding-right: 2.5em;
            padding-left: 1em;
            white-space: nowrap;

            &--placeholder:after {
                content: attr(placeholder);
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                pointer-events: none;
            }
        }

        &--has-suffix-icon {
            justify-content: start;
            width: 21rem;
            padding-right: 0;
            padding-left: 3rem;
        }

        &--is-left-text {
            justify-content: flex-start;

            .dc-dropdown__display-text {
                display: inline-block;
                overflow: hidden;
                padding-left: 1.2rem;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        &--duration {
            margin-top: 1rem;
            border: none !important;

            .dc-dropdown__display-text {
                padding: 0 !important;
                color: var(--text-general) !important;
            }
        }

        &--has-symbol {
            justify-content: unset;
        }

        &--no-border {
            border-color: var(--fill-normal);
        }

        &-placeholder {
            position: absolute;
            top: 1.2rem;
            left: 1rem;
            pointer-events: none;
            transition: 0.25s ease all;
            transform: translateZ(0);
            transform-origin: top left;

            &-text {
                padding: 0 4px;
                background: var(--fill-normal);
            }

            &--is-left-text {
                left: 8px;
                justify-content: flex-start;

                &.dc-dropdown__display-placeholder--is-title {
                    padding: 0 2px;
                    white-space: nowrap;
                    transform: translate(0, -1.7rem) scale(0.75);

                    .dc-dropdown__display-placeholder-text {
                        color: var(--text-general) !important;
                    }
                }
            }
        }
    }

    &__inner {
        width: 0;
        height: 0;
        opacity: 0;
        pointer-events: none;
    }

    &__container {
        position: relative;
    }

    &__hint {
        margin-left: 1.2rem;
    }

    &--no-margin .dc-dropdown__display {
        margin: 0;
    }

    &__select-arrow {
        @include typeface(--title-center-normal-black, none);
        @extend %inline-icon;

        position: absolute;
        top: calc(50% - 7px);
        right: 12px;
        display: inline-block;
        vertical-align: baseline;
        font-style: normal;
        pointer-events: none;
        transition: transform 0.2s ease;
        transform: rotate(0deg);
        transform-origin: 50% 45%;
        text-rendering: optimizelegibility;

        &:before {
            content: '\002303';
            display: block;
            height: 0.53em; // center content glyph
        }

        &--up {
            transform: rotate(-180deg);
        }

        &--error {
            top: 1.4rem;
        }
    }

    &:active,
    &:focus,
    &--show {
        border-radius: $BORDER_RADIUS;
        outline: none;

        .dc-dropdown__select-arrow {
            color: var(--text-general);
        }
    }

    &--error {
        margin-bottom: -1.8rem;

        & .dc-dropdown__display {
            border-color: var(--brand-red-coral) !important;
        }

        & .dc-dropdown__label {
            color: var(--brand-red-coral) !important;
        }
    }

    &__list {
        position: absolute;
        bottom: -0.4rem;
        left: 0;
        z-index: 999;
        width: 100%;
        height: 0;
        opacity: 0;
        user-select: none;
        transition: transform 0.25s ease, opacity 0.25s linear;
        transform: scale(1, 0);

        &--enter,
        &--exit {
            opacity: 0;
            transform: scale(1, 0);
        }

        &--enter-done {
            opacity: 1;
            transform: scale(1, 1);
        }

        &--top {
            top: 0.8em;
            bottom: unset;
        }

        &--left {
            top: -0.1em;

            &--enter,
            &--exit {
                opacity: 0;
                transform: scale(1, 1) translate3d(2em, 0, 0);
            }

            &--enter-done {
                opacity: 1;
            }
        }

        &--portal {
            height: auto;
            margin: 0.4rem 0;

            .dc-list {
                position: static;
            }
        }
    }

    &--left {
        .dc-dropdown__display {
            text-align: center;

            &-text {
                padding-left: unset;
            }

            &-symbol {
                position: relative;
                right: 0;
                float: right;
                margin-right: 0.6em;
                margin-left: auto;
            }
        }

        .dc-dropdown__select-arrow {
            right: unset;
            left: 0.6em;
        }
    }

    &--show {
        .dc-dropdown__display {
            border: 1px solid var(--border-active);
        }

        & > .dc-dropdown__select-arrow {
            transform: rotate(-180deg);

            &--left {
                transform: rotate(-180deg);
            }
        }
    }

    &--disabled {
        pointer-events: none;

        .dc-dropdown__display {
            border: 1px solid var(--general-disabled);

            &-text {
                color: var(--text-less-prominent);
            }
        }
    }

    &-container {
        position: relative;
        width: 100%;
        min-width: 15rem;
        margin-top: 0.8rem;

        &:not(.cfd-personal-details-modal__form *) {
            margin-top: unset;
        }

        // keep <select /> element on top of .dc_dropdown__label
    }

    &--has-placeholder {
        .dc-dropdown__display {
            height: 4rem;

            .dc-dropdown__display-placeholder {
                &-text {
                    color: var(--text-less-prominent);
                }

                &-text-limit-fit {
                    display: inline-block;
                    overflow: hidden;
                    max-width: calc(40rem - 3.6rem); // 3.6rem represents the width of a dropdown arrow
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            &--clicked {
                .dc-dropdown__display-placeholder-text {
                    color: var(--brand-secondary) !important;
                }
            }
        }

        .dc-dropdown__select-arrow {
            top: 12px;
            right: 16px;
        }
    }

    &--has-suffix-icon {
        max-width: fit-content;
        margin-top: 0;
        margin-left: 1rem;
    }
}

.suffix-icon {
    position: absolute;
    left: 20px;
}
