.dc-dropdown {
    &__label {
        position: absolute;
        font-size: var(--text-size-xs);
        transform: translate(0.5rem, -1rem) scale(0.75);
        z-index: 2;
        color: var(--text-prominent);
        padding: 0 4px;
        background-color: var(--fill-normal);
        pointer-events: none;
        transition: 0.25s ease all;

        &--clicked {
            color: var(--brand-secondary);
        }
    }
    &__display {
        cursor: pointer;
        border-radius: $BORDER_RADIUS;
        height: 3.2em;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--fill-normal);
        border: 1px solid var(--border-normal);
        &:hover {
            outline: 0;
            border-color: var(--border-hover);
        }
        &:active,
        &:focus {
            outline: 0;
            border-color: var(--border-active);
        }
        &-text {
            padding-left: 1em;
            padding-right: 2.5em;
            display: flex;
            white-space: nowrap;

            &--placeholder:after {
                content: attr(placeholder);
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
            }
        }
        &--has-suffix-icon {
            width: 21rem;
            padding-left: 3rem;
            padding-right: 0;
            justify-content: start;
        }
        &--is-left-text {
            justify-content: flex-start;

            .dc-dropdown__display-text {
                padding-left: 1.2rem;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                display: inline-block;
            }
        }
        &--duration {
            border: none !important;
            margin-top: 1rem;
            .dc-dropdown__display-text {
                color: var(--text-general) !important;
                padding: 0 !important;
            }
        }
        &--has-symbol {
            justify-content: unset;
        }
        &--no-border {
            border-color: var(--fill-normal);
        }
        &-placeholder {
            position: absolute;
            top: 1.2rem;
            left: 1rem;
            pointer-events: none;
            transition: 0.25s ease all;
            transform: translateZ(0);
            transform-origin: top left;

            &-text {
                padding: 0 4px;
                background: var(--fill-normal);
            }
            &--is-left-text {
                justify-content: flex-start;
                left: 8px;

                &.dc-dropdown__display-placeholder--is-title {
                    transform: translate(0, -1.7rem) scale(0.75);
                    padding: 0 2px;
                    white-space: nowrap;

                    .dc-dropdown__display-placeholder-text {
                        color: var(--text-general) !important;
                    }
                }
            }
        }
    }
    &__inner {
        pointer-events: none;
        opacity: 0;
        height: 0;
        width: 0;
    }
    &__container {
        position: relative;
    }
    &__hint {
        margin-left: 1.2rem;
    }
    &--no-margin .dc-dropdown__display {
        margin: 0;
    }
    &__select-arrow {
        display: inline-block;
        font-style: normal;
        vertical-align: baseline;
        text-rendering: optimizeLegibility;
        position: absolute;
        pointer-events: none;
        top: calc(50% - 7px);
        right: 12px;
        transition: transform 0.2s ease;
        transform: rotate(0deg);
        transform-origin: 50% 45%;
        @include typeface(--title-center-normal-black, none);
        @extend %inline-icon;

        &:before {
            content: '\002303';
            display: block;
            height: 0.53em; // center content glyph
        }
        &--up {
            transform: rotate(-180deg);
        }
        &--error {
            top: 1.4rem;
        }
    }
    &:active,
    &:focus,
    &--show {
        outline: none;
        border-radius: $BORDER_RADIUS;

        .dc-dropdown__select-arrow {
            color: var(--text-general);
        }
    }
    &--error {
        margin-bottom: -1.8rem;

        & .dc-dropdown__display {
            border-color: var(--brand-red-coral) !important;
        }
        & .dc-dropdown__label {
            color: var(--brand-red-coral) !important;
        }
    }
    &__list {
        left: 0;
        bottom: -0.4rem;
        height: 0;
        width: 100%;
        position: absolute;
        transition: transform 0.25s ease, opacity 0.25s linear;
        user-select: none;
        opacity: 0;
        transform: scale(1, 0);
        z-index: 999;

        &--enter,
        &--exit {
            transform: scale(1, 0);
            opacity: 0;
        }
        &--enter-done {
            transform: scale(1, 1);
            opacity: 1;
        }
        &--top {
            bottom: unset;
            top: 0.8em;
        }
        &--left {
            top: -0.1em;

            &--enter,
            &--exit {
                transform: scale(1, 1) translate3d(2em, 0, 0px);
                opacity: 0;
            }
            &--enter-done {
                opacity: 1;
            }
        }
        &--portal {
            height: auto;
            margin: 0.4rem 0;

            .dc-list {
                position: static;
            }
        }
    }
    &--left {
        .dc-dropdown__display {
            text-align: center;

            &-text {
                padding-left: unset;
            }
            &-symbol {
                right: 0;
                float: right;
                position: relative;
                margin-left: auto;
                margin-right: 0.6em;
            }
        }
        .dc-dropdown__select-arrow {
            left: 0.6em;
            right: unset;
        }
    }
    &--show {
        .dc-dropdown__display {
            border: 1px solid var(--border-active);
        }
        & > .dc-dropdown__select-arrow {
            transform: rotate(-180deg);

            &--left {
                transform: rotate(-180deg);
            }
        }
    }
    &--disabled {
        pointer-events: none;

        .dc-dropdown__display {
            border: 1px solid var(--general-disabled);

            &-text {
                color: var(--text-disabled);
            }
        }
    }
    &-container {
        position: relative;
        margin-top: 0.8rem;
        min-width: 15rem;
        width: 100%;

        &:not(.cfd-personal-details-modal__form *) {
            margin-top: unset;
        }

        // keep <select /> element on top of .dc_dropdown__label
    }
    &--has-placeholder {
        .dc-dropdown__display {
            height: 4rem;

            .dc-dropdown__display-placeholder {
                &-text {
                    color: var(--text-less-prominent);
                }
                &-text-limit-fit {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: inline-block;
                    max-width: calc(40rem - 3.6rem); //3.6rem represents the width of a dropdown arrow
                }
            }
            &--clicked {
                .dc-dropdown__display-placeholder-text {
                    color: var(--brand-secondary) !important;
                }
            }
        }
        .dc-dropdown__select-arrow {
            top: 12px;
            right: 16px;
        }
    }
    &--has-suffix-icon {
        margin-left: 1rem;
        margin-top: 0;
        max-width: fit-content;
    }
}

.suffix-icon {
    position: absolute;
    left: 20px;
}
