/** @define cashier; weak */
.cashier {
    &__counter {
        position: absolute;
        top: 0.4rem;
        right: -1.5rem;
    }
    &__content {
        width: 100%;

        &-header {
            margin-bottom: 3.2rem;
            @include mobile {
                padding-top: 1.6rem;
                margin-bottom: 0;
            }
        }
    }
    &__wrapper {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        &,
        &--align-left {
            color: var(--text-general);
            width: 100%;
            height: 100%;
            line-height: 1.43;
            @include mobile {
                height: inherit;
            }

            // TODO: Replace the media query with Mobile/Tablet mixin after syncing the responsive.js and devices.scss
            @media (max-width: 926px) {
                width: auto;
                height: auto;
                margin: 0 1.6rem;
            }

            .inline-icon .color1-fill {
                fill: var(--text-general);
            }
        }
        &--align-left {
            text-align: left;
        }
        &-padding {
            padding: 1.6rem;
        }
        &--align-center {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &--is-mobile {
            // TODO: Replace the media query with Mobile/Tablet mixin after syncing the responsive.js and devices.scss
            @media (max-width: 926px) {
                width: 100vw;
            }

            @include mobile {
                width: 100vw;
                margin-top: 4rem;
                .dc-collapsible {
                    position: relative;
                    background-color: var(--general-section-1);
                    margin-bottom: 0.8rem;
                    transform: none;
                    width: 100%;
                    z-index: 1;
                }
                .cashier__wrapper {
                    width: calc(100% - 3.2rem);
                    margin: 0 1.6rem;

                    &-error {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        flex-direction: column;
                        padding-top: 2.4rem;
                    }
                }
                .barspinner {
                    margin-top: 6rem;
                }
            }
        }
        .withdraw__input {
            margin: 2.4rem 0 !important;
            width: fit-content;
            min-width: 36rem;
            @include mobile {
                width: 100%;
                min-width: auto;
                margin-bottom: 2.6rem !important;
            }
        }
    }
    &__loader {
        font-size: 1rem;
    }
    &__header {
        @include mobile {
            font-size: 1.4rem;
        }
    }
    &__form {
        &-submit {
            text-align: right;
        }
        &-submit-button {
            margin: 3.9rem 0 2.4rem 2.4rem;
        }

        @include mobile {
            &-submit {
                margin: 1.6rem 0;
                flex-flow: column;
                height: unset;
                margin-bottom: 1.6rem;
            }
            &-submit-button {
                margin: 0;
                width: 100%;
            }
        }
    }
    &__input {
        display: inline-block !important;
        margin-bottom: 0 !important;
        @include mobile {
            margin-bottom: 3.2rem !important;
        }
    }
    &__drop-down,
    &__drop-down-wrapper .cashier__drop-down {
        &-wrapper {
            display: flex;
            flex-direction: column;

            .dc-select-native__placeholder {
                background-color: var(--general-main-1);
            }
        }
        &-display {
            justify-content: left;
            min-height: 4rem;
            min-width: 28.3rem;
            height: auto;
            @include mobile {
                min-height: auto;
                min-width: calc(100% - 4rem);
                display: flex;
                align-items: center;
            }

            &-span {
                font-size: 1.4rem;
                text-align: left;
                padding: 9px 36px 9px 12px;
                text-transform: none;
                line-height: 1.43;
                display: flex;
                align-items: center;
            }
        }
        &-items,
        &-label {
            justify-content: left;
        }
        &-items {
            svg {
                width: 24px;
                height: 24px;
            }
        }
        &-label {
            margin: 0 1.6rem;
        }
    }
    &__transferred {
        &-amount {
            margin-top: 2rem;
            margin-bottom: 2.4rem;

            & .symbols {
                padding-left: 0.8rem;
            }
        }
        &-details {
            margin-left: 0.8rem;
            margin-right: 0.8rem;
            vertical-align: super;
            max-width: 20rem;
            display: flex;
            flex-direction: column;

            &-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        &-icon {
            @extend %inline-icon;
            transform: scale(-1, 1);
            vertical-align: middle;
            margin: 0 1.6rem;
        }
    }
    &__paragraph {
        align-self: center;
    }
    &__text {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
        @include mobile {
            max-width: 100%;
            min-width: unset;
            margin: 0;
            padding: 0;
            text-align: left;
        }
    }
    &__tab-header-note {
        max-width: 256px;
    }
    &__success {
        text-align: center;
        background-color: var(--general-main-1);
        padding: 2.4rem;
        width: 50.4rem;
        margin: 0 auto 2rem;
    }
    &__done-button {
        width: 18.9rem;
        margin-left: 0.8rem;
        white-space: normal;
    }
    &__no-balance {
        &-icon {
            margin-bottom: 1.6rem;

            + .dc-text {
                margin-bottom: 8px;
            }
        }
        &-button {
            margin: 3.2rem auto;
        }
        @include mobile {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            &-button {
                width: calc(100% - 3.2rem);
            }
            &-icon {
                margin-top: 3.2rem;
            }
        }
    }
    &__page-wrapper {
        @include mobile {
            /* postcss-bem-linter: ignore */
            & .dc-page-overlay__header {
                position: fixed;
                top: 4rem;
                width: 100%;
                height: 4rem;
            }

            .dc-page-overlay__header.dc-page-app__header {
                top: 0rem;
            }
        }

        &-button {
            min-width: 25.8rem;
            padding: 6px 16px;
            margin-right: 0.1rem;
        }
        .acc-prompt-dialog {
            padding: 0 1rem;
        }
    }
    &-locked {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 67.2rem;
        margin: 4rem auto 0;

        /* stylelint-disable-next-line plugin/selector-bem-pattern */
        .dc-checklist {
            width: 100%;
            max-width: 500px;
        }
        /* stylelint-disable-next-line plugin/selector-bem-pattern */
        .dc-checklist__item-text {
            max-width: 320px;
        }
        &__icon {
            width: 12.8rem;
            height: 12.8rem;
            margin-bottom: 2.4rem;
        }
        &__title {
            margin-bottom: 0.8rem;
            @include mobile {
                margin-left: 1.2rem;
                margin-right: 1.2rem;
            }
        }
        &__desc {
            margin-bottom: 3.2rem;
            @include mobile {
                padding: 0 1rem;
            }
        }
    }
}

// Able to scroll the page container (app-contents) until 926px (MobileWrapper) if it should be scrollable
@media (max-width: 926px) {
    .app-contents--is-mobile,
    .app-contents--is-scrollable {
        overflow-y: auto;
    }
}
