.react-rnd-wrapper {
    z-index: var(--zindex-draggable-modal);
    transition: opacity 0.25s cubic-bezier(0.25, 0.1, 0.1, 0.25);
    cursor: default !important;
    color: var(--text-general);
    background: var(--general-main-2);
    border-radius: 8px;
    box-shadow: 0px 0px 8px 4px var(--shadow-menu);

    &--enter,
    &--exit {
        opacity: 0;

        .dc-dialog__dialog {
            transform: translate3d(0, 50px, 0);
            opacity: 0;
        }
    }
    &--enter-done {
        opacity: 1;

        .dc-dialog__dialog {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }

    &-header {
        cursor: move;
        display: flex;
        justify-content: space-between;
        padding: 16px;
        &__title {
            font-size: 16px;
            font-weight: 700;
        }
        &__close {
            cursor: pointer;
        }
    }
}
