.wallet-wizard {
    .details-form {
        &__elements {
            width: 100% !important;
            margin: 0px !important;
        }
    }
    &-create-wallet {
        &-right-panel {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
