.create-ad-add-payment-method-modal {
    &__body {
        display: flex;
        flex-direction: column;
        padding: 1rem 1.6rem 0;
        width: 100vw;

        @include tablet-screen {
            width: 100%;
        }

        &--form {
            padding: 1rem 0 0;
        }

        &--scroll {
            overflow: auto;
            padding: 0;
        }

        &--horizontal {
            padding-right: 0rem;
        }
    }

    &__error {
        &--form {
            height: fit-content !important;
        }

        .dc-modal-header__title--create-ad-add-payment-method-modal__error {
            padding: 2.4rem 2.4rem 0 !important;
        }
        .dc-modal__container_create-ad-add-payment-method-modal__error {
            .dc-modal-footer {
                padding-top: 0 !important;
            }

            .dc-modal-header {
                padding-bottom: 1rem;
            }
        }
    }

    &__icon {
        margin-right: 0.8rem;
    }
}
