.wallets-other-cfd {
    &__title {
        color: #333;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.4rem; /* 150% */
    }

    &__content {
        display: grid;
        gap: 1.6rem 4.8rem;
        grid-template-columns: repeat(3, 1fr);

        @include mobile {
            grid-template-rows: 1fr;
            grid-template-columns: auto;
        }

        &__details {
            flex-grow: 1;
            &-title {
                font-weight: bold;
                font-size: 1.4rem;
                line-height: 2rem;
            }

            &-description {
                font-size: 1.2rem;
                line-height: 1.4rem;

                @include mobile {
                    font-size: 1.4rem;
                    line-height: 2rem;
                }
            }
        }
    }
}
