.my-profile-balance {
    &__amount {
        margin-inline-end: 0.8rem;
    }

    &__column {
        flex-direction: column;
    }

    &__icon {
        cursor: pointer;
        margin-inline-start: 0.5rem;
    }

    &__row {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
