.dw-template {
    &__app-to-trade {
        margin-top: 4rem;

        &-card {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 2.4rem;
            margin-top: 2.4rem;

            &--three-column {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
        &-benefit {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 2.4rem;
            margin-top: 2.4rem;

            &--three-column {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
    &__instrument {
        margin-top: 4rem;

        &-container {
            margin-top: 2.4rem;
        }
        &-pair-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 3.6rem;
            margin-top: 3rem;
            margin-bottom: 4.4rem;
        }
    }
    &__indices {
        margin-top: 4rem;

        &-container {
            display: flex;
            flex-direction: column;
            margin-top: 4rem;
        }
        &-pair-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 2.4rem;
            margin-top: 2.4rem;
        }
        .trade-type-template__line {
            margin-bottom: 0;
        }
    }
    &__you-might-like {
        background-color: var(--general-hover);

        &-wrapper {
            display: flex;
        }
    }
    &__line {
        width: 93.6rem;
        height: 1px;
        border: 1px solid var(--general-section-1);
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
}
