.wallet-button {
    &__mobile-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        min-width: 5.6rem;

        &-icon {
            padding: 0.8rem;
            border: 1px solid var(--border-normal);
            border-radius: 50%;
        }

        &-text {
            margin-top: 0.4rem;
        }
    }

    &__desktop-item {
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 3.2rem;
        border-radius: $BORDER_RADIUS * 4;
        padding: 0.6rem 1.6rem;
        margin-right: 0.8rem;
        border: 1px solid var(--border-hover);
        background-color: var(--prominent);

        &:hover:not(&-disabled) {
            background-color: var(--button-secondary-hover);
        }

        &-disabled {
            cursor: auto;
            border: 1px solid var(--general-disabled);
        }

        &-text {
            margin-left: 0.8rem;
        }

        &-transition {
            &-enter {
                transform: translateX(-1rem);
                opacity: 0;
            }

            &-enter-active {
                transition: all 240ms ease-in-out;
                transform: translateX(0);
                position: relative;
                opacity: 1;
            }

            &-enter-done {
                transform: translateX(0);
                opacity: 1;
            }

            &-exit {
                transform: translateX(0);
                opacity: 1;
            }

            &-exit-active {
                transition: all 240ms ease-in-out;
                transform: translateX(-1rem);
                position: relative;
                opacity: 0;
            }

            &-exit-done {
                opacity: 0;
            }
        }
    }
}
