.dc-text {
    font-size: var(--text-size);
    color: var(--text-color);
    line-height: var(--text-lh);

    &--bold {
        font-weight: bold;
    }
    &--left {
        text-align: left;
    }
    &--right {
        text-align: right;
    }
}
