.orders {
    flex: 1;
    display: flex;
    flex-direction: column;

    @include mobile {
        overflow: hidden;
    }

    & .initial-loader {
        @include mobile {
            height: 80%;
        }
    }
    & .p2p-empty {
        &__button {
            @include mobile {
                width: 100%;
                padding: 1rem;
            }
        }
        @include mobile {
            padding: 4rem 1.6rem;
            margin: 0rem;
        }
    }
    &__empty {
        width: fit-content;
        margin: 0 auto;
        transform: translate(-100%, 20%);
        text-align: center;

        &-text {
            margin: 24px 0;
            font-weight: 700;
            font-size: var(--text-size-s);
        }
    }
    &-tab {
        @include mobile {
            height: 7.7rem;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            border-bottom: 1px solid var(--general-section-1);
        }
        &__header {
            width: fit-content;
            border-radius: 4px;

            &-filter {
                .dc-button-menu__wrapper {
                    button.dc-btn {
                        height: 3.6rem;
                        min-width: 12rem !important;
                        white-space: nowrap;
                        padding: 0.8rem 1.8rem;
                    }
                }
            }
            @include mobile {
                align-self: center;
            }
        }
    }
    &__button {
        margin: 0 1.6rem;
    }
    &__dialog {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: var(--shadow-menu);

        & .dc-dialog__dialog {
            width: auto;
            height: auto;
            padding: 0;
            max-width: 440px;
            min-height: 0;
            min-width: 44rem;
        }
        & .dc-dialog__content {
            margin-bottom: 0;
            width: 100%;
            max-width: 100%;
        }
    }
    &__separator {
        width: 100%;
        border-bottom: 1px solid var(--general-section-1);
    }
    &__mobile {
        display: grid;
        grid-template-areas: ('header header-right' 'title title');
        padding: 1.6rem;
        border-bottom: 1px solid var(--general-section-1);

        &--attention {
            background: var(--button-tertiary-hover);
            border-bottom: 2px solid var(--general-section-1);
        }

        &-highlight-danger {
            background-color: #fff8f8;
        }
        & .dc-table__row {
            border-bottom: unset;
        }

        &-separator {
            width: 100vw;
            height: 1px;
            border-top: 1px solid var(--general-section-1);
            position: absolute;
            left: 0rem;
            margin: 1.6rem 0rem;
        }
        &-header {
            grid-area: header;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 2.4rem;

            &-right {
                grid-area: header-right;
                display: flex;
                justify-self: end;
            }
        }
        &-title {
            align-items: start;
            display: flex;
            flex-direction: column;
            grid-area: title;
            height: 4.9rem;
            justify-content: space-around;
            justify-self: start;
        }

        &-chat {
            margin-left: 0.9rem;
            display: flex;
            align-self: center;
        }
        &-time {
            border: solid 1px var(--border-normal);
            border-radius: 1.6rem;
            width: 7.8rem;
            height: 2.4rem;
            letter-spacing: 1px;
        }
        &-status {
            width: auto;
            padding: 0.2rem 1.6rem;
            border-radius: 1.6rem;
        }
    }
    &__table {
        display: flex;
        flex: 1;
        flex-direction: column;

        &-body {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        &-row {
            padding: 2.4rem;
            cursor: pointer;

            &--attention {
                background: var(--button-tertiary-hover);
            }
            &:not(.orders__table-row--header) {
                cursor: pointer;

                &:hover {
                    background: var(--general-hover);
                }
            }
        }
        &-time {
            border: solid 1px var(--border-normal);
            border-radius: 16px;
            width: 78px;
            height: 24px;
            padding: 2px;
            text-align: center;
            font-size: var(--text-size-xxs);
            letter-spacing: 1px;
        }
        &-grid {
            // Sizes are different for inactive due to timeout being full time string.
            grid-template-columns: 1fr 1.5fr 2fr 3fr 1.5fr 1.5fr 2fr;

            &--active {
                grid-template-columns: 1fr 1.5fr 2fr 3fr 1.5fr 1.5fr 1.5fr;
                margin-right: 0.5rem;
            }
        }
        &-status {
            border-radius: 16px;
            padding: 0.2rem 1.6rem;
            white-space: nowrap;

            &--danger {
                color: var(--brand-red-coral);
                background-color: $color-status-error;
            }
            &--alert {
                color: var(--status-warning);
                background-color: var(--status-alert-background);
            }
            &--success {
                color: var(--text-profit-success);
                background-color: $color-status-announcement;
            }
            &--disabled {
                color: var(--text-less-prominent);
                background-color: rgba(153, 153, 153, 0.16);
            }
            &--info {
                color: var(--status-info);
                background-color: rgba(28, 90, 227, 0.16);
            }
        }

        .dc-table__header {
            > .orders__table-grid {
                padding: 0 2.4rem;
            }
        }
    }

    &__data-list {
        flex: 1;

        &__data-list-body {
            flex: 1;
        }

        .data-list__body-wrapper {
            flex: 1;
        }
    }
    &__banner {
        margin-top: 1.6rem;
        width: fit-content;

        @include mobile {
            margin: 1.6rem 1.6rem 0;

            .dc-hint-box {
                align-items: normal;

                &__icon {
                    width: 3.5rem;
                }
            }
        }
    }
}
