.contract-details-footer {
    &--container {
        padding: 0 var(--semantic-spacing-general-sm) var(--semantic-spacing-general-sm);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--semantic-spacing-gap-md);
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 2; // chart has z-index: 1, it should not overlap buttons if screen height is small
    }

    &-button__wrapper {
        background-color: var(--semantic-color-slate-solid-surface-frame-low);
        width: 100%;

        button {
            .dc-remaining-time {
                font-size: var(--core-fontSize-100);
            }
        }
    }
}
