.wallets-withdrawal-crypto-disclaimer {
    width: 100%;

    &__text {
        font-size: 1rem;
        line-height: 1.4rem;
    }

    @include mobile-or-tablet-screen {
        max-width: 100%;
        max-height: 10.6rem;
    }

    &__items {
        list-style: disc;
        margin-left: 1.4rem;
    }
}
