/** @define app-contents; weak */
.app-contents {
    &--show-positions-drawer:not(&--is-mobile) {
        .trade-container {
            .chart-container {
                width: 100%;

                .sc-navigation-widget,
                .cq-top-ui-widgets,
                .sc-toolbar-widget,
                .stx-panel-control {
                    transform: translate3d(248px, 0, 0);
                }

                .cq-chart-controls {
                    transform: translate3d(130px, 0, 0) !important;
                }

                .cq-bottom-ui-widgets {
                    .digits__container,
                    .accumulators-stats {
                        transform: translate3d(130px, 0, 0) !important;
                    }
                }

                .cq-chart-control-left {
                    .cq-chart-controls {
                        transform: translate3d(248px, 0, 0) !important;
                    }

                    .cq-bottom-ui-widgets {
                        .digits__container,
                        .accumulators-stats {
                            transform: translate3d(170px, 40px, 0) !important;
                        }
                    }
                }

                &__loader {
                    .barspinner {
                        transform: translate3d(130px, 0, 0) !important;
                    }
                }
            }
        }
    }

    &--is-mobile {
        .top-widgets-portal {
            position: absolute;
            top: 0;
            z-index: 1;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 100%;

            .recent-trade-info {
                min-width: 8rem;
                margin-left: 0.8rem;
                line-height: 2.4rem;
            }
        }

        .cq-chart-title {
            > .cq-menu-btn {
                padding: 0.4rem;
                user-select: none;
                -webkit-touch-callout: none;
                -webkit-tap-highlight-color: transparent;
            }
        }

        & .contract-details-wrapper + .smartcharts-undefined {
            & .cq-symbols-display {
                display: none;
            }
        }
    }
}

$FLOATING_HEADER_HEIGHT: 41px;

/** @define trade-container; weak */
.trade-container {
    @include mobile {
        flex-direction: column;
        min-height: calc(100vh - 48px);
        padding: 0;
    }

    position: relative;
    display: flex;
    overflow: hidden;
    min-height: calc(100vh - 84px);
    padding: 0.8em 1.2em;

    &__replay {
        @include mobile {
            position: relative;
            display: flex;
            flex-direction: column-reverse;
            height: 100%;
            padding-bottom: 0;

            #dt_contract_drawer_audit {
                flex: 1;
                overflow: auto;
            }

            & .contract-audit-card {
                height: calc(100% - 1rem);

                &__container {
                    height: 100%;
                }
            }
        }

        display: flex;
        flex-direction: row;
        width: 100%;
        height: calc(100vh - 108px - #{$FLOATING_HEADER_HEIGHT + 12px});
        padding-bottom: 2.4rem;

        .contract-drawer {
            @include mobile {
                z-index: 4;
                width: calc(100% - 1.6rem);
                height: auto;
                margin-left: 0.8rem;
                border-top-right-radius: $BORDER_RADIUS;
                border-bottom-right-radius: $BORDER_RADIUS;
                transition: none;

                &__mobile-wrapper {
                    position: relative;
                }

                &--with-collapsible-btn {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    overflow: visible;
                    height: 100%;

                    & .dc-contract-card {
                        margin-top: 0;
                    }
                }

                &__transition {
                    &-enter,
                    &-exit {
                        transition: transform 0.25s linear;
                    }
                }

                & .dc-contract-card {
                    &__grid-underlying-trade {
                        grid-template-columns: 2fr 1fr !important;
                    }

                    &__underlying-name {
                        max-width: none;
                    }
                }

                &--is-multiplier {
                    @media only screen and (height <= 480px) {
                        & .dc-contract-card__body-wrapper {
                            padding-top: 0.2rem;
                        }
                    }

                    & .dc-contract-card {
                        @media (width <= 320px) and (height <= 480px) {
                            &__symbol,
                            &__type {
                                font-size: 1rem;
                            }

                            &__sell-button {
                                padding-top: 0.4rem;

                                & .dc-btn {
                                    height: 2.6rem;

                                    &__text {
                                        font-size: 1rem;
                                    }
                                }
                            }

                            &__footer {
                                margin-bottom: 0;
                            }
                        }

                        &__body-wrapper {
                            flex-direction: column;
                            padding-top: 0.4rem;
                        }

                        &-items-wrapper {
                            grid-template-columns: 1fr 1fr 1fr;
                            grid-gap: 0.4rem;
                            min-height: 80px;
                            padding-bottom: 0.4rem;
                            border-bottom: 1px solid var(--general-section-1);

                            @media (width <= 320px) and (height <= 480px) {
                                min-height: unset;
                            }
                        }

                        &-item {
                            @media only screen and (width <= 320px) {
                                &__header {
                                    font-size: 1rem;
                                }
                            }

                            @media (width <= 320px) and (height <= 480px) {
                                &__body {
                                    font-size: 1rem;
                                }
                            }

                            &__total-profit-loss {
                                flex-direction: row;
                                margin: 0 auto;

                                & .contract-card-item__header {
                                    font-size: 1.2rem !important;

                                    @media (width <= 320px) and (height <= 480px) {
                                        font-size: 1rem !important;
                                    }
                                }
                            }

                            &__header,
                            &__body {
                                font-size: 1.2rem;
                            }

                            &__body--loss {
                                padding-left: 0.4rem;
                            }

                            &:nth-child(1) {
                                order: 0;
                            }

                            &:nth-child(3),
                            &:nth-child(5) {
                                order: 2;
                            }

                            &:nth-child(6) {
                                order: 6;
                            }
                        }

                        &__sell-button {
                            @media (width <= 320px) and (height <= 480px) {
                                & .dc-btn--cancel {
                                    & .dc-btn__text {
                                        align-items: center;
                                    }

                                    & .dc-remaining-time {
                                        padding-top: 0;
                                        font-size: 1rem;
                                    }
                                }
                            }

                            &--has-cancel-btn {
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                            }
                        }
                    }

                    &.contract-drawer--with-collapsible-btn {
                        & .dc-contract-card {
                            &__indicative--movement {
                                margin-top: 2px;
                            }
                        }
                    }

                    & .dc-contract-card__grid-underlying-trade,
                    & .dc-contract-card__footer-wrapper {
                        grid-template-columns: 1fr 1fr 0.7fr;

                        @media only screen and (height <= 480px) {
                            grid-template-columns: 1fr 1fr;
                        }
                    }

                    &-sold {
                        &.contract-drawer--with-collapsible-btn {
                            & .dc-contract-card-item {
                                &__total-profit-loss {
                                    flex-direction: column;
                                }

                                &__body--profit {
                                    font-size: 1.6rem;
                                }
                            }
                        }
                    }
                }
            }

            z-index: 1;
            overflow: hidden;
            min-width: 240px;

            /* prettier-ignore */
            height: calc(100% + 2.4rem);
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;

            &-wrapper {
                z-index: 4;
            }

            .dc-contract-card {
                margin: 0.8rem 0;

                &__sell-button {
                    &--exit {
                        display: none;
                    }
                }
            }
        }

        .replay-chart__container {
            @include mobile {
                width: calc(100% - 1.6rem);
                height: 100%;
                margin-left: 0.8rem;
            }

            position: relative;
            width: 100%;
            margin-left: 24px;

            .smartcharts {
                left: 0;
                border-radius: $BORDER_RADIUS;

                .ciq-chart {
                    .cq-top-ui-widgets,
                    & .info-box {
                        transition: transform 0.25s ease;

                        .cq-symbols-display {
                            z-index: 1;

                            &.ciq-disabled {
                                display: none;
                            }
                        }

                        .info-box-container {
                            left: 1px;
                            opacity: 1;
                            transform: none;

                            .chart-close-btn {
                                display: none;
                            }
                        }
                    }

                    .sc-toolbar-widget,
                    .stx-panel-control,
                    .sc-navigation-widget {
                        transition: transform 0.25s ease;
                    }

                    .ciq-asset-information {
                        top: 75px;
                    }

                    .stx_jump_today.home > svg {
                        position: absolute;
                        top: 10px;
                        left: 8px;
                        padding: 0;
                    }

                    .cq-bottom-ui-widgets {
                        bottom: 30px !important;

                        .digits {
                            margin-right: 0;

                            &__container {
                                transition: transform 0.25s ease;
                            }
                        }
                    }
                }

                /* postcss-bem-linter: ignore */
                &-mobile {
                    /* TODO: Remove this override once the issue is fixed in smartcharts */
                    .stx-holder.stx-panel-chart {
                        z-index: 14;

                        .cq-inchart-holder {
                            position: relative;
                            z-index: 107;
                        }
                    }

                    .cq-context {
                        height: 100%;
                    }
                }
            }

            &-swipeable-wrapper {
                .dc-swipeable__item {
                    width: calc(100vw - 1.6rem);
                    margin-left: 0.8rem;
                }
            }
        }
    }
}

/** @define mobile-wrapper; weak */
.mobile-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 212px;
    padding: 0 0.8rem;

    &__content-loader {
        position: absolute;
        bottom: -0.8rem;
        left: 0;
        width: 100%;
        height: 100%;

        svg {
            width: 100%;
            height: 100%;
        }
    }
}

/** @define chart-container; weak */
.chart-container {
    position: relative;
    width: 100%;

    &__wrapper {
        position: fixed;
        top: calc(#{$HEADER_HEIGHT} + 2px);

        // charts width is 100% - sidebar width - sidebar margin - .trade-container padding
        width: calc(100% - 240px - 1.6rem - 2.4rem);
        height: calc(100vh - #{$HEADER_HEIGHT} - #{$FOOTER_HEIGHT});
    }

    &__loader {
        position: absolute;
        top: 54px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% - 12px);
        height: calc(100% - 68px);
        border-radius: $BORDER_RADIUS;
        background-color: var(--general-main-1);

        .initial-loader {
            pointer-events: none;
        }

        .barspinner {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 18px;
            margin: 0;
        }

        & + .smartcharts {
            visibility: hidden;
            pointer-events: none;

            .chart-marker-line__wrapper,
            .cq-chart-controls,
            .cq-symbols-display,
            .cq-bottom-ui-widgets,
            .cq-inchart-subholder {
                display: none;
            }
        }
    }

    // smartchart library style fixes
    .smartcharts-mobile {
        .sc-categorical-display {
            height: calc(100% - 8px) !important;
        }

        .ciq-chart {
            padding: 0 0.8rem;
        }
    }

    .cq-context {
        top: 0;
        left: 0;
        z-index: 0;

        div.ciq-chart {
            height: 100%;
            box-shadow: none;

            div.cq-last-digits {
                bottom: 15px;
                left: calc(45% - 150px);
            }

            .info-box div.cq-chart-controls {
                box-shadow: none;
            }

            // TODO: enable asset information
            // div.ciq-asset-information {
            //     z-index: 0;
            //     top: 0;
            //     left: 0;
            // }
            div.stx_jump_today.home > svg {
                position: absolute;
                top: 10px;
                left: 8px;
                padding: 0;
            }

            div.stx-marker {
                z-index: 2;

                &:not(.chart-marker-line) {
                    animation: fadeIn 0.2s;
                }
            }
        }

        div.cq-chart-control-left {
            .cq-top-ui-widgets {
                width: calc(100% - 9em);
            }
        }
    }

    div.debug-text {
        display: none;
    }

    .cq-chart-control-left {
        .cq-chart-controls,
        .sc-toolbar-widget,
        .stx-panel-control,
        .sc-navigation-widget {
            transition: transform 0.25s ease;
            transform: translate3d(0, 0, 0);
        }

        .cq-top-ui-widgets {
            left: 9em;

            .info-box {
                transform: translate3d(0, 0, 0);
            }
        }
    }

    .ciq-chart {
        .cq-top-ui-widgets,
        & .info-box {
            transition: transform 0.25s ease;

            .cq-symbols-display {
                @include mobile {
                    top: 0.8rem;
                    left: 0.8rem;
                    width: auto;
                    min-width: 170px;
                    max-width: 260px;

                    .cq-menu-btn {
                        padding: 0.2rem;
                    }

                    .cq-symbol-select-btn {
                        padding: 0.3rem 0.9rem;

                        .cq-symbol-dropdown {
                            margin-left: auto;
                            transform: scale(1);
                        }

                        .cq-symbol {
                            font-size: 1.2rem;
                        }

                        .cq-chart-price {
                            display: none;
                        }
                    }
                }

                z-index: 1;

                &.ciq-disabled {
                    display: none;
                }
            }
        }

        .cq-chart-controls {
            transition: max-width 0.25s ease, transform 0.25s ease;
        }

        .sc-navigation-widget,
        .stx-panel-control {
            transition: transform 0.25s ease;
        }

        .sc-toolbar-widget {
            @include mobile {
                bottom: 2.8rem;
                border-width: 0;
                background: transparent;

                /* postcss-bem-linter: ignore */
                .sc-chart-mode,
                .sc-studies {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 4rem;
                    height: 4rem;
                    margin: 0.8rem;
                    padding: 0.4rem 0.2rem;
                    border-radius: 50%;
                    background: var(--general-section-1);
                    opacity: 0.75;

                    &__menu {
                        &__timeperiod {
                            top: 0.8rem;
                            left: 0.8rem;
                        }

                        & > .ic-icon {
                            top: 0.6rem;
                        }
                    }
                }
            }

            transition: transform 0.25s ease;
        }

        &--screenshot {
            .sc-toolbar-widget,
            .stx-panel-control,
            .sc-navigation-widget,
            .cq-top-ui-widgets {
                transform: translate3d(0, 0, 0) !important;
            }
        }
    }

    .chartContainer {
        min-height: 100%;
        background: transparent;
    }
}

/** @define sidebar; weak; */
.sidebar {
    &__container {
        position: relative;
        z-index: 5;
        width: $SIDEBAR_WIDTH;
        margin: 0.8rem 0 0.8rem 1.6rem;
    }

    &__items {
        position: relative;
        width: $SIDEBAR_WIDTH;
        min-height: 460px;
        opacity: 1;
        transform: none;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 999;
            width: 100%;
            height: 100%;
            background-color: var(--overlay-outside-dialog);
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.25s cubic-bezier(0.25, 0.1, 0.1, 0.25);
        }

        &--market-closed {
            & .dc-tooltip--with-label {
                display: none;
            }

            & .dc-tooltip--with-label:before,
            .dc-tooltip--with-label:after {
                display: none;
            }
        }
    }
}

// TODO: improve handling of rendering markets dropdown via portals from smartcharts library

/** @define smartcharts-portal; weak */
.smartcharts-portal {
    @include mobile {
        &--open {
            .smartcharts {
                z-index: 9999;
            }
        }
    }
}

/** @define contract; weak */
.contract {
    // TODO: Remove below if redundant
    &-update {
        /* postcss-bem-linter: ignore */
        &__wrapper {
            display: flex;
            flex-direction: column;

            /* postcss-bem-linter: ignore */
            & .dc-tooltip:before,
            & .dc-tooltip:after {
                display: none;
            }

            /* postcss-bem-linter: ignore */
            & .dc-contract-card-dialog__button {
                display: flex;
                align-items: flex-end;
            }
        }
    }

    &--enter {
        opacity: 0;
        transform: translate3d(calc(100% + 1.6em), 0, 0);
    }

    &--exit {
        opacity: 0;
        pointer-events: none;
        transform: translate3d(calc(100% + 1.6em), 0, 0);
    }
}

/** @define smartcharts; weak */

/* postcss-bem-linter: ignore */
.smartcharts {
    /* TODO: Remove this override once the issue is fixed in smartcharts */

    /* postcss-bem-linter: ignore */
    @at-root body.theme--light & .chart-line.horizontal .title-wrapper {
        background-image: linear-gradient(
            rgb(255 255 255 / 0.1%) 30%,
            var(--general-main-1) 50%,
            rgb(255 255 255 / 0.1%) 75%
        );
    }

    &-dark,
    &-light {
        @include mobile {
            /* postcss-bem-linter: ignore */
            .cq-menu-dropdown-enter-done {
                margin-top: 0;

                /* postcss-bem-linter: ignore */
                .icon-close-menu {
                    top: 8px;
                    opacity: 1;
                    pointer-events: auto;
                }
            }

            .cq-dialog-portal {
                /* postcss-bem-linter: ignore */
                .cq-dialog {
                    max-width: calc(100% - 36px);
                }
            }

            /** @define ciq-chart-type; weak */
            .sc-chart-type {
                &__item {
                    /* postcss-bem-linter: ignore */
                    .sc-tooltip,
                    .dc-tooltip {
                        display: none;
                    }
                }
            }

            /** @define ciq-chart-mode; weak */
            .sc-chart-mode {
                /* postcss-bem-linter: ignore */
                &__section__item {
                    /* postcss-bem-linter: ignore */
                    .sc-interval {
                        display: grid;
                        grid-template-columns: 1fr;
                        padding: 1.6rem;

                        /* postcss-bem-linter: ignore */
                        &__content {
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr;
                            padding-top: 16px;
                        }

                        /* postcss-bem-linter: ignore */
                        &__item {
                            width: 100% !important;
                            margin: 0;

                            /* postcss-bem-linter: ignore */
                            .sc-tooltip,
                            .dc-tooltip {
                                display: none;
                            }
                        }

                        /* postcss-bem-linter: ignore */
                        &__info {
                            margin-top: 0.4rem;
                            padding-left: 0.2rem;
                        }
                    }
                }
            }

            /** @define cq-top-ui-widgets; weak */
            .cq-top-ui-widgets {
                z-index: 15 !important;
            }
        }
    }
}
