.percentage-selector {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: fit-content;
    min-width: 38rem;
    margin-bottom: 0.4rem;

    @include mobile {
        min-width: auto;
        width: 100%;
    }

    &-block {
        cursor: pointer;
        background-color: var(--general-section-1);
        height: 2.4rem;
        min-width: 8.7rem;

        @include mobile {
            min-width: 7.9rem;
        }
    }

    &__block-container {
        align-items: center;
    }
}
