.dc-password-input {
    &__visibility-icon {
        cursor: pointer;
        width: 3.5rem;
        height: 100%;
        padding: 0 1rem;
        background-color: var(--general-main-1);
    }
    input[style*='background'] ~ &__visibility-icon {
        right: 2.4rem;
    }
}
