.wallets-document-service {
    overflow-y: scroll;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--reverse {
        flex-direction: column-reverse;
    }
}
