.dc-password-meter {
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 5px;
    border-radius: 0 0 $BORDER_RADIUS $BORDER_RADIUS;
    transition: transform 0.25s linear;
    /* TODO: Themify color */
    background: #ec3f3f;
    transform-origin: left top;
    width: 100%;
    z-index: 2;

    &__bg {
        z-index: 1;
        position: absolute;
        bottom: -5px;
        left: 0;
        height: 5px;
        border-radius: 0 0 $BORDER_RADIUS $BORDER_RADIUS;
        width: 100%;
        /* TODO: Themify color */
        background: #eaeced;
    }
    &__container {
        position: relative;

        .dc-input {
            border-radius: $BORDER_RADIUS $BORDER_RADIUS 0 0;
        }
    }
    &__error, &__warning {
        /* TODO: Get rid of important crap */
        top: 5rem !important;
        z-index: 2;
    }
    &__warning {
        /* TODO: Get rid of important crap, Themify color */
        color: #999999 !important;
    }
    &--weak {
        /* TODO: Themify color */
        background-color: #ec3f3f;
        z-index: 2;
    }
    &--strong {
        /* TODO: Themify color */
        background-color: #4bb4b3;
        z-index: 2;
    }
}
