.dc-password-meter {
    transition: transform 0.25s linear;
    background: var(--status-danger);
    transform-origin: left top;
    z-index: 2;

    &,
    &__bg {
        position: absolute;
        top: 3.5rem;
        left: 1px;
        height: 4px;
        border-radius: 0 0 3px 3px;
        width: calc(100% - 2px);
    }
    &__bg {
        z-index: 1;
        background: var(--fill-disabled);
    }
    &__container {
        position: relative;

        .dc-input {
            border-radius: $BORDER_RADIUS;
        }
        .dc-password-meter__warning {
            // needs higher specificity
            color: var(--status-warning);
            top: 4.1rem;
            padding-left: 1.3rem;
        }
    }
    &--weak {
        background-color: var(--status-danger);
        z-index: 2;
    }
    &--strong {
        background-color: var(--status-success);
        z-index: 2;
    }
}
