.dc-password-meter {
    z-index: 2;
    background: var(--status-danger);
    transition: transform 0.25s linear;
    transform-origin: left top;

    &,
    &__bg {
        position: absolute;
        bottom: 1px;
        left: 1px;
        width: calc(100% - 2px);
        height: 4px;
        border-radius: 0 0 3px 3px;
    }

    &__bg {
        z-index: 1;
        background: var(--fill-disabled);
    }

    &__container {
        position: relative;

        .dc-input {
            border-radius: $BORDER_RADIUS;
        }

        .dc-password-meter__warning {
            top: 4.1rem;
            padding-left: 1.3rem;

            // needs higher specificity
            color: var(--status-warning);
        }
    }

    &--weak {
        z-index: 2;
        background-color: var(--status-danger);
    }

    &--strong {
        z-index: 2;
        background-color: var(--status-success);
    }
}
