.wallets-textfield {
    min-width: 12rem;
    max-width: 28rem;
    position: relative;

    &__content {
        height: 4rem;
        width: 100%;
        border-radius: 0.4rem;
        padding: 1rem 1.6rem;
        border: 1px solid var(--system-light-5-active-background, #d6dadb);
        background: var(--system-light-8-primary-background, #fff);
        display: inline-flex;
        gap: 1.6rem;
        align-items: center;
        transition: border-color 0.2s;

        &:hover {
            border-color: var(--system-light-3-less-prominent-text, #999);
        }
    }

    &__content:has(&__field:focus) {
        border: 1px solid var(--brand-blue, #85acb0);
    }

    &__icon {
        margin: auto;
        width: 1.6rem;
        height: 1.6rem;
    }

    &__message-container {
        height: 2rem;
        padding: 0.2rem 0rem 0rem 1.6rem;
        width: 100%;
    }

    &__field {
        font-family: inherit;
        outline: 0;
        font-size: 1.4rem;
        color: var(--system-light-2-general-text, #333);
        transition: border-color 0.2s;
        flex: 1;
    }

    &__field::placeholder {
        color: transparent;
    }

    &__field:placeholder-shown ~ &__label {
        font-size: 1.4rem;
        cursor: text;
        top: 20%;
        padding: 0;
    }

    &__field:placeholder-shown ~ &__label--with-icon {
        left: 4.4rem;
    }

    label,
    &__field:focus ~ &__label {
        position: absolute;
        top: -10%;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: var(--system-light-3-less-prominent-text, #999);
        background: var(--system-light-8-primary-background, #fff);
        padding-inline: 0.4rem;
        left: 1.6rem;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    &__field:focus ~ &__label {
        color: var(--brand-blue, #85acb0);
    }
}
