.wallet-header {
    margin: 2.4rem 0;
    padding: 2.4rem;
    background-color: #fff;
    border-radius: $BORDER_RADIUS * 4;
    height: 12.8rem;
    // border: 1px solid black; // test

    &__container {
        display: flex;
        justify-content: space-between;
        height: 8rem;
    }

    &__currency {
        width: 12.8rem;
    }
}
