.table-error {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    // TODO: [p2p-fix-layout-size] remove this margin when container layout is ok
    margin-top: 5rem;

    @include mobile {
        text-align: center;
    }
}
