$COLOR_GRAY:#f4f4f6;

.header {
    position: fixed;
    background: $COLOR_GRAY;
    height: 48px;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;

    &__header-items {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
    }
    &__items--left {
        margin: 1em;
    }
    &__items--right {
        margin-left: auto;
    }
    .btn {
        margin: 0 1em 0 0;
    }
}
