.picker-container {
    z-index: 10001;

    width: 100%;

    &,
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    .picker-inner {
        position: relative;

        display: flex;
        justify-content: center;
        height: 100%;
        padding: 0 20px;

        font-size: 1.8rem;
        font-weight: 500;

        -webkit-mask-box-image: linear-gradient(
            to top,
            transparent,
            transparent 5%,
            var(--general-main-1) 20%,
            var(--general-main-1) 80%,
            transparent 95%,
            transparent
        );
    }

    .picker-column {
        // flex: 1 1;

        position: relative;

        max-height: 100%;
        width: 60px;
        overflow: hidden;
        text-align: center;

        .picker-scroller {
            transition: 300ms;
            transition-timing-function: ease-out;
        }

        .picker-item {
            position: relative;

            padding: 0 10px;

            white-space: nowrap;
            color: #999999;
            overflow: hidden;
            text-overflow: ellipsis;

            &.picker-item-selected {
                color: #222;
                font-weight: bold;
                font-size: 2.5rem;
                line-height: 18px;
            }
        }
    }

    .picker-highlight {
        position: absolute;
        top: 50%;
        left: 0;
        background-color: var(--general-section-1);
        border-radius: $BORDER_RADIUS * 2;
        width: 100%;

        pointer-events: none;

        // &:before,
        // &:after {
        //     content: '';
        //     position: absolute;
        //     left: 0;
        //     right: auto;

        //     display: block;
        //     width: 100%;
        //     background-color: #d9d9d9;
        //     transform: scaleY(0.5);
        // }

        // &:before {
        //     content: 'minutes';
        //     position: absolute;
        //     font-size: 2rem;
        //     top: 10px;
        //     right: 40px;
        //     opacity: 0.7;
        // }

        // &:after {
        //     bottom: 0;
        //     top: auto;
        // }
    }
    .picker-highlight.deal-cancellation {
        &:before {
            content: 'minutes';
            position: absolute;
            font-size: 2rem;
            top: 10px;
            right: 40px;
            opacity: 0.7;
        }
    }

    .picker-highlight.duration {
        &:before {
            content: 'GMT';
            position: absolute;
            font-size: 2rem;
            top: 10px;
            right: 40px;
            opacity: 0.7;
        }
    }
}
