.wallet-list-account-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}

.wallet-list-title,
.wallet-list-currency,
.wallet-list-balance,
.wallet-list-account-category {
    font-size: 3rem;
}

.wallet-list-account-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.wallet-list-currency {
    font-weight: bold;
}

.wallet-list-account-category {
    font-style: italic;
}
