.dw-banner {
    width: 93.6rem;
    border-radius: 10px;
    position: relative;
    background-repeat: no-repeat;

    &__frame {
        width: 100%;
        position: relative;
    }
    &__container {
        position: absolute;
        top: 13.8rem;
        left: 8rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 49.1rem;
    }
}
