.dc-modal__container_mt5-password-modal,
.dc-mobile-dialog__mt5-password-modal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &__description {
        text-transform: none;
        margin-top: 1rem;
        top: 2rem;
        position: relative;
        padding: 1.3rem;
    }

    &__body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 3.2rem;
    }

    .mt5-password-field {
        margin-bottom: 1rem;
    }

    .mt5-input-element {
        width: 100%;
        margin-bottom: 1rem;
    }
}

.mt5-password-modal {
    form {
        @include mobile-or-tablet-screen {
            height: 100%;
        }
    }
    &__warning {
        padding: 2.5rem;
        max-width: 50rem;
        align-self: center;
        &-text {
            border-radius: 0.8rem;
            padding: 0.8rem;
            background-color: var(--status-warning);
        }
    }
    &__message {
        max-width: 32rem;
        margin: auto;
        line-height: 1.43;
    }
    &__content {
        @include mobile-or-tablet-screen {
            overflow-y: auto;
            overflow-x: hidden;
            height: 100%;
            width: 100%;
            padding: 0;
            justify-content: space-between;
        }
    }
    &__create-password {
        padding: 0 1.2rem;

        &-content {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            padding-bottom: 1rem;

            @include mobile-or-tablet-screen {
                height: 100%;
                padding: 1.6rem;
            }
        }

        &-title {
            margin-top: 2.4rem;
            margin-bottom: 0.8rem;
        }
        &-description {
            max-width: 30rem;
            margin: 1.6rem auto;
        }
    }

    &__mt5-input-element {
        width: 100%;
        margin-bottom: 1rem;
    }
    &-tnc {
        &--bottom {
            @include mobile-or-tablet-screen {
                margin-top: auto;
                margin-bottom: 7.5rem;
            }
        }
    }
    &__checkbox {
        display: flex;
        align-self: baseline;
        margin-inline-start: -0.8rem;
    }
    &-info,
    &__checkbox {
        .dc-icon {
            margin-inline-start: 0;
        }
    }
    &__submit-button {
        align-items: center;
        align-self: flex-end;
        justify-content: flex-end;
        width: 100%;
        padding-bottom: 1.6rem;
    }
}
