.introducing-floating-rates-modal {
    @include mobile {
        padding: 0.2rem 1.4rem;
    }

    &__image {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        margin-bottom: 2rem;

        @include mobile {
            margin-bottom: 1rem;
        }
    }

    &__checkbox {
        margin-top: 1.2rem;

        .dc-checkbox__box {
            margin-left: unset;
        }

        &--label {
            font-size: var(--text-size-s);

            @include mobile {
                font-size: var(--text-size-xxs);
            }
        }
    }
}
