/** @define contract-audit; */
.contract-audit {
    &__wrapper {
        margin-top: 1em;
        transition: max-height 0.2s ease, opacity 0.2s linear;
        will-change: max-height, opacity;
        border-radius: $BORDER_RADIUS;
        padding: 2px 4px;
        height: 100%;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        @include themify($themes) {
            background-color: themed('container_color');
            color: themed('text_color');
        }

        &--is-open {
            opacity: 1;
            height: calc(100vh - 32em);
            max-height: calc(100vh - 32em);
        }
    }
    &__grid {
        display: flex;
        padding: 8px 8px 4px;

        &:not(:first-child) {
            @include themify($themes) {
                border-top: 1px solid themed('background_container_color');
            }
        }
    }
    &__icon {
        display: flex;
        align-items: flex-start;
        margin-right: 8px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        margin: 0 4px;
    }
    &__label {
        font-size: 1em;
        white-space: nowrap;
        max-width: 90px;
        @include themify($themes) {
            color: themed('text_primary_color');
        }
    }
    &__value-wrapper {
        display: flex;
        flex-direction: column;
    }
    &__value, &__value2 {
        padding-top: 2px;
        line-height: 1.5;
        font-size: 1.2em;
        font-weight: bold;
        @include themify($themes) {
            color: themed('text_color');
        }
    }
}
