/** @define btn-purchase */
.btn-purchase {
    position: relative;
    background-color: $COLOR_GREEN_2;
    overflow: hidden;
    height: 5.6em;
    width: 100%;
    margin: 5px 0 0;
    padding: 0;
    text-align: left;
    transition: transform 0.25s ease;
    z-index: 1;

    &__text {
        @include typeface(--paragraph-left-bold-active);
    }
    &__info {
        color: $COLOR_WHITE;
        text-align: left;
        position: relative;
        display: flex;
        flex-grow: 1;
        align-items: center;
        padding-left: 10px;
        height: 56px;
    }
    &__info--left {
        background-color: $COLOR_GREEN_1;
        width: 50%;
        float: left;

        .btn-purchase__text_wrapper {
            margin-left: 24px;
            position: absolute;
        }
        .btn-purchase__icon_wrapper {
            @extend %inline-icon.white;
            /* postcss-bem-linter: ignore */
            .color1-fill {
                @include themify($themes) {
                    fill: themed('text_active_color') !important;
                }
            }
        }
    }
    &__info--right {
        width: 40%;
        padding-left: 10%;
        padding-right: 10px;
        float: right;
        justify-content: right;
        background-color: transparent;

        .btn-purchase__text {
            opacity: 1;
            transition: 0.3s;
        }
    }
    &__effect-detail {
        width: 55px;
        transform: rotate(45deg);
        height: 100%;
        background: $COLOR_GREEN_1;
        left: 35%;
        position: absolute;
        top: 0;
        bottom: 0;
        display: inline-block;
    }
    &[disabled]:hover {
        cursor: initial;
    }
    &:hover:not(&--disabled):not([disabled]) {
        transform: translate3d(0, -4px, 0);
    }
    &__shadow-wrapper {
        position: relative;

        .btn-purchase__box-shadow {
            position: absolute;
            width: 100%;
            bottom: 14px;
            height: 50%;
            z-index: 0;
            opacity: 0.9;
            box-shadow: 0 16px 14px 0 rgba(0, 0, 0, 0.24);
            transition: opacity 0.25s linear;
            pointer-events: none;
        }
        &--disabled {
            .btn-purchase__box-shadow {
                opacity: 0;
            }
            &:hover {
                transform: none;
            }
        }
    }
    &--disabled, &[disabled] {
        cursor: default;

        @include themify($themes) {
            background-color: themed('btn_purchase_disabled_bg');
            color: themed('disabled_color');

            .btn-purchase__info--left {
                background-color: themed('btn_purchase_disabled_accent');

                svg {
                    @include colorIcon(themed('disabled_color'), themed('disabled_color'));
                }
                .btn-purchase__text {
                    color: themed('disabled_color');
                }
            }
            .btn-purchase__effect-detail {
                background: themed('btn_purchase_disabled_accent');
            }
        }
    }
    &--animated--slide {
        .btn-purchase__icon_wrapper, .btn-purchase__text_wrapper {
            @extend .loader;
        }
        .btn-purchase__icon, .btn-purchase__text {
            @extend .loader--loading;
        }
        .btn-purchase__icon_wrapper {
            width: 16px;
            height: 16px;
        }
        .btn-purchase__text_wrapper {
            width: 56px;
            height: 8px;

            .btn-purchase__text {
                display: block;
            }
        }
    }
    &--animated--fade &__info--right &__text {
        opacity: 0;
    }
    &__shadow-wrapper:hover:after {
        opacity: 0;
    }
}
