$BOTTOM_SPACING_REQUIRED: 32px; // Spacing between end of the container and Footer (including shadow)
$MIN_HEIGHT: calc(100vh - #{$HEADER_HEIGHT + $FOOTER_HEIGHT} - #{$BOTTOM_SPACING_REQUIRED});

.vertical-tab {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    @include themify($themes) {
        background-color: themed('tab_background_color');
    }

    &--full-screen {
        min-height: $MIN_HEIGHT;
    }
    &:not(.vertical-tab--full-screen) {
        height: 600px;

        .vertical-tab__content {
            @include toEm(padding, 24px);
        }
    }
    &__action-bar {
        width: 100%;
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: space-between;
        padding: 16px;

        &--icon {
            cursor: pointer;

            @include themify($themes) {
                @include colorIcon(themed('text_primary_color'));
            }
        }
    }
    &__tab {
        display: flex;
        min-width: 200px;
        height: 100%;
        flex-direction: column;
        border-radius: $BORDER_RADIUS 0 0 $BORDER_RADIUS;
        @include themify($themes) {
            background-color: themed('tab_background_color');
        }
    }
    &__header-title {
        @include typeface(--paragraph-center-bold-black, none);
        @include toEm(line-height, 20px);
        @include themify($themes) {
            color: themed('text_primary_color');
        }
        padding: 16px;
        height: 40px;
        display: flex;
        align-items: center;
        transition: background-color 0.1s ease-in;
        text-decoration: none;
    }
    &__header {
        @include typeface(--paragraph-center-bold-black, none);
        @include toEm(line-height, 20px);
        @include themify($themes) {
            color: themed('text_primary_color');
        }
        padding: 10px 16px;
        height: 40px;
        cursor: pointer;
        display: flex;
        align-items: center;
        transition: background-color 0.1s ease-in;
        text-decoration: none;

        &:hover:not(.vertical-tab__header--active) {
            @include themify($themes) {
                background-color: themed('tab_hover_color');
            }
        }
        &--active {
            @include typeface(--paragraph-left-bold-active, none);
            @include themify($themes) {
                background-color: themed('tab_active_background_color');
                color: themed('tab_active_color');
            }
        }
        &__link {
            font-weight: normal;
        }
        &--active &__link {
            font-weight: bold;
            @include themify($themes) {
                color: themed('text_active_color');
            }
        }
        &__icon {
            margin: 2px 10px 0 0;
            @include themify($themes) {
                @include colorIcon(themed('text_primary_color'));
            }

            &--active {
                @include themify($themes) {
                    @include colorIcon(themed('text_active_color'));
                }
            }
        }
    }
    &__content {
        width: 100%;
        height: 100%;
        min-height: $MIN_HEIGHT;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border-radius: 0 $BORDER_RADIUS $BORDER_RADIUS 0;
        @include themify($themes) {
            background-color: themed('container_secondary_color');
        }

        &.vertical-tab:not(.vertical-tab--full-screen) {
            @include toEm(padding, 24px);
            height: 100%;
        }
    }
}
