.wallets-document-rule-hint {
    display: flex;
    width: 15.6rem;
    padding: 1.6rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

    @include mobile {
        width: 100%;
        padding: 1.6rem;
        flex: 1 0 41%;
    }
}
