.dc-tooltip {
    @include tooltipColor(var(--status-default));

    color: var(--text-prominent);
    font-size: inherit;
    text-decoration: none;

    &__balloon-icon {
        position: absolute;
        top: 0;
        left: -319px;
        z-index: 999;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;

        &--show {
            opacity: 1;
            transition: opacity 0.3s 0.2s;
        }
    }

    &[data-tooltip] {
        @include convertTooltipColor(var(--status-default));

        display: block;
        cursor: initial;

        &:hover:after,
        &:hover:before {
            opacity: 0.96;
            pointer-events: auto;
            transform: translate(-50%, 0);
        }

        &:before,
        &:after {
            position: absolute;
            bottom: 100%;
            left: 50%;
            z-index: 1;
            opacity: 0;
            pointer-events: none;
            transition: all 0.18s ease-out 0.18s;
            transform: translate(-50%, 1em);
            transform-origin: top;
        }

        &:before {
            @include typeface(--small-left-normal-active, none);

            content: attr(data-tooltip);
            width: 220px;
            max-width: 280px;
            margin-bottom: 10px;
            padding: 0.7em;
            border-radius: 4px;
            line-height: 1.5;
            letter-spacing: normal;
            text-decoration: none;
        }

        &:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            margin-bottom: -2px;
            border: solid transparent;
            border-width: 6px;
            pointer-events: none;
        }

        &[data-tooltip-pos='right'] {
            &:before,
            &:after {
                top: 50%;
                bottom: auto;
                left: 100%;
                transform: translate(-1em, -50%);
            }

            &:before {
                margin-left: 1em;
            }

            &:hover:after,
            &:hover:before {
                transform: translate(0, -50%);
            }
        }

        &[data-tooltip-pos='left'] {
            &:before,
            &:after {
                inset: 50% 100% auto auto;
                transform: translate(1em, -50%);
            }

            &:before {
                margin-right: 1em;
            }

            &:hover:after,
            &:hover:before {
                transform: translate(0, -50%);
            }
        }

        &[data-tooltip-pos='bottom'] {
            &:before,
            &:after {
                top: 100%;
                bottom: auto;
                left: 50%;
                transform: translate(-50%, -1em);
            }

            &:before {
                margin-top: 1.1em;
            }

            &:hover:after,
            &:hover:before {
                transform: translate(-50%, 0);
            }
        }
    }

    &--with-label[data-tooltip] {
        &:before,
        &:after {
            margin-top: 1em;
        }
    }

    &--error[data-tooltip] {
        @include convertTooltipColor(var(--status-danger));

        &,
        &[data-tooltip-pos='left'] {
            // always show error tooltips, not just on hover
            &:after,
            &:before {
                opacity: 0.96;
                pointer-events: auto;
                transform: translate(0, -50%);
            }

            &:before {
                width: 180px;
            }
        }
    }

    &--error-secondary[data-tooltip] {
        @include convertTooltipColor(var(--status-danger));

        &,
        &[data-tooltip-pos='left'] {
            // always show error tooltips, not just on hover
            &:after,
            &:before {
                top: 55%;
                opacity: 0.96;
                pointer-events: auto;
                transform: translate(0, -50%);
            }
        }
    }
}
