.traders-hub-logged-out {
    max-width: 128rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin: auto;
    padding: 4rem;

    @include mobile-or-tablet-screen {
        max-width: 60rem;
        padding: 2rem;
        width: 100%;
    }

    &__eu-user {
        padding-bottom: 7rem;

        @include mobile-or-tablet-screen {
            min-height: 650px;
            padding-bottom: 11rem;
        }
    }

    &__mobile {
        overflow: scroll !important;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}
