.total-balance {
    align-items: flex-end;
    display: flex;
    flex-direction: column;

    @include mobile {
        align-items: flex-start;
    }

    &__arrow {
        margin-left: 0.9rem;
        transition: transform 0.3s ease;

        &--show {
            transform: rotate(180deg);
        }
        &--hide {
            transform: rotate(0deg);
        }
    }

    &__dropdown {
        align-items: center;
        background: var(--general-main-2);
        border-radius: 0.8rem;
        display: flex;
        height: 8rem;
        justify-content: center;
        width: 14rem;
    }

    &__row {
        align-items: center;
        display: flex;
        flex-direction: row;

        &-amount {
            color: var(--status-success);
        }
    }
}
