.jurisdiction-modal {
    &__header ~ .dc-mobile-dialog__content {
        height: 100%;
    }
    &__title {
        display: flex;
        gap: 1.6rem;
        align-items: center;
        margin: 0 1rem;

        &-back {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }
    &__content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        position: absolute;
        backface-visibility: hidden;
        transition: transform 0.6s ease;
        transform: rotateY(0deg);
        @include mobile-or-tablet-screen {
            height: 100%;
        }
    }

    &__footer-content {
        background-color: var(--general-main-1);
        @include mobile-or-tablet-screen {
            position: sticky;
            bottom: 0;
        }
    }
    &__footer-button {
        width: 100%;
        display: flex;
        background-color: var(--general-main-1);
        button {
            height: 4rem;
            @include mobile-or-tablet-screen {
                width: 100%;
                max-width: 60rem;
            }
        }
        @include mobile-or-tablet-screen {
            padding: 1rem;
            bottom: 0;
            position: sticky;
            justify-content: center;
        }
    }
    &__wrapper {
        &--financial,
        &--synthetic,
        &--all {
            height: 100%;
            position: relative;
            bottom: 0;
            overflow-y: scroll;
            perspective: 100rem;

            @include mobile-or-tablet-screen {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }
    &__flipped {
        @include desktop-screen {
            height: 70rem;
            overflow: scroll;
        }

        .jurisdiction-modal {
            &__content-wrapper {
                height: 100%;
                transition: transform 1.5s ease;
                transform: rotateY(-180deg);
                visibility: hidden;

                @include mobile-or-tablet-screen {
                    height: 100%;
                }
            }
        }

        .dynamic-leverage-modal {
            animation: show 1s ease forwards;
        }
    }
}

@keyframes show {
    0% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

.cfd-jurisdiction-card--synthetic,
.cfd-jurisdiction-card--financial,
.cfd-jurisdiction-card--all {
    border: solid 2px var(--border-normal);
    border-radius: $BORDER_RADIUS * 4;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: all 0.1s ease-in;

    &:not(.selected-card):not(.cfd-card-disabled):not(.cfd-card-disabled-flat):hover {
        box-shadow: 0 2px 8px 0 var(--shadow-menu);
    }

    &--disabled {
        border: solid 1px var(--border-disabled);
    }

    &__wrapper {
        margin: 3rem 5rem 1rem;
        display: flex;
        @include desktop-screen {
            justify-content: center;
        }
        gap: 1.6rem;
        @include mobile-or-tablet-screen {
            margin: 0;
            padding: 4rem;
            gap: 4rem;
            flex-direction: column;
            align-items: center;
            overflow-y: scroll;
            height: 100%;
        }
    }
    &--selected {
        border: solid 2px $color-green;
        box-shadow: 0 1.2rem 1.8rem 0.8rem var(--shadow-menu);
    }

    &__card {
        &-content {
            &-container {
                display: flex;
                flex-direction: column;
                height: 100%;
            }
            &-over-header {
                background: var(--text-info-blue-background);
                height: 4rem;
                width: 100%;
                padding: 0.5rem;
                border-radius: 1.4rem 1.4rem 0 0;
                &-blank {
                    height: 4rem;
                    border-radius: 1.4rem;
                    @include mobile-or-tablet-screen {
                        height: 2rem;
                    }
                }
            }
            &-footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                &-text {
                    background: var(--brand-secondary);
                    height: 4rem;
                    padding: 1rem;
                    border-radius: 0 0 1.4rem 1.4rem;
                }
            }
        }
        &-flipped-container {
            gap: 2rem;
            padding: 4rem 1.6rem;
        }
        &-section-container {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            height: 100%;
            margin: 0 1.6rem;
        }
    }

    &__h2-header {
        min-height: 5rem;
        margin: 1rem 2rem;
        @include mobile-or-tablet-screen {
            margin-bottom: 2rem;
            min-height: auto;
        }
    }

    &__footer-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include mobile-or-tablet-screen {
            min-height: auto;
            width: 100%;
        }
    }

    &__footnotes-container {
        display: flex;
        flex-direction: column;

        gap: 1rem;
        margin: 1rem;
        @include desktop-screen {
            min-height: 7.6rem;
        }
        @include mobile-or-tablet-screen {
            gap: 0;
            margin: 0;
        }
    }

    &__footnote {
        display: flex;
        justify-content: center;
        @include mobile-or-tablet-screen {
            margin: unset;
            padding: 1.6rem 0.8rem;
            box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.08);
        }
        &--text {
            @include mobile-or-tablet-screen {
                max-width: 60rem;
            }
        }
        &--pending {
            color: $color-yellow;
        }
    }

    &__jurisdiction-checkbox {
        display: flex;
        justify-content: center;
        @include mobile-or-tablet-screen {
            margin-bottom: 1rem;
            padding: 0.8rem;
        }
    }

    &__over-header {
        background-color: #dfeaff;
        top: -2rem;
        left: 1.4rem;
        z-index: 10;
        width: 90%;
        height: 4rem;
        position: absolute;
        border-radius: $BORDER_RADIUS * 2;
        margin-bottom: 1rem;
        border: 1px solid var(--text-info-blue);
        & > p {
            font-size: 16px;
            text-align: center;
        }
    }
}

.cfd-jurisdiction-card--financial {
    &__footnotes-container {
        @include desktop-screen {
            gap: 1rem;
            min-height: 7.6rem;
            margin: 1rem;
        }
    }
}

.cfd-jurisdiction-card--synthetic {
    &__footnotes-container {
        @include desktop {
            min-height: 11rem;
        }
    }
}

.cfd-card {
    &-perspective {
        -webkit-perspective: 100rem;
        perspective: 100rem;
        @include mobile-or-tablet-screen {
            width: 100%;
            max-width: 60rem;
        }
    }
    &-container {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transition: all 0.25s ease-in;
        transition: all 0.25s ease-in;
        width: 28rem;
        &.synthetic,
        &.all {
            min-height: 48rem;
        }
        &.financial {
            min-height: 55rem;
        }
        @include mobile-or-tablet-screen {
            height: 48rem;
            width: 100%;
        }
    }
    &-flipped {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    &-front,
    &-back {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        position: absolute;
        top: 0;
        left: 0;
    }
    &-front {
        z-index: 2;
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    &-back {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
    &-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        &-divider {
            width: 100%;
            border-bottom: 2px solid var(--border-divider);
        }
        &-title-indicator {
            padding: 0.6rem 1.2rem;
            border-radius: $BORDER_RADIUS;
            &-icon-container {
                display: flex;
                gap: 0.5rem;
            }
            &__red-darker {
                background: $color-red-8;
            }
            &__red-dark {
                background: $color-red-9;
            }
            &__red-light {
                background: $color-red-10;
            }
            &__yellow-dark {
                background: $color-yellow-1;
            }
            &__yellow-light {
                background: $color-yellow-2;
            }
            &__violet-dark {
                background: $color-violet;
            }
            &__brown-dark {
                background: $color-brown;
            }
        }
        &-description-height {
            @include desktop-screen {
                &-assets {
                    min-height: 3.4rem;
                }
                &-verifications,
                &-regulator {
                    min-height: 5rem;
                }
            }
        }
    }
    &-back-section {
        &-items-container {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
        }
        &-items-sub-container {
            display: flex;
            align-items: flex-start;
            gap: 1rem;
        }
        &-back-button {
            -webkit-transition: transform 0.25s linear;
            transition: transform 0.25s linear;
        }
        &-text-icon-aligned {
            margin-top: -0.3rem;
        }
    }
    &-clickable-description-link {
        color: var(--text-red);
        &:hover {
            text-decoration: underline;
        }
    }
    &-title-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 2.55rem;
    }
    &-disabled {
        &-flat {
            border: solid 1px var(--border-normal);
        }
    }
}

.cfd-modal--custom-exit {
    display: none;
}

.cfd-trade-modal-container {
    width: inherit;
    overflow-y: scroll;
    padding-left: 0.5rem;
}

.cfd-trade-modal {
    display: flex;
    margin: 1.2rem 2.4rem;
    align-items: center;
    gap: 0.8rem;

    &__balance {
        display: flex;
        flex-direction: column;
    }

    &__list-of-accounts {
        display: flex;
        justify-content: space-between;
        &:first-child {
            border-top: 0.2rem solid var(--general-section-1);
            padding-top: 1rem;
        }
        margin: 0.8rem 0;
    }

    &__acc_status {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__expansion-panel {
        background-color: var(--general-section-5);
        padding: 1.6rem 2.4rem;
        border-radius: $BORDER_RADIUS * 2;
        margin-top: 0.8rem;
        max-width: 65rem;

        &--ordered-list {
            list-style-type: decimal;
            padding-left: 0.8rem;
        }

        &--unordered-list {
            list-style-type: disc;
            padding-left: 1.6rem;
        }

        &--content {
            padding: 0.4rem 0;

            &-bold {
                font-weight: bold;
            }
        }

        &--divider {
            width: 100%;
            border-bottom: 0.2rem solid var(--general-hover);
            margin-bottom: 1rem;
            margin-top: 0.4rem;
        }
    }

    &__get-more-accounts {
        cursor: pointer;
        border-radius: 12px;
        display: flex;
        align-items: center;
        border: 2px dashed var(--general-hover);
        padding: 0.3rem 0;
        margin: 1.6rem 0;

        &--icon {
            margin-right: 1.5rem;
        }

        &--details {
            margin-top: 0.2rem;
        }
    }

    &--paragraph {
        @include typeface(--paragraph-left-normal-black, none);
        color: var(--text-less-prominent);
        line-height: 1.45;
    }

    &__mobile {
        &-title {
            text-align: left;
            padding-left: 2.5rem;
        }
    }
    &__desc {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        &-heading--real {
            padding: 0.2rem 0.4rem;
            margin-left: 0.3rem;
            background-color: var(--icon-grey-background);
            border-radius: $BORDER_RADIUS;
        }

        &-heading--demo {
            background-color: $color-blue-8;
            color: $color-blue-9;
            border-radius: $BORDER_RADIUS;
            padding: 0.2rem 0.4rem;
            margin-left: 0.3rem;
        }

        &-balance {
            margin-left: 1.5rem;
        }
    }
    &__password {
        &-box {
            display: flex;
            align-items: center;
            gap: 0.8rem;

            .dc-btn:hover {
                text-decoration: underline;
                text-decoration-color: var(--text-general);
                -webkit-text-decoration: underline var(--text-general); // these are required for Safari ! (stackoverflow https://bit.ly/3UTe9C7
                -webkit-text-decoration-color: var(--text-general);
            }
        }
        &-action {
            text-decoration: underline var(--text-general);
            text-decoration-color: var(--text-general);
            -webkit-text-decoration: underline var(--text-general); // these are required for Safari ! (stackoverflow https://bit.ly/3UTe9C7
            -webkit-text-decoration-color: var(--text-general);
            padding-right: 0;
            height: 2.1rem;
        }
    }

    &__maintenance {
        display: flex;
        padding-top: 1rem;
        align-items: center;

        &-icon {
            padding-right: 0.5rem;
        }

        &-text {
            color: var(--text-less-prominent);
        }
    }

    &__dxtrade-button,
    &__platform-button {
        display: flex;
        align-items: center;
        text-decoration: none;
        border-radius: $BORDER_RADIUS;
        padding: 0 1.6rem;
        border: 1px solid var(--border-normal-2);

        &-icon {
            margin-left: 0.6rem;
            margin-top: 0.1rem;
        }
    }
    &__specs {
        padding: 1.6rem;
        width: 100%;

        &-table {
            width: 100%;

            &-attribute .cfd-trade-modal--paragraph {
                color: var(--text-general);
                margin-right: 2.4rem;
            }
            &-data {
                .cfd-trade-modal--paragraph {
                    @include typeface(--paragraph-left-bold-black, none);
                    line-height: 1.45;
                }
            }
        }
    }
    &__login-specs {
        margin: 0 2.4rem;
        display: flex;
        flex-direction: column;
        gap: 0.1rem;
        &-item {
            display: flex;
            padding: 0.5rem 0.8rem;
            align-items: center;
            justify-content: space-between;
            background: var(--general-section-2, #f2f3f4);
        }
    }
    &__spec-box {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    &__spec-text {
        font-family: 'Courier', monospace;
        overflow: hidden;
        &-broker {
            text-align: right;
        }
    }
    &__download-center {
        border-top: 2px solid var(--general-section-1);
        padding-top: 2rem;
        padding-bottom: 5.8rem;

        &-description {
            display: flex;
            justify-content: center;
            margin-top: 1.4rem;
        }

        &-app {
            display: flex;
            flex-direction: column;
            margin-top: 1.6rem;
            &--option {
                display: flex;
                gap: 1.6rem;
                align-items: center;
                padding: 1.6rem 2.4rem;
                border-top: 1px solid var(--border-disabled);
                &:last-child {
                    border-bottom: 1px solid var(--border-disabled);
                }
                &-item {
                    flex-grow: 1;
                }
                &-link {
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    text-decoration: none;
                    @include typeface(--paragraph-center-bold-black, none);
                    background-color: transparent;
                    border: 1px solid var(--border-normal-2);
                    border-radius: 0.5rem;
                    padding: 0.6rem 1.6rem;
                    color: var(--text-less-prominent);

                    &:hover {
                        background-color: var(--button-secondary-hover);
                    }
                }
            }
            &-ctrader {
                &-container {
                    display: flex;
                    flex-direction: column;
                    margin: 4rem 1.6rem 6rem;
                    @include mobile-or-tablet-screen {
                        margin-top: 5rem;
                        margin-bottom: 0;
                    }
                }
                &__banner-text {
                    display: flex;
                    flex-direction: column;
                }
            }

            &--windows,
            &--macos {
                display: flex;
                gap: 1.6rem;
                align-items: center;
                padding: 1.6rem 2.4rem;
                border-bottom: 1px solid var(--border-disabled);
                &-item {
                    flex-grow: 1;
                }
                &-link {
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    text-decoration: none;
                    @include typeface(--paragraph-center-bold-black, none);
                    background-color: transparent;
                    border: 1px solid var(--border-normal-2);
                    color: var(--text-less-prominent);

                    &:hover {
                        background-color: var(--button-secondary-hover);
                    }
                }
            }
        }

        &-options {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1.6rem;
            gap: 1.6rem;

            &--mobile {
                align-items: center;
                display: flex;
                flex-flow: column nowrap;
                margin-left: 4.7rem;

                &-devices {
                    margin-bottom: 1.6em;
                    svg:first-child {
                        margin-right: 0.8em;
                    }
                }
                &-link:not(:first-child) {
                    margin-left: 1.6rem;
                }
                &-links {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 0.8rem;
                }

                @include mobile-or-tablet-screen {
                    margin-left: 0;
                    margin-right: unset;
                }
            }
            &--qrcode {
                display: flex;
                flex-direction: column;
                width: 13.6rem;
                height: auto;
                padding: 0.8rem;
                align-items: center;
                border: 1px solid var(--border-disabled);
                border-radius: 5px;
            }
        }
        &-text {
            margin: 1.6rem;
        }
        &--heading {
            @include typeface(--title-center-bold-black, none);
            color: var(--text-general);
            line-height: 1.5;
            margin-left: 2.1rem;
            margin-bottom: 4.2rem;
            @include desktop-screen {
                margin-left: 0;
                text-align: center;
            }
        }
        &--hint {
            margin-top: 1.6rem;
        }
        @include mobile-or-tablet-screen {
            margin-bottom: 1.6rem;
        }
    }
    &__mobile-view {
        .dc-page-overlay__content {
            flex-direction: column;
        }
        &-wrapper {
            overflow: scroll;
        }
    }
}

.ctrader-transfer-modal {
    &__accounts-list {
        width: 95%;
        display: flex;
        margin: 1rem;
        padding: 1rem 1.6rem;
        justify-content: space-between;
        border: none;
        background: none;

        &--balance {
            display: flex;
            align-items: center;
        }

        &:hover {
            cursor: pointer;
            border-radius: $BORDER_RADIUS;
            background-color: var(--general-hover);
        }
    }
}

.cfd-password-manager {
    margin: 5.6rem auto 3.2rem;
    width: 100%;
    height: 100%;

    @media only screen and (max-height: 645px) {
        margin-top: 1.5rem;
        overflow: auto;
    }

    &--paragraph {
        margin-bottom: 3.2rem;
    }
    &--error-message {
        margin-bottom: 1em;
    }
    &__investor-wrapper {
        margin: 3.2rem 0.5rem 0;

        .cfd-password-manager--paragraph:first-child {
            margin-bottom: 0.8rem;
        }

        & .dc-input__label {
            top: 0.9rem;
        }
        @include mobile-or-tablet-screen {
            padding-bottom: 12rem;
        }
    }
    .dc-password-meter__container,
    .dc-password-input {
        width: 30rem;
        margin: auto;
    }

    &__investor-form {
        width: 100%;
        max-width: 300px;
        margin: 2.4em auto 0;

        @include mobile-or-tablet-screen {
            max-width: unset;
        }
    }
    &__new-password {
        margin-bottom: 8.6rem;
        .dc-input__hint {
            margin: 0 0 -5.3rem 1.3rem;
        }
    }
    &__actions {
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
    }
    &--button {
        margin-top: 1.6rem;

        @include mobile-or-tablet-screen {
            width: 100%;
            margin-top: 0.8rem;
            max-width: 30rem;
            white-space: normal;
        }
    }
    &__success {
        text-align: center;
        margin-top: 3.2rem;

        &-header {
            @include typeface(--paragraph-center-bold-black);
            margin: 1.6rem 0 0.8rem;
        }
        &-btn {
            margin-top: 3.2rem;
            width: 6.4rem;

            @include mobile-or-tablet-screen {
                width: 100%;
                max-width: 30rem;
            }
        }
    }
    .multi-step__header {
        margin: 0 0 2.4rem;
    }
    .multi-step__component {
        text-align: center;
    }
    @include desktop-screen {
        max-width: calc(450px + 1rem); // needs extra padding for the scrollbar, otherwise it will cover the words
    }
    @include mobile-or-tablet-screen {
        padding: 0 1.6rem;
        margin-top: 2.4rem;
        max-width: 60rem;

        &__scroll-wrapper {
            overflow-y: auto;
            overflow-x: hidden;
        }
        /* iPhone SE screen width fixes due to UI space restrictions */
        @media only screen and (max-width: 320px) {
            padding: 0;
        }
    }
}

.dynamic-leverage-modal {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin: 1.5rem 12.8rem 10rem;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s ease;

    @include mobile-or-tablet-screen {
        margin: 1.5rem 2.4rem 2.4rem;
    }

    &__content {
        display: grid;
        gap: 2.4rem;
        grid-template-columns: 1fr 1fr;
        margin: 0 10rem;

        @include mobile-or-tablet-screen {
            grid-template-columns: 1fr;
            margin: 0 auto 3rem;
            min-width: 20rem;
        }
    }

    &__market {
        border: 0.5px solid var(--border-hover);
        border-radius: $BORDER_RADIUS * 2;
        overflow: hidden;
        background-color: var(--general-hover);
        height: 24.8rem;

        &-description {
            font-style: italic;
        }

        &-table {
            padding-bottom: 1rem;

            &-header {
                &-cell {
                    display: flex;
                    flex-direction: column;
                }

                &-row {
                    grid-template-columns: 1fr 1fr 1.4fr;
                    justify-items: center;
                    border-bottom: 0;
                    padding: 0.4rem;
                    background-color: var(--general-hover);
                }
            }

            &-row {
                grid-template-columns: 1fr 1fr 1.4fr;
                justify-items: center;
                border-bottom: 0;
                padding: 0.4rem;

                &:nth-child(even) {
                    background-color: var(--general-hover);
                }

                &:nth-child(odd) {
                    background-color: var(--general-section-1);
                }
            }
        }

        &-title {
            display: flex;
            flex-direction: column;
            height: 7rem;
            padding-top: 1rem;
            background-color: var(--general-section-1);
        }
    }
}

.cfd-financial-stp-modal {
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;

    .poi-form-on-signup__fields {
        .dc-autocomplete {
            margin-bottom: 0;
        }
    }

    .upload-layout {
        @include desktop-screen {
            height: 100%;
        }
    }

    .account-form__poi-confirm-example {
        gap: 1.6rem;

        @include mobile-or-tablet-screen {
            gap: 0;
        }
    }

    &__body {
        width: 100%;
        .poi-form-on-signup {
            display: grid;
            grid-template-rows: minmax(20rem, 1fr);
        }

        .manual-poi {
            margin: auto;
            height: 100%;
            max-width: 68rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .dc-card__wrapper {
                margin-bottom: 0;
            }

            &-details {
                max-width: 68rem;
                margin: auto;
                @include mobile-or-tablet-screen {
                    overflow-y: scroll;
                }

                &__form {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .account-form__footer {
                        max-width: 100%;
                    }
                }

                &__field {
                    margin-bottom: 3.5rem;
                }

                &__fields-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        }

        .account-management__message-wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .upload_error_btn {
                margin-top: 3.2rem;
            }
        }

        @include desktop-screen {
            .onfido-container {
                padding-top: 1.6rem;
            }
        }

        .proof-of-identity__mismatch-container {
            max-width: 70.2rem;
            margin-inline: auto;

            .proof-of-identity__footer {
                max-width: 100%;
            }

            .account__scrollbars_container {
                padding-top: 2.4rem;
            }
            .dc-themed-scrollbars {
                padding-inline: 1.6rem;
            }
        }
    }

    &__form {
        height: 100%;
        display: flex;
        flex-direction: column;

        .details-form {
            flex: 1;
        }
    }
    @include desktop-screen {
        overflow: hidden;

        & .details-form__description {
            width: 100%;
        }
    }
    @include mobile-or-tablet-screen {
        overflow: initial;
        grid-template-rows: 7rem minmax(10rem, 1fr);
        &__heading {
            padding: unset;
        }

        .dc-form-submit-button {
            background-color: var(--color-white);
        }
    }
    .account-management {
        &__message-icon {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__message-content {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: auto;
            padding: 0 3rem;
            padding-bottom: 7rem;
            @include mobile-or-tablet-screen {
                overflow-y: auto;
            }
        }
        &__message {
            @include typeface(--title-center-bold-black);
            color: var(--text-prominent);
            margin-bottom: 1rem;
        }
        &__text {
            @include typeface(--paragraph-center-normal-black);
            color: var(--text-prominent);
        }
        &__continue {
            margin-top: 3rem;
        }
        &__list {
            &-message {
                display: flex;
            }
            &-icon {
                margin-right: 1.2rem;
            }
        }
    }
}

.dc-modal {
    &__container {
        min-width: initial;
        &_cfd-password-modal {
            &__description {
                @include typeface(--xsmall-left-normal-black);
                line-height: 1.5;
                max-width: calc(min(100vw, 349px));
                margin: -2.7rem 0 2.4rem;
                color: var(--text-less-prominent);
            }
            &__account-title {
                margin-bottom: 1.6rem;
            }
        }
        &_cfd-dashboard__compare-accounts {
            width: 904px;
        }
        &_cfd-password-manager__modal {
            height: 100% !important;
            min-height: calc(100vh - 22rem);
            width: 904px;
            max-height: calc(100vh - 48px - 36px) !important;
        }
    }
}

.cfd-change-password {
    &__description {
        margin-bottom: 2.4rem;
    }

    &__icon {
        margin-left: 2.3rem;
        margin-bottom: 1.4rem;
        flex: none;
    }

    &-confirmation {
        &__description {
            margin-top: 0.8rem;
            margin-bottom: 2.4rem;
        }
    }
}

.cfd-trading-password {
    margin-top: 3.2rem;
}

.dc-modal__container_cfd-financial-stp-signup-modal {
    max-height: calc(100vh - 102px) !important;
    @include desktop-screen {
        display: grid;
        grid-template-rows: 6rem minmax(20rem, 1fr);
    }
}

.dc-modal__container_cfd-pending-dialog,
.dc-modal__container_cfd-success-dialog {
    .dc-modal-header__title--cfd-pending-dialog {
        text-align: center;
        margin: auto;
        padding: 2.4rem;
        width: fit-content;
    }
    .dc-modal-body {
        text-align: center;
    }
    .dc-modal-footer {
        justify-content: center;
        padding: 0.8rem 2rem 2.4rem;

        .dc-btn {
            min-width: 90px;

            &:only-child {
                margin: 0;
            }
            &:first-child {
                margin-inline-start: 0;
            }
        }
        @include mobile-or-tablet-screen {
            padding: 0.8rem 1.6rem 1.6rem;
            display: flex;
            grid-gap: 0.6rem;

            & .dc-btn {
                &:only-child {
                    max-width: 14rem;
                    width: auto;
                    min-width: 9rem;
                }
            }
        }
    }
}
.cfd-success-dialog-migration {
    text-align: center;
    margin: auto;
    padding: 2.4rem;
    width: fit-content;
    justify-content: center;
    .dc-modal-footer {
        padding: 0.8rem 2rem 2.4rem;
    }
    &__body {
        padding: 5.2rem 2.4rem;
        &-bullets--list {
            list-style: disc;
            margin-top: 1rem;
            margin-inline-start: 2rem;
        }
    }
    &__title {
        display: flex;
        justify-content: center;
    }
    &__inline-msg {
        margin: 2.4rem 2.4rem 0;
        @include mobile-or-tablet-screen {
            margin: 2.4rem 0;
        }
    }
    &__icon-area {
        width: 12.8rem;
        margin: 0 auto;
        position: relative;
    }

    &__content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        margin: 0.8rem auto;

        &__desc {
            @include mobile-or-tablet-screen {
                padding: 0 3.8rem;
            }
        }
    }
    &-footer {
        @include mobile-or-tablet-screen {
            position: absolute;
            bottom: 1rem;
            width: 100%;

            .dc-btn {
                width: 100%;
            }
        }
        @include mobile-screen {
            bottom: 4rem;
        }
    }
}

.dc-modal__container_cfd-success-dialog {
    .success {
        &-change__icon-area {
            width: 12.8rem;
            margin: 0 auto;
            position: relative;

            &--large .bottom-right-overlay {
                position: absolute;
                left: 7.6rem;
                top: 7.6rem;

                @include mobile-or-tablet-screen {
                    left: 7.8rem;
                    top: 5.8rem;
                }
            }
            &--xlarge .bottom-right-overlay {
                position: absolute;
                bottom: 0.8rem;
                right: -2.8rem;
                height: 5.2rem;
                width: 5.2rem;
            }
        }

        &-migrated {
            &--text-wrapper {
                display: flex;
                flex-direction: column;
                gap: 1.2rem;
                @include mobile-or-tablet-screen {
                    gap: 0.8rem;
                }
            }
        }
    }
    .dc-modal-body {
        .dc-modal-header__title {
            text-align: center;
            margin: auto;
            padding: 1.6rem 0 0.8rem;
            width: fit-content;
        }
        @include mobile-or-tablet-screen {
            font-size: 1.4rem;
        }
    }
    .cfd-account__platform {
        font-style: italic;
        white-space: nowrap;
    }
}

.cfd-accounts-compare-modal {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    background: inherit;
    height: 100%;
    position: relative;
    &-row-eu {
        grid-template-columns: 0.67fr 1fr;
    }

    &-row-demo {
        grid-template-columns: 1.5fr 1fr 1fr 1fr;

        &--restricted {
            grid-template-columns: 1fr 2fr 1fr;
        }
        @include mobile-or-tablet-screen {
            width: 116vw;
            height: unset;
        }
    }

    @for $column_count from 1 through 7 {
        .cfd-accounts-compare-modal__row-with-columns-count-#{$column_count} {
            @if $column_count != 5 {
                grid-template-columns: repeat($column_count, 1fr);
            } @else if $column_count == 5 {
                grid-template-columns: repeat($column_count - 1, 1fr);
                @include mobile-or-tablet-screen {
                    grid-template-columns: repeat($column_count, 1fr);
                }
            }
        }
    }
    &__table-header {
        grid-template-columns: 1fr 2fr;
        &__pre-appstore {
            grid-template-columns: 11rem 36rem 46rem 13.5rem;
        }
    }
    @for $financial_accounts_count from 0 through 6 {
        @for $synthetic_accounts_count from 0 through 2 {
            .cfd-accounts-compare-modal__table-header-for-synthetic-#{$synthetic_accounts_count}-financial-#{$financial_accounts_count} {
                @if $synthetic_accounts_count > 0 and $financial_accounts_count > 0 {
                    grid-template-columns: 1fr ($synthetic_accounts_count + fr) ($financial_accounts_count + fr);
                    &__pre-appstore {
                        grid-template-columns: 1fr ($synthetic_accounts_count + fr) (
                                $financial_accounts_count + fr
                            ) 1fr;
                    }
                } @else if $synthetic_accounts_count == 0 and $financial_accounts_count == 0 {
                    grid-template-columns: 1fr;
                    &__pre-appstore {
                        grid-template-columns: 1fr 1fr;
                    }
                } @else if $synthetic_accounts_count > 0 and $financial_accounts_count == 0 {
                    &__pre-appstore {
                        grid-template-columns: 2fr 1fr;
                    }
                } @else if $synthetic_accounts_count == 0 {
                    grid-template-columns: 1fr ($financial_accounts_count + fr);
                    &__pre-appstore {
                        grid-template-columns: 1fr ($financial_accounts_count + fr) 1fr;
                    }
                } @else {
                    grid-template-columns: 1fr ($synthetic_accounts_count + fr);
                    &__pre-appstore {
                        grid-template-columns: 1fr ($synthetic_accounts_count + fr) 1fr;
                    }
                }
            }
            .cfd-accounts-compare-modal__table-header-for-synthetic-#{$synthetic_accounts_count} {
                &__pre-appstore {
                    grid-template-columns: 1fr 2fr 1fr;
                }
            }
        }
    }
    &__table-header-item {
        justify-content: center;
    }

    &__table-row {
        grid-template-columns: 11rem 13.4rem 12.6rem 12rem 13.4rem 12.6rem 10rem 10rem;
        &__pre-appstore {
            grid-template-columns: 11rem 13.4rem 12.6rem 10rem 13.4rem 12.6rem 10rem 10rem 13.5rem;
        }
        // af, mg, pk
        &--other-country {
            grid-template-columns: 11rem 23.4rem 12.6rem 20rem 13.4rem 12.6rem 13.4rem 20rem 17.5rem;
        }

        &--leverage {
            grid-template-columns: 11rem 38rem 36rem 10rem;
            &__pre-appstore {
                grid-template-columns: 11rem 36rem 36rem 10rem 13.5rem;
            }
            &__af {
                grid-template-columns: 11rem 36rem 33.4rem 12.6rem 13.5rem;
            }
            &__pk {
                grid-template-columns: 11rem 36rem 46rem 13.4rem 17.5rem;
            }
            &__mg {
                grid-template-columns: 11rem 36rem 33.4rem 12.6rem 13.4rem;
            }
        }

        &--platform {
            &__pre-appstore {
                grid-template-columns: 1fr 4.25fr 0.9fr;
                &--restricted {
                    grid-template-columns: 1fr 2fr 1fr;
                }
                grid-template-columns: 11rem 82rem 13.5rem;
            }
        }

        &--instruments {
            grid-template-columns: 11rem 38rem 26rem 10rem 10rem;
            &__pre-appstore {
                grid-template-columns: 11rem 36rem 26rem 10rem 10rem 13.5rem;
            }
            &__af {
                grid-template-columns: 11rem 36rem 20rem 13.4rem 12.6rem 13.5rem;
            }
            &__pk {
                grid-template-columns: 11rem 36rem 33rem 13rem 13.4rem;
            }
            &__mg {
                grid-template-columns: 11rem 36rem 20rem 13.4rem 12.6rem 13.4rem;
            }
        }
    }

    &__table-row-item {
        flex-direction: column;
        justify-content: center;
        &--tooltip {
            flex-direction: row;
        }
    }
    &__table-footer {
        grid-template-columns: 11rem 13.4rem 12.6rem 12rem 13.4rem 12.6rem 10rem 10rem;
        height: 4.8rem;
        &__pre-appstore {
            grid-template-columns: 11rem 13.4rem 12.6rem 10rem 13.4rem 12.6rem 10rem 10rem 13.5rem;
        }
        &__pk {
            grid-template-columns: 11rem 23.2rem 12.8rem 17.62rem 15.4rem 13rem 13.4rem 20rem 17.5rem;
        }
        &__af {
            grid-template-columns: 11rem 23.2rem 12.8rem 20rem 13.4rem 12.6rem 13.5rem 20rem 17.5rem;
        }
        &__mg {
            grid-template-columns: 11rem 23.4rem 12.6rem 20rem 13.4rem 12.6rem 13.4rem 10rem 13.5rem;
        }
        &__item {
            height: 4.8rem;
            justify-content: center;
            &--eu-pre-appstore {
                height: 4.8rem;
            }

            &--verification-pending {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 3px 8px;
                background: rgba(255, 68, 79, 0.16);
                opacity: 0.32;
                border-radius: 4px;
                width: 100%;
                cursor: not-allowed;
                .dc-text {
                    font-style: normal;
                    font-weight: 700;
                    color: var(--brand-red-coral);
                }
            }
        }
        &__button {
            width: 100%;
        }
    }

    .dc-table {
        margin: 0 25px;

        &__header {
            border: none;
            height: 4rem;
            top: 0;
            z-index: 10;
        }
        &__cell:not(.cfd-accounts-compare-modal__table-empty-cell),
        &__head:not(.cfd-accounts-compare-modal__table-empty-cell) {
            border: 1px solid var(--general-active);
            margin-left: -1px;
            margin-bottom: -1px;
        }
        &__cell {
            padding: 1rem 0.8rem;
        }
        &__row {
            border-bottom: none;
            min-height: 4rem;
        }

        &--scrollbar {
            display: block; // Safari needs this to work properly!
        }
    }
    &-modal {
        &__wrapper {
            display: flex;
            justify-content: center;
            margin-top: 2.4rem;
        }
    }
    @include mobile-or-tablet-screen {
        height: 100%;
        font-size: 1.2rem;

        .dc-table {
            height: 100%;
            margin: 25px;
            overflow-x: auto;
            &__cell {
                &--fixed {
                    background-color: var(--general-main-1);
                    .dc-text {
                        font-size: var(--text-size-xxxs);
                        text-align: left;
                    }
                }
            }
        }
        &__table {
            &-header,
            &-footer,
            &-row,
            &-row--leverage,
            &-row--instruments {
                width: 250vw;
                &__pre-appstore {
                    width: 250vw;
                }
            }
        }
        .cfd-accounts-compare-modal {
            &__table-empty-cell.dc-table {
                &__cell--fixed {
                    margin-left: -1px;
                    border: 1px solid var(--general-active);
                    border-width: 1px 1px 0px 0px;
                }
                &__head {
                    border-top: none;
                }
            }
            &-row-eu {
                width: unset;
                height: unset;
            }
            &__table-header {
                width: calc(250vw / 7 * 3);
            }
        }
        @for $column_count from 1 through 7 {
            .cfd-accounts-compare-modal__row-with-columns-count-#{$column_count} {
                width: calc(250vw / 7 * #{$column_count});
                &__pre-appstore {
                    width: calc(250vw / 7 * #{$column_count + 1});
                }
            }
        }
        @for $financial_accounts_count from 0 through 6 {
            @for $synthetic_accounts_count from 0 through 2 {
                .cfd-accounts-compare-modal__table-header-for-synthetic-#{$synthetic_accounts_count}-financial-#{$financial_accounts_count} {
                    width: calc(250vw / 7 * (#{$synthetic_accounts_count} + #{$financial_accounts_count} + 1));
                    &__pre-appstore {
                        width: calc(250vw / 7 * (#{$synthetic_accounts_count} + #{$financial_accounts_count} + 2));
                    }
                }
            }
        }
    }
}
.dc-modal-header__title--cfd-accounts-compare-modal {
    font-size: var(--text-size-sm);
    line-height: 3rem;
}

.cfd-accounts-compare-modal-mobile-header {
    height: fit-content;
    border-bottom: none;
    .dc-text {
        font-size: var(--text-size-s);
    }
}
.cfd-compare-accounts-tooltip {
    margin-left: 0.8rem;
    &--msg {
        font-size: var(--text-size-xxs);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 8px;
        width: 276px;
        border-radius: 4px;
    }
}

.dc-mobile-dialog__content.dc-mobile-dialog__content--is-full-height:has(.dc-mobile-dialog__cfd-password-modal) {
    @include mobile-or-tablet-screen {
        display: flex;
        justify-content: center;
    }
}

.dc-modal__container_cfd-password-modal,
.dc-mobile-dialog__cfd-password-modal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 424px;

    form {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0 2.4rem 1.2rem;

        @include mobile-or-tablet-screen {
            padding: 0;
        }
    }
    &__description {
        @include typeface(--small-center-normal-black);
        color: var(--text-prominent);
        text-transform: none;
        margin-top: 1rem;
        top: 2rem;
        position: relative;
        padding: 1.3rem;
    }
    &__hint {
        max-width: 40rem;
    }
    &__body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        @include mobile-or-tablet-screen {
            padding: 0.8rem 1.6rem;
        }
    }
    .dc-input {
        &__label {
            top: 1.2rem;
            @include mobile-or-tablet-screen {
                top: 0.9rem;
                background-color: var(--fill-normal);
            }
        }
    }
    .dc-password-meter {
        &__bg {
            background: var(--general-section-2);
            @include mobile-or-tablet-screen {
                background: var(--fill-disabled);
            }
        }
    }
    .status-dialog {
        margin-top: 3em;
    }
    .cfd-password-reset {
        @include mobile-or-tablet-screen {
            flex: 1;
        }
    }
    & .mt5-password-field {
        margin-bottom: 1em;
        width: 80%;
    }
    .input-element {
        width: 100%;
    }
    @include mobile-or-tablet-screen {
        .cfd-password-modal__content {
            overflow-y: auto;
            overflow-x: hidden;
            height: 100%;
            max-height: calc(100% - 6.4rem);
            padding: 1rem;
        }
    }
    @include tablet-up {
        .cfd-password-modal__content {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 2rem;

            &--password-reset {
                padding: 0 2.5rem;
            }
        }
    }
}
.dc-mobile-dialog__mt5-email-sent {
    padding-bottom: 1rem;
}

.cfd-password-modal {
    &__warning {
        padding: 2.5rem;
        max-width: 50rem;
        align-self: center;
        &-text {
            border-radius: 0.8rem;
            padding: 0.8rem;
            background-color: var(--status-warning);
        }
    }
    &__message {
        max-width: 32rem;
        margin: auto;
        line-height: 1.43;
    }
    &__radio {
        &.dc-radio-group {
            display: grid;
            grid-gap: 2rem;
            margin-top: 0;
            padding-bottom: 2.4rem;
        }
        &.dc-radio-group__item {
            display: flex;
            flex-direction: row;
        }
    }

    &__create-password {
        padding: 0 1.2rem;

        &-content {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            margin-top: -2.5rem;

            .dc-icon {
                margin-left: 1.1rem;
                flex: none;
            }
        }
        &-title {
            margin-top: 2.4rem;
            margin-bottom: 0.8rem;
        }
        &-description {
            max-width: 30rem;
            margin-bottom: 1.6rem;
        }
    }
    &__change-password-confirmation {
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 30rem;

        @include desktop-screen {
            margin-top: -2.5rem;
        }

        &-wrapper {
            display: flex;
            justify-content: center;
            width: 100%;
        }
        .dc-form-submit-button {
            margin-bottom: 2.2rem;
        }
    }
}

.dc-modal__container_top-up-virtual {
    width: 384px;
    min-height: 367px;
    display: flex;
    flex-direction: column;

    &__body {
        display: flex;
        flex-direction: column;
        padding: 4.8rem 4.2rem;
        flex-grow: 1;
        justify-content: space-around;
        align-items: center;
    }
    &__description {
        text-transform: none;
    }
    &--h4 {
        @include typeface(--small-center-bold-black);
        text-transform: none;
        color: var(--text-prominent);
    }
    &--balance {
        @include typeface(--title-center-bold-black);
        line-height: 1.5;
        color: var(--text-profit-success);
    }
}

.cfd-success-topup {
    &__heading {
        @include typeface(--paragraph-center-bold-black);
        margin: 1.6rem 1.8rem;
    }
    &__description {
        p {
            @include typeface(--small-center-normal-black);
            color: var(--text-general);
            text-transform: none;
        }
    }
}

.cfd-dashboard {
    &__container {
        & .dc-popover__target {
            display: flex;
        }
    }
}

.cfd-verification-email-sent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        @include typeface(--title-center-bold-black);
        margin: 0.8rem 0;

        &--sub {
            margin-bottom: 0.8rem;
            margin-top: 3rem;
        }
    }
    &__resend-button {
        display: block;
        @include typeface(--paragraph-center-bold-black);
        color: var(--brand-red-coral);
        text-decoration: none;
        margin: 3.2rem 0 0;
    }
    & .countdown {
        margin: 0 0.4rem;
    }
}

.cfd-reset-password {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include typeface(--paragraph-left-normal-black);
    color: var(--text-prominent);

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        justify-items: center;
        flex-grow: 1;
        gap: 4rem;
        padding: 2.4rem 0;

        @include mobile-or-tablet-screen {
            min-height: 24rem;
            width: calc(100vw - 3.2rem);
        }
    }
    &__heading {
        @include typeface(--paragraph-center-bold-black);
        margin: 1.6rem 0 0;
    }
    &__hint {
        @include typeface(--small-left-normal-black);
        color: var(--text-less-prominent);
        margin-left: 1.2rem;
    }
    &__password-field {
        margin-bottom: 0.5rem;

        & .dc-input__label {
            top: 0.9rem;
        }
    }
    &__password-area {
        @include desktop-screen {
            width: calc(min(34rem, 100vw));
        }
        @include mobile-or-tablet-screen {
            width: 100%;
            max-width: calc(100% - 2.4rem);
        }
    }
    &__error {
        display: flex;
        max-width: 38.4rem;
        min-height: 28.4rem;
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;
        margin: 0 auto;
    }
    &__description {
        @include typeface(--paragraph-left-normal-black);
        color: var(--text-prominent);
        margin-bottom: 2.4rem;

        &--is-centered {
            margin-bottom: 2.4rem;
            max-width: 70%;
        }
    }
    &__confirm-button {
        margin-top: 2.4rem;
    }
    &__success {
        min-width: 38.4rem;
        height: 28.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 2.4rem 0 2rem;

        @include mobile-or-tablet-screen {
            width: calc(100vw - 3.2rem);
            height: 100%;
        }
    }
    @include mobile-or-tablet-screen {
        & .dc-form-submit-button {
            all: unset;
        }
    }
}

/** @define poi-icon-row; weak */
.poi-icon-row {
    display: flex;
    margin-bottom: 16px;

    &__icon-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        color: var(--text-less-prominent);

        &:not(:first-child):not(:last-child) {
            margin: 0 40px;
        }
        p {
            font-size: var(--text-size-xxs);
        }
        p:first-of-type {
            line-height: 1.5;
            margin-top: 8px;
            font-weight: bold;
        }
        @include mobile-or-tablet-screen {
            &:not(:first-child):not(:last-child) {
                margin: 0;
            }
            & .dc-icon {
                width: 8.8rem;
                height: auto;

                /* iPhone SE screen width fixes due to UI space restrictions */
                @media only screen and (max-width: 340px) {
                    width: 7rem;
                }
            }
            p {
                line-height: 20px;
            }
        }
    }
    @include mobile-or-tablet-screen {
        display: grid;
        grid-gap: 2.4rem;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 4rem;
    }
}

.dc-modal__container_cfd-financial-stp-modal {
    .dc-modal-header {
        border-bottom: 1px solid var(--general-section-1);
    }
}

.dc-modal__container_jurisdiction-modal {
    overflow-y: scroll;

    .dc-modal-header {
        border-bottom: 2px solid var(--general-section-1);
    }
}

.poi-poa-submitted {
    &__message-content {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        padding: 10rem 3rem 7rem;
        line-height: 5rem;
        .dc-btn {
            margin-top: 2rem;
        }
    }
    &__text {
        padding-top: 1.6rem;
    }
    &__svg-footer {
        display: flex;
        margin: 1.6rem 0;
        .dc-btn {
            margin: 0.5rem;
        }
    }
}

.cfd-password-change {
    &-list {
        list-style: disc;
        margin-top: 0.4rem;
        &-container {
            padding-left: 2.5rem;
            margin-bottom: 1.3rem;
            font-size: 1.6rem;
            color: var(--text-general);
        }
    }
    &-modal {
        &-description {
            margin: 1.5rem 0 2rem;
            @include mobile-or-tablet-screen {
                margin: 1rem 1rem 2rem;
                &--button {
                    display: flex;
                    width: 100%;
                }
                &--footer {
                    padding: 1rem 1.6rem;
                    border-top: 1px solid var(--general-hover);
                }
            }
            @include tablet-portrait-screen {
                margin-inline: 0;
            }
        }
    }
    &__content {
        border-top: 1px solid var(--general-hover);
        // to override the default padding
        padding: 0 !important;
        &-center {
            justify-content: center;
        }
        @include mobile-or-tablet-screen {
            border-top: none;
        }
    }
    &__password-success {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include mobile-or-tablet-screen {
            padding: 1.4rem 1.6rem 2.4rem;
        }
    }
    &__icon {
        // to adjust the icon to the center
        margin: 0 0 2rem 2.4rem;
        @include mobile-or-tablet-screen {
            margin: 0 0 2.4rem 2.4rem;
        }
    }
    &__heading {
        margin-bottom: 0.8rem;
    }
    &__subtext {
        margin-bottom: 1.6rem;
    }
    @include desktop-screen {
        &__footer {
            &-button {
                padding: 0 1rem 1rem 0;
                align-self: self-end;
            }
        }
        &__container {
            padding: 0 1.3rem;
            border-bottom: 1px solid var(--general-hover);
        }
    }
    &__footer-button {
        @include mobile-or-tablet-screen {
            padding: 1rem;
        }
        @include tablet-portrait-screen {
            width: 100%;
            margin-block-end: auto;
            .dc-form-submit-button {
                gap: 0.8rem;
                .dc-btn {
                    margin: 0;
                    flex: 1 0 auto;
                }
            }
        }
    }
    &__header {
        .dc-mobile-dialog__title {
            @include tablet-portrait-screen {
                margin-inline: auto;
                font-size: var(--text-size-s);
            }
        }
    }
    &__wrapper {
        &.dc-mobile-dialog__cfd-password-modal {
            @include tablet-portrait-screen {
                max-width: 60rem;
            }
        }
    }
    &__container {
        &.cfd-password-modal__content.dc-modal__container_cfd-password-modal__body {
            @include tablet-portrait-screen {
                height: auto;
                flex-grow: 0;
                margin-block-end: 0;
            }
        }
    }
}
