.p2p-v2-radio-group-filter-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background: #fff;
    width: 32.8rem;
    box-shadow: 0px 32px 64px 0px rgba(14, 14, 14, 0.14);

    &__text {
        margin: 2.4rem 0;

        @include mobile {
            margin: 1.6rem 0;
        }
    }

    .p2p-v2-radio-group {
        &.p2p-v2-sort-radiogroup {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin: unset;
        }
        .p2p-v2-radio-group__item {
            &.p2p-v2-sort-radiogroup {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                margin: unset;
                padding: 1.2rem 2.4rem;
                width: 100%;

                &:first-child {
                    border-bottom: 1px solid var(--border-normal);
                }
            }
        }
    }
}
