.static-applauncher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 22rem;
    margin-left: 1rem;

    &--grey {
        @include desktop {
            height: 6rem;
        }

        @include mobile {
            width: 70%;
            margin-left: 1.5rem;
        }

        width: 22rem;
        margin-left: 0;
        background: var(--general-section-1);
    }

    &__icon {
        margin-right: 1rem;

        &--blurry {
            opacity: 0.2;
        }

        &--selected {
            margin-left: 1rem;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: auto;
        margin-right: 0.5rem;
        margin-left: 1rem;

        &--animated {
            animation: triggerAnimation 0.5s linear infinite alternate;
        }

        &-topup {
            margin-bottom: 2.3rem;
            cursor: not-allowed;
        }
    }
}
