.static-currency-switcher-container {
    @include mobile {
        width: 100%;
    }

    display: inline-flex;
    flex-shrink: 0;
    gap: 1.6rem;
    align-items: center;
    height: 72px;
    margin-left: auto;
    padding: 2rem 1.6rem;
    border: 1px solid var(--general-hover);
    border-radius: 8px;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
