.static-dashboard {
    @include desktop {
        min-width: 132rem;
    }

    @include mobile {
        position: relative;
        bottom: 2rem;
    }

    @include mobile {
        width: 90%;
        margin: 0 5%;
        padding: 0;
    }

    padding: 3rem;
    border-radius: 1.6rem;
    background-color: var(--general-main-1);

    &--deposit-button {
        cursor: not-allowed;
        pointer-events: none;

        &-blurry {
            opacity: 0.2;
        }

        &-animated {
            width: fit-content;
            box-shadow: 0 2rem 1.5rem -0.1rem var(--general-section-1);
            animation: triggerAnimation 0.5s linear infinite alternate;
        }
    }

    &--eu {
        padding-bottom: 7rem;
    }

    &-wrapper {
        @include mobile {
            padding: 0;
            border: none;
        }

        padding: 3rem;
        border: 2rem solid var(--general-section-1);
        border-radius: $BORDER_RADIUS;

        &__header-and-description {
            @include mobile {
                flex-direction: column;
            }

            display: flex;
        }

        &__bordered {
            padding: 2rem;
            border: 1px solid var(--general-hover);
            border-radius: 2.4rem;
        }

        &__bordered--with-margin {
            margin-bottom: 2rem;
            padding: 2.4rem;
            border: 1px solid var(--general-hover);
            border-radius: 2.4rem;
        }

        &__bordered,
        &__bordered--with-margin {
            @include mobile {
                overflow-x: hidden;
                overflow-y: scroll;
                height: 36.5rem;
                padding: 3rem 3rem 15rem;
                border: none;
            }
        }

        &__description {
            @include mobile {
                margin-top: 1rem;
            }

            margin-bottom: 1rem;
        }

        &__header {
            @include mobile {
                width: 100%;
                padding-left: 0;
            }

            @include mobile {
                flex-direction: column;
            }

            display: flex;
            flex-direction: column;

            &--limited-width {
                width: 70%;
            }

            &--toggle-account {
                align-self: center;
                width: 100%;
                padding: 0.4rem;
                border-radius: $BORDER_RADIUS;
                background-color: var(--general-section-1);
                cursor: not-allowed;
                pointer-events: none;
            }

            &-compare-accounts {
                margin-left: 1rem;

                &--blurry {
                    opacity: 0.2;
                }
            }

            &--underlined {
                text-decoration: underline;

                &--blurry {
                    opacity: 0.2;
                }
            }

            &--animated {
                position: inherit;
                width: fit-content;
                font-size: 2rem;
                animation: triggerAnimation 0.5s linear infinite alternate;
            }

            &--normal {
                font-size: 2rem;
            }
        }

        &__body {
            @include mobile {
                display: flex;
                flex-direction: column;
            }

            display: grid;
            grid-template-columns: repeat(3, 1fr);

            &--header {
                margin-top: 2rem;
            }

            &--grey {
                padding: 0;
            }

            &--with-add {
                display: flex;
            }

            &--add-button {
                display: flex;
                justify-content: center;
                align-items: center;

                &-text {
                    margin-left: 0.3rem;
                }
            }

            &--apps {
                @include desktop {
                    margin-top: 1rem;
                }

                @include mobile {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 0;
                }

                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-column-gap: 3rem;

                &--with-gap {
                    grid-column-gap: 3rem;
                }

                &--eu {
                    @include mobile {
                        display: block;
                        width: auto;
                    }

                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                }
            }
        }
    }

    .divider {
        width: calc(100% - 3.2rem);
        margin: 1rem 0 1.6rem 1.6rem;
        border-top: 1px solid var(--general-section-1);
    }

    .Add-Square {
        display: flex;
        align-self: center;
        margin-left: 1rem;
        opacity: 0.2;
    }

    .Add-Rounded {
        opacity: 0.2;
    }
}
