.static-cfd-account-manager {
    @include mobile {
        align-items: flex-start;
        width: 31rem;
        margin-right: 0;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 38.3rem;
    margin-top: 2rem;
    margin-right: 2rem;

    &--with-margin {
        @include desktop {
            margin-bottom: 2rem;
        }
    }

    &--cfds {
        @include mobile {
            width: auto;
        }
    }

    &__icon {
        margin-right: 3rem;

        &--blurry {
            opacity: 0.2;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
    }

    &__buttons {
        @include mobile {
            margin-top: 1.5rem;
            margin-right: 2rem;
        }

        display: flex;
        flex-direction: column;
        margin-left: auto;

        &--animated {
            box-shadow: 0 2rem 1.5rem -0.1rem var(--general-section-1);
            animation: triggerAnimation 1s linear infinite alternate;
        }

        &-topup {
            margin-bottom: 0.5rem;
            margin-left: 2rem;
            cursor: not-allowed;
            pointer-events: none;

            &--blurry {
                opacity: 0.2;
            }

            &--animated {
                box-shadow: 0 2rem 1.5rem -0.1rem var(--general-section-1);
                animation: triggerAnimation 0.5s linear infinite alternate;
            }
        }

        &-trade {
            margin-bottom: 0.5rem;
            margin-left: 2rem;
            cursor: not-allowed;
            pointer-events: none;

            &--blurry {
                opacity: 0.2;
            }

            &--animated {
                box-shadow: 0 2rem 1.5rem -0.1rem var(--general-section-1);
                animation: triggerAnimation 1s linear infinite alternate;
            }
        }

        &-get {
            margin-left: 1rem;
            pointer-events: none;
            user-select: none;

            &--blurry {
                opacity: 0.2;
            }
        }
    }
}
