.wallets-jurisdiction-card {
    align-items: center;
    border-radius: 1.6rem;
    border: 0.2rem solid $color_grey_2;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    position: relative;
    height: 100%;

    transition-duration: 0.3s;
    transition-property: transform, box-shadow;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

    &--flip {
        transform: rotateY(180deg);
    }

    @include mobile {
        max-width: 100%;
        width: 100%;
    }

    @include mobile {
        max-width: 100%;
    }

    &__link {
        color: $color_red;
    }

    &:hover {
        box-shadow: 0rem 2.4rem 4.8rem 0rem rgba(14, 14, 14, 0.18);
    }

    &--selected {
        border: 0.2rem solid $color_green;
        box-shadow: 0rem 2.4rem 4.8rem 0rem rgba(14, 14, 14, 0.18);
    }

    &-front {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: center;
        padding: 2rem 1.6rem;

        @include mobile {
            width: 100%;
        }

        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        transition: transform 0.3s;

        &--flip {
            -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
        }

        &__label {
            margin-bottom: 1.5rem;
            text-align: center;

            @include mobile {
                margin-top: 2.5rem;
            }
        }

        &__tag {
            background-color: $color_red_8;
            border-radius: 0.4rem;
            color: $color_white;
            font-weight: 700;
            padding: 0.5rem 1rem;

            &-icons {
                display: flex;
                gap: 0.6rem;
            }

            &--red-darker {
                background: $color_red_8;
            }
            &--red-dark {
                background: $color_red_9;
            }
            &--red-light {
                background: $color_red;
            }
            &--yellow-dark {
                background: $color_yellow_1;
            }
            &--yellow-light {
                background: $color_yellow_2;
            }
            &--violet-dark {
                background: $color_violet;
            }
            &--brown-dark {
                background: $color_brown;
            }
        }
    }
}

@keyframes flip {
    from {
        transform: rotateY(-180deg);
    }
    to {
        transform: rotateY(0deg);
    }
}

.wallets-dynamic-leverage-modal-transition {
    animation: flip 0.6s;
}
