.wallets-jurisdiction-card-tag {
    background-color: #dfeaff;
    border-radius: 1.3rem 1.3rem 0 0;
    padding: 0.8rem;
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    text-align: center;
    width: 100%;

    & + .wallets-jurisdiction-card-front {
        padding-top: 0;
    }
}
