.wallets-jurisdiction-card-tag {
    background-color: #dfeaff;
    border-radius: 1.3rem 1.3rem 0 0;
    padding: 0.8rem;
    position: absolute;
    top: 0;
    width: 100%;

    &__label {
        color: #377cfc;
        font-size: 1.2rem;
        display: grid;
        place-items: center;
        font-weight: 700;
    }
}
