.wallets-jurisdiction-card-row {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1rem 0;
    width: 100%;

    @include mobile-or-tablet-screen {
        padding: 2rem 0;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-badge {
            background-color: #661b20;
            border-radius: 0.4rem;
            color: #ffffff;
            font-weight: 700;
            padding: 1rem;
        }
    }

    &--assets {
        height: 11rem;
    }

    &--verifications,
    &--regulator {
        height: 10rem;
    }
}
