.tradetype-template {
    width: 105.2rem;

    &__banner {
        height: 100%;
        width: 93.6rem;
        border-radius: 10px;
        background-image: url('~Assets/images/banner-background.png');

        &--container {
            margin-top: 17.7rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            max-width: 49.1rem;
        }
    }
}
