.tradetype-template {
    width: 105.2rem;

    &__banner {
        padding: 17.7rem 8.1rem;
        width: 93.6rem;
        border-radius: 10px;
        background-image: url('~Assets/images/banner-background.png');
        background-repeat: no-repeat;

        &-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            max-width: 49.1rem;
        }
    }
    &__app-to-trade-card {
        display: flex;
        max-width: 29.6rem;
        width: 100%;
        padding: 1.6rem 1.6rem 1.9rem;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05), 0px 16px 20px rgba(0, 0, 0, 0.05);
        border-radius: 4px;

        &-container {
            max-width: 16.8rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 1.6rem;
        }
        &-wrapper {
            display: flex;
            margin-top: 3.7rem;
        }
        &-link {
            color: $color-apple-blue;
            text-decoration: none;
            font-weight: bold;
            font-size: 12px;
            margin: auto 2.4rem auto 0;
        }
        .dc-btn--primary {
            background-color: $color-apple-blue;
        }
    }
}
