.p2p-v2-my-profile-counterparties-table {
    max-height: 22.4rem;

    @include mobile {
        // stylelint-disable-next-line declaration-no-important
        height: calc(100vh - 30rem) !important;
        max-height: 100%;
    }

    &__row {
        &:last-child {
            position: relative;
        }
        &:not(:last-child) {
            border-bottom: 1px solid var(--general-section-1);
        }
    }
}
