.p2p-v2-my-profile-counterparties-table {
    & .deriv-table__content {
        max-height: 24.8rem;

        @include mobile {
            height: calc(100vh - 30rem);
            max-height: 100%;
        }
    }

    &__row {
        &:last-child {
            position: relative;
        }
        &:not(:last-child) {
            border-bottom: 1px solid var(--general-section-1);
        }
    }
}
