.p2p-v2-my-profile-counterparties-table {
    max-height: 16rem;

    @include mobile {
        height: 100%;
        max-height: 100%;
    }
    &__row {
        &:last-child {
            position: relative;
        }
        &:not(:last-child) {
            border-bottom: 1px solid var(--general-section-1);
        }
    }
}
