/**
 * @define journal
 */
.journal {
    &-empty {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &__container {
            -webkit-box-flex: 1;
            flex-grow: 1;
            display: -webkit-box;
            display: flex;
            flex-direction: column;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            width: 345px;
            margin-top: 50%;
        }
        &__header {
            font-size: 1.4rem;
            font-weight: bold;
            text-align: center;
            color: var(--text-less-prominent);
            padding: 8px;
        }
        &__icon {
            align-self: center;
        }
        &__message {
            line-height: 1.5;
            font-size: 1.2rem;
            color: var(--text-less-prominent);
            margin: 0 auto;
        }
        &__list {
            list-style-type: circle;
            margin-left: 20px;
        }
    }
    &__item {
        padding: 16px;

        &-content {
            > * {
                width: 100%;
            }
        }
        &:nth-child(even) {
            background: var(--status-default);
        }
    }
    &-tools {
        &__container {
            display: flex;
            justify-content: space-around;
            padding: 12px;
            border: solid 1px var(--general-section-1);

            &-filter {
                display: flex;
                justify-content: space-around;
                width: 85%;
            }
            &-download {
                cursor: pointer;
            }
        }
        &__text {
            // TODO: [fix-dc-bundle] Fix import issue with Deriv Component stylesheets (app should take precedence, and not repeat)
            font-size: var(--text-size--xxs) !important;
        }
    }
    &__text {
        font-size: var(--text-size-xxs);
        line-height: 1.5;
        display: inline;

        &-time,
        &-date {
            display: inline;
        }
        &-datetime {
            color: var(--text-less-prominent);
            font-size: var(--text-size--xxxs);
            margin-top: 6px;
        }
        &--success {
            color: var(--status-success);
        }
        &--info {
            color: var(--status-info);
        }
        &--warn {
            color: var(--status-warning);
        }
        &--error {
            color: var(--status-danger);
        }
        &--bold {
            font-weight: bold;
        }
    }
    &__loader {
        width: 350px;
        height: 90px;
    }
}
