/**
* @define -panel
**/
// TODO: [fix-dc-bundle] Fix import issue with Deriv Component stylesheets (app should take precedence, and not repeat)
.run-panel {
    height: var(--bot-content-height) !important;
    top: 104px !important;

    &__tile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 56px;

        &-title {
            height: 18px;
            margin-bottom: 4px;
            @include typeface(--small-center-bold-black, none);
        }
        &-content {
            height: 18px;
            margin-bottom: 4px;
            @include typeface(--small-center-normal-black, none);
        }
    }
    &__stat {
        display: grid;
        grid-template: 50px / 1fr 1fr 1fr;
        width: 100%;
        padding: 16px 0;
        background-color: var(--general-section-1);

        &-amount {
            @include typeface(--small-center-normal-black, none);

            &--positive {
                font-weight: bold;
                color: var(--text-profit-success);
            }
            &--negative {
                font-weight: bold;
                color: var(--text-loss-danger);
            }
        }
    }
    &__footer {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &-button {
            width: 318px;
            // TODO: [fix-dc-bundle] Fix import issue with Deriv Component stylesheets (app should take precedence, and not repeat)
            height: 32px !important;
            margin: 12px 24px;
        }
    }
    &__content {
        overflow: hidden !important;
    }
    &__buttons {
        display: inline-flex !important;
        justify-content: space-between;
        width: 67%;
        margin-top: 1rem;
        align-items: center;
    }
    &-tab {
        &__content {
            height: var(--drawer-content-height);

            &--no-stat {
                height: var(--drawer-content-height-no-stat);
            }
        }
    }
}

//animation
.list {
    &__animation {
        &-enter {
            height: 0;
            transform: translateX(200%);

            &-active {
                height: auto;
                transform: translateX(0%);
                transition: height 500ms, transform 500ms;
            }
        }
        &-exit {
            opacity: 1;

            &-active {
                opacity: 0;
                transition: opacity 300ms;
            }
        }
    }
}
