/**
* @define -panel
**/
// TODO: [fix-dc-bundle] Fix import issue with Deriv Component stylesheets (app should take precedence, and not repeat)
.run-panel {
    height: var(--bot-content-height) !important;
    top: 104px !important;
    // Mahboobeh, don't re-add z-index plz.

    &__footer {
        text-align: center;
        margin-top: 16px;
    }
    &__buttons {
        display: inline-flex !important;
        justify-content: space-between;
        width: 67%;
        height: 6rem;
        align-items: center;
    }
    &__icon-info {
        vertical-align: middle;
    }
    &__info {
        display: block;
        font-size: 10px;
    }
    &__animation {
        height: 64px;
        margin: 0 16px;
    }
    &-tab {
        &__content {
            height: calc(100vh - 310.39px);
        }
    }
}

//animation
.list {
    &__animation {
        &-enter {
            height: 0;
            transform: translateX(200%);

            &-active {
                height: auto;
                transform: translateX(0%);
                transition: height 500ms, transform 500ms;
            }
        }
        &-exit {
            opacity: 1;

            &-active {
                opacity: 0;
                transition: opacity 300ms;
            }
        }
    }
}
