.transactions {
    $transaction: &;
    $grid-template-columns: 40px 1fr 1fr; // 16px (icon) + 24px (spacing)

    &-empty {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &__container {
            box-flex: 1;
            flex-grow: 1;
            display: -webkit-box;
            display: flex;
            flex-direction: column;
            box-align: center;
            align-items: center;
            box-pack: center;
            width: 345px;
            margin-top: 50%;
        }
        &__header {
            font-size: 1.4rem;
            font-weight: bold;
            text-align: center;
            color: var(--text-less-prominent);
            padding: 8px;
        }
        &__icon {
            align-self: center;
        }
        &__message {
            line-height: 1.5;
            font-size: 1.2rem;
            color: var(--text-less-prominent);
            margin: 0 auto;
        }
        &__list {
            list-style-type: circle;
            margin-left: 20px;
        }
    }
    &__header {
        border-bottom: 1px solid var(--general-section-1);
        display: grid;
        @include typeface(--small-left-bold-black, none);
        grid-template-columns: $grid-template-columns;
        grid-template-areas: '. spot profit .';
        margin: 0 16px -1px;
        padding: 13px 8px; // Equal l+r with transaction__item padding.
        height: 42px;

        $header-grid-items: (unquote('spot'), unquote('profit'));

        @each $item in $header-grid-items {
            &-#{$item} {
                grid-column: $item;
            }
        }
    }
    &__content {
        height: calc(100% - 42px);
    }
    &__item {
        display: grid;
        font-size: 12px;
        grid-row-gap: 4px;
        grid-template-columns: $grid-template-columns;
        grid-template-rows: auto auto;
        grid-template-areas: ('trade-type entry-spot stake' 'trade-type exit-spot  profit');
        padding: 8px;

        &-wrapper {
            padding: 0 16px;
            cursor: pointer;
            position: relative;
            border-top: 1px solid var(--general-section-1);

            &:hover {
                background-color: var(--state-hover);
            }
        }
    }

    $grid-items: (
        unquote('trade-type'),
        unquote('entry-spot'),
        unquote('exit-spot'),
        unquote('stake'),
        unquote('profit')
    );

    @each $item in $grid-items {
        &__#{$item} {
            grid-column: $item;
            grid-row: $item;
        }
    }

    &__divider {
        border-top: 1px solid var(--general-section-1);
        margin: 0 16px;
        padding: 8px 0;

        &-line {
            height: 4px;
            background-color: var(--general-section-1);
        }
    }
    &__item-wrapper + &__divider {
        border-top: none;
    }
    &__divider + &__item-wrapper {
        border-top: none;
    }
    &__loader {
        &-text {
            width: 80px;
            height: 10px;
        }
        &-icon {
            width: 30px;
            height: 30px;
        }
    }
    &__icon {
        margin-right: 8px;
        max-height: 16px;
        max-width: 16px;
        min-height: 16px;
        min-width: 16px;
    }
    &__cell {
        display: flex;
        align-items: center;
        line-height: 1.5;
    }
    &__profit {
        &--win {
            color: var(--text-profit-success);

            &:before {
                content: '+';
            }
        }
        &--loss {
            color: var(--text-loss-danger);

            &:before {
                content: '-';
            }
        }
    }
    &__info {
        &-header {
            font-weight: bold;
        }
    }
    // TODO: For Popover--once <Icon> component is shared--mirror <ContractAudit>
    &__popover {
        // &-content {
        //     border-radius: $BORDER_RADIUS;
        //     background-color: var(--general-main-1);
        // }
        &-title {
            @include typeface(--xsmall-left-normal-black, none);
        }
        &-item {
            @include typeface(--small-left-bold-black, none);
            // padding: 8px;
            // margin: 0 4px;

            &:not(:last-of-type) {
                // border-bottom: 1px solid var(--general-section-2);
                margin-bottom: 8px;
            }
            // &:last-of-type {
            //     padding: 0 inherit;
            // }
        }
    }
}
