.wallets-deposit-crypto-disclaimers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.4rem;

    &__content {
        line-height: 1.4rem;
    }

    &__note {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
}
