.wallets-dxtrade-enter-password {
    display: inline-flex;
    padding: 2rem 0rem 2.4rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 0.8rem;

    &__button {
        display: flex;
        gap: 0.8rem;
    }
}

.wallets-success-btn {
    width: 10rem;

    @include mobile {
        width: 100%;
    }
}
