.wallet-wrapper {
    display: grid;
    place-content: center;
    width: 100%;
    height: 100%;

    &--icon {
        max-width: 20rem;
        max-height: 12rem;
        width: 100%;
    }

    &--checkbox {
        .dc-checkbox__label {
            @include mobile {
                font-size: var(--text-size-xxs);
            }
        }
    }

    &--body {
        margin: 0 auto;
        max-width: 73.9rem;
        @include mobile {
            padding: 0rem 1.6rem;
        }
    }

    &--body,
    &--text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &--text {
        margin: 2.4rem 0;
    }

    &--info-section {
        background-color: var(--transparent-info);
        border-radius: 0.8rem;
        padding: 1.6rem;
        margin-bottom: 2.4rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1.6rem;

        &__text {
            display: grid;
            grid-template-columns: 1.6rem 1fr;
            grid-column-gap: 0.8rem;
            align-items: center;
        }
    }
    // This won't be needed once everything is merged
    &--footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.8rem;
        padding: 1.6rem;
        box-shadow: inset 0rem 0.2rem 0rem var(--general-section-1);

        &__btn {
            width: 50%;
        }
    }
}
