.email-verification-empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4.6rem;

    @include mobile-or-tablet-screen {
        gap: 2.4rem;
    }
}
