@keyframes slide {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.loader {
    overflow: hidden;
    @include themify($themes) {
        background-color: rgba(themed('loader_background'), 0.16);
    }

    &--loading {
        width: inherit;
        height: inherit;
        animation: slide 1s cubic-bezier(1, 0, 0.5, 0) infinite;
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0), $COLOR_WHITE 10%, rgba(255, 255, 255, 0));
        opacity: 0.32;
    }
}

.app-contents {
    &--contract-mode, &--is-blurred {
        .trade-container {
            .popover {
                display: none;
            }
            .tooltip:before, .tooltip:after {
                display: none;
            }
        }
    }
    .sidebar__items--blur {
        .popover {
            display: none;
        }
        .tooltip:before, .tooltip:after {
            display: none;
        }
    }
}

/** @define trade-container */
.trade-container {
    @include themify($themes) {
        background: themed('container_color');
    }

    &__fieldset {
        border-radius: $BORDER_RADIUS;
        padding: 0.8em;
        margin-bottom: 0.4em;
        @include themify($themes) {
            background-color: themed('background_container_color');
            border: 1px solid themed('background_container_color');
            color: themed('text_primary_color');
        }

        &-header {
            height: 1.5rem;
            position: relative;
        }
        &-info {
            @include typeface(--paragraph-left-normal-black);
            @include themify($themes) {
                color: themed('text_color');
            }

            &--left {
                left: 5px;
            }
        }
    }
    &__input {
        align-self: center;
        appearance: none;
        box-sizing: border-box;
        border-radius: $BORDER_RADIUS;
        @include themify($themes) {
            background: themed('container_color');
            color: themed('text_color');

            &:hover {
                border-color: themed('border_hover_color');
            }
        }
    }
    &__error {
        justify-content: center;
        align-items: center;
        display: flex;

        &-info {
            @include themify($themes) {
                color: themed('text_color');
            }
            @include typeface(--small-left-light-black, none);
            @include toEm(padding, 5px 5px 5px 8px, 1.2em);
            @include toEm(margin-bottom, 10px, 1.2em);
            background-color: rgba($COLOR_ORANGE, 0.16);
            display: block;
            border: 1px solid $COLOR_ORANGE;
            border-radius: $BORDER_RADIUS;
        }
    }
    &__currency {
        position: absolute;
        float: left;
        font-size: 10px;
        height: 32px;
        left: 32px;
        align-items: center;
        justify-content: center;
        width: 20px;
        display: flex;
        background: transparent;
        border-color: transparent;
        z-index: 2;
        @include themify($themes) {
            color: themed('text_primary_color');
        }

        &--symbol {
            font-size: 1.4em;
            line-height: 1.5;
        }
        &:before {
            @include typeface(--paragraph-center-normal-black);
            color: inherit;
        }
    }
    &__price {
        line-height: 0.9rem;
        border: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
        @include themify($themes) {
            color: themed('text_color');
        }

        &-info {
            display: flex;
            justify-self: left;
            align-items: center;

            &--disabled {
                .trade-container__price-info-value, .trade-container__price-info-basis {
                    @include themify($themes) {
                        color: themed('disabled_color');
                    }
                }
            }
            &--slide {
                width: 92px;
                height: 8px;
                margin: 6.5px 0;
                @extend .loader;

                .trade-container__price-info-basis {
                    @extend .loader--loading;
                }
            }
            &--fade &-value {
                opacity: 0;
            }
            &-value {
                font-size: 1.4em;
                font-weight: 700;
                text-transform: capitalize;
                text-align: left;
                line-height: 1.25;
                margin-left: 0.1em;
                @include themify($themes) {
                    color: themed('text_color');
                }
                opacity: 1;
                transition: 0.3s;
            }
            &-basis {
                margin-left: 0;
                font-weight: normal;
                @include typeface(--paragraph-left-normal-black);
                @include themify($themes) {
                    color: themed('text_color');
                }
            }
            &-currency {
                margin-left: 4px;
                margin-right: 1px;
                display: inline-block;
                position: relative;
                font-weight: bold;
            }
            &-movement {
                margin-left: 4px;
                width: 16px;
                height: 16px;
                bottom: 1px;
                position: relative;
            }
        }
    }
    &__barriers {
        display: flex;
        flex-direction: column;

        &:first-child {
            padding-right: 8px;
        }
        &-input {
            padding-left: 3px;
        }
        &-single {
            width: 100%;
        }
        &-multiple {
            &-input {
                padding-left: 25px;
                padding-right: 9px;
                text-align: center;
            }
            &:first-of-type {
                padding-right: 8px;
            }
        }
        &--up, &--down {
            position: absolute;
            margin-top: 15px;
        }
        &--up {
            right: 86.5%;
        }
        &--down {
            right: 39%;
        }
    }
    &__allow-equals {
        &__label {
            @include themify($themes) {
                color: themed('text_primary_color');
            }
        }
    }
    &__currency-options {
        // fix for Safari:
        // display: inline-block causes input cursor to seemingly appears duplicated
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 0.2em;

        &-dropdown {
            margin-top: 0.8em;
        }
        &--display {
            border-radius: $BORDER_RADIUS 0 0 $BORDER_RADIUS;

            /* postcss-bem-linter: ignore */
            .symbols {
                font-size: 1.4em;
            }
        }
    }
    &__amount .trade-container__input {
        padding: 0 30px;
        border-radius: 0 $BORDER_RADIUS $BORDER_RADIUS 0;
    }
}

/** @define purchase-container */
.purchase-container {
    position: relative;

    &__option {
        padding-top: 8px;
        padding-bottom: 8px;

        &:not(:only-child) {
            &:nth-last-child(2) {
                border-bottom-width: 0;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                margin-bottom: 0 !important;
            }
            &:nth-last-child(1) {
                border-top-width: 0;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                margin-bottom: 0 !important;

                .trade-container__price {
                    margin-top: -4px;
                }
            }
        }
    }
    &__loading {
        background: rgba(255, 255, 255, 0.6);
        border-radius: $BORDER_RADIUS;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        left: -2px;
    }
    &__popover-bubble {
        width: 220px;
    }
    //&__lock {
    //    position: absolute;
    //    display: flex;
    //    justify-content: center;
    //    align-items: center;
    //    background: $COLOR_LIGHT_BLACK_4_SOLID;
    //    opacity: 0.95;
    //    min-height: 202px;
    //    width: calc(100% - 6px);
    //    height: calc(100% - 2px);
    //    z-index: 3;
    //    top: 0;
    //    left: 2px;
    //    right: 0;
    //    flex-direction: column;
    //    bottom: 0;
    //    border-radius: $BORDER_RADIUS;
    //    @include themify($themes) {
    //        background: themed('background_container_color');
    //    }
    //
    //    &-icon {
    //        width: 64px;
    //        height: 64px;
    //        @extend %inline-icon.white;
    //    }
    //    &-button {
    //        height: 32px;
    //        margin: 0 1rem 1.5rem;
    //        width: 90px;
    //        line-height: 100%;
    //        background: transparent;
    //    }
    //    &-header {
    //        margin: 2px 8px 8px;
    //        padding: 0;
    //        text-transform: capitalize;
    //        @include themify($themes) {
    //            color: themed('text_color');
    //        }
    //    }
    //    &-message {
    //        text-align: center;
    //        padding: 8px;
    //        margin: 1rem 1rem 0;
    //        border-radius: $BORDER_RADIUS;
    //        font-size: 10px;
    //        @include themify($themes) {
    //            background: themed('background_cover');
    //            color: themed('text_primary_color');
    //        }
    //    }
    //}
}

/** @define btn-purchase */
.btn-purchase {
    position: relative;
    background-color: $COLOR_GREEN_2;
    overflow: hidden;
    height: 5.6em;
    width: 100%;
    margin: 5px 0 0;
    padding: 0;
    text-align: left;
    transition: transform 0.25s ease;
    z-index: 1;

    &__text {
        @include typeface(--paragraph-left-bold-active);
    }
    &__info {
        color: $COLOR_WHITE;
        text-align: left;
        position: relative;
        display: flex;
        flex-grow: 1;
        align-items: center;
        padding-left: 10px;
        height: 56px;
    }
    &__info--left {
        background-color: $COLOR_GREEN_1;
        width: 60%;
        float: left;

        .btn-purchase__text_wrapper {
            margin-left: 24px;
            position: absolute;
        }
        .btn-purchase__icon_wrapper {
            @extend %inline-icon.white;
            /* postcss-bem-linter: ignore */
            .color1-fill {
                @include themify($themes) {
                    fill: themed('text_active_color');
                }
            }
        }
    }
    &__info--right {
        width: 40%;
        padding-left: 10%;
        padding-right: 10px;
        float: right;
        justify-content: right;
        background-color: transparent;

        .btn-purchase__text {
            opacity: 1;
            transition: 0.3s;
        }
    }
    &__effect-detail {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 28px 0 28px 14px;
        border-color: transparent transparent transparent $COLOR_GREEN_1;
        left: 60%;
        position: absolute;
        top: 0;
        bottom: 0;
        display: inline-block;
    }
    &[disabled]:hover {
        cursor: initial;
    }
    &:hover:not(&--disabled):not([disabled]) {
        transform: translate3d(0, -4px, 0);
    }
    &__shadow-wrapper {
        position: relative;

        .btn-purchase__box-shadow {
            position: absolute;
            width: 100%;
            bottom: 14px;
            height: 50%;
            z-index: 0;
            opacity: 0.9;
            box-shadow: 0 16px 14px 0 rgba(0, 0, 0, 0.24);
            transition: opacity 0.25s linear;
            pointer-events: none;
        }
        &--disabled {
            .btn-purchase__box-shadow {
                opacity: 0;
            }
            &:hover {
                transform: none;
            }
        }
    }
    &--disabled, &[disabled] {
        cursor: default;

        @include themify($themes) {
            background-color: themed('btn_purchase_disabled_bg');
            color: themed('disabled_color');

            .btn-purchase__info--left {
                background-color: themed('btn_purchase_disabled_accent');

                svg {
                    @include colorIcon(themed('disabled_color'), themed('disabled_color'));
                }
                .btn-purchase__text {
                    color: themed('disabled_color');
                }
            }
            .btn-purchase__effect-detail {
                border-color: transparent transparent transparent themed('btn_purchase_disabled_accent');
            }
        }
    }
    &--animated--slide {
        .btn-purchase__icon_wrapper, .btn-purchase__text_wrapper {
            @extend .loader;
        }
        .btn-purchase__icon, .btn-purchase__text {
            @extend .loader--loading;
        }
        .btn-purchase__icon_wrapper {
            width: 16px;
            height: 16px;
        }
        .btn-purchase__text_wrapper {
            width: 56px;
            height: 8px;

            .btn-purchase__text {
                display: block;
            }
        }
    }
    &--animated--fade &__info--right &__text {
        opacity: 0;
    }
    &__shadow-wrapper:hover:after {
        opacity: 0;
    }
}

/** @define duration-container */
.duration-container {
    /* postcss-bem-linter: ignore */
    .dropdown-container {
        margin-top: 0.8em;
    }
}
