.wallets-transactions-pending {
    position: relative;
    width: 100%;
    max-width: 80rem;

    &__group-title {
        margin-bottom: 0.8rem;
        margin-left: 1.6rem;

        @include mobile {
            margin-left: 0;
        }
    }
}
