.account-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.4rem 2rem;
    position: relative;
    height: 7.2rem;
    border-radius: 0.6rem 0.6rem 0 0;
    flex-shrink: 0;
    cursor: pointer;
    &:hover,
    &-active {
        background: var(--general-section-5);
    }

    @include mobile {
        gap: 0.4rem;
        width: 22rem;
        height: 5.2rem;
        border-radius: 0.4rem 0.4rem 0 0;
        padding: 0.4rem 2rem;
    }
    &__dropdown {
        @include mobile {
            height: 6rem;
            position: absolute;
            right: 0.8rem;
            top: 2.3rem;
        }
    }
    &__icon {
        width: 35%;
        @include mobile {
            width: 3.1rem;
        }
    }
    &__details-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        width: 100%;
        @include mobile {
            width: 100%;
        }
        &--number {
            color: var(--text-less-prominent);
        }
        &--balance {
            color: var(--text-general);
        }
    }
    &__button-wrapper {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 25%;
        right: 0.8rem;
        top: 0.8rem;
        border-radius: 0.4rem;
        @include mobile {
            border-radius: 0.4rem;
            right: 3.1rem;
            width: 5rem;
        }
        &-modal {
            width: 100%;
            padding: 0.4rem 1rem;
        }
    }
}
