.account-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.4rem 1rem;
    isolation: isolate;
    position: relative;
    width: 24rem;
    height: 7.2rem;
    border-radius: 0.6rem 0.6rem 0 0;
    @include mobile {
        gap: 0.4rem;
        isolation: isolate;
        width: 22rem;
        height: 6.2rem;
        border-radius: 0.4rem 0.4rem 0 0;
    }
    &__dropdown {
        @include mobile {
            height: 6rem;
            position: absolute;
            right: 0.8rem;
            top: 2.3rem;
        }
    }
    &__icon {
        width: 6.4rem;
        @include mobile {
            width: 4.1rem;
        }
    }
    &__details-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        width: 6.9rem;
        height: 5.6rem;
        &--number {
            color: $color-grey-1;
        }
        &--balance {
            color: $color-black-1;
        }
    }
    &__button-wrapper {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 6rem;
        height: 2.4rem;
        right: 0.8rem;
        top: 0.8rem;
        border-radius: 0.4rem;
        @include mobile {
            top: 0.5rem;
            border-radius: 0.4rem;
            right: 3.1rem;
            width: 5rem;
        }
        &--label {
            width: 4.5rem;
            height: 1.8rem;
            font-style: normal;
            font-weight: 700;
            font-size: 1.2rem;
            line-height: 1.8rem;
            text-align: center;
            color: $color-black-1;
        }
    }
}
.account-container-active {
    background: $color-grey-2;
}
.account-container-modal {
    width: 100%;
    .account-container__details-wrapper {
        margin-top: 2rem;
    }
}
