.account-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.4rem 2rem;
    grid-template-columns: auto 1fr;
    position: relative;
    border-radius: 0.6rem 0.6rem 0 0;
    flex-shrink: 0;
    cursor: pointer;
    &:hover,
    &-active {
        background: var(--general-section-5);
    }
    &-modal {
        width: 100%;
        padding: 0.4rem 1rem;
    }

    @include mobile {
        gap: 0.6rem;
        border-radius: 0.4rem 0.4rem 0 0;
        padding: 0.8rem 1.6rem;
        grid-template-columns: 1fr auto 0.5fr;
    }
    &__dropdown {
        @include mobile {
            height: 6rem;
            position: absolute;
            right: 0.8rem;
            top: 2.3rem;
        }
    }
    &__icon {
        margin-right: 0.8rem;
        @include mobile {
            width: 3.1rem;
        }
    }
    &__details-wrapper {
        display: grid;
        width: 100%;
        grid-template-areas:
            'txt btn btn'
            'txt btn btn'
            'bal bal bal';
        grid-template-rows: repeat(2, 1fr) auto;
        grid-template-columns: repeat(2, auto) 1fr;
        gap: 0.5rem;
        &--text {
            grid-area: txt;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            &-id {
                color: var(--text-less-prominent);
            }
        }
        &--balance {
            grid-area: bal;
            color: var(--text-general);
        }
        &--btn {
            grid-area: btn;
            justify-self: end;
            align-self: center;
            font-size: 1.2rem;
            border-radius: 0.4rem;
            @include mobile {
                justify-self: center;
            }
        }
    }
    &__button-wrapper {
        font-size: 1.2rem;
        box-sizing: border-box;
        padding: 0;
        border-radius: 0.4rem;

        position: absolute;
        top: 0.8rem;
        right: 0.8rem;
        @include mobile {
            padding: 0 3.1rem;
        }
    }
}
