.wallets-alert-message {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    @include mobile-or-tablet-screen {
        margin: 0;
    }

    &__icon-container {
        position: relative;
        margin-right: 0.4rem;

        &__line {
            border: 1px solid var(--light-5-active-background, #d6dadb);
            position: absolute;
            height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &__icon {
            display: flex;
            position: relative;
            margin-top: 0.8rem;
        }
    }

    &__message-container {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0.8rem 0;
    }
}
