@import './base/index.scss';

/** @define mobile-widget */
.mobile-widget {
    border: 1px solid var(--border-normal);
    border-radius: 4px;
    padding: 1em 0.5em;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    grid-template-areas: 'a b' 'c d';
    font-size: 0.7em;

    &:hover, &:focus, &:active {
        cursor: pointer;
        border: solid 1px var(--border-active);
    }
}

/** @define fieldset-minimized */
.fieldset-minimized {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em;
    white-space: pre-line;

    &__amount {
        grid-area: c;
    }
    &__barrier1 {
        grid-area: b;
    }
    &__barrier2 {
        grid-area: d;
    }
    &__currency:before {
        margin-right: 0.1em;
        position: static;
        display: inline;
        font-size: 1em;
    }
    &__basis {
        font-weight: bold;
        color: var(--text-prominent);
    }
}
