@at-root {
    @font-face {
        font-family: 'BinarySymbols';
        font-style: normal;
        font-weight: normal;
        font-display: fallback;
        src: url('~Fonts/binary_symbols.woff') format('woff'); // relative path to node_modules won't resolve when deploying to a branch
    }
}

/** @define symbols */
.symbols {
    &:before {
        font-family: 'BinarySymbols';
        font-style: normal;
        pointer-events: none;
        padding-right: 0.05em;
    }
    &,
    &:before {
        transition: none;
        animation: none;
    }
    &--aud:before {
        content: '\0041\0024';
    }
    &--eur:before {
        content: '\20AC';
    }
    &--gbp:before {
        content: '\00A3';
    }
    &--jpy:before {
        content: '\00A5';
    }
    &--usd:before {
        content: '\0024';
    }
    &--btc:before {
        content: '\0042';
    }
    &--bch:before {
        content: '\e901';
    }
    &--eth:before {
        content: '\0045';
    }
    &--etc:before {
        content: '\e900';
    }
    &--ltc:before {
        content: '\004c';
    }
    &--ust:before {
        content: '\e903';
    }
}
