.wallet-list {
    &__card_container {
        background-color: pink;
        flex: 1;
        display: flex;
        padding: 24px;
        align-items: flex-start;
        width: 100%;
    }

    &__content {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
        align-self: stretch;
        background-color: rgb(187, 206, 112);
    }

    &__details-container {
        display: flex;
        flex: 1;
        align-items: center;
        gap: 24px;
        align-self: stretch;
        border-radius: 16px;
        background-color: skyblue;
    }

    &__wallet-icon {
        display: flex;
        width: 128px;
        height: 80px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 4px;
        background-color: rgb(200, 100, 180);
    }

    &__action-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
        flex: 1 0 0;
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 8px;
        align-self: stretch;
    }

    &__badge {
        display: flex;
        padding: 0px 4px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        border-radius: 2px;
        border: 1px solid var(--system-light-1-prominent-text, #333);
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__balance-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__balance-title {
        color: var(--system-light-3-less-prominent-text, #999);
        text-align: right;

        /* desktop/small/S - regular */
        font-family: IBM Plex Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 150% */
    }

    &__balance-value {
        color: var(--system-light-1-prominent-text, #333);
        text-align: right;

        /* desktop/subtitle/Sub 1 - bold */
        font-family: IBM Plex Sans;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px; /* 150% */
    }
}
