.account-transfer-form {
    &__hint {
        color: var(--text-general);
    }
    &__submit-button {
        @include desktop {
            margin: 3.4rem 0 2.4rem;
        }
        @include mobile {
            margin: 2.4rem 0;
        }
    }
    &__crypto {
        &--percentage-selector {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 2.4rem;
        }
    }
    &__drop-down-wrapper {
        @include mobile {
            margin-top: 1.2rem;

            .dc-dropdown__display {
                min-height: 4rem !important;
            }
        }
    }
    &__drop-down {
        display: inline-block;
        min-width: 20.3rem;
        min-height: 4rem;
        line-height: 1.43;
        text-align: left;
        max-width: 36rem;
        margin: 0 auto 5.1rem;
        @include mobile {
            width: 100%;
            min-width: auto;
            margin-bottom: 2.4rem;
        }

        &--to-dropdown {
            @include desktop {
                margin: 0 auto 3.3rem;
            }
            @include mobile {
                margin-bottom: 2.4rem;
            }
        }
        & .dc-dropdown__display-text {
            width: 100%;
            align-items: center;
        }
    }
    &__notes {
        @include mobile {
            padding: 1.6rem 0;
        }

        @include desktop {
            margin-top: 0.8rem;
        }

        .account-transfer-form__notes-header {
            margin-top: 0;
        }
    }
    &__bullet {
        background-color: var(--text-general);
        border-radius: 100%;
        margin-right: 0.8rem;
        width: 0.4rem;
        height: 0.4rem;
        flex: none;
        margin-top: 0.8rem;

        &-wrapper {
            display: flex;
            margin-bottom: 0.8rem;
        }
    }
    &__wrapper .account-transfer-form__input {
        margin-bottom: -0.8rem !important;
        width: fit-content;
        min-width: 36rem;
        @include mobile {
            width: 100%;
            min-width: auto;
            margin-bottom: 2.6rem !important;
        }
    }
    &__currency,
    &__balance {
        line-height: 1.43;
    }
    &__currency {
        &-icon {
            align-self: center;
        }
        &-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-left: 8px;
            margin-right: 8px;
        }
    }
    &__balance {
        margin-left: auto;
    }
    &__form-submit {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        > * {
            width: auto;
        }
        &--align-end {
            align-items: flex-end;

            .cashier__form-submit-button {
                width: unset;
            }
        }
    }
    &__loader {
        &-wrapper {
            display: flex;
            height: 100%;
            @include mobile {
                height: initial;
            }
        }
    }
    @include desktop {
        &__form-submit {
            min-width: 36rem;
            width: fit-content;
            margin: 2rem auto 0;
        }
    }
}
.dc-modal__container_account_transfer {
    &_switch_modal {
        .dc-modal {
            @include mobile() {
                &-header__close {
                    margin: 2.4rem 1.6rem 0;
                }
                &-body {
                    font-size: 1.4rem;
                }
            }

            &-header__title {
                padding: 2.4rem 2.4rem 0;
            }
            &-body {
                padding: 2.4rem;
            }
            &-footer {
                padding: 0 2.4rem 2.4rem;
            }
        }
    }
}
