@import '../skeletonLoader.scss';

.cfd-toggle-skeleton-loader {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 4px;
    @include mobile {
        display: flex;
    }
    &__switcher {
        width: 100%;
        height: 40px;
        border-radius: 6px;
        margin-bottom: 12px;
        @include mobile {
            height: 16px;
        }
    }
    &__description {
        width: 100%;
        height: 12px;
        border-radius: 4px;
    }
}
