.market-selector {
    display: flex;
    align-items: center;
    gap: var(--core-spacing-400);

    &__container {
        padding: 0 var(--core-spacing-800);

        @include desktop-screen {
            position: absolute;
            z-index: 99;
            padding: var(--core-spacing-800);
            background: var(--core-color-solid-slate-50);
        }
    }
    &-info {
        display: flex;
        flex-direction: column;

        &__label {
            display: flex;
            gap: var(--core-spacing-400);
        }
        &__price {
            color: var(--component-textIcon-normal-default);
        }
    }
}
