.market-selector {
    &__search {
        &--suggestion {
            text-align: center;
            margin: var(--core-spacing-800) var(--core-spacing-2400) 0 var(--core-spacing-2400);
        }
    }
    &__content {
        &--not-found {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}
