.dc-field-error {
    position: absolute;
    top: 4rem;
    text-align: left !important;
    padding-top: 0.4rem;
    padding-left: 0.4rem;
    color: var(--brand-red-coral);
    font-size: var(--text-size-xxs);
}
