.barrier-params {
    margin-bottom: var(--core-spacing-2800);

    &__description {
        &-header {
            display: flex;
            flex-direction: row;
            padding-left: var(--core-spacing-400);
            height: var(--core-size-1800);
            div {
                margin: 0px var(--core-spacing-800);
            }
        }
        &-content {
            padding: 0 var(--core-spacing-800);
            .content-section {
                margin-bottom: var(--core-spacing-800);
                display: flex;
                flex-direction: column;
                gap: var(--core-spacing-400);
            }
        }
    }

    &__chips {
        display: flex;
        gap: var(--core-spacing-400);
        margin-bottom: var(--core-spacing-800);
        flex-wrap: nowrap;
        overflow-x: scroll;
        white-space: nowrap;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        button {
            background-color: transparent;
        }
    }

    &__error-area {
        height: var(--core-spacing-1100);
    }

    &__current-spot-wrapper {
        margin-top: var(--core-spacing-400);
        display: flex;
        justify-content: space-between;

        p:first-child {
            color: var(--component-textIcon-normal-subtle);
        }
    }
}
