/*------------------------------------*
 *  # Constants
 *------------------------------------*/

/* stylelint-disable color-no-hex */

/* COLOR PALETTE */

/* colors */
$color-black: #0e0e0e;
$color-black-1: #333333;
$color-black-3: #151717;
$color-black-4: #1d1f20;
$color-black-5: #242828;
$color-black-6: #3e3e3e;
$color-black-7: #000000;
$color-black-8: #323738;
$color-white: #ffffff;
$color-red: #ff444f;
$color-red-1: #ec3f3f;
$color-red-2: #cc2e3d;
$color-red-3: #a32430;
$color-red-4: #d33636;
$color-red-5: #eb3e48;
$color-grey: #c2c2c2;
$color-grey-1: #999999;
$color-grey-2: #f2f3f4;
$color-grey-3: #eaeced;
$color-grey-4: #e6e9e9;
$color-grey-5: #d6dadb;
$color-grey-6: #d6d6d6;
$color-grey-7: #6e6e6e;
$color-green: #85acb0;
$color-green-1: #4bb4b3;
$color-green-2: #3d9494;
$color-green-3: #00a79e;
$color-green-4: #008079;
$color-orange: #ff6444;
$color-yellow: #ffad3a;
$color-blue: #377cfc;

/* alpha colors */
$alpha-color-black-1: transparentize($color-black-7, 0.28);
$alpha-color-black-2: transparentize($color-black, 0.04);
$alpha-color-black-3: transparentize($color-black-7, 0.92);
$alpha-color-black-4: transparentize($color-black-7, 0.84);
$alpha-color-black-5: transparentize($color-black-7, 0.16);
$alpha-color-white-1: transparentize($color-white, 0.04);
$alpha-color-white-2: transparentize($color-white, 0.84);
$alpha-color-white-3: transparentize($color-white, 0.92);
$alpha-color-red-1: transparentize($color-red, 0.92);
$alpha-color-green-1: transparentize($color-green-1, 0.08);
$alpha-color-green-2: transparentize($color-green-3, 0.08);

/* gradient colors */
$gradient-color-green-1: linear-gradient(to top, $color-white, transparentize($color-green-1, 0.84));
$gradient-color-green-2: linear-gradient(to top, $color-black, transparentize($color-green-3, 0.84));
$gradient-color-red-1: linear-gradient(to top, $color-white, transparentize($color-red, 0.84));
$gradient-color-red-2: linear-gradient(to top, $color-black, transparentize($color-red, 0.84));

/* Preserve legacy variables */
/* Primary */

$COLOR_BLACK      : #000000;
$COLOR_BLACK_2    : #1d1f20;
$COLOR_BLACK_3    : #0e0e0e;
$COLOR_GREEN_1    : #39b19d;
$COLOR_GREEN_2    : #2d9f93;
$COLOR_GREEN_3    : #21ce99;
$COLOR_GREEN_4    : #00a79e;
$COLOR_GREEN_5    : #4bb4b3;
$COLOR_ORANGE     : #ff9933;
$COLOR_DARK_ORANGE: #ff8802;
$COLOR_PURPLE     : #4f60ae;
$COLOR_RED        : #e31c4b;
$COLOR_RED_2      : #cc2e3d;
$COLOR_RED_3      : #ec3f3f;
$COLOR_CORAL_RED  : #ff444f;
$COLOR_SKY_BLUE   : #2196f3;
$COLOR_WHITE      : #ffffff;
$COLOR_BLUE       : #1c5ae3;
// Light theme
$COLOR_LIGHT_BLACK_1        : rgba(0, 0, 0, 0.8);
$COLOR_LIGHT_BLACK_2        : rgba(0, 0, 0, 0.4);
$COLOR_LIGHT_BLACK_3        : rgba(0, 0, 0, 0.16);
$COLOR_LIGHT_BLACK_3_SOLID_1: #d6d6d6;
$COLOR_LIGHT_BLACK_3_SOLID_2: #b3b3b3;
$COLOR_LIGHT_BLACK_4        : rgba(0, 0, 0, 0.04);
$COLOR_LIGHT_BLACK_4_SOLID  : #f4f4f6;
$COLOR_LIGHT_GRAY_1         : #999cac;
$COLOR_LIGHT_GRAY_2         : rgba(153, 156, 172, 0.32);
$COLOR_LIGHT_GRAY_3         : #eaeced;
$COLOR_LIGHT_GRAY_4         : #6e6e6e;
$COLOR_LIGHT_GRAY_5         : #c2c2c2;
$COLOR_LIGHT_GREEN_GRADIENT : linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 148, 117, 0.16));
$COLOR_LIGHT_RED_GRADIENT   : linear-gradient(to top, rgba(255, 255, 255, 0), rgba(227, 28, 75, 0.16));
$COLOR_LIGHT_WHITE_GRADIENT : linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
// Dark theme
$COLOR_DARK_BLACK_GRADIENT : linear-gradient(to right, rgba(16, 19, 32, 1), rgba(16, 19, 32, 0));
$COLOR_DARK_BLUE_1         : #0b0e18;
$COLOR_DARK_BLUE_2         : #101320;
$COLOR_DARK_BLUE_3         : #191c31;
$COLOR_DARK_BLUE_4         : #202641;
$COLOR_DARK_BLUE_5         : #2a3052;
$COLOR_DARK_BLUE_6         : #555975;
$COLOR_DARK_BLUE_7         : #7f8397;
$COLOR_DARK_BLUE_8         : rgba(127, 131, 151, 0.3);
$COLOR_DARK_GREEN_GRADIENT : linear-gradient(to top, rgba(16, 19, 32, 0), rgba(0, 148, 117, 0.16));
$COLOR_DARK_RED_GRADIENT   : linear-gradient(to top, rgba(16, 19, 32, 0), rgba(227, 28, 75, 0.16));
$COLOR_DARK_GRAY_1         : #282a37;
$COLOR_DARK_GRAY_2         : #303342;
$COLOR_DARK_GRAY_3         : #555975;
$COLOR_DARK_GRAY_4         : #999999;
/* stylelint-enable color-no-hex */

$BORDER_RADIUS: 4px;

$MAX_CONTAINER_WIDTH: 1440px;

$POSITIONS_DRAWER_WIDTH  : 240px;
$POSITIONS_DRAWER_MARGIN : 8px;

$HEADER_HEIGHT: 48px;
$FOOTER_HEIGHT: 36px;

$SIDEBAR_WIDTH: 240px;
