.wallets-card-icon {
    &-sm {
        &--rounded {
            transform: scale(50%);
        }
    }

    &-md {
        &--rounded {
            transform: scale(60%);
        }
    }

    &-lg {
        transform: scale(100%);
    }

    &-xl {
        transform: scale(120%);

        @include mobile {
            transform: scale(160%);
        }
    }
}
