.mobile-real-wallets-upgrade {
    .dc-swipeable {
        overflow-x: hidden;

        &__nav {
            display: none;
        }
    }

    .dc-swipeable__item {
        padding-inline: 1.6rem;
    }
}
