.dc-modal-header--complete-user-profile-modal {
    border-bottom: 1px solid var(--border-divider);
}

.complete-user-profile-modal__form {
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.complete-user-profile-modal__dropdown-list {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.complete-user-profile-modal__footer.dc-modal-footer {
    padding-inline: 0;
}

.complete-user-profile-modal__heading {
    display: flex;
    align-items: center;
    gap: 8px;

    &:after {
        content: '';
        flex: 1;
        height: 1px;
        background: var(--border-divider);
        display: block;
        margin-left: 8px;
    }
}

.complete-user-profile-modal__bottom-margin {
    margin-bottom: 24px;
}

.complete-user-profile-modal__bottom-margin-field {
    margin-bottom: calc(24px + 18px);
}

.complete-user-profile-modal__submit-button.dc-form-submit-button {
    @include mobile {
        display: unset;
    }
}

.complete-user-profile-modal__submit-button.dc-form-submit-button > .dc-btn {
    @include mobile {
        width: 100%;
    }
}
