.wallets-market-currency-icon {
    width: 10rem;
    height: 7rem;
    display: inline-block;
    position: relative;

    &__container {
        display: inline-block;
        transform: translate(-1.6rem, -0.4rem);
    }

    &__market-icon {
        z-index: 1;
        transform: translate(-75%, 50%);
    }

    &__currency-icon {
        z-index: -1;
        position: relative;
    }
}
