.dp2p-blocked {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 6.4rem;
    max-width: 67.2rem;
    padding: 1rem;

    &__description {
        width: 90%;
    }

    &__title {
        margin: 2.4rem 0 1rem;
    }
}
