.advertiser-page {
    &__container {
        display: flex;
        flex-flow: column;
        max-height: 555px;
        overflow-y: hidden;
    }
    &__header {
        display: flex;
        height: fit-content;
        justify-content: space-between;
        width: 657px;

        &-avatar {
            align-items: center;
            border-radius: 50%;
            display: flex;
            height: 3.2rem;
            justify-content: center;
            margin-right: 0.8rem;
            width: 3.2rem;
        }
        &-details {
            display: flex;

            @include mobile {
                margin: 0 1.6rem;
            }
        }
        &-name {
            align-self: center;
            height: fit-content;
            width: fit-content;
        }
        &-verification {
            align-items: center;
            display: flex;

            &-id {
                justify-self: flex-end;
            }

            &-status {
                margin-left: 1.6rem;
            }

            &-icon {
                margin-left: 0.4rem;
                vertical-align: bottom;
            }

            @include mobile {
                display: grid;
                position: absolute;
                right: 1.6rem;
            }
        }
    }
    &__stats {
        border-bottom: none;
        display: flex;
        grid-template-columns: repeat(3, 1fr) 2fr 1fr;
        grid-template-rows: 46px;
        height: 50px;
        justify-content: space-between;
        margin: 2.4rem 0 2.4rem 2.9rem;
        width: 588px;

        &-cell {
            display: block;
            min-width: 65px;
            text-align: center;

            &-header {
                color: var(--text-less-prominent);
                font-size: var(--text-size-xs);
                line-height: 20px;
            }
            &-completion {
                display: flex;
            }
            &-info {
                font-size: var(--text-size-s);
                font-weight: bold;

                &_buy {
                    font-size: var(--text-size-xs);
                    line-height: 20px;
                    margin-left: 0.5rem;
                    margin-top: 0.14rem;
                }
            }
            &-separator {
                border-right: 1px solid #ededed;
            }
        }

        @include mobile {
            width: 110vw;
        }

        &--wrapper {
            display: flex;
            align-items: center;
        }
    }
    &__cell {
        @include mobile {
            display: block;
        }
        &-limit {
            padding-top: 0.8rem;
        }
    }
    &__popover {
        &-icon {
            margin: 1.6rem 0.8rem 1.6rem 2.4rem;

            @include mobile {
                margin: 1.6rem 1rem;
            }
        }
    }
    &__adverts {
        &-button {
            align-items: center;
            display: flex;
            justify-content: center;

            @include mobile {
                justify-content: flex-end;
            }
        }

        &-table {
            width: 657px;
        }

        &-table_row {
            grid-template-columns: 3fr 2fr 1fr;

            @include mobile {
                grid-template-columns: repeat(2, 1fr);
                height: 100px;
                padding: 1.6rem;
                width: 100vw;
            }
        }

        &-tabs {
            width: 228px;
        }

        .dc-tabs__item {
            @include mobile {
                width: 50%;
            }
        }

        &-list {
            height: calc(100% - 200px);
        }

        &-scrollbar {
            @include tablet-up {
                height: calc(100vh - 527px);
            }

            position: absolute;
            width: 657px;

            @include mobile {
                bottom: 0;
                max-height: calc(100vh - 440px);
                position: fixed;
            }
        }
    }

    .dc-tabs__list--header-fit-content {
        @include mobile {
            position: fixed;
        }
    }

    .dc-tabs__content {
        @include mobile {
            position: fixed;
            top: 140px;
        }
    }
}
