.advertiser-page {
    &__container {
        display: flex;
        flex-flow: column;
        max-height: 555px;
        overflow-y: scroll;
    }

    &__header {
        display: flex;
        height: fit-content;
        justify-content: space-between;
        width: 657px;

        &-avatar {
            align-items: center;
            border-radius: 50%;
            color: var(--text-colored-background);
            display: flex;
            font-size: var(--text-size-xs);
            height: 3.2rem;
            justify-content: center;
            margin-right: 0.8rem;
            width: 3.2rem;
        }

        &-details {
            display: flex;
        }

        &-name {
            align-self: center;
            font-size: var(--text-size-s);
            height: fit-content;
            width: fit-content;
        }

        &-verification {
            align-items: center;
            display: flex;
            font-size: var(--text-size-xs);

            &-address {
                margin-left: 1.6rem;
            }
        }
    }

    &__stats {
        border-bottom: none;
        display: flex;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 46px;
        height: fit-content;
        margin: 2.4rem 0;

        &-cell {
            display: block;
            text-align-last: center;
            width: 127px;

            &-header {
                font-size: var(--text-size-xs);
                line-height: 20px;
            }

            &-info {
                font-size: var(--text-size-s);
                font-weight: bold;
                line-height: 24px;
            }
            &-separator {
                border-right: 1px solid #ededed;
            }
        }
    }

    &__adverts {
        &-button {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-price {
            color: var(--text-profit-success);
            font-weight: bold;
        }
        &-table {
            width: 657px;
        }
        &-table_row {
            grid-template-columns: repeat(3, 1fr);
        }
        &-tabs {
            width: 228px;
        }
    }
}
