.wallets-add-more {
    &__banner {
        border-radius: 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 20rem;
        height: 12rem;
        padding: 1.6rem;
        background: none;

        @include mobile-or-tablet-screen {
            width: 16rem;
            height: 9.6rem;
            padding: 1rem;
            flex-shrink: 0;
        }
        &-header {
            margin-inline-end: auto;
        }
    }

    &__success-footer {
        width: 26rem;

        @include mobile-or-tablet-screen {
            width: 100%;
            max-width: 60rem;
            margin: 0 auto;
        }
    }

    &__success-card {
        & .wallets-card__details {
            padding: 1.6rem;
            width: 24rem;

            @include mobile-or-tablet-screen {
                width: 21.6rem;
            }
        }
    }
}
