.p2p-v2-payment-method-form {
    max-width: 100%;
    min-width: 67.2rem;
    padding: 0 2.4rem;

    @include mobile {
        width: 100%;
        min-width: 36rem;
        padding: 1.6rem;
    }

    &__form {
        padding: 1.4rem 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__buttons {
        display: flex;
        justify-content: end;
        gap: 1.6rem;

        &--cancel {
            background: transparent;
            border: 2px solid #999999;

            &:active:not([disabled]) {
                border: 1px solid #999999;
            }
        }
    }
    &__icon--close {
        cursor: pointer;
        color: #ffffff;
        font-size: large;
    }

    &__field {
        color: #333333;
        &-wrapper {
            width: 100%;
            padding: 1rem 0;
        }
    }
}
.p2p-v2-textfield__message-container {
    /* This is to hide the message container if it's empty */
    height: auto;
}
