.quick-add-modal {
    &--form {
        height: fit-content !important;
    }

    .dc-modal-header__title--quick-add-modal {
        padding: 2.4rem 2.4rem 0 !important;
    }

    .dc-modal__container_quick-add-modal {
        .dc-modal-footer {
            padding-top: 0 !important;
        }

        .dc-modal-header {
            padding-bottom: 1rem;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;

        &__payment-method-form {
            padding: 0;
        }
    }

    &__button {
        margin-left: 0.5rem;
    }

    &__info {
        margin-bottom: 1.3rem;
    }

    &__icon {
        margin-right: 0.8rem;
    }

    &__scroll {
        overflow: auto;
        padding: 1rem 0 0;
    }

    &__horizontal {
        padding-right: 0rem;
    }
}
