.wallets-change-mt5-password {
    width: 44rem;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    background-color: var(--general-main-1, #ffffff);
    border-radius: 0.8rem;

    @include mobile-or-tablet-screen {
        width: 100%;
        padding-inline: 1.6rem;
        gap: 1.6rem;
        margin: 0 auto;
        max-width: 60rem;
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        gap: 0.8rem;

        @include mobile-or-tablet-screen {
            width: 100%;
            justify-content: center;
            margin: 0 auto;
            max-width: 60rem;
        }
    }
}
