.dw-trade-modal {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--general-section-2);
        padding: 1.6rem;

        &--left {
            display: flex;
            flex-direction: column;
        }
        &--icon {
            &-close {
                position: absolute;
                top: 1.8rem;
                right: 1.8rem;
                &:hover {
                    cursor: pointer;
                }
            }
            &-logo {
                position: absolute;
                top: 2.6rem;
                right: 5.6rem;
            }
        }
    }
}
