.bot-footer-extensions {
    display: inline;

    &__button {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0.8rem;
        font-size: var(--text-size-xs);
        cursor: pointer;

        &--active {
            padding-bottom: 0.6rem;
            border-bottom: 0.2rem solid var(--brand-red-coral);
            font-weight: 700;
        }
    }
}
