.dc-relative-datepicker {
    width: 100%;
    text-align: center;
    padding-bottom: 16px;

    span {
        color: var(--purchase-main-2);
        font-size: var(--text-size-xs);
        font-weight: bold;
        line-height: 1.43;
        cursor: pointer;
    }
    // This css is for make date input field invisible
    input {
        transform: scale(0);
        position: absolute;
    }
}
