.wallets-button-group {
    display: grid;
    width: 100%;
    gap: 1.2rem;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;

    &--flex {
        grid-auto-columns: auto;
    }

    &--vertical {
        flex-direction: column;
    }
}
