$MIN_HEIGHT_FULL_SCREEN: calc(100svh - #{$HEADER_HEIGHT + $FOOTER_HEIGHT});

$FLOATING_PADDING: 2.4rem;
$FLOATING_HEADER_HEIGHT: 53px;
$MIN_HEIGHT_FLOATING: calc(
    100svh - #{$HEADER_HEIGHT} - #{$FOOTER_HEIGHT} - #{$FLOATING_HEADER_HEIGHT} - #{$FLOATING_PADDING}
);

.dc-vertical-tab {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: $BORDER_RADIUS;
    height: 100%;

    &:not(&--floating) {
        background-color: var(--general-section-1);
    }
    &--floating {
        justify-content: center;
    }
    &--grid {
        display: grid;
        height: calc(100vh - #{$HEADER_HEIGHT});
        grid-template-areas: 'form-sidebar form-title' 'form-sidebar form-content';
        grid-template-rows: 5.2rem auto;
    }
    &__title {
        grid-area: form-title;
        height: 5rem;
        border-top: 1px solid var(--general-section-1);
    }
    &__content-container {
        position: relative;
        z-index: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        flex-grow: 1;

        &--has-side-note {
            flex-flow: unset;
        }
    }
    &--full-screen {
        min-height: $MIN_HEIGHT_FULL_SCREEN;
        width: 100%;

        // .dc-vertical-tab__tab {
        //     min-width: 15%;
        // }
    }
    &--full-screen.dc-vertical-tab--floating {
        min-height: $MIN_HEIGHT_FLOATING;
    }
    &:not(.dc-vertical-tab--full-screen):not(.dc-vertical-tab--floating) {
        // height: 600px;

        .dc-vertical-tab__content {
            padding: 2.4rem;
        }
    }
    &__action-bar {
        width: 100%;
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 1.6rem;
        box-sizing: border-box;

        &-wrapper {
            cursor: pointer;
            padding: 0.4rem 0.4rem 0.2rem;
            border-radius: $BORDER_RADIUS;
            margin-left: auto;

            &:hover {
                background: var(--general-hover);
            }
        }
    }
    &__tab {
        display: flex;
        min-width: 28%;
        height: 100%;
        flex-direction: column;
        border-radius: $BORDER_RADIUS 0 0 $BORDER_RADIUS;
        background-color: var(--general-section-1);
        position: relative;

        &--floating {
            min-width: 256px;
            padding: 0.8rem;
            border-radius: #{$BORDER_RADIUS * 2};

            .dc-vertical-tab__header--highlight {
                width: calc(100% - 1.6rem);
                border-radius: $BORDER_RADIUS;
            }
        }
        &-meta-wrapper {
            // a class used to wrap `.dc-vertical-tab__tab-bottom-note` and `.dc-vertical-tab__tab`
            grid-area: form-sidebar;
            &--floating {
                position: sticky;
                top: calc(2.4rem + 41px); // 41px for the header of PageOverlay
            }
        }
        &-bottom-note {
            position: sticky;
            margin-top: 1.6rem;
        }
    }
    &__header-title {
        padding: 1.6rem;
        display: flex;
        align-items: center;
        transition: background-color 0.1s ease-in;
        text-decoration: none;
    }
    &--grouped {
        .dc-vertical-tab__header {
            padding-left: 4.4rem;

            &--highlight {
                z-index: -1;
            }
            &--active {
                padding-left: 4.8rem;
            }
        }
    }
    &__header {
        &__icon.dc-vertical-tab__header__icon--active {
            margin-right: 2rem;
        }
    }
    &__header-group {
        &-chevron {
            position: absolute;
            right: 2.4rem;
            transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);

            &--invert {
                transform: rotate(180deg);
            }
        }
    }
    &__header,
    &__header-group {
        @include typeface(--paragraph-left-bold-black, none);
        line-height: 1.5;
        color: var(--text-general);
        padding: 1rem 1.2rem 1rem 1.6rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        transition: background-color 0.1s ease-in;
        text-decoration: none;
        z-index: 1;
        user-select: none;

        &:hover:not(.dc-vertical-tab__header--active):not(.dc-vertical-tab__header-group--active) {
            background-color: var(--state-hover);
        }
        &__link {
            font-weight: normal;
            margin-right: 0.4rem;
        }
        &__icon {
            margin-right: 1.6rem;

            &--active {
                --fill-color1: var(--text-prominent);
            }
        }
        &__counter {
            position: absolute;
            right: 2rem;
        }
        &--active &__link {
            color: var(--text-prominent);
            font-weight: bold;
        }
        &--highlight {
            // This selector has a `transition` property that's set inline
            position: absolute;
            display: block;
            content: '';
            color: var(--text-prominent);
            background-color: var(--state-normal);
            border-left: 4px solid var(--brand-red-coral);
            width: 100%;
            height: 41px;
            transform: translate3d(0, 0, 0);
            z-index: 0;
        }
        &--new {
            font-size: 1rem;
            font-weight: bold;
            padding: 0 0.4rem;
            margin: 0 0.4rem;
            background-color: var(--text-loss-danger);
            color: var(--status-colored-background);
            border-radius: 8px;
        }
        &--floating {
            border-radius: $BORDER_RADIUS;
        }
    }
    &__content {
        width: 100%;
        height: 100%;
        min-height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border-radius: 0 $BORDER_RADIUS $BORDER_RADIUS 0;
        position: relative;
        background-color: var(--general-main-1);

        grid-area: form-content;

        &-side-note {
            min-width: 25.6rem;
            margin-left: 2.4rem;

            &-item {
                background-color: var(--general-section-1);
                border-radius: 8px;
                padding: 1.6rem 2.4rem;
                color: var(--text-general);
                font-size: var(--text-size-xxs);
                line-height: 1.5;
                margin-bottom: 2.4rem;
                width: 25.6rem;
            }
        }
        &.dc-vertical-tab:not(.dc-vertical-tab--full-screen) {
            padding: 2.4rem;
            height: 100%;
        }
        &--floating {
            max-width: 952px;
            min-width: 672px;
            margin-left: 2.4rem;
        }
    }
}
