.deposit-crypto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    &__divider {
        height: 2px;
        width: 100%;
        background-color: var(--general-section-1);
    }
}
