.wallets-withdrawal-crypto {
    max-width: 58.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;

    @include mobile {
        gap: 1.6rem;
    }

    &__submit {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    & .wallets-textfield {
        width: 100%;
        max-width: none;
    }
}

.wallets-withdrawal-crypto-disclaimer {
    width: 100%;

    & li {
        align-self: stretch;
        line-height: 1.4rem;
    }

    @include mobile {
        max-width: 100%;
        max-height: 10.6rem;
    }

    &__items {
        list-style: disc;
        margin-left: 8px;
    }
}

.wallets-withdrawal-crypto-address {
    width: 100%;
    height: fit-content;
}
