.wallets-withdrawal-crypto {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;

    @include mobile {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__content {
        width: 100%;
        max-width: 58.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.4rem;

        @include mobile {
            gap: 1.6rem;
        }

        & .wallets-textfield {
            width: 100%;
            max-width: none;
        }
    }
}

.wallets-withdrawal-crypto-address {
    width: 100%;
    height: fit-content;
}
