.block-user-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.6rem;

    &:hover {
        @include mobile {
            background-color: inherit;
        }

        background-color: var(--general-hover);
    }

    &__button-group {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        & button {
            min-width: 9rem;
        }

        &__unblock-button {
            // Needed to override sticky hover in mobile
            @include mobile {
                &:hover {
                    background: transparent !important;
                }
            }
        }

        &__block-button {
            // Needed to override sticky hover in mobile
            @include mobile {
                &:hover {
                    background: transparent !important;
                }

                & > span {
                    color: var(--brand-red-coral) !important;
                }
            }
        }
    }

    &__cell {
        display: flex;
        align-items: center;
        cursor: pointer;

        &--barred {
            cursor: not-allowed;
        }

        &-container {
            display: flex;
            flex-direction: column;
            margin-left: 0.8rem;
        }
    }
}
