.currency-list {
    &__items {
        @include desktop {
            justify-content: flex-start !important;
            width: auto;
        }
    }
    &__item {
        margin: 1.6rem 2.4rem 0 0;
        align-items: flex-start;
        position: relative;

        @include desktop {
            height: 80px;
            width: 216px;
        }
        @include mobile {
            height: 64px;
            margin: 1.6rem 0 0;
            width: 100%;
        }

        &-code {
            font-weight: normal;
        }

        &--selected {
            border-color: var(--badge-blue);
            &:after {
                content: '';
                background-image: url('/js/dashboard/assets/images/check.svg');
                width: 2.4rem;
                height: 2.4rem;
                right: 1.6rem;
                position: absolute;
            }
        }
        .currency-list__icon {
            @include mobile {
                width: 32px;
                height: 32px;
                margin: 0 0.8rem 0 1.6rem;
            }
        }

        &-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        svg {
            margin-right: 1.6rem;
        }
        & > div {
            flex-direction: row;
        }
    }
    &__icon {
        margin-left: 1.6rem;
    }
}

.currency-selector {
    &__radio-group--with-margin {
        @include desktop {
            margin-left: unset;
            width: auto;
        }
    }
    &__description {
        display: none;
    }
    .currency-hr {
        border-top: 0px;
    }
}
