.wallets-transactions-table {
    padding-block: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 65vh;
    overflow: auto;

    @include mobile {
        height: 75vh;
    }

    &-row {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}
