.buy-sell__header {
    display: flex;
    flex-direction: column;

    @include tablet-up {
        .p2p-toggle-container {
            margin: 2.4rem 0;
        }
    }

    @include mobile {
        background-color: var(--general-main-1);
        border-bottom: 1px solid var(--general-section-1);
        display: flex;
        flex: none;
        justify-content: center;
        position: fixed;
        transition: transform 0.3s linear, opacity 0.3s ease;
        transform-origin: top;
        width: 100%;
        z-index: 1;
    }

    &-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include mobile {
            flex-direction: column;
        }
    }

    &-filters {
        height: 3.6rem;
        width: 16.8rem;

        @include mobile {
            transition: transform 0.3s linear, opacity 0.3s ease;
            transform-origin: top;
        }
    }

    &-match-ads {
        display: flex;
        flex-direction: row;

        @include desktop {
            .dc-checkbox__box {
                margin-left: unset;
            }
        }

        @include mobile {
            margin: 0.9rem 0.8rem;
        }

        &__popover {
            align-self: flex-end;
            margin-left: 0.4rem;
        }
    }

    &-row {
        display: flex;
        flex-direction: row;

        @include mobile {
            display: grid;
            grid-template-columns: auto 40px 40px;
            column-gap: 1rem;
            border-top: 1px solid var(--general-section-1);
            padding: 1.6rem;
        }

        &--filter {
            align-self: center;
            border: 1px solid var(--border-normal);
            border-radius: 4px;
            display: flex;
            margin-left: 0.8rem;
            padding: 1.3rem;

            @include mobile {
                justify-self: center;
                margin-left: 0;
            }
        }

        &--selector {
            @include mobile {
                grid-template-columns: auto 1fr 40px 40px;
            }
        }
    }
}

.buy-sell__header-position-static {
    position: static;
}
