.buy-sell__modal {
    &-body {
        padding: 1.6rem;
        position: relative;
    }

    &-field {
        margin-bottom: 0 !important;
        margin-right: 0.7rem;
        flex: 1;

        @include mobile {
            margin: 0.8rem 0;
        }

        &-wrapper {
            $gap: 2.4rem;
            display: flex;
            margin: -#{$gap} 0 1.6rem -#{$gap};

            & > * {
                margin: $gap 0 0 $gap;
            }

            @include mobile {
                flex-direction: column;

                .dc-input__wrapper {
                    margin-top: 2.5rem;
                    width: 90vw;
                }
            }

            > .dc-input {
                margin-top: 1rem; // Compensate for label.
            }
        }
    }

    &-line {
        border-top: 1px solid var(--general-section-1);
        margin: 1.6rem 0;
        width: 100%;
    }

    &-payment-method {
        &--container {
            align-self: center;
            display: flex;
            flex-direction: column;
            margin-bottom: 1.6rem;
        }

        &--icon {
            border-radius: 2px;
            margin-right: 0.8rem;
        }

        &--row {
            align-items: center;
            display: flex;
            flex-direction: row;
            margin-bottom: 0.8rem;
        }

        &--title {
            margin-bottom: 0.8rem;
        }
    }

    &--sell-payment-methods {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1.6rem;

        .payment-method-card {
            margin-right: 0.8rem;

            &__body {
                margin-top: 0.8rem;
            }
        }
    }
}

.buy-sell__modal-content {
    .dc-input {
        margin-bottom: unset;
    }
}
