.currency-dropdown {
    @include mobile {
        grid-row: 1;
        grid-column: 2;
        margin: 0;
    }

    position: relative;
    margin-top: 2.4rem;

    &__list {
        width: 10rem;
        min-width: unset;

        &-item {
            display: flex;
            justify-content: space-between;
            width: 100%;

            &-symbol {
                @include desktop {
                    padding-right: 1rem;
                }
            }
        }

        &--visible {
            .dc-dropdown__select-arrow {
                transform: rotate(-180deg);
            }
        }
    }

    .dc-dropdown__display {
        @include mobile {
            height: 4rem;

            &:focus {
                border-color: var(--border-normal);
            }
        }

        justify-content: start;
        height: 4.2rem;
    }
}
