.sort-dropdown {
    @include mobile {
        width: 4rem;
        height: 4rem;
        margin: 0.5rem;

        @media (max-width: 350px) {
            width: 14rem;
            min-width: unset;
        }

        .dc-dropdown__display {
            height: 4rem;

            &-text {
                display: block;
                overflow: hidden;
                width: 80%;
                padding-right: unset;
                padding-left: 0.8rem;
                text-overflow: ellipsis;
            }
        }

        .dc-dropdown__list {
            right: 0;
            left: unset;
            width: calc(100vw - 3.2rem);
        }

        .dc-list__item-text {
            padding: 1rem 1.6rem;
        }
    }

    width: 24rem;
    height: 4.4rem;
    margin: 2.4rem 0;

    .dc-dropdown__display {
        height: 4.2rem;
    }

    &--sort {
        @include mobile {
            display: flex;
            justify-content: center;
            justify-self: center;
            width: 4rem;
            height: 4rem;
        }

        display: flex;
        align-items: center;
        align-self: center;
        padding: 0.8rem;
        border: 1px solid var(--border-normal);
        border-radius: 4px;
    }
}
