.wallet-link {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    &__title-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 36.1rem;

        @include mobile {
            display: none;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28.8rem;

        &-text {
            width: fit-content;
            padding: 0.4rem 0.8rem;
            border-radius: 2.4rem;
            text-align: center;
            font-size: var(--text-size-xxxs);
            background-color: var(--general-section-2);
        }
    }

    &__content {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1.6rem;

        @include mobile {
            width: 100%;
            flex-direction: column;
            gap: 1.2rem;
        }

        &-accounts {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.6rem;

            &-title {
                display: none;
            }

            @include mobile {
                gap: 0.8rem;

                &-title {
                    width: 100%;
                    display: block;
                    border-radius: 0.8rem 0.8rem 0 0;
                }
            }
        }

        &-link {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            // background: green;

            @include mobile {
                width: 100%;
                flex-direction: column;
            }

            &-bracket {
                width: 1.5rem;
                height: calc(100% - 4.8rem);
                border: 0.1rem solid var(--brand-red-coral);
                border-left: none;

                @include mobile {
                    width: 24.4rem;
                    height: 1.5rem;
                    border: 0.1rem solid var(--brand-red-coral);
                    border-top: none;
                }
            }

            &-icon {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1.4rem;

                @include mobile {
                    flex-direction: column;
                    gap: 0.6rem;
                }

                &:before,
                &:after {
                    content: '';
                    display: inline-block;
                    background: var(--brand-red-coral);
                }

                &:before {
                    width: 4.8rem;
                    height: 0.01rem;

                    @include mobile {
                        width: 0.01rem;
                        height: 1.6rem;
                    }
                }

                &:after {
                    width: 6.3rem;
                    height: 0.01rem;

                    @include mobile {
                        width: 0.01rem;
                        height: 2.4rem;
                    }
                }
            }
        }

        &-card-wrapper {
            position: relative;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &:after {
                display: inline-block;
                content: '';
            }

            &-title {
                display: none;
            }

            @include mobile {
                &-title {
                    display: block;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    border-radius: 0 0 0.8rem 0.8rem;
                }
            }
        }

        &-card {
            width: 24rem;
            height: 14.4rem;
            border-radius: $BORDER_RADIUS;
            background: #333;

            @include mobile {
                width: 21.6rem;
                height: 12.8rem;
                margin-bottom: 1.2rem;
            }
        }
    }
}
