.wallet-details {
    max-width: 26.4rem;
    font-style: normal;
    margin: 2.4rem;
    position: relative;

    &__title {
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 8px;
        color: #333333;
    }

    &__description {
        width: 264px;
        left: 0px;
        top: 28px;
        /* desktop/paragraph/P2 - regular */
        height: 120px;
        overflow-y: scroll;
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* or 143% */

        /* light / 3 - less prominent (text) */

        color: #999999;

        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;

        @include mobile {
            height: auto;
        }
    }

    &__information {
        margin-top: auto;
        width: 100%;
        /* desktop/small/S - bold */

        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        /* identical to box height, or 150% */

        /* light / 1 - prominent (text) */

        color: #333333;

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 8px 0px;
    }

    &__horizontal-line {
        width: 100%;
        border-top: 1px solid #d6dadb;
        height: 0;
        margin: 8px 0px;
    }
}
