.wallet-icon {
    $parent: &;

    &--merged {
        position: relative;
        height: 28px;
        width: 40px;
    }

    &__account {
        display: block;
        position: absolute;
        top: 2px;
        left: 4px;
        z-index: 1;
        padding: 0;
    }

    &__wallet {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 24px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $BORDER_RADIUS;
    }
}
