.cfds-listing-logged-out {
    &__cfd-accounts-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__cfd-full-row {
        user-select: none;
        display: grid;
        width: 100%;
        grid-column: 1 / span 3;
    }

    &__divider {
        width: 100%;
        height: 1px;
        background-color: var(--general-hover);
        border: none;
    }
}
