.dc-radio-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;

    &__input {
        display: none;
    }

    &__item {
        @include typeface(--paragraph-left-normal-prominent);

        display: flex;
        color: var(--text-general);
        cursor: pointer;
    }

    &__item:not(:last-child) {
        margin-right: 16px;
    }

    &__circle {
        align-self: center;
        min-width: 16px;
        height: 16px;
        margin-right: 8px;
        border: 2px solid var(--text-general);
        border-radius: 50%;
        box-shadow: 0 0 1px 0 var(--shadow-menu);
        transition: all 0.3s ease-in-out;

        &--disabled {
            border-color: var(--border-disabled);
        }

        &--selected {
            border-width: 4px;
            border-color: var(--brand-red-coral);
        }
    }

    &__label {
        &--disabled {
            color: var(--text-disabled);
        }
    }
}
