.dc-radio-group {
    display: flex;
    margin-top: 16px;
    &--is-center {
        flex-direction: row;
        align-items: center;
    }
    &--is-left {
        flex-direction: column;
        align-items: flex-start;
    }
    &__input {
        display: none;
    }
    &__item {
        display: flex;
        @include typeface(--paragraph-left-normal-prominent);

        cursor: pointer;
        color: var(--text-general);
    }
    &__item:not(:last-child) {
        margin-right: 16px;
    }
    &__circle {
        border: 2px solid var(--text-general);
        border-radius: 50%;
        box-shadow: 0 0 1px 0 var(--shadow-menu);
        min-width: 16px;
        height: 16px;
        transition: all 0.3s ease-in-out;
        margin-right: 8px;
        align-self: center;

        &--disabled {
            border-color: var(--border-disabled);
        }
        &--selected {
            border-width: 4px;
            border-color: var(--brand-red-coral);
        }
    }
    &__label {
        &--disabled {
            color: var(--text-disabled);
        }
    }
}
