.wallets-inline-message {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;
    border-radius: 4px;
    height: min-content;

    &--lg {
        @include tablet-up {
            padding: 16px;
            gap: 16px;
            border-radius: 4px * 2;
        }
    }

    &--warning {
        background: rgba(255, 173, 58, 0.16);
    }

    &--information {
        background: rgba(55, 124, 252, 0.16);
    }

    &--announcement {
        background: rgba(75, 180, 179, 0.16);
    }

    &--error {
        background: rgba(236, 63, 63, 0.16);
    }

    &__icon {
        &--sm {
            margin-top: 1px;

            @include mobile {
                margin-top: 0;
            }
        }

        &--md {
            margin-top: 2px;

            @include mobile {
                margin-top: 1px;
            }
        }

        &--lg {
            @include mobile {
                margin-top: 1px;
            }
        }
    }

    &__messages {
        display: inline-flex;
        align-self: center;
        flex-direction: column;
        flex: 1;

        &--xs {
            margin-top: 1px;

            @include mobile {
                margin-top: 2px;
            }
        }

        &--sm {
            @include mobile {
                margin-top: 1px;
            }
        }
    }

    &--outlined {
        background-color: transparent;
        border: 1px solid;
    }

    &--outlined#{&}--warning {
        color: rgba(255, 173, 58);
        border-color: rgba(255, 173, 58);
    }

    &--outlined#{&}--information {
        color: rgba(55, 124, 252);
        border-color: rgba(55, 124, 252);
    }

    &--outlined#{&}--announcement {
        color: rgba(75, 180, 179);
        border-color: rgba(75, 180, 179);
    }

    &--outlined#{&}--error {
        color: rgba(236, 63, 63);
        border-color: rgba(236, 63, 63);
    }
}
