.share-my-ads-card {
    background: linear-gradient(349deg, $color-grey-2 36%, var(--brand-red-coral) 25%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1.5rem;
    padding: 2rem;
    position: relative;

    @include mobile-or-tablet-screen {
        width: 90%;
    }

    &__icon {
        height: 16px;
        width: max-content;
        margin: 1rem 0 3rem;

        @include mobile-or-tablet-screen {
            margin-top: 0;
        }
    }

    &__numbers {
        display: flex;
        flex-direction: row;

        &-text {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;

            &:first-child {
                margin-right: 1rem;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__qr {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 2rem;

        @include mobile-or-tablet-screen {
            margin-top: 1rem;
        }

        &-container {
            align-items: center;
            background-color: $color-white;
            display: flex;
            padding: 1.5rem;
            border: 0.1rem solid $color-grey-5;
            border-radius: 1rem;
            justify-content: center;
            position: relative;
            width: fit-content;
        }

        &-icon {
            position: absolute;
        }

        &-text {
            margin: 1.5rem 0 2rem;

            @include mobile-or-tablet-screen {
                margin-bottom: 0;
            }
        }
    }

    &__title {
        margin-bottom: 2rem;
        --text-color: #333 !important;
    }
}
