.trading-hub {
    width: 100%;
    height: 100%;
    padding: 4rem;

    @include mobile {
        padding: 0;
        overflow-y: auto;
    }

    &_header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mobile {
            flex-direction: column;
            padding: 2.4rem;
            &--title {
                width: 100%;
            }
        }
        &--account {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.6rem;
            &_assets {
                & > span {
                    color: var(--text-profit-success);
                }
            }
            .toggle-account-type {
                &--parent {
                    padding: 0;
                }
            }

            @include mobile {
                width: 100%;
                justify-content: space-between;
                margin-top: 1.6rem;
            }
        }

        &--platfrom_toggle_options {
            min-width: 10rem;
            width: 10rem;
            border-radius: $BORDER_RADIUS;
            border: 2px solid var(--general-section-1);
        }
    }

    &_body {
        height: -webkit-fill-available;
        border: 1px solid var(--border-normal);
        border-radius: $BORDER_RADIUS * 4;
        margin: 2.4rem 0;
        padding: 2.4rem;

        &--platform_type_toggle {
            margin-bottom: 1.6rem;
            border-radius: $BORDER_RADIUS;
            padding: 0.4rem;
            background-color: var(--general-section-1);
        }

        &--divider {
            margin: 3.6rem 0;
            height: 2px;
        }

        @include mobile {
            border: none;
            margin: 0;
            padding: 0 2.4rem 2.4rem;
        }
    }
}
