.order-details {
    &__container {
        display: flex;
        height: calc(100vh - 47px - 53px - 60px - 52px - 36px - 2.4rem - 1.6rem);
        min-height: 555px;
        overflow-y: scroll;

        .sendbird {
            &-container {
                position: absolute;
                left: 484px;
                border-radius: 4px;
                height: inherit;
                min-height: inherit;
                max-height: 555px;
                width: calc(50% - 32px);
                max-width: calc(50% - 32px);
                box-shadow: 0 8px 8px 0 var(--shadow-menu), 0 0 8px 0 var(--shadow-menu);
            }

            &-conversation {
                display: none;
                width: 100%;
                border-radius: 4px;
                border: none;
                background-color: var(--general-section-2);

                &__messages {
                    background-color: var(--general-main-2);
                }

                &__footer {
                    padding: 16px 24px 26px;
                    border-top: 2px solid var(--general-section-2);
                    background-color: var(--general-main-2);

                    .sendbird-message-input {
                        height: 40px;

                        &--textarea {
                            max-height: 150px;
                            height: 40px;
                            overflow-y: scroll;
                            padding: 10px 44px 10px 8px;
                            line-height: normal;
                            border: 1px solid var(--border-normal);
                            box-shadow: none;
                            background-color: var(--general-main-2);
                            color: var(--text-less-prominent);
                            caret-color: var(--text-less-prominent);

                            &:focus {
                                border: 1px solid var(--border-hover);
                                color: var(--text-less-prominent);
                            }
                        }
                        &--placeholder {
                            top: 10px;
                            left: 8px;
                            color: var(--text-less-prominent);
                        }
                    }
                    .sendbird-iconbutton {
                        top: 4px;
                        right: 8px;
                        fill: var(--text-general) !important;
                    }
                }

                .sendbird {
                    &-separator {
                        &__left,
                        &__right {
                            display: none;
                        }
                        &__text {
                            display: initial;
                            width: 100%;
                            text-align: center;
                        }
                    }

                    &-label {
                        &--caption-3 {
                            font-size: 10px;
                            margin-left: 0;
                        }
                        &--color-onbackground-2 {
                            color: var(--text-less-prominent);
                        }
                    }

                    &-avatar {
                        display: table;
                        width: 40px !important;
                        height: 40px !important;
                        color: var(--text-colored-background);
                        &-text {
                            display: table-cell;
                            position: relative;
                            text-align: center;
                            font-size: 14px;
                            width: 40px;
                            height: 20px;
                            vertical-align: middle;
                        }
                        &-img {
                            display: none;
                        }
                    }

                    &-thumbnail {
                        &--incoming {
                            padding-left: 0px !important;
                        }

                        &__img {
                            width: 100%;
                            border-bottom-left-radius: 4px;
                        }
                        &__sender-name {
                            display: none;
                        }
                        &__more {
                            display: none;
                        }
                    }

                    &-file-message {
                        &__more {
                            display: none !important;
                        }
                        &__sender-name {
                            display: none;
                        }
                        &--incoming {
                            padding-left: 0px !important;

                            .sendbird-file-message__tooltip,
                            &:hover .sendbird-file-message__tooltip {
                                background-color: var(--general-active);
                                border-bottom-left-radius: $BORDER_RADIUS;

                                &__text {
                                    color: var(--text-prominent);
                                }
                            }
                        }
                    }

                    &-user-message {
                        &__sender-name {
                            display: none;
                        }
                        &__tooltip {
                            padding: 8px 16px;

                            &__text {
                                font-size: 14px;
                                font-family: $FONT_STACK;
                                white-space: break-spaces;
                            }
                        }
                        &__more {
                            display: none;
                        }
                        &--incoming {
                            padding-left: 0px !important;

                            .sendbird-user-message__tooltip {
                                background-color: var(--general-active);
                            }

                            .sendbird-user-message__tooltip,
                            &:hover .sendbird-user-message__tooltip {
                                background-color: var(--general-active);
                                border-bottom-left-radius: $BORDER_RADIUS;

                                &__text {
                                    color: var(--text-prominent);
                                }
                            }
                        }
                        &--outgoing {
                            .sendbird-user-message__tooltip,
                            &:hover .sendbird-user-message__tooltip {
                                background-color: var(--brand-secondary);
                                border-bottom-right-radius: 4px;

                                &__text {
                                    color: var(--text-colored-background);
                                }
                            }
                        }
                        &__avatar {
                            display: none;
                        }
                    }

                    &-chat-header {
                        border-radius: $BORDER_RADIUS $BORDER_RADIUS 0 0;
                        border-bottom: none;
                        padding: 0 16px 0px 24px;
                        background-color: var(--general-section-2);

                        &__left {
                            display: flex;
                            align-items: flex-start;
                            margin-right: 0;
                        }

                        &__right {
                            display: none;
                        }

                        &__title {
                            font-size: 16px;
                            padding-left: 16px;
                            display: flex;
                            max-width: 350px;
                            margin-right: 0;
                            margin-left: 0;
                            color: var(--text-prominent);
                        }

                        &__subtitle {
                            display: flex;
                            align-self: flex-end;
                            position: absolute;
                            padding-left: 56px;
                            color: var(--text-less-prominent);
                        }
                    }

                    &-notification {
                        margin: 0 1.6rem 1.6rem;
                        background-color: var(--button-primary-default);

                        &:hover {
                            background-color: var(--button-primary-hover);
                        }
                    }

                    &-chat-footer {
                        &--textarea {
                            &__character-count {
                                position: absolute;
                                right: 24px;
                                line-height: 18px;
                                font-size: 12px;
                                color: var(--text-less-prominent);
                            }
                        }
                    }

                    &-iconbutton {
                        svg {
                            fill: var(--text-general) !important;
                        }

                        .icon-send_svg__fill {
                            fill: var(--text-general) !important;
                        }

                        &:hover {
                            background-color: var(--general-hover) !important;
                        }
                    }
                }
            }
        }
    }

    &__wrapper {
        width: 456px;

        &-message {
            font-size: 1.4rem;
            line-height: 1.43;
            color: var(--text-general);
        }
        &--inner {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            background-color: var(--general-main-1);
            border-radius: 4px;
            width: 100%;
            border: 0.8rem solid var(--general-section-1);
            min-height: 555px;
            max-height: 555px;
            overflow-y: scroll;

            .footer-actions {
                position: relative;
                height: unset;
                padding: 1.6rem;
            }
        }
    }
    &__header,
    &__info {
        //border-bottom: 1px solid var(--general-section-1);
        padding: 1.6rem;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        color: var(--text-general);
        position: relative;

        &-status {
            font-size: 1.6rem;
            font-weight: bold;
            line-height: 1.5;

            &--info {
                color: var(--text-less-prominent);
            }
            &--success {
                color: var(--status-success);
            }
            &--danger {
                color: var(--status-danger);
            }
            &--alert {
                color: var(--status-warning);
            }
        }
        &-amount {
            line-height: 1.5;
            font-size: 2.4rem;
        }
        &-method {
            font-size: 1.2rem;
            border: 1px solid var(--border-normal);
            width: fit-content;
            border-radius: 1.6rem;
            padding: 0.4rem 1rem;
            margin-top: 0.8rem;
        }
        &-timer {
            font-size: 1.2rem;
            line-height: 1.5;
            text-align: center;
            position: absolute;
            top: 1.6rem;
            right: 1.6rem;

            &-counter {
                margin-top: 0.4rem;
                border: 1px solid var(--border-normal);
                border-radius: 16px;
                padding: 0.4rem 0.8rem;
            }
        }
        &-payment-info {
            margin-top: 0.8rem;
            font-size: 1.4rem;
            line-height: 1.4;
            color: var(--text-general);
            word-break: break-word;
        }
    }
    &__info {
        &-block {
            margin-bottom: 1.6rem;

            &-label {
                font-size: 1.2rem;
                line-height: 1.5;
                color: var(--text-less-prominent);
            }
            &-value {
                font-size: 1.4rem;
                line-height: 1.43;
                word-break: all;
                color: var(--text-general);
                word-break: break-word;
            }
        }
        &-columns {
            display: flex;
            flex-flow: row nowrap;
        }
        &--right,
        &--left {
            display: flex;
            flex-flow: column nowrap;
            flex: 1;
        }
    }
    &__footer {
        margin-top: auto;
        font-size: 1.4rem;
        line-height: 1.43;
        color: var(--text-general);
    }
    &__actions-button {
        margin-left: 0.8rem;
    }
    &__justify-start {
        justify-content: flex-start;
    }
    &__justify-space {
        justify-content: space-between;
    }
    &__separator {
        width: 100%;
        border-top: 2px solid var(--general-section-1);
    }
    &__popup {
        margin-top: 1.4rem;
        &--danger {
            color: var(--status-danger);
            font-weight: bold;
        }
        &--bold {
            font-weight: bold;
        }
    }
    &__empty-space {
        height: 72px;
    }
    &__popup-no-border {
        .orders__popup-content {
            padding: 0 2.4rem;
        }
        .orders__popup-header,
        .orders__popup-footer {
            border-top: unset;
            border-bottom: unset;
        }
        .dc-checkbox {
            margin-top: 1rem;
            &__box {
                margin-left: 0;
            }
        }
    }
}
