.p2p-v2-my-profile-stats__item {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #f2f3f4;
    padding-right: 2.4rem;
    gap: 0.4rem;

    & span {
        font-size: 14px;
        color: #999999;

        & button {
            padding-left: 0;
            background: none;
            font-size: 14px;
            border: none;
            font-style: italic;
            cursor: pointer;

            &:hover {
                background: none;
                text-decoration: none;
            }
        }
    }

    &--inactive {
        color: #999999;
    }

    &--active {
        color: #ff444f;
    }

    & strong {
        line-height: 1.5;
        color: #333333;
    }

    &:nth-child(4n) {
        border-right: none;
    }

    &:last-child {
        border-right: none;
    }

    @include mobile {
        &:nth-child(even) {
            border-right: none;
        }

        &:last-child {
            border-right: none;
        }
    }
}
