.dw-app-to-trade {
    margin-top: 4rem;

    &__cards-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2.4rem;
        margin-top: 2.4rem;

        &--three-column {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    &__card {
        display: flex;
        max-width: 29.6rem;
        width: 100%;
        padding: 1.6rem;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05), 0px 16px 20px rgba(0, 0, 0, 0.05);
        border-radius: 4px;

        &--big-size {
            max-width: 45.6rem;
            padding: 3.2rem;
        }
        &-content-wrapper {
            max-width: 16.8rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 1.6rem;

            &--big-size {
                max-width: 26rem;
            }
        }
        &-button-wrapper {
            display: flex;
            margin-top: 1.6rem;
        }
        &-link {
            color: $color-blue-4;
            text-decoration: none;
            font-weight: bold;
            font-size: 12px;
            margin: auto 2.4rem auto 0;
        }
        .dc-btn--primary {
            background-color: $color-blue-4;
        }
    }
    &__benefits-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 2.4rem;
        margin-top: 2.4rem;

        &--three-column {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    &__benefit {
        display: flex;
        max-width: 20rem;

        &-icon {
            margin-right: 1.6rem;
        }
    }
    &__line {
        width: 93.6rem;
        height: 1px;
        border: 1px solid var(--general-section-1);
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
}
