.ssb-container {
    --server-bot-height: 100vh - 164px;
    --server-bot-height-mobile: 100vh - 116px;

    width: 100%;
    background-color: var(--general-main-1);
    height: calc(var(--server-bot-height));
    @include mobile {
        height: calc(var(--server-bot-height-mobile));
        padding: 16px 8px;
    }

    &__unsigned {
        height: calc(100vh - 146px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__action {
            margin-top: 24px;
        }
    }
    &__virtual-check {
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 162px);
        padding: 48px;
        .dc-text {
            --text-align: var(--text-align-center) !important;
        }
    }
}
