.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main {
    width: 100%;
}

.icon-wrapper {
    width: 1.6rem;
    height: 1.6rem;
}

.chevron-icon {
    cursor: pointer;
    transition: transform 0.3s ease;
    transform: rotate(0deg);

    &--active {
        transform: rotate(180deg);
    }
}
