.email-link-blocked-modal {
    align-items: center;
    display: flex;
    flex-direction: column;

    &--blocked_text {
        text-align: center;
    }

    &--text {
        margin: 2.4rem 0;
    }
}
