.get-more-wallet-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28rem;
    height: 16.8rem;
    border-radius: 1.6rem;
    background: var(--general-section-1);

    &--button {
        width: 3.2rem;
        height: 3.2rem !important;
        margin-bottom: 0.8rem;
        padding: 0.8rem;
        border-radius: 1.6rem;
        background: #0796e0; // TODO: Update once dashboard colors are merged
    }

    &--column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
