.wallets-change-investor-password-screens {
    &__content {
        margin-top: 3.2rem;

        @include mobile-or-tablet-screen {
            margin-top: 4rem;
            max-width: 60rem;
            margin-inline: auto;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.4rem;

        &-fields {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.6rem;
            width: 32.8rem;
        }

        &-buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.6rem;
        }
    }
}
