.close-uk-account {
    &-header {
        @include mobile {
            position: sticky;
            height: 2rem;
            padding: 0 1.2rem;

            .dc-text {
                margin: 1.6rem 0 !important;
            }
        }

        width: 100%;
        height: 6.5rem;
        padding: 2.4rem;
    }

    &__content {
        @include mobile {
            padding: 0.8rem 1.2rem;
        }

        padding: 2rem 4.8rem;
    }

    .dc-dialog__wrapper,
    &__wrapper {
        z-index: 1001;

        .dc-dialog__dialog,
        &__dialog {
            @include mobile {
                width: 32.8rem;
                height: 40rem;
                margin: 2rem;
                border-radius: 8px;
                box-shadow: 0 24px 24px rgba(0, 0, 0, 8%);
            }

            top: 16.2rem;
            left: 42.6rem;
            width: 58.8rem;
            max-width: unset;
            height: 42rem;
            max-height: unset;
            margin-top: 0;
            padding: 0;

            .dc-dialog__content {
                overflow-y: auto;
                max-width: unset;
                height: 100%;
                margin-bottom: 5rem;
                padding: 0;
            }

            .close-uk-account.dc-dialog__footer {
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                padding: 1.6rem 2.4rem;
                border-bottom-right-radius: 0.8rem;
                border-bottom-left-radius: 0.8rem;
                background-color: var(--general-main-1);

                .dc-btn--primary {
                    margin-left: 0.5rem;
                }
            }

            .dc-text {
                margin: 0.3rem 0;
                text-align: left;
            }
        }
    }
}

body.theme--dark {
    .close-uk-account {
        color: var(--general-main-1);
    }
}
