.wallets-outsystems-migration-modal {
    position: relative;
    width: 40rem;
    border-radius: 0.8rem;
    background: var(--system-light-8-primary-background, #fff);

    &__content {
        padding-top: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mobile {
            justify-content: center;
            height: calc(100% - 4rem - 8.2rem);
            padding-top: 0;
        }
    }

    &__body {
        padding: 2.4rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;

        @include mobile {
            padding: 2.4rem;
            gap: 2.4rem;
        }
    }

    &__footer {
        padding-bottom: 2.4rem;
        padding-inline: 2.4rem;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    &__footer-mobile {
        padding: 2rem;
        height: 10%;
        width: 100%;
        bottom: 0;
        border-top: 0.2rem solid #f2f3f4;

        @include mobile {
            background: var(--general-main-2, #ffffff);
            bottom: 4rem;
            position: absolute;
            z-index: 99;
            height: auto;
        }
    }

    @include mobile {
        width: 100%;
        height: 100%;
        border-radius: unset;
    }
}
