.ib-signup-content {
    margin-bottom: 0 !important;
}

.ib-signup-page {
    &__commission-table td:not(:last-child) {
        font-weight: bold;
    }
}

.affiliates-faq-page, .ib-faq-page {
    h3 {
        color: $COLOR_ORANGE;

        &:not(:first-of-type) {
            margin-top: 3rem;
        }
    }
    @media screen and (max-width: 480px) {
        .sidebar-container {
            margin-bottom: 2rem;

            .sidebar a {
                line-height: 2.5rem;
            }
        }
    }
}

.affiliates-signup-page, .ib-signup-page {
    h2 {
        margin-top: 30px;
    }
    #commission_tabs {
        margin-bottom: 0 !important;
    }
    .margin-bottom-50 {
        margin-bottom: 50px;
    }
    .fixed-height-img {
        height: 50px;
    }
    .faq-box {
        padding: 1rem;
    }
    .table-container.center-text {
        & th, td {
            text-align: center;
        }
    }
    @media screen and (max-width: 480px) {
        table, .mobile-text-small {
            font-size: 0.9rem;
        }
    }
}