.binary-in-numbers-content {
    .stacked-charts {
        margin: 0 auto;
        overflow: hidden;
        height: auto;
        position: relative;
        list-style-type: none;
        background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDQzMzYzKSAgLS0+DQo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjVweCIgaGVpZ2h0PSIxcHgiIHZpZXdCb3g9IjAgMCA1IDEiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUgMSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cmVjdCBmaWxsPSIjRjFGMUYxIiB3aWR0aD0iNSIgaGVpZ2h0PSIxIi8+DQo8L3N2Zz4NCg==') repeat-y 50% 0;

        > div:not(:first-of-type) {
            padding-top: 50px;
        }
        .icon {
            display: block;
            width: 60px;
            height: 60px;
            margin: auto;
            position: relative;
            top: 30px;
            box-shadow: 0 3px 2px $COLOR_GRAY_SHADE;
            border-radius: 30px;
            border: 1px solid $COLOR_GRAY_SHADE;
            background-color: $COLOR_LIGHT_GRAY;
            background-position: 50% center;
            background-repeat: no-repeat;

            &:not(:first-of-type) {
                margin-top: 50px;
            }
        }
        .inner {
            padding: 50px 25px;
            width: auto;
            background-color: $COLOR_LIGHT_GRAY;

            .chart {
                display: block;
                width: 100%;
            }
        }
        .client {
            background: $COLOR_WHITE;

            .icon {
                background-image: url('../images/pages/binary_in_numbers/icons/ic-active-trading-clients.svg');
            }
        }
        .transaction {
            .icon {
                background-image: url('../images/pages/binary_in_numbers/icons/ic-num-transactions.svg');
            }
        }
        .turnover {
            .icon {
                background-image: url('../images/pages/binary_in_numbers/icons/ic-turnover.svg');
            }
        }
        .withdrawal {
            .icon {
                background-image: url('../images/pages/binary_in_numbers/icons/ic-client-withdrawals.svg');
            }
        }
        .employee {
            .icon {
                background-image: url('../images/pages/binary_in_numbers/icons/ic-num-employees.svg');
            }
        }
    }
}
