#guideBtn {
    @include BIDIR_VALUE(display, inline-block, none);
    background-color: $COLOR_LIGHT_GRAY;
    padding: 4px 20px;
    position: relative;
    @include BIDIR_PROP(margin-left, margin-right, 15px);

    span.close {
        display: none;
        color: $COLOR_RED;
        font-size: $FONT_SIZE_S;
        cursor: pointer;
        position: absolute;
        top: 2px;
        @include BIDIR_PROP(right, left, 4px);
    }
    &:hover {
        span.close {
            display: block;
        }
    }
    strong {
        color: $COLOR_BLUE;
        cursor: pointer;
        display: inline-block;
        white-space: nowrap;
        line-height: 20px;

        span {
            display: inline-block;
            vertical-align: middle;
            width: 22px;
            height: 22px;
            background-repeat: no-repeat;
            background-position: center;
            @if $LANGUAGE_DIRECTION == ltr {
                background-image: url('../images/pages/guide/guide-icon.svg');
                margin-right: 7px;
            }
            @else {
                background-image: url('../images/pages/guide/guide-icon_rtl.svg');
                margin-left: 7px;
            }
        }
        &:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: 480px) {
    #guideBtn {
        display: none;
    }
}

/* trading page */
#trading_socket_container {
    #guideBtn {
        float: if($LANGUAGE_DIRECTION == ltr, right, left);
        height: 33px;
        line-height: 33px;
    }
}
