.contracts {
    position: relative;

    .contract_current {
        border: 1px solid $COLOR_GRAY;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        padding: 5px 10px;
        min-width: 100px;
        text-align: left;
        cursor: pointer;

        &:hover {
            border: 1px solid $COLOR_BLUE;

            &.disabled {
                border: 1px solid $COLOR_GRAY;
                cursor: not-allowed;
            }
        }
        .type {
            font-size: 14px;
            font-weight: 400;
            margin: 5px 0;
        }
        .contract {
            font-size: 16px;
            font-weight: 600;
            margin: 5px 0;
        }
    }
    .contracts_dropdown {
        position: absolute;
        top: 0;
        background: $COLOR_WHITE;
        border: 1px solid $COLOR_GRAY;
        border-radius: 4px;
        box-shadow: 0 0 2px 1px $COLOR_GRAY;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        transition: visibility 0s 0s, opacity 0.15s ease-in;
        z-index: 10000;
        padding: 10px;
        width: 400px;
        opacity: 1;
        @media (min-width: 320px) and (max-width: 767px) {
            width: calc(100vw - 80px);
        }

        &.hidden {
            opacity: 0;
            visibility: hidden;
            transition: visibility 0s 0.25s, opacity 0.25s ease-in 0.1s;
        }
        .mobile_close {
            @media (max-width: 767px) {
                display: block !important;
                visibility: visible;
                opacity: 1;
                width: calc(100% - 20px);
                text-align: left;
                padding: 0 10px 10px;
                position: absolute;
                left: 0;
                border-bottom: 1px solid $COLOR_GRAY;
                background: $COLOR_WHITE;
                pointer-events: auto;

                &.disabled {
                    pointer-events: none;
                }
            }

            span {
                display: inline-block;
            }
            .close {
                width: 16px;
                height: 16px;
                float: right;
                background: url('../images/pages/trade/assets/ic-close-normal.svg') 100% 100%;
            }
        }
        .list {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            @media (min-width: 320px) and (max-width: 767px) {
                padding-top: 41px;
                max-height: 350px;
                overflow-x: hidden;
                overflow-y: scroll;
            }
        }
        .contract {
            display: flex;
            flex-direction: column;
            padding: 0 0 10px;
            flex: 1 0 auto;
            width: 185px;
            margin-right: 5px;
            text-align: left;
            @media (max-width: 767px) {
                width: 100%;
            }

            &:last-of-type {
                padding: 0;
            }
            .contract_type {
                font-size: 12px;
                font-weight: 300;
                padding: 0 0 10px;
                color: $COLOR_ORANGE;
                @media (max-width: 767px) {
                    font-size: 14px;
                }
            }
            .contract_subtypes {
                font-size: 14px;
                @media (max-width: 767px) {
                    font-size: 16px;
                }

                .sub {
                    padding: 5px 0 5px 5px;
                    margin-bottom: 10px;
                    cursor: pointer;

                    &:hover {
                        background: $COLOR_GRAY;
                    }
                    &.active {
                        background: $COLOR_BLUE;
                        color: $COLOR_WHITE;
                        @media (min-width: 320px) and (max-width: 767px) {
                            background: $COLOR_BLUE;
                            color: $COLOR_WHITE;
                            padding: 5px;
                            margin: 0 0 10px;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }
}
