$PEEKBOX_GRID_ITEMS: mask, topright, topleft, top, left, right, bottom, bottomleft, bottomright;
/* stylelint-disable color-no-hex */
$COLOR_PEEK_RED: #cb0433;
$COLOR_PEEK_GREEN: #077453;
$COLOR_DIGIT_WINNING: #67b9a0;
$COLOR_DIGIT_WINNING_BACKGROUND: #9ddfcb;
$COLOR_PEEK_RUNNING_GRAY: #454545;
$COLOR_PEEK_LIGHT_GRAY: #c2c2c2;

/* stylelint-enable color-no-hex */

.digit-ticker {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    margin-left: auto;
    margin-bottom: 30px;

    .peek-box {
        width: 44px;
        height: 60px;
        background-color: transparent;
        display: grid;
        grid-template-areas: 'topleft top topright' 'left mask right' 'left peek right' 'bottomleft bottom bottomright';
        grid-template-rows: 4px 19px 36px 4px;
        grid-template-columns: 4px 1fr 4px;
        align-content: center;
        justify-items: center;
        transition: all 0.9s ease;
        position: absolute;
        top: 2px;
        left: 0;
        z-index: 5;

        .bottomright {
            grid-area: bottomright;
            border-bottom-right-radius: 4px;
            width: 4px;
            height: 5px;
            background-color: $COLOR_PEEK_RED;
        }
        .bottom {
            grid-area: bottom;
            height: 5px;
            width: 100%;
            background-color: $COLOR_PEEK_RED;
        }
        .bottomleft {
            grid-area: bottomleft;
            border-bottom-left-radius: 4px;
            width: 4px;
            height: 5px;
            background-color: $COLOR_PEEK_RED;
        }
        .left {
            grid-area: left;
            width: 4px;
            background-color: $COLOR_PEEK_RED;
        }
        .right {
            grid-area: right;
            width: 4px;
            background-color: $COLOR_PEEK_RED;
        }
        .topright {
            grid-area: topright;
            border-top-right-radius: 4px;
            width: 4px;
            height: 4px;
            background-color: $COLOR_PEEK_RED;
        }
        .topleft {
            grid-area: topleft;
            border-top-left-radius: 4px;
            width: 4px;
            height: 4px;
            background-color: $COLOR_PEEK_RED;
        }
        .top {
            grid-area: top;
            height: 4px;
            width: 100%;
            background-color: $COLOR_PEEK_RED;
        }
        @media screen and (max-width: 480px) {
            margin-top: 6px;
            min-width: initial;
            width: 35px;
            grid-template-rows: 4px 19px 30px 4px;
        }
    }
    .mask {
        grid-area: mask;
        font-size: 11px;
        height: 20px;
        line-height: 16px;
        width: 100%;
        color: $COLOR_WHITE;

        @media screen and (max-width: 480px) {
            font-size: 10px;
        }
    }
    .peek {
        grid-area: peek;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 20px;
        border-radius: 8px;
        box-sizing: content-box;
        width: 22px;
        margin: 2px;
        transform: scale(1.3, 1.2);

        @media screen and (max-width: 480px) {
            height: 19px;
            max-height: initial;
            width: 18px;
            margin-top: 0;
            transform: scale(1.4, 1.2);
        }
    }
    .peek-box.digit-running {
        @each $item in $PEEKBOX_GRID_ITEMS {
            .#{$item} {
                background-color: $COLOR_PEEK_RUNNING_GRAY;
            }
        }

        .peek {
            border: 5px solid $COLOR_PEEK_RUNNING_GRAY;
        }
        .mask {
            border: 1px solid $COLOR_PEEK_RUNNING_GRAY;
        }
    }
    .peek-box.digit-losing {
        @each $item in $PEEKBOX_GRID_ITEMS {
            .#{$item} {
                background-color: $COLOR_PEEK_RED;
            }
        }

        .peek {
            border: 5px solid $COLOR_PEEK_RED;
        }
        .mask {
            border: 1px solid $COLOR_PEEK_RED;
        }
    }
    .peek-box.digit-winning {
        @each $item in $PEEKBOX_GRID_ITEMS {
            .#{$item} {
                background-color: $COLOR_PEEK_GREEN;
            }
        }

        .peek {
            border: 5px solid $COLOR_PEEK_GREEN;
        }
        .mask {
            border: 1px solid $COLOR_PEEK_GREEN;
        }
    }
    .digits {
        display: flex;
        align-items: center;
        min-width: 360px;
        justify-content: space-evenly;
        box-sizing: border-box;
        margin: 0 0 3px 0px;
        border-radius: 4px;
        overflow: hidden;

        @media screen and (max-width: 480px) {
            min-width: 280px;
        }
    }
    .digit.digit-winning {
        background-color: $COLOR_DIGIT_WINNING_BACKGROUND;
        color: $COLOR_DIGIT_WINNING;
        border: none;
    }
    .digit.digit-lost {
        color: $COLOR_PEEK_RED;
    }
    .digit.digit-won {
        color: $COLOR_PEEK_GREEN;
    }
    .digit {
        height: 36px;
        width: 36px;
        font-size: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        border-right: 1px solid $COLOR_GRAY;
        border-top: 1px solid $COLOR_GRAY;
        border-bottom: 1px solid $COLOR_GRAY;
        color: $COLOR_PEEK_LIGHT_GRAY;

        @media screen and (max-width: 480px) {
            height: 28px;
            width: 28px;
        }

        &:first-child {
            border-left: 1px solid $COLOR_GRAY;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        &:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }
}

.row.digit-trade {
    & .col {
        font-size: 42px;
        color: $COLOR_GRAY;
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & .quote {
            width: auto;
            color: $COLOR_PEEK_LIGHT_GRAY;
            font-weight: 100;
            margin-top: 2px;
        }
        & .digit-tick-epoch {
            display: inline-block;
            vertical-align: top;
            top: 14px;
            font-size: 14px;
            line-height: 14px;
            color: $COLOR_PEEK_RUNNING_GRAY;
            padding-left: 14px;
            box-sizing: border-box;
            height: 0;
            opacity: 0;
            overflow: hidden;
            transition: height 350ms ease-in-out, opacity 750ms ease-in-out, top 500ms ease-in;

            &:before {
                content: '';
                width: 14px;
                height: 14px;
                display: inline-block;
                vertical-align: top;
                margin-right: 2px;
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm.5-13H11v6l5.25 3.15.75-1.23-4.5-2.67z"/></svg>');
            }
        }
        & .digit-tick-epoch.is-visible {
            height: auto;
            opacity: 1;
            top: -4px;
        }
        & strong {
            color: $COLOR_PEEK_RUNNING_GRAY;
        }
    }
}

.won {
    .row.digit-trade {
        & .col {
            color: $COLOR_PEEK_RUNNING_GRAY;

            strong {
                color: $COLOR_PEEK_RUNNING_GRAY;
            }
        }
    }
}

.lost {
    .row.digit-trade {
        & .col {
            color: $COLOR_PEEK_RUNNING_GRAY;

            strong {
                color: $COLOR_PEEK_RUNNING_GRAY;
            }
        }
    }
}

#contract_purchase_spots {
    padding-bottom: 0;
}
