.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 3rem 5rem;
}

.title {
    width: 50%;
    padding-right: 1rem;
    color: var(--text-general);
    font-size: small;
    text-align: right;
}
