.dc-modal__container_new-wallet-dialog {
    @include desktop {
        min-width: 32.8rem !important;
    }
    .dc-modal-footer {
        border-top: 2px solid var(--general-section-2);
    }
    .new-wallet-dialog {
        &__title {
            display: flex;
            justify-content: center;
        }
        &__container {
            display: flex;
            flex-direction: column;

            @include desktop {
                align-items: center;
            }
        }
        &__wallet {
            position: relative;
            margin-bottom: 1.4rem;
            margin-top: 4rem;
            width: 21.6rem;

            @include mobile {
                margin-bottom: 3.6rem;
                margin-top: 2.6rem;
            }
        }
        &__success-icon {
            position: absolute;
            top: -20px;
            right: -20px;

            &-shadow {
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                box-shadow: 0 0 0 8px var(--status-success);
                opacity: 32%;
            }
        }
    }
}
