.section-error {
    &__form {
        margin-right: auto;
        padding-right: 0.8rem;
    }

    &__table {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 5rem;

        &--center {
            @extend .section-error__table;

            @include mobile-or-tablet-screen {
                align-items: center;
            }
        }
    }
}
