.deposit-fiat-iframe {
    &__iframe {
        width: 100%;
        flex: 1;

        @include mobile {
            + .page-container__sidebar--right {
                flex: none;
            }
        }
    }
}
