.wallet-transfer {
    display: flex;
    flex-direction: column;
    max-width: 65rem;
    width: 100%;
    margin: 9.6rem auto 4.8rem;

    @include mobile {
        margin: 4.8rem auto;
    }

    &__tiles-container {
        display: flex;
        flex-direction: column;
    }

    &__divider {
        border: 0.5px solid var(--border-normal);
        margin: 0.8rem 0;
    }

    &__tile {
        display: flex;
        border: 1px solid var(--border-normal);
        border-radius: $BORDER_RADIUS;

        .amount-input-wrapper {
            border-radius: $BORDER_RADIUS;
            flex-basis: 50%;
            justify-content: space-between;

            @include mobile {
                flex-basis: 60%;
            }
        }

        .transfer-account-selector {
            border-radius: $BORDER_RADIUS;
            flex-basis: 50%;

            @include mobile {
                flex-basis: 40%;
            }
        }
    }

    &__transfer-button {
        margin-top: 4.8rem;
        display: flex;
        justify-content: flex-end;
    }
}
