/** @define time-picker */
.time-picker {
    position: relative;
    margin-top: 0.8em;

    &--padding {
        padding: 1.6em;
    }

    &__icon {
        @extend %inline-icon;

        position: absolute;
        top: 0.8em;
        bottom: 0;
        left: 5%;
        z-index: 1;
        margin: unset;

        /* postcss-bem-linter: ignore */
        g {
            stroke: var(--text-general);
        }
    }

    &__dialog {
        position: absolute;
        top: 0;
        z-index: 2;
        width: 231px;
        padding-top: 10px;
        border-radius: 4px;
        background-color: var(--general-main-2);
        box-shadow: 0 2px 4px 0 var(--shadow-menu);
        transition: transform 0.25s ease, opacity 0.25s linear;
        transform: scale(1, 0) translate3d(0, 0, 0);
        transform-origin: right;

        &--enter,
        &--exit {
            opacity: 0;
            transform: scale(1, 1) translate3d(-225px, 0, 0);
        }

        &--enter-done {
            opacity: 1;
            transform: translate3d(-245px, 0, 0);
        }
    }

    &__selector {
        height: inherit;

        &--hours {
            width: 150px;
            border-right: 1px solid var(--general-section-1);
            border-radius: 0 0 0 4px;
        }

        &--minutes {
            width: 80px;
            border-radius: 0 5px 5px 0;
        }

        &--hours,
        &--minutes {
            display: inline-block;
            overflow: hidden;
            height: 228px;
            border-color: var(--general-section-1);
            color: var(--text-prominent);
            text-align: center;
        }

        &-list-title {
            @include typeface(--small-center-bold-black);

            color: var(--text-prominent);
        }

        &-list-item {
            @include typeface(--small-left-normal-black);

            display: inline-block;
            margin: 3px;
            padding: 7px;
            border-radius: 4px;
            color: var(--text-general);
            cursor: pointer;

            &:hover:not(&--disabled, &--selected) {
                background: var(--state-hover);
                color: var(--text-general);
            }

            &--selected {
                background: var(--state-active);
                color: var(--text-prominent) !important;
            }

            &--disabled {
                color: var(--text-disabled);
                cursor: default;
            }
        }
    }
}
