.wallets-clipboard {
    all: unset;
    border-radius: 0rem 0.4rem 0.4rem 0rem;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
