.virtual {
    &__header {
        margin-top: 0;
        margin-bottom: 1.6rem;
        @include mobile {
            padding-top: 2.4rem;
        }
    }
    &__account-switch-icon {
        box-sizing: border-box;
        width: 33.6rem;
        height: 20.8rem;
        background-repeat: no-repeat;
        background-size: 100%;
        margin: 0 auto 1rem;
        @include mobile {
            width: 100%;
            margin: 2.4rem 0 0;
        }

        &--light {
            background-image: url('../../../public/images/cashier-demo-light.svg');
        }
        &--dark {
            background-image: url('../../../public/images/cashier-demo-dark.svg');
        }
    }
    &__account-switch-text {
        color: var(--text-loss-danger);
        cursor: pointer;
        font-weight: bold;
    }
}
