.p2p-v2-filter-modal {
    height: 56rem;
    width: 44rem;
    border-radius: 8px;

    @include mobile {
        position: absolute;
        top: -4rem;
        background: #fff;
        z-index: 1;
        height: calc(100vh - 8rem);
    }
}
