.dw-wallet-selector {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(21.6rem, 1fr));
    grid-gap: 2.4rem;

    @include desktop {
        padding-right: 1.6rem;
    }
    @include mobile {
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        grid-gap: 0.8rem;
    }

    &__wallet-item {
        background: var(--general-section-3);
        border-radius: 0.8rem;
        padding: 2rem;
        position: relative;
        cursor: pointer;
        height: 12.8rem;

        @include mobile {
            height: 8rem;
            padding: 0 2rem;
            grid-gap: 0.8rem;
        }

        &--selected {
            border: 1px solid var(--badge-blue);

            &:after {
                content: '';
                background-image: url('/js/dashboard/assets/images/check.svg');
                width: 2.4rem;
                height: 2.4rem;
                right: 0.8rem;
                top: 0.8rem;
                position: absolute;
            }
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__selected-icon {
        position: absolute;
        right: 0.8rem;
        top: 0.8rem;
    }
}
