.dc-content-expander {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 0.8rem;
    height: 4rem;
    position: relative;

    &__content {
        transition: opacity 0.25s linear;

        &--enter {
            opacity: 0;
        }
        &--enter-done {
            opacity: 1;
        }
        &--exit {
            opacity: 0;
        }
    }
    &__title {
        display: block;
        padding-right: 0.8rem;

        &--spaced {
            flex: 1;
        }
    }
    &--expanded {
        .dc-content-expander__select-arrow {
            transform: rotate(180deg);

            &--invert {
                transform: rotate(0deg);
            }
        }
    }
    &__select-arrow {
        pointer-events: none;
        transform: rotate(0);
        transform-origin: 50% 45%;
        transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
        @extend %inline-icon;

        &--invert {
            transform: rotate(180deg);
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
}
