.dc-table {
    background: inherit;
    color: var(--text-general);

    &__row {
        display: grid;
        height: 100%;
        border-bottom: 1px solid var(--general-section-1);

        &--hover:hover {
            background-color: var(--general-section-1);
            cursor: pointer;
        }
    }

    &__header {
        height: 52px;
        border-bottom: 2px solid var(--general-section-1);
    }

    &__cell,
    &__head {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        line-height: 1.43;
        text-align: left;
        white-space: unset;
        word-wrap: break-word;
        word-break: break-word;
        overflow-wrap: break-word;
        backface-visibility: hidden;
    }

    &__cell {
        &--right {
            display: flex;
            justify-content: flex-end;
        }

        &--fixed {
            position: sticky;
            left: 0;
            z-index: 2;
        }
    }

    &__head {
        font-weight: bold;

        &--right {
            display: flex;
            justify-content: flex-end;
        }
    }

    &--scroll {
        .dc-table__header {
            position: sticky;
            top: 0;
            z-index: 3;
        }
    }

    &--scrollbar {
        display: block;

        // Only Safari: to ensure that table header sticks to the top
        @supports (-webkit-hyphens: none) {
            display: unset;
        }
    }
}
