@keyframes news-ticker {
    0% {
        transform: translate3d(100%, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes news-ticker-2 {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-200%, 0, 0);
    }
}

.container {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
}

.children {
    animation-iteration-count: infinite;
    animation-name: news-ticker;
    animation-timing-function: linear;
    will-change: transform;

    &:nth-child(2) {
        animation-name: news-ticker-2;
    }
}

.item {
    display: inline-block;
}
