.payment-agent-list {
    padding: 0 4.2rem 1.6rem;
    @include mobile {
        padding: 0 1.6rem 1.6rem;
    }
    &__instructions {
        @include mobile {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 0.8rem;
            .dc-tabs__list--header--tabs--desktop {
                @include mobile {
                    position: fixed;
                    background-color: var(--general-main-1);
                    width: 100%;
                    left: 0;
                    z-index: 1000;
                    padding: 1.6rem 3.5rem;
                }
            }
            .dc-tabs__content {
                margin-top: 7.2rem;
            }
        }
        &-hide-tabs {
            & .dc-tabs__list {
                display: none;
            }

            & .dc-tabs__content {
                margin-top: 0;
            }

            & .dc-tabs__list--header--tabs--desktop {
                display: none;
            }
        }
        .verification-email__icon {
            margin-top: 2.8rem;
        }
    }
    &__list {
        &-header {
            margin-top: 2.4rem;
            margin-bottom: 1.6rem;
            @include mobile {
                margin-top: 1.6rem;
            }
        }
        &-selector {
            margin-bottom: 2.4rem;
            display: flex;
            justify-content: space-between;
            .cashier {
                &__paragraph {
                    margin-right: 0.8rem;
                }
            }
            .dc-dropdown__display-text {
                color: var(--text-less-prominent);
            }
        }
        @include mobile {
            &-header {
                position: relative;
                z-index: 1;
            }
            &-selector {
                margin-bottom: 1.8rem;

                /* postcss-bem-linter: ignore */
                & .dc-input {
                    width: 18rem;
                    margin-left: auto;
                }
                /* postcss-bem-linter: ignore */
                & .dc-select-native__placeholder {
                    background-color: var(--general-main-1);
                }
            }
        }
    }
    &__filter {
        min-width: 22.8rem;
        margin-top: 0;
        &-display {
            min-height: 3.2rem;
            min-width: 22.8rem;
        }
    }
}
