.dc-circular-progress {
    position: relative;
    width: fit-content;
    line-height: 0;

    &__bar {
        stroke: var(--brand-secondary);
        transition: stroke-dashoffset 1s;
        transform: scaleX(-1) rotate(-90deg);
        transform-origin: 50% 50%;

        &--warning {
            stroke: var(--status-warning);
        }

        &--danger {
            stroke: var(--status-danger);
        }
    }

    &--clockwise {
        transform: rotate(-90deg);
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1.6rem;
        height: 100%;
        transform: translate(-50%, -50%);
    }
}
