.phone-verification {
    &__get-code-modal,
    &__verified-modal,
    &__cancel-modal {
        &--contents {
            display: flex;
            flex-direction: column;
            gap: 3.2rem;
            &__buttons {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                gap: 0.8rem;
                margin-top: 2.4rem;
            }
            &__phone-number-container {
                display: flex;

                &__phone-number {
                    @include rtl {
                        direction: ltr;
                    }
                }
            }
        }
    }

    &__cancel-modal--header {
        background-color: var(--core-color-solid-red-100);
    }
    &__verified-modal--header {
        background-color: var(--core-color-solid-green-100);
    }

    &__redirect_button {
        display: flex;
        align-items: center;

        &--text {
            padding-inline-start: 1.6rem;
        }

        &--icon {
            cursor: pointer;
        }
    }

    &__card {
        width: 60rem;
        height: 60rem;
        border: 1px solid var(--core-color-solid-slate-100, #ebecef);
        border-radius: 2 * $BORDER_RADIUS;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.6rem;
        margin-top: 2.4rem;

        &--small-card {
            height: 40rem;
        }

        &--session-timeout-component {
            display: flex;
            width: 100%;
            justify-content: end;
            margin-bottom: 2.4rem;
        }

        &--inputfield {
            width: 60%;
            margin-top: 2.4rem;
            margin-bottom: 2.4rem;

            &--error {
                margin-bottom: 0.2rem;
            }
            @include mobile-or-tablet-screen {
                margin-top: 3.2rem;
            }
            @include tablet-screen {
                width: 80%;
            }
            @include mobile-screen {
                width: 100%;
            }
            &__phone-number-input {
                @include rtl {
                    direction: ltr;

                    .label {
                        direction: rtl;
                    }
                }
            }

            &__livechat {
                color: var(--core-color-solid-red-900, $color-red-12);
                font-weight: bold;
                text-decoration: underline;
                &:hover {
                    cursor: pointer;
                }
            }

            .quill-phone-input__container {
                @include rtl {
                    direction: ltr;
                }

                .quill-dropdown-item {
                    @include rtl {
                        text-align: right;
                    }
                }

                .phone-code-search {
                    @include rtl {
                        direction: rtl;
                        .quill-input-no-label__wrapper {
                            & > input {
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }

        &--buttons_container {
            width: 100%;
            display: flex;
            gap: 1.6rem;
            margin-top: 0.8rem;
            justify-content: center;

            @include tablet-screen {
                margin-bottom: 29rem;
            }

            @include desktop {
                margin-bottom: 29rem;
            }

            @include mobile {
                flex-direction: column-reverse;
            }

            &--with-1-carrier {
                @include desktop {
                    .quill-button {
                        width: 27.6rem;
                    }
                }
                @include tablet-screen {
                    .quill-button {
                        width: 27.6rem;
                    }
                }
            }
        }

        &--email-verification {
            &-content {
                width: 100%;
                margin-top: 2.4rem;
                display: flex;
                flex-direction: column;
                text-align: center;

                &__phone-number {
                    @include rtl {
                        direction: ltr;
                    }
                }
            }

            &-otp-container {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
                width: 60%;
                margin-top: 1.6rem;
                align-items: flex-start;
                @include mobile-or-tablet-screen {
                    gap: 3.2rem;
                }
                @include tablet-screen {
                    width: 80%;
                }
                @include mobile-screen {
                    width: 100%;
                }
            }
        }

        .quill-snackbar {
            z-index: 1;

            @include tablet-screen {
                position: relative;
                width: fit-content;
            }

            @include desktop {
                position: relative;
                width: fit-content;
            }
        }

        @include mobile {
            width: 100vw;
            border: none;
            margin-top: 0.8rem;

            .dc-input {
                width: 100%;
            }
        }
    }
}
