.fiat-transaction-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 16px;

    & span {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 4px;
    }

    & div {
        display: flex;
        flex-direction: row;
        gap: 8px;

        & span {
            align-items: start;
            gap: 0;
        }
    }
}
