.p2p-v2-verification {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6.8rem;
    width: 100%;

    @include mobile {
        padding: 2.4rem;
    }

    &__text {
        margin-bottom: 1.6rem;
    }

    &__icon {
        height: 128px;
        width: 128px;
    }
}
