.dc-modal__container_mt5-password-modal,
.dc-mobile-dialog__mt5-password-modal {
    max-width: 424px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    form {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        @include mobile {
            padding: 0;
        }
    }
    .mt5-password-modal__content {
        padding: 2rem;
    }
    &__body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    &__footer {
        width: 100%;
        border-top: 2px solid var(--general-section-1);
        padding: 1rem 2rem;
    }
    .dc-input {
        &__label {
            top: 1.2rem;
            background-color: var(--general-main-2);

            @include mobile {
                top: 0.9rem;
                background-color: var(--general-section-1);
            }
        }
    }
    .dc-password-meter {
        &__bg {
            background: var(--general-section-2);
            @include mobile {
                background: var(--fill-disabled);
            }
        }
    }
    & .dc-password-meter__container {
        flex-grow: 0;
        margin: 0 0.4rem;

        .dc-password-input__field {
            margin-bottom: 6rem;
        }
        @include mobile {
            width: calc(100vw - 4.8rem);
            max-width: 30rem;
        }
    }
    & .mt5-password-field {
        margin-bottom: 1em;
        width: 80%;
    }
    .input-element {
        width: 100%;
    }
    @include mobile {
        .mt5-password-modal__content {
            overflow-y: auto;
            overflow-x: hidden;
            height: 100%;
            max-height: calc(100% - 6.4rem);
            padding: 2rem;
        }
    }
}
