.db-summary-card {
    $contract-card: &;

    @include desktop {
        width: 100%;
    }

    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    &--inactive {
        justify-content: center;
        margin: auto;
        padding: 0 3rem;
        color: var(--text-general);
        font-size: 14px;
        line-height: 2rem;
        text-align: center;

        & .dc-text {
            text-align: center;
        }
    }

    &--is-loading {
        border: 1px solid var(--general-main-1);
        background-color: inherit;
    }

    &--completed {
        border: 1px solid var(--general-main-1);

        &:hover {
            border: 1px solid var(--border-disabled);
        }
    }

    .dc-contract-card {
        padding: 1.6rem 1.6rem 0.8rem;
    }

    .dc-contract-card__grid-underlying-trade {
        grid-template-columns: 1.5fr 1fr;
    }

    .dc-contract-card-items-wrapper {
        grid-template-columns: 1.5fr 1fr;
        margin-top: 0.8rem;
    }

    &--mobile {
        .dc-contract-card {
            padding: 1.5rem 3.4rem;
        }

        .dc-contract-card__grid-underlying-trade--mobile {
            grid-template-columns: 1fr 1.25fr;
        }

        .dc-contract-card-items-wrapper {
            grid-template-columns: 1fr 1fr;
        }
    }
}
