.summary {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(180deg, var(--general-section-2) 0%, rgba(242, 243, 244, 0) 80%);
    width: 100%;

    @include desktop-screen {
        height: inherit;
    }

    &--loading {
        width: 100%;
    }

    &--delayed-loading {
        justify-content: center;
    }

    &__tiles {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 24px 0;
    }

    &__tile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: $BORDER_RADIUS;
        width: 32%;
        max-width: 32%;
        text-align: center;
        background-color: var(--general-section-1);
        padding: 8px 8px 0;
        margin-bottom: 2%;
        height: 56px;

        &-title {
            height: 18px;
            margin-bottom: 4px;
            @include typeface(--small-center-bold-black, none);
        }

        &-content {
            height: 18px;
            margin-bottom: 4px;
            @include typeface(--small-center-normal-black, none);
        }
    }

    &__amount {
        @include typeface(--small-center-normal-black, none);

        &--positive {
            font-weight: bold;
            color: var(--text-profit-success);
        }

        &--negative {
            font-weight: bold;
            color: var(--text-loss-danger);
        }
    }
}
