.dc-carousel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &--mt5 {
        justify-content: unset;
    }

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__box {
        overflow: hidden;

        &--mt5 {
            margin: 0 -1.4rem;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        width: fit-content;
        height: 100%;
        padding: 0.5rem 0;
        transition: transform 0.3s linear;

        &--mt5 {
            padding-top: unset;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        padding-bottom: 0.8rem;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 2.4rem;
        padding: 0 2.4rem;

        &--upper {
            margin-bottom: 0;
        }

        &-list {
            position: relative;
            display: inline-block;
            margin: 0 auto;
            text-align: center;
        }

        &--lower {
            margin-bottom: 0;
        }

        &-item {
            display: inline-block;
            width: 0.8rem;
            height: 0.8rem;
            margin: 0 0.8rem;
            border-radius: 50%;
            cursor: pointer;

            &--active {
                position: absolute;
                top: 0;
                left: 0;
                cursor: initial;
                transition: transform 0.3s linear;
            }
        }
    }

    &__icon {
        cursor: pointer;

        &--left {
            position: relative;
            right: 5.2rem;
        }

        &--mt5 {
            justify-content: space-between;
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            background: var(--icon-grey-background);
            line-height: 6rem;
            text-align: center;
            transform: scale(0.5);
        }
    }
}
