.wallets-list-header {
    &__card_container {
        flex: 1;
        display: flex;
        align-items: flex-start;
        width: 100%;
        border-radius: 1.6rem;
        background: none;
        z-index: 10;
    }

    &__content {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2.4rem;
        align-self: stretch;
    }

    &__details-container {
        display: flex;
        flex: 1;
        align-items: center;
        gap: 2.4rem;
        align-self: stretch;
        border-radius: 1.6rem;

        &-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            border-radius: 0.4rem;
            padding: 1rem 1.6rem;
            min-width: 12.2rem;
            min-height: 7.5rem;
        }
    }
}
