$HANDLEBAR_HEIGHT: var(--core-size-1000);
$HEADER_TITLE_HEIGHT: var(--core-size-3200);
$FOOTER_BUTTON_HEIGHT: var(--core-size-4000);

.allow-equals {
    &__wrapper {
        height: calc(40dvh - $HANDLEBAR_HEIGHT - $HEADER_TITLE_HEIGHT - $FOOTER_BUTTON_HEIGHT);

        &--definition {
            height: calc(40dvh - $HANDLEBAR_HEIGHT - $HEADER_TITLE_HEIGHT);
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
