@media screen and (max-width: 1199px) {
    body .buorg {
        font-size: $FONT_SIZE_S;
    }
}

@media screen and (max-width: 1080px) {
    #header ul#menu-top.smaller-font a {
        font-size: $FONT_SIZE_XS;
    }
}

@media screen and (min-width: 767) and (max-width: 768px) {
    .center-text-p {
        text-align: center;
    }
    #sell_popup_container {
        padding: 0;
        width: 100%;
        font-size: $FONT_SIZE_XS;
        max-height: 500px;
        overflow: scroll;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        overflow-x: auto;
    }
    .welcome-content {
        .box-grid:first-child div {
            margin-bottom: 0.5rem;
        }
    }
    .no-padding-m {
        padding: 0 !important;
    }
}

@media screen and (max-width: 480px) {
    #sell_popup_container {
        max-height: 100%;
    }
    input:not([type='checkbox']), select {
        width: 80%;
        height: 26px;
    }
    .center-text-m {
        &, div:first-child label {
            text-align: center;
        }
    }
    #btn_verify_email {
        font-size: $FONT_SIZE_N;
        padding: 0;
    }
    #end-note {
        display: none;
    }
    #content .content-tab-container.light .tab-menu-wrap ul.tm-ul li.tm-li a {
        font-size: $FONT_SIZE_S;
    }
    #content .light .tab-menu-wrap ul.tm-ul li.tm-li.tab-selector {
        top: 30px;
    }
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .center-text-t {
        &, div:first-child label {
            text-align: center;
        }
    }
}
