#end_note {
    line-height: 25px;
    background: $COLOR_RED;
    font-size: $FONT_SIZE_XS;
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
    text-align: center;

    &, & a {
        color: $COLOR_WHITE;
    }
}

.lightbox {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2000000000;

    > div {
        margin: auto;
        max-width: 44em;
        max-height: 80vh;
        background-color: $COLOR_WHITE;
        border-radius: $BORDER_RADIUS;
        overflow: auto;
        text-align: center;
    }
}

.buorg {
    color: $COLOR_BLACK;
}

@media screen and (max-width: 1199px) {
    body .buorg {
        font-size: $FONT_SIZE_S;
    }
}
