/* stylelint-disable color-no-hex */
.nav-col-left {
    flex: 1;
    padding: 0 15px;
    margin: 0;
}

.nav-col-right {
    flex: 3;
    padding: 0 15px;
    margin: 0;
}

.topnav {
    overflow: hidden;
    text-align: right;
    margin-top: 15px;

    a {
        display: inline-block;
        color: #ffffff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
    }
    a:hover {
        color: #cccccc;
        text-decoration: none;
    }
}

.grill {
    display: block;
    position: fixed;
    top: 27px;
    right: 30px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    z-index: 9;
}

.grill-ico {
    background: url('../images/usb_page/menu.svg') no-repeat;
    background-position: center;
}

.navbar-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.top-nav-collapse {
    a {
        color: #ffffff;
    }
    a:hover {
        color: #cccccc;
    }
}

.page-scroll, .logo-scroll, .noSelect, #push {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.logo-wrapper {
    padding: 3px 0;
    margin: 0;
    margin-top: 0px;
}

.section-md {
    padding: 30px 0;
}

.section-lg {
    padding: 80px 0;
}

.section-title {
    font-size: 36px;
    font-weight: 300;
    margin-top: 80px;
    margin-bottom: 0px;
}

.coin-section {
    border-top: 3px solid #e98024;
    border-bottom: 3px solid #e98024;
}

.home--header {
    width: 100%;
    background: linear-gradient(rgba(42, 48, 82, 0.6), rgba(42, 48, 82, 0.1)), url('../images/usb_page/header-image_edited-sm.jpg') no-repeat;
    background-size: cover;
    padding: 50px;
    background-position: center;
    min-height: 75vh;
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

.header-content {
    text-align: left;
    width: 1200px;
    max-width: 100%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header-title {
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 30px;
}

.header-sub {
    display: block;
    margin: 5px 0;
    font-size: 36px;
    font-weight: 300;
}

.earn-interest {
    width: 800px;
    max-width: 100%;
}

.usb-coin {
    width: 150px;
    max-width: 100%;
}

.separator-line-thin-gray-xs {
    height: 1px;
    background-color: #dedede;
    margin: 0;
}

.separator-line-thin-gray {
    height: 1px;
    background-color: #dedede;
    margin-top: 20px;
    margin-bottom: 20px;
}

.separator {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1px;
}

.separator-md {
    height: 20px;
}

.separator-lg {
    height: 30px;
}

.separator-xl {
    height: 50px;
}

.bottom-white-border {
    border-bottom: 1px solid #ffffff;
}

.right-white-border {
    border-right: 1px solid #ffffff;
}

.icon-xl {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 150px;
    max-width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon-buy {
    background-image: url('../images/usb_page/buy.svg');
}

.icon-trade {
    background-image: url('../images/usb_page/trade.svg');
}

.icon-clients {
    background-image: url('../images/usb_page/clients.svg');
}

.icon-contract {
    background-image: url('../images/usb_page/contract.svg');
}

.icon-crypto-traders {
    background-image: url('../images/usb_page/crypto-traders.svg');
}

.icon-hold {
    background-image: url('../images/usb_page/hold.svg');
}

.icon-online-business {
    background-image: url('../images/usb_page/online-business.svg');
}

.icon-peaceofmind {
    background-image: url('../images/usb_page/peaceofmind.svg');
}

.icon-redeem {
    background-image: url('../images/usb_page/redeem.svg');
}

.icon-redeem-usd {
    background-image: url('../images/usb_page/redeem-usd.svg');
}

.icon-source-code {
    background-image: url('../images/usb_page/source-code.svg');
}

.icon-supply {
    background-image: url('../images/usb_page/supply.svg');
}

/* SVG */

.window {
    fill: #e98024;
    stroke: #e98024;
}

/* Video Embed */

.video-container {
    width: 100%;
    height: 0px;
    position: relative;
    padding-bottom: 56.19%;
}

.video-container iframe, .video-container object, .video-container embed {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Modifiers */

.title-xl {
    font-size: 36px;
}

.ft-100 {
    font-weight: 100;
}

.ft-300 {
    font-weight: 300;
}

.ft-400 {
    font-weight: 400;
}

.table-col {
    border-bottom: 3px solid #f2f2f2;
}

.bottom-30 {
    margin-bottom: 30px;
}

.bottom-50 {
    margin-bottom: 50px;
}

.dark-grey-bg {
    background: #eaeaea;
}

#video, #why-usb, #usb-clients, #get-started, #benefits, #tech, #faq {
    padding-bottom: 50px;
}

.block {
    display: block;
}

.hidden {
    display: none;
}

@media screen and (max-width: 576px) {
    .home--header {
        padding: 50px 0;
    }
    .header-content {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 768px) {
    .md-center {
        text-align: center !important;
    }
    .home--header {
        min-height: 50vh;
    }
}

@media screen and (max-width: 992px) {
    .mb-bottom-30 {
        margin-bottom: 50px;
    }
    .header-title {
        font-size: 36px;
        line-height: 40px;
        font-weight: 300;
    }
    .lg-center {
        text-align: center !important;
    }
}

@media screen and (max-width: 1198px) {
    .navbar-fixed-top {
        background: #2a3052;
        border-bottom: 0px solid #e98024;
    }
    .topnav {
        overflow: visible;
        width: 100%;

        a {
            display: block;
            width: 100%;
            text-align: left;
        }
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1199px;
    }
    .navbar-container {
        display: flex;
    }
    .navbar-custom {
        padding: 20px 0;
        border-bottom: none;
        background: transparent;
        -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    }
    .navbar-custom.top-nav-collapse {
        padding: 0;
        background: #2a3052;
        color: #ffffff;
        border-bottom: 0px solid #e98024;
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
    }
    .grill {
        display: none;
    }
}
/* stylelint-enable color-no-hex */