.balance-text {
    &__container {
        display: inline-flex;
    }

    &__text {
        &--demo {
            padding-right: 0.5rem;
            color: var(--status-info);
        }

        &--real {
            padding-right: 0.5rem;
            color: var(--status-success);
        }
    }

    &--dotted {
        border-bottom: 4px dotted var(--border-normal-3);
    }
}
