.wallet-action-button {
    background-color: var(--general-main-1);
    border-radius: 16px;
    cursor: pointer;
    align-items: center;
    display: flex;
    border: 1px solid var(--button-secondary-default);
    gap: 8px;
    padding: 0 1.5rem;

    &__small {
        height: 3rem;
    }

    // TODO: wait for design to get finalized and then ask about other variants for the size
    &__medium {
        height: 3rem;
    }
    // TODO: wait for design to get finalized and then ask about other variants for the size
    &__large {
        height: 3rem;
    }
}
