.online-status-icon {
    width: 1rem;
    height: 1rem;
    margin: auto 0.5rem auto 0rem;
    border-radius: 50%;

    @include mobile {
        width: 0.8rem;
        height: 0.8rem;
    }

    &--online {
        background: var(--text-profit-success);
    }
    &--offline {
        background: var(--checkbox-disabled-grey);
    }
}
