@import '../base/index';

/** @define acc-info */
.acc-info {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    padding: 0 1.6em 0 1.7em;

    &__preloader {
        position: absolute;
        top: 0;
        right: 0;
        width: 350px;
        height: 46px;
        z-index: 2;
        background: var(--general-main-1);

        &:before {
            content: '';
            position: absolute;
            left: -90px;
            width: 90px;
            height: 46px;
            top: 0;
            background: var(--general-main-1);
        }
    }
    &__container {
        align-items: center;
        -webkit-box-align: center;
        display: flex;
    }
    &__wrapper {
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 100%;
        justify-content: center;
        position: relative;
        margin-right: 0.8rem;
    }
    &__id {
        &-icon {
            vertical-align: middle;
            margin-right: 0.8rem;
        }
    }
    &__separator {
        border-right: 1px solid var(--general-section-1);
        width: 2rem;
        height: 3.2rem;
        margin-right: -0.1rem;
    }
    &__balance {
        @include typeface(--title-center-bold-green, default);
        padding: 0.5em;
        color: var(--text-profit-success);
        pointer-events: none;
    }
    &__select-arrow {
        pointer-events: none;
        transform: rotate(0);
        transform-origin: 50% 45%;
        transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
        @extend %inline-icon;
    }
    &:hover:not(.show) {
        background: var(--state-hover);

        .symbols {
            background: transparent;
        }
    }
    &--is-virtual {
        .acc-info__balance {
            color: var(--text-profit-success);
        }
    }
    &--show {
        .acc-info__select-arrow {
            transform: rotate(180deg);
        }
    }
    &__button {
        margin: 0 1.6em 0 0 !important;

        &:not(:last-child) {
            margin-right: 1em;
        }
    }
}

/** @define acc-switcher; weak */
.acc-switcher {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 0.8rem;
    height: 4rem;

    &__wrapper {
        border-radius: $BORDER_RADIUS;
        position: absolute;
        transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 0.25s linear;
        box-shadow: 0 8px 16px 0 var(--shadow-menu);
        right: 0;
        top: calc(100% + 4px);
        width: 278px;
        background-color: var(--general-main-2);

        &--enter-done {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
        &--enter, &--exit {
            opacity: 0;
            transform: translate3d(0, -20px, 0);
        }
        .acc-switcher__button {
            max-width: calc(100% - 1.6rem);
            margin: 0.2rem 0.8rem 0.8rem;
            height: 4rem;
        }
    }
    &__new-account {
        background-color: transparent;
        border-radius: 4px;

        &-link {
            background-color: transparent;
            margin: 0 0 0.8em;
            padding: 0 0 0 0.8em;
            display: flex;
            text-decoration: none;
            width: 100%;
            height: 4rem;
            align-items: center;

            & .btn {
                background-color: transparent;
                padding: 0;

                &__text {
                    color: var(--general-main-1);
                }
            }
        }
        &:hover {
            background-color: rgba(255, 68, 79, 0.08) !important;
        }
        .btn__text {
            font-weight: normal;
            color: var(--brand-red-coral);
        }
        .btn {
            align-items: center;
            background-color: transparent;
            display: flex;
            margin: 0;
            padding: 0 0 0 0.8rem;
            height: 4rem;
            justify-content: left;
        }
    }
    &__list {
        border-radius: $BORDER_RADIUS;
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        background: var(--general-main-2);

        &-title {
            @include typeface(--title-left-bold-black);
            display: block;
            color: var(--text-prominent);
            flex: 1;
        }
        &-wrapper {
            padding: 0.4em 0.8em 0.8em;
        }
    }
    &__accounts {
        border-radius: $BORDER_RADIUS;
        background: var(--general-main-2);

        .acc-switcher__account {
            background: var(--general-main-2);

            &:hover:not(.acc-switcher__account--selected) {
                background-color: var(--state-hover);
                border-radius: 4px;
            }
            &.acc-switcher__account--disabled:hover {
                background-color: var(--general-main-2);
            }
            .acc-switcher__id {
                color: var(--text-general);
                width: 100%;
                line-height: 1.43;
            }
            &--selected {
                background: var(--state-active);

                .acc-switcher__id {
                    color: var(--text-prominent);
                    font-weight: 700;

                    &--virtual:before {
                        color: var(--text-prominent);
                        border: 1px solid var(--text-prominent);
                    }
                }
            }
            &--disabled {
                opacity: 0.5;
                cursor: default;
            }
            &:only-child {
                border-radius: 4px;
            }
        }
    }
    &__account {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        padding: 0.8em;
        position: relative;
        background: var(--general-main-2);
        text-decoration: none;

        .acc-switcher__id {
            @include typeface(--paragraph-left-normal-black);
            align-items: center;
            display: flex;
            color: var(--text-prominent);

            &-icon {
                @include toEm(margin-right, 8px, 1em);
            }
        }
        &:hover:not(.acc-switcher__account--selected) {
            background: var(--state-hover);
        }
        &--selected {
            background: var(--state-active);
            border-radius: 4px;

            .acc-switcher__id {
                @include typeface(--paragraph-left-bold-active);

                &--virtual:before {
                    color: var(--text-prominent);
                    border: 1px solid var(--text-prominent);
                }
            }
        }
        &--demo-text {
            padding-top: 0.3em;
            padding-bottom: 0.3em;
        }
    }
    &__logout {
        align-items: center;
        align-self: flex-end;
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        padding: 1.6em 1.3em;

        &-text {
            @include typeface(--paragraph-left-normal-black, none);
            color: var(--text-prominent);
        }
        &-icon {
            margin-left: 8px;
            @extend %inline-icon;
        }
    }
    &__balance {
        color: var(--status-success);
        margin-left: auto;

        &--virtual {
            color: var(--text-prominent);
        }
    }
    &__separator {
        height: 4px;
        background-color: var(--general-section-2);
    }
    &__total {
        font-size: 1.4rem;
        height: 4rem;
        margin: 0.4rem 1.6rem;
        align-items: center;
        font-weight: bold;
        display: flex;
        color: var(--text-prominent);

        &-icon {
            margin: 0 0.4rem;

            .color1-fill {
                fill: var(--text-prominent) !important;
            }
        }
    }
    &__demo-text {
        font-size: 1rem;
        color: var(--text-less-prominent);
        line-height: 1.4;
    }
    &__loader {
        margin: 1rem auto !important;
        font-size: 0.8rem;
    }
}

/** @define set-currency; weak */
.set-currency {
    & .btn {
        display: flex;
        align-items: center;
    }
}

/** @define no-currency; weak */
.no-currency {
    @include typeface(--xxsmall-center-normal-black);
    text-transform: none;
    color: var(--text-less-prominent);
    line-height: 1.5;
    text-align: right;
}
