.account-settings-toggle {
    margin-right: 1.2rem;
    svg {
        height: 20px;
        width: 20px;
        @extend %inline-icon;
    }
    &:hover {
        svg {
            @extend %inline-icon-active;
        }
    }
}
