.cfd-proof-of-address {
    .account__scrollbars_container--grid-layout {
        @include mobile-or-tablet-screen {
            padding: 2.4rem 1.6rem;
            overflow-y: auto;
        }
    }

    .dc-form-submit-button {
        background-color: var(--general-main-1) !important;
    }

    &__form {
        padding: 1.6rem 6rem;
    }
}
