@keyframes FadeInDown {
    from {
        opacity: 0;
        bottom: -184px;
    }
    to {
        opacity: 0.72;
        bottom: 0;
    }
}
@keyframes FadeOutUp {
    from {
        opacity: 0.72;
        bottom: 0;
    }
    to {
        opacity: 0;
        bottom: -184px;
    }
}
.cookie-banner {
    position: fixed;
    z-index: 10;
    text-align: center;
    background: rgba($color: #0e0e0e, $alpha: 0.72);
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    padding: 4.8rem 0;
    bottom: 0;
    width: 100%;
    height: 184px;
    transition: all 0.3s ease-in-out;
    &.is-open {
        animation-name: FadeInDown;
    }
    &.is-closed {
        animation-name: FadeOutUp;
    }
    .btn-accept {
        background: #ff444f;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        .dc-btn__text {
            color: #fff;
        }
    }
}
