.livechat {
    display: flex;
    width: 100%;
    align-items: center;
    padding-right: 1.6rem;

    &__icon {
        margin-right: 16px;
        width: 16px;
        height: 16px;

        &-wrapper {
            display: flex;
            align-items: center;
        }
    }
    &__title {
        @include typeface(--paragraph-left-normal-black);
        line-height: 1.25;
    }
}
