.livechat {
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 1.6rem;

    &__icon {
        width: 1.6rem;
        height: 1.6rem;
        margin-right: 1.6rem;

        &-wrapper {
            display: flex;
            align-items: center;
        }
    }
}
