.mul-cfd-compare-accounts {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    background: inherit;
    position: relative;
    justify-content: center;
    &__table-row {
        grid-template-columns: 20% 31% 49%;
        border-bottom: none;
    }
    &__table-head {
        height: 112px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .dc-table {
        padding: 0 2.8rem;
        &__header {
            border-bottom: 1px solid var(--general-section-1);
            height: 12rem;
            position: sticky;
            top: 0;
            background: var(--general-main-2);
            z-index: 10;
        }
        &__head {
            justify-content: center;
            margin: 0.6rem;
            &--fixed {
                padding-left: 1.6rem;
            }
        }
        &__cell {
            margin: 0.6rem;
            justify-content: center;
            align-items: center;
            padding: 0.5rem 0rem;
            flex-direction: column;
        }

        &--scrollbar {
            display: block; // Safari needs this to work properly!
        }
    }
    &-modal {
        &__wrapper {
            display: flex;
            margin-top: 5rem;
        }
    }
}
.dc-modal-header__title {
    padding-top: 3rem;
    font-size: var(--text-size-m);
}

.mul-cfd-compare-table-row,
.mul-cfd-compare-table-row-items {
    position: relative;
    justify-content: center;
    grid-template-columns: 20% 31% 49%;

    .mul-cfd-compare-table-col:first-of-type {
        position: static;
    }
}

.mul-cfd-table-cell-icons {
    display: flex;
}

.mul-cfd-compare-table-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.8rem;
    &__text {
        padding-top: 0.4rem;
    }
}
.mul-cfd-compare-accounts__table-desc {
    background: (var(--brand-red-coral));
    color: var(--text-colored-background);
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2px 8px;
    position: static;
    width: 177px;
    height: 18px;
    left: 16px;
    margin: 8px 0px;
    &__text {
        width: 161px;
        height: 14px;
        left: 8px;
        top: 2px;
        font-weight: normal;
        line-height: 14px;
        text-align: center;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 10px;
    }
}
.mul-cfd-table-cell-cfd-label {
    width: 300px;
}
.mul-cfd-compare-accounts__table-footer {
    width: 100%;
}
