.close-mx-mlt.notification-banner {
    @include mobile {
        min-height: 14.8rem;
    }

    height: 16.8rem;

    .notification-banner {
        &__bg {
            background-color: transparent;
        }

        &__btn {
            position: absolute;
            bottom: 1rem;
        }

        &__btn-wrapper {
            margin-top: 1.9rem;
        }

        &__img {
            right: 0;
            width: auto;
            height: calc(100% + 10px);
        }

        &__title {
            white-space: unset;
        }

        &--right {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: calc(100% - 185px);
        }

        &--left {
            width: 65%;
        }
    }
}
