.onfido-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .onfido-sdk-ui-Camera-webcamContainer {
        left: auto;
        width: -webkit-fill-available;
    }

    &__disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &__info-message {
        position: absolute;
        top: 2.4rem;
        right: 25%;
        z-index: 1;
    }

    &__status-message {
        background-color: var(--transparent-correct-message);
        width: 51.2rem;
        justify-content: flex-start;
        transition: transform 0.35s ease, opacity 0.35s linear;
        transform-origin: top;
        opacity: 1;

        &--exit {
            transform: scale(1, 0);
            opacity: 0;
        }

        &_container {
            margin-bottom: 2.4rem;
            min-height: 4rem;
            text-align: center;
        }
    }
}

.account-form {
    &__poi-confirm-example {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        &_container {
            border: 1px solid #d6dadb;
            border-radius: 0.8rem;
            padding: 1.6rem;

            .account__scrollbars_container {
                padding: 0;

                .account-form__section {
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }

        &_wrapper {
            margin-bottom: 2.4rem;
            transition: transform 0.35s ease, opacity 0.35s linear;
            transform-origin: top;
            opacity: 1;
            padding: 1.6rem;

            &--exit {
                transform: scale(1, 0);
                opacity: 0;
            }
        }

        .da-inline-note-with-icon {
            margin-top: 0.8rem;
            padding: 0.8rem;
            display: flex;
            background: rgba(255, 173, 58, 0.16);
            border-radius: 4px;
            gap: 0.8rem;
            line-height: 1.4rem;
        }

        .account__scrollbars_container--grid-layout {
            grid-gap: 0;
        }

        .account-form__section-content {
            .dc-input__bottom-label > * {
                font-size: var(--text-size-xxs);
            }

            .account-form__fieldset {
                margin-bottom: 0;

                .dc-input--error {
                    margin-bottom: 3.8rem;
                }
            }
        }

        &--button {
            padding: 0;
            margin: 0;
            background-color: unset;
            border: unset;

            &__disabled > * {
                cursor: not-allowed;
            }
        }
    }

    &__section {
        display: grid;
        @include desktop() {
            grid-template-areas: 'section-side-note section-content';
            grid-template-columns: 0.5fr 1fr;
            grid-gap: 1rem;
        }

        align-items: center;

        @include mobile {
            grid-template-areas: 'section-side-note' 'section-content';
        }

        &-side-note {
            grid-area: section-side-note;

            .dc-text {
                color: var(--text-less-prominent);
                font-size: 1.4rem;

                @include mobile {
                    font-size: 1.2rem;
                }
            }

            .account-poa__upload-box-dashboard {
                @include mobile {
                    align-items: flex-start;
                }
            }

            @include mobile {
                margin-top: unset;
                width: 100%;
                margin-bottom: 0.8rem;
            }
        }

        &-content {
            grid-area: section-content;
            // width: 40rem;

            @include mobile {
                width: 100%;
            }
        }
    }
}
