/* @define platform-dropdown; weak */
.platform-dropdown {
    @include mobile {
        position: absolute;

        .platform-dropdown__list {
            position: absolute;
            top: 0;
            left: 0;
            flex-flow: column nowrap;
            overflow-x: hidden;
            overflow-y: auto;
            width: 295px;
            padding-right: 1.6rem;
            background-color: var(--general-main-2);

            &-platform {
                width: calc(100% - 1.6rem);
                margin: 1.4rem 1.6rem;
                padding: 1.4rem 1.6rem;
            }
        }
    }

    position: fixed;
    top: 0;
    z-index: 7;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-outside-dialog);
    opacity: 0;
    transition: opacity 0.25s ease;

    &--enter-done {
        opacity: 1;

        .platform-dropdown__list {
            transform: translateY(48px);
        }
    }

    &__cta {
        @include mobile {
            position: relative;
            padding: 1rem 0 0 1.3rem;
            text-align: center;
        }

        position: absolute;
        bottom: 0;
        left: 50%;
        padding: 2rem;
        cursor: pointer;
        transform: translateX(-50%);

        &--link {
            color: var(--text-loss-danger);
        }
    }

    &__list {
        position: fixed;
        top: 0;
        display: flex;
        flex-flow: wrap;
        width: 100%;
        padding-bottom: 3rem;
        background-color: var(--general-main-1);
        transition: transform 0.25s ease;
        transform: translateY(0);

        &-platform {
            @include mobile {
                width: 302px;
            }

            position: relative;
            display: inline-flex;
            width: 320px;
            margin: 2.4rem 1.6rem;
            padding: 2.4rem 1.6rem;
            border-radius: 0.8rem;
            background-color: transparent;
            color: var(--text-general);
            text-decoration: none;

            &-title {
                font-weight: bold;
                font-size: 1.6rem;
                line-height: 2.4rem;
            }

            &-description {
                margin-top: 0.8rem;
                font-size: 1.4rem;
                line-height: 2rem;
            }

            &-background {
                position: absolute;
                inset: 0;
                z-index: -1;
                border-radius: inherit;
                background-color: var(--general-hover);
                opacity: 0;
                transition: opacity 0.25s ease;
            }

            /* postcss-bem-linter: ignore */
            &.active {
                border: solid 2px var(--border-active);
            }

            &:not(.active):hover {
                background: var(--state-hover);
            }
        }
    }
}
