.platform-switcher {
    @include mobile {
        justify-content: center;
        width: 100%;
        height: 100%;
        user-select: none;
        -webkit-touch-callout: none;
        -webkit-tap-highlight-color: transparent;
    }

    display: flex;
    align-items: center;
    padding: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:not(&--is-mobile):hover {
        background-color: var(--general-hover);
    }

    & svg:first-child,
    p,
    h1 {
        margin: 0 0 0 0.8rem;
    }

    & svg:last-child {
        margin: 0 0.8rem;
    }

    &__arrow {
        transition: transform 0.3s ease;
        transform: rotate(0deg);
    }

    &__arrow .color1-fill {
        fill: var(--text-general);
    }

    &__preloader {
        align-self: center;
        width: 146px;
        margin-top: 4px;

        &--is-mobile {
            width: 162px;
        }
    }

    &--active &__arrow {
        transform: rotate(180deg);
    }
}
