/** @define settings-language */
.settings-language {
    &__language-header {
        margin-bottom: 16px;
    }
    &__language-container {
        display: grid;
        grid-template-columns: repeat(4, minmax(90px, 1fr));
        grid-template-rows: repeat(5, auto);
        grid-gap: 16px;
    }
    &__language {
        &-link {
            color: var(--text-prominent);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border-radius: $BORDER_RADIUS;
            padding: 16px;
            text-decoration: none;
            background-color: var(--state-normal);
            cursor: pointer;

            &--active {
                border: 1px solid var(--border-active);
                color: var(--text-prominent);
            }
        }
        &-flag {
            width: 36px;
            height: 24px;
        }
        &-name {
            @include typeface(--paragraph-left-normal-black);
            color: var(--text-prominent);
            margin-top: 0.8rem;

            &--active {
                font-weight: bold;
                color: var(--text-prominent);
            }
        }
    }
}
