/** @define settings-language */
.settings-language {
    margin-left: 1.6rem;
    width: fit-content;

    @include mobile-or-tablet-screen {
        display: flex;
        flex-direction: column;
        padding: 1.6rem 2.2rem 8rem;
        width: 100%;
        margin-left: 0;
    }

    &__language-container {
        display: grid;
        grid-template-columns: repeat(4, min-content);
        grid-gap: 0.8rem;
        margin: 1.6rem 0;

        @include mobile-or-tablet-screen {
            grid-template-columns: repeat(2, minmax(40%, 1fr));
            grid-template-rows: auto;
            grid-gap: initial;
            margin: 0 auto;
            padding: 0 0.8rem;

            @include mobile-or-tablet-screen {
                &--disabled {
                    opacity: 0.5;
                    pointer-events: none;
                }
            }
        }
    }
    &__language {
        &-button_wrapper {
            display: flex;
            align-items: center;
        }

        &-link {
            color: var(--text-prominent);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border-radius: $BORDER_RADIUS;
            padding: 16px;
            width: 13.6rem;
            height: 8.8rem;

            @include mobile-or-tablet-screen {
                padding: 8px;

                &--pre-appstore {
                    padding: 1.6rem;
                }
            }
            text-decoration: none;
            background-color: var(--state-normal);

            & * {
                cursor: pointer;
            }

            &--active {
                border: 1px solid var(--border-active);
                color: var(--text-prominent);

                & * {
                    cursor: not-allowed;
                }
            }
        }
        &-flag {
            width: 3.6rem;
            height: 2.8rem;

            @include mobile-or-tablet-screen {
                margin-top: 1rem;
            }
        }
        &-name {
            @include typeface(--paragraph-left-normal-black);
            color: var(--text-prominent);
            margin-top: 0.8rem;

            &--active {
                font-weight: bold;
                color: var(--text-prominent);
            }

            @include mobile-or-tablet-screen {
                font-size: 1.4rem;
            }
        }
        &--radio-button {
            display: none;
        }
        &--center-label {
            text-align: center;
        }
    }
}
