/** @define settings-language */
.settings-language {
    @include mobile {
        display: flex;
        padding: 1.5rem 1.5rem 8rem;
    }

    &__language-container {
        @include mobile {
            @include mobile {
                &--disabled {
                    opacity: 0.5;
                    pointer-events: none;
                }
            }

            grid-template-rows: auto;
            grid-template-columns: repeat(2, minmax(50%, 1fr));
            grid-gap: 0.3rem;
        }

        display: grid;
        grid-template-columns: repeat(4, minmax(90px, 1fr));
        grid-gap: 1.6rem;
    }

    &__language {
        &-button_wrapper {
            display: flex;
            align-items: center;
        }

        &-link {
            @include mobile {
                padding: 8px;

                &--pre-appstore {
                    padding: 1.6rem;
                }
            }

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 16px;
            border-radius: $BORDER_RADIUS;
            background-color: var(--state-normal);
            color: var(--text-prominent);
            text-decoration: none;
            cursor: pointer;

            &--active {
                border: 1px solid var(--border-active);
                color: var(--text-prominent);
            }
        }

        &-flag {
            @include mobile {
                width: 4rem;
                height: 5rem;
                margin-top: 1rem;
            }

            width: 5rem;
            height: 4rem;
            cursor: pointer;
        }

        &-name {
            @include typeface(--paragraph-left-normal-black);

            @include mobile {
                font-size: 1.4rem;
            }

            margin-top: 0.8rem;
            color: var(--text-prominent);

            &--active {
                color: var(--text-prominent);
                font-weight: bold;
            }
        }

        &--radio-button {
            display: none;
        }

        &--center-label {
            text-align: center;
        }
    }
}

.account-form {
    &--language-settings {
        overflow: auto !important;
    }
}
