.card-wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--semantic-color-slate-solid-surface-frame-low);
    padding: var(--semantic-spacing-general-md);
    border-radius: var(--core-borderRadius-500);
    gap: var(--semantic-spacing-gap-lg);
    box-shadow: var(--core-elevation-shadow-130);
}
