.dw-get {
    &__icon {
        margin-right: 2.4rem;
    }
    &__wrapper {
        display: flex;
    }
    &__full-width {
        width: 100%;
    }
    &__header {
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &--left {
            flex-direction: column;
        }
        &-center {
            margin: 0 1.6rem;
        }
    }
    &__share {
        cursor: pointer;
    }
}
