.wallet-card {
    position: relative;
    border-radius: $BORDER_RADIUS_2;
    overflow: hidden;

    &--small {
        width: 6.4rem;
        height: 4rem;
        overflow: visible;
    }

    &--medium {
        width: 20rem;
        height: 12rem;
        @include mobile {
            width: 16rem;
            height: 9.6rem;
        }
    }

    &--large {
        width: 24rem;
        height: 14.4rem;
        @include mobile {
            width: 21.6rem;
            height: 12.8rem;
        }
    }

    &__active-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &--small {
            top: 0;
            left: 100%;
            transform: translate(-1.2rem, -0.4rem);
        }
    }

    &__content {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding: 1.6rem;
        box-sizing: border-box;
        border-radius: $BORDER_RADIUS_2;

        &--active {
            border: 2px solid var(--text-red);
            background: var(--wallets-card-active-gradient-background);
        }

        &--default:hover {
            background: var(--wallets-card-active-gradient-background);
        }

        &--medium {
            @include mobile {
                padding: 0.8rem;
            }
        }
    }

    &__shine {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        clip-path: polygon(40% 10%, 104% -6.94%, 92.5% 100%, 28% 100%);
        mix-blend-mode: overlay;
        opacity: 0.16;
        background-color: $color-white;
    }

    &__top-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    &__bottom-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;

        &-wallet-name {
            font-size: var(--text-size-xxxs);

            @include mobile {
                font-size: var(--text-size-xxxxs);
            }
        }

        &-balance {
            font-size: var(--text-size-xs);

            @include mobile {
                font-size: var(--text-size-xxs);
            }
        }
    }

    &__wallet-button {
        background: $color-white;

        &-icon {
            align-self: center;
            margin-right: 0.8rem;
        }

        &-text {
            color: $color-black-1;
        }

        &--added {
            opacity: 0.32;
        }
    }

    &--disabled {
        opacity: 0.32;
    }

    &--faded {
        opacity: 0.72;
    }

    &__small-container {
        width: 6.4rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            border-radius: $BORDER_RADIUS;

            &--active {
                outline: 2px solid var(--text-red);
                background: var(--wallets-card-active-gradient-background);
            }

            &--default:hover {
                background: var(--wallets-card-active-gradient-background);
            }
        }
    }
}
