@import '../base/index';
/** @define acc-info */
.acc-info {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 1.6em;
    padding: 0 1.6em;
    cursor: pointer;

    &__container {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        position: relative;
        height: 100%;
        flex-direction: row;
        justify-content: center;
    }
    &__id {
        @include typeface(--title-center-bold-black, default);
        pointer-events: none;
        color: var(--text-prominent);

        &:after {
            display: block;
            content: attr(title);
            font-weight: 500;
            height: 0;
            overflow: hidden;
            visibility: hidden;
        }
    }
    &__balance {
        @include typeface(--title-center-bold-green, default);
        @include toEm(padding, 8px, 1.6em);
        color: var(--text-profit-success);
        pointer-events: none;
    }
    &__select-arrow {
        pointer-events: none;
        transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
        transform: rotate(0);
        transform-origin: 50% 45%;
        @extend %inline-icon;
    }
    &:hover:not(.show) {
        background: var(--state-hover);

        .symbols {
            background: transparent;
        }
    }
    &--is-virtual {
        .acc-info__balance {
            color: var(--text-profit-success);
        }
        &:before {
            @include typeface(--small-left-normal-green, uppercase);
            @include toEm(padding, 2px 8px, 1.2em);
            @include toEm(margin-right, 8px, 1.2em);
            content: 'demo';
            color: var(--text-profit-success);
            border: 1px solid var(--text-profit-success);
            border-radius: 16px;
            pointer-events: none;
        }
    }
    &--show {
        .acc-info__select-arrow {
            transform: rotate(180deg);
        }
    }
    &__button {
        margin: 0 1.6em;

        &:not(:last-child) {
            margin-right: 1em;
        }
    }
}

/** @define acc-switcher */
.acc-switcher {
    &__wrapper {
        position: absolute;
        transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 0.25s linear;
        box-shadow: 0 2px 8px 0 var(--shadow-menu);
        right: 0;
        top: calc(100% + 4px);
        width: 240px;
        border-radius: $BORDER_RADIUS;
        background: var(--general-main-2);

        &--enter-done {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
        &--enter, &--exit {
            opacity: 0;
            transform: translate3d(0, -20px, 0);
        }
    }
    &__new-account {
        display: flex;
        justify-content: center;
        margin: 0.8em 0 1.6em;

        &-link {
            @include typeface(--small-center-normal-grey, none);
            @include toEm(padding, 8px 16px, 1.2em);
            width: 100%;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
            color: var(--text-general);
            border: 1px dashed var(--button-secondary-default);

            &:before {
                content: '\002B';
                color: var(--text-general);
                float: left;
            }
            &:hover {
                background: var(--button-secondary-hover);
            }
            &:visited, &:active {
                color: var(--text-general);
            }
        }
    }
    &__list {
        height: 100%;
        border-radius: $BORDER_RADIUS;
        padding: 1.6em;
        display: flex;
        flex-flow: column nowrap;
        background: var(--general-section-1);

        &-title {
            @include typeface(--paragraph-left-bold-black);
            padding-bottom: 0.8em;
            display: block;
            color: var(--text-prominent);
        }
        &-group {
            padding-bottom: 16px;
        }
    }
    &__accounts {
        border-radius: 4px;
        background: var(--general-main-1);

        .acc-switcher__account {
            background: var(--state-normal);

            &:hover:not(.acc-switcher__account--selected) {
                background-color: var(--state-hover);
            }
            .acc-switcher__id {
                color: var(--text-general);
            }
            &--selected {
                background: var(--state-active);

                .acc-switcher__id {
                    color: var(--text-prominent);
                    font-weight: 700;

                    &--virtual:before {
                        color: var(--text-prominent);
                        border: 1px solid var(--text-prominent);
                    }
                }
            }
            &:first-child {
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                border-bottom: none;
            }
            &:last-child {
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                border-top: none;
            }
            &:only-child {
                border-radius: 4px;
            }
            &:not(:last-child):not(:only-child) {
                border-bottom: 1px solid var(--general-main-2);
                border-right: none;
                border-left: none;
            }
        }
    }
    &__account {
        cursor: pointer;
        padding: 0.8em 1.6em;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--state-normal);

        .acc-switcher__id {
            @include typeface(--paragraph-left-normal-black);
            display: flex;
            align-items: center;
            color: var(--text-prominent);

            &--virtual:before {
                @include typeface(--xxxsmall-left-normal-orange, uppercase);
                @include toEm(padding, 1px 2px, 0.6em);
                @include toEm(margin-right, 8px, 0.6em);
                content: 'demo';
                color: var(--text-profit-success);
                border: 1px solid var(--text-profit-success);
                border-radius: 16px;
            }
            &-icon {
                @include toEm(margin-right, 16px, 1em);
            }
        }
        &:hover:not(.acc-switcher__account--selected) {
            background: var(--state-hover);
        }
        &--selected {
            background: var(--state-active);

            .acc-switcher__id {
                @include typeface(--paragraph-left-bold-active);

                &--virtual:before {
                    color: var(--text-prominent);
                    border: 1px solid var(--text-prominent);
                }
            }
        }
    }
    &__logout {
        margin-top: 1.6em;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: fit-content;
        align-self: flex-end;

        &-text {
            @include typeface(--paragraph-left-normal-black, none);
            color: var(--text-prominent);
        }
        &-icon {
            width: 1.6em;
            height: auto;
            margin-left: 8px;
            @extend %inline-icon;
        }
    }
}
