/** @define allow-equals */
.allow-equals {
    display: flex;
    align-items: center;
    position: relative;

    &__input-field {
        margin-top: 0.6rem;
    }
    &__label {
        @include typeface(--paragraph-left-normal-black, none);
        padding: 0 0.8rem;
        color: var(--text-general);
        cursor: pointer;
    }
    &__tooltip {
        margin-top: 1rem;
    }
}
