/** @define contract-type-list; */
.contract-type-list {
    padding: 1.6em 1.6em 0em;
    border-bottom: 4px solid var(--general-section-2);

    &__label {
        @include typeface(--paragraph-left-bold-black);
        color: var(--text-prominent);
        margin-bottom: 0.6em;
    }
    &:last-child {
        border-bottom: none;
    }
    &__contracts-wrapper {
        margin-bottom: 1.4rem;
    }
}

/** @define contract-type-item */
.contract-type-item {
    width: 100%;
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 0.8em;
    box-sizing: border-box;
    margin-bottom: 0.1em;
    transition: transform 0.3s opacity 0.3s;
    color: var(--text-general);
    border-radius: 4px;

    &:hover {
        background-color: var(--state-hover);

        .contract-type-item__icon {
            display: block;
        }
    }
    &__title {
        @include typeface(--paragraph-left-normal-black);
        color: var(--text-general);
        padding-left: 0.4em;
    }
    &__icon {
        display: none;
        height: 16px;
        width: 16px;
        margin-left: auto;

        /* postcss-bem-linter: ignore */
        svg {
            pointer-events: none;
            @extend %inline-icon.secondary;
        }
        &:hover {
            /* postcss-bem-linter: ignore */
            svg {
                pointer-events: none;
                @extend %inline-icon.white;
            }
        }
    }
    &--invisible {
        display: none;
    }
    &--selected {
        background: var(--state-active);
        color: var(--text-prominent);

        &:hover {
            background: var(--state-active);
        }
        /* postcss-bem-linter: ignore */
        span {
            font-weight: bold;
            color: var(--text-prominent);
        }
        .contract-type-item__icon {
            /* postcss-bem-linter: ignore */
            svg {
                pointer-events: none;
                //stylelint-disable-next-line
                .color1-fill {
                    fill: var(--text-prominent);
                }
            }
            &:hover {
                /* postcss-bem-linter: ignore */
                svg {
                    pointer-events: none;

                    .color1-fill {
                        fill: var(--text-prominent) !important;
                    }
                }
            }
        }
    }
    &__icon-wrapper {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.7em;

        /* postcss-bem-linter: ignore */
        .category-wrapper {
            margin: 0 0.2em;
            background-color: var(--general-section-1);

            svg {
                /* postcss-bem-linter: ignore */
                .transparent {
                    fill: var(--general-section-1);
                }
                /* postcss-bem-linter: ignore */
                .color1-fill {
                    fill: var(--brand-red-coral);
                }
                /* postcss-bem-linter: ignore */
                .color2-fill {
                    fill: var(--brand-secondary);
                }
            }
        }
    }
}
