/** @define contract-type-list; */
.contract-type-list {
    padding: 1.6rem;

    &__label {
        @include typeface(--paragraph-left-bold-black);

        margin-bottom: 0.8rem;
        margin-left: 1.6rem;
        color: var(--text-prominent);
    }

    &:last-child {
        border-bottom: none;
    }

    &__contracts-wrapper {
        margin-bottom: 1.4rem;
    }
}

/** @define contract-type-item */
.contract-type-item {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 0.8rem 1.6rem;
    border-radius: 4px;
    color: var(--text-general);
    cursor: pointer;
    transition: transform 0.3s opacity 0.3s;

    &:hover {
        background-color: var(--state-hover);
    }

    &__new {
        margin-bottom: 0.8rem;
        padding: 0.3rem 0.4rem;
        border-radius: $BORDER_RADIUS * 4;
    }

    &__title {
        padding-left: 1.6rem;
    }

    &__container {
        display: flex;
        gap: 1.6rem;
        align-items: center;
    }

    &__icon {
        @include mobile {
            display: block;
        }

        margin-left: auto;

        /* postcss-bem-linter: ignore */
        .dc-icon {
            pointer-events: none;
        }

        &:hover {
            /* postcss-bem-linter: ignore */
            .dc-icon {
                pointer-events: none;
            }
        }
    }

    &--selected {
        background: var(--state-active);
        color: var(--text-prominent);

        &:hover {
            background: var(--state-active);
        }

        .contract-type-item__title {
            color: var(--text-prominent);
            font-weight: bold;
        }

        .contract-type-item__icon {
            /* postcss-bem-linter: ignore */
            .dc-icon {
                pointer-events: none;
            }

            &:hover {
                /* postcss-bem-linter: ignore */
                .dc-icon {
                    pointer-events: none;
                }
            }
        }
    }

    &__icon-wrapper {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        /* postcss-bem-linter: ignore */
        .category-wrapper + .category-wrapper {
            margin-left: 0.4rem;
        }
    }
}
