/** @define contract-type-widget; weak */
.contract-type-widget {
    @include mobile {
        height: 4rem;
        margin-bottom: 0.8rem;

        &--multiplier {
            margin-bottom: 0.6rem;
        }

        &--vanilla {
            margin-right: 0.4rem;
        }

        .contract-type-widget__display {
            padding: 0.8rem;
        }
    }

    position: relative;
    z-index: 2;
    border: 1px solid var(--fill-normal);
    border-radius: 4px;
    background: var(--fill-normal);
    color: var(--text-prominent);
    transition: transform 0.3s, opacity 0.3s;

    &__display {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 1.6rem;
        cursor: pointer;

        /* postcss-bem-linter: ignore */
        span[name='contract_type'] {
            @include typeface(--paragraph-left-normal-black);

            vertical-align: middle;
            padding-left: 0.4em;
            color: var(--text-prominent);
            font-weight: bold;
        }

        &:hover,
        &:focus {
            border-color: var(--border-hover);
            outline: none;
        }

        &--clicked {
            border-color: var(--border-active);

            .contract-type-widget__select-arrow {
                transform: rotate(-90deg);
            }
        }
    }

    &__select-arrow {
        @extend %inline-icon;

        position: absolute;
        top: 37%;
        left: 0.6em;
        display: inline-block;
        vertical-align: baseline;
        color: var(--text-prominent);
        font-style: normal;
        line-height: 1;
        text-align: center;
        text-transform: none;
        pointer-events: none;
        transition: transform 0.25s ease;
        transform: rotate(90deg);
        transform-origin: 45% 45;
        text-rendering: optimizelegibility;
    }

    &__icon-wrapper {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding-left: 1.2em;

        /* postcss-bem-linter: ignore */
        .category-wrapper {
            margin: 0 0.2em;
            background-color: var(--general-section-1);

            /* postcss-bem-linter: ignore */
            .category-type {
                /* postcss-bem-linter: ignore */
                .transparent {
                    fill: var(--general-section-1);
                }

                /* postcss-bem-linter: ignore */
                .color1-fill {
                    fill: var(--brand-red-coral);
                }

                /* postcss-bem-linter: ignore */
                .color2-fill {
                    fill: var(--brand-secondary);
                }
            }
        }
    }

    &:hover {
        border-color: var(--border-hover);
    }

    &:active,
    &:focus,
    &--show {
        border-color: var(--border-active);
        border-radius: 4px;
        outline: none;
    }
}
