/** @define no-results-found; weak */
.no-results-found {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    max-width: 32rem;
    padding: 2.4rem 0.8rem;
    text-align: center;

    &__title {
        margin-bottom: 0.8rem;
        color: var(--text-general);
        font-weight: normal;
        font-style: normal;
        font-size: var(--text-size-xs);
        line-height: 1.43;
        letter-spacing: normal;
        text-align: center;
    }

    &__subtitle {
        margin: 0;
        letter-spacing: normal;
    }
}
