/** @define .market-symbol-icon; weak */
.market-symbol-icon {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    .color1-fill {
        fill: var(--brand-red-coral);
    }
    .color2-fill {
        fill: var(--brand-secondary);
    }
    &-name, &-category {
        display: flex;
        justify-content: flex-start;
        width: 50%;
        align-items: center;
        @include typeface(--paragraph-left-bold-active);
        color: var(--text-prominent);

        :first-child {
            margin-right: 4px;
        }
    }
}
