/** @define btn-purchase */
.btn-purchase {
    position: relative;
    background-color: var(--purchase-section-1);
    overflow: hidden;
    height: 56px;
    width: 100%;
    margin: 5px 0 0;
    padding: 0;
    text-align: left;
    transition: transform 0.25s ease;
    display: flex;
    z-index: 1;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    border: 0;
    border-radius: $BORDER_RADIUS;
    outline: 0;
    font-size: 1rem;

    &__text {
        @include typeface(--paragraph-left-bold-active);
    }
    &__info {
        color: var(--text-colored-background);
        text-align: left;
        position: relative;
        display: flex;
        flex-grow: 1;
        align-items: center;
        padding-left: 10px;
        height: 56px;
    }
    &__info--left {
        background-color: var(--purchase-main-1);
        width: 40%;
        transition: transform linear 0.25s;
        z-index: 2;

        .btn-purchase__text_wrapper {
            margin-left: 24px;
            position: absolute;
        }
        .btn-purchase__icon_wrapper {
            @extend %inline-icon.white;
            /* postcss-bem-linter: ignore */
            .color1-fill {
                fill: var(--text-colored-background);
            }
            /* postcss-bem-linter: ignore */
            .color2-fill {
                fill: var(--text-colored-background);
            }
        }
    }
    &__info--right {
        width: 45%;
        padding-right: 1rem;
        background-color: transparent;
        display: flex;
        justify-content: flex-end;

        .btn-purchase__text {
            opacity: 1;
            transition: 0.3s;
        }
    }
    &__effect-detail {
        position: absolute;
        background-color: var(--purchase-main-1);
        transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
        width: 116px;
        height: 100%;
        z-index: 1;
    }
    &__effect-detail--arrow {
        content: '';
        width: 55px;
        transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
        transform: rotate(45deg);
        height: 100%;
        background: var(--purchase-main-1);
        left: 80px;
        position: absolute;
        top: 0;
        bottom: 0;
        display: inline-block;
    }
    &[disabled]:hover {
        cursor: initial;
        transform: none;
    }
    &:hover:not(&--disabled):not([disabled]) {
        transform: translate3d(0, -4px, 0);
    }
    &__type-wrapper {
        display: flex;
        align-items: center;
        transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
        transform: none;
    }
    &__shadow-wrapper {
        position: relative;

        .btn-purchase__box-shadow {
            position: absolute;
            width: 100%;
            bottom: 14px;
            height: 50%;
            z-index: 0;
            opacity: 0.9;
            box-shadow: 0 16px 14px 0 var(--shadow-menu);
            transition: opacity 0.25s linear;
            pointer-events: none;
        }
        &--disabled {
            pointer-events: none;

            &:hover {
                transform: none;
            }
        }
    }
    &:active:not(&--disabled):not([disabled]), &:focus:not(&--disabled):not([disabled]) {
        transform: translate3d(0, -4px, 0);
    }
    &--swoosh {
        transform: translate3d(0, -4px, 0);

        .btn-purchase__type-wrapper {
            transform: translate3d(55px, 0, 0);
        }
        .btn-purchase__effect-detail {
            transform: scale3d(3, 1, 1);

            &--arrow {
                transform: translate3d(120px, 0, 0) rotate(45deg);
            }
        }
    }
    &--1 {
        background-color: var(--purchase-section-1);

        .btn-purchase__info--left {
            background-color: var(--purchase-main-1);
        }
        .btn-purchase__effect-detail {
            background: var(--purchase-main-1);

            &--arrow {
                background: var(--purchase-main-1);
            }
        }
    }
    &--2 {
        background-color: var(--purchase-section-2);

        .btn-purchase__info--left {
            background-color: var(--purchase-main-2);
        }
        .btn-purchase__effect-detail {
            background: var(--purchase-main-2);

            &--arrow {
                background: var(--purchase-main-2);
            }
        }
    }
    &--disabled, &[disabled] {
        cursor: default;
    }
    &--animated--slide {
        .btn-purchase__icon_wrapper, .btn-purchase__text_wrapper {
            @extend .loader;
        }
        .btn-purchase__icon, .btn-purchase__text {
            @extend .loader--loading;
        }
        .btn-purchase__icon_wrapper {
            width: 16px;
            height: 16px;
        }
        .btn-purchase__text_wrapper {
            width: 56px;
            height: 8px;

            .btn-purchase__text {
                display: block;
            }
        }
    }
    &--animated--fade &__info--right &__text {
        opacity: 0;
    }
    &__shadow-wrapper:hover:after {
        opacity: 0;
    }
}
