/** @define native-select */
.native-select {
    &__wrapper {
        position: relative;

        &:after {
            content: '\25bc';
            display: block;
            position: absolute;
            top: 50%;
            right: 8px;
            font-size: 12px;
            transform: translateY(-50%);
        }
    }
    &__select {
        width: 100%;
        height: 32px;
        margin: 8px 0;
        display: block;
        font-weight: 300;
        align-self: center;
        appearance: none;
        box-sizing: border-box;
        background: var(--general-main-1);

        &:hover {
            border-color: var(--general-hover);
        }
        &:active, &:focus {
            outline: 0;
            border-color: var(--general-active);
            box-shadow: 0 0 0 2px var(--shadow-menu);
        }
    }
}
