/** @define side-menu */
.side-menu {
    overflow: hidden;

    &__heading {
        padding: 20px 16px;
    }
    &__title {
        font-size: 1.6rem;
        font-weight: bold;
        margin-right: 8px;
    }
    &__header {
        &--active {
            @include themify($themes) {
                background-color: themed('tab_active_background_color') !important;
            }
            /* postcss-bem-linter: ignore */
            div {
                font-weight: bold;
            }
        }
    }
    &__icon {
        transform: rotate(360deg);
        margin-left: auto;
    }
    /* postcss-bem-linter: ignore */
    .vertical-tab__tab .vertical-tab__header {
        /* postcss-bem-linter: ignore */
        .vertical-tab__header__link {
            text-align: left;
            margin-left: 32px;
        }
        &--active {
            /* postcss-bem-linter: ignore */
            .vertical-tab__header__link {
                margin-left: 28px;
            }
        }
    }
}
