/** @define switch-button */
.switch-button {
    background: var(--general-section-1);
    border-radius: 32px;
    transition: all 0.4s ease;
    outline: 0;
    display: block;
    width: 32px;
    height: 16px;
    position: relative;
    cursor: pointer;

    &--toggled {
        background: var(--state-active);

        &:after {
            left: 17px !important;
        }
    }
    &:after {
        border-radius: 50%;
        background: var(--general-main-1);
        transition: all 0.2s ease;
        top: 1px;
        left: 1px;
        position: relative;
        display: block;
        content: '';
        width: 14px;
        height: 14px;
    }
    // these are styles that we don't want to clash with .switch-button--toggled:after
    &:not(.switch-button--toggled) {
        background: var(--state-normal);

        &:after {
            left: 1px;
        }
    }
}

/** @define toggle-chart-layout */
.toggle-chart-layout {
    border-radius: 4px;
    padding: 0.2em;
    transition: all 0.4s ease;
    outline: 0;
    display: block;
    width: 20px;
    height: 18px;
    position: relative;
    cursor: pointer;
    margin-right: 0.4em;
    border: 1px solid var(--text-general);

    &:after {
        background: var(--text-prominent);
        left: 0;
        position: relative;
        border-radius: 4px;
        display: block;
        content: '';
    }
    &--toggled:after {
        top: 0;
        height: 100%;
        width: 4px;
    }
    // these are styles that we don't want to clash with .toggle-chart-layout--toggled:after
    &:not(.toggle-chart-layout--toggled):after {
        top: 70%;
        width: 100%;
        height: 4px;
    }
}
