$BOTTOM_SPACING_REQUIRED: 31px; // Spacing between end of the container and Footer (including shadow)
$MIN_HEIGHT: calc(100vh - #{$HEADER_HEIGHT + $FOOTER_HEIGHT} - #{$BOTTOM_SPACING_REQUIRED});

.vertical-tab {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: $BORDER_RADIUS;
    background-color: var(--general-section-1);
    height: 100%;

    &__content-container {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        flex-grow: 1;
    }
    &--full-screen {
        min-height: $MIN_HEIGHT;

        // .vertical-tab__tab {
        //     min-width: 15%;
        // }
    }
    &:not(.vertical-tab--full-screen) {
        // height: 600px;

        .vertical-tab__content {
            @include toEm(padding, 24px);
        }
    }
    &__action-bar {
        width: 100%;
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 16px;

        &--icon {
            @include colorIcon(var(--text-general));
        }
        &-wrapper {
            cursor: pointer;
            padding: 4px 4px 2px;
            border-radius: $BORDER_RADIUS;
            margin-left: auto;

            &:hover {
                background: var(--general-hover);
            }
        }
    }
    &__tab {
        display: flex;
        min-width: 28%;
        height: 100%;
        flex-direction: column;
        border-radius: $BORDER_RADIUS 0 0 $BORDER_RADIUS;
        background-color: var(--general-section-1);
    }
    &__header-title {
        @include typeface(--title-center-bold-black, none);
        line-height: 1.65;
        color: var(--text-general);
        padding: 16px;
        display: flex;
        align-items: center;
        transition: background-color 0.1s ease-in;
        text-decoration: none;
    }
    &__header {
        @include typeface(--paragraph-center-bold-black, none);
        line-height: 1.5;
        color: var(--text-general);
        padding: 10px 12px 10px 16px;
        cursor: pointer;
        display: flex;
        align-items: center;
        transition: background-color 0.1s ease-in;
        text-decoration: none;

        &:hover:not(.vertical-tab__header--active) {
            background-color: var(--state-hover);
        }
        &--active {
            @include typeface(--paragraph-left-bold-active, none);
            color: var(--text-prominent);
            background-color: var(--state-normal);
            border-left: 4px solid var(--brand-red-coral);
        }
        &__link {
            font-weight: normal;
        }
        &--active &__link {
            font-weight: bold;
        }
        &__icon {
            margin-right: 16px;
            @include colorIcon(var(--text-general));

            &--active {
                // make up for the border being 4px
                margin-left: -4px;
            }
        }
    }
    &__content {
        width: 100%;
        height: 100%;
        min-height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border-radius: 0 $BORDER_RADIUS $BORDER_RADIUS 0;
        position: relative;
        background-color: var(--general-main-1);

        &.vertical-tab:not(.vertical-tab--full-screen) {
            @include toEm(padding, 24px);
            height: 100%;
        }
    }
}
