@import '../base/index';

/** @define work-in-progress */
.work-in-progress {
    height: 100%;
    justify-content: center;
    display: flex;
    background: var(--general-main-2);

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 1.6em;
    }
    &__header {
        @include typeface(--large-center-bold-black, none);
        margin: 0.8em 0 0.4em;
        color: var(--text-prominent);
    }
    &__text {
        @include typeface(--title-center-normal-black, none);
        margin: 0 1.6em 2.4em;
        line-height: 1.3;
        width: 200px;
        color: var(--text-general);
    }
    &__btn {
        height: 42px;
        cursor: pointer;
        background: var(--button-primary-default);

        &:hover {
            background: var(--button-primary-hover);
        }
        &--span {
            font-weight: normal;
            font-size: 1.6em;
            text-transform: none;
            color: var(--text-colored-background);
        }
    }
}
