$HANDLEBAR_HEIGHT: var(--core-size-1000);
$HEADER_TITLE_HEIGHT: var(--core-size-3200);
$FOOTER_BUTTON_HEIGHT: var(--core-size-4000);

.take-profit {
    &__wrapper {
        height: calc(400px - $HANDLEBAR_HEIGHT - $HEADER_TITLE_HEIGHT - $FOOTER_BUTTON_HEIGHT);
        padding-block-start: 0;

        &--definition {
            height: calc(400px - $HANDLEBAR_HEIGHT - $HEADER_TITLE_HEIGHT);
            padding-block-start: 0;
        }
    }

    &__warning {
        margin-block-start: var(--core-spacing-800);
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: var(--core-spacing-400);
    }
}

.carousel-controls {
    .quill-action-sheet--title--icon {
        z-index: 2;
    }
}
