.account-type-dropdown {
    &--parent {
        padding: 0;
        border: none;
    }
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
    text-transform: capitalize;
    border: 2px solid;

    &:focus,
    &:hover {
        outline: none;
    }

    &--real,
    &--real:focus,
    &--real:hover {
        border: 2px solid var(--status-info);
        color: var(--status-info);
    }

    &--demo,
    &--demo:focus,
    &--demo:hover {
        border: 2px solid var(--status-success);
        color: var(--status-success);
    }
    &__icon {
        &--real {
            --fill-color1: var(--status-info) !important;
        }
        &--demo {
            --fill-color1: var(--status-success) !important;
        }
    }
}
.dc-dropdown {
    &-container {
        min-width: 8.2rem;
        width: 8.2rem;
        --fill-color1: currentColor;
    }
    &__display {
        height: 2.4em;
        &-text {
            color: currentColor;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: left;
        }
    }
    &__select-arrow {
        &--up {
            transform: none;
        }
    }
}
