.asset-summary {
    display: flex;
    flex-direction: column;
    margin-left: auto;

    @include new-not-desktop {
        align-items: center;
    }

    &__container.content-loader {
        width: 12rem;
        cursor: not-allowed;
        margin-left: auto;

        @include new-not-desktop {
            margin-inline: auto;
            width: 10rem;
        }
    }

    &--total {
        display: flex;
        border-bottom: 4px dotted var(--checkbox-disabled-grey);

        @include new-not-desktop {
            margin-top: 3rem;
        }
    }
}
