/** @define dc-drawer */
.dc-drawer {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    right: initial;
    will-change: transform;
    overflow: hidden;
    box-sizing: border-box;
    width: 366px;
    height: calc(100% - 140px);
    transition: transform 0.25s ease;
    background: $COLOR_WHITE;
    display: block;

    &__header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $COLOR_LIGHT_BLACK_4;
    }
    &__footer {
        display: flex;
        align-items: center;
        border-top: 1px solid $COLOR_LIGHT_BLACK_4;
        height: 4.4em;
    }
    &--left {
        right: auto;
        left: 0;
        transform: translateX(-100%);

        .dc-drawer__header {
            text-align: left;
        }
        .dc-drawer__footer {
            left: 0;
            bottom: 0;
            position: fixed;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &--right {
        right: 0;
        left: auto;
        transform: translateX(100%);

        .dc-drawer__header {
            text-align: right;
        }
        .dc-drawer__footer {
            left: 0;
            bottom: 0;
            position: fixed;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__content {
        max-height: 0;
        transition: all 0.25s;
        transform: scale(1, 0);
        opacity: 0;
        transform-origin: top;

        &--show {
            max-height: 100%;
            opacity: 1;
            z-index: 1;
            transform: scale(1, 1);
        }
    }
    &--enter, &--exit {
        .dc-drawer {
            &--right {
                transform: translateX(100%);
            }
            &--left {
                transform: translateX(-100%);
            }
        }
    }
    &--enter-done {
        .dc-drawer {
            &--left, &--right {
                transform: translateX(0);
            }
        }
    }
}
