.p2p-v2-my-profile-ad-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2.4rem;
    width: 67vw;

    &__header {
        font-size: 1.6rem;
        font-weight: 800;
    }

    @include mobile {
        width: 100vw;
        padding: 2rem;
    }

    &__border {
        border-top: 2px solid #f2f3f4;
    }
}
