.mt5-migration-modal {
    &__container {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        margin: 1.6rem 2.4rem;

        @include mobile {
            margin: 1.6rem;
            justify-content: flex-start;
        }
    }
    &__error {
        margin: 3.2rem 2.4rem 0;
        background-color: var(--button-primary-light-default);
        border-radius: $BORDER-RADIUS;
        &-header {
            display: flex;
            gap: 0.8rem;
            padding: 0.8rem;
        }
        @include mobile {
            margin: 1.6rem;
            &-dialog {
                padding: 1.6rem;
                .dc-dialog__dialog {
                    padding: 1.6rem;
                }
            }
        }
    }
    &__mobile-header {
        display: flex;
        align-items: center;
        margin: 1.6rem;
        text-align: unset;
    }

    &__migration_content {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1.6rem;
        &-items {
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
            justify-items: center;
            align-items: center;

            @include mobile {
                flex-direction: row;
            }
            &__list {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1.6rem;
                @include mobile {
                    flex-direction: column;
                    gap: 1.6rem;
                }
                &--container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 1.6rem 0;
                    background-color: $color-grey-2;
                    border-radius: $BORDER-RADIUS * 2;
                    min-width: 18.6rem;

                    &__icons {
                        display: flex;
                    }
                }
            }
        }
        @include mobile {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__migration_infobox {
        display: flex;
        justify-content: center;
        .dc-hint-box {
            align-items: flex-start;
        }
    }
    &__password {
        &-header-container {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
        }
        &-input-container {
            width: 100%;
        }
        &-forgot-container {
            display: flex;
            width: 100%;
            justify-content: center;
            @include mobile {
                justify-content: flex-end;
            }
        }

        &-hint {
            &-items {
                display: flex;
                flex-direction: column;
                padding: 1.2rem 2.4rem;
                list-style-type: disc;
                gap: 1.2rem;
                &:first-child {
                    margin-bottom: 0.8rem;
                }
            }
        }
    }
    &__loading {
        height: 24rem;
    }
}

.dc-modal__container_mt5-migration-modal {
    .dc-modal-header {
        border-bottom: 0.2rem solid var(--general-section-1);
    }
    .dc-modal-footer {
        padding: 2.4rem;
    }
}

.mt5-migration-modal__mobile-container {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    .dc-modal-footer {
        position: fixed;
        bottom: 4rem;
        width: 100%;
        background: var(--general-main-1);

        .dc-btn {
            width: 100%;
        }
    }
    .dc-form-submit-button--absolute {
        position: absolute;
    }
}

.dc-mobile-dialog__mt5-migration-modal {
    overflow-x: hidden;
    overflow-y: auto;
    .dc-modal-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}
