.landscape-blocker {
    /* enable temporary landscape blocker UI in landscape */
    display: flex;
    position: fixed;
    inset: 0;
    overflow: hidden;
    background: var(--general-main-1);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--text-prominent);
    font-size: 1.6rem;
    z-index: 9999;
    font-weight: bold;
    gap: 2.4rem;

    &__icon {
        width: 8rem;
        height: 6.2rem;
    }
    &__message {
        padding: 1.6rem 11rem;
        &--landscape {
            @media screen and (orientation: portrait) {
                display: none;
            }
        }

        &--portrait {
            text-align: center;
            line-height: var(--text-lh-m);
            @media screen and (orientation: landscape) {
                display: none;
            }
        }
    }

    @include desktop-screen {
        display: none;
    }

    @include mobile-screen {
        @media screen and (max-aspect-ratio: 13/9) {
            display: none;
        }
    }
}
