.my-profile-form {
    @include mobile {
        overflow: hidden;
    }

    .dc-input {
        margin-bottom: unset;

        &__wrapper {
            margin-bottom: unset;
        }
    }

    > *:first-child {
        margin-bottom: 1.6rem;
    }

    &__textarea {
        height: 9.8rem;
        margin-bottom: 1rem;

        .dc-input {
            &__container {
                height: 9.6rem;
            }

            &__field {
                height: 100% !important;
            }
        }

        @include mobile {
            margin: 0 1vw;
            width: 96vw;

            .dc-input__label {
                padding: 0 0.8rem !important;
            }
        }
    }

    &__form {
        @include mobile {
            width: 96vw;
        }

        > :nth-child(2) {
            @include mobile {
                padding-bottom: 7.4rem;
            }
        }

        .dc-input {
            &__wrapper {
                margin-top: 2.5rem;
            }
            &__footer {
                margin-bottom: 2rem;
            }
        }
    }

    &__footer {
        border-top: 2px solid var(--general-section-1);
        background-color: var(--general-main-1);
        text-align: right;

        @include mobile {
            width: 100vw;
            padding: 1.6rem;
            position: fixed;
            bottom: 0;
            left: 0;
        }

        @include tablet-up {
            bottom: 36px;
            padding: 1.6rem 2.4rem;
        }

        &-button {
            @include mobile {
                width: 93vw;
            }
        }
    }
}
