/** @define positions-modal-card; weak */

.positions-modal-card {
    $positions-modal-card: &;

    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0.8rem;
    color: var(--text-general);
    text-decoration: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;

    &__result {
        &--enter,
        &--exit {
            opacity: 0;
        }

        &--enter-done {
            opacity: 1;
        }
    }

    &__caption {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-weight: bold;
        font-size: 1.6em;
        cursor: pointer;
        transition: opacity 0.25s ease;

        &--won {
            color: var(--text-profit-success);
        }

        &--lost {
            color: var(--text-loss-danger);
        }

        &-wrapper {
            grid-row: 1 / -1;
            align-self: center;
            justify-self: center;
            width: 100%;
            text-decoration: none;
            cursor: pointer;
        }
    }

    &__icon {
        margin-left: 4px;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0.8rem;
        border-top: 1px solid var(--general-section-1);
        font-size: 1.4rem;
    }

    &__wrapper {
        position: relative;
        margin: 0.8rem;
        border: 1px solid var(--border-disabled);
        border-radius: $BORDER_RADIUS;
        background: var(--general-main-1);
        transition: transform 0.25s ease, opacity 0.25s linear;
    }

    &__grid {
        display: grid;

        &-header {
            grid-template-columns: 1fr 1fr 1fr;
            margin-bottom: 0.8rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid var(--general-section-1);
        }

        &-body {
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: 2fr 1fr;
        }

        &-underlying-trade {
            grid-template-columns: 1fr 1fr 1fr;
        }

        &-profit-payout {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            padding: 8px 0;
            border-radius: $BORDER_RADIUS;
        }

        &-price-payout {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-row: 2 / 3;
            grid-column: 1 / 2;
        }
    }

    &__progress {
        grid-row: 1 / 3;
        grid-column: 2 / 3;
        align-self: center;
    }

    &__sell-button {
        align-self: center;
        justify-self: end;

        .dc-btn--sell {
            height: 3.2rem !important;
        }
    }

    &__purchase,
    &__payout {
        &-label {
            max-width: 90px;
            text-transform: none;
            white-space: nowrap;
        }

        &-value {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 4px 0 8px;
        }

        &-price {
            display: flex;
            flex-direction: column;
        }
    }

    &__type {
        display: flex;
        justify-content: flex-start;
        font-weight: bold;
        font-size: 1.2rem;

        /* postcss-bem-linter: ignore */
        .category-type {
            .color1-fill {
                fill: var(--brand-red-coral);
            }

            .color2-fill {
                fill: var(--brand-secondary);
            }
        }
    }

    &__symbol {
        margin-left: 0.5rem;

        /* iPhone SE screen height fixes due to UI space restrictions */
        @media only screen and (max-height: 480px) {
            font-size: 0.9rem;
        }
    }

    &__indicative {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: var(--text-general);
        font-weight: bold;
        font-size: 1.2rem;

        &-label {
            max-width: 90px;
            margin-bottom: 4px;
            color: var(--text-general);
            font-weight: normal;
            font-size: 1rem;
            white-space: nowrap;
        }

        &--movement {
            width: 16px;
            height: 16px;
            margin-left: 2px;

            &-complete,
            &-complete:after {
                display: none;
            }

            &:after {
                content: '';
                width: 16px;
            }
        }
    }

    &__remaining-time {
        color: var(--text-general);
        font-size: 1.2em;
    }

    &__timer {
        margin: 0.2rem auto;
    }

    &__profit-loss {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-weight: bold;
        font-size: 1.2rem;

        &-label {
            max-width: 90px;
            margin-bottom: 4px;
            color: var(--text-general);
            font-weight: normal;
            font-size: 1rem;
            white-space: normal;

            /* iPhone SE screen height fixes due to UI space restrictions */
            @media only screen and (max-height: 480px) {
                font-size: 0.8rem;
            }
        }

        &--is-crypto {
            margin-left: -6px;
        }

        &--negative {
            color: var(--text-loss-danger);

            &:before {
                content: '-';
                color: inherit;
            }
        }

        &--positive {
            color: var(--text-profit-success);

            &:before {
                content: '+';
                color: inherit;
            }
        }
    }

    &__underlying-name {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-weight: bold;
        font-size: 1.2em;
    }

    &--multiplier {
        .dc-contract-card {
            &__grid-items {
                grid-template-columns: 1fr 1fr 1fr;
                padding: 1.2rem 0;
            }

            &__deal-cancel-fee,
            &__buy-price,
            &__stop-loss {
                order: 1;
            }
        }

        .dc-contract-card__sell-button {
            border-top: 0;
        }
    }

    .dc-contract-card .dc-contract-card__grid {
        grid-template-columns: 1.5fr 1fr;
    }
}

/** @define dc-remaining-time; weak */
.dc-remaining-time {
    @include mobile {
        font-size: 0.9rem;
    }

    display: inline;
}
