.manual-poi {
    .dc-timeline {
        &__container {
            flex: 1;
            max-width: 63.4rem;

            @at-root .manual-poi--mobile .dc-timeline__container {
                max-width: none;
            }
        }
        &__title {
            font-size: var(--text-size-s);
            line-height: 2.4rem;
            margin: -4px 0 2.4rem;
        }
    }
}
