.account-type-wrapper {
    display: flex;
}

.account-type--custom-exit {
    display: none;
}

.account-type-card {
    border: solid 1px var(--border-normal);
    border-radius: 0.8rem;
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    flex-direction: column;
    min-height: 24rem;
    width: 27.6em;
    position: relative;
    padding: 1.6rem;
    @include mobile {
        margin-bottom: 2rem;
    }

    &:hover {
        box-shadow: 0 2px 8px 0 var(--shadow-menu);
    }

    &--disabled {
        border: solid 1px var(--border-disabled);
    }

    @include desktop {
        height: auto;
        margin: 0 0.8rem;
    }

    &__wrapper {
        display: flex;
        height: 100%;
        justify-content: center;

        @include mobile {
            flex-direction: column;
            align-items: center;
        }
    }
    &--selected {
        border: solid 1px $color-blue;
        border-radius: $BORDER_RADIUS;
    }
    &__image,
    &__header {
        display: flex;
        justify-content: center;
    }

    &__description {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
}
