.wallets-currency {
    &__title {
        color: var(--system-light-1-prominent-text, #333);

        /* desktop/subtitle/Sub 2 - bold */
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px; /* 150% */
    }
}
